.sysErrorDiv {
  margin: 30px auto;
  width: 875px;

  .leftSide {
    float: left;
    width: 385px;
  }

  .leftSide .msg1 {
    font-size: 36px;
    line-height: 1.2em;
    color: #209cc2;
    margin-bottom: 15px;
  }

  .rightSide {
    float: left;
    width: 490px;
    padding-left: 20px;

    .msg1 {
      font-weight: bold;
      font-size: 300px;
      line-height: 1em;
      color: #eeeff0;
    }

    .msg2 {
      font-size: 21px;
      line-height: 1.1em;
      color: #009444;
      position: relative;
      left: 70px;
      top: -80px;
    }

    .msg3,
    .msg4 {
      font-size: 21px;
      line-height: 1.4em;
      color: #4e8fc2;
      margin-left: 65px;

      a {
        color: #4e8fc2;
        text-decoration: underline;
      }
    }

    .msg4 {
      margin-top: 20px;
    }
  }

  &::after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
}
