// sass-lint:disable-all

@charset "UTF-8";

@font-face {
  font-family: "pi";
  src:url("../fonts/pi.eot");
  src:url("../fonts/pi.eot?#iefix") format("embedded-opentype"),
    url("../fonts/pi.woff") format("woff"),
    url("../fonts/pi.ttf") format("truetype"),
    url("../fonts/pi.svg#pi") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-pifont]:before {
  font-family: "pi" !important;
  content: attr(data-pifont);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="pifont-"]:before,
[class*=" pifont-"]:before {
  font-family: "pi" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pifont-pi-0:before {
  content: "a";
}
.pifont-pi-1:before {
  content: "b";
}
.pifont-pi-2:before {
  content: "c";
}
.pifont-pi-3:before {
  content: "d";
}
.pifont-pi-4:before {
  content: "e";
}
.pifont-pi-5:before {
  content: "f";
}
.pifont-pi-6:before {
  content: "g";
}
.pifont-pi-7:before {
  content: "h";
}
.pifont-pi-8:before {
  content: "i";
}
.pifont-pi-9:before {
  content: "j";
}
.pifont-pi-10:before {
  content: "k";
}
.pifont-pi-11:before {
  content: "l";
}
.pifont-pi-12:before {
  content: "m";
}
.pifont-pi-13:before {
  content: "n";
}
.pifont-pi-14:before {
  content: "o";
}
.pifont-pi-15:before {
  content: "p";
}
.pifont-pi-16:before {
  content: "q";
}
.pifont-pi-17:before {
  content: "r";
}
.pifont-pi-18:before {
  content: "s";
}
.pifont-pi-19:before {
  content: "t";
}
.pifont-pi-20:before {
  content: "u";
}
.pifont-pi-21:before {
  content: "v";
}
.pifont-pi-22:before {
  content: "w";
}
.pifont-pi-23:before {
  content: "x";
}
.pifont-pi-24:before {
  content: "y";
}
.pifont-pi-25:before {
  content: "z";
}
.pifont-pi-26:before {
  content: "A";
}
.pifont-pi-27:before {
  content: "B";
}
.pifont-pi-28:before {
  content: "C";
}
.pifont-pi-29:before {
  content: "D";
}
.pifont-pi-30:before {
  content: "E";
}
.pifont-pi-31:before {
  content: "F";
}
.pifont-pi-32:before {
  content: "G";
}
.pifont-pi-33:before {
  content: "H";
}
.pifont-pi-34:before {
  content: "I";
}
.pifont-pi-35:before {
  content: "J";
}
.pifont-pi-36:before {
  content: "K";
}
.pifont-pi-37:before {
  content: "L";
}
.pifont-pi-38:before {
  content: "M";
}
.pifont-pi-39:before {
  content: "N";
}
.pifont-pi-40:before {
  content: "O";
}
.pifont-pi-41:before {
  content: "P";
}
.pifont-pi-42:before {
  content: "Q";
}
.pifont-pi-43:before {
  content: "R";
}
.pifont-pi-44:before {
  content: "S";
}
.pifont-pi-45:before {
  content: "T";
}
.pifont-pi-46:before {
  content: "U";
}
.pifont-pi-47:before {
  content: "V";
}
.pifont-pi-48:before {
  content: "W";
}
.pifont-pi-49:before {
  content: "X";
}
.pifont-pi-50:before {
  content: "Y";
}
.pifont-pi-51:before {
  content: "Z";
}
.pifont-pi-52:before {
  content: "0";
}
.pifont-pi-53:before {
  content: "1";
}
.pifont-pi-54:before {
  content: "2";
}
.pifont-pi-55:before {
  content: "3";
}
.pifont-pi-56:before {
  content: "4";
}
.pifont-pi-57:before {
  content: "5";
}
.pifont-pi-58:before {
  content: "6";
}
.pifont-pi-59:before {
  content: "7";
}
.pifont-pi-60:before {
  content: "8";
}
.pifont-pi-61:before {
  content: "9";
}
.pifont-pi-62:before {
  content: "!";
}
.pifont-pi-63:before {
  content: "\"";
}
.pifont-pi-64:before {
  content: "#";
}
.pifont-pi-65:before {
  content: "$";
}
.pifont-pi-66:before {
  content: "%";
}
.pifont-pi-67:before {
  content: "&";
}
.pifont-pi-68:before {
  content: "'";
}
.pifont-pi-69:before {
  content: "(";
}
.pifont-pi-70:before {
  content: ")";
}
.pifont-pi-71:before {
  content: "*";
}
.pifont-pi-72:before {
  content: "+";
}
