// sass-lint:disable-all

@import "stylesDefs.scss";

/*
 *
 * Revup Overlay
 *
 */
.revupOverlay {
    background-color: #fff; // $blackText;
    opacity: .6; // .3;
    position: fixed;
    top: 0;
    left: 0;
}

.revupDynamicLst {
    .revupBtn {
        line-height: 1.0;
        padding: 1px 3px;
    }

    .headerLine {
        background-color: $grayBackgroundColor;
        height: 20px;

        &:after {
            content: '.';
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }

        .title {
            float: left;
            display: block;
            font-weight: 600;
            font-size: 12px;
            margin-left: 10px;
            position: relative;
            top: 2px;
        }

        .addBtn {
            float: right;
            margin-right: 10px;
            color: $blueText;
            cursor: pointer;
            font-size: 12px;
            position: relative;
            top: 2px;
        }
    }

    .dataSect {
        //border: 1px solid #ccc;
        padding: 5px 0 0px 30px;
        // background-color: $whiteText;

        .dataEntryDiv {
            &:after {
                content: '.';
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }
            &:not(:first-child) {
                margin-top: 1px;
            }
            &:not(:last-of-type) {
                margin-bottom: 5px;
            }

            .textFieldFrame {
                height: 20px;
                border: 1px solid $secondary-gray-11;
                border-radius: 2px;
                padding: 0 3px;
                background-color: $whiteText;
            }

            .textField {
                width: calc(100% - 18px);
                border-radius: 0 !important;
                border: none !important;
                float: left;
                height: initial !important;
                padding: 0 !important;
                font-size: 13px !important;
            }

            .deleteBtn {
                position: relative;
                //top: 1px;
                float: right;
                color: $lightTextColor;
                cursor: pointer;
                height: 15px;

                display: none;
            }
        }
    }

    .dataSectCount {
        .count {
            font-size: 10px;
            color: #999;
            margin-left: 30px;
        }
    }
}

/*
 *
 * revupUpDown widget
 *
 */
.revupUpDown {
    height: 20px;
    border: 1px solid $prospectEntryBottomBorderColor;
    border-radius: 4px;
    background-color: $whiteText;
    box-sizing: border-box;

    .valDiv {
        width: 30px;
        font-size: 12px;
        float: left;
        text-align: center;
        padding-top: 1px;

        width: calc(100% - 12px);
    }

    .incrementerDiv {
        float: left;
        cursor: pointer;
        position: relative;
        z-index: 1000 !important;

        .upDiv, .downDiv {
            width: 12px;
            height: 9px;

            &.disable {
                opacity: 0.5;
                cursor: default;
            }

            &.over {
                background-color: $prospectEntryBottomBorderColor;
            }

            .arrow {
                font-size: 8px;
                line-height: 8px;
                margin-left: 2px;
            }
        }

        .upDiv {
        }

        .downDiv {
            margin-bottom: 1px;
        }
    }
}

/*
 *
 * revupDropDown widget
 *
 */
.revupDropDown {
    height: 22px;
    outline: 0;
    cursor: pointer;

    &:active {
        // background-color: green;
    }

    &:focus {
        // background-color: red;
    }

    &.disabled {
        opacity: 0.4;
    }

    &.hasFocus {
        .cntlBody {
            .valDiv {
                border-color: $primary-gray-4;
                color: $primary-gray-6 !important;
            }

            .arrowDiv {
              background-color: $primary-gray-4;
            }
        }
    }

    .cntlBody {
        height: 100%;
        background-color: transparent;
        box-sizing: border-box;

        .valDiv {
            //width: 30px;
            font-size: 13px;
            float: left;
            //text-align: center;

            width: calc(100% - 24px);
            padding: 2px;
            margin-right: 5px;
            border: 1px solid $secondary-gray-11;
            background-color: $whiteBackground;
            height: 100%;
            cursor: pointer;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            color: $primary-gray-6;

            &[index="-1"] {
                color: $placeholderColor;
            }


            .defValue {
                font-style: italic;
                color: $lightTextColor;
            }
        }

        .arrowDiv {
            line-height: 1;
            float: left;
            position: relative;
            font-size: 13px;
            border: 1px solid $primary-gray-3;
            height: 100%;
            padding: 4px 2px 2px 2px;
            background-color: $primary-gray-3;
            color: $whiteText;
        }

        &:after {
            @include clearFloat;
        }
    }

    .dropDownLst {
        display: none;
        position: relative;
        border: 1px solid $primary-gray-4;
        //border-top: none;
        background-color: $whiteText;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        z-index: 11;
        font-size: 13px;
        width: 100%;//calc(100% + 2px);
        color: $primary-gray-6;

        .dropDownAddNewValue {
            width: calc(100% - 8px) !important;
            margin: 4px;
            outline: 0;
        }

        .scrollSection {
            height: 100px;
            overflow-y: auto;
            background-color: $whiteText;

            .lstEntry {
                padding: 3px 1px 2px 3px;
                min-height: 22px;
                width: calc(100% - 17px);
                overflow-x: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                &.selected {
                    background-color: $grayBackgroundColor;
                }

                &.sectionIndent {
                    padding-left: 13px;
                }

                &.sectionHeader {
                    font-weight: $semiBold;
                    cursor: default;

                    &:hover {
                        text-decoration: none;
                        background-color: transparent;
                    }
                }

                &:hover {
                    text-decoration: underline;
                    background-color: $secondary-blue-2;
                }

                .defValue {
                    font-style: italic;
                    color: $lightTextColor;
                }
            }
        }
    }
}


/*
 *
 * revupSearchBox
 *
 */
.revupSearchBox {
    line-height: 1.1;
    font-size: 14px;
    height: 20px;
    border: 1px solid $lightGrayBorder;
    border-radius: 10px;
    background-color: $whiteText;
    padding: 0 5px;
    outline: 0;

    &.disabled {
        opacity: 0.4;
    }

    .searchIcon {
        float: left;
        margin-top: 2px;
        cursor: pointer;
        color: $disabledText;
    }

    .searchText {
        float: left;

        border: none;
        width: calc(100% - 30px);
        padding: 0 5px;
        outline: 0;
        line-height: normal;
    }

    .clearIcon {
        float: left;
        margin-top: 4px;
        cursor: pointer;
        color: $disabledText;
        font-size: 10px;
    }

    &:after {
        @include clearFloat;
    }
}


/*
 *
 * Reveup Comfirmation box
 *
 */
.revupConfirmBox, .revupMessageBox {
    position: absolute;
    //border: 1px solid black;
    border-radius: 5px;
    //background-color: white;
    width: 350px;
    top: 150px;
    left: 0;

    background : -webkit-linear-gradient(90deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0.0057,rgba(242, 242, 242, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
    background : linear-gradient(0deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%);
    border-style : Solid;
    border-color : $primary-gray-4;
    border-width : 1px;
    box-shadow : 6px 6px 4px rgba(0, 0, 0, 0.2);

    .headerDiv {
        //background-color: $separatorBorder;
        border-color: transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .headerText {
            padding: 5px 10px;
            font-weight: $bold;
            font-size: 14px;
        }
    }

    .msgBodyDiv {
        min-height: 80px;

        .msgBody {
            padding: 0 20px 10px 20px;
            font-size: 14px;
            word-wrap: break-word;
        }
    }

    .btnDiv {
        height: 50px;

        .btnContainer {
            float: right;
            padding: 5px 20px 10px;

            .cancelBtn {
                font-size: 14px;
                font-weight: 600;
                float: left;
                color: $blueText;
                margin-top: 7px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .okBtn {
                float: left;
                margin-left: 15px;
                padding: 5px 20px;
            }
        }
    }
}

/*
 *
 * Reveup Dialog box
 *
 */
.revupConfirmBox, .revupMessageBox, .revupDialogBox {
    position: absolute;
    border-radius: 5px;
    width: 350px;
    top: 150px;
    left: 0;

    background: rgb(242, 242, 242);
    background : -ms-linear-gradient(90deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0.0057,rgba(242, 242, 242, 1) ),color-stop(1,rgba(255, 255, 255, 1) ));
    background : linear-gradient(0deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%);
    border-style : Solid;
    border-color : $primary-gray-4;
    border-width : 1px;
    box-shadow : 6px 6px 4px rgba(0, 0, 0, 0.2);

    .waitingOverlayDiv {
        position: absolute;
        background-color: rgba(0, 0, 0, .4);

        height: 100%;
        width: 100%;

        .loadingDiv {
            height: 100%;
            width: 100%;

            margin: 0;

            .loading {
                margin: 0;
                width: 75px;
                height: 75px;
                margin: 0;  // reset
                margin-left: -37px;
                margin-top: -37px;
                left: 50%;
                top: 50%;
            }
        }
    }

    .headerDiv {
        background-color: $separatorBorder;
        border-color: transparent;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .headerText {
            padding: 5px 10px;
            font-weight: $bold;
            font-size: 14px;
        }
    }

    .msgBodyDiv {
        min-height: 80px;

        .msgBody {
            padding: 10px 20px;
            font-size: 14px;
            word-wrap: break-word;

            overflow-y: auto;

            .errorMsgDiv {
                background : -webkit-linear-gradient(90deg, rgba(201, 68, 68, 1) 0%, rgba(232, 78, 78, 1) 100%);
                background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(201, 68, 68, 1) ),color-stop(1,rgba(232, 78, 78, 1) ));
                background : linear-gradient(0deg, rgba(201, 68, 68, 1) 0%, rgba(232, 78, 78, 1) 100%);

                .msgIconDiv {
                    background: $errorText2;
                    border-color: $errorText2
                }
            }

            .warningMsgDiv {
                // background : -webkit-linear-gradient(90deg, rgba(230, 165, 0, 1) 0%, rgba(240, 183, 41, 1) 100%);
                // background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(230, 165, 0, 1) ),color-stop(1,rgba(240, 183, 41, 1) ));
                // background : linear-gradient(0deg, rgba(230, 165, 0, 1) 0%, rgba(240, 183, 41, 1) 100%);
                background-color: #ffeed4 !important;
                border: 1px solid #fbb040 !important;
                color: #c98622 !important;

                .msgIconDiv {
                    background: #F5C856;
                    border-color: #F5CA5D;
                }
            }

            .errorMsgDiv, .warningMsgDiv {
                margin-bottom: 10px;

                border: 1px solid transparent;
                border-radius: 3px;

                padding: 10px;
                min-height: 20px;
                height: auto;

                color: $whiteText;
                line-height: 1.2;
                font-size: 14px;
                font-weight: $semiBold;

                .msgBodyScroll {
                    overflow: hidden;
                }

                .msgIconDiv {
                    float: left;
                    width: 22px;
                    height: 22px;
                    border: 1px solid $errorText2;
                    border-radius: 2px;

                    .icon {
                        position: relative;
                        top: 2px;
                        left: 1px;
                        font-size: 18px;
                        font-weight: normal;
                    }
                }

                .textDiv {
                    float: left;
                    margin-left: 10px;

                    .msgText:not(:first-child) {
                        margin-top: 5px;
                    }
                }

                :after {
                    @include clearFloat;
                }
            }
        }
    }

    .btnDiv {
        height: 50px;

        button {
            outline: 0;
        }

        .btnContainerLeft {
            float: left;
            padding: 5px 20px 10px;

            .helpIcon {
                width: 30px;
                height: 30px;
                margin-top: 2px;
            }

            .helpBtn {
                cursor: pointer;
            }
        }

        .btnContainerRight {
            float: right;
            padding: 5px 20px 10px;

            .cancelBtn, .continueBtn, .midAnchorBtn {
                font-size: 14px;
                font-weight: 600;
                float: left;
                color: $blueText;
                margin-top: 7px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &.disabled {
                    color: $disabledText !important;
                    cursor: default;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .continueBtn, .midAnchorBtn {
                margin-left: 15px;
            }

            .okBtn, .midBtn {
                float: left;
                margin-left: 15px;
                padding: 5px 20px;
            }
        }

        &:after {
            @include clearFloat;
        }
    }

    &.errorMessage {
        .headerText {
            color: $redText;
        }
    }

    .revupDialogErrorIn {
        width: 100%;
        height: 300px;

        .msg {
            margin: 50px 20px 0;

            font-size: 18px;
            font-weight: $bold;
            text-align: center;
        }
    }
}

/*
 *
 * Pagination Widget
 *
 */
 .searchForPagination .pagination{
    width: 100%;
 }

 .revupPagination{
    background-color: transparent !important;
    border: none !important;
 }

.revupPaginationOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
}

.revupPagination {
    width: 100%;
    text-align: center;
    margin-top: 10px;
    height: 32px;
    background-color: $secondary-gray-12;
    padding-top: 5px;
    border: 1px solid $separatorBorder;
    border-radius: 2px;

    &.disabled {
        opacity: .3;
    }

    .whatsShowingDiv {
        text-align: left;
        font-size: 10px;
        color: $primary-gray-5;
        margin-left: 10px;
        width: 19%;
        min-height: 10px;
        float: left;

        .whatsShowingVal {
            display: inline-block;
        }

        &:after {
            @include clearFloat;
        }
    }

    .paginationDivInner {
        //display: inline-block;
        height: 22px;
        font-size: 12px;
        line-height: 1;
        float: left;
        width: 60%;

        .paginationGutsDiv {
            display: inline-block;
            text-align: center;
            height: 22px;

            .paginationArrow {
                float: left;
                font-size: 20px;
                margin-top: 2px;
                color: $disabledText;
                cursor: pointer;

                &.disabled {
                    color: #e2e2e3;
                    cursor: default;
                }

                .icon {
                    height: 19px;
                }
            }

            .paginationSpacer {
                float: left;
                //padding-left: 4px;
                padding-top: 4px;
                color: #337ab7;
                font-size: 14px;
                margin-left: 2px;
                margin-right: 2px;

                &:before {
                    content: "...";
                }
            }

            .paginationPageNum {
                float: left;
                font-size: 20px;
                color: $pageTitleColor;
                background-color: #edf0f2;
                color: #498fc2;
                border-radius: 3px;
                margin-left: 1px;
                margin-right: 1px;
                font-size: 14px;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: #d1ecff;
                }

                .pageNum {
                    padding: 4px 7px;
                }

                &.active {
                    color: $whiteText;
                    background-color: $activeTabText;
                    cursor: default;
                }
            }

            .pickPageDiv {
                margin-left: 15px;
                margin-top: 2px;
                float: left;

                .text {
                    float: left;
                    margin-top: 2px;
                    margin-right: 5px;
                    color: #8b979e;
                    font-size: 12px;
                }

                .pageNum {
                    margin-top: -2px;
                    float: left;
                    width: 35px;
                    height: 21px;

                    border-radius: 2px;
                    border: 1px solid #e6e9eb;
                    background-color: $whiteText;
                    color: #8b970e;
                    font-size: 12px;

                    &:focus {
                        outline: none;
                        outline-offset: 0;
                    }
                }

                .roundBtn {
                    margin-left: 5px;
                    margin-top: -2px;
                    width: 20px;
                    height: 20px;
                    float: left;
                    border: 1px solid transparent;
                    border-radius: 10px;
                    background-color: #c5c7c9;
                    //opacity: .75;
                    cursor: default;

                    &.active {
                        opacity: 1;
                        cursor: pointer;
                    }

                    &.focus {
                        background-color: #777;

                        .roundBtnText {
                            color: #eee;
                        }
                    }

                    .roundBtnText {
                        color: $whiteText;
                        position: relative;
                        //left: 3px;
                        top: 2px;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .numPerPageDiv {
        float: left;
        width: 19%;
        text-align: right;

        .numPerPageGutsDiv {
            display: inline-block;
            height: 22px;
            margin-right: 10px;

            .numPerPage {
                float: left;
                margin-left: 5px;
                width: 24px;
                height: 13px;
                border-radius: 2px;
                color: $whiteText;
                font-size: 11px;
                line-height: 11px;
                background-color: #c5c7c9;
                text-align: center;
                cursor: pointer;

                .text {
                    position: relative;
                    top: 1px;
                }

                &.active {
                    color: $primary-gray-4;
                    background-color: transparent;
                    cursor: default;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

    }

    &:after {
        @include clearFloat;
    }
}

/*
 *
 * Revup Popup Widget
 *
 */
.revupPopup {
    display: none;
    position: absolute;
    background-color: $whiteText;
    border: 1px solid $blackText;
    border-radius: 4px;
    padding: 10px;
    //top: -1000px;
    //left: 1000px;

    >.arrow {
        border-width: 11px;
    }

    >.arrow:after {
        content: "";
        border-width: 10px;
    }

    >.arrow, >.arrow:after {
        position: absolute;
        display: block;
        width: 0;
        height: 0;
        border-color: transparent;
        border-style: solid;
        }

    &.left>.arrow:after {
        right: 1px;
        bottom: -10px;
        content: " ";
        border-right-width: 0;
        border-left-color: $whiteText;
    }


    &.left>.arrow, &.left>.arrow:after {
        right: 1px;
        bottom: -10px;
        content: " ";
        border-right-width: 0;
        border-left-color: $whiteText;
    }

    &.right>.arrow:after {
        left: 1px;
        bottom: -10px;
        content: " ";
        border-left-width: 0;
        border-right-color: $whiteText;
    }


    &.right>.arrow, &.right>.arrow:after {
        left: 1px;
        bottom: -10px;
        content: " ";
        border-right-color: $whiteText;
        border-left-width: 0;
    }

    &.top>.arrow:after {
        top: 12px;
        left: -5px;
        margin-top: -21px;
        border-left-width: 5px;
        border-right-width: 5px;
        border-bottom-color: $whiteText;
        border-bottom-color: rgba(255,255,255, 1);
    }


    &.top>.arrow, &.top>.arrow:after {
        //left: 1px;
        //bottom: -10px;
        //content: " ";
        //border-right-color: #0ff;
        //border-left-width: 0;
    }

    &.left {
        margin-left: -10px;

        >.arrow {
            top: 50%;
            right: -11px;
            margin-top: -11px;
            border-right-width: 0;
            border-left-color: #999;
            border-left-color: rgba(0,0,0, 1);
        }
    }

    &.right {
        margin-left: 10px;

        >.arrow {
            top: 50%;
            left: -11px;
            margin-top: -11px;
            border-left-width: 0;
            border-right-color: #999;
        }
    }

    &.top {
        margin-top: 11px;

        >.arrow {
            top: -1px;
            left: 50%;
            margin-top: -21px;
            border-left-width: 6px;
            border-right-width: 6px;
            border-bottom-color: #999;
            border-bottom-color: rgba(0,0,0, 1);
        }
    }
}

/*
 *
 * Splash page
 *
 */
.revupSplashPage {
    position: absolute;
    top: 10px;
    left: 100px;
    background-color: $tan-bg-color;
    border: 1px solid $blackText;
    border-radius: 4px;

    .theIFrame {
        iframe {
            display: flex;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            border: none;
            overflow: hidden;
            overflow-x:hidden;
            overflow-Y:hidden;
        }
    }

    .btnDiv {
        height: 20px;

        .btnContainerRight {
            float: right;

            .closeBtn {
                position: relative;
                right: 10px;
                top: 3px;
                font-size: 14px;
                line-height: 14px;
                cursor: pointer;
            }
        }

        &:after {
            @include clearFloat;
        }
    }
}

/*
 *
 * Slide Switch
 *
 */
.revupSlideSwitch {
    display: flex;

    &.disabled {
        opacity: 0.45;

        .textDiv {
            opacity: 0.35;
        }
    }

    .sliderDiv {
        width: 30px;
        height: 15px;
        border-radius: 7px;
        background: #e8e9eb;
        display: block;

        &.right {
            background: #e8e9eb;
        }

        &.left {
            background : -moz-linear-gradient(50% 100% 90deg,rgba(133, 181, 91, 1) 12.37%,rgba(142, 196, 96, 1) 48.92%,rgba(153, 212, 102, 1) 100%);
            background : -ms-linear-gradient(90deg, rgba(133, 181, 91, 1) 12.37%, rgba(142, 196, 96, 1) 48.92%, rgba(153, 212, 102, 1) 100%);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85B55B', endColorstr='#99D466' ,GradientType=0)";
            background : linear-gradient(0deg, rgba(133, 181, 91, 1) 12.37%, rgba(142, 196, 96, 1) 48.92%, rgba(153, 212, 102, 1) 100%);
        }

        .switchDiv {
            position: relative;
            background : -moz-linear-gradient(50% 100% 90deg,rgba(181, 181, 181, 1) 12.37%,rgba(232, 232, 232, 1) 100%);
            background : -ms-linear-gradient(90deg, rgba(181, 181, 181, 1) 12.37%, rgba(232, 232, 232, 1) 100%);
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#B5B5B5', endColorstr='#E8E8E8' ,GradientType=0)";
            background : linear-gradient(0deg, rgba(181, 181, 181, 1) 12.37%, rgba(232, 232, 232, 1) 100%);
            width : 13px;
            height : 13px;
            border-radius: 7px;
            top: 1px;

            &.right {
                left: 15px;
                top: 1px;
            }

            &.left {
                left: 1px;
                top: 1px;
            }
        }
    }

    .textDiv {
        display: block;
        position: relative;
        height: 13px;
        top: -1px;
        left: 5px;
        font-size: 13px;
    }
}

/*
 *
 * Color Input control
 *
 */
.revupColorCntl {
    width: 100%;
    height: 20px;
    border: 1px solid $disabledText;
    background-color: $whiteText;

    &.formatError {
        border-color: $redText;
        border-style: solid;
    }

    .colorInput {
        border: none;
        outline: 0;
        width: calc(100% - 36px);
        padding: 1px 2px;

        &.formatError {
            color: $redText;
        }
    }

    .colorSample {
        width: 32px;
        height: 16px;
        border: 1px solid $disabledText;
        display: inline-block;
        position: relative;
        top: 1px;
        right: 1px;
        float: right;
    }
}

/*
 *
 * revup autocomplete
 *
 */
.revupAutocompleteLst {
    min-height: 50px;
    background-color: $whiteText;
    border: 1px solid $disabledText;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    cursor: pointer;

    .entry {
        padding: 2px 4px;
        font-size: 13px;
        line-height: 1.1em;

        &:hover {
            text-decoration: underline;
            background-color: #add8e6;
        }
    }

    .noResults {
        font-size: 13px;
        font-weight: $semiBold;
        text-align: center;
        margin-top: 15px;
    }
}


/*
 *
 * revup password field
 *
 */
.revupPassword {
    .revupPasswordInput {
        //float: left;
    }

    .iconDiv {
        float: right;
        position: relative;

        &:after {
            @include clearFloat;
        }
    }

    .showPasswordDiv {
        position: relative;
        width: 20px;
        height: 20px;
        font-size: 18px;
        line-height: 18px;
        cursor: pointer;
        float: left;

        .icon  {
            position: absolute;
            line-height: 14px;
            top: 2px;

            &.icon-reveal {}

            &.icon-hide {}
        }
    }

    .showRulesDiv {
        font-size: 14px;
        line-height: 1.4em;

        .rulesTitle {
            margin-top:5px;
            font-size: 15px;
            font-weight: $semiBold;
        }

        .rulesDiv {
            .leftSide, .rightSide {
                float: left;
                width: 45%;

                &.rightSide {
                    width: 55%;
                };

                &:after {
                    @include clearFloat;
                }
            }

            .rule {
                white-space: nowrap;
                margin-top: 5px;

                &.disabled {
                    .dot {
                        background-color: $primary-gray-4;
                    }

                    .txt {
                        color: $primary-gray-4;
                    }
                }

                .dot {
                    position: relative;
                    top: .2em;
                    float: left;
                    width: .8em;
                    height: .8em;
                    border-radius: .4em;
                    margin-right: 5px;
                    background-color: $secondary-blue-3;
                }

                .txt {
                    float: left;
                    color: $primary-gray-6;
                }

                &:after {
                    @include clearFloat;
                }
            }
        }

        &:after {
            @include clearFloat;
        }
    }

    .reqFields {
        .reqTxt::before {
            content: '*';
            color: $primary-gray-4;
            font-size: 16px;
        }
    }

    .passwordStrengthDiv {
        position: relative;
        width: 20px;
        height: 20px;
        font-size: 16px;
        line-height: 18px;
        cursor: pointer;
        float: left;

        .icon {
            position: absolute;
            top: 3px;

            &.icon-weak {
                color: $secondary-red-1;
            }

            &.icon-moderate {
                display: none;
                color: $secondary-orange-1;
            }

            &.icon-strong {
                display: none;
                color: $secondary-green-3;
            }
        }
    }

    &:after {
        @include clearFloat;
    }
}

/*
 *
 * Radio Button Widget
 *
 */
.revupRadioBtnDiv {
    .radioBtnDiv {
        display: inline-block;
        cursor: pointer;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        .radioBtn {
            display: inline-block;
            position: relative;
            width: 16px;
            height: 16px;
            line-height: 16px;
            font-size: 16px;
            top: 2px;
            margin-right: 3px;

            .icon {
                position: absolute;

                &.background {
                    color: #fff;
                }

                &.selected {
                    display: none;
                    color: #000;
                }

                &.unselected {
                    color: #000;
                }
            }
        }

        .radioLabel {
            display: inline-block;
            font-size: 16px;
        }
    }
}
