// sass-lint:disable-all

@import "stylesDefs.scss";

/*
 *
 * Revup Wizard widget
 *
 */
.revupWizard {
    // position: absolute;
    border-radius: 5px;
    width: 1320px;
    height: 650px;

    background: $primary-gray-2;
    background : linear-gradient(0deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%);
    border-style : Solid;
    border-color : $primary-gray-4;
    border-width : 1px;
    border-radius: 4px;
    box-shadow : 6px 6px 4px rgba(0, 0, 0, 0.2);

    // body div
    .wizardBodyOuter {
        padding-left: 30px;
        padding-right: 30px;
        overflow-x: auto;
        overflow-y: auto;
        padding-top: 1px;
        margin-top: -1px;

        .windowBody {
            width: 100%;
            padding-top: 1px;
            margin-top: -1px;
        }

        .wizardBodyWait {
            display: none;
            position: absolute;
            left: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.8);
        }
    }

    // history div
    .wizardHistoryDiv {
        height: 30px;
        width: 100%;

        .historyDotsDiv {
            // text-align: center;
            height: 16px;
            margin-top: 6px;
            display: inline-block;

            .historyDot {
                //display: inline-block;
                float: left;
                width: 16px;
                height: 16px;
                border: 1px #000 solid;
                border-radius: 8px;
                background-color: #fff;
                margin-left: 5px;
                margin-right: 5px;

                &.loaded {
                    background-color: $secondary-green-1;
                }

                &.ok {
                    background-color: $secondary-green-4;
                    // cursor: pointer;
                }

                &.error {
                    background-color: $secondary-red-2;
                    // cursor: pointer;
                }

                &.enableDotNav {
                    cursor: pointer;
                }

                &.onThisPage {
                    cursor: default;
                    background-color: $primary-blue-3
                }
            }

            &:after {
                @include clearFloat;
            }
        }
    }


    // button Div
    .wizardBtnDiv {
        height: 50px;

        .leftSide {
            float: left;
            padding-left: 15px;
            padding-right: 15px;
            width: calc(100% - 350px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            .msgDiv {
                display: inline-block;
                font-size: 14px;
                margin-top: 10px;
            }
        }

        .rightSide {
            float: right;
            padding-right: 30px;

            .cancelBtn {
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                font-size: 14px;
                font-weight: $semiBold;
                cursor: pointer;
                color: $blueText;

                &:hover {
                    text-decoration: underline;
                }

                &.disabled {
                    color: $disabledText !important;
                    cursor: default;

                    &:hover {
                        text-decoration: none;
                    }
                }
            }

            .wizardBtn {
                display: inline-block;
                margin-right: 10px;
                vertical-align: middle;
                min-width: 100px;
                padding: 5px 15px;
            }

            .wizardBtn:last-child {
                margin-right: 0;
            }
        }
    }

    // error body
    .errorDiv {
        background-color: rgba(190, 30, 45, .5);
        text-align: center;
        padding-top: 1px;
        margin-top: -1px;

        .msg {
            opacity: 0.99;
            font-size: 24px;
            font-weight: $semiBold;
            color: #000;
            margin-top: 30px;
        }
    }
}
