// sass-lint:disable-all

@charset "UTF-8";

@font-face {
  font-family: "revicon";
  src:url("../fonts/revicon.eot");
  src:url("../fonts/revicon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/revicon.woff") format("woff"),
    url("../fonts/revicon.ttf") format("truetype"),
    url("../fonts/revicon.svg#revicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "revicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "revicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\61";
}
.icon-analyze:before {
  content: "\62";
}
.icon-arrow-down:before {
  content: "\63";
}
.icon-arrow-left:before {
  content: "\64";
}
.icon-arrow-up:before {
  content: "\66";
}
.icon-box-checked:before {
  content: "\67";
}
.icon-check:before {
  content: "\68";
}
.icon-double-arrow-left:before {
  content: "\69";
}
.icon-double-arrow-right:before {
  content: "\6a";
}
.icon-download:before {
  content: "\6b";
}
.icon-filter:before {
  content: "\6d";
}
.icon-undo:before {
  content: "\6e";
}
.icon-twitter:before {
  content: "\6f";
}
.icon-trash:before {
  content: "\70";
}
.icon-subtract:before {
  content: "\71";
}
.icon-search:before {
  content: "\72";
}
.icon-profile:before {
  content: "\73";
}
.icon-pin:before {
  content: "\74";
}
.icon-open:before {
  content: "\75";
}
.icon-lock:before {
  content: "\76";
}
.icon-link:before {
  content: "\77";
}
.icon-info:before {
  content: "\78";
}
.icon-home:before {
  content: "\79";
}
.icon-upload:before {
  content: "\41";
}
.icon-upload-add:before {
  content: "\42";
}
.icon-upload-settings:before {
  content: "\43";
}
.icon-user-edit:before {
  content: "\46";
}
.icon-user-list:before {
  content: "\47";
}
.icon-user-profile:before {
  content: "\48";
}
.icon-warning:before {
  content: "\4a";
}
.icon-close:before {
  content: "\6c";
}
.icon-ranking:before {
  content: "\4b";
}
.icon-facebook:before {
  content: "\4d";
}
.icon-vertical-line:before {
  content: "\50";
}
.icon-admin:before {
  content: "\4e";
}
.icon-campaign:before {
  content: "\4f";
}
.icon-twitter-bird:before {
  content: "\51";
}
.icon-linkedin:before {
  content: "\52";
}
.icon-triangle-dn:before {
  content: "\53";
}
.icon-triangle-left:before {
  content: "\54";
}
.icon-triangle-right:before {
  content: "\55";
}
.icon-triangle-up:before {
  content: "\56";
}
.icon-add-user:before {
  content: "\57";
}
.icon-remove-user:before {
  content: "\58";
}
.icon-delete-circle:before {
  content: "\5a";
}
.icon-calendar:before {
  content: "\30";
}
.icon-arrow-download:before {
  content: "\32";
}
.icon-arrow-upload:before {
  content: "\33";
}
.icon-staff:before {
  content: "\35";
}
.icon-triangle-rounded-dn:before {
  content: "\21";
}
.icon-triangle-rounded-up:before {
  content: "\22";
}
.icon-box-unchecked:before {
  content: "\31";
}
.icon-bold:before {
  content: "\23";
}
.icon-font-size:before {
  content: "\25";
}
.icon-underline:before {
  content: "\2a";
}
.icon-bulleted-list:before {
  content: "\38";
}
.icon-numbered-list:before {
  content: "\24";
}
.icon-italic:before {
  content: "\26";
}
.icon-indent-more:before {
  content: "\27";
}
.icon-indent-less:before {
  content: "\28";
}
.icon-underline:before {
  content: "\29";
}
.icon-export-csv:before {
  content: "\4c";
}
.icon-hamburger:before {
  content: "\2a";
}
.icon-key:before {
  content: "\2b";
}
.icon-settings:before {
  content: "\2c";
}
.icon-reports:before {
  content: "\2d";
}
.icon-double-arrow-dn:before {
  content: "\2f";
}
.icon-double-arrow-up:before {
  content: "\3a";
}
.icon-pointer:before {
  content: "\3b";
}
.icon-bio:before {
  content: "\39";
}
.icon-donations:before {
  content: "\3c";
}
.icon-campaign-info:before {
  content: "\3d";
}
.icon-education:before {
  content: "\3e";
}
.icon-events:before {
  content: "\3f";
}
.icon-issues:before {
  content: "\40";
}
.icon-raisers:before {
  content: "\5b";
}
.icon-info-1:before {
  content: "\7a";
}
.icon-limit:before {
  content: "\5d";
}
.icon-add-filter:before {
  content: "\5e";
}
.icon-add-contacts:before {
  content: "\44";
}
.icon-contact-mgmt:before {
  content: "\45";
}
.icon-cross-over:before {
  content: "\49";
}
.icon-ethnicity:before {
  content: "\34";
}
.icon-email:before {
  content: "\36";
}
.icon-edit-contact:before {
  content: "\37";
}
.icon-key-contributions:before {
  content: "\5f";
}
.icon-sync:before {
  content: "\7b";
}
.icon-save-as:before {
  content: "\7c";
}
.icon-save:before {
  content: "\5c";
}
.icon-list-mgmt:before {
  content: "\e000";
}
.icon-gender:before {
  content: "\e001";
}
.icon-legend:before {
  content: "\e002";
}
.icon-raiser:before {
  content: "\e003";
}
.icon-notes:before {
  content: "\60";
}
.icon-callsheet:before {
  content: "\e004";
}
.icon-invite:before {
  content: "\59";
}
.icon-permissions:before {
  content: "\e005";
}
.icon-remove-raiser:before {
  content: "\e006";
}
.icon-revoke-invite:before {
  content: "\e007";
}
.icon-remove-user-1:before {
  content: "\e008";
}
.icon-stop:before {
  content: "\e009";
}
.icon-radio-button-off:before {
  content: "\e00a";
}
.icon-radio-button-on:before {
  content: "\e00b";
}
.icon-check-box-back:before {
  content: "\e00c";
}
.icon-radio-button-back:before {
  content: "\e00d";
}
.icon-merge:before {
  content: "\7e";
}
.icon-share:before {
  content: "\e00e";
}
.icon-tick-2:before {
  content: "\e00f";
}
.icon-tick-1:before {
  content: "\e010";
}
.icon-tick-5:before {
  content: "\e011";
}
.icon-tick-4:before {
  content: "\e012";
}
.icon-tick-3:before {
  content: "\e013";
}
.icon-roles:before {
  content: "\e014";
}
.icon-display-options:before {
  content: "\e015";
}
.icon-plus:before {
  content: "\e016";
}
.icon-call-time-mgr:before {
  content: "\e017";
}
.icon-add-to-group:before {
  content: "\7d";
}
.icon-more-details:before {
  content: "\e018";
}
.icon-unassign:before {
  content: "\e019";
}
.icon-new-call-group:before {
  content: "\e01a";
}
.icon-remove-uncalled:before {
  content: "\e01b";
}
.icon-print:before {
  content: "\e01c";
}
.icon-tracker:before {
  content: "\2e";
}
.icon-called:before {
  content: "\e01d";
}
.icon-texted:before {
  content: "\e01e";
}
.icon-call-results:before {
  content: "\e01f";
}
.icon-help-1:before {
  content: "\e020";
}
.icon-help-2:before {
  content: "\e021";
}
.icon-delete-contact:before {
  content: "\e022";
}
.icon-contact-cleanup:before {
  content: "\e023";
}
.icon-contact-data:before {
  content: "\e024";
}
.icon-help:before {
  content: "\e025";
}
.icon-profile-2:before {
  content: "\e026";
}
.icon-choose-file:before {
  content: "\e027";
}
.icon-format-help:before {
  content: "\e028";
}
.icon-create-account:before {
  content: "\e029";
}
.icon-hide:before {
  content: "\e02a";
}
.icon-exisitng-account:before {
  content: "\e02b";
}
.icon-moderate:before {
  content: "\e02c";
}
.icon-reveal:before {
  content: "\e02d";
}
.icon-strong:before {
  content: "\e02e";
}
.icon-weak:before {
  content: "\e02f";
}
.icon-arrow-right:before {
  content: "\65";
}
.icon-business:before {
  content: "\e030";
}
.icon-real-estate:before {
  content: "\e031";
}
.icon-stocks:before {
  content: "\e032";
}
.icon-flag:before {
  content: "\e033";
}
.icon-persona:before {
  content: "\e034";
}
