// sass-lint:disable-all

/*
 * Color Variables
 */

$tan-bg-color: #f9f9f9;
$blue-bg-color: #428bca;
$pageTitleColor: #8dcb3f;
$lightTextColor: #78828a;
$greenText2: #7bb32f;
$blueText: #4d8fc2;
$getStartedText: #43677e;
$redText: #a94442;
$whiteText: #ffffff;
$blackText: #000;
$magentaText: #c060d6;
$disabledText: #c7c9c9;
$disabledText2: #d9d9d9;
$errorText: #ffcc00;
$errorText2: #ff6363;
$printGrayText: #989898;
$titleText: #808184;
$iconText: #828487;
$iconColor: #b8b8b8;
$extraLight: 200;

$semiBold: 600;
$bold: bold;
$extraBold: 900;
$normal: normal;

$greenBtnBorder: #78AD42;
$grayBorder: #a7acb8;
$lightGrayBorder: #e9eaeb;
$separatorBorder: #e6e7e8;

$prospectEntryBottomBorderColor: #cccccc;

$grayBackgroundColor: #eff0f0;
$dkGrayBackgroundColor: #c0c0c0;
$ltBlueBackground: #e6f0f8;
$ltGreenBackground: #f5ffe6;
$grayBtnBackground: #d0d2d3;
$whiteBackground: #fff;

$advFilterActiveBtnText: #6e9c31;
$rankingIconBar: #eaeaeb;
$sepBarOne: #dfdfe0;
$sepBarTwo: #fafafa;
$configBorderEntry: #afe07e;
$configBorderEntrySelected: #84daf7;
$configBackground: #f9f9fa;
$configBackgroundEntry: #d5f288;
$configBackgroundEntrySelected: #d1ebff;
$configIconColor: #78b53a;
$configTitleColor: #57852a;
$activeTabBackground: #f4f4f5;
$activeTabText: #8bcb3f;
$inactiveTabText: #78828A;

// primary palette colors
$primary-green-1: #8dc63f;
$primary-green-2: #2dad44;
$primary-green-3: #19bb9b;
$primary-green-4: #58e0a2;
$primary-blue-1: #9ddeff;
$primary-blue-2: #4a9cf4;
$primary-blue-3: #1d6fcc;
$primary-violet-1: #7671e3;
$primary-violet-2: #b296ff;
$primary-gray-1: #f7f7f7;
$primary-gray-2: #f0f3f5;
$primary-gray-3: #d1d3d4;
$primary-gray-4: #bcbec0;
$primary-gray-5: #939598;
$primary-gray-6: #32363f;
$secondary-gray-1: #c8cacc;
$secondary-gray-2: #808285;
$secondary-gray-3: #e2e4e6;
$secondary-gray-4: #d2d4d6;
$secondary-gray-5: #a0acb3;
$secondary-gray-6: #919ba1;
$secondary-gray-7: #b0bdc4;
$secondary-gray-8: #9ca7ad;
$secondary-gray-9: #929da3;
$secondary-gray-10: #8a9399;
$secondary-gray-11: #e5e7e8;
$secondary-gray-12: #f1f1f2;
$secondary-green-1: #c6e0aa;
$secondary-green-2: #d8edbe;
$secondary-green-3: #86ba3f;
$secondary-green-4: #78ad42;
$secondary-green-5: #9ddb47;
$secondary-green-6: #7fb846;
$secondary-green-7: #7eb039;
$secondary-green-9: #8ad12c;
$secondary-blue-1: #5a7fa6;
$secondary-blue-2: #e3f0f7;
$secondary-blue-3: #4e8fc2;
$secondary-blue-4: #90c3fc;
$secondary-blue-5: #3f76b0;
$secondary-red-1: #ed1c24;
$secondary-red-2: #be1e2d;
$secondary-orange-1: #fbb040;
$secondary-orange-2: #c98622;
$icon-green-1: #cef09e;
$icon-green-2: #a8f0b4;
$icon-green-3: #a8f0e3;
$icon-blue-1: #abcef5;
$icon-blue-2: #accdf5;
$icon-violet-1: #c7c3fa;
$icon-violet-2: #d9ccff;
$icon-gray-1: #dfe1e3;
//primary palette colors end

$border-red-1: #be1e2d;
$border-orange-1: #fbb040;
$background-red-1: #fff5f5;
$background-orange-1: #fbf4e9;
$placeholderColor: #4f4f4f;
$focus-box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.2);


/*
 * Dimension Variables
 */

$logo-width: 88px;


/*
 *
 * Mixin's
 *
 */

/*
 * Layout
 */

@mixin vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin clearFloat {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

@mixin reset {
    display: block;
    padding: 0;
    margin: 0;
    color: #000;  // blackText
    font-size: 16px;
    font-weight: $normal;
    line-height: 1.1em;
    border-radius: 0;
    height: auto;
    width: auto;
    border: none;
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        @content;
    }

    &:-moz-placeholder {
        @content;
    }

    &::-moz-placeholder {
        @content;
    }

    &:-ms-input-placeholder {
        @content;
    }
}

@mixin visibleScrollBar {
    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar:horizontal {
        height: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white; /* should match background, can't be transparent */
        background-color: rgba(0, 0, 0, .5);
    }
}


/*
 * gradation color backgrounds
 */

@mixin adminBarBackground {
    background: #f1f1f2;
    // background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(187, 217, 130, 1) ),color-stop(0.2527,rgba(184, 212, 138, 1) ),color-stop(0.9946,rgba(221, 247, 178, 1) ));
    // background : linear-gradient(0deg, rgba(187, 217, 130, 1) 0%, rgba(184, 212, 138, 1) 25.27%, rgba(221, 247, 178, 1) 99.46%);
}

@mixin subheadBarBackground {
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(187, 193, 201, 1) ),color-stop(0.3441,rgba(194, 200, 209, 1) ),color-stop(1,rgba(206, 212, 219, 1) ));
    background : linear-gradient(0deg, rgba(187, 193, 201, 1) 0%, rgba(194, 200, 209, 1) 34.41%, rgba(206, 212, 219, 1) 100%);
}

@mixin filter($properties) {
  // Your vendor prefixing stuff here, I am using Bourbon:
  @include prefixer(filter, $properties, webkit moz spec);
}

@function grayscale($value) {
    @return #{ "grayscale(" + $value + ")"};
}
