// sass-lint:disable-all

@import "stylesDefs.scss";

/*
 *
 * Load the Source Sans Pro font
 *
 */
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-Regular.otf') format("opentype");
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-Bold.otf') format("opentype");
    font-weight: bold;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-It.otf') format("opentype");
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-BoldIt.otf') format("opentype");
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-ExtraLight.otf') format("opentype");
    font-weight: 200;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-ExtraLightIt.otf') format("opentype");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-Semibold.otf') format("opentype");
    font-weight: 600;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-SemiboldIt.otf') format("opentype");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-Black.otf') format("opentype");
    font-weight: 900;
}
@font-face {
    font-family: SourceSansPro;
    src: url('../fonts/source-sans-pro/SourceSansPro-BlackIt.otf') format("opentype");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: Bilbo-Regular;
    src: url('../fonts/Bilbo-Regular.ttf');
}

@font-face {
    font-family: BilboSwashCaps;
    src: url('../fonts/BilboSwashCaps-Regular.ttf');
}

// minimum width is 500px
@media (min-width: 400px) {
    body {
        min-height: 750px;
    }

    .container {
        width: calc(100% - 40px);
        min-width: 1300px;
    }
}

// overrides for bootstrap
@media (min-width: 768px) {
    body {
        min-height: 750px;
    }

    .container {
        width: calc(100% - 40px);
        min-width: 1300px;
    }
}

@media (min-width: 992px) {
    body {
        min-height: 750px;
    }

    .container {
        width: calc(100% - 40px);
        min-width: 1300px;
    }
}

@media (min-width: 1200px) {
    body {
        min-height: 750px;
    }

    .container {
        width: calc(100% - 40px);
        min-width: 1300px;
    }
}

@media (min-width: 1366px) {
    body {
        min-height: 750px;
    }

    .container {
        width: calc(100% - 40px);
        min-width: 1300px;
    }
}


/*
 *
 * Base Styles
 *
 */
html,
body {
    font-family: SourceSansPro, "Source Sans Pro", sans-serif;
    font-size: 16px;
    min-width: 1180px;
    background-color: #f5f5f5;

    .backgroundDiv {
        // This is to override the color being set by default in skinning.
        // The background color shouldn't be part of skinning.
        // TODO: reevaluate any and all styles being specified by skinning.
        background-color: $primary-gray-1;
    }
}

.visiblyHidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

header {
    width: 100%;
    top: 0;
    z-index: 100;

    .nav > li > a {
        padding: 15px 0 0 0;

        &:hover {
            background-color: transparent;
        }
    }

    .nav .open > a,
    .nav .open > a:hover,
    .nav .open > a:focus {
        background-color: transparent;
    }
}

footer {
    width: 100%;
    bottom: 0;
    z-index: 100;
    text-align: center;
    clear: both;

    .footerDiv {
        height: 3em;

        .footerText {
            display: inline-block;
            float: left;
            margin-top: 10px;

            .footerAppVersion {
                display: none;
            }
        }

        a {
            margin-left: 5px;
            margin-right: 5px;
            text-decoration: none;
            color: black;
        }

        a > div {
            display: inline-block;
        }

        .footerLinks {
            display: inline-block;
            float: right;
            margin-top: 10px;
        }

        &:after {
            content: '.';
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }
}

.listManager {
    margin-top: -20px;
    .revupPagination{
        background-color: $whiteText !important;
    }
 }

.newRankingDiv {
    margin-top: -16px;
}

.page-wrap {
    margin-top: -5px;
}

.container {
    width: 100%;
    max-width: 1700px;
    min-width: 500px;
    margin: 0 auto;
    padding: 0 20px;

    .mainSection {
        display: inline-block;
        width: 100%;
        min-height: calc(100vh - 48px);
    }

    .impersonator-alert {
        width: 100%;
        padding: 5px 25px;

        h5 {
            font-weight: bold;
        }
    }

    .sideNav {
        float: left;
        width: 80px;
        position: relative;
        margin-right: 20px;

        .tab {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 80px;
            height: 64px;
            background-color: $primary-gray-4;
            border-right: none;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.12);
            margin-bottom: 5px;
            border-radius: 3px;

            &.disabled {
                background-color: $separatorBorder;
                border-color: #dcddde;
                cursor: default;

                a {
                    cursor: default;
                    pointer-events: none;
                }
            }

            &.blink {
                // background: $primary-green-1;
                -webkit-animation-name: analyze; /* Chrome, Safari, Opera */
                -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
                animation-name: tabBlink;
                animation-duration: 2s;
                animation-iteration-count: infinite;

                /* Chrome, Safari, Opera */
                @-webkit-keyframes tabBlink {
                    0% {
                        //background-color: $primary-green-1;
                        opacity: 1;
                    }
                    50% {
                        //background-color: #b4f253;
                        opacity: 0.5;
                    }
                    100% {
                        //background-color: $primary-green-1;
                        opacity: 1;
                    }
                }

                /* Standard syntax */
                @keyframes tabBlink {
                    0% {
                        //background-color: $primary-green-1;
                        opacity: 1;
                    }
                    50% {
                        //background-color: #b4f253;
                        opacity: 0.5;
                    }
                    100% {
                        //background-color: $primary-green-1;
                        opacity: 1;
                    }
                }


                .txt {
                    color: $whiteText;
                }

                .icon {
                    color: $whiteText;
                }
            }

            &.active{
                .text {
                    color: $whiteText !important;
                }
            }

            a {
                color: $whiteText;
                text-decoration: none;
                font-size: 14px;
                line-height: 14px;
                text-align: center;

                &:hover,
                &:active,
                &:focus {
                    color: $whiteText !important;
                    text-decoration: none !important;
                }

                .icon {
                    font-size: 24px;
                    line-height: 24px;
                    color: $icon-gray-1;
                    position: relative;
                }
            }
        }

        .tab.homeTab,
        .tab.personaTab {
            &.active {
                background-color: $primary-green-1;
                .icon {
                    color: $icon-green-1;
                }
            }
        }

        .tab.rankingTab {
            &.active {
                background-color: $primary-green-2;
                .icon {
                    color: $icon-green-2;
                }
            }
        }

        .tab.callTimeTab {
            &.active {
                background-color: $primary-green-3;
                .icon {
                    color: $icon-green-3;
                }
            }
        }

        .tab.contactManagerTab,
        .tab.listManagerTab {
            .icon {
                font-size:22px;
                line-height:22px;
            }
        }


        .tab.contactManagerTab {
            &.active {
                background-color: $primary-blue-2;
                .icon {
                    color: $icon-blue-1;
                }
            }
        }

        .tab.listManagerTab {
            &.active {
                background-color: $primary-blue-3;
                .icon {
                    color: $icon-blue-2;
                }
            }
        }

        .tab.prospectsTab {
            &.active {
                background-color: $primary-violet-1;
                .icon {
                    color: $icon-violet-1;
                }
            }
        }

        .tab.raisersTab {
            &.active {
                background-color: $primary-violet-2;
                .icon {
                    color: $icon-violet-2;
                }
            }
        }

        .tab.helpTab {
            .iconContainer {
                position: relative;
                display: inline-block;

                .icon-help-1 {
                    position: relative;
                }

                .icon-help-2 {
                    position: absolute;
                    top: 0;
                }
            }
        }
    }

    main.authenticated {
        float: left;
        width: calc(100% - 100px);
        border-radius: 4px;
        min-height: 575px;
    }
}


/*
 *
 * Breadcrumbs
 *
 */
.breadcrumb {
    font-family: sans-serif;
    font-size: 11px;
    background-color: transparent;
    padding: 0;
    margin-bottom: 0px;
    display: none;
    a {
        color: $blueText;

        &:hover {
            text-decoration: none;
        }

        &:focus {
            text-decoration: none;
            outline: none;
            outline-offset: none;
        }
    }

    >.active {
        color: $disabledText;
    }

    >li+li:before {
        padding: 0 3px;
    }
}

/*
 *
 * page label
 *
 */
.pageLabel {
    color: $pageTitleColor !important;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.1em;
    height: 44px;
    margin-bottom: 6px;

    .leftSide {
        float: left;

        .iconDiv {
            position: relative;
            top: 1px;
            float: left;
        }

        .textDiv {
            display: inline-block;

            .subTextDiv {
                font-size: 12px;
                font-weight: $normal;
                line-height: 1.5em;

                &:before {
                    content: ''\00000A'';
                }
            }
        }
    }

    .rightSide {
        float: right;
        cursor: pointer;
        display: none;

        .textDiv {
            font-size: 15px;
            font-weight: normal;
            color: $getStartedText;
            line-height: 1.1em;
        }

        .gettingStartedDiv {
            display: inline-block;

            .gettingStartedImg {
                width: 30px;
                height: 30px;
            }
        }
    }

    &:after {
        @include clearFloat;
    }
}

/*
 *
 * Page info
 *
 */
.pageInfoDiv {
    background-color: #edf8ff;
    border: 1px solid #8cc0de;
    border-radius: 4px;
    width: 100%;
    height: 48px;
    margin-bottom: 18px;
    .closeBtn {
        margin-top: 5px;
        margin-right: 5px;
        text-align: right;
        color: #5ba4cf;
        font-size: 14px;
        line-height: 14px;
    }

    .msgDiv {
        text-align: center;
        font-size: 14px;
        line-height: 16px;
        font-weight: $normal;
        color: #4c96bf;
        position: relative;
        top: -4px;

        .icon {
            display: inline-block;
            color: #5baacf;
        }

        .msgText {
            display: inline-block;
            position: relative;
            top: -2px;
        }
    }

    .notShowAgainDiv {
        margin-left: 10px;
        text-align: left;
        color: #75b5d9;
        font-size: 11px;
        line-height: 12px;
        position: relative;
        top: -20px;

        .checkbox {
            display: inline-block;
        }

        .text {
            display: inline-block;
        }
    }
}


/*
 *
 * Page Header
 *
 */
.pageHeader{
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    line-height: 1.0;

    .section {
        float: left;

        &:not(:first-child) {
            margin-left: 30px;
        }

        .heading {
            text-transform: capitalize;
            font-size: 11px;
            color: $lightTextColor;
            vertical-align: bottom;
        }

        .data {
            font-size: 16px;
            display: table-cell;
            vertical-align: bottom;
            color: $primary-gray-6;

            .dataText {
                width: 100%;
                max-width: 250px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .sectionRight {
        float: right;

        .btnContainer {
            button {
                width: 200px;
                float: left;

                &:not(:first-child) {
                    margin-left: 10px;
                }
            }
        }
    }

    &:after {
        @include clearFloat
    }
}

button {
    outline: 0;
}


.b {
    font-weight: bold;
}

.noMarginTop {
    margin-top: 0;
}

/*
 *
 * Logo in upper left of authenticated, and in skinning modal
 *
 */
.revupLogo {
    width: $logo-width;

    &.dynamicLogo {
        width: auto;
        max-width: $logo-width;
        height: auto;
        max-height: 40px;
    }
}


/*
 *
 * Dropdown menu in upper right of authenticated section
 *
 */
.navbar {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    min-height: 50px;
    margin: 10px 0 30px;
    z-index: 12;
    border-radius: 0;
    background-color: transparent;
    border: 1px solid transparent;

    .navbar-brand {
        display: inline-block;
        vertical-align: top;
        height: initial;
        padding: 0;
    }

    .navbar-nav {
        display: block !important;
        box-sizing: border-box;
        float: right;
        padding-right: 0px;

        .dropdown-toggle {
            position: relative;
            display: inline-block;
            padding-right: 20px;
            font-size: 16px;
            color: $blueText !important;

            &:hover {
                color: $blueText !important;
            }

            .icon {
                position: absolute;
                top: 4px;
                right: 0;
            }
        }

        .dropdown-menu {
            right: 0;
            left: initial;

            .dropDownHR {
                margin: 2px;
            }
        }
    }
}

.navbar-middle {
    text-align: center;
    position: absolute;
    top: 14px;
    width: 100%;
}

.navbarMsg {
    display: none;
    text-align: center;
    position: absolute;
    top: 14px;
    width: 100%;
    box-sizing: border-box;

    .msgBox {
        text-align: center;
        width: 60%;
        border: 1px solid $secondary-blue-4;
        border-radius: 4px;
        background-color: $whiteText;
        margin: auto;

        &.msgBlue {
            background: $whiteText;
            border-color: $secondary-blue-4;

            .msgText {
                color: $primary-blue-2;
            }
        }

        &.msgGreen {
            background: #f7ffed;
            border-color: #bbce8c;

            .msgText {
                color: #76a635;
            }
        }

        &.msgYellow {
            background: #fbf4e9;
            border-color: $secondary-orange-1;

            .msgText {
                color: $secondary-orange-2
            }
        }

        &.msgRed {
            background: #fff3f3;
            border-color: $secondary-red-2;

            .msgText {
                color: #be1e20;
            }
        }

        .msgText {
            font-size: 16px;
            font-family: SourceSansPro, "Source Sans Pro", sans-serif;
            line-height: 1.1;
            text-align: center;
            color: $primary-blue-2;
            height: 28px;
            box-sizing: border-box;

            .msgTextDiv {
                margin: auto;
                display: inline-block;
                margin-top: 6px;

                .icon {
                    float: left;
                }

                .theMsg {
                    float: left;
                    margin-left: 5px;
                }

                .reloadPage {
                    margin-left: 5px;
                    position: relative;
                    top: -2px;
                }

                &:after {
                    @include clearFloat;
                }
            }

            .msgBtnRight {
                float: right;
                margin-right: 10px;
                margin-top: 6px;
                box-sizing: border-box;

                .btnBtn:not(:last-child) {
                    margin-right: 10px;
                }

                .btnMore, .btnLess {
                    display: inline-block;;
                    text-decoration: underline;
                    cursor: pointer;
                    //margin-right: 10px;
                    margin-top: 1px;
                    float: left;
                    position: relative;
                    bottom: 2px;
                }

                .btnClose {
                    display: inline-block;
                    cursor: pointer;
                    float: left;
                }

                .msgBtn:not(last-child) {
                    margin-right: 5px;
                    box-sizing: border-box;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

        .taskList {
            width: 80%;
            display: none;
            margin: auto;

            .taskListInner {
                display: block;
            }

            .taskEntry {
                height: 25px;

                .msgText {
                    height: 25px;
                }

                .taskName {
                    width: 35%;
                    float: left;
                }

                .taskStatusBar {
                    width: calc(45% - 10px);
                    margin-left: 5px;
                    margin-right: 5px;
                    margin-top: 4px;
                    float: left;
                    height: 10px;
                    border-radius: 5px;
                    background-color: #d0d0d1;

                    .statusBar {
                        height: 10px;
                        background-color: $primary-blue-2;
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                }

                .taskPercent {
                    width: 20%;
                    float: left;
                }

                .downloadImg {
                    width: 16px;
                    height: 16px;
                    margin-right: 5px;
                    float: left;

                    &.imgBlank {
                        display: inline-block;
                        height: 5px;
                    }

                    &.imgCSV {
                        position: relative;
                        //top: -1px
                    }

                    &.imgGmail {
                        position: relative;
                        top: 1px;
                    }

                    &.imgLinkedIn {
                        position: relative;
                        top: -1px;
                    }

                    &.imgApple {
                        position: relative;
                        top: -2px;
                    }

                    &.imgOutlook {
                        position: relative;
                        top: -1px;
                    }
                }

                .msgText {
                    position: relative;
                    top: -1px;
                    float: left;
                    width: calc(100% - 22px);
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                    text-align: left;
                }

                &:after {
                    @include clearFloat;
                }
            }
        }
    }
}


.page-wrap {
    min-height: 500px;
}

.thumbnail.done {
    background: lime;
}

.form-retrieve-password .email {
    width: 250px;
}

.form-edit-contact-info .left .btnUploadPhoto {
    display: inline-block;
    margin-left: 40px;
    margin-bottom: 2em;
    border: solid 1px #ccc;
}

.form-edit-contact-info .right {
    width: 340px;
    margin-left: 20px;
}

.form-edit-contact-info .col-sm-6 input {
    width: 100%;
    padding-left: 0;
}

.form-edit-contact-info .col-sm-12 input {
    width: 100%;
}

.form-edit-contact-info .row {
    margin-bottom: 10px;
}

#editContactInfo .modal-body {
    padding-bottom: 1px;
}

.event-top-row .col-xs-3 {
    width: 27%;
}

.event-top-row .col-xs-9 {
    width: 73%;
}

h3.panel-title {
    font-size: 16px;
}

h3.panel-title b {
    text-transform: uppercase;
}

.popover {
    opacity: 1.0;

    .candidateName, .opponent {
        font-weight: bold;
        font-size: 1.1em;
    }

    .contribution-time-frame {
        padding-left: 10px;
        &.outside {
            opacity: 0.6;
        }

        .contribAmount {
            width: 60px;
            display: inline-block;
        }

        .date {
            display: inline-block;
        }
    }
}

.outside-time-frame {
    opacity: 0.60;
    padding-left: 10px;
}


.contact-table {
    .c1 {
        width: 20%;
    }
    .c2 {
        width: 20%;
    }
    .c3 {
        width: 20%;
    }
    .c4 {
        width: 40%;
    }
}


.event-table {
    tfoot {
        font-weight: bold;

        input {
            border: none;
        }
    }

    .btns {
        padding-top: 15px;
    }

    .btn-default {
        width: 100px;
    }

    .btn-primary {
        width: 115px;
    }
    table {
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        tr {
            td:nth-child(n+1) {
                white-space: nowrap;
            }
            // All of the money columns in the table
            td:nth-child(n+2):nth-child(-n+5) {
                width: 100px;
                input {
                    width: 100px;
                }
            }
            // Attend column
            td:nth-child(n+6) {
                width: 60px;
                input {
                    width: 60px;
                }
            }
            // Notes - Input should occupy entire space
            td:nth-child(7) {
                width: 100%;
                input {
                    width: 100%;
                }
            }
            td:nth-child(8), th:nth-child(8) {
                white-space: nowrap;
            }
        }
        tbody input[readonly="True"] {
            opacity: 0.6;
        }
    }

    .uninviteBtn {
        padding: 3px;
        line-height: .5;
        margin-top: -2px;
    }

    .inputError, .inputError:focus {
        border-color: $redText;
        border-style: solid;
        outline-color: $redText !important;
        color: $redText;
    }
}


.panel-with-person-info {
    position: relative;

    .thumbnail {
        border: 0;
        padding: 0;
        box-shadow: none;
        width: 112px;
        position: absolute;
        top: -1px;
        right: -1px;
    }

    .panel-body {
        min-height: 126px;
    }
}


.panel-with-person-info2 {
    position: relative;

    .thumbnail {
        float: left;
        border: 0;
        padding: 0;
        margin: 0 20px 0 0;
        box-shadow: none;
        width: 112px;
    }

    .panel-body {
        min-height: 126px;
    }
}


.panel .btns {
    margin: 10px 0 10px 0;
}

.accordion {
    margin-bottom: 0;
}

.accordion .glyphicon {
    float: right;
}

.panel-with-table .panel-body {
    padding-top: 0;
    padding-bottom: 0;
}

.panel-with-table table {
    margin-bottom: 5px;
}

.history-table-2-cols tfoot td {
    font-weight: bold;
    text-align: center;
}

.history-table-5-cols .c1 {
    width: 37px;
}

.history-table-5-cols .c1 .progress {
    margin-bottom: 0;
}

.history-table-5-cols tfoot td {
    font-weight: bold;
    text-align: center;
}

.homepage-thumbs .thumbnail {
    overflow: hidden;
    max-height: 200px;
}

/*
 * color spectrum bar(s)
 */
.spectrum-bar-blank {
    background: none;
    background-color: transparent;
    background-image: none;
    box-shadow: none;
    border: none;

    &.progress {
        background-color: transparent;
        }
}

.political-spectrum-bar-democrat {
    background: rgb(41, 143, 230); // #298fe6
    background : -moz-linear-gradient(50% 100% 90deg,rgba(31, 107, 171, 1) 0%,rgba(41, 143, 230, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(31, 107, 171, 1) 0%, rgba(41, 143, 230, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(31, 107, 171, 1) ),color-stop(1,rgba(41, 143, 230, 1) ));
    background : -ms-linear-gradient(90deg, rgba(31, 107, 171, 1) 0%, rgba(41, 143, 230, 1) 100%);
    background : linear-gradient(0deg, rgba(31, 107, 171, 1) 0%, rgba(41, 143, 230, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#298FE6,endColorstr=#1F6BAB);
    }

.political-spectrum-bar-democrat-lite {
    background: rgb(144, 195, 240); // #90c3f0
    background : -moz-linear-gradient(50% 100% 90deg,rgba(121, 163, 199, 1) 0%,rgba(144, 195, 240, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(121, 163, 199, 1) 0%, rgba(144, 195, 240, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(121, 163, 199, 1) ),color-stop(1,rgba(144, 195, 240, 1) ));
    background : -ms-linear-gradient(90deg, rgba(121, 163, 199, 1) 0%, rgba(144, 195, 240, 1) 100%);
    background : linear-gradient(0deg, rgba(121, 163, 199, 1) 0%, rgba(144, 195, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#90C3F0,endColorstr=#79A3C7);
    }

.political-spectrum-bar-neutral {
    background: rgb(214, 192, 240); // #d6c0f0
    background : -moz-linear-gradient(50% 100% 90deg,rgba(166, 145, 189, 1) 0%,rgba(214, 192, 240, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(166, 145, 189, 1) 0%, rgba(214, 192, 240, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(166, 145, 189, 1) ),color-stop(1,rgba(214, 192, 240, 1) ));
    background : -ms-linear-gradient(90deg, rgba(166, 145, 189, 1) 0%, rgba(214, 192, 240, 1) 100%);
    background : linear-gradient(0deg, rgba(166, 145, 189, 1) 0%, rgba(214, 192, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#D6C0F0,endColorstr=#A691BD);
    }

.political-spectrum-bar-republican-lite {
    background: rgb(252, 144, 144); // #fc9090
    background : -moz-linear-gradient(50% 100% 90deg,rgba(221, 120, 120, 1) 0%,rgba(252, 144, 144, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(221, 120, 120, 1) 0%, rgba(252, 144, 144, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(221, 120, 120, 1) ),color-stop(1,rgba(252, 144, 144, 1) ));
    background : -ms-linear-gradient(90deg, rgba(221, 120, 120, 1) 0%, rgba(252, 144, 144, 1) 100%);
    background : linear-gradient(0deg, rgba(221, 120, 120, 1) 0%, rgba(252, 144, 144, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FC9090,endColorstr=#DD7878);
    }

.political-spectrum-bar-republican {
    background: rgb(252, 58, 58); // #fc3a3a
    background : -moz-linear-gradient(50% 100% 90deg,rgba(212, 49, 49, 1) 0%,rgba(252, 58, 58, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(212, 49, 49, 1) 0%, rgba(252, 58, 58, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(212, 49, 49, 1) ),color-stop(1,rgba(252, 58, 58, 1) ));
    background : -ms-linear-gradient(90deg, rgba(212, 49, 49, 1) 0%, rgba(252, 58, 58, 1) 100%);
    background : linear-gradient(0deg, rgba(212, 49, 49, 1) 0%, rgba(252, 58, 58, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FC3A3A,endColorstr=#D43131);
    }

.political-spectrum-bar-none {
    background: rgba(165, 176, 184, 1);
    background : -moz-linear-gradient(-14348.35% 44812.88% -90deg,rgba(156, 167, 173, 1) 0%,rgba(145, 156, 161, 1) 20.97%,rgba(165, 176, 184, 1) 100%);
    background : -ms-linear-gradient(-90deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
    background : linear-gradient(180deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-gray-8',endColorstr='#A5B0B8' , GradientType=0);
}

/*
 *
 * FEC Notice
 *
 */
.fecNotice {
    color: #333333;
    font-size: 11px;
    opacity: 0.6;
}

/*
 *
 * Invite/UnInvite Buttons
 *
 */
.inviteBtn, .uninviteBtn {
    width: 14px;
    height: 14px;
    padding: 0;
    margin: 0;
    line-height: 1
}

/*
 *
 * Edit Campaign
 *
 */
.editCampaign {
    .opponent {
        .name {
            font-size: 14px;
            font-weight: bold;
            padding-left: 5px;
        }

        .rules {
            margin-top: 5px;
            margin-botton: 5px;
            line-height: 1.1;
            padding-bottom: 5px;
        }

        .searchDiv {
            display: block;
            float: left;
            width: calc(100% - 55px);

            .searchNameDiv {
                width: 100%;
                border: 1px solid #ccc;
                display: inline-block;

                .searchName {
                    width: 100%;
                    border: none;
                    padding-right:25px;
                    padding-left: 5px;
                }

                .waitCursor {
                    width: 18px;
                    height: 18px;
                    display: none;
                    position: absolute;
                    top: 3px;
                    left: calc(100% - 82px);

                    background-image: url(../img/spinner_gray_30.gif);
                    background-size: 18px 18px;
                    background-repeat: no-repeat;
                }
            }

            .lstDiv {
                height: 100px;
                overflow-y: auto;
                overflow-x: hidden;
                width: 100%;
                background-color: $whiteText;
                border: 1px solid #ccc;
                border-bottom-right-radius: 4px;
                border-bottom-left-radius: 4px;
                border-top-width: 0;
                float: left;
                display: none;

                ul {
                    background-color: $whiteText;
                    list-style-type: none;
                    padding-left: 5px;
                    padding-right: 5px;
                }
                li {
                    background-color: $whiteText;

                }

                .noMatchBlank {
                    height: 35px;
                }

                .noMatch {
                    width: 100%;
                    text-align: center;
                    font-weight: bold;
                }
            }

            .count {
                font-size: 12px;
                color: #999;
                clear: both;
                display: none;
            }

        }

        .btnDiv {
            display: block;
            float: left;
            margin-left: 5px;

            button {
                display: block;
            }

            .searchNameBtn {
                margin-top: 1px;
            }

            .deleteNameBtn {
                margin-top: 5px;
            }
        }

        .opponentLstEntryWait {
            width: 30px;
            height: 30px;
            margin-top: 10px;
            margin-left: auto;
            margin-right: auto;


            background-image: url(../img/spinner_gray_30.gif);
            background-size: 30px 30px;
            background-repeat: no-repeat;
        }

        .opponentLstEntry {
            color: $blue-bg-color;
            text-decoration: none;

            &.over {
                text-decoration: underline;
                cursor: pointer;
            }
        }

    }
}


.sample-watermark {
    position: absolute;
    font-size: 50pt;
    margin: 115px;
    opacity: 0.3;
}

.row-sm-padding {
  [class*="col-"] {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
}

.login-reset-password {
    float: right;
}

/*
 *
 * Custom Styling of Date Picker
 *
 */
.dateinputIcon {
    width: 21px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 3px;

    .icon {
        font-size: 16px;
        position: relative;
        top: 1px;
        left: 4px;
        height: 17px;
        width: 16px;
    }
}

/*
 *
 * Campaign Admin Fundraisers
 *
 */
.campaign-admin-fundraisers {
    td {
        vertical-align: middle;
    }
}

/*
 *
 *  Select Seat
 *
 */
.selectCurrent {
    text-align: center;

    .changeSeat {
        border: 1px solid #ccc;
        display: inline-block;
        text-align: left;
        border-radius: 5px;
        margin-top: 25px;

        .changeSeatInner {

            .sectionHeader {
                text-align: center;
                font-weight: bold;
                font-size: 16px;
                margin-bottom: 5px;
                background-color: #337ab7;
                color: $whiteText;
                padding: 4px 0;
            }

            .sectionBody {
                padding: 6px 15px 10px;
                width: 400px;

                .entryLine {
                    padding-top: 3px;
                    padding-bottom: 3px;

                    &:first-of-type {
                        padding-top: 0;
                    }

                    &:last-of-type {
                        padding-bottom: 0;
                    }

                    input[type=radio] {
                        float: left;
                        margin-right: 10px;
                    }
                    .radioLabel {
                        float: left;
                        margin-top: 1px;
                    }

                    &:after {
                        content: "";
                        display: block;
                        clear: both;
                        height: 0;
                    }
                }

                button[type=submit] {
                    font-size: 14px;
                }

                .changeBtn {
                    text-align: right;
                    margin-top: 5px;
                }
            }
        }
    }
}

/* override bootstrap printing urls after links */
@media print {
    a[href]:after {
        content: none !important;
    }
}

/*
 *
 * login
 *
 */
.login, .loginPasswordRequest, .resetPassword {
    margin-top: 150px;

    .container-border {
        background-color: $whiteText;
    }

    .loginErrorSection {
        text-align: center;
        color: $whiteText;
        background-color: $redText;
        font-size: 16px;
        padding: 10px;
        border-radius: 4px;
        line-height: 1.1em;

        .boldMsg {
            font-weight: $bold;
            font-size: 18px;
        }

        .icon {
            display: inline-block;
            background-color: $errorText2;
            padding: 4px 3px 0 3px;
            border-radius: 4px;
            font-size: 14px;
            position: relative;
            top: -15px;
        }

        .normalText {
            text-align: left;
            display: inline-block;

            .smallText {
                font-size: 12px;
            }
        }

        ul {
            text-align: left;
            margin: 0 !important;
            list-style-type: none;
        }
    }

    .pageMsg {
        line-height: 1.2;

        .boldLine {
            font-weight: $bold;
        }

        .smallLine {
            font-size: 12px;
        }

        div:not(:first-child) {
            margin-top: 5px;
        }

        .changePasswordInfo {
            font-size: 14px;
            margin-top: 15px;
        }
    }

    .iconContainer {
        display: inline-block;
        color: #888;
        position: relative;
        top: 3px;
        font-size: 16px;
        padding: 4px 0 4px 4px;

        .icon {
            display: inline-block;
            color: $lightTextColor;
        }
    }

    .cancelBtn {
        margin-right: 25px;
        position: relative;
        top: 2px;
    }

    input[type=text], input[type=email], input[type=password] {
        //width: calc(100% - 50px) !important;
        //border: none !important;
        //color: $blackText !important;
        //background-color: #fff !important;
        //font-size: 15px !important;

        &:-webkit-autofill {
            -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
            -webkit-text-fill-color: #999;
        }

        &:focus {
            outline: none;
            outline-offset: none;
        }
    }

    .signinBtn {
        width: 104px;
        height: 34px;
    }
}

.login, .loginPasswordRequest {
    input[type=text], input[type=email], input[type=password] {
        width: calc(100% - 50px) !important;
        border: none !important;
        color: $blackText !important;
        background-color: #fff !important;
        font-size: 15px !important;
    }
}

/*
 *
 * Adminstrator Registration
 *
 */
.adminRegister {
    margin-top: 75px;
    width: 680px;

    .panel-body {
        padding-left: 20px !important;
        padding-right: 20px !important;
        padding-top: 15px !important;
        padding-bottom: 20px !important;

        font-size: 15px;

        .panelLeft {
            width: 315px;
            float: left;
        }

        .panelRight {
            width: 315px;
            float: right;
        }

        &:after {
            @include clearFloat;
        }

        .fieldLabel {
            font-weight: $bold
        }

        .addr1Row {
            float: left;
            width: 200px;
        }

        .addr2Row {
            float: left;
            width: 105px;
            margin-left: 10px;
        }

        .cityRow {
            float: left;
            width: 170px;
        }

        .stateRow {
            float: left;
            width: 55px;
            margin-left: 10px;

            .stateDropDown {
                .revupDropDown {
                    height: 27px;

                    .valDiv {
                        font-size: 15px;
                        padding-left: 4px;
                        border-radius: 4px;
                        border-color: $grayBorder;
                    }

                    .arrowDiv {
                        padding-top: 7px;
                    }
                }

                .dropDownLst {
                    width: 140px;
                }
            }

            a.btn {
                width: 55px;
                height: 28px !important;
                padding: 3px 4px !important;
                margin-top: 0px !important;
            }

            .caret {
                float: right;
                margin-top: 8px;
            }

            .dropdown-menu {
                width: 210px;
            }
        }

        .zipRow {
            float: left;
            width: 70px;
            margin-left: 10px;
        }
    }

    .bottomMsg {
        text-align: left;
        font-size: 14px;
        color: $primary-gray-6;
        background-color: transparent;
    }

    .registerBtn {
        width: 100px;
        height: 34px;
    }
}

/*
 *
 * Prevent the outline on div's
 *
 */
div {
    outline: 0;

    &:focus {
        outline: 0;
    }
}

/*
 *
 * 404 - error
 *
 */
.error404 {
    height: 250px;

    .text {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 10px;

        color: $redText !important;
        font-size: 18px;
        font-weight: $semiBold;
        text-align: center;
    }
}
/*
 *
 * Loading - image
 *
 */
.loadingDiv {
    margin: 10%;

    .loading {
        // outer
        display: block;
        position: relative;
        left: 50%;
        //top: 25%;

        width: 90px;
        height: 90px;
        margin-left: -45px;
        border-radius: 50%;
        border: 2px solid transparent;
        border-top-color: #80d012; //#3498db;
        border-left-color: #80d012; //#3498db;
        -webkit-animation: spin 2s linear infinite;
        animation: spin 2s linear infinite;

        &:before {
            // middle
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 2px solid transparent;
            border-top-color: #35d5fa; //#e74c3c;
            border-right-color: #35d5fa; //#e74c3c;
            -webkit-animation: spin 3s linear infinite;
            animation: spin 3s linear infinite;
        }

        &:after {
            // inner
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 2px solid transparent;
            border-top-color: #B9ED76; //#f9c922;
            border-left-color: #B9ED76; //#f9c922;
            -webkit-animation: spin 1.5s linear infinite;
            animation: spin 1.5s linear infinite;
        }
    }

    .loadingImg {
        position: relative;
        left: 50%;
        width: 30px;
        height: 30px;
        margin-left: -15px;
        //margin-top: 50px;
        top: -62px;
    }
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


/*
 *
 * Custom Styling
 *
 */
.revupBtnDefault {
    background: rgb(121, 166, 73);
    border : 1px solid $greenBtnBorder;
    font-weight: $semiBold;
    font-size: 14px;
    color: $whiteText;
    border-radius: 3px;
    padding: 5px 10px;
    line-height: 1px;
    height: 34px;

    a {
      color: $whiteText;

      &:hover {
          text-decoration: none !important;
          color: $whiteText !important;
      }

      &:focus {
        color: $whiteText !important;
      }
    }

    &.btnSmall {
        padding: 1px 10px 2px;
        font-size: 12px;
        font-weight: $normal;
        border-radius: 3px;
        height: 20px;
    }

    &.btnXSmall {
        padding: 1px 5px 0px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
        height: 21px;
    }

    &.btnIcon {
        background: rgb(145, 156, 161);
        border : 1px solid $secondary-gray-6;

        color: #a7a9ac;
        background-color: #e5e6e6;

        padding: 2px;
        height: auto;

        &.active {
            background-color: #e5ffc3;
            color: #91cc4a;
        }

        .icon {
            font-size: 18px;
            position: relative;
            top: 1px;
        }
    }

    &.disabled, &:disabled {
        background : linear-gradient(0deg, rgba(217, 217, 217, 1) 0%, rgba(233, 234, 235, 1) 100%) !important;
        border-color : $primary-gray-3 !important;
    }

    &.secondary {
        background: #919ca1;
        border-color : #848f94;
    }

    &.btnLtGray {
        background: rgb(145, 156, 161);
        background : -moz-linear-gradient(50% 100% 90deg,rgba(156, 167, 173, 1) 0%,rgba(145, 156, 161, 1) 20.97%,rgba(165, 176, 184, 1) 100%);
        background : -webkit-linear-gradient(90deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
        background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(156, 167, 173, 1) ),color-stop(0.2097,rgba(145, 156, 161, 1) ),color-stop(1,rgba(165, 176, 184, 1) ));
        background : -ms-linear-gradient(90deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microso.gradient(startColorstr='$secondary-gray-8', endColorstr='#A5B0B8' ,GradientType=0)";
        background : linear-gradient(0deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
        border : 1px solid $secondary-gray-6;
    }

    &.btnLtRed {
        background : -moz-linear-gradient(50% 100% 90deg,rgba(221, 120, 120, 1) 0%,rgba(252, 144, 144, 1) 100%);
        background : -ms-linear-gradient(90deg, rgba(221, 120, 120, 1) 0%, rgba(252, 144, 144, 1) 100%);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#DD7878', endColorstr='#FC9090' ,GradientType=0)";
        background : linear-gradient(0deg, rgba(221, 120, 120, 1) 0%, rgba(252, 144, 144, 1) 100%);
        border-style : Solid;
        border-color : #D96670;
        border-color : rgba(217, 102, 112, 1);
        border-width : 1px;
    }

    &:focus {
        outline: 0;
    }
}

.revupBtnDefault:disabled {
    background : linear-gradient(0deg, rgba(217, 217, 217, 1) 0%, rgba(233, 234, 235, 1) 100%);
    border : 1px solid $primary-gray-3;
}

.revupBtnGray {
    background: rgb(145, 156, 161);
    background : -moz-linear-gradient(50% 100% 90deg,rgba(156, 167, 173, 1) 0%,rgba(145, 156, 161, 1) 20.97%,rgba(165, 176, 184, 1) 100%);
    background : -webkit-linear-gradient(90deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(156, 167, 173, 1) ),color-stop(0.2097,rgba(145, 156, 161, 1) ),color-stop(1,rgba(165, 176, 184, 1) ));
    background : -ms-linear-gradient(90deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microso.gradient(startColorstr='$secondary-gray-8', endColorstr='#A5B0B8' ,GradientType=0)";
    background : linear-gradient(0deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
    border : 1px solid $secondary-gray-6;
    font-weight: $semiBold;
    font-size: 14px;
    color: $whiteText;
    border-radius: 4px;
    padding: 5px 10px;
    line-height: 1px;

    height: 24px;
    outline: 0;
    //width: 100px;
    &:focus {
        outline: 0;
    }

    &:disabled {
        background: #ccc;
        cursor: default;
    }
}

.revupBtnDiv {
    display: inline-block;

    height: 22px;
    min-width: 60px;
    padding: 1px 10px;
    font-size: 12px;
    text-transform: capitalize;
    border: 1px solid #6eaadb;
    border-radius: 3px;
    background: linear-gradient(0deg, rgba(121, 163, 199, 1) 0%, rgba(144, 195, 240, 1) 100%);
    cursor: pointer;
    color: $whiteText;

    &.btnColorGray {
        border-color: #919bA1;
        background: linear-gradient(0deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
    }

    &.btnColorGreen {
        border-color: $secondary-green-4;
        background: linear-gradient(0deg, rgba(139, 191, 84, 1) 0%, rgba(127, 179, 70, 1) 25.27%, rgba(141, 207, 68, 1) 99.46%);
    }


    &.btnDisabled {
        opacity: .5;
        cursor: default;
    }

    &>div {
        text-align: center;
    }
}

/*
 *
 * Revup Popup Dialog
 *
 */
.revupDlg {
    display: none;
    background-color: $grayBackgroundColor;
    width: 400px;
    position: absolute;
    z-index: 10000;
    font-size: 14px;
    border: 1px solid $grayBorder;
    border-radius: 4px;
    top: 200px;
    left: calc(50% - 200px);

    .dlgHeader {
        font-weight: bold;
        padding: 10px;
    }

    .dlgTabs {
        border-bottom: 1px solid $grayBorder;

        .dlgTab {
            float: left;
            padding: 5px 15px;
            border: 1px solid $grayBorder;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            cursor: pointer;
            position: relative;
            top: 1px;

            &:not(:first-child) {
                margin-left: 2px;
            }

            &.active {
                border-bottom-color: $grayBackgroundColor;
                font-weight: bold;
                cursor: default;
            }
        }

        &:after {
            @include clearFloat;
        }
    }


    .dlgBody {
        padding: 10px 20px;

        &.errorMsg {
            padding: 0 20px;

            .dlgLine {
                padding: 0;
                height: 32px;
            }
        }

        .dlgLine {
            width: 100%;
            padding: 10px 0;

            .label {
                float: left;
                font-size: 100%;
                font-weight: normal;
                text-align: right;
                padding-left: 0;
                color: $blackText;
                width: 25%;
            }

            .content {
                float: left;
                width: 75%;
            }

            &:after {
                @include clearFloat;
            }
        }
    }

    .dlgBtn {
        text-align: right;
        padding: 10px;

        .cancelBtn {
            display: inline-block;
            margin-right: 20px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}



/*
 *
 * Revup Panel
 *
 */
.revup-panel {
    border: 1px solid $primary-gray-4;
    border-radius: 8px;
    color: $primary-gray-6;
    background : linear-gradient(0deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);

    .panel-header {
        padding: 5px 10px;

        .bold-text {
            font-size: 18px;
            font-weight: $semiBold;
        }
    }

    .center-content {
        text-align: center;
    }

    .panel-body {
        padding: 10px;

        .fieldInError {
            color: $redText !important;
            border-color: $redText !important;

            input, .selectLst {
                color: $redText !important;
                border-color: $redText !important;
            }
        }

        .row {
            margin-left: -10px;
            margin-right: -10px;
        }

        a {
            color: $blueText;

            &:hover, &:focus {
                text-decoration: none;
            }
        }

        .container-row {
            border: 1px solid transparant;
            border-radius: 4px;
            //background-color: $whiteText;

            &:not(:first-child) {
                margin-top: 15px;
            }

            &.container-border {
                border: 1px solid $grayBorder;
            }

            input[type=text], input[type=password] {
                width: 100%;
                border: 1px solid $grayBorder;
                border-radius: 4px;
                color: $blackText;
                background-color: $whiteText;
                font-size: 15px;
                padding: 2px 5px;

                &:-webkit-autofill {
                    -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
                    -webkit-text-fill-color: $primary-gray-6;
                }

                &:focus {
                    outline: none;
                    outline-offset: none;
                }

                &.inputError, &.inputFormatError {
                    color: $redText;
                    border-color: $redText;
                }
            }

            input[readonly] {
                cursor: not-allowed;
                background-color: #eee;
                opacity: 1;
            }

            .selectLst {
                position: relative;
                display: inline-block;
                vertical-align: middle;

                a.btn {
                    padding: 2px 4px;
                    border-radius: 4px;
                    border: 1px solid $grayBorder;
                    background-color: $whiteText;
                    text-align: left;
                    margin-top: -5px;
                    height: 27px;
                    color: $primary-gray-6;

                    span {
                        margin-left: 3px;
                    }
                }

                ul {
                    max-height: 125px;
                    overflow-x: auto;

                    a {
                        color: $primary-gray-6;
                        line-height: 1.1;
                        padding: 1px 4px;
                    }
                }

            }
        }

        .container-group {
            margin-top: 15px;

            .left-side {
                float: left;
            }

            .right-side {
                float: right;
            }

            &:after {
                content: '.';
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }
        }

        .checkbox, .radio {
            margin-top: 0;
            margin-bottom: 0;
            cursor: pointer;

            input[type=checkbox], input[type=radio] {
                cursor: pointer;
            }
        }
    }

    &.large-padding > .panel-body {
        padding: 15px 60px 25px;
    }
}

/*
 *
 * Bootstrap helpers
 *
 */
.center-column {
    margin-left: auto;
    margin-right: auto;

    display: block;
    float: none;
}

/*
 *
 * Bootstrap Date Picker
 *
 */
.datepicker {
    table {
        tr td, tr th {
            width: 25px;
            height: auto;
        }
    }

    &.dropdown-menu {
        font-family: SourceSansPro, "Source Sans Pro", sans-serif;
        font-size: 13px;
        line-height: 1.1;

        th, td {
            padding: 2px 2px;
        }
    }
}

/*
 *
 * Style and override bootstrap
 *
 */
a {
    color: $blueText;
    text-decoration: none;
    background-color: transparent;

    &:hover {
        color: $blueText !important;
        text-decoration: underline !important;
    }

    &:active, &:focus {
        color: $blueText !important;
        outline: none !important;
        outline-offset: 0 !important;
    }
}

.btn:focus {
    outline: none;
    outline-offset: 0;
}

.panel-info {
    border-color: $primary-green-1;
}
.panel-info>.panel-heading, .panel-heading {
    background-image: linear-gradient(0deg, rgba(114, 176, 86, 1) 0%, rgba(160, 214, 139, 1) 100%);
    color: $whiteText;
    border-color: $primary-green-1;
}

.form-control {
    box-shadow: none;
    transition: none;
}

/*
 *
 * Context menu
 *
 */
.contextMenu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    //font-family: sans-serif;
    font-size: 14px;
    line-height: 1.2;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.contextMenu li {
    padding: 5px 10px;
    cursor: pointer;
    list-style-type: none;
    transition: all .2s ease;
    user-select: none;

    &:hover {
        background-color: $primary-blue-1;
    }
}

/*
 *
 * dropdown menu
 *
 */
.aboutRevupPopup, .cancelRevupPopup, .confirmCancelRevupPopup {
    .aboutText {
        color: $whiteText;
        font-weight: 300;
        text-align: center;
    }
    a {
        text-decoration: underline;
        color: $whiteText;
    }
    .aboutHeaderLogo {
        width: 120px;
        margin: 10px auto 20px auto;
    }
    .msgBodyDiv, .btnDiv {
        background-color: $primary-green-1 !important;
        color: $blackText !important;

        .revupBtnDefault.okBtn {
            background-color: $whiteBackground;
            color: $blackText !important;
            border: 0px !important;
            border-radius: 20px;
            width: 70px;
            height: 30px;
        }
    }
}

/*
 *
 * Control Button (buttons inside Top Button Bar)
 *
 */
.btnCntl {
    height: 44px;
    min-width: 44px;
    border: 1px solid #d1d2d3;
    border-radius: 2px;
    padding: 3px 10px;
    background : linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(217, 217, 217, 1) 20.07%, rgba(232, 232, 232, 1) 100%);
    margin-right: 5px;
    float: left;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    position: relative;
    color: $primary-gray-6 !important;

    &.csvChooseFile {
        a:hover, a:active, a:focus {
            //color: $whiteText !important;
            text-decoration: none !important;
        }
    }

    &:first-of-type {
        margin-left: 2px;
    }

    .txt {
        font-size: 11px;
        line-height: 13px;
        color: $iconText;
    }

    .multLineTxt {
        font-size: 12px;
        line-height: 12px;
        color: $iconText;
        white-space: normal;
    }

    .icon {
        font-size: 20px;
        line-height: 20px;
        margin-top: 1px;
        color: $primary-gray-5;
    }

    &.disabled {
        border-color: #e4e6e8;
        background: transparent;
        cursor: default;

        .txt, .multLineTxt {
            color: $primary-gray-3;
        }

        .icon {
            color: $primary-gray-3;
        }
    }

    &.onBoarding {
        background: $primary-green-1;
        -webkit-animation-name: analyze; /* Chrome, Safari, Opera */
        -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
        animation-name: analyze;
        animation-duration: 2s;
        animation-iteration-count: infinite;

        /* Chrome, Safari, Opera */
        @-webkit-keyframes analyze {
            0% {
                //background-color: $primary-green-1;
                opacity: 1;
            }
            50% {
                //background-color: #b4f253;
                opacity: .5;
            }
            100% {
                //background-color: $primary-green-1;
                opacity: 1;
            }
        }

        /* Standard syntax */
        @keyframes analyze {
            0% {
                //background-color: $primary-green-1;
                opacity: 1;
            }
            50% {
                //background-color: #b4f253;
                opacity: .5;
            }
            100% {
                //background-color: $primary-green-1;
                opacity: 1;
            }
        }


        .txt {
            color: $whiteText;
        }

        .icon {
            color: $whiteText;
        }
    }
}


// @import "apps/home.scss";
// @import "apps/contacts.scss";
// @import "apps/campaign_admin.scss";
// @import "apps/create_client.scss";
// @import "apps/ranking.scss";
// @import "apps/prospect.scss";
// @import "apps/events.scss";
// @import "apps/contact_import.scss";
// @import "apps/fundraisers.scss";
// @import "apps/skiningTool.scss";
// @import "apps/newFilters.scss";
