{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}


<!DOCTYPE html>

<html lang="en" {% block html_attrs %}{% endblock html_attrs %}>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}RevUp Software{% endblock title %}</title>

        <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
        <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">

        <!-- Bootstrap -->
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap-theme.min.css">
        {% block extra_boostrap_css %}{% endblock extra_boostrap_css %}

        <link href="{% static "css/styles.css" %}" rel="stylesheet">
        <link href="{% static "css/revupWidgets.css" %}" rel="stylesheet">
        <link href="{% static "css/revupWizard.css" %}" rel="stylesheet">
        <link href="{% static "css/revupicons.css" %}" rel="stylesheet">
        <link href="{% static "css/piFont.css" %}" rel="stylesheet">

        {% block section_css %}{% endblock section_css %}

        {% block page_css %}{% endblock page_css %}

        {% block section_head_scripts %}{% endblock section_head_scripts %}

        {% block page_head_scripts %}{% endblock page_head_scripts %}
    </head>

    <body role="document" class="backgroundDiv {% if account_type == "N" %}nonprofit{% elif account_type == "P" %}political{% endif %}" {% block body_attrs %}{% endblock body_attrs %}>
        <div class="container" {% block main_attrs %}{% endblock %}>
            <div class="mainSection">
                {# If a user is being impersonated, we need to display that to the impersonating user #}
                {% if request.user.is_impersonate %}
                    <div class="alert alert-danger impersonator-alert" role="alert">
                        <div class="row">
                            <div class="col-md-1">
                                <a class="btn btn-danger btn-sm" onclick="clearLocalStorage();" href="{% url "impersonate-stop" %}">Stop</a>
                            </div>
                            <div class="col-md-6">
                                <h5>You are impersonating the user: &nbsp;&nbsp;{{ request.user.name }} ({{ request.user.email }})</h5>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% block body %}{% endblock body %}
            </div>

            <footer>
                <div class="footerDiv">
                    <div class="footerText">
                        &copy;RevUp Software <span class='footerCurrentYear'>{% now "Y" %}</span>. All rights reserved.{% if product_version %}
                        &nbsp;&#124;&nbsp;
                        <span class="footerAppVersion">Version: {{ product_version }}{% endif %}{% if product_release_date %}
                        &nbsp;&#124;&nbsp;
                        </span>
                        Release Date: {{ product_release_date }}{% endif %}
                        &nbsp;&#124;&nbsp;
                        <a href="http://www.revup.com/privacy/">Privacy</a>
                        &nbsp;&#124;&nbsp;
                        <a href="mailto:info@revup.com">Contact Us</a>
                    </div>

                    <div class="footerLinks">
                        <a href="http://twitter.com/revupsoftware" target="_blank">
                            <div class="icon icon-twitter-bird"></div>
                        </a>
                        <a href="http://www.facebook.com/pages/RevUp-Software/1780911162133990" target="_blank">
                            <div class="icon icon-facebook"></div>
                        </a>
                        <a href="http://www.linkedin.com/company/revup-software" target="_blank">
                            <div class="icon icon-linkedin"></div>
                        </a>
                    </div>
                </div>
                {% block footer %}{% endblock footer %}
            </footer>
        </div> <!-- end of container -->

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.0/js.cookie.min.js"></script>

        {% block section_foot_scripts %}{% endblock section_foot_scripts %}

        {% block page_foot_scripts %}{% endblock page_foot_scripts %}

        {% include "analytics/mixpanel.html" %}
        {% include "analytics/google_analytics.html" %}
    </body>
</html>
