{% extends "campaign_admin/base_campaign_admin.html" %}

{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}

{% block extra_boostrap_css %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.min.css"/>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2-bootstrap.min.css"/>
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
{% endblock extra_boostrap_css %}


{% block getting_started_target %}{% endblock %}


{% block content %}
 <div class="campaignAdmin">
    {% block breadcrumbs %}
        {% if request.breadcrumbs %}
        <ol class="breadcrumb">
            {% for breadcrumb in request.breadcrumbs %}
                {% if forloop.last %}
                    <li class="active">{{ breadcrumb.name }}</li>
                {% else %}
                    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
    {% endblock breadcrumbs %}

    {% include "campaign_admin/account_settings.html" %}
</div>

{% route "university" %}
    <div class="revupDlg addNewFundDlg">
        <div class="dlgHeader">Add New Fundraiser</div>
        <div class="dlgTabs">
            <div class="dlgTab active" dlgBody="addUser">Add User</div>
            <div class="dlgTab" dlgBody="blkAdd">Bulk Add</div>
        </div>
        <div class="dlgBody addUser" style="height:200px">
            <div style="line-height:1.1em">
                Enter the email address and select the user role for the
                new fundraiser. Once the Add button is clicked an invitation
                to join will be sent.
            </div>

            <form class="form-horizontal" role="form" id="id-add-user-form">
                {% csrf_token %}
                <input class="role" name="role" type="hidden" value="-1">

                <div class="dlgLine">
                    <div class="label">Email Address</div>
                    <div class="content">
                        <input type="text" class="emailAddress" name="email">
                    </div>
                </div>

                <div class="dlgLine">
                    <div class="label">Role</div>
                    <div class="content">
                        <div class="dropdownLst role"></div>
                    </div>
                </div>

                <div class="dlgLine">
                    <div class="label">Add to team</div>
                    <div class="content">
                        <div class="dropdownLst addTeam"></div>
                    </div>
                </div>
            </form>
        </div>
        <div class="dlgBody blkAdd" style="display:none;height:200px;">
            <div style="line-height:1.1em">
                <p>
                    Your csv file should follow this format:
                </p>

                <div class="tableOuterDiv">
                    <div class="tableInnerDiv">
                        <table>
                            <tr>
                                <th> </th>
                                <th>A</th>
                                <th>B</th>
                                <th>C</th>
                                <th>D</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Email</td>
                                <td>Role</td>
                                <td>Team</td>
                                <td>Team Position</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>john@doe.com</td>
                                <td>Admin</td>
                                <td>Team A</td>
                                <td>Manager</td>
                            </tr>
                        </table>
                        <div style="text-align:left;">
                            "Email" is a required column
                        </div>
                    </div>
                </div>

                <p>
                    Select your local csv file to upload multiple fundraiser's at once.
                </p>

            </div>
            <div class="dlgLine">
                <input type="file" style="display:none;" class="bulkUserFile" />
                <div class="input-append fileBtn" imgWidth="20" imgHeight="20">
                    <button type="button" style="font-weight:normal" class="btn btn-default btn-xs revupBtnGray" onclick="stylizedFilePressed(this, $('.bulkUserFile'))">Choose File</button>
                    <span class="fileName">No File Selected</span>
                </div>
            </div>
        </div>

        <div class="dlgBody errorMsg">
            <div class="dlgLine">
                <div class="alert" id="id-email-submit-alert">
                  <div class="alert-content"></div>
                </div>
            </div>
        </div>

        <div class="dlgBtn">
            <div class="cancelBtn">Close</div>
            <button class="revupBtnDefault addFundraiserBtn" type="button">Add</button>
        </div>
    </div>

    <div class="revupDlg addNewTeamDlg">
        <div class="dlgHeader">Add New Team</div>
        <div class="dlgBody">
            <div style="line-height:1.1em">
                Enter a team name that has not been used for this campaign.
            </div>

            <div class="dlgLine">
                <div class="label">New Team Name</div>
                <div class="content">
                    <input type="text" class="teamName">
                </div>
            </div>

            <div class="dlgLine">
                <div class="alert" id="id-email-submit-alert">
                  <div class="alert-content"></div>
                </div>
            </div>
        </div>

        <div class="dlgBtn">
            <div class="cancelBtn">Close</div>
            <button class="revupBtnDefault addFundraiserBtn" type="button">Add</button>
        </div>
    </div>

    <div class="teamMgrPopupMsg">
        <div class="msgTxt">
            Team Managers coordinate and run the team and are available to handle
            donors with a history of large donations.
        </div>
    </div>

{% endroute %}


<!-- Modal -->
<div class="modal fade" id="upload-external-data" tabindex="-1" role="dialog" aria-labelledby="upload-external-data-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="upload-external-data-label">Upload external data</h4>
            </div>
            <form enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <select>
                        {% for source in sources %}
                        <option value="{{ source }}">{{ source }}</option>
                        {% endfor %}
                    </select>
                    <input type="file"/>
                    <h4 id="upload-external-data-status">&nbsp;</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Upload Data</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_foot_scripts %}
{% if account %}
<script type="text/javascript">
{#var upload_external_data_link = "{% url "account_api-detail" account.id %}" + "upload_external_data/";#}
var account_seats_api = "{% url "account_seats_api-list" account.id %}";

$(function ()  {
    {% block initJSBlock %}
    {% endblock initJSBlock %}

});

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{% static "js/apps/accountSettings.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/apps/skiningTool.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/revup.js" %}" charset="utf-8"></script>
<script type="text/javascript">
    $(function() {
        accountSettings.load(fieldsLst);
    });

    $('.skinningBtn').on('click', function(e) {
        var skiningTemplate = {
            // id's
            accountId:          "{{account.id}}",
            seatId:             "{{user.current_seat.id}}",
            defaultIconText:    "{{account.default_icon_text}}",

            // candidate name & image
            candidateName:  "{{ account.display_name}}",
            candidateImage: "{{ account.get_candidate_icon  }}",

            // current skin - if one
            {% if current_skin.id %}
                currentSkinId: {{ current_skin.id }},
                currentSkinTitle: "{{ current_skin.title }}",
                currentSkinDescription: "{{ current_skin.description }}",
            {% endif %}


            // urls
            {% route "nonprofit" %}
                logoUrl: "{% static "img/nonprofit-logo.png" %}",
            {% elseroute %}
                logoUrl: "{% static "img/new-revup-logo.png" %}",
            {% endroute %}
            {# If the account banner is set, use it as the default #}
            {% if account.banner %}
                bannerUrl: "{{ MEDIA_URL }}{{ account.banner }}",
            {% else %}
                {% route "university" %}
                    bannerUrl: "{% static "img/homePageBanners/academic-banner.png" %}",
                {% elifroute "nonprofit" %}
                    bannerUrl: "{% static "img/homePageBanners/nonprofit-banner.jpg" %}",
                {% elseroute %}
                    bannerUrl: "{% static "img/homePageBanners/revup-banner.png" %}",
                {% endroute %}
            {% endif %}

            // ajax urls
            themeLstUrl: "{% url "ux_skins_api-list" account.id %}",
            themeSaveUrl: "{% url "ux_skins_api-detail" account.id "themeId" %}",
            setActiveSkinUrl: "{% url "account_api-detail" account.id %}",

            // current template
            currentTemplate: {
                settings: {{ current_skin.settings | jsonify }},
                title: "{{ current_skin.title }}",
                description: "{{ current_skin.description }}",
                {% if current_skin.id %}
                    id: {{ current_skin.id }},
                {% endif %}
                bannerUrl: "{{ current_skin.banner }}",
                logoUrl: "{{ current_skin.branding_logo }}",
            },

            // type of user
            isStaff: false,

            // template for
            {% route "university" %}
                isAcademic:             true,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   false,
            {% elifroute "polcam" %}
                isAcademic:             false,
                isPoliticalCampaign:    true,
                isPoliticalCommittee:   false,
            {% elifroute "polcom" %}
                isAcademic:             false,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   true,
            {% elifroute "nonprofit" %}
                isAcademic:             false,
                isPoliticalCampaign:    true,
                isPoliticalCommittee:   false,
            {% elseroute %}
                isAcademic:             false,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   false,
            {% endroute %}

        }
        skiningTool.load(skiningTemplate);
    })
</script>
{% endif %}
{% endblock page_foot_scripts %}
