<!DOCTYPE html>
<html>
<body>
{% if inviting_user %}<p>{{inviting_user.name}} (<a href="mailto:{{inviting_user.email}}">{{inviting_user.email}}</a>) has provided you with fundraising technology from RevUp Software.</p>{% endif %}
<p>It's time to accelerate your fundraising. Welcome to RevUp Software.</p>
<p>Now you can equip your fundraisers with the most powerful fundraising tool available.</p>
{% if not user.is_active %}
<p><a href="{{ protocol_host }}{% url "finish_account_register" token.token %}?next={% url "campaign_admin_home" %}">Click here to set up your RevUp account</a></p>
{% else %}
<p><a href="{{ protocol_host }}{% url "campaign_admin_home" %}">Get Started</a></p>
{% endif %}
<p>If you're unable to open this link, you can copy the URL below and paste it into your web browser's address bar:</p>
{% if not user.is_active %}
<p>{{ protocol_host }}{% url "finish_account_register" token.token %}?next={% url "campaign_admin_home" %}</p>
{% else %}
<p>{{ protocol_host }}{% url "campaign_admin_home" %}</p>
{% endif %}
</body>
</html>
