<!DOCTYPE html>
<html>
<body>
<p>{% if inviting_user %}{{inviting_user.name}} (<a href="mailto:{{inviting_user.email}}">{{inviting_user.email}}</a>) with {% endif %}{{ account.title }} has provided you with fundraising technology from RevUp Software.</p>
<p>RevUp maximizes your fundraising efforts by analyzing and ranking your personal contacts. The process only takes seconds.</p>
<p>To get started you will need to authorize RevUp to access your Gmail, LinkedIn, and Outlook contacts.
    Once you have loaded your contacts, you can quickly analyze your network and start fundraising.</p>
{% if not user.is_active %}
<p><a href="{{ protocol_host }}{% url "finish_account_register" token.token %}">Click here to set up your RevUp account</a></p>
{% else %}
<p><a href="{{ protocol_host }}">Get Started</a></p>
{% endif %}
<p>If you're unable to open this link, you can copy the URL below and paste it into your web browser's address bar:<br />
{% if not user.is_active %}
  {{ protocol_host }}{% url "finish_account_register" token.token %}</p>
{% else %}
  {{ protocol_host }}</p>
{% endif %}
<p><b>NOTE</b>: This is your data. RevUp is an analytics tool that helps you better analyze your contacts.
    RevUp will help you be more efficient, effective, and respectful with your fundraising.
    RevUp treats your contact information with total privacy. RevUp will not share your data with {{ account.title }},
    or any other third party, without your explicit permission.</p>
</body>
</html>
