<!DOCTYPE html>
<html>
<body>
<p>{% if inviting_user %}{{inviting_user.name}} (<a href="mailto:{{inviting_user.email}}">{{inviting_user.email}}</a>) with {% endif %}{{ account.title }} has provided you with fundraising technology from RevUp Software.</p>
<p>Maximize your fundraising efforts. Analyze your network and target your best prospects in seconds.</p>
{% if not user.is_active %}
<p><a href="{{ protocol_host }}{% url "finish_account_register" token.token %}">Click here to set up your RevUp account</a></p>
{% else %}
<p><a href="{{ protocol_host }}">Get Started</a></p>
{% endif %}
If you're unable to open this link, you can copy the URL below and paste it into your web browser's address bar:
{% if not user.is_active %}
<p>{{ protocol_host }}{% url "finish_account_register" token.token %}</p>
{% else %}
<p>{{ protocol_host }}</p>
{% endif %}
</body>
</html>
