{% extends "shared/base.html" %}

{% load humanize %}
{% load staticfiles %}


{% block section_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/error.css" %}">
{% endblock section_css %}

{% block body %}
<main class="error" role="main">
    <div class="sysErrorDiv">
        <div class="leftSide">
            {% block left_side %}{% endblock left_side %}
        </div>
        <div class="rightSide">
            {% block right_side %}{% endblock right_side %}
        </div>
    </div>
</main>
{% endblock body %}
