{% extends "shared/base.html" %}

{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}

{% block extra_boostrap_css %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
{% endblock extra_boostrap_css %}

{% block section_css %}
<link href="{% static "css/apps/csvValidator.css" %}" rel="stylesheet">
<link href="{% static "css/apps/entitySearch.css" %}" rel="stylesheet">

<link href="{% static "css/onboard/onboard.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/qualifier.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/onboard_qualifier.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/wizard.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/splashScreen.css" %}" rel="stylesheet">

<link href="{% static "css/onboard/signUp/signUp.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/signUp/contract.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/signUp/creditCard.css" %}" rel="stylesheet">

<link href="{% static "css/onboard/config/campaignInfo.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/config/education.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/config/issues.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/config/givingData.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/config/pacCommitteeInfo.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/config/similarToMine.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/config/termsOfService.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/config/nonProfitInfo.css" %}" rel="stylesheet">
<link href="{% static "css/onboard/config/similarOrgs.css" %}" rel="stylesheet">
{% endblock section_css %}

{% block body %}
<main class="onboard" role="main">
    {% block headerImage %}
        <div class="headerImageDiv">
            <img class="logo" src="{% static "img/Logo.svg" %}" />
        </div>
    {% endblock headerImage %}
    {% block headerTextBlock %}
        <div class="headerTextDiv">
            <div class="headerText">
                {% block headerText %}{% endblock headerText %}
            </div>
        </div>
    {% endblock headerTextBlock %}
    {% block content_div %}
        {% block content %}{% endblock content %}
    {% endblock content_div %}
</main>
{% endblock body %}

{% block footer %}
    <div class="messageContainer">
        {% block messagePage %}{% endblock messagePage %}
    </div>
{% endblock footer %}

{% block section_foot_scripts %}
<script src="{% static "js/revup.js" %}"></script>
<script src="{% static "js/revupWizard.js" %}"></script>
<script src="{% static "js/revupUtils.js" %}"></script>
<script src="{% static "js/revupListView.js" %}"></script>
<script src="{% static "js/revupConstants.js" %}"></script>
<script src="{% static "js/apps/entitySearch.js" %}"></script>
<script src="{% static "js/onboard/config/campInfoConfig.js" %}"></script>

<script>
    // images
    var loadingImg = "{% static "img/loadingCenterIcon.svg" %}";
    contactImages = {
        appleImg:       "{% static "img/contactsourceicons/apple-xsm.svg" %}",
        csvImg:         "{% static "img/contactsourceicons/csv-xsm.svg" %}",
        gmailImg:       "{% static "img/contactsourceicons/gmail-xsm.svg" %}",
        linkedInImg:    "{% static "img/contactsourceicons/linkedin-xsm.svg" %}",
        outlookImg:     "{% static "img/contactsourceicons/outlook-xsm.svg" %}",
        allImg:         "{% static "img/contactsourceicons/all-xsm.svg" %}",
        savedImg:       "{% static "img/contactsourceicons/revup-xsm.svg" %}",
        mobileImg:      "{% static "img/contactsourceicons/mobile-xsm.png" %}",
        unknownImg:     "{% static "img/contactsourceicons/unknown-xsm.svg" %}"
    };
</script>
{% endblock section_foot_scripts %}
