{% extends "shared/base.html" %}

{% load staticfiles %}


{% block page_css %}
<link href="{% static "css/signin.css" %}" rel="stylesheet">
{% endblock page_css %}

{% block body %}
<main class="unauthenticated" role="main">
    <div class="col-sm-5 center-column" style="width:680px">
        {% block content2 %}{% endblock content2 %}
    </div>
</main>
{% endblock body %}

{% block section_foot_scripts %}
<script src="{% static "js/revup.js" %}"></script>
<script src="{% static "js/revupUtils.js" %}"></script>
<script src="{% static "js/revupListView.js" %}"></script>
<script src="{% static "js/modernizr.js" %}"></script>

<script>
    Modernizr.load({
        test: Modernizr.input.placeholder,
        nope: "{% static "js/jquery.placeholder.js" %}",
        complete: function() {
            if (!Modernizr.input.placeholder) {
                $('input[placeholder], textarea[placeholder]').placeholder();
            }
        }
    });
</script>
{% endblock section_foot_scripts %}
