{% extends "shared/base.html" %}

{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}


{% block section_css %}
<link href="{% static "css/authenticated.css" %}" rel="stylesheet">

<link href="{% static "css/apps/manageContactMerge.css" %}" rel="stylesheet">
<link href="{% static "css/apps/skiningTool.css" %}" rel="stylesheet">
<link href="{% static "css/apps/entitySearch.css" %}" rel="stylesheet">
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.css"/>
{% route 'university' %}
<link href="{% static "academic/css/stylesAcademic.css" %}" rel="stylesheet">
{% endroute %}
{% endblock section_css %}

{% block section_head_scripts %}
<script>
    var doNoRunRevupAlert = false;
</script>

<script src="{% static "js/loadSkin.js" %}"></script>

<script>
    var loadingImg = "{% static "img/loadingCenterIcon.svg" %}";

    // load the current skin
    var currentSkin = {
        settings: {{ current_skin.settings | jsonify }},
        title: "{{ current_skin.title }}",
        description: "{{ current_skin.description }}",
        {% if current_skin.id %}
            id: {{ current_skin.id }},
        {% endif %}
        {% if current_skin.banner %}
            bannerUrl: "{{ current_skin.banner }}",
        {% elif account.banner %}
            bannerUrl: "{{ account.banner }}",
        {% else %}
            bannerUrl: "",
        {% endif %}
        logoUrl: "{{ current_skin.branding_logo.name }}",

        defaultAccountIconText: "{{account.default_icon_text}}",
    };

    var features = {{ account_profile.product.features | jsonify }};


    // inject the current skin css into the head
    var h = document.getElementsByTagName('head').item(0);
    var s = document.createElement("style");
    s.type = "text/css";
    s.appendChild(document.createTextNode(loadSkin(currentSkin.settings)));
    h.appendChild(s);
</script>

<script>
    function clearLocalStorage() {
        localStorage.removeItem('rankingFilter');
        localStorage.removeItem('rankingFilterStyle');
        localStorage.removeItem('rankingFilterAdvData');
        localStorage.removeItem('rankingFilterBasicData');

        localStorage.removeItem('prospectsColWidth');
        localStorage.removeItem('rankingColWidth-v3');
        localStorage.removeItem('fundraiserColWidth');
    }
</script>
{% endblock section_head_scripts %}

{% block body %}
<header>
    <div class="navbar">
        <a class="navbar-brand" href="/">
            {% if current_skin.branding_logo.name %}
                <img class="revupLogo dynamicLogo" src="{{ MEDIA_URL }}{{ current_skin.branding_logo.name }}" alt="RevUp Logo in header. Navigate to home page."/>
            {% else %}
                {% route "nonprofit" %}
                    <img class="revupLogo dynamicLogo" src="{% static "img/nonprofit-logo.png" %}" alt="RevUp Logo in header. Navigate to home page."/>
                {% elseroute %}
                    <img class="revupLogo dynamicLogo" src="{% static "img/new-revup-logo.png" %}" alt="RevUp Logo in header. Navigate to home page."/>
                {% endroute %}
            {% endif %}
        </a>

        <div class="navbarMsg">
            <div class="msgBox">
                <div class="msgText">
                    <div class="msgTextDiv">
                        <div class="icon icon-info-1"></div>
                        <div class="theMsg"></div>
                    </div>
                    <div class="msgBtnRight">
                        <div class="msgBtn btnMore">more</div>
                        <div class="msgBtn btnClose">
                            <div class="icon icon-close"></div>
                        </div>
                    </div>
                </div>
                <div class="taskList"></div>
            </div>
        </div>

        <nav class="dropdown nav navbar-nav" aria-labelledby="dropDownNav">
            <span id="dropDownNav" class="visiblyHidden">Main navigation. Login, logout, change account settings, change active seat.</span>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% if user %}
                {{ user.email }}
                {% else %}
                My Account
                {% endif %}
                <b class="icon icon-triangle-dn" aria-hidden="true"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url "select_current_seat" %}?force=1">Change Active Seat</a></li>
                {% if user.current_seat.has_admin_access %}
                    <li><a href="{% url 'campaign_admin_home' %}">Edit Account Settings</a></li>
                {% endif %}

                <hr class="dropDownHR">
                <li>
                    <a href="#" class="forceAnalysis">Force Analysis</a>
                    {% if user.is_admin %}
                        <a href="#" class="contactCleanupBtn">Contact Cleanup</a>
                        <a id="skinn" href="#">Skinning</a>
                        <a href="{% url 'staff_admin_home' %}">Staff</a>
                    {% endif %}
                </li>
                <hr class="dropDownHR">

                <li><a href="#" id="aboutRevupBtn">About RevUp</a></li>

                <hr class="dropDownHR">

                {% if user.current_seat.has_admin_access %}
                    <li><a href="{% url "account_edit_user" %}">Edit User Information</a></li>
                {% endif %}

                <li><a href="{% url "password_change" %}">Change Password</a></li>
                <li><a href="{% url "account_logout" %}">Logout</a></li>

                {# <li><a href="{% url "account_profile" %}">Details</a></li>#}
            </ul>
        </nav>
    </div>
</header>

{% block notification %}{% endblock notification %}

{% block side_nav %}
    <nav class="sideNav" aria-labelledby="sideNav">
        <span id="sideNav" class="visiblyHidden">Side navigation bar. Navigate to main sections of application.</span>

        {% route "nonprofit" %}
            {% if account_profile.product.features.PERSONAS %}
                <div class="personaTab tab {% block persona %}{% endblock %}">
                    <a href="{% url 'personas' %}">
                        <div class="tabContent">
                            <div class="icon icon-persona" aria-hidden="true"></div>
                            <div class="text">Personas</div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% elseroute %}
            <div class="homeTab tab  {%block home_page %}{% endblock %}">
                <a href="{% url 'index' %}">
                    <div class="tabContent">
                        <div class="icon icon-home" aria-hidden="true"></div>
                        <div class="text">Home</div>
                    </div>
                </a>
            </div>
        {% endroute %}

        {% if account_profile.product.features.RANKING %}
            <div class="rankingTab tab {% block active_ranking %}{% endblock %} {%block disable_ranking%}{% endblock %}">
                <a href="{% url 'analysis_result_list' %}">
                    <div class="tabContent">
                        <div class="icon icon-ranking" aria-hidden="true"></div>
                        {% route "nonprofit" %}
                            <div class="text">Analyzed Records</div>
                        {% elseroute %}
                            <div class="text">Ranking</div>
                        {% endroute %}
                    </div>
                </a>
            </div>
        {% endif %}

        {% if account_profile.product.features.CALL_TIME %}
            {% if user.current_seat.has_admin_access %}
                <div class="callTimeTab tab {% block call_time_manager %}{% endblock %}">
                    <a href="{% url 'call_time_manager' %}">
                        <div class="tabContent">
                            <div class="icon icon-call-time-mgr" aria-hidden="true"></div>
                            <div class="text">Call Time</div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endif %}

        {% if account_profile.product.features.CONTACT_MANAGER %}
            <div class="contactManagerTab tab {% block contact_manager %}{% endblock %}">
                <a href="{% url 'contact_manager' %}">
                    <div class="tabContent">
                        <div class="icon icon-contact-mgmt" aria-hidden="true"></div>
                        <div class="text">Contact Manager</div>
                    </div>
                </a>
            </div>
        {% endif %}

        {% if account_profile.product.features.LIST_MANAGER %}
            {% if user.current_seat.has_admin_access %}
                <div class="listManagerTab tab {% block list_manager %}{% endblock %}">
                    <a href="{% url 'list_manager' %}">
                        <div class="tabContent">
                            <div class="icon icon-list-mgmt" aria-hidden="true"></div>
                            <div class="text">List<br/>Manager</div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endif %}

        {% route "polcam" "polcom" %}
            {% if account_profile.product.features.PROSPECTS %}
                <div class="prospectsTab tab {% block active_event %}{% endblock %} {%block disable_prospects%}{% endblock %}">
                    <a href="{% url 'event_default' %}">
                        <div class="tabContent">
                            <div class="icon icon-tracker" aria-hidden="true"></div>
                            <div class="text">Prospects</div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endroute %}


        {% if account_profile.product.features.RAISERS %}
            {% if user.current_seat.has_admin_access %}
                <div class="raisersTab tab {% block campaign_admin_fundraisers %}{% endblock %}">
                    <a href="{% url 'campaign_admin_fundraisers' %}">
                        <div class="tabContent">
                            <div class="icon icon-raisers" aria-hidden="true"></div>
                            <div class="text">Raisers</div>
                        </div>
                    </a>
                </div>
            {% endif %}
        {% endif %}

        <div class="helpTab tab">
            <a href="/getting_started/{% block getting_started_target %}{% endblock %}" target="_blank">
                <div class="tabContent">
                    <div class="iconContainer">
                      <div class="icon icon-help-1" aria-hidden="true"></div>
                      <div class="icon icon-help-2" aria-hidden="true"></div>
                    </div>
                    <div class="text">Help</div>
                </div>
            </a>
        </div>
    </nav> <!-- end of sideNav -->
{% endblock side_nav %}

{% block content_div %}
    <main class="authenticated" role="main">
        {% block content %}{% endblock content %}
    </main>
{% endblock content_div %}
{% endblock body %}


{% block section_foot_scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/spectrum/1.8.0/spectrum.min.js"></script>
<script src="{% static "js/revup.js" %}"></script>
<script src="{% static "js/revupWizard.js" %}"></script>
<script src="{% static "js/revupUtils.js" %}"></script>
<script src="{% static "js/revupListView.js" %}"></script>
<script src="{% static "js/revupConstants.js" %}"></script>
<script src="{% static "js/apps/manageContactMerge.js" %}"></script>
<script src="{% static "js/modernizr.js" %}"></script>
<script src="{% static "js/apps/skiningTool.js" %}" charset="utf-8"></script>
<script src="{% static "js/apps/entitySearch.js" %}" charset="utf-8"></script>

{% block extra_scripts %}
{% endblock extra_scripts %}

<script>
    // images
    taskBarImages = {
        appleImg:       "{% static "img/contactsourceicons/apple-xsm.svg" %}",
        csvImg:         "{% static "img/contactsourceicons/csv-xsm.svg" %}",
        gmailImg:       "{% static "img/contactsourceicons/gmail-xsm.svg" %}",
        linkedInImg:    "{% static "img/contactsourceicons/linkedin-xsm.svg" %}",
        outlookImg:     "{% static "img/contactsourceicons/outlook-xsm.svg" %}",
        allImg:         "{% static "img/contactsourceicons/all-xsm.svg" %}",
        savedImg:       "{% static "img/contactsourceicons/revup-xsm.svg" %}",
        mobileImg:      "{% static "img/contactsourceicons/mobile-xsm.png" %}",
        unknownImg:     "{% static "img/contactsourceicons/unknown-xsm.svg" %}",
    };

    // see if the alertBar finsh should be displayed
    var bAlertBarDisplayFinish = '{% block alertBarDisplayRefresh %}{% endblock %}' == 'true' ? true : false;
    var bOnRankingPage = $('.rankingTab').hasClass('active');


    var productTier = '{{ account.account_profile.product.title }}';
    var expire = '{{ account.contract_renews }}';

    {% if user.is_authenticated %}

        //contact cleanup URLs
        var getContactNeedAttentionLst = "{% url "user_contacts_api-list" user.id %}needs_attention_list/";
        var getContactDetailsNeedAttention = "{% url "user_contacts_api-detail" user.id "contactId" %}needs_attention/";
        var contactCleanupHelpImg = "{% static "img/contact-cleanup.png" %}";

        //edit contact URLs
        var userContactsURL = "{% url "user_contacts_api-list" user.id %}";
        var isAdmin = "{{user.current_seat.has_admin_access}}";

        {% if account %}
            var accountContactsURL = "{% url "account_contacts_api-list" account.id %}";
            var getSharedNeedAttentionLst = "{% url "account_contacts_api-list" account.id %}needs_attention_list/";
            var getSharedDetailsNeedAttention = "{% url "account_contacts_api-detail" account.id "contactId" %}needs_attention/";
            var accountDetailURL = "{% url "account_api-detail" account.id %}";
        {% endif %}

    {% endif %}


    Modernizr.load({
            test: Modernizr.input.placeholder,
            nope: "{% static "js/jquery.placeholder.js" %}",
            complete: function() {
                if (!Modernizr.input.placeholder) {
                    $('input[placeholder], textarea[placeholder]').placeholder();
                }
            }
    });
</script>

<script>
    $('#aboutRevupBtn').on('click', function(e) {
        var sTmp = [];
        sTmp.push('<div class="aboutRevupDlg">');
            sTmp.push('<div class="aboutHeaderLogo">');
                sTmp.push('<img src="{% static "img/Logo-Black.svg" %}" />');
            sTmp.push('</div>');
            sTmp.push('<div class="aboutText">');
                sTmp.push('© ' + {% now "Y" %} + ' RevUp Software. All rights reserved.');
                sTmp.push('<br>');
                sTmp.push('<br>');
                sTmp.push('This version of RevUp ' + productTier +' was licensed to ');
                sTmp.push('<br>');
                sTmp.push("{{account.organization_name}}");
                sTmp.push(' on ');
                sTmp.push("{{account.start_date}}" + '. It will');
                sTmp.push('<br>');
                sTmp.push('automatically renew on ' + expire);
                sTmp.push('. <br>');
            sTmp.push('</div>');
        sTmp.push('</div>');

        var $aboutRevupDlg = $('body').revupDialogBox({
            okBtnText:      'OK',
            okBtnHandler:   function() {
                                    $aboutRevupDlg.revupDialogBox('ok');
                                },
            cancelBtnText:  '',
            msg:                sTmp.join(''),
            extraClass:         'aboutRevupPopup',
            zIndex:             50,
            width:              '420px',
            height:             '340px',
            isDragable:         false,
        });

        $('#upgradeSub')
            .on('click', function(e) {
                $('.aboutText', $aboutRevupDlg).html('<text>Thank you for your interest in upgrading your</text><br><text>Revup license. Someone from our customer</text><br><text>service department will be in contact with you</text><br><text>shortly to help you with the upgrade process.</text>').css('margin', '50px 0px 50px 0px');
            });

        $('#endSub')
            .on('click', function(e) {
                $aboutRevupDlg.revupDialogBox('close');
                var sTmp = [];
                sTmp.push('<div class="cancelRevupDlg">');

                    sTmp.push('<div class="aboutHeaderLogo">');
                        sTmp.push('<img src="{% static "img/Logo-Black.svg" %}" />');
                    sTmp.push('</div>');

                    sTmp.push('<div class="aboutText">');
                        sTmp.push('<text>Are you sure you want to cancel your RevUp subscription?</text>');
                        sTmp.push('<br>');
                        sTmp.push('<br>');
                        sTmp.push('<text>If so, just click the "OK" button below and your</text></text>');
                        sTmp.push('<br>');
                        sTmp.push('subscription will be canceled effective October 25th 2018.');
                    sTmp.push('</div>');


                var $cancelRevupDlg = $('body').revupDialogBox({
                    cancelBtnText:      'cancel',
                    cancelBtnHandler:   function() {
                                            $cancelRevupDlg.revupDialogBox('close');
                                        },
                    okBtnText:          'OK',
                    msg:                sTmp.join(''),
                    extraClass:         'cancelRevupPopup',
                    zIndex:             50,
                    width:              '420px',
                    height:             '340px',
                    isDragable:         false,
                });

                $('.okBtn', $cancelRevupDlg)
                .on('click', function(e) {
                    $cancelRevupDlg.revupDialogBox('close');
                    var sTmp = [];
                    sTmp.push('<div class="cancelRevupDlg">');
                        sTmp.push('<div class="aboutHeaderLogo">');
                            sTmp.push('<img src="{% static "img/Logo-Black.svg" %}" />');
                        sTmp.push('</div>');

                        sTmp.push('<div class="aboutText">');
                            sTmp.push('<text>Are you sure you want to cancel your RevUp subscription?</text>');
                            sTmp.push('<br>');
                            sTmp.push('<br>');
                            sTmp.push('<text>If so, just click the "OK" button below and your</text></text>');
                        sTmp.push('</div>');

                    var $confirmCancelRevupDlg = $('body').revupDialogBox({
                        okBtnText:          'OK',
                       cancelBtnText:      'cancel',
                       cancelBtnHandler:   function() {
                                                $confirmCancelRevupPopup.revupDialogBox('close');
                                            },
                        msg:                sTmp.join(''),
                        extraClass:         'confirmCancelRevupPopup',
                        zIndex:             50,
                        width:              '420px',
                        height:             '340px',
                        isDragable:         false,
                    });
                })
            })
    });

    // credit card
    let ccTemplate = {
        recurlyKey: '{{ settings.recurly_api_key }}',
        csrfToken: "{{ csrf_token }}",
        ccUpdateUrl: accountDetailURL,
        recurlyAccountId: "{{ account.recurly_account_code }}",

        {% route "nonprofit" %}
            logoUrl: "{% static "img/nonprofit-logo.png" %}",
        {% elseroute %}
            logoUrl: "{% static "img/new-revup-logo.png" %}",
        {% endroute %}
    };
</script>

{% if account %}
<script>
    $('#skinn')
        .on('click', function(e) {
            var skiningTemplate = {
                // id's
                accountId:          "{{account.id}}",
                seatId:             "{{user.current_seat.id}}",
                defaultIconText:    "{{account.default_icon_text}}",

                // candidate name & image
                candidateName:  "{{ account.display_name}}",
                candidateImage: "{{ account.get_candidate_icon  }}",

                // current skin - if one
                {% if current_skin.id %}
                    currentSkinId: {{ current_skin.id }},
                    currentSkinTitle: "{{ current_skin.title }}",
                    currentSkinDescription: "{{ current_skin.description }}",
                {% endif %}

                // urls
                {% route "nonprofit" %}
                    logoUrl: "{% static "img/nonprofit-logo.png" %}",
                {% elseroute %}
                    logoUrl: "{% static "img/new-revup-logo.png" %}",
                {% endroute %}

                {# If the account banner is set, use it as the default #}
                {% if account.banner %}
                    bannerUrl: "{{ MEDIA_URL }}{{ account.banner }}",
                {% else %}
                    {% route "university" %}
                        bannerUrl: "{% static "img/homePageBanners/academic-banner.png" %}",
                    {% elifroute "nonprofit" %}
                        bannerUrl: "{% static "img/homePageBanners/nonprofit-banner.jpg" %}",
                    {% elseroute %}
                        bannerUrl: "{% static "img/homePageBanners/revup-banner.png" %}",
                    {% endroute %}
                {% endif %}

                // ajax urls
                themeLstUrl: "{% url "ux_skins_api-list" account.id %}",
                themeSaveUrl: "{% url "ux_skins_api-detail" account.id "themeId" %}",
                setActiveSkinUrl: "{% url "account_api-detail" account.id %}",

                // current template
                currentTemplate: {
                    settings: {{ current_skin.settings | jsonify }},
                    title: "{{ current_skin.title }}",
                    description: "{{ current_skin.description }}",
                    {% if current_skin.id %}
                        id: {{ current_skin.id }},
                    {% endif %}
                    bannerUrl: "{{ current_skin.banner }}",
                    logoUrl: "{{ current_skin.branding_logo }}",
                },

                // type of user
                isStaff: false,

                // template for
                {% route "university" %}
                    isAcademic:             true,
                    isPoliticalCampaign:    false,
                    isPoliticalCommittee:   false,
                {% elifroute "polcam" %}
                    isAcademic:             false,
                    isPoliticalCampaign:    true,
                    isPoliticalCommittee:   false,
                {% elifroute "polcom" %}
                    isAcademic:             false,
                    isPoliticalCampaign:    false,
                    isPoliticalCommittee:   true,
                {% elifroute "nonprofit" %}
                    isAcademic:             false,
                    isPoliticalCampaign:    true,
                    isPoliticalCommittee:   false,
                {% elseroute %}
                    isAcademic:             false,
                    isPoliticalCampaign:    false,
                    isPoliticalCommittee:   false,
                {% endroute %}

            };
            skiningTool.load(skiningTemplate);
        });
</script>
{% endif %}

{% block notification_invoke %}
    <script>
        var revupAlertOnlyNetworkSearch = false;
        $(document).ready(function () {
            // Regardless of product, if not on Contact Manager Tab, check for tasks using variable interval.
            // If product is nonprofit, and on Contact Manager tab, call using fixed (short) interval.
            // If product is not nonprofit, and on Contact Manager tab, don't set interval since CM has own internal update alert loop.
            if (!$('.contactManagerTab').hasClass('active')) {
                updateRevupAlert();
            } else {
                {% route "nonprofit" %}
                    updateRevupAlert('nonprofit');
                {% elseroute %}
                    return;
                {% endroute %}
            }

            // add the button handler for the force analysis
            forceAnalysisBtnLoad();
            contactCleanupBtnLoad("{{user.current_seat.has_admin_access}}"  == 'True');

            $('.navbar-collapse .dropdown .test').tooltipOnOverflow();

        });
    </script>
{% endblock notification_invoke %}

{# Add URLs to a function to be used by the JS #}
<script>
    var urls = {
        {# This block is defined in 'base_authenticated.html'#}
        {% block url_defs %}
            {# Add your app's urls in your app's template inside this block. #}
            {# Put a comma after each url, or this will fail  #}
            {% block app_urls %}{% endblock app_urls %}
            {% if user.current_seat %}
                task: "{% url "seat_tasks_api-list" user.id user.current_seat.id %}",
            {% endif %}
            runAnalysis: "{% url "network_search" %}",
        {% endblock url_defs %}
    };

    function site_url(url_name, replacements){
        {% comment %}
         url_name: name of url, as listed in 'urls' above.
         replacements: (Optional field) list of values to use to replace
                       placeholders in the url.
        {% endcomment %}
        var url = urls[url_name];
        if (!url){
            return null;
        }
        if (typeof replacements !== 'undefined'){
            $.each(replacements, function(index, value){
                index += 1;
                url = url.replace("placeholder" + index, value);
            });
        }
        return url
    }
</script>

<script>
    // see about updating the ranking link
    var contactSetId = localStorage.getItem('rankContactSetId-' + "{{user.current_seat.id}}");
    if (contactSetId) {
        var $rankingTab = $('.sideNav .rankingTab a');
        $rankingTab.attr('href', $rankingTab.attr('href') + "?contact_set=" + contactSetId)
    }

</script>
{% endblock section_foot_scripts %}
