{% extends "shared/sections/base_authenticated.html" %}
{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}

{% block contact_manager %}active{% endblock %}
{% block title %}Contact Manager - RevUp{% endblock title %}

{% block notification %}{% endblock %}

// see if the alertBar finsh should be displayed
{% block alertBarDisplayRefresh %}true{% endblock %}


{% block page_css %}
    {% route "nonprofit" %}
        <!-- React app styles go here -->
        {% if debug and settings.WEBPACK_SERVER %}
            <link href="http://{{ settings.WEBPACK_SERVER }}/static/css/main.css" rel="stylesheet">
        {% else %}
            <link href="{% static "css/main.css" %}" rel="stylesheet">
        {% endif %}
    {% elseroute %}
        <link href="{% static "css/apps/contactManager.css" %}" rel="stylesheet">
        <link href="{% static "css/apps/editContact.css" %}" rel="stylesheet">
        <link href="{% static "css/apps/contactSource.css" %}" rel="stylesheet">
    {% endroute %}

    <link href="{% static "css/apps/csvValidator.css" %}" rel="stylesheet">
{% endblock page_css %}

{% block getting_started_target %}#contact-manager-functionality{% endblock %}

{% block content %}
    {% route "nonprofit" %}
        <div id="app"
            data-account-Id="{{account.id}}"
            data-user-Id="{{user.id}}"
            data-seat-Id="{{user.current_seat_id}}"
            data-page="contact_manager"
        ></div>
    {% elseroute %}
        <div class="contactManager">
            <div class="infoDiv">
                <div class="leftSide">
                    <div class="leftSideStuff">
                        <div class="icon icon-info-1"></div>
                        <div class="msgDiv">
                            <div class="msgHeader">Personal Contacts</div>
                            <div class="msgBody">Personal Contacts are visible only by you and cannot be utilized in Call Time</div>
                        </div>
                    </div>
                </div>
                <div class="rightSide">
                    <div class="msgDiv">
                        <div class="msgHeader">Shared Account Contacts</div>
                        <div class="msgBody">Shared Account Contacts are visible by all administrators and can be utilized in Call Time</div>
                    </div>
                </div>
            </div>

            <div class="buttonBar">
                <div class="btnCntl addContactBtn">
                    <div class="txt">Add Contact Source</div>
                    <div class="icon icon-add-contacts"></div>
                </div>

                <div class="btnCntl addAContactBtn">
                    <div class="txt">Add a Contact</div>
                    <div class="icon icon-raiser"></div>
                </div>

                <div class="btnCntl editContactBtn">
                    <div class="txt">Edit Contacts</div>
                    <div class="icon icon-edit-contact"></div>
                </div>
            </div>

            <div class="loadingConatactsDiv">
                <div class="title">Loading Contact Sources</div>
                <div class="loadingDiv">
                    <div class="loading"></div>
                    <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                </div>
            </div>

            <div class="contactUserSection">
                <div class="contactErrorWarningMsg warning">
                    <div class="msgBox">
                        <div class="textOuterDiv">
                            <div class="textCenterDiv">
                                <div class="textDiv">
                                    <div class="icon icon-warning"></div>
                                    <div class="text">
                                        Your are nearing your limit of
                                        <div class="count">xxx,xxx</div>
                                        analyzed shared account contacts.
                                    </div>
                                </div>
                            </div>
                            <div class="closeBtn icon icon-close"></div>
                        </div>
                    </div>
                </div>
                <div class="contactInfoDiv">
                    <div class="contactInfoLeft">
                        <div class="contactNumDiv">
                            <div class="numContacts">0</div>
                            <div class="title">out of</div>
                            <div class="totalContacts">xx,xxx</div>
                            <div class="title">total analyzed personal contacts</div>
                            <div class="infoBtn">
                                <div class="icon icon-info-1"></div>
                            </div>
                        </div>
                        <div class="contactGraphDiv">
                            <div class="usageGraphDiv">
                                <div class="deletedContacts"></div>
                                <div class="activeContacts"></div>
                                <div class="remainingContacts"></div>
                            </div>
                        </div>
                    </div>
                    <div class="contactInfoRight">
                        <div class="entries">
                            <div class="entry deletedContacts">
                                <div class="dot"></div>
                                <div class="msgText">Deleted Contacts - </div>
                                <div class="count">xxx</div>
                            </div>
                            <div class="entry activeContacts">
                                <div class="dot"></div>
                                <div class="msgText">Active Contacts - </div>
                                <div class="count">xxx</div>
                            </div>
                            <div class="entry remainingContacts">
                                <div class="dot"></div>
                                <div class="msgText">Remaining Contact Capacity - </div>
                                <div class="count">xxx</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contactConnectionDiv userContacts">
                    <div class="contactContainer addContact" style="display: none;">
                        <div class="addContactBtn icon icon-add-filter"></div>
                    </div>
                </div>
            </div>

            <div class="contactAccountSection" userName="{{ user.name }}">
                <div class="contactErrorWarningMsg error">
                    <div class="msgBox">
                        <div class="textOuterDiv">
                            <div class="textCenterDiv">
                                <div class="textDiv">
                                    <div class="icon icon-warning"></div>
                                    <div class="text">
                                        Your are nearing your limit of
                                        <div class="count">100,000</div>
                                        analyzed shared account contacts.
                                    </div>
                                </div>
                            </div>
                            <div class="closeBtn icon icon-close"></div>
                        </div>
                    </div>
                </div>
                <div class="contactInfoDiv">
                    <div class="contactInfoLeft">
                        <div class="contactNumDiv">
                            <div class="numContacts">0</div>
                            <div class="title">out of</div>
                            <div class="totalContacts">xx,xxx</div>
                            <div class="title">total analyzed shared contacts</div>
                            <div class="infoBtn">
                                <div class="icon icon-info-1"></div>
                            </div>
                        </div>
                        <div class="contactGraphDiv">
                            <div class="usageGraphDiv">
                                <div class="deletedContacts"></div>
                                <div class="activeContacts"></div>
                                <div class="remainingContacts"></div>
                            </div>
                        </div>
                    </div>
                    <div class="contactInfoRight">
                        <div class="entries">
                            <div class="entry deletedContacts">
                                <div class="dot"></div>
                                <div class="msgText">Deleted Contacts - </div>
                                <div class="count">xxx</div>
                            </div>
                            <div class="entry activeContacts">
                                <div class="dot"></div>
                                <div class="msgText">Active Contacts - </div>
                                <div class="count">xxx</div>
                            </div>
                            <div class="entry remainingContacts">
                                <div class="dot"></div>
                                <div class="msgText">Remaining Contact Capacity - </div>
                                <div class="count">xxx</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contactConnectionDiv accountContacts">
                    <div class="contactContainer addContact" account="{{account.id}}" style="display: none;">
                        <div class="addContactBtn icon icon-add-filter"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endroute %}
{% endblock content %}


{% block page_foot_scripts %}
    <script src="{% static "js/revupCsvValidate.js" %}" charset="uft-8"></script>
    <script src="{% static "js/apps/csvValidator.js" %}" charset="uft-8"></script>

    {% route "nonprofit" %}
        <script>
            var csvValidatorData = {
                csvConfigFile: "{% static "csvFormat/contacts.csv" %}",
                hasAdminAccess: "{{ has_account_contact_permission }}" == "True" ? true : false,
                accountTitle: "{{ account.title }}",
                csvSample: "{% static "samples/csv-sample-file.csv" %}",
                csvUpload: "{% url "contact_file_upload" %}",
                csvHelp: "{% static "help/csv/index.html" %}"
            }

            function initCSVValidator() {
                csvValidator.load(false, csvValidatorData);
            }
        </script>

        <!-- React app JS goes here -->
        {% if debug and settings.WEBPACK_SERVER %}
            <script src="http://{{ settings.WEBPACK_SERVER }}/static/js/nfp_react.js"></script>
        {% else %}
            <script src="{% static "js/nfp_react.js" %}"></script>
        {% endif %}
    {% elseroute %}
        <script src="{% static "js/apps/contactManager.js" %}" charset="utf-8"></script>
        <script src="{% static "js/apps/editContact.js" %}" charset="utf-8"></script>
        <script src="{% static "js/apps/contactSource.js" %}" charset="uft-8"></script>

        <script>
            $(document).ready(function() {
                var contactMgrData = {
                    // images
                    {% route "nonprofit" %}
                        revupLogo: "{% static "img/nonprofit-logo.png" %}",
                    {% elseroute %}
                        revupLogo: "{% static "img/new-revup-logo.png" %}",
                    {% endroute %}
                    clonedImg: "{% static "img/contactsourceicons/cloned-xsm.svg" %}",

                    // values
                    analysisId: Number("{{ analysis.id }}"),
                    onboarding: getUrlArgs.onboarding ? true : false,
                    displayAddContacts: getUrlArgs.import_popup ? true : false,
                    hasAdminAccess: "{{ has_account_contact_permission }}" == "True" ? true : false,
                    accountTitle: "{{ account.title }}",
                    accountId: "{{ account.id }}",
                    accountUser: "{{ account.account_user.id }}",

                    // api's
                    getImportRecordsLst: "{% url "user_import_records_api-list" user.id %}",
                    getImportRecordsLst2:  "{% url "seat_source_contact_set_api-list" user.id user.current_seat.id %}",
                    deleteImportRecordsLst2:  "{% url "seat_source_contact_set_api-list" user.id user.current_seat.id %}IMPORTID/",
                    getTasksLst: "{% url "seat_tasks_api-list" user.id user.current_seat.id %}",
                    deleteTask: "{% url "seat_tasks_api-list" user.id user.current_seat.id %}",
                    getContactLst: "{% url "user_contacts_api-list" user.id %}",
                    getContactDetail: "{% url "user_contacts_api-detail" user.id "contactId" %}",
                    getContactDetailCreate: "{% url "user_contacts_api-list" user.id %}",
                    loadContactsGmail: "{% url 'social:begin' 'google-oauth2' %}",
                    loadContactsNationBuilder: "{%  url 'nb-contact-import' %}",
                    csvUpload: "{% url "contact_file_upload" %}",
                    csvHelp: "{% static "help/csv/index.html" %}",
                    startAnalysis: "{% url 'network_search' %}",
                    createContacts: "{% url "account_contacts_api-list" account.id %}",
                    displaySharedAccountContacts: "{% url "account_contacts_api-list" account.id %}",
                    editSharedAccountContacts: "{% url "account_contacts_api-detail" account.id "contactId" %}",

                    // csv validation config file
                    csvConfigFile: "{% static "csvFormat/contacts.csv" %}",
                    csvSample: "{% static "samples/csv-sample-file.csv" %}"
                };

                contactManager.load(contactMgrData);
            }); // document.ready
        </script>

        {# Setup CloudSponge #}
        <script>
            var current_os = getOS();
            var override_os = false;

            // this url needs the domain as it is run from the cloudSponge server
            var csStylesheetURL = '{% if debug %}{% protocol_host %}{% endif %}{% static "css/cloudSponge/address_books.css" %}';
            var current_import_id;
            var csPageOptions = {
                cache_contacts: false,
                include: ["name", "email", "mailing_address"],
                select_account: true,
                skipSourceMenu: true,
                skipContactFilter: true,
                performEmailValidation: false,
                csvProviders: current_os === "Mac"? {"outlook": true}: {},
                stylesheet: csStylesheetURL,

                beforeImport:function(source, import_id){
                    current_import_id = import_id;
                },
                afterImport:function(source, success){
                    if (success && current_import_id){
                        var url = "{% url "contacts_import_cs" "_source_" %}";

                        $.ajax({
                            url: url.replace("_source_", source),
                            type: "POST",
                            //async: false,
                            data: {import_id: current_import_id}
                        }).done(function(r) {
                            current_import_id = null;
                            cloudsponge.end();

                            //window.fetchStatus(r);
                            contactManager.fetchSyncStatus(r)
                        }).fail(function(r) {
                            console.error('Cloudsponge - failed, r')
                            //alert('Failed to import contacts');
                            cloudsponge.end();
                        });
                    }
                },
                afterLaunch: function() {
                    // change the height
                    $('#fbBox').height(390);
                    $('#fbContentWrapper').height(350)
                }
            };
        </script>

        <script src="//api.cloudsponge.com/widget/51367a8066119e94b44f79b6dbded1e3dee2e955.js"></script>
    {% endroute %}
{% endblock page_foot_scripts %}
