{% extends "shared/sections/base_authenticated.html" %}

{% load revup_extras %}

{% block content %}

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title">Edit User Info</div>
      </div>
      <div class="panel-body">
        <form action="" method="post" role="form">{% csrf_token %}
          {% for field in form %}
            <div class="form-field">
              <div class="form-group">
                <label class="control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
              </div>
              {% if field.errors %}
                <div class="alert alert-danger">{{ field.errors }}</div>
              {% endif %}
            </div>
          {% endfor %}

          <button type="submit" class="btn btn-success col-md-offset-10">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
