
{% extends "shared/sections/base_unauthenticated.html" %}
{% load staticfiles %}

{% block title %}Invalid Registration{% endblock title %}
{% block content2 %}
<div class="revup-panel large-padding loginPasswordRequest">
    <div class="panel-header">
        <div class="center-content">
            <img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"/>
        </div>
    </div>

    <div class="panel-body">
        <div class="group">
            <div class="pageMsg">
                <div class="boldLine">Invalid Registration</div>
                <div class="smallLine">
                    <p>This link has expired. Please contact your fundraising campaign to request a new invitation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
