{% extends "shared/sections/base_unauthenticated.html" %}
{% load staticfiles %}

{% block title %}Invalid Registration{% endblock title %}
{% block content2 %}
<div class="revup-panel large-padding loginPasswordRequest">
    <div class="panel-header">
        <div class="center-content">
            <img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"/>
        </div>
    </div>

    <div class="panel-body">
        <div class="group">
            <div class="pageMsg">
                <div class="boldLine">Invalid Registration</div>
                <div class="smallLine">
                    <p>This link has either expired, or was already used to join RevUp.</p>
                    <p>If you have already set up your account, please <a href="{% url 'account_login' %}">log in</a>.</p>
                    <p>Otherwise, please contact your fundraising campaign to request a new invitation.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
