{% extends "shared/sections/base_unauthenticated.html" %}
{% load staticfiles %}

{% block title %}Login - RevUp{% endblock title %}
{% block content2 %}
<form action="" xclass="form-signin" role="form" method="post">
    {% csrf_token %}
    <div class="revup-panel large-padding login">
        <div class="panel-header">
            <div class="center-content">
                <img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"/>
            </div>
        </div>

        <div class="panel-body">
            <div class="group">
                {% if form.errors %}
                    <div class="loginErrorSection">
                        Your username and password did not match. Please try again.
                    </div>
                {% endif %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="loginErrorSection">
                            <div class="icon icon-close"></div>
                            <div class="normalText">
                                The email address or password is incorrect
                                <div class="smallText">Please double check and try again.</div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
                {% if failure_limit %}
                    <div class="loginErrorSection">
                        <div class="icon icon-close"></div>
                        <div class="normalText">
                            This account has been locked to protect its security following too many failed login attempts.
                            <br>
                            {% if cooloff_time %}
                                Please try again later.
                            {% else %}
                                Please contact <a href="mailto:support@revup.com?subject=Locked Account">support@revup.com</a> for further assistance.
                            {% endif %}
                        </div>
                    </div>
                {% endif %}

                <div class="container-row container-border">
                    <div class="iconContainer">
                        <div class="icon icon-profile"></div>
                        <div class="icon icon-vertical-line"></div>
                    </div>
                    <input type="email" name="email" class="inputField"
                           placeholder="Email" value="{{ email }}" required
                            {% if not email %}autofocus{% endif %}>
                </div>

                <div class="container-row container-border" style="margin-top:31px">
                    <div class="iconContainer">
                        <div class="icon icon-lock"></div>
                        <div class="icon icon-vertical-line"></div>
                    </div>
                    <input type="password" name="password" class="inputField"
                           {% if email %}autofocus{% endif %} placeholder="Password" required>
                </div>


                <div class="container-group" style="margin-top:5px;">
                    <div class="left-side">
                        <a href="{% url 'password_reset' %}">Forgot password?</a>
                    </div>
                    <div class="right-side">
                        <div class="checkbox">
                            <label>
                                <input name="remember_me" type="checkbox" value="remember-me">
                                Remember me
                            </label>
                        </div>
                    </div>
                </div>

                <div class="container-group">
                    <div class="right-side">
                        <button class="revupBtnDefault signinBtn" type="submit">Sign In</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content2 %}
