{% extends "shared/sections/base_unauthenticated.html" %}
{% load staticfiles %}

{% block title %}Reset Password{% endblock title %}
{% block content2 %}
<form action="" role="form" method="post">
    {% csrf_token %}
    <div class="revup-panel large-padding loginPasswordRequest">
        <div class="panel-header">
            <div class="center-content">
                <img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"/>
            </div>
        </div>

        <div class="panel-body">
            <div class="group">
                {% if form.errors %}
                    <div class="loginErrorSection" style="margin-bottom:1000px">
                        Invalid email address. Please correct and try again.
                    </div>
                {% endif %}

                <div class="pageMsg">
                    <div class="boldLine">Request Password Change</div>
                    <div class="smallLine">If you have forgotten your password, you can request a new one.</div>
                </div>

                <div class="container-row container-border">
                    <div class="iconContainer">
                        <div class="icon icon-profile"></div>
                        <div class="icon icon-vertical-line"></div>
                    </div>
                    <input type="email" name="email" class="inputField" tabindex="1"
                           placeholder="Email" value="{{ email }}" required
                            {% if not email %}autofocus{% endif %}>
                </div>

                <div class="container-group">
                    <div class="right-side">
                        <a class="cancelBtn" href="{% url 'account_login' %}">Cancel</a>
                        <button class="revupBtnDefault" type="submit">Change Password</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
