{% extends "shared/sections/base_unauthenticated.html" %}
{% load staticfiles %}

{% block title %}Reset Password{% endblock title %}
{% block content2 %}
<form action="" role="form" method="post">
    {% csrf_token %}
    <div class="revup-panel large-padding loginPasswordRequest">
        <div class="panel-header">
            <div class="center-content">
                <img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"/>
            </div>
        </div>

        <div class="panel-body">
            <div class="group">
                {% if form.errors %}
                    <div class="loginErrorSection" style="margin-bottom:1000px">
                        Invalid email address. Please correct and try again.
                    </div>
                {% endif %}

                <div class="pageMsg">
                    <div class="boldLine">Forgot Password</div>
                    <div class="smallLine">A message has been sent to the email address you provided.</div>
                    <div class="smallLine">
                        Please click the link in the message to finish resetting your password.  If you do not
                        receive an email, try resetting your password again or contact your administrator.
                    </div>
                </div>

                <div class="container-group">
                    <div class="right-side">
                        <button class="revupBtnDefault closeBtn" type="button">Ok</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block page_foot_scripts %}
<script type="text/javascript">
    $('.closeBtn').on('click', function(e) {
        window.location.href = "{% url 'account_login' %}";
    })
</script>
{% endblock %}
