{% extends "shared/sections/base_unauthenticated.html" %}
{% load staticfiles %}

{% block title %}Reset Password{% endblock title %}
{% block content2 %}
<form action="" role="form" method="post">
    {% csrf_token %}
    <div class="revup-panel large-padding loginPasswordRequest">
        <div class="panel-header">
            <div class="center-content">
                <img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"/>
            </div>
        </div>

        <div class="panel-body">
            <div class="group">
                <div class="pageMsg">
                    <div class="boldLine">Password Replaced</div>
                    <div class="smallLine">Your password has been sucessfully replaced.</div>
                </div>

                <div class="container-group">
                    <div class="right-side">
                        <button class="revupBtnDefault loginBtn" type="button">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block page_foot_scripts %}
<script type="text/javascript">
    $('.loginBtn').on('click', function(e) {
        window.location.href = "{% url 'account_login' %}";
    })
</script>
{% endblock %}
