{% extends "shared/sections/base_unauthenticated.html" %}
{% load staticfiles %}

{% block title %}Setting New Password{% endblock title %}
{% block content2 %}
{% if not validlink %}
<div class="revup-panel large-padding resetPassword">
    <div class="panel-header">
        <div class="center-content">
            <img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"/>
        </div>
    </div>

    <div class="panel-body">
        <div class="group">
                <div class="loginErrorSection">
                    <div class="boldMsg" style="margin-bottom:15px;">Password reset unsuccessful</div>
                    The password reset link was invalid,
                    possibly because it has<br>already been used.

                    <br><br>
                    Please request a new password reset.
                </div>

                <div class="container-group">
                    <div class="right-side">
                        <a class="cancelBtn" href="{% url 'account_login' %}">Cancel</a>
                        <button class="revupBtnDefault requestPasswordBtn" type="button">Request Password</button>
                    </div>
                </div>
        </div>
    </div>
</div>
{% else %}
<form action="" role="form" method="post">
    {% csrf_token %}
    <div class="revup-panel large-padding resetPassword">
        <div class="panel-header">
            <div class="center-content">
                <img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"/>
            </div>
        </div>

        <div class="panel-body">
            <div class="group">
                {% if form.errors %}
                    <div class="loginErrorSection" style="display:none">
                        <!--
                        {{ form.errors.as_json }}
                    -->
                    </div>
                {% endif %}

                <div class="container-group">
                    <label class="control-label" for="id_new_password1">New Password</label>
                    <input style="width:100%"  autofocus tabindex="1" id="id_new_password1" name="new_password1" type="password" value="{{form.cleaned_data.new_password1}}">
                </div>

                <div class="container-group">
                    <label class="control-label" for="id_new_password2">Re-enter New Password</label>
                    <input style="width:100%"  tabindex="2" id="id_new_password2" name="new_password2" type="password"  value="{{form.cleaned_data.new_password2}}">
                </div>

                <div class="container-group">
                    <div class="right-side">
                        <a class="cancelBtn" href="{% url 'account_login' %}">Cancel</a>
                        <button class="revupBtnDefault resetPasswordBtn" type="button">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock content2 %}

{% block page_foot_scripts %}
<script type="text/javascript">
{% if validlink %}
    $('#id_new_password1').revupPasswordField({bShowPasswordStrengthAbove: true,
                                               bShowRules: true,
                                               bCutCopyPaste: false});
    $('#id_new_password2').revupPasswordField({bEnableShowStrength: false,
                                               bShowPasswordStrengthAbove: true,
                                               bCutCopyPaste: false});

    // get any errors from the backend
    var formErrors = $("<div />").html('{{form.errors.as_json}}').text();
    formErrors = $.parseJSON(formErrors);

    // see what type of error and from where
    var bErrorPassword1 = false;
    var bErrorPassword2 = false;
    var bErrorPassword1Missing  = false;
    var bErrorPassword2Missing  = false;
    var bErrorPassword1Invalid  = false;
    var bErrorPassword2Invalid  = false;
    var bErrorPassword1Length   = false;
    var bErrorPassword2Length   = false;
    var bErrorPassword1Mismatch = false;
    var bErrorPassword2Mismatch = false;
    if (formErrors.new_password1 != undefined) {
        bErrorPassword1 = true;
        for (var i = 0; i < formErrors.new_password1.length; i++) {
            if (formErrors.new_password1[i].code == 'required') {
                bErrorPassword1Missing = true;
            }
            if (formErrors.new_password1[i].code == 'common_sequence') {
                bErrorPassword1Invalid = true;
            }
            if (formErrors.new_password1[i].code == 'length') {
                bErrorPassword1Length = true;
            }
            if (formErrors.new_password1[i].code == 'password_mismatch') {
                bErrorPassword1Mismatch = true;
            }
        }
    }
    if (formErrors.new_password2 != undefined) {
        bErrorPassword2 = true;
        for (var i = 0; i < formErrors.new_password2.length; i++) {
            if (formErrors.new_password2[i].code == 'required') {
                bErrorPassword2Missing = true;
            }
            if (formErrors.new_password2[i].code == 'common_sequence') {
                bErrorPassword2Invalid = true;
            }
            if (formErrors.new_password2[i].code == 'length') {
                bErrorPassword2Length = true;
            }
            if (formErrors.new_password2[i].code == 'password_mismatch') {
                bErrorPassword2Mismatch = true;
            }
        }
    }

    if (bErrorPassword1) {
        $grp  = $('#id_new_password1').closest('.container-group');
        $grp.addClass('has-error');
    }
    if (bErrorPassword2) {
        $grp  = $('#id_new_password2').closest('.container-group');
        $grp.addClass('has-error');
    }

    var errorMsg = [];
    if ((bErrorPassword1Missing) || (bErrorPassword2Missing)) {
        errorMsg.push('<li>Field Missing</li>');
    }
    if ((bErrorPassword1Length) || (bErrorPassword2Length)) {
        errorMsg.push('<li>Password Too Short. Must be at least 8 characters</li>');
    }
    if ((bErrorPassword1Invalid) || (bErrorPassword2Invalid)) {
        errorMsg.push('<li>Invalid Password. Must include at least 1 number and 1 letter</li>');
    }
    if ((bErrorPassword1Mismatch) || (bErrorPassword2Mismatch)) {
        errorMsg.push('<li>The new password fields do not match</li>');
    }
    if (errorMsg.length > 0) {
        var msg = '<ul>' + errorMsg.join('') + '</ul>';
        $('.loginErrorSection').html(msg)
                               .show();
    }
    else {
        $('.loginErrorSection').html('')
                               .show();
    }

    $('#id_new_password1').focus();
{% endif %}

    // button handler
    $('.resetPasswordBtn').on('click', function() {

        // submit form
        $('form').submit();
    })

    $('.requestPasswordBtn').on('click', function() {
        window.location.href = "{% url 'password_change' %}";
    })
</script>
{% endblock %}
