{% extends "shared/sections/base_unauthenticated.html" %}
{% load staticfiles %}

{% block title %}Register - RevUp{% endblock title %}

{% block content %}
    <div class="panel-heading">
        <h3 class="panel-title text-center">RevUp Registration</h3>
    </div>
    <div class="panel-body">
      {% if form %}

        <form action="" method="post">
            <fieldset>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group{% if field.errors %} has-error{% endif %}">
                        <label class="sr-only" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                    </div>
                    {% if field.errors %}
                        <div class="alert alert-danger">
                        {% for error in field.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

        </form>

      {% else %}
          <div class="text-center">
            <h3>Self-registration is now closed</h3>
            <p>Thank you for your interest in RevUp!</p>
            <p>For more information, please <br/>
                email <a href="mailto:info@revup.com">info@revup.com</a></p>
            <p class="text-right"><a href="{% url "account_login" %}">Go to Login</a></p>
          </div>
      {% endif %}
    </div>
{% endblock content %}

{% block content2 %}

{% if form %}
<form name="registerForm" action="" method="post">
    {% csrf_token %}

    {% if form.non_field_errors %}
    <div class="row" >
      <div class="non-field-errors">
        {% for err in form.non_field_errors %}
          <div class="alert-warning">{{ err }}</div>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <div class="revup-panel large-padding adminRegister">
        <div class="panel-header">
            <div class="center-content">
                <img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"/>
            </div>
            <div class="center-content bold-text">
                User Registration
            </div>
        </div>

        <div class="panel-body" style="margin-bottom:0px;">
            <div class="panelLeft">
                <div class="group">
                    <div class="container-row">
                        <div class="fieldLabel">First Name</div>
                        <input type="text" name="{{form.first_name.name}}" tabindex="1" class="inputField {{form.first_name.name}}{% if form.first_name.errors %} fieldInError{% endif %}"
                               placeholder="{{form.first_name.label}}" value="{{ form.first_name.value|default_if_none:"" }}" required autofocus>
                    </div>
                    <div class="container-row">
                        <div class="fieldLabel">Email Address</div>
                        <input type="text" name="{{form.email.name}}" readonly class="inputField {{form.email.name}}{% if form.email.errors %} fieldInError{% endif %}"
                               placeholder="{{form.email.label}}" value="{{form.email.value}}">
                    </div>
                    <div class="container-row" style="height:48px;">
                        <div class="addr1Row">
                            <div class="fieldLabel">Street Address</div>
                            <input type="text" name="{{form.street_1.name}}" tabindex="4" class="inputField {{form.street_1.name}}{% if form.street_1.errors %} fieldInError{% endif %}"
                                   placeholder="{{form.street_1.label}}" value="{{ form.street_1.value|default_if_none:"" }}" required>
                        </div>
                        <div class="addr2Row">
                            <div class="fieldLabel">Apt. #</div>
                            <input type="text" name="{{form.street_2.name}}" tabindex="5" class="inputField {{form.street_2.name}}{% if form.street_2.errors %} fieldInError{% endif %}"
                                   placeholder="Appt. #" value="{{ form.street_2.value|default_if_none:"" }}">
                        </div>
                    </div>
                    <div class="container-row">
                        <div class="fieldLabel">Password</div>
                        <input type="password" name="{{form.password.name}}" tabindex="9" class="inputField {{form.password.name}}{% if form.password.errors %} fieldInError{% endif %}"
                               placeholder="{{form.password.label}}" value="{{ form.password.value|default_if_none:"" }}" required autofocus>
                    </div>
                </div>
            </div>

            <div class="panelRight">
                <div class="group">
                    <div class="container-row">
                        <div class="fieldLabel">Last Name</div>
                    <input type="text" name="{{form.last_name.name}}" tabindex="2" class="inputField {{form.last_name.name}}{% if form.last_name.errors %} fieldInError{% endif %}"
                           placeholder="{{form.last_name.label}}" value="{{ form.last_name.value|default_if_none:"" }}" required>
                    </div>
                    <div class="container-row">
                        <div class="fieldLabel">Phone</div>
                        <input type="text" name="{{form.phone.name}}" tabindex="3" class="inputField {{form.phone.name}}{% if form.phone.errors %} fieldInError{% endif %}"
                               placeholder="{{form.phone.label}}" value="{{ form.phone.value|default_if_none:"" }}" max-length=20 autocomplete="tel" required>
                    </div>
                    <div class="container-row" style="height:48px;">
                        <div class="cityRow">
                            <div class="fieldLabel">City</div>
                            <input type="text" name="{{form.city.name}}" tabindex="6" class="inputField {{form.city.name}}{% if form.city.errors %} fieldInError{% endif %}"
                                   placeholder="{{form.city.label}}" value="{{ form.city.value|default_if_none:"" }}" autocomplete="shipping locality" required>
                        </div>
                        <div class="stateRow">
                            <div class="fieldLabel">State</div>
                            <input type="hidden" class="{{form.state.name}}" name="{{form.state.name}}" value="{{ form.state.value|default_if_none:"" }}" autocomplete="shipping region">
                            <div class="stateDropDown" tabindex="7"></div>
                        </div>
                        <div class="zipRow">
                            <div class="fieldLabel">Zip</div>
                            <input type="text" name="{{form.zip.name}}" tabindex="8" class="inputField {{form.zip.name}}{% if form.zip.errors %} fieldInError{% endif %}"
                                   placeholder="{{form.zip.label}}" value="{{ form.zip.value|default_if_none:"" }}" maxlength=5 autocomplete="shipping postal-code" required>
                        </div>
                    </div>
                    <div class="container-row">
                        <div class="fieldLabel">Re-enter Password</div>
                        <input type="password" name="{{form.password2.name}}" tabindex="10" class="inputField {{form.password2.name}}{% if form.password2.errors %} fieldInError{% endif %}"
                               placeholder="{{form.password2.label}}" value="{{ form.password2.value|default_if_none:"" }}" required>
                    </div>
                </div>
            </div>

            <div class="group">
                <div class="container-row">
                    <div class="bottomMsg">
                        Your password must be  at least 8 character in length and contain at least one capital letter, one lower case letter, one number and one special character.
                    </div>
                </div>
            </div>
        </div>

        <div class="panel-body">
            <div class="group">
                <div class="container-group">
                    <div class="left-side" style="margin-top:5px;">
                        If you already have an account, click the <a href="{% url 'account_login' %}">Cancel</a> to sign in.
                    </div>
                    <div class="right-side">
                        <a style="margin-right:30px" class="registerCancelBtn" href="#" hhref="{% url 'account_login' %}">Cancel</a>
                        <button class="revupBtnDefault registerBtn" type="button">Register</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="registerErrorModal" tabindex="-1" role="dialog" aria-labelledby="recurlyErrorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="recurlyErrorModalLabel">Registration Error</h4>
                    </div>
                    <div class="modal-body">
                        BODY HTML IS PUT HERE
                    </div>
                    <div class="modal-footer">
                        <a href="#" data-dismiss="modal" class="btn">Close</a>
                    </div>
                </div>
            </div>
        </div>
</form>

{% else %}
    <div class="text-center">
        <h3>Self-registration is now closed</h3>
        <p>Thank you for your interest in RevUp!</p>
        <p>For more information, please <br/>
            email <a href="mailto:info@revup.com">info@revup.com</a></p>
        <p class="text-right"><a href="{% url "account_login" %}">Go to Login</a></p>
    </div>
{% endif %}

{% endblock content2 %}

{% block page_foot_scripts %}

<script>

$(function () {
    // see if any errors
    var bError = false;
    var eVal = [''];
    {% for f in form %}
        {% if f.errors %}
        bError = true;
        eVal.push('<h5 class="b">{{f.label}}</h5> {{f.errors}}');
        {% endif %}
    {% endfor %}
    if (bError) {
        var sTmp = [];
        sTmp.push("The following field(s), outlined in red, are in error:");
        sTmp.push('<div style="margin-left: 15px>"');
            sTmp.push(eVal.join('<br>'));
        sTmp.push('</div>');

        // display the dialog
        $('#registerErrorModal').find('.modal-body').html(sTmp.join(''));
        $('#registerErrorModal').modal('show');
    }

    // number handlers
    $('.{{form.zip.name}}').numericOnly({bInteger: true});
    $('.{{form.phone.name}}').numericOnly({bPhone: true});

    // cancel button
    $(".registerCancelBtn").on('click', function(e) {
        var $btn = $(this);

        var msg = '<div style="text-align:center"><img class="revupLogo" src="{% static "img/new-revup-logo.png" %}"></div>' +
                  'Are you sure you want to cancel registration? If not just click the return ' +
                  'to registration button below to be, well, returned to registration (duh), or ' +
                  'cancel to be redirected to our home page.';

        $btn.revupConfirmBox({
            okBtnText:          'Return to Registration',
            cancelBtnText:      'cancel',
            headerText:         '',
            msg:                msg,
            isDragable:         false,
            okHandler:          function() {
                window.location = "{% url 'account_login' %}"
            }
        })
    })

    // submit button - make sure all the fields are filled in
    $(".registerBtn").on('click', function(e) {
        var bSubmit = true;
        var mVal = [];
        var eVal = [];
        $.each($('input[required]'), function() {
            var $this = $(this);

            // make sure there is a value
            if ($this.val() == '') {
                mVal.push($this.prop('placeholder'));
                bSubmit = false;
            }

            // see if the field in error
            if ($this.hasClass('inputFormatError')) {
                eVal.push($this.prop('placeholder'));
                bSubmit = false;
            }
        });

        // check the states setting
        if ($('input.{{form.state.name}}').val() == "") {
            mVal.push("{{form.state.name}}");
            bSubmit = false;
        }

        // password and re-enter password don't match
        if ($('.{{form.password.name}}').val() != $('.{{form.password2.name}}').val()) {
            eVal.push("Password and Re-Enter Password don't match");
            bSubmit = false;
        }

        // if an error display the modal
        if (!bSubmit) {
            var sTmp = [];
            if (mVal.length > 0) {
                sTmp.push("The following field(s) are missing:");
                sTmp.push('<div style="margin-left:15px">');
                    sTmp.push(mVal.join('<br>'));
                sTmp.push('</div>');
            }
            if (eVal.length > 0) {
                if (sTmp.length > 0) {
                    sTmp.push('<br><br>');
                }

                sTmp.push('The following field(s) are invalid:');
                sTmp.push('<div style="margin-left:15px">');
                    sTmp.push(eVal.join('<br>'));
                sTmp.push('</div>');
            }

            // display the dialog
            $('#registerErrorModal').find('.modal-body').html(sTmp.join(''));
            $('#registerErrorModal').modal('show');

            return;
        }
        $('form[name="registerForm"]').submit();
    });

    var stateLst = [];
    var currentState = "{{form.state.value|default_if_none:""}}";
    var startStateIndex = 0;
    var sIndex = 0;
    {% for d in form.fields.state.widget.choices %}
        var stateTmpVal = new Object();
        stateTmpVal.value="{{d.0}}";
        stateTmpVal.displayValue="{{d.1}}";
        stateLst.push(stateTmpVal);

        if (stateTmpVal.value == currentState) {
            startStateIndex = sIndex;
        }

        sIndex++;
    {% endfor %}

    // attach the dropdown plugin and set the initial value
    $('.stateDropDown').revupDropDownField({
        value: stateLst,
        valueStartIndex: startStateIndex,
        bDisplayValue: true,
        bAutoDropDownWidth: false,
        changeFunc: function(index, val, $cntl) {
            $(".state").val(val);
            }
        });
    $('.state').val(stateLst[startStateIndex].value);

    // make a dropdown into a select list
    $(".dropdown-menu li a").click(function(){
        var selVal = $(this).attr('value');;
        $(this).parents('.selectLst').find('.dropdown-toggle').html(selVal + ' <span class="caret"></span>');

        var selValue = $(this).attr('value');
        var selFullName = $(this).attr('fullName');
        if (selValue != undefined) {
            $(this).parents('.selectLst').find('input[type=hidden]').val(selValue).attr('fullName', selFullName);
        }
        else {
            $(this).parents('.selectLst').find('input[type=hidden]').val(selText);
        }
    });

    $(".dropdown-toggle").on('keypress', function(e) {
    });


});

</script>
{% endblock page_foot_scripts %}
