// sass-lint:disable-all

@import "../../css/stylesDefs.scss";

/*
 *
 * Overrides for academic
 *
 */

// text color
$goldColor: #e2ad23;
$whiteColor: #fff;
$blueText: #4d8fc2;
$greenText: #8dcb3f;
$dkGreenText: #46812b;

// border color
$goldBorder: #ad8442;

// side nav colors
$tabColor: $goldColor;
$tabActiveText: $goldColor;

// background colors

/// misc colors
$goldStar: #e2ad23;
$ltGrayIconColor: #c7c9c9;
$greenIcon: #66bd4d;

// tabs
$activeTabBackground: #f4f4f5;
$activeTabText: #E3AE24;
//$inactiveTabBackground: #eaeaeb;
$inactiveTabText: #78828A;

/*
 *  Top Nav Bar
 */
.navbar-brand {
    img {
        height: 65px;
    }
}

header {
    .nav>li>a, .nav>li>a:hover {
        //color: $whiteColor !important;
    }
}

/*
 * footer
 */
footer {
    background-color: #55819d;
    color: $whiteColor;

    .footerDiv {
        a, a:hover {
            color: $whiteColor !important;
        }
    }
}

/*
 * page backgroung
 */
.backgroundDiv {
    background: url("../img/bgnd-repeat-horizontal.png"), linear-gradient(0deg, rgba(65, 101, 123, 1) 0.57%, rgba(85, 129, 157, 1) 100%);

    background-repeat: repeat-x;
}

/*
 * page labels
 */
.pageLabel {
    color: $goldColor;
}

/*
 * Main Content
 */
.mainContent {
    width: 100%;

    .container {
        .sideNav {
            .tab {
                background-color: $tabColor;
                &.active {
                    a {
                        color: $tabActiveText;

                        .icon {
                            color: $tabActiveText;
                        }

                        &:hover, &:active, &:focus {
                            color: $tabActiveText !important;
                        }

                    }
                }
            }
        }
    }
}

.revupBtnDefault, .revupBtnDiv {
    background : linear-gradient(0deg, rgba(191, 152, 84, 1) 0%, rgba(179, 137, 70, 1) 25.27%, rgba(207, 156, 68, 1) 99.46%);
    border : 1px solid $goldBorder;
}

/*
 * color spectrum bar(s)
 */
.academic-spectrum-bar-purdue {
    background : linear-gradient(0deg, rgba(191, 152, 84, 1) 0%, rgba(179, 137, 70, 1) 25.27%, rgba(207, 156, 68, 1) 99.46%);
    }




/*
 *  changes for apps/home.scss
 */
.homePageDiv {
    .subSections {
        .col2 {
            .icon {
                color: $goldColor;
            }
        }
    }
}

/*
 * changes for apps/ranking.scss
 */
.rankingSection {
    /*
     * Footer for the ranking data
     */
    .rankingFooterDiv {
        margin-bottom: 15px;

        .paginationDiv2 {
            div {
                color : $goldColor;

                &.footable-page {
                    margin: 0 1px;

                    &.active {
                        .pageNum {
                            background-color: $goldColor;
                        }
                    }
                }
            }
        }
    }
}

/*
 * changes for apps/prospect.scss
 */
.contactDetail {
    .contribDiv {
        &.academicNonprofit {
            .partyColorCol {
                width: 20px;
                height: 20px;
            }
        }

        &.sampleAcademicNonprofit {
            .partyColorCol {
                width: 20px;
                height: 20px;
            }
        }
    }
}

/*
 * changes for apps/campaign_admin.scss
 */
.campaignAdmin {
    .fundEventSection {
        .tabHeader {
            .tab {
                &.active {
                    .label {
                        color: $activeTabText;
                    }
                }
            }
        }
    }

    &.fundraisers {
        .organizerSection {
            .preHeaderDiv {
                background : linear-gradient(0deg, rgba(217, 185, 130, 1) 0%, rgba(212, 183, 138, 1) 25.27%, rgba(247, 222, 178, 1) 99.46%);
                background : -webkit-linear-gradient(90deg, rgba(217, 185, 130, 1) 0%, rgba(212, 183, 138, 1) 25.27%, rgba(247, 222, 178, 1) 99.46%);
                background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(217, 185, 130, 1) ),color-stop(0.2527,rgba(212, 183, 138, 1) ),color-stop(0.9946,rgba(247, 222, 178, 1) ));

                .availableSeats {
                    color: #fff;
                }
            }
        }
    }
}

.editSection {
    .editStep {
        .editBody {
            .column {
                &.col2 {
                    .entryDiv {
                        label {
                            width: 60px;
                        }

                        input[type=text] {
                            width: calc(100% - 70px);
                        }
                    }
                }

                &.col3 {
                    margin-left: 20px;

                    .entryDiv {
                        label {
                            width: 100px;
                        }

                        input[type=text] {
                            width: calc(100% - 115px);
                        }
                    }
                }

                .entryDiv {
                    &.officeStateDiv {
                        label {
                            position: relative;
                            top: -7px;
                        }

                        div.selectLst {
                            width: calc(100% - 70px);
                        }
                    }
                }
            }
        }



        .nextPrevDiv {
            text-align: right;
            margin-bottom: 10px;
        }
    }
}

/*
 * changes for the ranking.scss
 */
.rankingSection {
    position: relative;

    .rankingSectionForAcademic {
        .col1 {
            /* propect */
            width: 70px;
            text-align: center;

            .columnHeader {
                width: 100%;
            }

            .prospectBtn {
                text-align: center;
                width:15px;
                height: 15px;
                margin-left: 25px;
                position: relative;

                .icon-box-unchecked {
                    position: absolute;
                    font-size: 14px;
                    left: 1px;
                    top: 1px;
                }

                .icon-check {
                    color: $pageTitleColor;
                    font-weight: $semiBold;
                    position: absolute;
                    top: -2px;
                    left: 4px;
                }
            }
            .prospectBtn.externalProspect{
                opacity: 0.5;
            }
        }

        .col2 {
            /* major donor */
            width: 20px;
            margin: 0;
            color: $goldStar;
        }

        .col3 {
            /* name */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-left: 0;

            &>a {
                text-decoration: none;
                color: $blueText;
                font-size: 16px;
            }

            &>a:focus {
                text-decoration: underline;
            }

            &>a:hover {
                text-decoration: underline;
            }

            .icon-fundraiser {
                color: $greenIcon;
            }

            .icon-ranking-small {
                color: $goldStar;
            }

            .blank {
                width: 20px;
                height: 5px;
            }

            .nameContainer {
                width: 100%;

                .nameDiv {
                    float: left;
                    width: calc(100% - 40px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .icon1 {
                    float: left;
                    width: 20px;
                }

                .icon2 {
                    float: left;
                    width: 20px;
                }

                &:after {
                    @include clearFloat;
                }
            }
        }

        .col4 {
            /* location */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .col5 {
            /* title */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .col6 {
            /* college */
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .col7 {
            /* ranking */
            width: 60px;
            font-weight: $semiBold;
        }

        .col8 {
            /* giving history */
            width: 120px;
            color: $pageTitleColor;
        }

        .col9 {
            /* open/close notes and contributuions */
            width: 16px;
            height: 16px;
            margin-left: 0;
            margin-right: 10px;
            margin-top: 1px;

            .openClose {
                font-size: 16px;
                //color: $pageTitleColor;
                width: 16px;
                height: 16px;
                cursor: pointer;

                &.disabled {
                    color: $disabledText2;
                    cursor: default;
                }
            }
        }

        .dataColumns {
            height: 22px;
            min-height: none;
        }

        .rankingDataDiv {
            position: relative;

            .dataDetails {
                padding-top: 5px;
                padding-bottom: 5px;

                .dataDetailsDiv {
                    height: 100%;

                    .detailsColumn {
                        float: left;
                        height: 100%;
                        box-sizing: border-box;
                        background-color: $ltBlueBackground;
                        text-align: center;
                        overflow: hidden;

                        &:not(:first-child) {
                            border-left: 2px solid $whiteText;
                        }

                        &.detailsCol1 {
                        }

                        &.detailsCol2 {
                        }

                        &.detailsCol3 {
                        }

                        &.detailsCol4 {
                            overflow: visible;
                        }

                        .detailsContentDiv {
                            padding: 5px;
                            font-size: 13px;
                            line-height: 1.1em;
                            display: inline-block;
                            text-align: left;
                            position: relative;

                            .header {
                                font-weight: $semiBold;
                                color: $lightTextColor;

                                &.withCol {
                                    .donorCol {
                                        float: left;

                                        &.donorCol1 {
                                            width: 40px;
                                            text-align: center;
                                        }

                                        &.donorCol2 {
                                            width: 140px;
                                            text-align: left;
                                        }

                                        &.donorCol3 {
                                            width: 130px;
                                            text-align: left;
                                        }
                                    }

                                    &:after {
                                        @include clearFloat;
                                    }
                                }
                            }

                            .givingHistory {
                                display: inline-block;
                                text-align: right;
                                color: $pageTitleColor;
                                float: left;

                                .givingHistoryEntry {
                                    width: 165px;

                                    .date {
                                        float: left;
                                        width: 65px;
                                        margin-right: 10px;
                                    }

                                    .totalMsg {
                                        float: left;
                                        width: 65px;
                                        margin-right:10px;
                                        //text-align: left;
                                        color: $textColor;
                                    }

                                    .amount {
                                        float: left;
                                        width: 80px;
                                        margin-left: 5px;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }

                                    .year {
                                        float: left;
                                        width: 40px;
                                        text-align: center;
                                    }
                                    .amtRange {
                                        float: left;
                                        width: 140px;
                                        text-align: left;
                                    }
                                    .ranking {
                                        float: left;
                                        width: 130px;
                                        text-align: left;
                                    }

                                    &:after {
                                        @include clearFloat;
                                    }
                                }
                            }

                            .content {
                                margin-left: 20px;
                                color: $textColor;
                                // white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;

                                &.withCol {
                                    margin-left: 0;

                                    .givingHistoryEntry {
                                        width: auto;
                                    }
                                }

                                &.errorMsg {
                                    width: 150px;
                                    white-space: normal;
                                    color: $redText;
                                }

                                .givingHistoryIcon {
                                    float: left;
                                    margin-left: 5px;
                                    //margin-top: 3px;
                                    color: $ltGrayIconColor;
                                    cursor: pointer;

                                    .icon {
                                        width: 14px;
                                        height: 14px;
                                    }
                                }

                                .givingHistoryPopup {
                                    display: none;
                                    position: absolute;
                                    border: 1px solid #c5c9cc;
                                    background-color: #e6e9eb;
                                    border-radius: 4px;
                                    z-index: 100000;
                                    white-space: nowrap;
                                    box-shadow: -2px 3px 3px rgba(0, 0, 0, 0.12);

                                    .popupContent {
                                        margin: 10px;
                                        font-size: 14px;
                                        line-height: 1.1em;

                                        .srcTitle {
                                            font-size: 16px;
                                            font-weight: $semiBold;
                                        }

                                        .whenTitle {
                                            font-weight: normal;
                                            margin: 5px 0;
                                        }

                                        .givingHistory {
                                            float: none;
                                            display: block;
                                            font-size: 13px;

                                            .givingHistoryEntry {
                                                width: 155px;

                                                .amount {
                                                    width: 70px;
                                                }

                                                &:last-child {
                                                    margin-top: 5px;
                                                }
                                            }
                                        }
                                    }

                                    &:after, &:before {
                                    	bottom: 100%;
                                    	left: 50%;
                                    	border: solid transparent;
                                    	content: " ";
                                    	height: 0;
                                    	width: 0;
                                    	position: absolute;
                                    	pointer-events: none;
                                    }

                                    &:after {
                                    	border-color: rgba(230, 233, 235, 0);
                                    	border-bottom-color: #e6e9eb;
                                    	border-width: 10px;
                                    	margin-left: -10px;
                                    }

                                    &:before {
                                    	border-color: rgba(197, 201, 204, 0);
                                    	border-bottom-color: #c5c9cc;
                                    	border-width: 13px;
                                    	margin-left: -13px;
                                    }
                                }

                                &:after {
                                    @include clearFloat;
                                }
                            }
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }
                }
            }
        }
    }
}

.topProspectPopup, .sidePopupMsg, .teamMgrPopupMsg {
    display: none;
    background-color: #FAFAD2;
    width: 200px;
    position: absolute;
    z-index: 10000;
    font-size: 14px;
    border: 1px solid #de9ca9;
    border-radius: 4px;

    &.sidePopupMsg {
        width: 120px;
    }

    .msgTxt {
        margin: 5px;
    }

    &:after, &:before {
    	right: 100%;
    	top: 50%;
    	border: solid transparent;
    	content: " ";
    	height: 0;
    	width: 0;
    	position: absolute;
    	pointer-events: none;
    }

    &:after {
    	border-color: rgba(250, 250, 210, 0);
    	border-right-color: #FAFAD2;
    	border-width: 10px;
    	margin-top: -10px;
    }
    &:before {
    	border-color: rgba(222, 156, 169, 0);
    	border-right-color: #de9ca9;
    	border-width: 11px;
    	margin-top: -11px;
    }

    .topProspectDiv {
        padding: 10px;

        .manageDiv {
            display: inline;
        }
    }
}
