{% extends "shared/sections/base_authenticated.html" %}


{% block content %}

{% if not query %}<h4>Search for a User to Impersonate</h4>{% endif %}
<form action="{% url 'impersonate-search' %}" method="GET">
    <div class="input-group" style="width: 50%;">

        <input type="text" class="form-control" name="q"
               value="{% if query %}{{ query }}{% endif %}"
               placeholder="Valid Lookups: first-name, last-name, email">
        {{redirect_field}}
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Search</button>
        </span>
    </div>
</form>

{% if query and page.object_list %}
    <div class="panel panel-default" style="width: 75%; margin-top: 25px; margin-bottom: 5px;">
        <div class="panel-heading">Click a User to Impersonate</div>
        <div class="panel-body" style="padding: 5px;">
            <table style="border-collapse: separate; border-spacing: 10px;">
                {% for user in page.object_list %}
                    {# Don't show the current user; it makes no sense #}
                    {% if user != request.user %}
                        <tr onclick="clearLocalStorage(); document.location = '{% url 'impersonate-start' user.id %}{{redirect}}'"
                                style="cursor: pointer; color: #4d8fc2; margin-bottom: 10px;">
                            <td><span class="glyphicon glyphicon-chevron-right small" aria-hidden="true" style="padding-right: 8px;"></span></td>
                            <td style="padding-right: 15px;">{{ user.name }}</td>
                            <td class="small" style="padding-left: 15px;">({{ user.email }})</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>

    {% if page.has_previous %}
        <a href="?page={{ page.previous_page_number }}&q={{ query|urlencode }}">Previous Page</a> &nbsp;
    {% endif %}

    {% if page.has_next %}
        <a href="?page={{ page.next_page_number }}&q={{ query|urlencode }}">Next Page</a> &nbsp;
    {% endif %}

{% endif %}


{% endblock content %}
