// sass-lint:disable-all

@import "../../stylesDefs.scss";

.givingData {
    .givingDataDes {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 120px;
        font-size: 21px;
    }

    .givingDataDetails {
        font-size: 14px;
        margin-left: auto;
        margin-right: auto;
        width: 600px;
        margin-top: 30px;
    }

    .formatInstruct, .sampleCSV {
        border: none !important;
        background-color: transparent !important;
        padding: 0px !important;
        color: $primary-blue-2;
    }
}
