// sass-lint:disable-all

@import "../../stylesDefs.scss";


.wizardBody {
    h1 {
        margin-left: auto;
        margin-right: auto;
        width: 250px;
        text-align: center;
        font-size: 20px;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .issuesDes {
        color: $primary-gray-5;
        font-size: 14px;
        width: 56%;
        margin: 0 auto;
    }

    .issues {
        height: 300px;
        width: 760px;
        overflow-y: scroll;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        .title {
            width: 99%;
            height: 100%;

            .fieldEntry.listField {
                .centerDiv {
                    .fieldDiv.listFieldDiv {
                        margin-bottom: 30px;
                    }

                    .listField.revupDynamicLst {
                        .headerLine {
                            background-color: transparent !important;

                            .title {
                                color: $primary-gray-5 !important;
                                font-size: 14px;
                                font-weight: $normal !important;
                                line-height: 1.2em;
                            }
                        }

                        .dataSect {
                            padding: 0 0 0px 12px;
                            width: 100%;

                            .dataEntryDiv {
                                // &:not(:first-child) {
                                //     margin-top: 0px !important;
                                //     margin-bottom: 5px !important;
                                // }
                                .textField{
                                    outline: none;
                                    margin-bottom: 0px;
                                    color: $primary-gray-6;
                                    size: 14px;
                                    font-weight: 500;
                                }
                            }

                            .textFieldFrame {
                                height: 26px !important;
                                width: 96%;
                                margin-bottom: 0px !important;
                                padding-left: 10px;
                                padding-top: 3px;
                                border: 1px solid $secondary-gray-11;
                            }

                            .deleteBtn.icon-delete-circle {
                                display: block;
                                color: $primary-gray-3 !important;
                                font-size: 15px;
                                left: 25px;
                            }
                        }

                        .dataSectCount {
                            display: none;
                        }




                        ::placeholder {
                            color: $primary-gray-3 !important;
                            size: 14px !important;
                            opacity: 1; /* Firefox */
                            font-weight: $normal !important;
                        }

                        :-ms-input-placeholder { /* Internet Explorer 10-11 */
                            size: 14px !important;
                            color: $primary-gray-3 !important;
                            font-weight: $normal !important;
                        }

                        ::-ms-input-placeholder { /* Microsoft Edge */
                            size: 14px !important;
                            color: $primary-gray-3 !important;
                            font-weight: $normal !important;
                        }

                        .addBtn.toTheRight {
                            float: right;
                            height: 20px;
                            padding: 0 5px;
                            background-color: $primary-gray-4;
                            border-radius: 3px;
                            cursor: pointer;
                            margin: 5px 10px 0 0;
                            width: 50px;

                            .icon-add-filter {
                                display: inline-block;
                                margin-right: 3px;
                                color: #ffffff;
                                position: relative;
                                font-size: 14px;
                            }

                            .btnText {
                                color: $whiteText;
                                display: inline-block;
                                vertical-align: top;
                                font-size: 10px;
                                font-weight: $normal;
                                margin-top: 3px;
                            }
                        }
                    }
                }
            }

            .entry {
                width: 100%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 30px;


                .headerLine {
                    background-color: transparent;

                    .title {
                        color: $primary-gray-5 !important;
                        font-size: 13px !important;
                        font-weight: $normal !important;

                    }

                    .addBtn {
                        width: 100px;
                        float: right;
                        height: 22px;
                        padding: 0 5px;
                        background-color: $primary-gray-4;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                }

                .btnText {
                    display: inline-block;
                    font-size: 13px;
                    position: relative;
                    bottom: 2px;
                }
            }
        }
    }
}

/*scroll bars*/
.issues.scrollSection::-webkit-scrollbar {
    -webkit-appearance: none;
}
.issues.scrollSection::-webkit-scrollbar:vertical {
    width: 11px;
}
.issues.scrollSection::-webkit-scrollbar:horizontal {
    height: 11px;
}
.issues.scrollSection::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid $primary-gray-1; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .25);
}
.issues.scrollSection::-webkit-scrollbar-track {
    background-color: $primary-gray-1;
    border-radius: 8px;
}
