// sass-lint:disable-all

@import "../../stylesDefs.scss";

.nonProfitInfoDiv {
    input {
        outline: 0;
    }

    .title {
        text-align: center;
        font-size: 20px;
        font-weight: $bold;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .fieldsDiv {
        padding: 20px 10px;
        width: 760px;
        margin: auto;

        .line {
            &:not(:first-child) {
                margin-top: 10px;
                width: 100%;
            }

            .entry {
                display: inline-block;
                vertical-align: top;
                width: 100%;

                input {
                  width: 100%;
                }

                &.entry20Percent {
                    width: calc((100% * .2) - ((25px * 2) / 3));
                }

                &.entry40Percent {
                    width: calc((100% * .4) - ((25px * 2) / 3));
                }

                &.entry60Percent {
                    width: calc((100% * .6) - (25px / 3));
                }

                .dropDown {
                    width: 100%;
                    height: 28px;

                    .revupDropDown {
                        height: 28px;

                        .arrowDiv .icon {
                            position: relative;
                            top: 3px;
                        }

                        .cntlBody .valDiv {
                            font-size: 16px;
                        }

                        .dropDownLst {
                            font-size: 16px;
                            line-height: 1.1em;
                        }
                    }
                }

                .title {
                    text-align: left;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.2em;
                    color: $primary-gray-4;
                    margin: 0;

                    &.required,
                    &.requiredBefore {
                        &:before {
                            content: '*';
                            margin-right: 1px;
                        }
                    }

                    &.requiredBefore {
                        margin-top: 15px;
                    }
                }
            }

            .entryGap {
                display: inline-block;
                width: 25px;
                height: 20px;
            }
        }
    }
}
