// sass-lint:disable-all

@import "../../stylesDefs.scss";

.pacCommitteeInfoDiv {
    input {
        outline: 0;
    }

    .title {
        text-align: center;
        font-size: 20px;
        font-weight: $bold;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .fieldsDiv {
        padding: 20px 10px;

        .line {
            &:not(:first-child) {
                margin-top: 20px;
                width: 100%;
            }

            &:last-child {
                margin-top: 10px;
            }

            &.sectionTitleLine {
                margin-bottom: -15px;
            }

            .entry {
                display: inline-block;
                vertical-align: top;
                width: 100%;

                &.entry60Percent {
                    width: calc((100% * .6) - (25px / 2));

                    input {
                        width: 100%
                    }
                }

                &.entry50Percent {
                    width: calc((100% * .5) - (25px / 2));

                    input {
                        width: 100%
                    }
                }

                &.entry40Percent {
                    width: calc((100% * .4) - (25px / 2));

                    input {
                        width: 100%
                    }
                }

                &.entry33Percent {
                    width: calc((100% * .3333) - ((25px * 2) / 3));

                    input {
                        width: 100%;
                    }
                }

                &.up30 {
                    position: relative;
                    top: -30px;
                }

                .dropDown {
                    width: 100%;
                    height: 28px;

                    .revupDropDown {
                        height: 28px;

                        .arrowDiv .icon {
                            position: relative;
                            top: 3px;
                        }

                        .cntlBody .valDiv {
                            font-size: 16px;
                        }

                        .dropDownLst {
                            font-size: 16px;
                            line-height: 1.1em;
                        }
                    }
                }

                .contributionAmt {
                    width: calc(100% - 25px) !important;
                    margin-top: 10px;
                }

                .dateFieldDiv {
                    width: 100%;

                    .dateInput {
                        width: calc(100% - 30px);
                    }

                    .dateIcon {
                        margin-left: 5px;
                        font-size: 25px;
                        line-height: 1em;
                        display: inline-block;
                        vertical-align: top;
                        position: relative;
                        top: 1px;
                    }
                }

                .booleanDiv {
                    .radioBtnDiv {
                        display: inline-block;
                        cursor: pointer;
                        margin-right: 10px;

                        &:last-child {
                            margin-right: 0;
                        }

                        .radioBtn {
                            display: inline-block;
                            position: relative;
                            width: 16px;
                            height: 16px;
                            line-height: 16px;
                            font-size: 16px;
                            top: 2px;
                            margin-right: 3px;

                            .icon {
                                position: absolute;

                                &.background {
                                    color: #fff;
                                }

                                &.selected {
                                    display: none;
                                    color: #000;
                                }

                                &.unselected {
                                    color: #000;
                                }
                            }
                        }

                        .radioLabel {
                            display: inline-block;
                            font-size: 16px;
                        }
                    }

                }


                &:last-child {
                }

                .title {
                    text-align: left;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.2em;
                    color: $primary-gray-4;
                    margin: 0;

                    &.required,
                    &.requiredBefore {
                        &:before {
                            content: '*';
                            margin-right: 1px;
                        }
                    }

                    &.requiredBefore {
                        margin-top: 15px;
                    }
                }

                .sectionTitle {
                    text-align: left;
                    font-size: 16px;
                    font-weight: $bold;
                    line-height: 1.2em;
                    color: $primary-gray-6;
                }

            }

            .entryGap {
                display: inline-block;
                width: 25px;
                height: 20px;
            }

            .msg {
                margin-top: 20px;
                font-size: 16px;
            }
        }
    }
}
