// sass-lint:disable-all

@import "../../stylesDefs.scss";

.similarOrgsDiv {
    .title {
        text-align: center;
        font-size: 20px;
        font-weight: $bold;
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .fieldsDiv {
        padding: 20px 10px;
        width: 550px;
        margin: auto;

        .headerTitle {
            width: 100%;
            font-size: 15px;
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
        }

        .line {
            margin: 5px 0;

            .entry {
                display: inline-block;
                vertical-align: top;
                width: 100%;

                &.entry20Percent {
                    width: calc((100% * .2) - ((25px * 2) / 3));

                    &.addEntry {
                        float: right;
                    }
                }

                &.entry40Percent {
                    width: calc((100% * .4) - ((25px * 2) / 3));
                }

                &.entry60Percent {
                    width: calc((100% * .6) - (25px / 3));
                }

                &.title {
                    text-align: left;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.2em;
                    color: $primary-gray-4;
                    margin: 0;
                }

                .addBtn {
                    background-color: $primary-gray-3;
                    border-radius: 3px;
                    float: right;
                    cursor: pointer;
                    width: 50px;
                    font-size: 12px;
                    cursor: pointer;

                    .icon {
                        display: inline-block;
                        vertical-align: top;
                        color: $whiteText;
                        margin-left: 5px;
                        margin-top: 2px;
                    }

                    .btnText {
                        display: inline-block;
                        vertical-align: top;
                        color: $whiteText;
                        font-size: 11px;
                        line-height: 1.1em;
                        padding: 5px 4px;
                    }
                }


                .dropDown {
                    width: 100%;
                    height: 28px;

                    .revupDropDown {
                        height: 28px;

                        .arrowDiv .icon {
                            position: relative;
                            top: 3px;
                        }

                        .cntlBody .valDiv {
                            font-size: 16px;
                        }

                        .dropDownLst {
                            font-size: 16px;
                            line-height: 1.1em;
                        }
                    }
                }
            }

            .entryGap {
                display: inline-block;
                width: 25px;
                height: 20px;
            }
        }

        .nteeList {
            height: 65px;
            overflow-y: auto;
            margin-bottom: 25px;
            @include visibleScrollBar;

            .nteeEntry {
                .val {
                    .deleteBtn {
                        position: relative;
                        float: right;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
