// sass-lint:disable-all

@import "../../stylesDefs.scss";

.SimilarToMineDiv {
    .subTitle {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    .detailsErrorSection {
        .errorMsg {
            margin-top: 145px;
            font-size: 18px;
            font-weight: $semiBold;
            text-align: center;
        }
    }
}

.detailsData {
    position: relative;
    padding: 20px 0px;
    min-height: 350px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;

    .detailsDataInner {
        overflow-y: auto;
        height: 350px;

        .title {
            font-size: 14px;
            font-weight: $bold;
            color: $secondary-gray-2;
        }

        .subTitle {
            font-size: 13px;
            color: $secondary-gray-2;
            height: 19px;
        }

        .fieldEntry {
            font-size: 13px !important;
            color: $primary-gray-6;
            margin-top: 10px;
            margin-left: 15px;

            .labelSideDiv {
                float: left;
                width: 40%;
                margin-right: 10px;

                .label {
                    @include reset;

                    font-size: 13px;
                    color: $primary-gray-6;
                    text-align: right;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    &:after {
                        content: ":\00a0\00a0\00a0";
                    }

                    &.required:after {
                        content: ": *";
                    }
                }
            }

            .centerDiv {
                .revupDynamicLst {
                    .textFieldFrame {
                        height: 24px;
                        padding: 2px 3px;
                        border-color: #ededed;

                        &:focus {
                            border-color: $primary-gray-4;
                        }

                        .title {
                            font-size: 12px;
                        }

                        .textField {
                            outline: 0
                        }

                        .deleteBtn {
                            font-size: 16px;
                        }
                    }
                }
            }

            .fieldSideDiv {
                float: left;
                width: calc(60% - 11px);

                .fieldDiv {
                    &.dateFieldDiv {
                        .dateInput {
                            width: 220px;
                            border: 1px solid #ededed; //$disabledText;
                            font-size: 13px;
                            padding: 3px 4px;
                            outline: 0 none;

                            &.inputError, &.inputFormatError {
                                color: $redText;
                                border-color: $redText;
                                border-style: solid;
                            }
                        }

                        .dateInputIcon {
                            width: 21px;
                            height: 20px;
                            display: inline-block;
                            cursor: pointer;
                            position: relative;
                            top: 3px;

                            .icon {
                                font-size: 16px;
                                position: relative;
                                top: 1px;
                                left: 4px;
                                height: 17px;
                                width: 16px;
                                color: #d6d6d6;
                            }
                        }
                    }

                    &.textFieldDiv {
                        .textInput {
                            width: 245px;
                            border: 1px solid #ededed;// $disabledText;
                            font-size: 13px;
                            padding: 3px 4px;
                            outline: 0 none;

                            &:focus {
                                border-color: $primary-gray-4;
                            }
                        }
                    }

                    &.intField, &.intUnlimitedField {
                        .intUnlimitedDropDown {
                            width: 100px;
                            margin-bottom: 5px;

                            .revupDropDown {
                                .scrollSection {
                                    height: 45px;
                                }
                            }
                        }

                        .intInput {
                            width: 100px;
                            border: 1px solid #ededed;// $disabledText;
                            font-size: 13px;
                            padding: 3px 4px;
                            outline: 0 none;

                            &:focus {
                                border-color: $primary-gray-4;
                            }

                            &.inputError, &.inputFormatError {
                                color: $redText;
                                border-color: $redText;
                                border-style: solid;
                            }
                        }
                    }
                }
            }

            &.intField, &.dateField, &.textField {
                .labelSideDiv {
                    .label {
                        position: relative;
                        top: 6px;
                    }
                }
            }

            &.booleanField {
                .labelSideDiv {
                    .label {
                        position: relative;
                        top: 3px;
                    }
                }
            }

            &.dropdownField {
                .labelSideDiv {
                    .label {
                        position: relative;
                        top: 4px;
                    }
                }
            }

            &.intUnlimitedField {
                .labelSideDiv {
                    .label {
                        position: relative;
                        top: 5px;
                    }
                }
            }

            &:after {
                @include clearFloat;
            }
        }

        .btnDiv {
            margin-top: 20px;
            margin-bottom: 15px;
            width: 100%;

            .leftSide {
                float: left;

                .text {
                    position: relative;
                    top: 12px;
                    display: block;
                    font-size: 13px;
                    line-height: 1.1em;
                    color: $primary-gray-6;

                    &.requiredMsg {
                        color: $primary-gray-5;
                    }
                }
            }

            .rightSide {
                float: right;
            }

            &:after {
                @include clearFloat;
            }
        }

        .lst {
            margin-right: 5px;

            .entry {
                position: relative;

                &:not(:first-child) {
                    margin-bottom: 3px;
                }

                &:first-child {
                    margin-top: 5px;
                }

                .title {
                    color: $blueText;
                    float: left;
                    width: calc(100% - 28px);
                    line-height: 25px;
                    position: relative;
                    top: 0px;
                    cursor: pointer;

                    &:hover {
                        text-decoration: underline;
                    }
                }
                .deleteBtn {
                    float: right;

                }

                .icon-add-filter {
                    float: left;
                    font-size: 16px;
                    line-height: 16px;
                    color: $secondary-gray-3;
                    position: relative;
                    top: 2px;
                    margin-left: 10px;

                }

                .icon-delete-circle {
                    color: $secondary-gray-4;
                    padding-top: 4px;

                    &:hover {
                        cursor: pointer;
                    }

                }

                &:after {
                    @include clearFloat;
                }
            }
        }

        // details - entity search
        .detailsEntitySearch {
            .grouping {
                margin-top:5px;
                width: 630px;
                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                .header {
                    .subTitle {
                        float: left;
                    }

                    .addMoreBtn {
                        float: right;
                        height: 20px;
                        padding: 0 5px;
                        background-color: $primary-gray-1 !important;
                        border-radius: 3px;
                        cursor: pointer;
                        margin-right: 0px;
                        margin-top: 5px;
                    }

                    &:after {
                        @include clearFloat;
                    }
                }
            }
        }

        .detailsErrorSection {
            .errorMsg {
                margin-top: 20px;
                font-size: 18px;
                font-weight: $semiBold;
                text-align: center;
            }
        }

        .addBtn {
            background-color: $primary-gray-4 !important;
            border-radius: 3px;
            height: 20px;
            float: right;
            cursor: pointer;
            width: 53px;
            position: relative;
            bottom: 19px;
            left: -6px;

            .icon {
                display: inline-block;
                vertical-align: top;
                color: $whiteText;
                margin-left: 5px;
                margin-top: 1px;
                font-size: 14px;
            }

            .btnText {
                display: inline-block;
                vertical-align: top;
                color: $whiteText;
                font-size: 11px;
                line-height: 1.1em;
                padding: 3px 4px;
            }
        }
    }
}

    .detailsContribRange {
        font-size: 13px;
        color: $primary-gray-6;
        line-height: 1.1em;
        font-weight: $semiBold;

        .enableDisableCheckDiv {
            margin-left: 10px;

            .enableDisableCheckbox {
                display: inline-block;
                position: relative;
                top: 2px;
                font-size: 15px;
            }

            .text {
                display: inline-block;
            }
        }

        .contribRangeEntrySection {
            margin-left: 50px;
            margin-top: 10px;
            margin-bottom: 10px;

            &.disabled {
                opacity: 0.3;
                position: relative;
                z-index: 100;
            }

            .contribRangeEntry {
                padding: 10px 15px;
                background-color: $tan-bg-color;

                &:not(:first-child) {
                    margin-top: 10px;
                }
            }

            .line {
                &:not(:first-child) {
                    margin-top: 5px;
                }

                .text {
                    display: inline-block;

                    &.spaceBefore {
                        margin-left: 5px;
                    }

                    &.spaceAfter {
                        margin-right: 5px;
                    }

                    &.spaceAfterLarge {
                        margin-right: 15px;
                    }

                    &.disabled {
                        opacity: 0.3;
                    }
                }

                input:disabled {
                    background: #eee;
                }

                .checkbox {
                    display: inline-block;
                    font-size: 1.3em;
                    margin-left: 5px;
                    margin-right: 1px;
                    margin-top: 0;
                    margin-bottom: 0;
                    position: relative;
                    top: 3px;
                }

                .radioDisplay {
                    display: inline-block;
                    position: relative;
                    top: 2px;
                }

                .ceiling {
                    width: 70px;
                    outline: none;
                }

                .displayLabel {
                    width: 155px;
                    outline: none;
                }

                .deleteEntry {
                    display: inline-block;
                    float: right;
                    position: relative;
                    top: -5px;
                    left: 10px;
                    color: $disabledText2;
                    cursor: pointer;
                }
            }
        }



    }


.similarToMineTitle {
    h1 {
        width: 290px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        font-size: 20px !important;
        font-weight: bold !important;
        margin-top: 10px;
        margin-bottom: 15px;
    }
}

.similarDes {
    h5 {
        position: relative;
        margin-left: 195px;;
        margin-right: auto;
        font-weight: $normal;
        line-height: 0.5;
    }
}


.entitySearchDlg {
    z-index: 50 !important;
}

/*scroll bars*/
.detailsDataInner::-webkit-scrollbar {
    -webkit-appearance: none;
}

.detailsDataInner::-webkit-scrollbar:vertical {
    width: 11px;
}

.detailsDataInner::-webkit-scrollbar:horizontal {
    height: 11px;
}

.detailsDataInner::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid $primary-gray-1; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .25);
}

.detailsDataInner::-webkit-scrollbar-track {
    background-color: $primary-gray-1;
    border-radius: 8px;
}
