// sass-lint:disable-all

@import "../../stylesDefs.scss";

/*
 *
 * Terms Of Service wizard page
 *
 */
.termsOfServiceDiv {
    .title {
        text-align: center;
        font-size: 20px;
        font-weight: $bold;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .subTitle {
        text-align: center;
        font-size: 16px;
        font-weight: $semiBold;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .tosDiv {
        position: relative;

        .tosOuterDiv {
            width: 100%;
            height: 400px;
            overflow-y: auto;
            // background-color: green;
            padding-left: 10px;
            padding-right: 10px;

            .tosInnerDiv {
                margin-left: 50px;
                margin-right: 50px;
            }
        }

        .fadeOut {
            bottom: 0;
            height: 4em;
            background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 100%
            );
            position: absolute;
            width: calc(100% - 26px);
            left: 10px;
        }
    }
}
