<!DOCTYPE html>
<html>
<body>
    <p>Dear {{ seat.user.name }},</p>

    <p>{{ shared_by.name }} has shared the RevUp contact list "{{ contact_set.title }}" with you.
        <a href="{{ protocol_host }}{% url 'analysis_result_list' %}?contact_set={{ contact_set.id }}">Click here</a> to view the list,
        or to locate it manually, log in to RevUp and select the 'Ranking' tab.
        Access the drop down menu labeled 'List:' and select "{{ contact_set.title }}" to see your new shared contacts.</p>

    <p>Thank you and happy fundraising,</p>

    <p>The RevUp Team</p>
</body>
</html>


