{% load compress %}
{% load url from future %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}

<!DOCTYPE html>

<html lang="en" {% block html_attrs %}{% endblock html_attrs %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}RevUp Software{% endblock title %}</title>

    {# Add the favicon to the page #}
    <link rel="icon" href="{% static "img/favicon.ico" %}" type="image/x-icon" />
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">

    {% block bootstrap %}
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/dist/css/bootstrap-theme.min.css" %}">
    {% block extra_boostrap_css %}{% endblock extra_boostrap_css %}
    {% endblock bootstrap %}

    {% block css %}
    {# Styles for this template #}
    <link href="{% static "css/styles.css" %}" rel="stylesheet">
    <link href="{% static "css/revupWidgets.css" %}" rel="stylesheet">
    <link href="{% static "css/revupicons.css" %}" rel="stylesheet">
    <link href="{% static "css/piFont.css" %}" rel="stylesheet">
    {% route 'university' %}
        <link href="{% static "academic/css/stylesAcademic.css" %}" rel="stylesheet">
    {% endroute %}
    <script>
    </script>
    {% block page_css %}{% endblock page_css %}
    {% endblock css %}

    <script>
        var doNoRunRevupAlert = false;
    </script>
    {% block page_head_scripts %}{% endblock page_head_scripts %}

    {% block extra_header %}{% endblock extra_header %}

</head>
<script src="{% static "js/loadSkin.js" %}"></script>
<script>

// load the current skin
var currentSkin = {
    settings: {{ current_skin.settings | jsonify }},
    title: "{{ current_skin.title }}",
    description: "{{ current_skin.description }}",
    {% if current_skin.id %}
        id: {{ current_skin.id }},
    {% endif %}
    bannerUrl: "{{ current_skin.banner.name }}",
    logoUrl: "{{ current_skin.branding_logo.name }}",
};

// inject the current skin css into the head
var h = document.getElementsByTagName('head').item(0);
var s = document.createElement("style");
s.type = "text/css";
s.appendChild(document.createTextNode(loadSkin(currentSkin.settings)));
h.appendChild(s);
</script>


<body role="document" {% block body_attrs %}{% endblock body_attrs %}>
    <div class="backgroundDiv">
    <div class="alert alert-info" role="alert">
        <strong>Maintenance Notice:</strong> Sunday, March 12th 12:00 AM EST - 4:00 AM EDT RevUp will be temporarily unavailable during scheduled maintenance. If you have any questions or concerns, please email <a href="mailto:support@revup.com">support@revup.com</a>.
    </div>
    {% block body %}

        {% block impersonator-alert %}
            {# If a user is being impersonated, we need to display that to the impersonating user #}
            {% if request.user.is_impersonate %}
                <div class="alert alert-danger impersonator-alert" role="alert">
                    <div class="row">
                        <div class="col-md-1"><a class="btn btn-danger btn-sm" onclick="clearLocalStorage();" href="{% url "impersonate-stop" %}">Stop</a></div>
                        <div class="col-md-6"><h5>You are impersonating the user: &nbsp;&nbsp;{{ request.user.name }} ({{ request.user.email }})</h5></div>
                    </div>
                </div>

                <script>
                    function clearLocalStorage() {
                        localStorage.removeItem('rankingFilter');
                        localStorage.removeItem('rankingFilterStyle');
                        localStorage.removeItem('rankingFilterAdvData');
                        localStorage.removeItem('rankingFilterBasicData');

                        localStorage.removeItem('prospectsColWidth');
                        localStorage.removeItem('rankingColWidth');
                        localStorage.removeItem('fundraiserColWidth');
                    }
                </script>
            {% endif %}
        {% endblock impersonator-alert %}

        {% block navbar %}{% endblock navbar %}

        <section>
            <div class="mainContentDiv">
                <div class="mainContent">
                    <div class="container" role="main" {% block main_attrs %}{% endblock %}>
                    {% block main %}
                        {% block notification %}{% endblock notification %}
                            {% block side_nav %}
                                <div class="sideNavDiv">
                                    <div class="tab {% block active_home %}{% endblock %}">
                                        <a href="{% url 'index' %}">
                                            <div class="icon icon-home"></div>
                                            <div class="text">Home</div>
                                        </a>
                                    </div>
                                    <div class="tab {% block active_ranking %}{% endblock %}">
                                        <a href="{% url 'analysis_result_list' %}">
                                            <div class="icon icon-ranking"></div>
                                            <div class="text">Ranking</div>
                                        </a>
                                    </div>
                                    {% route "polcam" "polcom" %}
                                    <div class="tab {% block active_event %}{% endblock %}">
                                        <a href="{% url 'event_default' %}">
                                            <div class="icon icon-tracker"></div>
                                            <div class="text">Prospects</div>
                                        </a>
                                    </div>
                                    {% endroute %}

                                {% if user.current_seat.has_admin_access %}

                                    {% route "university" %}
                                        {# Academic doesn't have events, so hide the tab #}
                                    {% elseroute %}
                                        <div class="tab {% block campaign_admin_event %}{% endblock %}">
                                            <a href="{% url 'campaign_admin_events' %}">
                                                <div class="icon icon-events"></div>
                                                <div class="text">Events</div>
                                            </a>
                                        </div>
                                    {% endroute %}

                                    <div class="tab {% block campaign_admin_fundraisers %}{% endblock %}">
                                        <a href="{% url 'campaign_admin_fundraisers' %}">
                                            <div class="icon icon-raisers"></div>
                                            <div class="text">Raisers</div>
                                        </a>
                                    </div>

                                    <div class="tab {% block campaign_admin %}{% endblock %}">
                                        <a href="{% url 'campaign_admin_home' %}">
                                            <div class="icon icon-admin"></div>
                                            <div class="text">Settings</div>
                                        </a>
                                    </div>
                                {% endif %}

                                {% if user.is_admin %}
                                    <div class="tab {% block staff_admin %}{% endblock %}">
                                        <a href="{% url 'staff_admin_home' %}">
                                            <div class="icon icon-staff"></div>
                                            <div class="text">Staff</div>
                                        </a>
                                    </div>
                                {% endif %}

                                </div>
                            {% endblock side_nav %}
                            {% block content_div %}
                                <div class="contentDiv">
                                    {% block content %}{% endblock content %}
                                </div>
                            {% endblock content_div %}
                        </div>
                    {% endblock main %}
                    </div>
                </div>
        </section>

        {% block footer %}
        <footer>
            <div class="footerDiv">
                <div class="footerText">
                    &copy;RevUp Software 2015. All rights reserved.{% if product_version %}
                    &nbsp;&#124;&nbsp;
                    Version: {{ product_version }}{% endif %}{% if product_release_date %}
                    &nbsp;&#124;&nbsp;
                    Release Date: {{ product_release_date }}{% endif %}
                    &nbsp;&#124;&nbsp;
                    <a href="http://www.revup.com/policies/privacy">Privacy</a>
                    &nbsp;&#124;&nbsp;
                    <a href="mailto:info@revup.com">Contact Us</a>
                </div>

                <div class="footerLinks">
                    <a href="http://twitter.com/revupsoftware" target="_blank">
                        <div class="icon icon-twitter-bird"></div>
                    </a>
                    <a href="http://www.facebook.com/pages/RevUp-Software/1780911162133990" target="_blank">
                        <div class="icon icon-facebook"></div>
                    </a>
                    <a href="http://www.linkedin.com/company/revup-software" target="_blank">
                        <div class="icon icon-linkedin"></div>
                    </a>
                </div>
            </div>
        </footer>
        {% endblock footer %}

        {# Add URLs to a function to be used by the JS #}
        <script>
            var urls = {
                {# Add your app's urls in your app's template inside this block. #}
                {# Put a comma after each url, or this will fail  #}
                {% block app_urls %}{% endblock app_urls %}
            };

            {# TODO: Once we are using Angular everywhere, this wont be necessary #}
            {#       because we can use $resource instead #}
            function site_url(url_name, replacements){
                {% comment %}
                 url_name: name of url, as listed in 'urls' above.
                 replacements: (Optional field) list of values to use to replace
                               placeholders in the url.
                {% endcomment %}
                var url = urls[url_name];
                if (typeof replacements !== 'undefined'){
                    $.each(replacements, function(index, value){
                        index += 1;
                        url = url.replace("placeholder" + index, value);
                    });
                }
                return url
            }
        </script>

        {% block section_foot_scripts %}{% endblock section_foot_scripts %}

        {% block page_foot_scripts %}{% endblock page_foot_scripts %}


        {% endblock body %}

    </div>
</body>
</html>
