<!DOCTYPE html>
<html>
<body>
<p>RevUp has finished generating your CSV file. Please click the following link to download it.</p>
<p><a href="{{ protocol_host }}{% url "batch_files_api-detail" user.id batch_file.id %}download/">
    Click here to download your CSV</a></p>
<p>If you're unable to open this link, you can copy the URL below and paste it into your web browser's address bar:</p>
<p>{{ protocol_host }}{% url "batch_files_api-detail" user.id batch_file.id %}download/</p>
</body>
</html>
