// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 * Call Sheet
 */
.callSheet2Loading {
    width: 100%;
    height: 500px;      // updated before loading
    display: none;
    background-color: #f2f2f2;  // match the revupDialogBox background
    opacity: .8;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    z-index: 1;
}

.callSheet2LoadingHtml {
    display: none;

    .loadingDiv {
        margin-bottom: 15px;
    }

    .callSheet2LoadingText {
        font-size: 24px;
        font-weight: $bold;
        text-align: center;
    }
}

.callSheetPreview {
    display: none;
    background-color: #fff;

    .innerPreview {
        //width: 760px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        margin-bottom: 10px;

        background-color: #fff;
    }
}

.callSheetQueued {
    display: none;

    .msg {
        margin-top: 100px;
        font-size: 24px;
        font-weight: $bold;
        text-align: center;

        @include vertical-center;
    }
}


.callSheet2 {
    .upsideDownHeader {
        display: none;

        hr {
            border-color: $printGrayText;
        }

        .upsideDown {
            .rightSide {
                float: right;

                -webkit-transform:rotate(-180deg);
                -moz-transform:rotate(-180deg);
                -o-transform:rotate(-180deg);
                transform:rotate(-180deg);
                ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
                filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);

                direction: rtl;
                unicode-bidi: bidi-override;

                font-size: 2em;
                font-weight: $semiBold;
                color: $printGrayText;

                .firstName {
                    float: left;
                    margin-right: 10px;
                }

                .lastName {
                    float: left;
                    margin-right: 20px;
                }

                .phoneNum {
                    float: left;
                }

                &:after {
                    @include clearFloat;
                }
            }

            &:after {
                @include clearFloat;
            }
        }
    }

    .contentHeader {
        line-height: 1.2;
        margin-bottom: 10px;

        .leftSide {
            float: left;

            .picture {
                float: left;
                margin-right: 10px;
                margin-top: 7px;

                img {
                    width: 100px;
                    height: 100px;
                }
            }

            .personalInfo {
                float: left;

                input[type=text] {
                    border: none;
                    background: transparent;
                }

                .firstLine {
                    .imageDiv {
                        float: left;
                        width: 60px;
                        height: 60px;
                        margin-right: 10px;

                        .img {
                            border: 1px solid black;
                            width: 60px;
                            height: 60px;
                        }
                    }

                    .name {
                        float: left;
                        font-size: 2em;

                        .firstName {
                            float: left;

                            font-weight: $bold;
                            margin-right: 5px;
                        }
                        .lastName {
                            float: left;
                            color: $printGrayText                     }

                        &:after {
                            @include clearFloat;
                        }
                    }

                    &:after {
                        @include clearFloat;
                    }
                }

                .secondLine {
                    margin-top: 10px;
                    margin-bottom: 10px;

                    .leftSide {
                        float: left;
                        width: 375px;
                        margin-right: 10px;
                    }

                    .rightSide {
                        float: left;
                        width: 375px;
                        margin-left: 10px;
                    }

                    .dataValue {
                        .dataValueLine {
                            &:after {
                                @include clearFloat;
                            }
                        }


                        &:not(:last-child) {
                            margin-bottom: 1px;//5px;
                        }

                        .dvLabel {
                            float: left;
                            width: 95px;//7em;
                            margin-top: 3px;
                            color: #939598;//$printGrayText;
                        }

                        .dvLabelSmall {
                            font-size: 12px;
                            float: left;
                            width: 95px;//7em;
                            margin-top: 3px;
                            color: #939598;//$printGrayText;
                        }


                        .dvValue {
                            float: left;

                            &.phoneNum {
                                font-weight: $bold;
                                color: $blackText;
                            }

                            .addrSection {
                                .addrLine {
                                    .addrEntry {
                                        float: left;

                                        &:not(:first-child) {
                                            margin-left: 5px;
                                        }
                                    }

                                    &:after {
                                        @include clearFloat;
                                    }
                                }
                            }

                        }

                        .dvValueSmall {
                            float: left;
                            font-size: 12px;
                            color: $printGrayText;
                        }


                        .msgSpacer {
                            display: inline-block;
                            width: 7em;
                            height:2px;
                        }

                        .emailLstDiv {
                            display: inline-block;

                            .emailAddr {
                                display: block;
                            }
                        }

                        .msg {
                            display: inline;
                            font-size: 12px;
                        }

                        .phoneLst, .emailLst {
                            display: inline-block;
                            width: 250px;
                            margin-top: 1px;

                            .revupDropDown {
                                .dropDownLst {
                                    position: absolute !important;

                                    .scrollSection {
                                        height: auto;

                                        .lstEntry {
                                            width: 100%;
                                        }
                                    }
                                }
                            }
                        }

                        input {
                            width: 250px;
                            color: $blackText;
                            position: relative;
                            top: 2px;

                            &.phoneNum {
                                font-weight: $bold;
                            }

                            &:focus {
                                outline: none;
                            }
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }
                }
            }

            .noteMsg {
                float: left;
                margin-left: 10px;
                border-radius: 4px;
                padding: 5px;
                margin-top: 33px;

                background-color: #e5e6e6;
                color: $printGrayText;

                .noteIcon {
                    float: left;
                    width: 16px;
                    font-size: 14px;
                    text-align: center;
                    font-weight: $bold;
                }
                .noteHeader {
                    float: left;
                    width: 20px;
                    font-size: 13px;
                    text-align: center;
                    font-weight: $bold;
                    clear: right;
                }

                .noteText {
                    clear: left;
                    float: left;
                    width: 150px;
                    font-size: 13px;
                }

                &:after {
                    @include clearFloat;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

        .rightSide {
            float: right;

            .amountGiven {
                font-size: 24px;//2em;
                color: #8dc63f;
                font-weight: $semiBold;
            }

            .infoText {
                font-size: 12px;
            }

            &.contactDetailsDiv {
                width: 300px;

                .contactDetailsLst {
                    margin-top: 35px;

                    .entry {
                        font-size: 14px;

                        .label {
                            @include reset;
                            float: left;
                            color: $lightTextColor;
                            margin-right: 5px;
                            font-size: 14px;
                            width: 100px;
                            text-align: right;
                            line-height: 1.2;
                            min-height: 10px;

                            //&:after {
                            //    content: ":";
                            //}
                        }

                        .value {
                            width: calc(100% - 105px);
                            float: left;
                            color: $blackText;
                            font-weight: $semiBold;
                            line-height: 1.2;
                            word-wrap: normal;
                            white-space: normal;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }

                }
            }
        }

        &:after {
            @include clearFloat;
        }
    }

    .editorLoadingDiv {
        width: 100%;
        height: 240px;      // based on the height of the editor1Div and editor2Div
        display: none;
    }

    .notesContribDiv {
        width: 100%;

        .notesSectionDiv {
            width: calc((100% * 0.60) - 10px);
            margin-right: 10px;
            float: left;

            .editor1Div, .editor2Div {
                margin-top: 20px;

                .labelBtnDiv {
                    height: 32px; //24px;
                    margin-bottom: 2px;
                    background-color: #d1d3d4;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;

                    .leftSide {
                        float: left;
                        margin-left: 10px;
                        margin-top: 5px;

                        .aeLabel {
                            font-size: 1.17em;
                            font-weight: $bold;

                            //position: relative;
                            //top: 6px;
                        }
                    }

                    .rightSide {
                        float: right;
                        margin-top: 4px;
                        margin-right: 10px;

                        .formatBtns {
                            .editFormatBtn {
                                float: left;
                                height: 24px;

                                .icon {
                                    font-size: 16px;
                                    line-height: 16px;
                                    top: 1px;
                                }

                                &:not(:first-child) {
                                    margin-left: 1px;
                                }

                                &.leadSpacer {
                                    margin-left:10px;
                                }
                            }

                            &:after {
                                @include clearFloat;
                            }
                        }
                    }

                    &:after {
                        @incluide clearFloat;
                    }
                }

                .editor1, .editor2 {
                    width: 100%;
                    height: 6em;
                    overflow: auto;

                    padding: 5px;

                    font-size: 1em;
                    line-height: 1.1;

                    border: 1px solid #e2e2e2;

                    &:focus {
                        border-color: $primary-gray-4;
                    }

                    outline: 0;
                    resize: vertical;

                    blockquote {
                        font-size: 1em;
                        border-left: none;
                        box-sizing: border-box;
                    }

                    ol, ul {
                        box-sizing: border-box;
                        margin: 0 !important;
                    }
                }
            }
        }

        .contribSectionDiv {
            width: calc((100% * 0.40) - 10px);
            margin-left: 10px;
            float: left;

            .contributionsDiv {
                margin-top: 20px;
                line-height: 1.1;

                //.leftSide {
                    width: 100%; //50%;
                    float: left;
                    padding-right: 10px;

                    .personalInfo {
                        .dataValue {
                            &:not(:last-child) {
                                margin-bottom: 1px;
                            }
                        }
                    }

                    .contributionCatDetailDiv {
                        .entry {
                            width: 315px; //385px;

                            .labelSpace, .totalLabel {
                                width: 235px !important;
                                height: 3px;
                                float: left;
                            }
                        }
                    }

                    .contributionAmountDiv {
                        .contributionLabel {
                            font-size: 14px;//1em;
                            color: #939598;//$printGrayText;
                        }

                        .contributionAmount {
                            font-size: 24px;//2em;
                            font-weight: $semiBold;//$bold;
                            color: #8dc63f;
                        }

                        &:not(:first-child) {
                            margin-top: 20px;
                        }
                    }

                    .contributionCatDiv {
                        margin-right: 25px;
                    }
                //}

                .leftSide, .rightSide {
                    //width: 50%;
                    //float: left;

                    .contributionCatDiv {
                        .contributionLabel {
                            font-size: 14px;//1em;
                            color: #808184;//$printGrayText;
                            margin-bottom: 5px;
                            margin-left: 15px;

                            &.topLevel {
                                margin-left: 0;
                                margin-bottom: 10px;
                            }
                        }

                        &:not(:first-child) {
                            margin-top: 15px;
                        }

                        .contributionCatDetailDiv {
                            &.allyClass {
                                .entry {
                                    .name, .amount {
                                        color: #61991a;
                                    }

                                    .date {
                                        color: #96c757;
                                    }
                                }
                            }

                            margin-left: 40px;

                            .entry {
                                font-size: 14px;

                                .name {
                                    float: left;
                                    width: calc(100% - 150px);
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    color: #000;
                                }

                                .amount {
                                    float: left;
                                    width: 65px;
                                    text-align: right;
                                    white-space: nowrap;
                                    color: #000;
                                }

                                .date {
                                    float: left;
                                    width: 85px;
                                    text-align: right;
                                    white-space: nowrap;
                                    color: #939598;
                                }

                                .noDate {
                                    float: left;
                                    width: 140px;
                                    margin-left: 10px;
                                    text-align: left;
                                    white-space: nowrap;
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    color: #000;
                                }

                                .sepBar {
                                    margin: 1px 0;
                                    background-color: $printGrayText !important;
                                    height: 1px;
                                }

                                .totalLabel {
                                    float: left;
                                    width: calc(100% - 150px);
                                    font-weight: $bold;
                                }

                                .totalAmount {
                                    float: left;
                                    width: 65px;
                                    text-align: right;
                                }

                                .totalFiller {
                                    float: left;
                                    width: 85px;
                                }

                                &:after {
                                    @include clearFloat;
                                }

                                &:not(:last-child) {
                                    margin-bottom: 5px;
                                }
                            }
                        }
                    }
                }

                &:after {
                    @include clearFloat;
                }
            }
        }
    }

    &:after {
        @include clearFloat;
    }
}

// when printing
@media print {
    @page {
        margin: 0;
        size: auto;
    }

    .revupDialogBox {
        border-width: 0px !important;
    }

    .msgBody {
        overflow: visible !important;
    }

    .backgroundDiv {
        background-color: transparent;

        &.printModalOpen {
            .container {
                display: none;
            }
        }
    }

    .label {
        border: none;   // override bootstrap
    }

    .callSheet2 {
        display: block;
        width: 100%;
        height: 100%;
        z-index: 10;
        padding: 1.6cm;
        font-size: 16px;
        line-height: 17px;
    }

    .hideWhenPrinting {
        display: none !important;
    }

    .revupOverlay {
        display: none;
    }

    input {
        border: none;
        width: 350px;
    }

    .picture img {
        width: 150px !important;
        height: 150px !important;
    }

    .revupDialogBox {
        //display: none;
        left: 0 !important;
        top: 0 !important;
        width: 100% !important;
        height: 100% !important;

        .headerDiv {
            display: none;
        }

        .msgBodyDiv {
            height: 100% !important;

            .msgBody {
                height: 100% !important;
                font-size: 18pt !important;
            }
        }
        .btnDiv {
            display: none;
        }
    }

    .callSheet2 {
        .upsideDownHeader {
            display: block;
        }

        .formatBtns {
            display: none;
        }

        .contentHeader {
            .picture {
                margin-top: 12px !important;
            }

            .leftSide {
                .personalInfo {
                    .dataValue {
                        &:not(:last-child) {
                            margin-bottom: 1px;
                        }
                    }
                }
            }
        }

        .askEditor, .resultsEditor {
            border: none !important;
            min-height: 3em !important;
            height: auto !important;
            resize: none !important;
        }

        .contributionsDiv {
            .leftSide {
                .contributionCatDetailDiv {
                    .entry {
                    }
                }

                .contributionCatDiv {
                    width: 100%;

                    .contributionCatDetailDiv {
                        .entry {
                            width: calc(100% - 50px);

                            .labelSpace {
                                width: 20% !important;
                            }

                            .name {
                                width: 45% !important;
                            }

                            .amount {
                                width: 25% !important;
                            }

                            .date {
                                width: 30% !important;
                            }

                            .totalLabel {
                                width: 45% !important;
                            }

                            .totalAmount {
                                width: 25% !important;
                            }

                            .totalFiller {
                                width: 45% !important;
                            }
                        }
                    }
                }
            }

            .rightSide {
                .contributionCatDiv {
                    .contributionCatDetailDiv {
                        .entry {
                            .name {
                                width: 45% !important;
                            }

                            .amount {
                                width: 25% !important;
                            }

                            .date {
                                width: 30% !important;
                            }

                            .totalLabel {
                                width: 45% !important;
                            }

                            .totalAmount {
                                width: 25% !important;
                            }

                            .totalFiller {
                                width: 30% !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
