@import "../stylesDefs.scss";

// Call Sheet
.callSheetLoading {
  width: 100%;
  height: 500px; // updated before loading
  display: none;
  background-color: #f2f2f2; // match the revupDialogBox background
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  z-index: 1;
}

.callSheet {
  .upsideDownHeader {
    display: none;

    hr {
      border-color: $printGrayText;
    }

    .upsideDown {
      .rightSide {
        float: right;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg);
        direction: rtl;
        unicode-bidi: bidi-override;
        font-size: 2em;
        font-weight: $semiBold;
        color: $printGrayText;

        .firstName {
          float: left;
          margin-right: 10px;
        }

        .lastName {
          float: left;
          margin-right: 20px;
        }

        .phoneNum {
          float: left;
        }

        &::after {
          @include clearFloat;
        }
      }

      &::after {
        @include clearFloat;
      }
    }
  }

  .contentHeader {
    line-height: 1.2;
    margin-bottom: 10px;

    .leftSide {
      float: left;

      .picture {
        float: left;
        margin-right: 10px;
        margin-top: 7px;

        img {
          width: 100px;
          height: 100px;
        }
      }

      .personalInfo {
        float: left;

        input[type=text] {
          border: none;
          background: transparent;
        }

        .name {
          font-size: 2em;

          .firstName {
            float: left;
            font-weight: $bold;
            margin-right: 5px;
          }

          .lastName {
            float: left;
            color: $printGrayText;
          }

          &::after {
            @include clearFloat;
          }
        }

        .dataValue {
          color: $printGrayText;

          &:not(:last-child) {
            margin-bottom: 1px;
          }

          .dvLabel {
            float: left;
            width: 7em;
            margin-top: 3px;
          }

          .dvValue {
            float: left;

            &.phoneNum {
              font-weight: $bold;
              color: $blackText;
            }
          }

          .msgSpacer {
            display: inline-block;
            width: 7em;
            height: 2px;
          }

          .emailLstDiv {
            display: inline-block;

            .emailAddr {
              display: block;
            }
          }

          .msg {
            display: inline;
            font-size: 12px;
          }

          .emailLst,
          .phoneLst {
            display: inline-block;
            width: 250px;
            margin-top: 1px;

            .revupDropDown {
              .dropDownLst {
                position: absolute !important;

                .scrollSection {
                  height: auto;

                  .lstEntry {
                    width: 100%;
                  }
                }
              }
            }
          }

          input {
            width: 250px;
            color: $blackText;
            position: relative;
            top: 2px;

            &.phoneNum {
              font-weight: $bold;
            }

            &:focus {
              outline: none;
            }
          }

          &::after {
            @include clearFloat;
          }
        }
      }

      .noteMsg {
        float: left;
        margin-left: 10px;
        border-radius: 4px;
        padding: 5px;
        margin-top: 33px;
        background-color: #e5e6e6;
        color: $printGrayText;

        .noteIcon {
          float: left;
          width: 16px;
          font-size: 14px;
          text-align: center;
          font-weight: $bold;
        }

        .noteHeader {
          float: left;
          width: 20px;
          font-size: 13px;
          text-align: center;
          font-weight: $bold;
          clear: right;
        }

        .noteText {
          clear: left;
          float: left;
          width: 150px;
          font-size: 13px;
        }

        &::after {
          @include clearFloat;
        }
      }

      &::after {
        @include clearFloat;
      }
    }

    .rightSide {
      float: right;

      .amountGiven {
        font-size: 2em;
        font-weight: $semiBold;
      }

      .infoText {}

      &.contactDetailsDiv {
        width: 300px;

        .contactDetailsLst {
          margin-top: 35px;

          .entry {
            font-size: 14px;

            .label {
              @include reset;
              float: left;
              color: $lightTextColor;
              margin-right: 5px;
              font-size: 14px;
              width: 100px;
              text-align: right;
              line-height: 1.2;
              min-height: 10px;
            }

            .value {
              width: calc(100% - 105px);
              float: left;
              color: $blackText;
              font-weight: $semiBold;
              line-height: 1.2;
              word-wrap: normal;
              white-space: normal;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            &::after {
              @include clearFloat;
            }
          }
        }
      }
    }

    &::after {
      @include clearFloat;
    }
  }

  .editorLoadingDiv {
    width: 100%;
    height: 240px;
    // based on the height of the editor1Div and editor2Div
    display: none;
  }

  .editor1Div,
  .editor2Div {
    margin-top: 20px;

    .labelBtnDiv {
      height: 24px;
      margin-bottom: 2px;

      .leftSide {
        float: left;

        .aeLabel {
          font-size: 1.17em;
          font-weight: $bold;
          position: relative;
          top: 6px;
        }
      }

      .rightSide {
        float: right;

        .formatBtns {
          .editFormatBtn {
            float: left;
            height: 24px;

            .icon {
              font-size: 16px;
              line-height: 16px;
              top: 1px;
            }

            &:not(:first-child) {
              margin-left: 1px;
            }

            &.leadSpacer {
              margin-left: 10px;
            }
          }

          &::after {
            @include clearFloat;
          }
        }
      }

      &::after {
        @incluide clearFloat;
      }
    }

    .editor1,
    .editor2 {
      width: 100%;
      height: 6em;
      overflow: auto;
      padding: 5px;
      font-size: 1em;
      line-height: 1.1;
      border: 1px solid #e2e2e2;
      outline: 0;
      resize: vertical;

      &:focus {
        border-color: $primary-gray-4;
      }

      blockquote {
        font-size: 1em;
        border-left: none;
        box-sizing: border-box;
      }

      ol,
      ul {
        box-sizing: border-box;
        margin: 0 !important;
      }
    }
  }

  .contributionsDiv {
    margin-top: 20px;
    line-height: 1.1;

    .leftSide {
      width: 50%;
      float: left;
      padding-right: 10px;

      .personalInfo {
        .dataValue {
          &:not(:last-child) {
            margin-bottom: 1px;
          }
        }
      }

      .contributionCatDetailDiv {
        .entry {
          width: 385px;

          .labelSpace,
          .totalLabel {
            width: 235px !important;
            height: 3px;
            float: left;
          }
        }
      }

      .contributionAmountDiv {
        .contributionLabel {
          font-size: 1em;
          color: $printGrayText;
        }

        .contributionAmount {
          font-size: 2em;
          font-weight: $bold;
        }

        &:not(:first-child) {
          margin-top: 20px;
        }
      }

      .contributionCatDiv {
        margin-right: 25px;
      }
    }

    .leftSide,
    .rightSide {
      width: 50%;
      float: left;

      .contributionCatDiv {
        .contributionLabel {
          font-size: 1em;
          color: $printGrayText;
          margin-bottom: 5px;
        }

        &:not(:first-child) {
          margin-top: 15px;
        }

        .contributionCatDetailDiv {
          margin-left: 40px;

          .entry {
            font-size: 1em;

            .name {
              float: left;
              width: calc(100% - 150px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            .amount {
              float: left;
              width: 65px;
              text-align: right;
              white-space: nowrap;
            }

            .date {
              float: left;
              width: 85px;
              text-align: right;
              white-space: nowrap;
            }

            .sepBar {
              margin: 1px 0;
              background-color: $printGrayText !important;
              height: 1px;
            }

            .totalLabel {
              float: left;
              width: calc(100% - 150px);
              font-weight: $bold;
            }

            .totalAmount {
              float: left;
              width: 65px;
              text-align: right;
            }

            .totalFiller {
              float: left;
              width: 85px;
            }

            &::after {
              @include clearFloat;
            }

            &:not(:last-child) {
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    &::after {
      @include clearFloat;
    }
  }
}

// when printing
@media print {
  @page {
    margin: 0;
    size: auto;
  }

  .revupDialogBox {
    border-width: 0 !important;
  }

  .msgBody {
    overflow: visible !important;
  }

  .backgroundDiv {
    background-color: transparent;

    &.printModalOpen {
        .container {
            display: none;
        }
    }
  }

  .label {
    border: none;
    // override bootstrap
  }

  .callSheet {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 10;
    padding: 1.6cm;
    font-size: 16px;
    line-height: 17px;
  }

  .hideWhenPrinting {
    display: none !important;
  }

  .revupOverlay {
    display: none;
  }

  input {
    border: none;
    width: 350px;
  }

  .picture img {
    width: 150px !important;
    height: 150px !important;
  }

  .revupDialogBox {
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;

    .headerDiv {
      display: none;
    }

    .msgBodyDiv {
      height: 100% !important;

      .msgBody {
        height: 100% !important;
        font-size: 18pt !important;
      }
    }

    .btnDiv {
      display: none;
    }
  }

  .callSheet {
    .upsideDownHeader {
      display: block;
    }

    .formatBtns {
      display: none;
    }

    .contentHeader {
      .picture {
        margin-top: 12px !important;
      }

      .leftSide {
        .personalInfo {
          .dataValue {
            &:not(:last-child) {
              margin-bottom: 1px;
            }
          }
        }
      }
    }

    .askEditor,
    .resultsEditor {
      border: none !important;
      min-height: 3em !important;
      height: auto !important;
      resize: none !important;
    }

    .contributionsDiv {

      .leftSide {

        .contributionCatDiv {
          width: 100%;

          .contributionCatDetailDiv {
            .entry {
              width: calc(100% - 50px);

              .labelSpace {
                width: 20% !important;
              }

              .name {
                width: 45% !important;
              }

              .amount {
                width: 25% !important;
              }

              .date {
                width: 30% !important;
              }

              .totalLabel {
                width: 45% !important;
              }

              .totalAmount {
                width: 25% !important;
              }

              .totalFiller {
                width: 45% !important;
              }
            }
          }
        }
      }

      .rightSide {
        .contributionCatDiv {
          .contributionCatDetailDiv {
            .entry {
              .name {
                width: 45% !important;
              }

              .amount {
                width: 25% !important;
              }

              .date {
                width: 30% !important;
              }

              .totalLabel {
                width: 45% !important;
              }

              .totalAmount {
                width: 25% !important;
              }

              .totalFiller {
                width: 30% !important;
              }
            }
          }
        }
      }
    }
  }
}
