// sass-lint:disable-all

@import "../stylesDefs.scss";

.callTimeMgrDiv {
    // tab bar
    width: 100%;
    margin-top: -23px;
    position: relative;
    z-index: 10;

    .tabDiv {
        height: 25px;
        //margin-bottom: 5px;

        .tab {
            width: calc(100% / 2 );
            float: left;
            cursor: pointer;
            background-color: #f1f2f5;
            border-top: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &.active {
                background-color: $primary-green-3;
                cursor: default;

                .text {
                    color: $primary-gray-1;
                }
            }

            .text {
                text-align: center;
                font-size: 14px;
                color: #b6b8ba;
            }
        }
    }

    // button bar
    .buttonBar {
        height: 45px;

        // margin-bottom: 5px;
        width: calc(100%);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: linear-gradient(0deg, #dedede 0%, #d9d9d9 20.07%, #e8e8e8 100%);
        border: 1px solid $primary-gray-4;

        .leftSide {
            float: left;

            .iconBtnDiv {
                border-right: 1px solid $whiteText;
            }
        }

        .rightSide {
            float: right;

            .iconBtnDiv {
                border-left: 1px solid $whiteText;
            }
        }

        .iconBtnDiv {
            float: left;
            height: 43px;

            .btnDiv {
                cursor: pointer;
                padding-top: 5px;
                height: 45px;
                min-width: 65px;

                &.disabled {
                    cursor: default;
                    color: $secondary-gray-1;

                    .text {
                        color: $secondary-gray-1;
                    }

                    .icon {
                        color: $secondary-gray-1;
                    }

                    &:hover {
                        background: transparent;
                    }
                }

                &:hover {
                    background: linear-gradient(0deg, rgba(196, 232, 254, 1) 0%, rgba(192,231, 254, 1) 20.07%, rgba(214,239,254, 1) 100%);
                }

                .text {
                    font-size: 10px;
                    line-height: 11px;
                    white-space: nowrap;
                    margin-left: 12px;
                    margin-right: 12px;
                    color: $iconText;
                    text-align: center;
                }

                .icon {
                    color: $iconColor;
                    text-align: center;
                    font-size: 18px;
                    line-height: 19px;
                    margin-top: 3px;
                }

                &.hamburgerBtn {
                    .icon {
                        margin-left: 12px;
                        margin-right: 12px;

                        position: relative;
                        top: 4px;
                    }
                }

                &:after {
                    @include clearFloat;
                }
            }
        }

        .grpBtnDiv, .individualBtnDiv {
            .rightSide {
                min-height: 10px;
                width: calc(100% * 0.5);

                .searchBar {
                    margin-top: 11px;
                    margin-right: 10px;
                    width: 275px;
                    max-width: 300px;
                    float: right;
                }
            }
        }
    }

    .lstsSection {
        min-height: 400px;
    }

    .lstSection {
        float: left;
        width: calc(100% - 360px);
        background-color: $whiteText;
        display: none;
        background-color: $lightGrayBorder;

        .lstHeader, .lstDiv {
            // height: 28px;
            border-bottom: 1px solid $grayBorder;
            font-size: 12px;
            font-weight: 600;
            overflow: hidden;

            .column {
                float: left;
                margin-left: 10px;
                margin-right: 10px;
                white-space: nowrap;
                min-height: 2px;
                height: 100%;

                .columnHeader {
                    text-transform: capitalize;
                    font-size: 12px;
                    color: $primary-gray-6;
                    font-weight: 600;
                    position: relative;
                    top: 5px;
                }
            }

            .slider {
                float: left;
                width: 5px;
                height: 100%;
                background-color: transparent;
                cursor: col-resize;

                &.blank {
                    background-color: transparent;
                    cursor: default;
                }

                .sOuter {
                    background-color: transparent;
                    width: 1px;
                    height: 100%;
                    float: left;
                }

                .sInner {
                    background-color: transparent; // $separatorBorder;
                    width: 1px;
                    height: 100%;
                    float: left;
                }

                .sCenter {
                    background-color: $primary-gray-3;
                    width: 1px;
                    height: 100%;
                    float: left;
                }

                &:after {
                    @include clearFloat;
                }
            }
        }

        .lstHeader {
            height: 28px;
        }

        &:after {
            @include clearFloat;
        }

        .entry {
            height: 34px;
            font-size: 14px;
            line-height: 15px;
            color: $primary-gray-6;
            overflow: hidden;

            &:after {
                @include clearFloat;
            }

            &.selected {
                background-color: $secondary-blue-2 !important; // $ltGreenBackground !important;
            }

            &:nth-child(odd) {
                background-color: $tan-bg-color;
            }

            .column {
                margin-top: 9px;
                font-weight: normal;

                &.colSelect {
                    text-align: center;
                    font-size: 16px;
                    margin-top: 7px;

                    .icon {
                        cursor: pointer;
                    }
                }

                &.colMemberGrp {
                    text-align: left;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &.colDate {
                    text-align: center;
                }
            }

                &.loadingMore {
                    height: 30px;

                    .loadingMore {
                        background: url(../../img/dot-dot-dot.gif);
                        width: 55px;
                        height: 9px;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 10px;
                    }
                }
        }

        .individualWrapper {
            overflow-y: scroll;
            min-height: 400px;
            // max-height: 700px;

        }

        .individualHeader, .individualWrapper {
            .colSelect {
                width: 35px;

                .columnHeader {
                    text-align: center;
                }
            }

            .colIndividualName {
                width: calc(100% - 450px);
            }

            .colMemberGrp {
                width: 250px;

                .columnHeader {
                    text-align: center;
                }
            }

            .colDate {
                width: 70px;

                .columnHeader {
                    text-align: center;
                }
            }
        }


        .grpHeader, .grpLst {
            .colGrpName {
                width: calc((100% - 355px) * 0.8);
            }

            .colGrpCount {
                width: 70px;
                text-align: center;

                .columnHeader {
                    text-align: center;
                }

            }

            .colDateCreated {
                width: 70px;
                text-align: center;

                .columnHeader {
                    text-align: center;
                }

            }

            .colDateAssigned {
                width: 70px;
                text-assign: right;

                .columnHeader {
                    text-align: left;
                }
            }

            .colAssignedTo {
                width: calc((100% - 280px) * 0.2);
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;

                .columnHeader {
                    text-align: center;
                }
            }
        }

        .grpWrapper {
            overflow-y: scroll;
            min-height: 400px;
            // max-height: 700px;

        }

        .lstDiv {
            width: 100%;
            border-bottom: none;

            .noResultsDiv {
                width: 100%;
                height: 500px;

                .text {
                    padding: 150px 20px 0;
                    font-size: 18px;
                    font-weight: bold;
                    text-align: center;
                }
            }

            &.individualLst {
                background-color: $whiteText;
                min-height: 400px;
                // max-height: 630px;

            }

            &.grpLst {
                background-color: $whiteText;
                min-height: 400px;
                // max-height: 630px;

            }

        }

        .individualFooter, .grpFooter {
            background-color: #f5f5f5 !important;
            font-size: 14px;
        }

    }

    .detailsSection {
        float: right;
        width: 340px;

        .detailsDiv {
            .detailsIndividualDiv, .detailsGrpDiv {
                .detailsHeaderDiv {
                    height: 44px;

                    margin-bottom: 5px;
                    margin-top: 25px;
                    width: calc(100% /*+ 14px*/);
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(217, 217, 217, 1) 20.07%, rgba(232, 232, 232, 1) 100%);
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border: 1px solid $primary-gray-4;


                    .btnDiv {
                        float: left;
                        width: calc((100% - 2px) / 3);
                        height: 44px;

                        &:hover {
                            background: linear-gradient(0deg, #c4e8fe 0%, #c0e7fe 20.07%, #d6effe 100%);
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;
                            cursor: pointer;

                            &.disabled {
                                background: none;
                            }
                        }

                        &.disabled {
                            .icon, .text {
                                color: $secondary-gray-1;
                                cursor: default;
                            }
                        }

                        .text {
                            font-size: 10px;
                            line-height: 11px;
                            white-space: nowrap;
                            margin-left: 12px;
                            margin-right: 12px;
                            margin-top: 6px;
                            color: $iconText;
                            text-align: center;
                        }

                        .icon {
                            color: $iconColor;
                            text-align: center;
                            font-size: 18px;
                            line-height: 19px;
                            margin-top: 3px;
                        }
                    }

                    .sepBar {
                        float: left;
                        width: 1px;
                        height: 100%;
                        background-color: $whiteText;
                    }

                    &:after {
                        @include clearFloat;
                        }
                }
            }

            .detailsGrpDiv {
                .lstOuter {
                    overflow-y: scroll;
                    max-height: 620px;
                    .lst {
                    }
                }

                .lstFooter {
                    margin-top: 5px;
                    height: 20px;
                    position: relative;
                    top: 10px;
                    .text {
                        float: left;
                        font-size: 12px;
                        line-height: 1.1;
                        color: $primary-gray-4;
                    }

                    &:after {
                        @include clearFloat;
                        }
                }

                .entry {
                    margin-top: 5px;
                    padding: 8px 10px;
                    background-color: $whiteText;
                    border-radius: 4px;
                    border: 1px solid $whiteText;
                    // position: relative;
                    // z-index: 200;

                    .movementDiv {
                        width: 20px;
                        float: left;
                        position: relative;
                        top: 3px;
                        //pointer-events: none;

                        .moveBtn {
                            font-size: 14px;
                            text-align: center;
                            color: $primary-gray-4;
                            width: 20px;
                            height: 17px;
                            cursor: pointer;
                            //pointer-events: none;
                        }
                        .moveUp {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-start;
                            //pointer-events: none;

                        }

                        .moveDown {
                            display: flex;
                            justify-content: flex-start;
                            align-items: flex-end;
                            //pointer-events: none;
                        }
                    }

                    .nameInfoDiv {
                        width: calc(100% - 126px);
                        float: left;
                        padding-left: 10px;
                        position: relative;
                        top: 1px;

                        .nameDiv {
                            font-size: 16px;
                            font-weight: bold;
                            line-height: 1.1;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            //pointer-events: none;
                        }
                        .statusDiv {
                            font-size: 13px;
                            color: $primary-green-1;
                            line-height: 1.1;
                            margin-top: 3px;

                            .logEntryDiv {
                                .icon {
                                    display: inline-block;
                                    font-size: 16px;
                                }

                                .date {
                                    display: inline-block;
                                    margin-left: 5px;
                                    font-weight: $semiBold;
                                    position: relative;
                                    top: -3px;
                                }

                                .noAnswer {
                                    display: inline-block;
                                    color: $primary-gray-5;
                                    margin-left: 5px;
                                    font-size: 11px;
                                    position: relative;
                                    top: -4px;
                                }
                            }
                        }
                    }

                    .logCallResultDiv {
                        float: left;
                        width: 86px;
                        min-height: 5px;

                        .callResultDiv {
                            margin-left: 5px;
                            margin-right: 5px;
                            width: 76px;
                            height: 40px;
                            border-radius: 3px;
                            text-align: center;
                            color: $whiteText;
                            line-height: 17px;

                            &.pledgedBg {
                                background-color: $primary-green-1;
                            }

                            &.noAnswerBg {
                                background-color: #d2d3d4;
                            }

                            &.voiceMsgBg {
                                background-color: $primary-gray-5;
                            }

                            &.refusedBg {
                                background-color: $primary-gray-3;
                            }

                            &.badNumBg {
                                background-color: #fbc940;
                            }

                            &.notesBg {
                                background-color: $primary-blue-2;
                            }

                            .large {
                                font-size: 16px;
                            }

                            .small {
                                font-size: 12px;
                            }

                            .blank {
                                min-height: 11px;
                            }

                            .line1 {
                                padding-top: 2px;
                            }

                            .line2 {}
                        }
                    }


                    .deleteDiv {
                        width: 20px;
                        float: left;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 34px;
                        color: $primary-gray-4;
                        position: relative;
                        top: 5px;

                        .removeContactBtn {
                            cursor: pointer;
                        }
                    }

                    &.highlight {
                        background-color: $secondary-blue-2 !important;
                    }

                    &.movementHighlight {
                        background-color: $secondary-green-2;
                    }

                    &.selected {
                        background-color: #d9ecf7;
                    }

                    &.over {
                        border-top: 1px dashed $blackText;
                    }

                    &.moving {
                        opacity: 0.25;
                    }

                    &:first-of-type {
                        .movementDiv {
                            .moveUp {
                                cursor: default;
                                color: $primary-gray-2;
                            }
                        }
                    }

                    &:last-of-type {
                        .movementDiv {
                            .moveDown {
                                cursor: default;
                                color: $primary-gray-2;
                            }
                        }
                    }

                    &:after {
                        @include clearFloat;
                        }
                }

                .noResultsDiv {
                    width: 100%;
                    height: 300px;

                    .text {
                        padding: 150px 20px 0;
                        font-size: 18px;
                        font-weight: bold;
                        text-align: center;
                    }
                }

                .loadingMore {
                    height: 20px;

                    .loadingMore {
                        background: url(../../img/dot-dot-dot.gif);
                        width: 55px;
                        height: 9px;
                        margin-left: auto;
                        margin-right: auto;
                    }
                }
            }

            .individualDetailsDiv {
                .contactDiv {
                    width: 100%;
                    min-height: 25px;
                    background-color: $whiteText;
                    margin-top: 5px;
                    border-radius: 4px;
                    border: 1px solid #dddede;
                    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
                    padding: 10px;

                    .photoDiv {
                        float: left;
                        padding-right: 10px;
                    }

                    .nameEmailDiv {
                        float: left;
                        padding-right: 10px;
                        width: calc(100% - 50px);

                        &.hasPhoto {
                            width: calc(100% - 120px;)
                        }

                        .name {
                            font-weight: bold;
                            font-size: 23px;
                            line-height: 24px;
                            color: $blackText;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

/*
                        .email {
                            font-size: 14px;
                            line-height: 15px;
                            color: $blueText;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            margin-top: 3px;
                        }
*/

                        .phone, .email {
                            font-size: 16px;
                            line-height: 17px;
                            color: $blueText;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                            margin-top: 3px;

                            width: calc(100% - 23px);
                            display: inline-block;

                            .dropDownLst {
                                position: absolute !important;
                            }

                            .dropDownLst .scrollSection {
                                height: auto;

                                .lstEntry {
                                    width: calc(100% - 0px);
                                }
                            }
                        }

                        .primaryEmailChanged, .primaryPhoneChanged {
                            display: inline-block;
                            margin-left: 5px;
                            position: relative;
                            top: -2px;
                            font-size: 18px;
                            line-height: 1;
                            color: $primary-green-1;
                        }
                    }

                    .scoreSectionDiv {
                        float: left;
                        width: 50px;
                        height: 100%;

                        .scoreDiv {
                            height: 30px;
                            border-radius: 4px;

                            .text {
                                text-align: center;
                                font-size: 18px;
                                line-height: 1em;
                                width: 100%;
                                padding-top: 6px;
                                color: $whiteText;
                            }
                        }
                    }

                    &:after {
                        @include clearFloat;
                    }
                }

                .notesAvailDiv {
                    width: 100%;
                    background-color: $whiteText;
                    margin-top: 10px;
                    border-radius: 4px;
                    border: 1px solid #dddede;
                    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
                    padding: 10px;

                    .givingAvailDiv {
                        margin-bottom: 10px;

                        .amt {
                            font-size: 20px;
                            line-height: 1.1;
                            font-weight: semiBold;
                            color: $greenText2;
                        }

                        .text {
                            font-size: 12px;
                            line-height: 1.1;
                            color: $blackText;
                            margin-top: 2px;
                        }
                    }

                    .notesDiv {
                        border-radius: 4px;
                        border: 1px solid #dddede;

                        .title {
                            background-color: $primary-gray-2;

                            .text {
                                font-size: 14px;
                                padding: 2px 5px;
                                color: $primary-green-2;
                            }
                        }

                        .askNotesDiv {
                            height: 250px;
                            width: 100%;
                            overflow: auto;
                            padding: 5px;
                            font-size: 14px;
                            line-height: 1.1;
                            outline: 0;
                            resize: vertical;
                        }
                    }
                }
            }
        }
    }

    &:after {
        @include clearFloat;
    }
}

// add call sheet to group dialog
.addToGrpSection {
    .addToGrpDiv, .createNewGrpDiv, .spacerSection {
        .radioBtnDiv {
            float: left;
            width: 20px;

            .icon {
                margin-top: 3px;
                cursor: pointer;

                &.disabled {
                    opacity: 0.5;
                    cursor: default;
                }
            }
        }

        .radioBodyDiv {
            float: left;
            width: calc(100% - 20px);

            .msg {
                font-size: 14px;
                // font-weight: $semiBold;

                &.disabled {
                    color: $primary-gray-5;
                }
            }

            .lstHeading {
                font-size: 12px;
            }

            .searchFor, .newGrpName {
                width: 100%;
                margin-bottom: 5px;
                outline: none;
            }

            .searchForDiv {
                width: 100%;
                margin-bottom: 5px;
            }

            .newGrpName:disabled {
                background-color: $primary-gray-4;
                color: $primary-gray-5;
            }

            .grpLstOuter {
                width: 100%;
                height: 150px;
                overflow-x: hidden;
                overflow-y: auto;
                border: 1px solid $primary-gray-4;

                .grpLst {
                    width: 100%;
                    height: 150px;
                    // border: 1px solid $primary-gray-4;
                    background-color: $whiteText;
                    // overflow-x: hidden;
                    // overflow-y: auto;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .loadingDiv {
                        margin: 0;
                        margin-top: 35px;

                        .loading {
                            width: 70px;
                            height: 70px;
                            margin-left: -35px;
                        }
                    }

                    .lstMsgDiv {
                        width: 100%;
                        text-align: center;

                        .lstMsg {
                            margin-top: 60px;
                            font-size: 14px;
                            font-weight: bold;
                        }
                    }

                    .entry {
                        // height: 26px;
                        overflow: hidden;

                        &:nth-child(odd) {
                            background-color: $tan-bg-color;
                        }

                        &.selected {
                            background-color: $secondary-blue-2;
                        }

                        .text {
                            font-size: 14px;
                            //font-weight: $semiBold;
                            line-height: 1.1;
                            padding: 3px 5px;
                            //margin-left: 10px;
                            //margin-right: 10px;
                            //margin-top: 6px;
                        }

                        &.loadingMore {
                            height: 20px;

                            .loadingMore {
                                background: url(../../img/dot-dot-dot.gif);
                                width: 55px;
                                height: 9px;
                                margin-left: auto;
                                margin-right: auto;
                            }
                        }
                    }
                }
            }

            .grpLstOverlay {
                width: 100%;
                height: 150px;
                position: absolute;
                z-index: 100;
                background-color: $primary-gray-5;
                opacity: 0.4;
                top: 102px !important;
                left: 40px !important;
            }

        }
    }

    &:after {
        @include clearFloat;
    }
}

/*
 *
 * Create New Call group
 *
 */
.newCallSheetGrpDlg {
    .bodyDiv {
        width: 100%;

        .msg {
            font-size: 14px;
            font-weight: $semiBold;
        }

        .newGrpName {
            width: 100%;
            outline: none;
        }
    }
}

/*
 *
 * Assign group to dialog
 *
 */
.grpAssignDlg {
    .assignGrpToDlg {
        .text {
            font-size: 14px;
            line-height: 1.1;
        }

        .titleText {
            margin-top: 5px;
            font-size: 13px;
            line-height: 1.1;
        }

        .raiserLst {
            width: 100%;
            height: 120px;
            border: 1px solid $primary-gray-5;
            overflow-y: auto;
            text-overflow: ellipsis;
            white-space: nowrap;
            background-color: $whiteText;

            .entry {
                overflow: hidden;
                cursor: pointer;

                &:nth-child(odd) {
                    background-color: $tan-bg-color;
                }

                &.selected {
                    background-color: $secondary-blue-2;
                }

                &.disabled {
                    color: $primary-gray-4;
                    cursor: default;
                }

                .name {
                    font-size: 14px;
                    line-height: 1.1;
                    padding: 2px 5px;
                }
            }
        }
    }
}

/*
 *
 * Page Menu
 *
 */
.callSheetGrpMenu {
    color: $whiteText;
    font-size: 13px;
    line-height: 1.1em;
    background-color: #66686b !important;
    padding: 0 !important;

    &.revupPopup.top > .arrow:after {
        border-bottom-color: #66686b !important;
    }

    .entry {
        &:not(:last-of-type) {
            border-bottom: 1px solid $primary-gray-5;
        }

        &:last-of-type {
            padding-bottom: 0;
        }

        &.disabled {
            color: $primary-gray-5 !important;
            pointer-events: none;
            cursor: default;

            &:hover {
                background-color: transparent
            }
        }

        height: 25px;
        padding: 5px;
        cursor: pointer;

        .text {
            float: left;
        }

        .icon {
            float: right;
            margin-left: 10px;
            color: $primary-gray-4;
            font-size: 14px;
        }

        &:after {
            @include clearFloat;
        }

        &:hover {
            background-color: #84888c;
        }
    }
}

/*
 *
 * Unsigned raiser dialog
 *
 */
.unassignDlg {
    .unassignDiv {
        .unassignAllGrpDiv, .unassignSelectGrpDiv {
            min-height: 16px;

            .radioBtnDiv {
                float: left;
                width: 20px;

                .icon {
                    margin-top: 3px;
                    cursor: pointer;

                    &.disabled {
                        opacity: 0.5;
                        cursor: default;
                    }
                }
            }

            .radioBodyDiv {
                float: left;
                width: calc(100% - 20px);

                .msg {
                    font-size: 14px;
                    //font-weight: $semiBold;

                    &.disabled {
                        color: $primary-gray-5;
                    }
                }

                .unassignRaiserLst {
                    width: 100%;
                    height: 150px;
                    border: 1px solid $primary-gray-4;
                    background-color: $whiteText;
                    overflow-x: hidden;
                    overflow-y: auto;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    margin-top: 2px;

                    .entry {
                        padding: 1px 5px;
                        font-size: 14px;
                        line-height: 1.1;

                        &:nth-child(odd) {
                            background-color: $tan-bg-color;
                        }

                        .col {
                            float: left;

                            &.colSelect {
                                //width: 20px;
                                font-size: 18px;
                                cursor: pointer;
                                position: relative;
                                top: -1px;
                            }

                            &.colDate {
                                width: 80px;
                                position: relative;
                                top: 3px;
                            }

                            &.colName {
                                width: calc(100% - 100px);
                                position: relative;
                                top: 3px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }
                }

                .unassignRaiserLstOverlay {
                    width: 100%;
                    height: 150px;
                    position: absolute;
                    z-index: 100;
                    background-color: $primary-gray-5;
                    opacity: 0.4;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

        .unassignSelectGrpDiv {
            margin-top: 2px;
        }
    }
}

/*
 *
 * Call Status Dialog
 *
 */
.callResultsDlg {
    .userInfoDiv {
        .imageDiv {
            float: left;
            width: 60px;
            height: 60px;
            margin-right: 10px;

            img {
                border: 1px solid black;
                width: 60px;
                height: 60px;
            }
        }

        .nameDiv {
            float: left;
            width: calc(100% - 70px);
            line-height: 1.1;
            height: 85px;

            .name {
                color: $blackText;
                font-size: 20px;
                font-weight: $bold;
            }

            .primaryEmail {
                color: $secondary-blue-3;
                font-size: 16px;
            }

            .primaryPhone {
                color: $secondary-blue-3;
                font-size: 20px;
            }
        }

        &:after {
            @include clearFloat;
        }
    }

    .pledgeDiv {
        margin-top: 5px;

        .title {
            line-height: 1.5;
            font-size: 12px;
        }
        .pledgeAmountDiv {
            border: 1px solid #e2e2e2;
            padding: 1px;
            background-color: $whiteText;

            .dollarSign {
                display: inline-block;

                &:before {
                    content: '$';
                    padding-right: 5px;
                    padding-left: 5px;
                    background-color: $whiteText;
                }
            }

            .pledgeAmount {
                border: none;
                display: inline-block;
                width: calc(100% - 20px);
                outline: 0;
            }

            .rightInfo {}
        }
    }

    .statusDiv {
        margin-top: 5px;

        .title {
            line-height: 1.5;
            font-size: 12px;
        }

        .statusLst {
            width: 100%;
            height: 65px;
            background: $whiteText;
            border: 1px solid #e2e2e2;

            .entry {
                height: 20px;

                &:nth-child(odd) {
                    background-color: #e2e2e2;
                }
            }
        }
    }

    .notesDiv {
        margin-top: 5px;
        .title {
            line-height: 1.5;
            font-size: 12px;
        }

        .notes {
            width: 100%;
            background-color: $whiteText;
            height: 10em;
            overflow: auto;
            padding: 5px;
            font-size: 1em;
            line-height: 1.1;
            border: 1px solid #e2e2e2;
            outline: 0;
            resize: none;
        }
    }

    .callTypeDiv {
        margin-top: 5px;
        .title {
            line-height: 1.5;
            font-size: 12px;
        }

        .radioBtnGrpDiv {
            .radioEntry {
                float: left;

                &:not(:first-child) {
                    margin-left: 10px;
                }

                .rBtn {
                    float: left;
                    position: relative;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;

                    .icon {
                        display: inline-block;
                        position: absolute;
                        z-index: 2;
                        left: 1px;
                    }

                    .radioBackground {
                        position: absolute;
                        z-index: 1;
                        color: $whiteText;
                    }
                }

                .rLabel {
                    float: left;
                    font-size: 14px;
                    line-height: 1.1;
                    position: relative;
                    top: 1px;
                }

                &:after {
                    @include clearFloat;
                }
            }

            &:after {
                @include clearFloat;
            }
        }
    }


    .statusBtnDiv {
        width: 100%;
        margin-top: 10px;

        .row {
            margin-left: 0;
            margin-right: 0;

            &:after {
                @include clearFloat;
            }

            &:nth-child(even) {
                .statusBtn {
                    &:nth-child(odd) {
                        background-color: $secondary-gray-2;
                    }

                    &:nth-child(even) {
                        background-color: #a7a9ac;
                    }
                }
            }

            &:nth-child(odd) {
                .statusBtn {
                    &:nth-child(even) {
                        background-color: $secondary-gray-2;
                    }

                    &:nth-child(odd) {
                        background-color: #a7a9ac;
                    }
                }
            }


            .statusBtn {
                float: left;
                width: calc(100% / 2);
                padding: 10px;
                text-align: center;
                color: $whiteText;
                cursor: pointer;

                &.disabled {
                    cursor: default;
                    opacity: 0.3;
                }

                &.selected {
                    background-color: $primary-green-1 !important;
                }
            }
        }
    }
}

// Bulk Print Dialog
.bulkPrintCallSheets {
    .bulkPrint {
        position: relative;

        .waitingDiv {
            //position: absolute;
            display:none;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
        }

        .msgText {
            text-align: center;
            font-size: 16px;
        }

        .areYouSureDiv {
            display: block;
            margin-top: 25px;
        }

        .goodResults {
            display: none;
            margin-top: 25px;
        }
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar:vertical {
    width: 8px;
}

::-webkit-scrollbar:horizontal {
    height: 11px;
    background-color: rgba(0,0,0,.12);
}

::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}

/*
 *
 * CSV Download Dialog
 *
 */
.callTuneGrpCsvDownloadDiv {
    font-size: 14px;
    line-height: 16px;
    color: $primary-gray-6;

    .textMsg {
        font-weight: $normal;
        color: $lightTextColor;
    }

    .header {
        font-weight: $semiBold;
    }

    .entry {
        padding: 0 10px;

        &.disabled {
            .label {
                color: $disabledText;
            }
        }

        // check box styling based on this articial
        //    http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
        // hide the checkbox
        input[type=checkbox]:not(old) {
            width     : 2em;
            margin    : 0;
            padding   : 0;
            font-size : 1em;
            opacity   : 0;
        }

        // position the label
        input[type=checkbox]:not(old) + label {
            display      : inline-block;
            margin-left  : -2em;
            line-height  : 1.5em;
        }

        // if disabled display lighter
        input[type=checkbox]:not(old):disabled + label {
            opacity: .5;
        }


        // use the first span to create the unchecked graphics
        input[type=checkbox]:not(old) + label > span {
            display          : inline-block;
            width            : 0.875em;
            height           : 0.875em;
            margin           : 0.25em 0.5em 0.25em 0.25em;
            border           : 1px solid black; //0.0625em solid rgb(192,192,192);
            border-radius    : 0.25em;
            //background       : rgb(224,224,224);
            //background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            //background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            //background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            //background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            //background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
            vertical-align   : bottom;
        }

        // insert the checkmark when selected
        input[type=checkbox]:not(old):checked + label > span:before{
            content     : '✓';
            display     : block;
            width       : 1em;
            color       : $blackText; //rgb(153,204,102);
            font-size   : 0.875em;
            line-height : 1em;
            text-align  : center;
            text-shadow : 0 0 0.0714em #777; //rgb(115,153,77);
            font-weight : bold;
        }

        .label {
            @include reset;

            font-size: 13px;
            display: inline-block;
            margin-left: 10px;
        }
    }
}
.footerDiv{
    min-height: 68px !important;
}
