// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 *
 * CSS for Campaign Admin Pages
 *
 */

 $goldText: #e2ad23;
 $activeEditBkColor: $ltGreenBackground;
 $activeEditBtnBkColor: #def5bf;

 /*
  * Home
  */
.campaignAdmin {
    .pageHeader {
        line-height: 1.2;

        .section {
            .dataText {
                margin-top: 2px;
            }

            &.candidateDiv {
                .data {
                    .dataText {
                        font-size: 18px;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .imageSelectors {
        margin-bottom: 20px;

        .imageSection {
            float: left;
            width: calc(100% - 230px);
            height: 210px;

            .imageDiv {
                overflow: hidden;
                height: 210px;

                .accountImg {
                    width: 100%;
                    height: auto;
                    border: 1px solid transparent;
                    border-radius: 4px;
                }
            }
        }

        .btnSection {
            float: right;
            width: 200px;

            button {
                width: 200px;

                &:nth-child(n+2){
                    margin-top: 10px;
                }
            }
        }

        &:after {
            content: '.';
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
    }

    .fundEventSection {
        .tabHeader {
            height: 26px;

            .tab {
                float: left;
                //background-color: $inactiveTabBackground;
                background : -moz-linear-gradient(50% 0% -90deg,rgba(218, 218, 219, 1) 74.4%,rgba(198, 198, 199, 1) 100%);
                background : -webkit-linear-gradient(-90deg, rgba(218, 218, 219, 1) 74.4%, rgba(198, 198, 199, 1) 100%);
                background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0.744,rgba(218, 218, 219, 1) ),color-stop(1,rgba(198, 198, 199, 1) ));
                background : -ms-linear-gradient(-90deg, rgba(218, 218, 219, 1) 74.4%, rgba(198, 198, 199, 1) 100%);
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#DADADB', endColorstr='#C6C6C7' ,GradientType=0)";
                background : linear-gradient(180deg, rgba(218, 218, 219, 1) 74.4%, rgba(198, 198, 199, 1) 100%);

                width: calc((100% / 2) - 2.5px);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                text-align: center;
                height: 26px;
                cursor: pointer;

                &:not(:first-child) {
                    margin-left: 5px;
                }

                &.active {
                    //background-color: $activeTabBackground;
                    background: $activeTabBackground;
                    .label {
                        color: $activeTabText;
                    }
                }

                &.disabled {
                    cursor: default;

                    .label {
                        color: $lightTextColor;
                    }
                }

                .label {
                    color: $lightTextColor;
                    font-size: 18px;
                    font-weight: bold;
                    padding: 0;
                    line-height: 1.1em;
                    position: relative;
                    top: 2px;
                }

                &:after {
                    @include clearFloat;
                }
            }
        }

        .guts {
            min-height: 400px;
            background-color: $activeTabBackground;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            padding: 20px 10px 10px 10px;
        }
    }

    /*
     * Event Section
     */
    .eventSection {
        font-size: 14px;
        margin-top: 10px;

        .column {
            float: left;
            margin: 0 10px;
            white-space: nowrap;
        }

        // event
        .col1 {
            text-align: left;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        // price point
        .col2 {
            text-align: left;
            white-space: normal;

            .pricePointCell {
                display: inline-block;
                width: 50px;

            }
        }

        // goal
        .col3 {
            width: 85px;
            text-align: right;
        }

        // date
        .col4 {
            width: 110px;
            text-align: right;
        }

        // open/close
       .col5 {
            width: 16px;
            height: 16px;
            margin-left: 0;
            margin-right: 10px;
            padding-top: 1px;

            .openClose {
                font-size: 16px;
                color: $primary-gray-6;
                width: 15px;
                height: 14px;
                cursor: pointer;
            }
        }

        .preHeaderDiv {
            height: 30px;
            @include adminBarBackground;
            line-height: 1.1;

            .leftSide {
                float: left;

                .addNewEventBtn {
                    margin-left: 10px;
                    margin-top: 5px;
                }
            }

            .rightSide {
                float: right;

                .eventSearch {
                    width: 200px;
                    margin-right: 10px;
                    margin-top: 5px;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

        .headerDiv {
            text-transform: capitalize;
            color: $primary-gray-6;
            @include subheadBarBackground;
            font-weight: $semiBold;
            //vertical-align: bottom;
            padding-bottom: 5px;
            border-bottom: 1px solid $primary-gray-4;
            margin-top: 2px;
            margin-bottom: 2px;
            font-size: 14px;

            .headerText {
                margin-top: 4px;
            }

            &:after {
                content: '.';
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }

        }

        .btnSectionDiv {
            height: 32px;

            button {
                margin-top: 6px;
            }

            .col2 {
                height: 1px;
            }

            .col3 {
                height: 1px;
            }

            .col4 {
                .cancelBtn {
                    margin-top: 6px;
                    font-size: 14px;
                    font-weight: $semiBold;
                    float: left;
                    color: $blueText;
                    cursor: pointer;
                    margin-left: 10px;

                    &.disabled {
                        color: $lightTextColor;
                        cursor: default;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    &:hover {
                        text-decoration: underline
                    }
                }

                .saveBtn {
                    float: right;
                }

                &:after {
                    @include clearFloat;
                }
            }
        }

        .eventEditDiv {
            display: none;
        }

        .addNewEventDiv, .eventEditDiv {
            input {
                width: 100%;

                &.inputError, &.inputFormatError {
                    color: $redText;
                    border-color: $redText;
                    border-style: solid;
                }
            }

            input, button {
                outline: 0;
            }

            .fieldSectionDiv {
                background-color: $activeEditBkColor;
                padding-top: 5px;
                padding-bottom: 5px;

                .requiredField {
                    font-size: 12px;
                    color: $lightTextColor;
                    text-align: left;
                }

                .newOrgHeaderDiv {
                    .title {
                        font-size: 14px;
                        font-weight: $semiBold;
                        float: left;
                        padding-top: 2px;
                    }

                    .eventAddOrganizerBtn {
                        float: right;
                    }

                    &:after {
                        @include clearFloat;
                    }
                }

                .organizerDiv {
                    overflow: visible;
                    white-space: normal;

                    .organizerName, .neworganizer {
                        width: calc(100% - 170px);
                        display: inline-block;
                    }

                    .fundraiserType, .newfundraisertype {
                        width: 140px;
                        margin-left: 10px;
                        display: inline-block;
                    }

                    .organizerDeleteBtn {
                        display: inline-block;
                        color: $disabledText;
                        font-size: 16px;
                        position: relative;
                        top: -3px;
                        left: 3px;
                    }

                    .neworganizer:not(:first-child) {
                        margin-top: 5px;
                    }

                    .organizerName:not(:first-child) {
                        margin-top: 5px;
                    }

                    .revupDropDown {
                        outline: 0;

                        .clearMsg {
                            font-style: italic;
                            color: $lightTextColor;
                        }
                    }
                }

                .pricePointContainer {
                    background-color: green;
                    .newPricePoint {
                        width: 65px;
                        float: left;
                        margin-right: 10px;
                        margin-bottom: 5px;
                    }
                }

                .newGoal {
                    width: 80px;
                    text-align: right;
                }

                .eventDateContainer {
                    .newEventDate {
                        text-align: right;
                        float: left;
                        width: 80px;
                    }

                    .icon {
                        float: left;
                        font-size: 20px;
                        height: 20px;
                        line-height: 1;
                        margin-left: 5px;
                        margin-top: 2px;
                    }

                    &:after {
                        @include clearFloat;
                    }
                }


            }

            .btnSectionDiv {
                background-color: $activeEditBtnBkColor;
            }
        }

        .eventsDataDiv {
            .noEventData {
                height: 100px;
                width: 100%;
                transform-style: preserve-3d;
                text-align: center;
                font-size: 14px;
                color: $primary-gray-6;
                border: 1px solid #777;
                border-radius: 5px;

                .msg {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    }
            }

            .eventData {
                border-bottom: 1px solid $primary-gray-4;
                overflow: hidden;
                height: 27px;

                &:nth-of-type(odd) {
                    background-color: $activeTabBackground;
                }

                &:nth-of-type(even) {
                    background-color: $whiteText;
                }

                .col1 {
                    //padding-left: 7px;
                }

                .fieldSectionDiv {
                    height: 66px;

                    .column {
                        margin-top: 3px;
                        margin-bottom: 3px;

                        &.col1 {
                            .eventName {
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }

                    .organizerTitle {
                        margin-top: 5px;
                        font-size: 14px;
                        font-weight: $semiBold;
                    }

                    .organizerLstDiv {
                        line-height: 1.1;
                        .organizerName {
                            //height: 22px;
                            padding: 1px 2px 2px 10px;

                            &:not(:first-child) {
                                //margin-top: 5px;
                            }
                        }
                    }
                }

                .btnSectionDiv {
                    background-color: $disabledText;
                    position: relative;
                    z-index: 2;

                    input, button {
                        outline: 0;
                    }
                }

                &:after {
                    content: '.';
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }
            }

            &:after {
                content: '.';
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }
        }
    }

    /*
     * Organizer Section
     */
    .organizerSection {
        font-size: 14px;
        margin-top: 10px;

        .column {
            float: left;
            margin: 0 10px;
            white-space: nowrap;
        }

        .preHeaderDiv {
            height: 30px;
            @include adminBarBackground;
            line-height: 1.1;

            .leftSide {
                float: left;

                .addNewOrganizerBtn {
                    margin-left: 10px;
                    margin-top: 5px;
                }

                .availableSeats {
                    color: #598f11;
                    margin-left: 10px;
                    position: relative;
                    //top: 8px;
                }
            }

            .rightSide {
                float: right;

                .organizerSearch {
                    width: 200px;
                    margin-right: 10px;
                    margin-top: 5px;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

        // Name
        .col1 {
            text-align: left;
            padding-top: 3px;
        }

        // Email
        .col2 {
            text-align: left;
            padding-top: 3px;
        }

        // Last Active
        .col3 {
            width: 70px;
            text-align: center;
            padding-top: 3px;
        }

        // Role
        .col4 {
            width: 110px;
            text-align: left;
            padding-top: 3px;
        }

        // Add to Event - Button
        .col5 {
            width: 100px;
        }

        // Open/Close Arrow
        .col6 {
            width: 16px;
            height: 16px;
            margin-left: 0;
            margin-right: 10px;
            margin-top: 1px;
            padding-top: 3px;

            .openClose {
                font-size: 16px;
                color: $primary-gray-6;
                width: 15px;
                height: 14px;
                cursor: pointer;
            }
        }

        .headerDiv {
            text-transform: capitalize;
            color: $primary-gray-6;
            @include subheadBarBackground;
            font-weight: $semiBold;
            //vertical-align: bottom;
            padding-bottom: 5px;
            border-bottom: 1px solid $primary-gray-4;
            margin-top: 2px;
            margin-bottom: 2px;
            font-size: 14px;

            .headerText {
                margin-top: 4px;
            }

            &:after {
                content: '.';
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }

        }

        .organizerDataDiv {
            .noOrganizerData {
                height: 100px;
                width: 100%;
                transform-style: preserve-3d;
                text-align: center;
                font-size: 14px;
                color: $primary-gray-6;
                border: 1px solid #777;
                border-radius: 5px;

                .msg {
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    }
            }

            .orgEntry {
                height: 27px;
                border-bottom: 1px solid $primary-gray-4;
                overflow: hidden;

                &:nth-child(odd) {
                    background-color: $tan-bg-color;
                }

                &:nth-child(even) {
                    background-color: $whiteText;
                }

                // name
                .col1 {
                    .invitPending {
                        font-style: italic;
                        color: $lightTextColor;
                    }
                }

                // roles
                .col4 {
                    .noRole {
                        font-style: italic;
                        color: $lightTextColor;
                    }
                }

                // add to event button
                .col5 {
                    .addToEventBtn {
                        height: 20px;
                        border: 1px solid transparent;
                        border-radius: 10px;
                        background-color: $disabledText;
                        color: $primary-gray-6;
                        margin-top: 3px;
                        cursor: pointer;

                        .btnText {
                            text-align: center;
                            position: relative;
                            top: -1px;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
                }

                .orgDetails {
                    .msg {
                        font-size: 12px;
                        color: $lightTextColor;
                    }

                    .btnBar {
                        margin-bottom: 5px;

                        button:not(:first-child) {
                            margin-left: 10px;
                        }
                    }

                    .eventsHeader {
                        font-weight: $semiBold;
                    }

                    .eventsLst {
                        margin-left: 5px;
                        line-height: 1.3em;

                        .eventLstEntry {
                            border: 1px solid $grayBorder;
                            border-radius: 3px;
                            margin-bottom: 5px;
                            padding-left: 5px;

                            .eventName {
                                float: left;
                                width: calc(100% - 16px);
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }

                            .orgRemoveEventFromUserBtn {
                                float: left;
                                width: 16px;
                                display: none;
                                position: relative;
                                top: 2px;
                                color: $lightTextColor;
                            }

                            &:after {
                                @include clearFloat;
                            }
                        }

                    }
                }
            }

        }
    }

    /*
     * Fundraiser Section
     */
    .fundraiserSection {
        .actionBar {
            width: 100%;
            height: 26px;
            background : linear-gradient(0deg, rgba(217, 185, 130, 1) 0%, rgba(212, 183, 138, 1) 25.27%, rgba(247, 222, 178, 1) 99.46%);
            background : -webkit-linear-gradient(90deg, rgba(217, 185, 130, 1) 0%, rgba(212, 183, 138, 1) 25.27%, rgba(247, 222, 178, 1) 99.46%);
            background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(217, 185, 130, 1) ),color-stop(0.2527,rgba(212, 183, 138, 1) ),color-stop(0.9946,rgba(247, 222, 178, 1) ));

            .actionBtn {
                position: relative;
                top: 4px;
                float: left;
                padding: 0 15px;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }

                &:after {
                    @include clearFloat;
                }
            }
        }

        .fundraiserSectionLst {
            font-size: 14px;

            .column {
                float: left;
                margin: 0 10px;
                white-space: nowrap;
                //min-height: 1px;

                .inactive {
                    font-style: italic;
                }

                // fundraisers
                &.col1 {
                    text-align: left;
                    padding-top: 3px;
                }

                // last login
                &.col2 {
                    width: 70px;
                    text-align: center;
                    padding-top: 3px;
                }

                // team
                &.col3 {
                    width: 125px;
                    text-align: left;

                    .teamLst {
                        height: 22px;
                        width: 125px;

                        .revupDropDown {
                            .dropDownLst {
                                .lstEntry {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                            }

                            .cntlBody {
                                .valDiv {
                                    text-align: left;
                                    font-size: 13px;
                                    text-align: left;
                                    padding-top: 2px;
                                }
                            }
                        }
                    }
                }

                // no. of prospects
                &.col4 {
                    width: 105px;
                    text-align: right;
                    padding-top: 3px;
                }

                // no. contacts
                &.col5 {
                    width: 90px;
                    text-align: right;
                    padding-top: 3px;
                }

                // row up/down
                &.col6 {
                    width: 16px;
                    height: 16px;
                    margin-left: 0;
                    margin-right: 10px;
                    margin-top: 1px;
                    padding-top: 3px;

                   .openClose {
                       font-size: 16px;
                       color: $primary-gray-6;
                       width: 15px;
                       height: 14px;
                       cursor: pointer;
                   }
                }
            }

            .headerDiv {
                text-transform: capitalize;
                color: $primary-gray-6;
                font-weight: $semiBold;
                vertical-align: bottom;
                height: 20px;
                background : linear-gradient(0deg, rgba(187, 193, 201, 1) 0%, rgba(194, 200, 209, 1) 34.41%, rgba(206, 212, 219, 1) 100%);
                background : -webkit-linear-gradient(90deg, rgba(187, 193, 201, 1) 0%, rgba(194, 200, 209, 1) 34.41%, rgba(206, 212, 219, 1) 100%);
                background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(187, 193, 201, 1) ),color-stop(0.3441,rgba(194, 200, 209, 1) ),color-stop(1,rgba(206, 212, 219, 1) ));

                .column:not(:last-child) {
                    // border-right: 1px solid #696969;
                }

                .column {
                    padding-top: 0;
                }

                .col6 {
                    height: 2px;
                }
            }

            .dataColumns {
                height: 25px;
            }

            .dataDiv {
                .dataEntry {
                    border-bottom: 1px solid $prospectEntryBottomBorderColor;
                    padding-top: 5px;
                    padding-bottom: 2px;
                    line-height: 1.1em;

                    &:nth-child(odd) {
                        background-color: $tan-bg-color;
                    }

                    &:nth-child(even) {
                        background-color: $whiteText;
                    }
                }
            }

            .dataDetails {
                height: 50px;
                background-color: $ltBlueBackground;
                padding: 10px;

                .dataDetailsDiv {
                    .detailsSectDiv {
                        float: left;

                        &.sect1 {
                            width: 275px;

                            button:not(:first-child) {
                                margin-left: 10px;
                            }

                            .msg {
                                font-size: 12px;
                                color: $lightTextColor;
                            }

                            .disabled {
                                opacity: 0.4;
                            }
                        }

                        &.sect2 {
                            font-size: 13px;
                            margin-top: 8px;
                            position: relative;

                            &.disabled {
                                opacity: 0.4;

                                .icon-box-unchecked {
                                    cursor: default;
                                }
                            }

                            .icon-info {
                                display: inline-block;
                                height: 13px;
                            }

                            .icon-box-unchecked {
                                position: relative;
                                display: inline-block;
                                left: 1px;
                                cursor: pointer;
                                //top: 1px;
                            }

                            .icon-check {
                                color: $pageTitleColor;
                                font-weight: 900;
                                position: absolute;
                                font-size: 20px;
                                top: -6px;
                                left: 2px;
                            }

                            .msg {
                                position: relative;
                                top: -2px;
                                display: inline-block;
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                        }
                        &.sect3 {
                            float: right;
                            margin-top:2px;
                            font-size: 13px;
                            display: inline-block;
                            width: 280px;
                            min-width: 280px;

                            .msg {
                                position: relative;
                                top: 3px;
                                float:left;
                                margin-right: 5px;

                                &.disabled {
                                    color: $disabledText;
                                }
                            }

                            .warn-msg {
                                font-size: 12px;
                                color: $lightTextColor;
                            }

                            .permissionLst {
                                float: left;
                                //height: 22px;
                                width: 180px;

                                &.disabled {
                                    color: $disabledText;
                                }
                            }

                            &:after {
                                @include clearFloat;
                            }
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }
                }
            }
        }
    }
}

/*
 * Add Organizer To Event - "Add To Event" button
 */
.addOrgToEventDlg {
    width: 400px !important;
    height: 300px;
    z-index: 25;
    // background: $disabledText !important;
    background : -moz-linear-gradient(50% 100% 90deg,rgba(242, 242, 242, 1) 0.57%,rgba(255, 255, 255, 1) 100%) !important;
    background : -webkit-linear-gradient(90deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%) !important;
    background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0.0057,rgba(242, 242, 242, 1) ),color-stop(1,rgba(255, 255, 255, 1) )) !important;
    background : -o-linear-gradient(90deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%) !important;
    background : -ms-linear-gradient(90deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%) !important;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#F2F2F2', endColorstr='$whiteText' ,GradientType=0)" !important;
    background : linear-gradient(0deg, rgba(242, 242, 242, 1) 0.57%, rgba(255, 255, 255, 1) 100%) !important;
    border-style : Solid !important;
    border-color : $primary-gray-4 !important;
    border-color : rgba(188, 190, 192, 1) !important;
    border-width : 1px !important;
    border-radius : 4px !important;
    -moz-border-radius : 4px !important;
    -webkit-border-radius : 4px !important;
    box-shadow : 6px 6px 4px rgba(0, 0, 0, 0.3) !important;


    .searchBar {
        height: 30px;
        background-color: $grayBorder;
        margin-left: -10px;
        margin-right: -10px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .rightSide {
            width: 60%;
            float: right;

            .eventSearch {
                margin-top: 5px;
                margin-right: 5px;
            }
        }

        &:after {
            @include clearFloat;
        }
    }

    .eventLst {
        width: calc(100% + 20px);
        height: 175px;
        margin-left: -10px;
        margin-right: -10px;
        background-color: $whiteText;
        overflow-y: auto;
        padding-bottom: 2px;
        border: 1px solid $primary-gray-4;
        border-top: none;

        .loading {
            top: 35px;
            width: 100px;
            height: 100px;
            margin-left: -50px;
        }

        .eventEntry {
            height: 27px;
            border-bottom: 1px solid $primary-gray-4;
            overflow: hidden;

            &:last-child {
                border-bottom: none;
                height: 26px;
            }

            &:nth-child(odd) {
                background-color: $tan-bg-color;
            }

            &:nth-child(even) {
                background-color: $whiteText;
            }

            .activeEventDiv {
                float: left;

                .selectedEvent {
                    position: relative;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    cursor: pointer;

                    .activeEvent {
                        float: left;
                        width: 20px;
                        margin-left: 5px;
                        margin-top: 1px;
                        font-size: 18px;
                    }

                    .activeEventChecked {
                        position: absolute;
                        left: 8px;
                        top: 1px;
                        width: 20px;
                        font-size: 15px;
                        height: 20px;
                        float: left;
                        color: green;
                    }
                }
            }

            .nameEventDiv {
                float: left;
                width: calc(100% - (25px + 90px));
                margin-top: 2px;
                margin-right: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .dateEventDiv {
                float: left;
                width: 75px;
                margin-top: 2px;
            }

            &:after {
                @include clearFloat;
            }
        }
    }
}

.addOrgToEventDlgArrow {
    position: absolute;
    width: 10px;
    height: 15px;
    z-index: 25;
    //background: $disabledText;

    &.arrowDown {
        width: 0;
    	height: 0;
    	border-left: 10px solid transparent;
    	border-right: 10px solid transparent;

        // border-top: 15px solid $primary-gray-4;
        border-top: 15px solid #F2F2F2;
        }

    &.arrowUp {
        width: 0;
    	height: 0;
    	border-left: 10px solid transparent;
    	border-right: 10px solid transparent;

    	//border-bottom: 15px solid $primary-gray-4;
        border-bottom: 15px solid $whiteText;
    }
}

/*
 * Campaign Setting
 */
.editSection {
    margin-top: 15px;
    margin-bottom: 15px;

    .fieldInError {
        color: $redText !important;
        border-color: $redText !important;

        input, .selectLst .frame {
            color: $redText !important;
            border-color: $redText !important;
        }

        .selectLst .arrowDiv {
            background-color: $redText !important;
            border-color: $redText !important;
        }

        .errMsg {
            font-size: 13px;
            color: $redText !important;
        }
    }

    .editStep {
        border-top: 1px solid $lightGrayBorder;
        padding-top: 5px;

        &:last-of-type {
            border-bottom: 1px solid $lightGrayBorder;
        }

        .editHeader {
            .openClose {
                display: inline-block;
                position: relative;
                top: 2px;
                color: $primary-gray-6;
                cursor: pointer;
                height: 32px;

                .icon {
                    display: inline-block;
                    height: 18px;
                    line-height: 1.1em
                }

                .text {
                    margin-left: 4px;
                    display: inline-block;
                    font-weight: bold;
                    font-size: 16px;
                    height: 16px;
                    line-height: 1.1em;
                    color: $blueText;
                    position: absolute;
                    width: 100px;
                    left: 20px;
                    top: 0px;
                }
            }
        }

        .editBody {
            display: none;
            margin-bottom: 15px;

            .column {
                float: left;
                min-height: 50px;

                &.col1 {
                    width: 160px;
                }
                &.col2 {
                    margin-right: 40px;

                    .entryDiv {
                        label {
                            width: 120px;
                        }

                        input[type=text] {
                            width: calc(100% - 130px);
                        }
                    }
                }
                &.col3 {
                    margin-left: 40px;
                }

                &.col2and3 {
                    .headerLine {
                        background-color: $grayBackgroundColor;
                        height: 20px;

                        .title {
                            float: left;
                            display: block;
                            font-weight: $semiBold;
                            font-size: 12px;
                            margin-left: 10px;
                            position: relative;
                            top: 1px;
                        }

                        .rightBtn {
                            float: right;
                            font-size: 12px;
                            margin-right: 10px;
                            color: $blueText;
                            cursor: pointer;
                            position: relative;
                            top: 1px;
                        }
                    }

                    .centerDiv {
                        margin-top: 10px;
                        margin-left: auto;
                        margin-right: auto;
                        text-align: center;
                    }
                }

                .heading {
                    margin-left: -15px;
                    font-weight: bold;
                    font-size: 14px;
                    color: $primary-gray-6;
                }

                .entryDiv {
                    label {
                        font-size: 13px;
                        font-weight: normal;
                        color: $primary-gray-6;
                        display: inline-block;
                        margin-right: 5px;
                        text-align: right;
                        white-space: nowrap;
                    }

                    input[type=text] {
                        height: 20px;
                        border: 1px solid $disabledText;
                        font-size: 13px;
                        padding: 0 3px;

                        &:-webkit-autofill {
                            -webkit-box-shadow:0 0 0 50px white inset; /* Change the color to your own background color */
                            -webkit-text-fill-color: #999;
                        }

                        &:focus {
                            outline: none;
                            outline-offset: none;

                            border-color: $lightTextColor                         }

                        &.inputError {
                            border-color: $redText;
                            border-style: solid;
                            outline-color: $redText !important;
                            color: $redText;
                        }
                    }

                    .form-control {
                        border-radius: 0 !important;
                        border: none;
                        width: calc(100% - 130px);
                    }

                    .form-control:focus {
                        border-color: transparent;
                        box-shadow: none;
                    }

                    .select2-container {
                        border-radius: 0 !important;
                        border: none;
                        width: calc(100% - 130px);
                        font-size: 14px;

                        &:focus {
                            border-color: transparent;
                            box-shadow: none;
                            outline-color: none;
                            outline-width: 0px;
                        }

                        .select2-choice {
                            border: 0 !important;
                            border-radius: 0 !important;
                            padding: 0;
                            height: 20px;
                            line-height: 20px;
                            background-image: none;
                        }

                        span.select2-chosen {
                            border: 1px solid #ccc;
                            height: 20px;
                            margin-right: 24px;
                            padding-left: 5px;
                        }

                        span.select2-arrow {
                            border-left: none;
                            background-image: none;
                            background-color: $disabledText;
                            border: 1px solid $disabledText;
                            width: 21px;

                            b {
                                color: $whiteText;
                                font-size: 14px;
                                width: 15px;
                                height: 15px;
                                position: relative;
                                left: 3px;
                                top: 2px;
                                background: none;

                                font-family: "revicon" !important;
                                font-style: normal !important;
                                font-weight: normal !important;
                                font-variant: normal !important;
                                text-transform: none !important;
                                speak: none;
                                line-height: 1;
                                -webkit-font-smoothing: antialiased;
                                -moz-osx-font-smoothing: grayscale;
                            }

                            b:before {
                                content: "S";
                            }
                        }
                    }

                    // Candidate section
                    &.genderDiv {
                    }

                    &.birthdateDiv {
                        input.newLook {
                            width: calc(100% - 150px);
                        }
                    }

                    &.birthStateDiv, &.genderDiv, &.partyDiv, &.officeCategoryDiv, &.officeDiv {
                        div.selectLst {
                            width: calc(100% - 130px);
                            display: inline-block;
                            margin-top: 5px;
                        }

                        label {
                            position: relative;
                            top: -7px;
                        }
                    }

                    // Campaign section
                    &.raceDiv {
                        input.newLook {
                            width: calc(100% - 150px);
                        }
                    }

                    &.incumbentDiv {
                        .squaredThree {
                            width: 20px;
                            position: relative;
                              margin: 20px auto;
                              label {
                                width: 20px;
                                height: 20px;
                                cursor: pointer;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background: linear-gradient(top, #222 0%, #45484d 100%);
                                border-radius: 4px;
                                box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,.4);
                                &:after {
                                  content: '';
                                  width: 9px;
                                  height: 5px;
                                  position: absolute;
                                  top: 4px;
                                  left: 4px;
                                  border: 3px solid #fcfff4;
                                  border-top: none;
                                  border-right: none;
                                  background: transparent;
                                  opacity: 0;
                                  transform: rotate(-45deg);
                                }
                                &:hover::after {
                                  opacity: 0.3;
                                }
                              }
                              input[type=checkbox] {
                                visibility: hidden;
                                &:checked + label:after {
                                  opacity: 1;
                                }
                              }
                            }
                    }

                    &.opponentDiv {
                        margin-left: 30px;
                        font-size: 13px;

                        .nameFrame {
                            background-color: $grayBackgroundColor;
                            height: 20px;
                            margin-left: -30px;
                            margin-bottom: 5px;

                            .name {
                                font-size: 12px;
                                font-weight: $semiBold;
                                margin-left: 10px;
                                position: relative;
                                top: 2px;
                            }
                        }

                        .searchDiv {
                            .searchNameDiv {
                                position: relative;

                                .searchNameFrame {
                                    height: 20px;
                                    border: 1px solid $disabledText;
                                    border-radius: 2px;
                                    padding: 0 3px;

                                    .searchName {
                                        width: calc(100% - 15px);
                                        border-radius: 0 !important;
                                        border: none !important;
                                        float: left;
                                        height: initial !important;
                                        padding: 0 !important;
                                        font-size: 13px !important;
                                    }

                                    .deleteNameBtn {
                                        position: relative;
                                        top: 2px;
                                        float: right;
                                        color: $lightTextColor;
                                        cursor: pointer;
                                        height: 15px;
                                    }
                                }

                                .waitCursor {
                                    width: 18px;
                                    height: 18px;
                                    display: none;
                                    position: absolute;
                                    top: 1px;
                                    left: calc(50% - 9px);

                                    background-image: url(../../img/spinner_gray_30.gif);
                                    background-size: 18px 18px;
                                    background-repeat: no-repeat;
                                }
                            }


                            .lstDiv {
                                display: none;

                                .lst {
                                    border: 1px solid $primary-gray-4;
                                    list-style-type: none;
                                    padding: 0 5px;
                                    width: calc(100% - 50px);
                                    max-height: 95px;
                                    overflow-y: auto;
                                    font-size: 12px;
                                    margin-bottom: 2px;
                                }
                            }
                        }
                    }

                    &.officeStateDiv {
                        input.newLook {
                            width: calc(100% - 150px);

                        }

                        div.selectLst {
                            width: calc(100% - 130px);
                            display: inline-block;
                            margin-top: 5px;
                        }

                        label {
                            position: relative;
                            top: -7px;
                        }

                    }

                    /* Graphics */

                    .iconContainerCenter {
                        text-align: center;
                        margin-top: 10px;

                        .iconContainerDiv {
                            display: inline-block;

                            .iconDiv {
                                margin-bottom: 5px;

                                .chooseHeading {
                                    display: inline-block;
                                    width: 160px;
                                    text-align: left;
                                }

                                .fileBtn {
                                    width: 80px;
                                    display: inline-block;
                                }

                                .sampleImg {
                                    display: inline-block;
                                    width: calc(100% - (160px + 80px + 20px));

                                    .iconImg, .opponentIconImg {
                                        width: auto;
                                        height: 18px;
                                    }
                                }

                                &:after {
                                    content: '.';
                                    display: block;
                                    clear: both;
                                    visibility: hidden;
                                    line-height: 0;
                                    height: 0;
                                }
                            }
                        }
                    }

                    .iconSampleDiv {
                        display: inline-block;
                        text-align: center;

                        .title {
                            display: inline-block;
                            text-align: center;
                        }

                        .imgContDiv {
                            max-width: 100px;
                            margin-left: auto;
                            margin-right: auto;
                            overflow: hidden;
                            white-space: nowrap;
                            font-size: 0;
                            text-align: center;

                            .imgDiv {
                                display: inline-block;

                                &:not(:first-child) {
                                    margin-left: 5px;
                                }

                                img {
                                    width: auto;
                                    height: 18px;
                                }
                            }
                        }
                    }
                }
            }

            &:after {
                content: '.';
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }

            .nextPrevDiv {
                float: right;

                .nextPrevBtn {
                    float: left;


                    &:not(:first-child) {
                        margin-left: 10px;
                    }

                    //&:after {
                    //    @include clearFloat;
                    //}
                }

                &:after {
                    @include clearFloat;
                }
            }
        }
    }
}

/*
 *
 * Team View Admin
 *
 */
.campaignAdmin {
    .teamSection {
        .teamSectionLst {
            font-size: 14px;

            .column {
                float: left;
                margin: 0 10px;
                white-space: nowrap;
                //min-height: 1px;

                .inactive {
                    font-style: italic;
                }

                // fundraisers
                &.col1 {
                    text-align: left;
                }

                // first login
                &.col2 {
                    width: 70px;
                    text-align: center;
                }

                // last login
                &.col3 {
                    width: 70px;
                }

                // contacts uploaded
                &.col4 {
                    width: 125px;
                    text-align: center;

                    .icon {
                        color: $pageTitleColor;
                        font-size: 16px;
                        font-weight: bold;
                    }
                }

                // last analyzed
                &.col5 {
                    width: 90px;
                    text-align:center
                }

                // no contacted
                &.col6 {
                    width: 95px;
                    text-align: right;
                }
            }

            .headerDiv {
                text-transform: capitalize;
                color: $primary-gray-6;
                font-weight: bold;
                vertical-align: bottom;
                height: 24px;
                background-color: $dkGrayBackgroundColor;

                .column {
                    padding-top: 2px;
                }
            }

            .dataColumns {
                height: 18px;
            }

            .dataDiv {
                .dataEntry {
                    border-bottom: 1px solid $prospectEntryBottomBorderColor;
                    padding-top: 5px;
                    padding-bottom: 2px;
                    line-height: 1.1em;

                    &:nth-child(odd) {
                        background-color: $tan-bg-color;
                    }

                    &:nth-child(even) {
                        background-color: $whiteText;
                    }
                }
            }

            .dataDetails {
                height: 50px;
                background-color: $ltBlueBackground;
                padding: 10px;

                .dataDetailsDiv {
                    .detailsSectDiv {
                        float: left;

                        &.sect1 {
                            width: 275px;

                            button:not(:first-child) {
                                margin-left: 10px;
                            }

                            .msg {
                                font-size: 12px;
                                color: $lightTextColor;
                            }
                        }

                        &.sect2 {
                            font-size: 13px;
                            margin-top: 8px;
                            position: relative;

                            &.disabled {
                                opacity: 0.4;

                                .icon-box-unchecked {
                                    cursor: default;
                                }
                            }

                            .icon-info {
                                display: inline-block;
                                height: 13px;
                            }

                            .icon-box-unchecked {
                                position: relative;
                                display: inline-block;
                                left: 1px;
                                cursor: pointer;
                                //top: 1px;
                            }

                            .icon-check {
                                color: $pageTitleColor;
                                font-weight: 900;
                                position: absolute;
                                font-size: 20px;
                                top: -6px;
                                left: 2px;
                            }

                            .msg {
                                position: relative;
                                top: -2px;
                                display: inline-block;
                                margin-left: 5px;
                                margin-right: 5px;
                            }
                        }
                        &.sect3 {
                            float: right;
                            margin-top:2px;
                            font-size: 13px;

                            .msg {
                                position: relative;
                                top: 3px;
                                float:left;
                                margin-right: 5px;
                            }

                            .permissionLst {
                                float: left;
                                height: 22px;
                                width: 180px;
                                border: 1px solid $grayBorder;
                                background-color: $whiteText;

                                .revupDropDown {
                                    .dropDownLst {
                                        margin-left: -1px;
                                        margin-right: -1px;
                                        border: 1px solid $grayBorder;
                                        border-top: none;
                                    }

                                    .cntlBody {
                                        border: none;
                                        margin-left: 5px;
                                        margin-right: 5px;

                                        .valDiv {
                                            text-align: left;
                                            font-size: 13px;
                                            text-align: left;
                                            padding-top: 2px;
                                        }
                                    }
                                }
                            }

                            &:after {
                                @inclide clearFloat;
                            }
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }
                }
            }
        }

    }
}

/*
 *
 * Bottom Buttons
 *
 */
.bottomBtnDiv {
    .rightSide {
        text-align: right;

        .cancelBtn {
            display: inline-block;
            color: $blueText;
            margin-right: 20px;
            cursor: pointer;
        }

        .revupBtnDefault {
            display: inline-block;
        }
    }
}

.select2-search {
    input[type=text] {
        padding: 2px 20px 2px 3px;
        font-size: 13px;
        font-family: SourceSansPro, "Source Sans Pro", sans-serif;
        margin-top: 3px;
    }
}

.select2-drop-active {
    border-color: $disabledText !important;
}

.select2-results {
    font-size: 13px;

    .select2-highlighted {
        background-color: $grayBackgroundColor !important;
        color: $primary-gray-6 !important;
    }
}

/*
 *
 * Add New Organizer Dialog
 *
 */
.addNewOrgDlg {
    .msg {}

    .fields {
        .line {
            margin: 5px 0;

            .dlgLabel {
                display: inline-block;
                font-size: 14px;
                font-weight: $semiBold;
                color: $primary-gray-6;
                text-align: right;
                margin-right: 5px;
                white-space: nowrap;
                width: 100px;
            }

            .emailAddress {
                width: 190px;
            }

            .roleLst {
                display: inline-block;
                width:190px;
            }

            .roleDesc {
                display: inline-block;
                width: 190px;
                border: 1px solid $lightGrayBorder;
                padding: 5px;
                height: 105px;
                overflow-y: auto;
                background-color: $whiteText;
                font-size: 12px;
                line-height: 1.1;
            }
        }
    }
}

/*
 *
 * Designated Lead Modal
 *
 */
.designateLeadDiv {
    .headerText {
    }

    .noOrganizers {
        width: 90%;
        margin: 10px auto;
        line-height: 1.2;
    }

    .desigateLeadLstDiv {
        width: 90%;
        margin-left: auto;
        margin-right: auto;

        .name {
            float: left;
            width: calc(100% - 90px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .leadOrNot {
            float: left;
            width: 90px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }

        .header {
            padding: 2px 5px;
            background-color: $separatorBorder;
            margin-bottom: 5px;

            &:after {
                @include clearFloat;
            }
        }

        .leadEntry {
            padding: 0 5px;
            margin-bottom: 3px;

            .icon {
                font-size: 16px;
            }

            &:after {
                @include clearFloat;
            }
        }
    }
}

/* global */


.campaignAdminContent {
    font-family: sans-serif;
    font-size: x-large;
    font-weight: bold;
    width: 100%; //1000px;
    min-width: 500px;

    /* boxes */
    > .row > div {
        padding: 0;
        //height: 350px;
    }
    .create-campaign-button {
        vertical-align: center;
    }
}

/* horizontal spacing */

.admin-tracker, .admin-events {
    margin-top: 45px;
}

/* summary */

.admin-summary {
    background-color: $blue-bg-color;
    color: white;
    font-size: medium;
    font-weight: normal;

    > img {
        display: block;
        margin: 12px auto 0 auto;
        max-width: 470px;
        height: auto;
    }
    > ul {
        list-style-type: none;
        margin: 5px auto 0 auto;
        padding: 0;
    }
    a {
        color: lightgray;
        font-weight: lighter;
        margin-left: 1em;
    }

    .limitText {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* buttons */

.admin-buttons {
    /* 4 x button-height + 3 x margin-top = total-height
       margin-top = 15px, total-height = 300px
       button-height = (300 - 3 x 15) / 4 = 63.75px */
    button {
        visibility: center;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        height: 63.75px;
        padding-left: 50px;
        text-align: left;
        width: 100%;
    }
    *:not(:first-child) {
        margin-top: 15px;
    }
}

/* tracker */

.admin-tracker {
    border: 1px solid $blue-bg-color;
}

/* events */

.admin-links {
    font-size: medium;
    margin: 10px auto 10px auto;
    width: calc(100% - 20px); //350px;
    > a {
        text-decoration: underline;
    }
    > a:last-child {
        float: right;
    }
}

.admin-events {
    border: 1px solid $blue-bg-color;
    > ul {
        font-size: medium;
        height: 170px;
        list-style-type: none;
        margin: 0 auto 10px auto;
        overflow-y: scroll;
        padding: 0;
        width: calc(100% - 20px); //350px;
        > li {
            background-color: lightgray;
            font-weight: normal;
            margin: 0;
            > a {
                display: block;
                text-decoration: underline;
            }
            > a, > p {
                height: 40px;
                line-height: 40px;
                margin-bottom: 0;
                overflow: hidden;
                padding: 0 10px 0 10px;
            }
            > *:nth-child(even) {
                text-align: right;
            }
        }
        > li:not(:first-child) {
            margin-top: 10px;
        }
    }
}

/* upload external data on campaign admin */

#upload-external-data {
    select {
    }
    input {
        display: inline;
        margin-left: 1em;
    }
}

/* icon upload on edit campaign form */
div.upload-icon {
    .msg {
        line-height: 1.1;
        margin-bottom: 5px;
    }

    /*
    p {
        padding-left: 5px;
    }
    */
    div.container {
        width: 100%;

        .iconImg, .opponentIconImg {
            width: auto;
            height: 18px;
        }

        .header {
            display: inline-block;
            margin-top: 5px;
            margin-bottom: 0;
            padding-left: 0 !important;
            padding-right: 0 !important;
            width: 160px;
        }

        .revupFileBtn {
            width: 80px;
            display: inline-block;

            img {
                height: 18px;
                width: auto;
            }
            input {
                display: inline;
            }

            .imgContDiv {
                margin-left: auto;
                margin-right: auto;
            }

            .title {
                text-align: center;
                margin-top: 5px;
            }
        }

        .sampleImg {
            display: inline-block;
            width: calc(100% - (160px + 80px + 20px)); /* width of header, button, and buffer */
        }
    }

    .iconSample {
        margin-top: 5px;

        .title {
            text-align: center;
        }

        .ranking-table {
            text-align: center;

            .imgContDiv {
                display: inline-block;

                .imgDiv {
                    width: auto;
                }
            }
        }
    }
}

.hide-icon input {
    /* hide magnifying glass icon */
    background: none !important;
}

/* lead fundraisers dialog on campaign admin event detail */

#lead-fundraisers-dialog {
    div.container {
        height: 25em;
        overflow: auto;
        width: 100%;
        ul.fundraiser-list {
            border: 1px solid black;
            list-style-type: none;
            margin: 0;
            min-height: 3em;
            padding: 0;
            li {
                margin: 5px;
                padding: 5px;
            }
        }
    }
    #lead-fundraisers-status {
        text-align: center;
    }
}

/* add fundraiser dialog on all users page */

div.campaign-admin-fundraisers {
    button.add-user {
        float: right;
        margin-bottom: 1em;
    }
}

/*
 * Role Model
 */
.roleDiv {
    .revupDropDown {
        .cntlBody {
            border: none;

            .valDiv {
                text-align: left;
            }
        }
    }
}

/*
 * Add New Fundraiser Dialog
 */
.addNewFundDlg {
    width: 450px;
    left: calc(50% - 225px);

    table, td, th {
        border: 1px solid black;
    }

    .tableOuterDiv {
        text-align: center;
    }

    .tableInnerDiv {
        display:inline-block;
    }

    p {
        margin-top: 10px;
    }

    tr:nth-child(odd) {
        background-color: $tan-bg-color;
    }

    tr:nth-child(even) {
        background-color: $whiteText;
    }

    th {
        text-align: center;
    }

    td {
        padding: 5px;
        text-align: left;
    }

    .dlgBody {
        .dlgLine {
            .label {
                margin-top: 4px
            }
        }

        .fileName {
            position: relative;
            top:2px;
            left: 5px;
        }

        .emailAddress {
            width: 100%;
        }

        .alert {
            padding: 5px;
            margin-bottom: 0;
            border: 1px solid transparent;
            border-radius: 4px;
        }

        .dropdownLst {
            height: 26px;
            width: 180px;
            border: 1px solid $grayBorder;
            background-color: $whiteText;

            .revupDropDown {
                .dropDownLst {
                    margin-left: -1px;
                    margin-right: -1px;
                    border: 1px solid $grayBorder;
                    border-top: none;
                }

                .cntlBody {
                    border: none;
                    margin-left: 5px;
                    margin-right: 5px;

                    .valDiv {
                        text-align: left;
                        font-size: 14px;
                        text-align: left;
                        padding-top: 2px;
                    }
                }
            }
        }
    }
}

/*
 * Add a new team
 */
.addNewTeamDlg {
    width: 374px;
    left: calc(50% - 187);

    .dlgBody {
        .dlgLine {
            .label {
                margin-top: 4px;
                width: 45%;
            }

            .content {
                width: 50%;
            }
        }

        .alert {
            padding: 5px;
            margin-bottom: 0;
            border: 1px solid transparent;
            border-radius: 4px;
        }
    }

}

/*
 * Popup for info about team manager
 */
.teamMgrPopupMsg {

}

/*
 *
 * Analysis Configuration
 *
 */
.configAnalysis {
    .btnHeader {
        margin-top: 10px;

        .btnRight {
            float: right;
        }

        &:after {
            @include clearFloat;
        }
    }

    .bannerText {
        font-size: 12px;
        line-height: 1.1em;
        color: $primary-gray-5;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .configAnalysisSection {
        position: relative;

        .saveUpdateWait {
            display: none;
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 1000;
            background-color: rgba(0, 0, 0, 0.3);
        }

        .lstSection {
            width: 330px;
            float: right;

            .accountSettingsNavTitle {
                font-size: 14px;
                font-weight: $semiBold;
                color: $primary-gray-6;
                margin: 0 0 5px 0;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            .entry {
                height: 30px;
                border: 1px solid $secondary-gray-6;
                background-color: $secondary-gray-5;
                margin-bottom: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

                &.selected {
                    border: 1px solid $secondary-blue-3;
                    background-color: $primary-blue-2;
                    overflow: hidden;
                    cursor: default;
                    //transition: all 0.8s;
                }

                &:focus-within {
                  box-shadow: $focus-box-shadow;

                  .title {
                    text-decoration: underline;
                  }
                }
            }
        }

        .detailsSection {
            width: calc(100% - 350px);
            float: left;
            background-color: $whiteText;
            border: 1px solid $separatorBorder;

            .detailsData {
                position: relative;
                padding: 30px 5px;
                min-height: 350px;
                width: 450px;
                margin-left: auto;
                margin-right: auto;

                //.creditCardDiv {
                //    width: 944px;
                //    margin: 50px 0 50px -255px;
                //}

                .similarToMineTitle {
                    display: none;
                }

                .title {
                    font-size: 14px;
                    font-weight: $bold;
                    color: $secondary-gray-2;
                }

                .subTitle {
                    font-size: 13px;
                    color: $secondary-gray-2;
                }

                .fieldEntry {
                    font-size: 13px !important;
                    color: $primary-gray-6;
                    margin-top: 10px;
                    margin-left: 15px;

                    .labelSideDiv {
                        float: left;
                        width: 40%;
                        margin-right: 10px;

                        .label {
                            @include reset;

                            font-size: 13px;
                            color: $primary-gray-6;
                            text-align: right;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;

                            &:after {
                                content: ":\00a0\00a0\00a0";
                            }

                            &.required:after {
                                content: ": ";
                            }

                            &.required:before {
                                content: "*";
                                margin-right: 1px;
                            }
                        }
                    }

                    .centerDiv {
                        .revupDynamicLst {
                            .textFieldFrame {
                                height: 24px;
                                padding: 2px 3px;

                                .title {
                                    font-size: 12px;
                                }

                                .textField {
                                    outline: 0
                                }

                                .deleteBtn {
                                    font-size: 16px;
                                }
                            }
                        }
                    }

                    .fieldSideDiv {
                        float: left;
                        width: calc(60% - 11px);

                        .fieldDiv {
                            &.dateFieldDiv {
                                .dateInput {
                                    //height: 20px;
                                    width: 220px;
                                    border: 1px solid #ededed; //$disabledText;
                                    font-size: 13px;
                                    padding: 3px 4px;
                                    outline: 0 none;

                                    &.inputError, &.inputFormatError {
                                        color: $redText;
                                        border-color: $redText;
                                        border-style: solid;
                                    }
                                }

                                .dateInputIcon {
                                    width: 21px;
                                    height: 20px;
                                    display: inline-block;
                                    cursor: pointer;
                                    position: relative;
                                    top: 3px;

                                    .icon {
                                        font-size: 16px;
                                        position: relative;
                                        top: 1px;
                                        left: 4px;
                                        height: 17px;
                                        width: 16px;
                                        color: #d6d6d6;
                                    }
                                }
                            }

                            &.textFieldDiv {
                                .textInput {
                                    //height: 20px;
                                    width: 245px;
                                    border: 1px solid $secondary-gray-11;
                                    font-size: 13px;
                                    padding: 3px 4px;
                                    outline: 0 none;
                                    padding-left: 6px;

                                    &:focus {
                                        border-color: $primary-gray-4;
                                    }
                                }
                            }

                            &.intField, &.intUnlimitedField {
                                .intUnlimitedDropDown {
                                    width: 100px;
                                    margin-bottom: 5px;

                                    .revupDropDown {
                                        .scrollSection {
                                            height: 45px;
                                        }
                                    }
                                }

                                .intInput {
                                    width: 100px;
                                    border: 1px solid #ededed;// $disabledText;
                                    font-size: 13px;
                                    padding: 3px 4px;
                                    outline: 0 none;

                                    &:focus {
                                        border-color: $primary-gray-4;
                                    }

                                    &.inputError, &.inputFormatError {
                                        color: $redText;
                                        border-color: $redText;
                                        border-style: solid;
                                    }
                                }
                            }
                        }
                    }

                    &.intField, &.dateField, &.textField {
                        .labelSideDiv {
                            .label {
                                position: relative;
                                top: 6px;
                            }
                        }
                    }

                    &.booleanField {
                        .labelSideDiv {
                            .label {
                                position: relative;
                                top: 3px;
                            }
                        }
                    }

                    &.dropdownField {
                        .labelSideDiv {
                            .label {
                                position: relative;
                                top: 4px;
                            }
                        }
                    }

                    &.intUnlimitedField {
                        .labelSideDiv {
                            .label {
                                position: relative;
                                top: 5px;
                            }
                        }
                    }

                    &:after {
                        @include clearFloat;
                    }
                }

                .btnDiv {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    width: 100%;
                    //position: absolute;
                    //bottom: 0;

                    .leftSide {
                        float: left;

                        .text {
                            position: relative;
                            top: 12px;
                            display: block;
                            font-size: 13px;
                            line-height: 1.1em;
                            color: $primary-gray-6;

                            &.requiredMsg {
                                color: $primary-gray-5;
                            }

                            &::before {
                                content: '*';
                                margin-right: 1px;
                            }
                        }
                    }

                    .rightSide {
                        float: right;
                    }

                    &:after {
                        @include clearFloat;
                    }
                }

                .grouping {
                    margin-left: 10px;
                }

                .lst {
                    margin-left: 20px;

                    .entry {
                        height: 22px;
                        position: relative;

                        &:not(:first-child) {
                            margin-bottom: 3px;
                        }

                        &:first-child {
                            margin-top: 5px;
                        }

                        .title {
                            color: $blueText;
                            float: left;
                            width: calc(100% - 17px);
                            line-height: 14px;
                            position: relative;
                            top: 5px;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .icon-add-filter {
                            float: left;
                            font-size: 16px;
                            line-height: 16px;
                            color: $secondary-gray-3;
                            position: relative;
                            top: 2px;
                            margin-left: 10px;
                        }

                        .icon-delete-circle {
                            color: $secondary-gray-4;

                            &:hover {
                                cursor: pointer;
                            }
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }
                }

                // details - entity search
                .detailsEntitySearch {
                    .grouping {
                        margin-top:5px;

                        &:not(:last-child) {
                            margin-bottom: 10px;
                        }

                        .header {
                            .subTitle {
                                float: left;
                            }

                            .addMoreBtn {
                                float: right;
                                font-size: 13px;
                                font-weight: $normal;
                            }

                            &:after {
                                @include clearFloat;
                            }
                        }
                    }
                }

                .detailsErrorSection {
                    .errorMsg {
                        margin-top: 20px;
                        font-size: 18px;
                        font-weight: $semiBold;
                        text-align: center;
                    }
                }

                .addBtn.entitySearch {
                    background-color: $primary-gray-3 !important;
                    border-radius: 3px;
                    float: right;
                    cursor: pointer;
                    width: 50px;
                    font-size: 12px;

                    .icon {
                        display: inline-block;
                        vertical-align: top;
                        color: $whiteText;
                        margin-left: 5px;
                        margin-top: 2px;
                    }

                    .btnText {
                        display: inline-block;
                        vertical-align: top;
                        color: $whiteText;
                        font-size: 11px;
                        line-height: 1.1em;
                        padding: 5px 4px;
                    }
                }
            }

            .detailsContribRange {
                font-size: 13px;
                color: $primary-gray-6;
                line-height: 1.1em;
                font-weight: $semiBold;

                .enableDisableCheckDiv {
                    margin-left: 10px;

                    .enableDisableCheckbox {
                        display: inline-block;
                        position: relative;
                        top: 2px;
                        font-size: 15px;
                    }

                    .text {
                        display: inline-block;
                    }
                }

                .contribRangeEntrySection {
                    margin-left: 50px;
                    margin-top: 10px;
                    margin-bottom: 10px;

                    &.disabled {
                        opacity: 0.3;
                        position: relative;
                        z-index: 100;
                    }

                    .contribRangeEntry {
                        padding: 10px 15px;
                        background-color: $tan-bg-color;

                        &:not(:first-child) {
                            margin-top: 10px;
                        }
                    }

                    .line {
                        &:not(:first-child) {
                            margin-top: 5px;
                        }

                        .text {
                            display: inline-block;

                            &.spaceBefore {
                                margin-left: 5px;
                            }

                            &.spaceAfter {
                                margin-right: 5px;
                            }

                            &.spaceAfterLarge {
                                margin-right: 15px;
                            }

                            &.disabled {
                                opacity: 0.3;
                            }
                        }

                        input:disabled {
                            background: #eee;
                        }

                        .checkbox {
                            display: inline-block;
                            font-size: 1.3em;
                            margin-left: 5px;
                            margin-right: 1px;
                            margin-top: 0;
                            margin-bottom: 0;
                            position: relative;
                            top: 3px;
                        }

                        .radioDisplay {
                            display: inline-block;
                            position: relative;
                            top: 2px;
                        }

                        .ceiling {
                            width: 70px;
                            outline: none;
                        }

                        .displayLabel {
                            width: 155px;
                            outline: none;
                        }

                        .deleteEntry {
                            display: inline-block;
                            float: right;
                            position: relative;
                            top: -5px;
                            left: 10px;
                            color: $disabledText2;
                            cursor: pointer;
                        }
                    }
                }

                .addBtnDiv {
                    .addBtn {
                        background-color: #9192a1;
                        border-radius: 3px;
                        float: right;
                        cursor: pointer;

                        .btnText {
                            color: $whiteText;
                            font-size: 11px;
                            line-height: 1.1em;
                            padding: 2px 5px;
                        }
                    }

                    &:after {
                        @include clearFloat;
                    }
                }
            }
        }

        &:after {
            @include clearFloat;
        }
    }
}




//@import "detail.scss";
//@import "summary.scss";
