// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 * Add Contact Dialog
 */
.addContactDlg {
    .header {
        .logo {
            text-align: center;
        }

        .msg {
            font-size: 18px;
            color: $primary-gray-6;
            line-height: 1.2em;
            margin-top: 15px;
        }

        .bottonMsg {
            margin-top:10px;
            font-size: 12px;
            line-height: 1.1em;
            color: $secondary-gray-2;
        }

        .selector {
            height: 80px;
            margin-top: 15px;
            text-align: center;

            .app {
                display: inline-block;
                width: 60px;
                height: 80px;
                margin-left: 5px;
                margin-right: 5px;
                cursor: pointer;

                &:hover {
                    .appContainer {
                        background-color: $whiteText;
                        border-color: $greenBtnBorder;
                    }
                }

                &.disabled {
                    color: $primary-gray-5 !important;
                    pointer-events: none;
                    cursor: default;
                }

                .appContainer {
                    border: 3px solid transparent;
                    border-radius: 30px;
                    background-color: $separatorBorder;
                    width: 60px;
                    height: 60px;
                    position: relative;

                    .appIcon {
                      width: 100%;
                    }

                    .appLabel {
                        font-size: 12px;
                        text-align: center;
                    }
                }
            }
        }
    }
}
