// sass-lint:disable-all

/*
 *
 * CSS for Contact Import page
 *
 */

.importTypeDialog {
    div {
        display: inline-block;
        padding: 1px 10px;
        font-size: 11px;
        text-transform: capitalize;
        cursor: pointer;
        text-decoration: underline;
        color: rgba(121, 163, 199, 1);
    }
}
