// sass-lint:disable-all

@import "../stylesDefs.scss";


::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*
 *
 * Style Sheet for Contact Manager
 *
 */
.contactErrorWarningMsg {
    &.warning {
        .msgBox {
            border: 1px solid $border-orange-1;
            background-color: $background-orange-1;

            .textOuterDiv {
                .textDiv {
                    .icon {
                        color: $secondary-orange-2;
                    }

                    .text {
                        color: $secondary-orange-1;
                        font-weight: $semiBold;
                    }
                }
            }

            .closeBtn {
                color: $secondary-orange-2;
            }
        }

    }

    &.error {
        .msgBox {
            border: 1px solid $border-red-1;
            background-color: $background-red-1;

            .textOuterDiv {
                .textCenterDiv {
                    .textDiv {
                        .icon {
                            color: $secondary-red-2;
                        }

                        .text {
                            color: $secondary-red-1;
                            font-weight: $semiBold;
                        }
                    }
                }
            }

            .closeBtn {
                color: $secondary-red-2;
            }
        }

    }

    .msgBox {
        height: 50px;
        width: 100%;
        border: 1px solid $secondary-orange-1;
        border-radius: 5px;
        position: relative;
        line-height: 1.1em;

        .textOuterDiv {
            display: flex;
            justify-content: center;
            align-self: center;
            height: 100%;
            padding: 0 10px;

            .textCenterDiv {
                align-self: center;
                text-align: center;

                .textDiv {
                    align-self: center;
                    justify-content: center;

                    .icon {
                        float: left;
                        display: inline;
                        position: relative;
                        top: 1px;
                        color: $secondary-orange-2;
                        width: 20px;
                    }

                    .text {
                        // white-space: nowrap;
                        float: left;
                        display: inline;
                        color: $secondary-orange-1;
                        width: calc(100% - 30px);
                        margin-left: 10px;

                        .count {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .closeBtn {
            align-self: center;
            position: absolute;
            right: 10px;
            cursor: pointer;

            .icon {}
        }
    }
}



.contactManager {
    max-width: 1700px;

    .infoDiv {
        background-color: #edf8ff;
        color: #4c96bf;
        width: 100%;
        height: 50px;
        border: 1px solid #8cc0de;
        border-radius: 4px;
        padding: 10px;
        line-height: 1;

        .msgDiv {
            font-size: 14px;

            .msgHeader {
                font-weight: $semiBold;
            }

            .msgBody {}
        }

        .leftSide {
            float: left;
            width: calc((100% / 2) - 10px);
            margin-right: 10px;
            text-align: center;

            .leftSideStuff {
                display: inline-block;
                text-align: left;

                .icon {
                    float: left;
                    margin-right: 10px;
                    font-size: 18px;
                    position: relative;
                    top: 1px;
                }

                .msgDiv {
                    float: left;
                    font-size: 14px;
                    display: block;

                    .msgHeader {
                        font-weight: bold;
                    }

                    .msgBody {
                        font-weight: normal;
                    }
                }

                &.after {
                    @include clearFloat;
                }

            }
        }
        .rightSide {
            float: right;
            width: calc((100% / 2) - 10px);
            margin-left: 10px;
            text-align: center;

            .msgDiv {
                font-size: 14px;
                display: inline-block;
                text-align: left;

                .msgHeader {
                    font-weight: bold;
                }

                .msgBody {
                    font-weight: normal;
                }
            }
        }

        &:after {
            @include clearFloat;
        }
    }

    .numContactsDiv {
        margin-top: 5px;
        font-size: 14px;
        font-weight: $semiBold;

        .numContacts {
            display: inline-block;
            font-size: 20px;
            font-weight: $bold;
            color: #8ec741;
        }

        .totalContacts {
            display: inline-block;
        }
    }

    .buttonBar {
        width: 100%;
        height: 50px;
        padding: 2px;
        margin-top: 10px;
        margin-bottom: 5px;
        position: relative;
        background: linear-gradient(0deg, #dedede 0%, #d9d9d9 20.07%, #e8e8e8 100%);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid $primary-gray-4;

        &:before {
            content: " ";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }

        &:after {
            @include clearFloat;
        }
    }

    // loading contacts
    .loadingConatactsDiv {
        width: 100%;

        .title {
            margin-top: 20px;
            font-size: 20px;
            font-weight: $semiBold;
            text-align: center;
        }

        .loadingDiv {
            margin: 20px 0;

        }
    }


    .contactAccountSection, .contactUserSection {
        display: none;

        .accountContacts{
            .cloneDiv{
                .textDiv{
                    margin-left: -30px;

                }
            }
            .contactContainer{
                height: 100px;

            }
        }
    }

    /*
     * Contact Info Div
     */
    .contactInfoDiv {
        display: flex;
        flex-direction: row;
        margin-top: 3px;
        margin-bottom: 10px;

        .contactInfoLeft {
            display: flex;
            flex-direction: column;

            .contactNumDiv {
                white-space: nowrap;
                margin-top: 2px;

                .numContacts {
                    display: inline-block;
                    font-size: 20px;
                    font-weight: bold;
                    color: $primary-blue-2;
                }

                .title {
                    font-size: 14px;
                    line-height: 1.1em;
                    font-weight: $semiBold;
                    color: #818285;
                    margin-top: 10px;
                    display: inline-block;

                    &:before {
                        display: inline-block;
                        content: ' ';
                    }

                    &:after {
                        display: inline-block;
                        content: ' ';
                    }
                }

                .totalContacts {
                    display: inline-block;
                }

                .infoBtn {
                    display: inline-block;
                    height: 30px;

                    .icon {
                        cursor: pointer;
                        display: inline-block;
                        font-size: 20px;
                        line-height: 17px;
                        color: $secondary-blue-3;
                        position: relative;
                        top: 4px;
                    }
                }
            }

            .contactGraphDiv {
                .usageGraphDiv {
                    height: 12px;
                    width: 100%;
                    border-radius: 6px;
                    border: 1px solid $primary-gray-5;
                    position: relative;
                    z-index: 10;
                    background: linear-gradient(to right,
                                                #87db12 0%,
                                                #89db12 35.77%,
                                                #90da12 48.65%,
                                                #9bd911 57.83%,
                                                #acd710 65.26%,
                                                #c2d50f 71.54%,
                                                #ddd20e 77.08%,
                                                #e0d20e 77.69%,
                                                #f3bf05 85.97%,
                                                #ffb300 90.39%,
                                                #eb0000 100%);

                    .deletedContacts {
                        z-index: 15;
                        height: 10px;
                        background-image: url(../../img/deleted-contacts.png);
                        background-repeat: repeat-x;
                        background-size: 16px 16px;
                        float: left;
                    }

                    .activeContacts {
                        z-index: 15;
                        height: 10px;
                        background-color: transparent;
                        float: left;
                    }

                    .remainingContacts {
                        z-index: 15;
                        height: 10px;
                        background-color: $secondary-gray-12;
                        float: left;
                    }

                    .leftEnd {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }

                    .rightEnd {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }

        .contactInfoRight {
            display: flex;
            align-self: flex-end;

            .entries {
                display: flex;
                flex-direction: column;

                .entry {
                    font-size: 11px;
                    line-height: 1.2em;
                    margin-left: 10px;

                    .dot {
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border: 1px solid $primary-gray-5;
                        border-radius: 5px;
                        margin-right: 3px;
                    }

                    .msgText {
                        display: inline-block;
                        margin-right: 3px;
                    }

                    .count {
                        display: inline-block;
                    }

                    &.deletedContacts {
                        .dot {
                            background-image: url(../../img/deleted-contacts.png);
                        }
                    }

                    &.activeContacts {
                        .dot {
                            background: linear-gradient(to right,
                                                        #87db12 0%,
                                                        #89db12 35.77%,
                                                        #90da12 48.65%,
                                                        #9bd911 57.83%,
                                                        #acd710 65.26%,
                                                        #c2d50f 71.54%,
                                                        #ddd20e 77.08%,
                                                        #e0d20e 77.69%,
                                                        #f3bf05 85.97%,
                                                        #ffb300 90.39%,
                                                        #eb0000 100%);
                        }
                    }

                    &.remainingContacts {
                        .dot {
                            background-color: $secondary-gray-12;
                        }
                    }
                }
            }
        }
    }

    .contactConnectionDiv {
        .contactContainer {
            width: 230px;
            height: 132px;
            margin-right: 10px;
            margin-bottom: 10px;
            padding: 10px;
            position: relative;
            float: left;
            border: 1px solid #c7c7c7;
            background-color: #eeeff0;

            &:before {
                content: " ";
                position: absolute;
                top: 0px;
                left: 0px;
                right: 0px;
                bottom: 0px;
                border: 1px solid $whiteText;
            }

            &.addContact {
                background-color: #f5f6f7;
                position: relative;
                z-index: 25;
                cursor: pointer;

                .addContactBtn {
                    margin-top: 15px;
                    text-align: center;
                    font-size: 44px;
                    line-height: 44px;
                    color: $separatorBorder;

                }
            }

            .topPart {
                width: 100%;
                //height: 75px;

                .nameDiv {
                    font-size: 14px;
                    color: $secondary-gray-2;
                    width: 200px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;

                    .leftSide {
                        min-height: 0;
                        float: left;
                        width: calc(100% - 14px);
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }

                    .rightSide {
                        min-height: 0;
                        float: right;

                        .icon {
                            cursor: pointer;
                            position: relative;
                            z-index: 3;
                            line-height: 14px;
                            top: 2px;
                        }

                        .disabled {
                            color: $primary-gray-3;
                            cursor: default;
                        }
                    }

                    &:after {
                        @include clearFloat;
                    }
                }

                .leftSide {
                    float: left;
                    min-height: 34px;

                    .middleStuff {
                        margin-top: 2px;

                        .imgDiv {
                            //display: inline-block;
                            position: relative;

                            float: left;
                            width: 40px;

                            .linkedInGlyph {
                                background: url(../../img/connect-icons.png) no-repeat 0 -65px;
                                width: 65px;
                                height: 65px;
                                position: absolute;
                                zoom: 45%;
                                -moz-transform-origin: left top;
                                -moz-transform: scale(.45, .45);  /* Firefox */
                            }

                            .outlookGlyph {
                                background: url(../../img/connect-icons.png) no-repeat 0 -132px;
                                width: 65px;
                                height: 62px;
                                position: absolute;
                                zoom: 45%;
                                -moz-transform-origin: left top;
                                -moz-transform: scale(.45, .45);  /* Firefox */
                            }

                            .gmailGlyph {
                                background: url(../../img/connect-icons.png) no-repeat 0 0;
                                width: 65px;
                                height: 47px;
                                position: absolute;
                                top: 10px;
                                zoom: 45%;
                                -moz-transform-origin: left top;
                                -moz-transform: scale(.45, .45);  /* Firefox */
                            }

                            .csvGlyph {
                                background: url(../../img/connect-icons.png) no-repeat -7px -198px;
                                width: 52px;
                                height: 65px;
                                zoom: 45%;
                                position: absolute;
                                -moz-transform-origin: left top;
                                -moz-transform: scale(0.45, 0.45);  /* Firefox */
                            }

                            .mobileGlyph {
                                background: url(../../img/connect-icons.png) no-repeat -7px -478px;
                                width: 52px;
                                height: 65px;
                                zoom: 45%;
                                position: absolute;
                                -moz-transform-origin: left top;
                                -moz-transform: scale(0.45, 0.45);  /* Firefox */
                            }

                            .appleGlyph {
                                background: url(../../img/connect-icons.png) no-repeat 0 -265px;
                                width: 65px;
                                height: 80px;
                                position: absolute;
                                zoom: 40%;
                                -moz-transform-origin: left top;
                                -moz-transform: scale(.40, .40);  /* Firefox */
                            }

                            .iPhoneGlyph {
                                background: url(../../img/mobile.png);
                                width: 20px;
                                height: 40px;
                                position: absolute;
                                zoom: 80%;
                                -moz-transform-origin: left top;
                                x-moz-transform: scale(.80, .80);  /* Firefox */
                            }

                            .unknownGlyph {
                                background: url(../../img/connect-icons.png) no-repeat 0 -347px;
                                width: 65px;
                                height: 65px;
                                position: absolute;
                                zoom: 45%;
                                -moz-transform-origin: left top;
                                -moz-transform: scale(.45, .45);  /* Firefox */
                            }

                            .cloneGlyph {
                                background: url(../../img/connect-icons.png) no-repeat 0 -543px;
                                width: 65px;
                                height: 65px;
                                position: relative;
                                zoom: 45%;
                                -moz-transform-origin: left top;
                                -moz-transform: scale(.45, .45);  /* Firefox */
                            }
                        }

                        .textDiv {
                            position: relative;
                            float: left;
                            left: 35px;

                            .contactCountDiv {
                                // min-height: 42px;

                                .numContacts {
                                    min-height: 18px;
                                    font-size: 18px;
                                    line-height: 18px;
                                    font-weight: $semiBold;
                                    color: #32353e;
                                }

                                .text {
                                    font-size: 12px;
                                    line-height: 12px;
                                    color: $primary-gray-5;
                                }
                            }

                            .contactLoadingDiv {
                                .icon, .pifont {
                                    &.placeholder, &.failed {
                                        position: relative;
                                        left: -5px;
                                    }

                                    &.started, &.queued {
                                        color: $pageTitleColor;
                                        position: relative;
                                        font-size: 30px;
                                        line-height: 30px;

                                        .icon {
                                            opacity: .5;
                                            color: $lightTextColor !important;
                                        }


                                        .startedInner {
                                            color: $lightTextColor;
                                            opacity: .5;
                                            font-size: 18px;
                                            position: absolute;
                                            left: 6px;
                                            top: 2px;
                                        }
                                    }
                                }

                                .loadingDiv {
                                    .loading {
                                        margin-left: -5px;
                                        width: 25px;
                                        height: 25px;
                                    }
                                }

                                .failed {
                                    font-size: 20px;
                                    font-weight: $semiBold;
                                    line-height: 21px;
                                    color: #ebb000;
                                    position: relative;
                                    top: 5px;

                                    .icon {
                                        display: inline-block;;
                                    }

                                    .txt {
                                        display: inline-block;
                                        position: relative;
                                        top: -4px;
                                        margin-left: 5px;
                                    }
                                }

                                .completed {
                                    .name {
                                    }
                                }

                            }
                        }
                    }

                    &:after {
                        @include clearFloat;
                    }
                }

                .rightSide {
                    float: right;

                    .settingsBtn {
                        display: none;
                    }

                    .btnCntl {
                        width: 44px;
                        height: 44px;
                        padding: 3px 0;
                    }
                }

                &:after {
                    @include clearFloat;
                }
            }

            .bottomPart {
                font-size: 13px;
                line-height: 12px;
                margin-top: 10px;
                margin-bottom: 10px;

                .syncLabel {
                    display: inline-block;
                    color: #82868f;
                }

                .syncDate {
                    display: inline-block;
                    color: #231f20;
                }
            }
            .cloneBtn{
                background-color: $primary-gray-5;
                color: $whiteText;
                font-size: 12px;
                width: 100px;
                border: 1px solid #d1d2d3;
                border-radius: 2px;
                padding: 3px 10px;
                margin-right: 5px;
                float: left;
                cursor: pointer;
                display: inline-block;
                text-align: center;
                position: relative;
                &.disabled{
                    background-color: $secondary-gray-3;
                    cursor: default;
                }
            }
        }

        &:after {
            @include clearFloat;
        }
    }
}

input {
    border: 1px solid #e2e2e2;
    padding: 3px 2px;

    &:focus {
        border-color: $primary-gray-4;
    }
}

/*
 *  Setting Dialog
 */
.settingDlg {
    .txt {
    }

    .nameDiv {
        .nameLabel {
            display: inline-block;
        }

        .listName {
            outline: 0;
            width: 240px;
        }
    }
}


/*
 *
 * Facebook & Mobile Dialog
 *
 */
.facebookDlg, .mobileDlg {
    .appIconDiv {
        .iconFacebook {
            background: url(../../img/connect-icons.png) no-repeat 0 -413px;
            width: 65px;
            height: 65px;

            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            margin-bottom: 10px;
        }

        .iconMobile {
            background: url(../../img/connect-icons.png) no-repeat 0 -478px;
            width: 65px;
            height: 65px;

            margin-left: auto;
            margin-right: auto;
            margin-top: 15px;
            margin-bottom: 10px;
        }

    }

    .boldMsg {
        text-align: center;
        font-size: 16px;
        font-weight: bold;
    }

    .appleAppStoreDiv {
        .iconAppleAppStore {
            background: url(../../img/Apple_App_Store_US-UK_135x40.svg) no-repeat 0 0;
            width: 135px;
            height: 40px;

            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
            margin-bottom: 15px;
        }
    }

    ul {
        li {}
    }
}




/*
 *
 * Confirm change entry before save
 *
 */
.revupConfirmBox {
    &.editConfirmChange {
        width: 400px;
    }
}

/*
 *
 * CSV Upload warning/error popup
 *
 */
.contactUploadWarningDlg {
    .header {
        .logo {
            text-align: center;

            .revupLogo {
                width: 105px;
            }
        }
    }

    .contactErrorWarningMsg {
        margin-top: 15px;
        font-size: 16px;

        .msgBox {
            height: auto;
            // min-height: 50px;

            .textOuterDiv {
                padding: 5px 10px;
            }
        }
    }

    .msg {
        padding: 30px 40px;
        font-size: 16px;
    }
}


/*
 *
 * share contact popup
 *
 */
.shareSourcePopup, .deleteContactConfirm {
    .waitingDiv {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 300;
        background-color: rgba(0, 0, 0, .3);

        &.loadingDiv {
            margin: 0;

            .loading {
                top: calc((100% - 90px) / 2);
            }

            .loadingImg {
                top: 30px;
            }
        }
    }

    .content {
      min-height: 175px;
      position: relative;

      .errorMsg {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);

          text-align: center;
          font-size: 16px;
          font-weight: $semiBold;
          color: $secondary-red-2;
      }

      .fetchDeleteInfo {
        .loadingMsg {
            text-align: center;
            font-size: 16px;
            font-weight: $semiBold;
            color: $primary-gray-6;
            margin-top: 15px;
        }

        .loadingDiv {
            margin: 0;
            margin-top: 10px;
        }
      }
    }

    .leftSide {
        float: left;
        margin-right: 10px;

        .warningIcon {
            font-size: 24px;
            color: $secondary-orange-1;
        }
    }

    .rightSide {
      float: right;
      width: calc(100% - 35px);

      .msg {
          font-size: 16px;

          .msgBold {
              font-weight: $bold;
              display: inline-block;

              &.limit {
                  overflow: hidden;
                  text-overflow: ellipsis;
                  white-space: nowrap;
                  width: 100%;
              }
          }

          .boldRed {
              color: $secondary-red-1;
              font-weight: $semiBold;
              display: inline-block;
          }

          &.newParagraph {
              margin-top: 10px;
          }
      }

      .dryRunResults {
          margin-top: 5px;
          .entry {
              height: 20px;

              &:after {
                  @include clearFloat;
              }

              .val {
                  display: inline-block;
                  margin-right: 5px;
              }

              .eVal {
                  display: inline-block;
              }

              .failMsg {
                  margin-top: 10px;
                  margin-bottom: 10px;
                  line-height: 1.1;
                  height: auto;
              }

              &.paragraph {
                  height: auto;
              }
          }
      }
    }

    .deleteWarningIcon{
        display: inline-block;
        float: left;
        width: 15%;
        font-size: 18pt;
        color: $secondary-orange-1;
        margin-top: 10px;
    }

    .shareSourcePopupText {
        margin-top: 10px;
        display: inline-block;
        float: right;
        width: 85%;
        line-height: 8px;

        .sourceContainer {
            height: 25px;
            margin-bottom: 10px;

            .sourceIcon {
                display: inline-block;
                vertical-align: top;

                .linkedInGlyph {
                    background: url(../../img/connect-icons.png) no-repeat 0 -65px;
                    width: 65px;
                    height: 65px;
                    zoom: 45%;
                    position: relative;
                    -moz-transform-origin: left top;
                    -moz-transform: scale(.45, .45);  /* Firefox */
                }

                .outlookGlyph {
                    background: url(../../img/connect-icons.png) no-repeat 0 -132px;
                    width: 65px;
                    height: 62px;
                    position: relative;
                    zoom: 45%;
                    -moz-transform-origin: left top;
                    -moz-transform: scale(.45, .45);  /* Firefox */
                }

                .gmailGlyph {
                    background: url(../../img/connect-icons.png) no-repeat 0 0;
                    width: 65px;
                    height: 47px;
                    position: relative;
                    top: 10px;
                    zoom: 45%;
                    -moz-transform-origin: left top;
                    -moz-transform: scale(.45, .45);  /* Firefox */
                }

                .csvGlyph {
                    background: url(../../img/connect-icons.png) no-repeat -7px -198px;
                    width: 52px;
                    height: 65px;
                    zoom: 45%;
                    position: relative;
                    -moz-transform-origin: left top;
                    -moz-transform: scale(0.45, 0.45);  /* Firefox */
                }

                .mobileGlyph {
                    background: url(../../img/connect-icons.png) no-repeat -7px -478px;
                    width: 52px;
                    height: 65px;
                    zoom: 45%;
                    position: relative;
                    -moz-transform-origin: left top;
                    -moz-transform: scale(0.45, 0.45);  /* Firefox */
                }

                .appleGlyph {
                    background: url(../../img/connect-icons.png) no-repeat 0 -265px;
                    width: 65px;
                    height: 80px;
                    position: relative;
                    zoom: 40%;
                    -moz-transform-origin: left top;
                    -moz-transform: scale(.40, .40);  /* Firefox */
                }

                .iPhoneGlyph {
                    background: url(../../img/mobile.png);
                    width: 20px;
                    height: 40px;
                    position: relative;
                    zoom: 80%;
                    -moz-transform-origin: left top;
                    x-moz-transform: scale(.80, .80);  /* Firefox */
                }

                .unknownGlyph {
                    background: url(../../img/connect-icons.png) no-repeat 0 -347px;
                    width: 65px;
                    height: 65px;
                    position: relative;
                    zoom: 45%;
                    -moz-transform-origin: left top;
                    -moz-transform: scale(.45, .45);  /* Firefox */
                }

                .cloneGlyph {
                    background: url(../../img/connect-icons.png) no-repeat 0 -543px;
                    width: 65px;
                    height: 65px;
                    position: relative;
                    zoom: 45%;
                    -moz-transform-origin: left top;
                    -moz-transform: scale(.45, .45);  /* Firefox */
                }
            }

            .fileName {
                width: 70%;
                display: inline-block;
                vertical-align: top;
                padding-top: 10px;
                font-weight: bold;
                margin-left: 30px;
            }
        }
    }
}

/*
 *
 * Contact info popup
 *
 */
.aboutContactsDiv {
    width: 390px;
    font-size: 13px;
    line-height: 1.1;

    .heading {
        font-weight: $bold;
        margin-bottom: 5px;
    }

    .msg {
        margin-bottom: 15px;
    }
}
