// sass-lint:disable-all

@import "../stylesDefs.scss";

.panel-body-background {
    background: $tan-bg-color;
}

.upload-contacts-panel {
    .panel-body {
        background: $tan-bg-color;
    }
    .thirdParties {
        margin: 0 0 15px 0;

        a {
            display: inline-block;
            margin-right: 5px;
            border: solid 1px $tan-bg-color;
        }
        a.selected {
            border: solid 1px #999;
        }
    }
    .lf {
        padding-right: 0;
    }
    .btn-primary {
        width: 100%;
        min-width: 75px;
    }
    .disclaimer {
        font-size: 11px;
        color: #999;
        margin: 20px 0 0 0;
    }
}

.contact-list-panel {
    .panel-body {
        padding-top: 0;
        background: $tan-bg-color;

        .button-row{
            display: inline;
            margin-top: 10px;
        }
    }
    .pagination {
        margin: 0;
        float: right;
    }
    thead tr.button-row {
        button {
            margin-right: 5px;
        }
        .rg ul.nav-pills {
            float: right;
            text-transform: none;
            font-weight: normal;
        }
    }
    .panel-title{
        display: inline;
        margin-left: 15px;
        margin-top: 15px !important;
    }
    .ranking-buttons {
        margin-right: 10px;

        .analyze-button {
            display: inline;
            margin-right: 10px;
        }
        .network-button {
            display: inline;
        }
    }
}
.contact-list-table {
    background: $whiteText;

    .c1 {
        width: 5%;
    }
    .c2 {
        width: 10%;
    }
    .c3 {
        width: 15%;
    }
    .c4 {
        width: 15%;
    }
    .c5 {
        width: 20%;
    }
    .c6 {
        width: 35%;
    }
    thead {
        th {
            background: #b7b7b7;
            color: $whiteText;
            text-transform: uppercase;
        }

        tr.button-row th {
            padding: 12px 0;
            background: $tan-bg-color;
            border: none;
        }
        tr.filter-row th {
            padding: 0 0 12px 0;
            text-align: right;
            text-transform: none;
        }
    }

    th, .contact-list-table td {
        vertical-align: middle !important;
    }
    .c1, .contact-list-table .c2 {
        text-align: center;
    }
    th.c1, .contact-list-table .c2 {
        padding: 0;
    }
    td {
        border: none !important;
    }
    .thumbnail {
        border-radius: 0;
        margin-bottom: 0;
        padding: 0;
    }
    .thumbnail img {
        max-width: 40px;
    }
}
