// sass-lint:disable-all

@import "../stylesDefs.scss";

.createClient {
    .createClientDiv {
        margin-left: auto;
        margin-right: auto;

        float: none;
    }

    .form-control {
        padding: 2px 4px !important;
        height: auto !important;
    }

    label {
        margin-bottom: 1px;
    }

    .form-group {
        margin-bottom: 8px;

        .btn {
            padding: 2px 4px !important;
        }

        .reqFields {
            padding-top: 10px;
        }

        .reqTxt::before {
            content: '*';
            font-size: 16px;
            margin-right: 1px;
        }
    }

    .startDateGrp {
        width: 220px;
    }

    #id_seat_count_edit {
        width: 120px;
    }

    #id_seat_price {
        width: 120px;
    }

    .selectLst {
        display: inline-block;

        a.btn {
            padding: 2px 4px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: $whiteText;
            text-align: left;

            .caret {
                xfloat: right;
                xmargin-top: 8px;
                margin-left: 5px;
            }

        }

        &.orgType {
            .selectLst {
                width: 190px;
            }

            ul {
                min-width: 190px;
                width: 300px;
                max-height: 260px;
                overflow-y: auto;
            }

            ul > li > a {
                padding: 3px 9px;
                width: calc(100% - 2px);
            }
        }
    }

    .recurlyPlan {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 5px 10px;
        height: 65px;
        background-color: $whiteText;

        .planFields {
            padding: 5px 10px 0;

            .field {
                display: inline-block;
            }

            .field:not(first-child) {
                margin-left: 10px;
            }
        }
    }
}
