// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 *
 * CSV Upload popup
 *
 */
.csvUploadDlg {
    &.printDlg {
        .issueCol {
            width: 350px !important;
        }

        .actionCol {
            width: calc(100% - 410px) !important;
        }

        .csvAnalysisOuterResultsDiv {
            height: auto;
            border: none;
        }
    }

    .csvUploadDiv {
        font-size: 14px;
        line-height: 1.2;

        &.noAdmin {
            .stepsBlockDiv {
                display: flex;
                align-items: center;
                justify-content: center;

                .leftDiv {
                    width: auto;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    margin-left: 20px;
                }
            }
        }

        .msg {
            margin-bottom: 5px;
        }

        .csvErrorMsgDiv {
            font-size: 16px;
            font-weight: $semiBold;
            color: $errorText2;
        }

        .contentVisibilityDiv {
            padding-top: 5px;
            padding-bottom: 10px;
            width: 100%;

            .header {
                text-align: center;
                font-size: 20px;
                font-weight: $semiBold;
                margin-bottom: 10px;
            }

            .subHeader {
                text-align: center;
                font-size: 18px
            }
        }

        .stepsBlockDiv {
            width: auto;
            //margin-left: 10%;
            //margin-right: 10%;
            font-size: 15px;
            display: flex;
            flex-direction: row;

            .leftDiv {
                //float: left;
                width: 50%;
                //width: auto;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                margin-left: 40px;
                //padding-left: 20px

                padding-right: 10px;
            }

            .rightDiv {
                //float: left;
                width: 50%;
                padding-left: 10px;

                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                padding-right: 40px;

            }

            &:after {
                @include clearFloat
            }

            .stepDiv {
                .stepNum {
                    float: left;
                    width: 20px;
                }

                .stepContentDiv {
                    float: left;
                    width: calc(100% - 20px);
                    margin-bottom: 5px;

                    .stepContentTitle {
                        font-weight: $semiBold;
                        margin-bottom: 5px;
                    }

                    .stepContentMsg {
                        margin-botton: 5px;
                    }

                    .selectorDiv {
                        display: flex;
                        flex-direction: column;

                    }
                    .stepContentBox {
                        padding-top: 5px;
                        background-color: $whiteText;
                        border-radius: 5px;
                        margin-bottom: 5px;

                        .radioEntry {
                            display: flex;
                            justify-content: left;
                            align-content: flex-start;
                            flex-direction: row;
                            width: 100%;

                            .icon {
                                position: relative;
                                z-index: 2;
                                width: 16px;
                                height: 16px;
                            }

                            .radioBackground {
                                left: -13px;
                                z-index: 1;
                                color: $whiteText;
                            }

                            .radioLabel {
                                position: relative;
                                top: -2px;
                                left: -14px;
                            }
                        }

                        .radioEntry:not(:last-child) {
                            margin-bottom: 5px;
                        }
                    }
                }

                &:after {
                    @include clearFloat
                }
            }
        }
    }

    .buttonBar {
        width: 100%;
        height: 50px;
        padding: 2px;
        // margin-top: 10px;
        position: relative;
        background: linear-gradient(0deg, #dedede 0%, #d9d9d9 20.07%, #e8e8e8 100%);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid $primary-gray-4;

        &:before {
            content: " ";
            position: absolute;
            top: 0px;
            left: 0px;
            right: 0px;
            bottom: 0px;
        }

        &:after {
            @include clearFloat;
        }

        .leftSide {
            float: left;
            width: calc(100% - 200px);
        }

        .rightSide {
            float: right;
            width: 200px;
        }

        &:after {
            @include clearFloat;
        }
    }

    .fileNameDiv {
        float: left;
        //width: 400px;
        position: relative;
        z-index: 25;
        height: 44px;
        display: flex;
        flex-direction: row;
        align-items: center;
        line-height: 17px;
        padding-left: 25px;
        width: calc(100% - 510px);

        .fileNameLabel {
            font-size: 14px;
            padding-right: 5px;
            display: inline-block;
            white-space: nowrap;
            color: $primary-gray-5;
        }

        .fileName {
            font-size: 16px;
            font-weight: $semiBold;
            color: $secondary-green-4;
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
        }
    }

    .filterDiv {
        float: left;
        height: 44px;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 10px;
        margin-right: 10px;
        position: relative;
        z-index: 25;
        color: $primary-gray-5;

        .header {
            display: inline;
            align-items: center;
            font-size: 14px;
            font-weight: $semiBold;
        }

        .filterSection {
            display: flex;
            align-items: center;
            flex-direction: row;
            font-size: 15px;

            .checkboxDiv {
                position: relative;
                cursor: pointer;
                color: $primary-gray-5;

                &:not(:last-child) {
                    margin-right: 10px;
                }

                &.disabled {
                    color: $primary-gray-4;
                    cursor: default;
                }

                .checkboxIcon {
                    width: 15px;
                    height: 15px;
                    font-size: 18px;
                    display: inline-block;
                    position: relative;
                    z-index: 30;
                }

                .checkboxIconBkg {
                    width: 15px;
                    height: 15px;
                    font-size: 18px;
                    display: inline-block;
                    position: absolute;
                    left: 0;
                    color: $whiteBackground;
                    z-index: 29;
                }

                .checkboxLabel {
                    margin-left: 0;
                    display: inline-block;
                    position: relative;
                    top: -2px;
                }
            }
        }
    }

    .statusAreaDiv {
        width: 100%;
        height: 44px;
        font-size: 12px;
        line-height: 14px;
        color: $primary-gray-5;
        position: relative;
        z-index: 25;

        .statusLineDiv {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            height: 100%;

            .statusLine1 {
                //height: 33.3%;
                padding-right: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;
                flex-grow: 1;
            }

            .statusLine2 {
                //height: 33.3%;
                padding-right: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;
                flex-grow: 1;
            }

            .statusLine3 {
                //height: 33.3%;
                padding-right: 10px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: flex;
                align-items: center;
                flex-grow: 1;
            }
        }
    }

    .loadingDiv {
        display: none;

        .loadingStatusMsg {
            text-align: center;
            font-size: 24px;
            color: $primary-green-1;
            opacity: 1;
        }
    }

    .csvAnalysisOuterResultsDiv {
        height: calc(100% - 50px);
        border: 1px solid $primary-gray-4;
        border-top: none;
        width: 100%;
        position: relative;

        .csvAnalysisMsgDiv {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;

            .msg {
                width: 500px;
                text-align: center;
                line-height: 1.2;
                font-size: 24px;
                font-weight: $semiBold;
                color: $secondary-green-4;
            }
        }

        .iconCol {
            width: 50px;
            display: inline-block;
            min-height: 20px;
        }

        .issueCol {
            width: 450px;
            display: inline-block;
            height: 100%;
        }

        .actionCol {
            width: calc(100% - 500px);
            display: inline-block;
            height: 100%;
        }

        .filteringOverlay {
            display: none;

            .filterOverlay {
                background-color: $secondary-gray-3;
                opacity: .85;
                position: absolute;
                width: 100%;
                height: 100%;
                z-index: 20;
            }

            .loadingDiv {
                display:  block !important;
                width: 100%;
                padding: 0;
                margin: 0;
                position: absolute;
                top: 40px;
                width: 100%;
                z-index: 21;

                .loading {
                    margin-top: 75px;
                    display: block !important;
                    opacity: 1.0;
                    background-color: transparent;
                    z-index: 25;
                }

                .loadingImg {
                    opacity: 1.0;
                    background-color: transparent;
                    z-index: 25;
                }

                .loadingStatusMsg {
                    opacity: 1.0;
                    background-color: transparent;
                    z-index: 25;
                }
            }
        }

        .csvResultsHeader {
            height: 30px;
            width: 100%;
            border-bottom: 1px solid $primary-gray-4;

            .headerLabel {
                padding-left: 30px;
                margin-top: 5px;
            }

            .issueCol {
                border-left: 1px solid $primary-gray-3;
                border-right: 1px solid $primary-gray-3;
            }
        }

        .csvAnalysisResultsDiv {
            height: calc(100% - 32px);
            overflow-y: auto;

            .entry {
                min-height: 30px;
                display: flex;
                line-height: 1.2;
                padding-top: 5px;
                padding-bottom: 5px;

                &:nth-child(odd) {
                    background-color: $secondary-gray-3;//$tan-bg-color;
                }

                &.errorWarningEntry {

                }

                &.maxErrors, &.filterWarning {
                    flex-direction: column;

                    .entryMsg {
                        text-align: center;
                        font-size: 16px;
                        line-height: 18px;
                        font-weight: $semiBold;
                        color: $primary-green-1;
                        width: 100%;
                    }
                }

                &.filterWarning {
                    display: none;
                }

                .column {
                    .msg {
                        font-size: 16px;
                        padding-left: 10px;
                        padding-right: 10px;

                        .msgHighlight {
                            display: inline-block;
                            color: $secondary-green-4;
                        }
                    }
                }

                .iconCol {
                    .icon {
                        font-size: 20px;
                        height: 22px;
                        text-align: center;
                        position: relative;
                        top: 2px;

                        &.icon-stop {
                            color: $secondary-red-2;
                        }

                        &.icon-warning {
                            color: $secondary-orange-1;
                        }

                        &.icon-info-1 {
                            color: $primary-blue-2;
                        }
                    }
                }

                .issueCol {
                    position: relative;
                    top: 2px;
                }

                .actionCol {
                    position: relative;
                    top: 2px;
                }
            }
        }
    }
}
