@import "../stylesDefs.scss";

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0,0,0,.12);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.editContact {
  input {
    border: 1px solid #e2e2e2;
    padding: 3px 2px;

    &:focus {
      border-color: $primary-gray-4;
    }
  }
  //top toggle tabs for Personal Contacts and Shared Account Contacts
  .editContactDlg {
    .togglePages {
      margin-top: 5px;
      height: 25px;

      .editTab {
        width: calc(100% / 2);
        float: left;
        cursor: pointer;
        background-color: #f1f2f5;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
        color: #b6b8ba;

        &.active {
          background-color: #8dc63f;
          cursor: default;
          color: #f7f7f7;
        }
      }
    }
    //left side of the editContacts dialog
    .leftSide {
      float: left;
      width: 560px;

      .numContactsDiv {
        width: 100%;

        .right {
          float: right;
          font-size: 12px;

          .contactCount {
            display: inline-block;
            color: $primary-gray-6;
          }

          .txt {
            margin-left: 5px;
            display: inline-block;
            color: $primary-gray-5;
          }
        }

        &::after {
          @include clearFloat;
        }
      }
      //top left button bar and searchbox
      .newSearchDiv {
        height: 44px;
        width: 100%;
        background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(217, 217, 217, 1) 20.07%, rgba(232, 232, 232, 1) 100%);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #bcbec0;

        .left {
          float: left;

          .iconBtnDiv {
            float: left;
            height: 42px;
            margin-top: 1px;

            &.disabled {
              cursor: default;
              color: $secondary-gray-1;
            }

            .btnDiv {
              height: 40px;
              min-width: 44px;
              border: none solid #d1d2d3;
              background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(217, 217, 217, 1) 20.07%, rgba(232, 232, 232, 1) 100%);
              float: left;
              cursor: pointer;
              display: inline-block;
              text-align: center;
              position: relative;
              z-index: 25;
              padding-top: 2px;

              &.disabled {
                cursor: default;
                color: $secondary-gray-1;

                .txt {
                  color: $secondary-gray-1;
                }

                .icon {
                  color: $secondary-gray-1;
                }
              }
            }

            .txt {
              font-size: 11px;
              line-height: 13px;
              margin-left: 12px;
              margin-right: 12px;
              color: $iconText;
              text-align: center;
              bottom: 5px;
            }

            .icon {
              color: $primary-gray-5;
              text-align: center;
              font-size: 20px;
              line-height: 19px;
            }

            &::after {
              @include clearFloat;
            }
          }
        }

        .newContactBtn {
          position: relative;
          margin-left: 5px;
        }

        .right {
          float: right;

          .contactSearch {
            margin-right: 5px;
            position: relative;
            top: 10px;
            width: 250px;
          }
        }

        &::after {
          @include clearFloat;
        }

        .sepBar {
          float: left;
          width: 1px;
          height: 44px;
          background-color: $whiteText !important;
        }
      }

      .lstDiv {
        .column {
          float: left;

          &.removeCol {
            text-align: center;
            width: 75px;
          }

          &.nameCol {
            text-align: left;
            width: 250px;
          }

          &.emailCol {
            text-align: left;
            width: calc(100% - 300px);
          }

          &.statusCol {
            width: 50px;
            min-height: 5px;
          }
        }
        //header for the list of contacts, Contact Names and Email Address
        .header {
          height: 25px;
          width: 100%;
          display: flex;
          border-bottom: 1px solid #777777;

          .column {
            font-size: 13px;
            font-weight: $semiBold;
            line-height: 13px;
            display: inline-block;
            align-self: flex-end;
            margin-bottom: 2px;

            &.nameCol {
              padding-left: 5px;
            }
          }

          &::after {
            @include clearFloat;
          }
        }
        //the body of the list of contacts
        .contactLstDiv {
          height: 430px;
          overflow-y: scroll;

          .contactLst {
            width: calc(100% - 3px);

            .noContactsFoundDiv {
              margin-top: 75px;

              .msg {
                text-align: center;
                font-size: 20px;
                font-weight: $semiBold;
              }
            }
          }
        }

        .entry {
          height: 26px;
          font-size: 13px;
          line-height: 14px;
          color: $primary-gray-6;
          overflow: hidden;

          &::after {
            @include clearFloat;
          }

          &.selected {
            background-color: $secondary-blue-2 !important;
          }

          &.saving {
            opacity: 0.5;
          }

          &.disabled {
            opacity: 0.3 !important;
          }

          &.disabled:nth-child(odd) {
            background-color: $tan-bg-color;
            background-color: rgba(249, 249, 249, 0.3);
          }

          &.disabled:nth-child(even) {
            background-color: $whiteText;
            background-color: rgba(255, 255, 255, 0.3);
          }

          &:nth-child(odd) {
            background-color: $tan-bg-color;
          }

          &:nth-child(even) {
            background-color: $whiteText;
          }

          .nameCol {
            .nameContainer {
              width: calc(100% - 15px);
              margin-left: 5px;
              margin-top: 6px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .emailCol {
            .emailContainer {
              margin-top: 6px;
              width: calc(100% - 5px);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
          }

          .statusCol {
            color: $primary-gray-5;

            .saving {
              display: none;
              margin-top: 6px;
              text-align: right;
              margin-right: 10px;
            }

            .errorSaving {
              display: none;
              color: $redText;
              margin-top: 6px;
              text-align: right;
              margin-right: 10px;
            }

            .deleteBtn {
              display: none;
              margin-right: 10px;
              margin-top: 6px;
              text-align: right;
              cursor: pointer;
            }
          }

          &.loadingMore {
            height: 30px;

            .loadingMore {
              background: url('../../img/dot-dot-dot.gif');
              width: 55px;
              height: 9px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 10px;
            }
          }
        }

        .contactLstFooter {
          margin-left: 87px;

          .revupPagination {
            .whatsShowingDiv {
              width: 20%;
              display: none;
            }

            .paginationDivInner {
              width: 78%;
            }

            .numPerPageDiv {
              width: 0;
            }
          }
        }
      }
    }
    //right side of the editContacts dialog
    .rightSide {
      float: right;
      width: 400px;
      border: 1px solid $separatorBorder;
      border-radius: 4px;
      padding: 5px 10px;
      font-size: 13px;
      line-height: 1.1em;
      margin-top: 17px;
      height: 500px;
      background-color: $whiteText;

      .sectionHeader {
        font-size: 14px;
        font-weight: $semiBold;
        color: $primary-gray-6;
      }

      .scrollSection {
        height: 330px;
        margin-bottom: 5px;
        overflow-x: auto;

        .scrollContainer {
          width: calc(100% - 3px);
        }
      }

      .warningErrorDiv {
        border: 1px solid #b50000;
        border-radius: 3px;
        background-color: #ffebec;
        margin-top: 10px;
        display: none;
        width: 100%;
        padding: 10px 0;

        &.error {
          border-color: #b50000;
          background-color: #ffebec;

          .icon {
            color: #b50000;
          }
        }

        &.warning {
          border-color: #f0b729;
          background-color: #fff3d9;

          .icon {
            color: #f0b729;
          }
        }

        .left {
          float: left;
          width: calc(100% - 30px);

          .center {
            text-align: center;

            .iconDiv {
              display: inline-block;
              position: absolute;
              width: 30px;
              left: 10px;

              .icon {
                display: inline-block;
                font-size: 17px;
              }
            }

            .msg {
              display: inline-block;
              top: 2px;
              font-size: 13px;
              font-weight: $semiBold;
              line-height: 15px;
              color: $blackText;
              width: calc(100% - 40px);
              margin-left: 5px;
            }
          }
        }

        .right {
          float: right;
          width: 30px;
          text-align: right;

          .icon {
            display: inline-block;
            width: 15px;
            margin-right: 5px;
            position: relative;
            font-size: 12px;
          }
        }

        &::after {
          @include clearFloat
        }
      }
      //warningErrorDiv
      .section {
        margin-bottom: 5px;

        .subSection {
          &:nth-last-child(2) {
            margin-bottom: 5px !important;
          }

          &.grayBackground {
            background-color: #f4f5f5;
            padding: 5px 10px 10px;
            margin-bottom: 10px;
            border-radius: 4px;
          }
        }

        .line {
          @include reset;
          width: 100%;

          .leftSide {
            @include reset;
            float: left;
            width: calc(50% - 5px);
            margin-right: 5px;
          }

          .rightSide {
            @include reset;
            float: right;
            width: calc(50% - 5px);
            height: auto !important;
            margin-left: 5px;
          }

          .left {
            float: left;
          }

          .right {
            float: right;
          }

          .header {
            font-size: 13px;
            font-weight: $semiBold;
            color: $secondary-gray-2;
          }

          .deleteAddBtn {
            font-size: 13px;
            color: $disabledText;
            cursor: pointer;
          }
          // address layout
          .cityAddr {
            margin-right: 10px;
            width: calc(100% - 165px);
            float: left;
          }

          .stateAddr {
            margin-right: 10px;
            width: 70px;
            float: left;
            min-height: 5px;
          }

          .postalCodeAddr {
            float: left;
            width: 75px;
          }

          .stateDropDown {
            .revupDropDown {
              .cntlBody {
                .valDiv {
                  color: $lightTextColor;
                }
              }

              .dropDownLst {
                width: 150px;
                height: 120px;
                position: absolute !important;

                .scrollSection {
                  height: 119px;
                  width: 147px;
                }
              }
            }
          }

          &.sepLine {
            margin-top: 10px;
          }

          &.btnSepLine {
            margin-top: 5px;
            margin-bottom: 5px;
          }

          &.lastLine {
            margin-bottom: 10px;
          }

          &::after {
            @include clearFloat;
          }
        }

        input {
          @include placeholder {
            color: $primary-gray-3;
          };
          outline: 0;
          background-color: #fff !important;
          border-radius: 2px;
          border: 1px solid #d4d5d6;
          color: $lightTextColor;
          width: 100%;
          padding: 3px 2px;
          font-size: 14px;
          line-height: 1.1em;

          &:focus {
            border-color: #58595b;
          }

          &.deletable {
            width: calc(100% - 25px);
          }

          &.inputError,
          &.inputFormatError {
            color: $redText;
            border-color: $redText;
            border-style: solid;
          }

          &:read-only {
            background-color: #f9fafa !important;
            border-color: transparent;
          }
        }

        .deleteAddrBtn,
        .deleteEmailBtn,
        .deletePhoneBtn {
          display: inline-block;
          position: relative;
          left: 3px;
          top: 3px;
          color: $disabledText;
          cursor: pointer;

          &.disabled {
            opacity: 0.3;
          }

          &.inputError {
            color: $redText;
          }
        }

        .text {
          font-size: 13px;
          color: $primary-gray-5;
        }

        .addAddrBtn,
        .addEmailBtn,
        .addPhoneBtn {
          height: 22px;
          padding: 0 5px;
          background-color: $primary-gray-3;
          border-radius: 3px;
          cursor: pointer;

          &.toTheRight {
            float: right;
          }

          .icon {
            display: inline-block;
            margin-right: 3px;
            color: $whiteText;
            background-color: $primary-gray-3;
            position: relative;
            top: 4px;
            font-size: 14px;
            line-height: 14px;
          }

          .btnText {
            display: inline-block;
            font-size: 13px;
            color: $whiteText;
            position: relative;
            top: 2px;
          }
        }
      }

      .bottomButtons {
        .toTheLeft {
          float: left;
          color: $primary-gray-5;

          .text::before {
            content: '*';
            font-size: 12px;
            position: relative;
            top: 2px;
            margin-right: 1px;
          }
        }

        .toTheRight {
          float: right;

          .editCancelBtn {
            font-size: 13px;
            line-height: 14px;
            font-weight: 600;
            float: left;
            color: $blueText;
            cursor: pointer;
            display: inline-block;
            margin-right: 10px;
            position: relative;
            top: 4px;

            &:hover {
              text-decoration: underline;
            }

            &[disabled] {
              opacity: 0.3;
              cursor: default;

              &:hover {
                text-decoration: none;
              }
            }
          }

          .editSaveBtn {
            display: inline-block;
          }
        }

        &::after {
          @include clearFloat;
        }
      }
    }

    &::after {
      @include clearFloat;
    }
  }
}

.deleteContactWarning {
  .waitingDiv {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, .3);

    &.loadingDiv {
      margin: 0;

      .loading {
        top: calc((100% - 90px) / 2);
      }

      .loadingImg {
        top: 50px;
      }
    }
  }

  .deleteWarningIcon {
    display: inline-block;
    float: left;
    width: 15%;
    font-size: 18pt;
    color: $secondary-orange-1;
  }

  .deleteWarningText {
    display: inline-block;
    float: right;
    width: 85%;
    font-size: 16px;
    line-height: 1.2em;
    height: 200px;

    .entry {
      margin-left: 10px;
    }
  }

  .boldRed {
    color: $secondary-red-1;
    font-weight: $semiBold;
    display: inline-block;
  }
}
