
// sass-lint:disable-all

@import "../stylesDefs.scss";/*

 */

.errorDiv {
    border: 1px solid $secondary-red-2;
    border-radius: 3px;
    background-color: #fff5f5 !important;
    margin: 0 0 0 -255px;
    text-align: center;
    height: 28px;
    width: 944px;

    .msgDiv {
        font-size: 16px;
        line-height: 1.1px;
        margin: 0 auto;
        position: relative;
        top: 1px;

        .icon {
            display: inline-block;
            position: relative;
            top: 2px;
            width: 20px;
            height: 20px;
            color: $secondary-red-2;
        }
        .msg {
            margin-top: 0;
            display: inline-block;
            color: $secondary-red-2;
            font-size: inherit;
            position: relative;
            top: 3px;
            height: 1.1em;
            line-height: 1.1em;
            max-width: calc(100% - 100px);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    &.noErrors {
        border: 1px solid $secondary-green-4;
        background-color: #f7ffee  !important;

        .icon {
            color: $secondary-green-4;
        }

        .msg {
            color: $secondary-green-4;
        }
    }
}

.creditCardDiv {
    width: 944px;
    margin: 50px 0 50px -255px;

    .contactRevUpMsg {
        text-align: center;
    }

    .creditCardInfoDiv {
        height: calc(425px - 100px);

    .line {
         &:not(:first-of-type) {
             margin-top: 20px;
             width: 100%;
         }

        .entry {
             display: inline-block;
             width: calc(50% - 20px);
             margin-right: 20px;
             vertical-align: top;

            &.has-error {
                .title {
                    color: $secondary-red-2;
                }

                input {
                    color: $secondary-red-2;
                    border-color: $secondary-red-2;
                }

                .revupDropDown .cntlBody .valDiv {
                    color: $secondary-red-2;
                    border-color: $secondary-red-2;
                }

                .revupDropDown .cntlBody .arrowDiv {
                    background-color: $secondary-red-2;
                    border-color: $secondary-red-2;
                }
            }

             &:last-child {
                 margin-right: 0;
             }

             &.ccNum {
                 width: calc(100% - ((4 * 20px) + (48px + 125px + 70px + 50px)));
             }

             &.ccImage {
                 display: inline-block;
                 width: 46px;

                 .imgDiv {
                     width: 100%;
                     height: 28px;

                     &.visaGlyph {
                         background: url(../../img/cc-icons.png) no-repeat 0 0;
                         width: 46px;
                         height: 28px;
                         position: absolute;
                     }

                     &.masterCardGlyph {
                         background: url(../../img/cc-icons.png) no-repeat 0 -28px;
                         width: 46px;
                         height: 28px;
                         position: absolute;
                     }

                     &.americanExpressGlyph {
                         background: url(../../img/cc-icons.png) no-repeat 0 -56px;
                         width: 46px;
                         height: 28px;
                         position: absolute;
                     }
                 }
             }

             &.ccExpMonth {
                 width: 125px;

                 .monthDropDown {
                     width: 100%;
                     height: 28px;
                 }
             }

             &.ccExpYear {
                 width: 70px;

                 .yearDropDown {
                     width: 100%;
                     height: 28px;
                 }
             }

             &.ccCVV {
                 width: 50px;
             }

             &.firstLastName {
                 width: calc(50% - 10px);
             }

             &.address, &.address2 {
                 width: 100%;
             }

             &.city {
                 width: calc(100% - ((2 * 20px) + (150px + 75px)));
             }

             &.state {
                 width: 150px;

                 .stateDropDown {
                     width: 100%;
                     height: 28px;
                 }
             }

             &.zip {
                 width: 75px;
             }

             .title {
                 text-align: left;
                 font-size: 14px;
                 font-weight: normal;
                 line-height: 1.1em;
                 height: 1.1em;
                 color: $primary-gray-5;
                 margin: 0;

                 &.required:before {
                     content: "*";
                     margin-right: 1px;
                 }
             }

             input {
                 width: 100%;
                 outline: 0;
                 padding-left: 6px;
             }
         }
     }

     .revupDropDown {
         height: 28px;

         .arrowDiv {
             .icon {
                 position: relative;
                 top: 3px;
                 left: 0px;
             }
         }

         .valDiv {
             font-size: 15px;
         }
     }
    }
}


/*# sourceMappingURL=editBillingInfo.css.map */
