// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 * Analysis Configuration - Entity Search Popup Dialog
 */
.entitySearchDlg {
    background: $configBackground !important;

    .msgBodyDiv .msgBody {
        overflow-y: hidden !important;

        .entitySearchPopup {
            .dlgTitleBar {
                height: 16px;

                .titleText {
                    font-size: 16px;
                    font-weight: $semiBold;
                    line-height: 16px;
                    margin-top: 10px;
                }
            }

            .dlgInner {
                margin-left: 15px;

                .innerMsg1 {
                    margin: 20px 0;
                    font-size: 12px;
                    width: 50%;
                    display: inline-block;
                    vertical-align: top;
                    color: $primary-gray-5;
                    font-size: 11px;

                    li {
                        margin-left: 10px;
                        text-indent: -15px;
                        padding-left: 15px;
                    }
                }
                .innerMsg2 {
                    margin: 0 0 20px 25px ;
                    width: 46%;
                    display: inline-block;
                    vertical-align: top;
                    color: $primary-gray-5;
                    font-size: 11px;
                    list-style-type: decimal;

                    li, .stepsNote {
                        margin-left: 10px;
                        text-indent: -10px;
                        padding-left: 15px;
                    }
                }

                .innerBody {
                    .searchDiv {
                        width: 555px;
                        float: left;

                        .header {
                            height: 30px;
                            background-color: $separatorBorder;

                            .searchFor {
                                width: 250px;
                                float: right;
                                margin: 5px 5px 0 0;
                            }
                        }

                        .entryHeader {
                            height: 30px;
                            border-bottom: 1px solid $primary-gray-4;
                            overflow: hidden;
                            font-size: 12px;
                            font-weight: $bold;
                            background-color: $configBackground;

                            .nameHeader {
                                position: relative;
                                top: 12px;
                                float: left;
                                margin-left: 40px;
                            }

                            .addBtnHeader {
                                position: relative;
                                top: 12px;
                                float: right;
                                margin-right: 5px;
                            }
                        }

                        .searchForWait {
                            height: 430px;

                            .loading {
                                width: 100px;
                                height: 100px;
                            }
                        }

                        .resultsWrap {
                            overflow-x: auto;
                            height: 380px;
                            background-color: $whiteText;

                            .searchForResults {
                                width: 100%;

                                .searchForNoResults {
                                    text-align: center;
                                    padding-top: 75px;
                                    font-size: 16px;
                                    font-weight: $bold;
                                }

                                .errorDiv {
                                    .msg {
                                        padding-top: 20px;
                                        font-size: 18px;
                                        font-weight: $semiBold;
                                        text-align: center;
                                    }
                                }

                                .entry {
                                    height: 40px;
                                    overflow: hidden;
                                    font-size: 13px;

                                    &:nth-child(odd) {
                                        background-color: $tan-bg-color;
                                    }

                                    &:nth-child(even) {
                                        background-color: $whiteText;
                                    }

                                    .entryDetail {
                                        padding-top: 5px;
                                        padding-bottom: 5px;

                                        .partySection {
                                            float: left;
                                            min-height: 10px;
                                            width: 40px;

                                            .partyColorBlob {
                                                width: 20px;
                                                height: 20px;
                                                margin: 0 10px;
                                                border-radius: 3px;
                                                position: relative;
                                                top: 3px;
                                            }
                                        }

                                        .detailSection {
                                            float: left;
                                            min-height: 10px;
                                            width: calc(100% - 100px);

                                            .boldLine {
                                                width: 100%;
                                                font-size: 15px;
                                                line-height: 1.1em;
                                                font-weight: $bold;

                                                .name {
                                                    width: calc(100% - 80px);
                                                    text-align: left;
                                                    float: left;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    white-space: nowrap;
                                                }

                                                .position {
                                                    width: 80px;
                                                    text-align: right;
                                                    float: left;
                                                }

                                                &:after {
                                                    @include clearFloat;
                                                }
                                            }

                                            .normalLine {
                                                width: 100%;
                                                font-size: 12px;
                                                line-height: 1.1em;
                                                font-weight: $normal;
                                                color: $lightTextColor;

                                                .party {
                                                    width: 80px;
                                                    float: left;
                                                    min-height: 2px;
                                                }

                                                .district {
                                                    width: calc((100% - 160px) * 0.4);
                                                    float: left;
                                                    min-height: 2px;
                                                }

                                                .city {
                                                    width: calc((100% - 160px) * 0.6);
                                                    float: left;
                                                    min-height: 2px;
                                                }

                                                .state {
                                                    width: 80px;
                                                    float: left;
                                                    min-height: 2px;
                                                    text-align: right;
                                                }

                                                &:after {
                                                    @include clearFloat;
                                                }
                                            }
                                        }

                                        .addBtnSection{
                                            float: left;
                                            min-height: 10px;
                                            width: 60px;

                                            .addBtn {
                                                height: 20px;
                                                width: 40px;
                                                margin-left: 10px;
                                                border: 1px solid transparent;
                                                border-radius: 3px;
                                                background-color: $grayBorder;
                                                cursor: pointer;
                                                position: relative;
                                                top: 5px;

                                                .text {
                                                    color: $whiteText;
                                                    text-align: center;
                                                }
                                            }

                                            .icon {
                                                font-size: 20px;
                                                width: 20px;
                                                position: relative;
                                                top: 2px;
                                                left: 20px;
                                                color: $pageTitleColor;
                                            }
                                        }
                                    }

                                    &:after {
                                        @include clearFloat;
                                    }

                                    &.loadingMore {
                                        height: 30px;

                                        .loadingMore {
                                            background: url(../../img/dot-dot-dot.gif);
                                            width: 55px;
                                            height: 9px;
                                            margin: 10px auto 0 auto;
                                        }
                                    }
                                }
                            }
                        }

                        .footerCount {
                            font-size: 10px;
                            margin-top: 10px;
                            color: $primary-gray-5;
                        }
                    }


                    .separatorDiv {
                        width: 30px;
                        float: left;
                        margin-left: 5px;

                        .arrowPtRight {
                            margin-top: 165px;
                            height: 50px;
                            width: 30px;
                            background-color: $separatorBorder;
                            position: relative;

                            &:after {
                                content: "";
                                position: absolute;
                                right: 0;
                                border-top: 25px solid $configBackground;
                                border-bottom: 25px solid $configBackground;
                                border-left: 30px solid transparent;
                                z-index: 10;
                            }

                        }
                    }
                    .profileResults {
                        height: 370px;

                        .resultDiv {
                            width: calc(100% - 605px); // width of searchDiv, separatorDiv and 15px for margin
                            float: left;


                            .header {
                                background-color: $separatorBorder;
                                height: 30px;

                                .text {
                                    padding: 7px 10px;
                                    font-size: 14px;
                                    font-weight: $bold;
                                    line-height: 14px;
                                }
                            }

                            .innerResults {
                                margin-left: 15px;

                                .text {
                                    font-size: 14px;
                                    font-weight: $normal;
                                    line-height: 14px;
                                }

                                .candidateLabelDiv {
                                    margin-top: 15px;

                                    .text {
                                        width: 115px;
                                        display: inline-block;
                                    }

                                    .candidateLabel {
                                        width: 230px;
                                        outline: 0;
                                    }
                                }

                                .matchesDiv {
                                    margin-top: 5px;
                                    overflow-y: scroll;
                                    height: 317px;
                                    background-color: $whiteBackground;

                                    .lst {
                                        margin-left: 25px;

                                        .noMatch {
                                            text-align: center;
                                            font-size: 14px;
                                            font-weight: $normal;
                                            margin-top: 5px;
                                        }

                                        .errorDiv {
                                            font-size: 15px;
                                            font-weight: $semiBold;
                                            margin-top: 10px;

                                            .msg {
                                                text-align: center;
                                            }
                                        }

                                        .loading {
                                            width: 75px;
                                            height: 75px;
                                            margin: 30px 0 0 -37px;
                                        }

                                        .entry {
                                            height: 20px;

                                            .name {
                                                float: left;
                                                width: calc(100% - 28px);
                                                overflow: hidden;
                                                text-overflow: ellipsis;
                                                white-space: nowrap;
                                            }

                                            .deleteBtn {
                                                .icon {
                                                    float: left;
                                                    font-size: 16px;
                                                    line-height: 16px;
                                                    color: $secondary-gray-2;
                                                    position: relative;
                                                    top: 2px;
                                                    margin-left: 10px;
                                                    cursor: pointer;
                                                }
                                            }

                                            &:after {
                                                @include clearFloat;
                                            }
                                        }
                                    }
                                }
                                .text {
                                    &.reqTxt::before {
                                        content: "*";
                                        margin-right: 1px;
                                    }

                                    &.reqLabel {
                                        margin-top: 15px;
                                        color: $primary-gray-4;

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/*scroll bars*/
.resultsWrap::-webkit-scrollbar {
    -webkit-appearance: none;
}

.resultsWrap::-webkit-scrollbar:vertical {
    width: 11px;
}

.resultsWrap::-webkit-scrollbar:horizontal {
    height: 11px;
}

.resultsWrap::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .25);
}

.resultsWrap::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}



/*scroll bars*/
.matchesDiv::-webkit-scrollbar {
    -webkit-appearance: none;
}

.matchesDiv::-webkit-scrollbar:vertical {
    width: 11px;
}

.matchesDiv::-webkit-scrollbar:horizontal {
    height: 11px;
}

.matchesDiv::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .25);
}

.matchesDiv::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}
