// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 *
 * The new fundraiser - raiser page
 *
 */
.newRaiserDiv {
    width: 100%;
    font-size: 14px;
    .newRaisersLoading {
        height: 500px;
        width: 100%;
        display: none;
    }

    .newRaiserLayout {
        .lstSection {
            float: left;
            background-color: $whiteText;
            width: calc(100% - 360px);

            .newRaiserHeader {
                height: 44px;
                background: linear-gradient(0deg, #dedede 0%, $disabledText2 20.07%, #e8e8e8 100%);
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                border: 1px solid $primary-gray-4;
                line-height: 1.1;

                .leftSide {
                    float: left;

                    .addNewRaiserBtn {
                        margin-left: 10px;
                        margin-top: 12px;
                    }

                    .deleteRaiserBtn {
                        margin-left: 10px;
                        margin-top: 5px;
                    }

                    .seatMsgDiv {
                        display: inline-flex;
                        color: $primary-gray-6;
                        margin-left: 10px;
                        position: relative;
                        top: 1px;
                        font-size: 12px;
                        line-height: 12px;
                        font-weight: $semiBold;

                        .seatsLabel {
                            color: $lightTextColor;
                            font-weight: $normal;
                        }
                    }
                }

                .rightSide {
                    float: right;

                    .organizerSearch {
                        width: 200px;
                        margin-right: 10px;
                        margin-top: 5px;
                    }
                }

                &:after {
                    @include clearFloat;
                }
            }

            .newRaiserLstDiv {
                //height: 28px;
                //border-bottom: 1px solid $grayBorder;
                font-size: 12px;
                font-weight: 600;

                .lstLoadDiv {
                    min-height: 450px;
                    width: 100%;
                    display: none;
                }

                .dataDiv {
                    .column {
                        float: left;
                        margin: 0 10px;
                        white-space: nowrap;

                        &.colName {
                            text-align: left;
                            padding-top: 3px;
                            width: calc((100% - 305px) * 0.4);

                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        &.colEmail {
                            text-align: right;
                            padding-top: 3px;
                            width: calc((100% - 305px) * 0.6);

                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }

                        &.colStatus {
                            text-align: right;
                            padding-top: 3px;
                            width: 235px;

                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                        }
                    }

                    .slider {
                        float: left;
                        width: 5px;
                        height: 100%;
                        background-color: transparent;
                        cursor: col-resize;

                        &.blank {
                            background-color: transparent;
                            cursor: default;
                        }

                        .sOuter {
                            background-color: transparent;
                            width: 1px;
                            height: 100%;
                            float: left;
                        }

                        .sInner {
                            background-color: transparent; // $separatorBorder;
                            width: 1px;
                            height: 100%;
                            float: left;
                        }

                        .sCenter {
                            background-color: $primary-gray-3;
                            width: 1px;
                            height: 100%;
                            float: left;
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }


                    .headerDiv {
                        text-transform: capitalize;
                        color: $primary-gray-6;
                        //background: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0, #bbc1c9), color-stop(0.3441, #c2c8d1), color-stop(1, #ced4db));
                        //background: linear-gradient(0deg, #bbc1c9 0%, #c2c8d1 34.41%, #ced4db 100%);
                        font-weight: 600;
                        //padding-bottom: 5px;
                        border-bottom: 1px solid $primary-gray-4;
                        //margin-top: 2px;
                        //margin-bottom: 2px;
                        font-size: 14px;
                        height: 30px;
                        overflow: hidden;

                        .column {
                            &.colName, &.colEmail, &.colStatus {
                                padding-top: 5px;
                            }
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }

                    .lstDiv {
                        font-size: 14px;

                        .entry {
                            height: 26px;
                            overflow: hidden;

                            &:nth-child(odd) {
                                background-color: $tan-bg-color;
                            }

                            &:nth-child(even) {
                                background-color: $whiteText;
                            }

                            &.newRaiser {
                                background-color: $secondary-blue-2 !important;

                                .colName {
                                    font-style: italic;
                                    font-weight: $semiBold;
                                }

                                .colStatus {
                                    color: #333 !important;
                                }
                            }

                            &.selected {
                                background-color: $secondary-blue-2 !important;
                            }

                            &.disabled {
                                opacity: 0.3;
                            }

                            .column {
                                font-weight: $semiBold;

                                &.colStatus {
                                    color: $lightTextColor;
                                    font-style: italic;
                                    font-weight: $normal
                                }
                            }
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }
                }
            }

            .newRaiserFooter {
                padding-top: 5px;
                background-color: $tan-bg-color;
            }
        }

        .detailSection {
            float: right;
            width: 340px;

            .detailLoading {
                height: 350px;
                width: 100%;
                display: none;
            }

            .outerDetailDiv {
                .raiserDetailHeaderDiv {
                    height: 44px;
                    margin-bottom: 10px;
                    width: 100%;//calc(100% + 14px);
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                    border: 1px solid $primary-gray-4;
                    background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(217, 217, 217, 1) 20.07%, rgba(232, 232, 232, 1) 100%);


                    .btnDiv {
                        float: left;
                        width: calc((100% - 2px) / 3);
                        height: 44px;

                        &:hover {
                            background: linear-gradient(0deg, #c4e8fe 0%, #c0e7fe 20.07%, #d6effe 100%);
                            border-top-left-radius: 4px;
                            border-top-right-radius: 4px;

                            &.disabled {
                                background: none;
                            }
                        }

                        &.disabled {
                            .icon, .text {
                                color: $secondary-gray-1;
                                cursor: default;
                            }
                        }

                        .text {
                            font-size: 10px;
                            line-height: 11px;
                            white-space: nowrap;
                            margin-left: 12px;
                            margin-right: 12px;
                            margin-top: 6px;
                            color: $iconText;
                            text-align: center;
                        }

                        .icon {
                            color: $primary-gray-5;
                            text-align: center;
                            font-size: 18px;
                            line-height: 19px;
                            margin-top: 3px;
                        }

                        .icon-invite {
                            color: #70b319;
                        }

                        .icon-revoke-invite {
                            color: #be1e20;
                        }
                    }

                    .sepBar {
                        float: left;
                        width: 1px;
                        height: 100%;
                        background-color: $whiteText;
                    }

                    &:after {
                        @include clearFloat;
                    }
                }

                .detailDiv {
                    .title {
                        font-size: 12px;
                        color: $lightTextColor;
                        line-height: 14px;
                    }

                    .nameEmailDiv {
                        border: 1px solid #dddede;
                        border-radius: 4px;
                        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
                        background-color: $whiteText;
                        padding: 10px;
                        margin-bottom: 5px;


                        .name {
                            font-weight: $semiBold;
                            font-size: 24px;
                            line-height: 26px;
                            color: $blackText;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .email {
                            font-size: 13px;
                            line-height: 15px;
                            color: $secondary-blue-3;
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            overflow: hidden;
                        }

                        .statusMsg {
                            font-size: 10px;
                            font-style: italic;
                            color: $secondary-gray-2;
                        }
                    }

                    .createNameEmailDiv {
                        border: 1px solid #dddede;
                        border-radius: 4px;
                        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
                        background-color: $whiteText;
                        padding: 10px;
                        margin-bottom: 5px;

                        .text {}

                        .input {
                            width: 100%;
                            border: 1px solid #e2e2e2;
                            padding: 3px 2px;
                            outline: none;

                            &:focus {
                                border-color: $primary-gray-4;
                            }
                        }

                        .nameSection {
                            margin-bottom: 5px;

                            .namePart {
                                width: calc((100% / 2) - 5px);

                                &.firstNameDiv {
                                    float: left;
                                }

                                &.lastNameDiv {
                                    float: right;
                                }
                            }

                            &:after {
                                @include clearFloat;
                            }
                        }

                        .emailSection {
                            margin-bottom: 5px;
                            .emailPart {}
                        }

                        .msg {
                            color: $primary-gray-5;
                            font-size: 11px;
                        }
                    }

                    .roleSection {
                        border: 1px solid #dddede;
                        border-radius: 4px;
                        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
                        background-color: $whiteText;
                        padding: 10px;
                        margin-bottom: 5px;

                        .roleView {
                            .roleBtnDiv {
                                //height: 24px;

                                .roleBtn {
                                    //float: left;
                                    padding: 3px 5px;
                                    font-size: 13px;
                                    text-align: center;
                                    border-radius: 3px;
                                    background : -moz-linear-gradient(50% 100% 90deg,rgba(156, 167, 173, 1) 0%,rgba(145, 156, 161, 1) 20.97%,rgba(165, 176, 184, 1) 100%);
                                    background : -ms-linear-gradient(90deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
                                    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='$secondary-gray-8', endColorstr='#A5B0B8' ,GradientType=0)";
                                    background : linear-gradient(0deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
                                    border-style : Solid;
                                    border-color : $secondary-gray-6;
                                    border-width : 1px;
                                    color: $whiteText;
                                    cursor: pointer;

                                    &:not(:last-child) {
                                        margin-bottom: 2px;
                                    }

                                    &.disabled {
                                        opacity: 0.6;
                                        cursor: default;
                                    }

                                    &.selected {
                                        cursor: default;
                                        background : -moz-linear-gradient(50% 0% -90deg,rgba(139, 191, 84, 1) 0%,rgba(127, 179, 70, 1) 25.27%,rgba(141, 207, 68, 1) 99.46%);
                                        background : -ms-linear-gradient(-90deg, rgba(139, 191, 84, 1) 0%, rgba(127, 179, 70, 1) 25.27%, rgba(141, 207, 68, 1) 99.46%);
                                        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#8BBF54', endColorstr='#8DCF44' ,GradientType=0)";
                                        background : linear-gradient(180deg, rgba(139, 191, 84, 1) 0%, rgba(127, 179, 70, 1) 25.27%, rgba(141, 207, 68, 1) 99.46%);
                                        border-style : Solid;
                                        border-color : $greenBtnBorder;
                                        border-width : 1px;
                                    }
                                }

                                &:after {
                                    @include clearFloat;
                                }
                            }
                        }
                    }

                    .notesSection {
                        border: 1px solid #dddede;
                        border-radius: 4px;
                        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
                        background-color: $whiteText;
                        padding: 10px;
                        margin-bottom: 5px;

                        padding: 10px;
                        font-size: 13px;

                        .notesView {
                            .labelBtnDiv {
                                height: 24px;
                                // margin-bottom: 2px;

                                .leftSide {
                                    float: left;

                                    .title {
                                        position: relative;
                                        top: 10px;
                                    }
                                }

                                .rightSide {
                                    float: right;

                                    .formatBtns {
                                        .editFormatBtn {
                                            float: left;
                                            height: 23px;

                                            .icon {
                                                font-size: 13px;
                                                line-height: 13px;
                                                top: 1px;
                                            }

                                            &:not(:first-child) {
                                                margin-left: 1px;
                                            }

                                            &.leadSpacer {
                                                margin-left:10px;
                                            }
                                        }

                                        &:after {
                                            @include clearFloat;
                                        }
                                    }
                                }

                                &:after {
                                    @include clearFloat;
                                }
                            }

                            .notesEditor {
                                width: 100%;
                                height: 6em;
                                overflow: auto;

                                padding: 5px;

                                font-size: 1em;
                                line-height: 1.1;

                                border: 1px solid #e2e2e2;

                                outline: 0;
                                resize: vertical;

                                &:focus {
                                    border-color: $primary-gray-4;
                                }

                                blockquote {
                                    font-size: 1em;
                                    border-left: none;
                                    box-sizing: border-box;
                                }

                                ol, ul {
                                    box-sizing: border-box;
                                    margin: 0 !important;
                                }
                            }
                        }
                    }

                    .eventSection {
                        border: 1px solid #dddede;
                        border-radius: 4px;
                        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
                        background-color: $whiteText;
                        padding: 10px;
                        margin-bottom: 5px;
                        font-size: 13px;
                        line-height: 14px;
                        display: none;   // hide for now

                        .eventsView {
                            margin-left: 5px;
                            margin-right: 5px;

                            .header {
                                color: $lightTextColor;

                                .colName {
                                    float:left;
                                    width: calc(100% - 65px);
                                }

                                .colDate {
                                    float: right;
                                    padding-right: 5px;
                                    text-align: right;
                                    width: 65px;
                                }

                                &:after {
                                    @include clearFloat;
                                }
                            }

                            .lstDiv {
                                background-color: $tan-bg-color;

                                .lst {
                                    padding-top: 5px;

                                    .noEvents {
                                        padding: 10px 15px 15px 15px;
                                        text-align: center;
                                        font-weight: $bold;
                                    }

                                    .entry {
                                        padding: 0 5px 5px 5px;

                                        .name {
                                            float: left;
                                            width: calc(100% - 65px);
                                            font-weight: $semiBold;
                                        }

                                        .date {
                                            float: right;
                                            width: 65px;
                                            text-align: right;
                                            padding-left: 5px;
                                        }

                                        &:after {
                                            @include clearFloat;
                                        }
                                    }
                                }
                            }
                        }

                        .eventsEdit {
                            margin-left: 5px;
                            margin-right: 5px;
                            display: none;

                            .btnDiv {
                                margin-bottom: 10px;
                            }

                            .header {
                                color: $lightTextColor;

                                .colName {
                                    float:left;
                                    width: calc(100% - 65px);
                                }

                                .colDate {
                                    float: right;
                                    padding-right: 5px;
                                    text-align: right;
                                    width: 65px;
                                }

                                &:after {
                                    @include clearFloat;
                                }
                            }

                            .lstDiv {
                                background-color: $tan-bg-color;

                                .lst {
                                    padding-top: 5px;
                                    min-height: 130px;

                                    .noEvents {
                                        padding: 10px 15px 15px 15px;
                                        text-align: center;
                                        font-weight: $bold;
                                    }

                                    .entry {
                                        padding: 0 5px 5px 5px;

                                        .colName {
                                            float: left;
                                            width: calc(100% - 90px);
                                            font-weight: $semiBold;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            white-space: nowrap;
                                        }

                                        .colDate {
                                            float: left;
                                            width: 65px;
                                            text-align: right;
                                            padding-left: 5px;
                                        }

                                        .colDelete {
                                            float: left;
                                            width: 24px;
                                            text-align: right;

                                            .deleteBtn {
                                                color: $lightTextColor;
                                                cursor: pointer;
                                            }
                                        }

                                        &:after {
                                            @include clearFloat;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .createRaisedBtnSection {
                        .btnDiv {
                            .btnContainerRight {
                                float: right;

                                .createRaiserCancelBtn {
                                    display: inline-flex;
                                    position: relative;
                                    top: 2px;
                                    margin-right: 20px;
                                    color: $blueText;

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }

                            &:after {
                                @include clearFloat;
                            }
                        }
                    }
                }
            }
        }
    }

    &:after {
        @include clearFloat;
    }
}

/*
 *
 * Add Fundraiser to event dialog
 *
 */
.addFundraiserToEventDlg {
    .msgBody {
        word-wrap: normal !important;
        overflow-y: visible !important;
    }

    .searchBar {
        height: 30px;
        background-color: $grayBorder;
        border-radius: 4px;
        margin-bottom: 5px;

        .rightSide {
            width: 60%;
            float: right;

            .eventSearch {
                margin-top: 5px;
                margin-right: 5px;
            }
        }

        &:after {
            @include clearFloat;
        }
    }

    .lstHeader {
        font-size: 12px;
        line-height: 13px;
        border-bottom: 1px solid $primary-gray-4;

        .column {
            float: left;

            &.eventName {
                margin-left: 25px;
                width: calc(100% - (30px + 75px + 65px));
                margin-right: 5px;
            }

            &.eventDate {
                width: 75px;
            }

            &.leadSwitch {}
        }

        &:after {
            @include clearFloat;
        }
    }

    .eventLst {
        width: 100%;
        height: 350px;
        background-color: $whiteText;
        overflow-y: auto;
        padding-bottom: 2px;
        border-bottom: 1px solid $primary-gray-4;
        border-top: none;

        .loading {
            top: 35px;
            width: 100px;
            height: 100px;
            margin-left: -50px;
        }

        .eventEntry {
            height: 27px;
            border-bottom: 1px solid $primary-gray-4;
            overflow: hidden;

            &:last-child {
                border-bottom: none;
                height: 27px;
            }

            &:nth-child(odd) {
                background-color: $tan-bg-color;
            }

            &:nth-child(even) {
                background-color: $whiteText;
            }

            .activeEventDiv {
                float: left;

                .selectedEvent {
                    position: relative;
                    width: 25px;
                    height: 25px;
                    display: inline-block;
                    cursor: pointer;

                    .activeEvent {
                        float: left;
                        width: 20px;
                        margin-left: 5px;
                        margin-top: 1px;
                        font-size: 18px;
                    }

                    .activeEventChecked {
                        position: absolute;
                        left: 8px;
                        top: 1px;
                        width: 20px;
                        font-size: 15px;
                        height: 20px;
                        float: left;
                        color: green;
                    }
                }
            }

            .nameEventDiv {
                float: left;
                width: calc(100% - (30px + 75px + 65px));
                margin-top: 2px;
                margin-right: 5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .dateEventDiv {
                float: left;
                width: 70px;
                margin-right: 5px;
                margin-top: 2px;
            }

            .leadSwitchDiv {
                float: left;
                width: 60px;
                margin-right: 5px;
                margin-top: 2px;
                position: relative;
                top: 3px;
                    //width: 60px;
                    //height: 20px;
            }

            &:after {
                @include clearFloat;
            }
        }
    }
}
