// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 *
 * CSS for home/index page
 *
 */

.homePageDiv {
    font-weight: $semiBold;
    margin-top: -10px;

    .userNameSection {
        font-size: 24px;
    }

    .infoMsgSection {
        font-size: 14px;
    }

    .accountImgSection {
        margin-bottom: 20px;

        .imgDiv {
            max-height: 500px;
            overflow: hidden;
            border: 1px solid transparent;
            border-radius: 4px;

            img {
                width: 100%;
                height: auto;
                border: 1px solid transparent;
                border-radius: 4px;
            }
        }

        .defaultBannerOrg {
            color: $whiteText;
            text-align: center;
            font-weight: $normal;
            font-size: 20px;
            bottom: 100px;
            position: relative;
        }
    }

    .subSections {
        .column {
            float: left;
            width: calc((100% - 60px) / 3);

            .headerMsg {
                font-size: 14px;
            }

            .sectionBox {
                background: linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(252, 252, 252, 1) 100%);
                border: 2px solid $whiteText;
                border-radius: 4px;
                overflow: hidden;
                height: 262px;

                .title {
                    text-align: center;
                    font-size: 24px;
                    font-weight: bold;
                    margin-top: 20px;
                    padding: 0 10px;
                    line-height: 1.1em;
                }

                .contentBox {
                    text-align: center;
                    padding: 10px;
                }
            }

            &:first-child {
                margin-right: 15px;
            }

            &:last-child {
                margin-left: 15px;
            }

            &:not(:first-child):not(:last-child) {
                margin-left: 15px;
                margin-right: 15px;
            }
        }

        &:after {
            @inclide clearFloat;
        }

        .col1 {
            .sectionBox {
                //cursor: pointer;

                .contentBox {
                    margin-top:15px;
                    cursor: pointer;

                }
            }


            .glyphLine1 {
                height: 100%;
                width: 100%;
                max-width: 175px;
                min-width: 135px;
                display: inline-block;
                text-align: center;
                height: 65px;

                .googleGlyph {
                    margin-top: 7px;
                    background: url(../../img/connect-icons.png) no-repeat 0 0;
                    width: 65px;
                    height: 48px;
                    float: left;
                    display: inline-block;
                }

                .outlookGlyph {
                    background: url(../../img/connect-icons.png) no-repeat 0 -130px;
                    width: 65px;
                    height: 65px;
                    float: right;
                    position: relative;

                    .comingSoon {
                        position: absolute;
                        top: 25px;
                        color: $whiteText;
                        font-size: 11px;
                        border: 1px solid $grayBorder;
                        border-radius: 5px;
                        background-color: rgba(119, 119, 119, 0.7);
                        transform: rotate(-10deg);
                        opacity: 1;
                    }
                }

                &:after {
                    @include clearFloat;
                }
            }

            .glyphLine2 {
                height: 100%;
                width: 100%;
                max-width: 175px;
                min-width: 135px;
                display: inline-block;
                text-align: center;
                height: 65px;
                margin-top: 20px;

                .linkedInGlyph {
                    background: url(../../img/connect-icons.png) no-repeat 0 -65px;
                    width: 65px;
                    height: 65px;
                    float: left;
                    cursor: pointer;
                }

                .csvGlyph {
                    background: url(../../img/connect-icons.png) no-repeat 0 -195px;
                    width: 65px;
                    height: 65px;
                    float: right;
                    display: inline-block;
                }

                &:after {
                    @include clearFloat;
                }
            }

        }

        .col2 {
            .sectionBox {
                //cursor: pointer;

                &.noResults {
                    cursor: default;
                }
            }

            .iconBox {
                display: inline-block;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid $magentaText;
                position: relative;
                top: 20px;
                cursor: pointer;

                .icon {
                    font-size: 120px;
                    line-height: 10px;
                    color: $magentaText;
                    position: relative;
                    top: -20px;
                }
            }
        }

        .col3 {
            .contentBox {
                position: relative;

                .comingSoon {
                    position: absolute;
                    top: 95px;
                    left: 110px;
                    padding: 2px 10px;
                    color: $whiteText;
                    font-size: 18px;
                    border: 1px solid $grayBorder;
                    border-radius: 5px;
                    background-color: rgba(119, 119, 119, 0.7);
                    transform: rotate(-10deg);
                    opacity: 1;
                }
            }
        }
    }
}

.syncContactsDiv {
    margin-bottom: 15px;
    position: relative;

    .header {
        font-size: 22px;
        color: $primary-gray-6;
        line-height: 1.1em;
        margin-top: 28px;

        .line1 {}

        .line2 {}

        .greenText {
            color: $pageTitleColor;

            a {
                color: $pageTitleColor;

                &:hover {
                    color: $pageTitleColor  !important;
                }
            }
        }
    }

    .contactStepsSection {
        margin-top: 30px;
        height: 580px;

        .column {
            height: 700px;
            background : linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(252, 252, 252, 1) 100%);
            box-shadow: 2px 6px 5px 0px rgba(209,211,216,0.51);
            border: 2px solid #eaecf0;
            border-radius: 4px;
            float: left;

            &:after {
                @include clearFloat;
            }

            &:first-child {
                margin-right: 15px;
            }

            &:last-child {
                margin-left: 15px;
            }

            &:not(:first-child):not(:last-child) {
                margin-left: 15px;
                margin-right: 15px;
            }

            .heading {
                margin-top: 15px;
                text-align: center;
                font-weight: bold;

                .step {
                    font-size: 36px;
                    line-height: 1.1em;
                }

                .msg {
                    font-size: 22px;
                    line-height: 1.1em;
                    display: inline-block;
                }

            }

            .guts {
                text-align: center;
            }
        }

        .col1 {
            .heading {
                .msg {
                    width: 75%;
                }
            }

            .guts {
                .client {
                    margin: 25px 0;

                    .linkedInGlyph {
                        background: url(../../img/connect-icons-2.png) no-repeat 0 -110px;
                        width: 111px;
                        height: 100px;
                        margin-left: auto;
                        margin-right: auto;
                        cursor: pointer;
                    }

                    .gmailGlyph {
                        background: url(../../img/connect-icons-2.png) no-repeat 0 0;
                        width: 111px;
                        height: 100px;
                        margin-left: auto;
                        margin-right: auto;
                        cursor: pointer
                    }

                    .outlookGlyph {
                        background: url(../../img/connect-icons-2.png) no-repeat 0 -220px;
                        width: 111px;
                        height: 100px;
                        position: relative;
                        margin-left: auto;
                        margin-right: auto;
                        cursor: pointer;

                        .comingSoon {
                            position: absolute;
                            top: 45px;
                            left: 5px;
                            padding: 0 5px;
                            color: $whiteText;
                            font-size: 16px;
                            border: 1px solid $grayBorder;
                            border-radius: 5px;
                            background-color: $blackText;
                            transform: rotate(-10deg);
                            opacity: 1 !important;
                            z-index: 100;
                        }
                    }
                    .csvGlyph {
                        background: url(../../img/connect-icons-2.png) no-repeat 0 -440px;
                        width: 111px;
                        height: 100px;
                        margin-left: auto;
                        margin-right: auto;
                        cursor: pointer
                    }

                }

                .footer {
                    line-height: 1.1em;
                    font-size: 18px;
                    font-weight: $semiBold;
                    width: 75%;
                    text-align: center;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        .col2 {
            .heading {
                max-height: 120px;
                overflow: hidden;

                .msg {
                    width: 75%;
                }
            }

            .guts {
                height: calc(520px - 107px);
                padding: 20px 30px;

                .taskLst {
                    overflow-x: hidden;
                    overflow-y: auto;
                    width: 100%;
                    height: calc(100% - 10px);

                    .syncStatusLst {
                        .syncStatusEntry {
                            height: 45px;

                            &.queued {
                                .name {
                                    opacity: .5;
                                    color: $lightTextColor !important;
                                    width: calc(100% - (30px + 15px + 55px));
                                    //margin-top: 10px;
                                }

                                .gmailGlyph {
                                    margin-top: 30px;
                                }

                                .linkedInGlyph {
                                    margin-top: 18px;
                                }

                                .icon {
                                    opacity: .5;
                                    color: $lightTextColor !important;
                                    //margin-top: 4px;
                                }
                            }

                            &.started {
                                .name {
                                    opacity: .5;
                                    color: $lightTextColor !important;
                                    width: calc(100% - (45px + 15px + 40px));
                                }
                            }

                            &.placeholder {
                                .glyph {
                                    filter: grayscale(100%);
                                    -webkit-filter: grayscale(100%);
                                    opacity: .5;
                                }

                                .name {
                                    opacity: .5;
                                    color: $lightTextColor !important;
                                }

                                .icon {
                                    opacity: .5;
                                    color: $lightTextColor !important;
                                }
                            }

                            &.failed {
                                .name, .icon {
                                    color: $errorText;
                                }
                            }

                            &.completed {
                                .name {
                                }
                            }

                            &:not(:first-child) {
                                margin-top: 15px;
                            }

                            .linkedInGlyph {
                                background: url(../../img/upload_icons.png) no-repeat 0 -140px;
                                background-size: 111px 514px;
                                width: 111px;
                                height: 105px;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 2px;
                                zoom: 30%;
                                float: left;
                            }

                            .outlookGlyph {
                                background: url(../../img/upload_icons.png) no-repeat 0 -270px;
                                background-size: 111px 514px;
                                width: 111px;
                                height: 111px;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 2px;
                                zoom: 30%;
                                float: left;
                            }

                            .gmailGlyph {
                                background: url(../../img/upload_icons.png) no-repeat 0 0;
                                background-size: 111px 514px;
                                width: 111px;
                                height: 105px;
                                margin-left: auto;
                                margin-right: auto;
                                zoom: 30%;
                                float: left;
                                margin-top: 10px;
                            }
                            .csvGlyph {
                                background: url(../../img/upload_icons.png) no-repeat 0 -400px;
                                background-size: 111px 514px;
                                width: 111px;
                                height: 111px;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 2px;
                                zoom: 30%;
                                float: left;
                            }

                            .genericGlyph {
                                background: url(../../img/connect-icons-2.png) no-repeat 0 -450px;
                                background-size: 111px 514px;
                                width: 111px;
                                height: 74px;
                                margin-left: auto;
                                margin-right: auto;
                                zoom: 30%;
                                float: left;
                                margin-top: 10px;
                            }

                            .name {
                                margin-left: 15px;
                                margin-top: 2px;
                                text-align: left;
                                font-size: 16px;
                                float: left;
                                width: calc(100% - (33px + 15px + 40px));
                                overflow: hidden;
                                text-overflow: ellipsis;

                                &.linkedInName {
                                    margin-top: 7px;
                                }
                            }

                            .icon, .pifont {
                                float: left;
                                font-size: 30px;
                                color: $pageTitleColor;
                                margin-top: -3px;

                                &.started {
                                    position: relative;
                                    font-size: 44px;

                                    .startedInner {
                                        color: $lightTextColor;
                                        opacity: .5;
                                        font-size: 30px;
                                        position: absolute;
                                        left: 8px;
                                        top: 10px;
                                    }
                                }
                            }

                            &:after {
                                @include clearFloat;
                            }
                        }
                    }
                }
            }

        }

        .col3 {
            .heading {
                .msg {
                    width: 75%;
                }
            }

            .guts {
                .contentBox {
                    height: calc(570px - 170px);
                    position: relative;

                    .ranking {
                        background: url(../../img/ranking-color.png) no-repeat 0 0;
                        background-size: 222px 244px;
                        width: 222px;
                        height: 244px;
                        margin-left: auto;
                        margin-right: auto;
                        @include vertical-center;

                        &.disabled {
                            background: url(../../img/ranking-grey.png) no-repeat 0 0;
                        }
                    }

                    .icon {
                        font-size: 120px;
                        @include vertical-center;
                        line-height: 1.0em;
                        color: $magentaText;

                        &.disabled {
                            color: $disabledText;
                        }
                    }
                }

                .btnDiv {
                    text-align: center;
                    width: 100%;

                    .analyzeNowBtn {
                        width: 150px;
                        height: 50px;
                        font-size: 18px;
                    }
                }
            }
        }

        .importTypeDialog {
            position: absolute;
            width: 120px;
            border: 1px solid $grayBorder;
            border-radius: 4px;
            padding: 10px;
            background-color: $whiteText;
            z-index: 11;

            .revupBtnDiv:not(:last-child) {
                margin-bottom: 5px;
            }

            &:after, &:before {
            	right: 100%;
            	top: 50%;
            	border: solid transparent;
            	content: " ";
            	height: 0;
            	width: 0;
            	position: absolute;
            	pointer-events: none;
            }

            &:after {
            	border-color: rgba(255, 255, 255, 0);
            	border-right-color: $whiteText;
            	border-width: 10px;
            	margin-top: -10px;
            }
            &:before {
            	border-color: rgba(167, 172, 184, 0);
            	border-right-color: $grayBorder;
            	border-width: 11px;
            	margin-top: -11px;
            }
        }

    }
}

.syncContacts2Div {
    background : linear-gradient(0deg, rgba(245, 245, 245, 1) 0%, rgba(252, 252, 252, 1) 100%);
    box-shadow: 2px 6px 5px 0px rgba(209,211,216,0.51);
    border: 2px solid #eaecf0;
    border-radius: 4px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;

    .header {
        .logo {
            text-align: center;
        }

        .uploadFailedDiv {
            padding: 10px 15px;
            border: 1px solid transparent;
            border-radius: 4px;
            margin-top: 5px;

            background : -webkit-linear-gradient(90deg, rgba(230, 165, 0, 1) 0%, rgba(240, 183, 41, 1) 100%);
            background : -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(230, 165, 0, 1) ),color-stop(1,rgba(240, 183, 41, 1) ));
            background : linear-gradient(0deg, rgba(230, 165, 0, 1) 0%, rgba(240, 183, 41, 1) 100%);

            color : $whiteText;
            line-height: 1.1;
            min-height: 20px;
            height: auto;
            overflow: hidden;

            .iconDiv {
                float: left;
                background : #F5C856;
                border: 1px solid #F5CA5D;
                border-radius : 2px;
                width: 22px;
                height: 22px;

                .charIcon {
                    font-size: 20px;
                    font-weight: $semiBold;
                    position: relative;
                    left: 7px;
                    top: -1px;
                }
            }

            .textDiv {
                float: left;
                margin-left: 5px;

                .line1 {
                    font-size: 16px;
                    font-weight: $bold;
                }

                .line2 {
                    font-size: 12px;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

        .message {
            font-size: 18px;
            color: $primary-gray-6;
            line-height: 1.2em;
            margin-top: 15px;

            .line1 {}

            .line2 {}

            .greenText {
                color: $pageTitleColor;

                a {
                    color: $pageTitleColor;

                    &:hover {
                        color: $pageTitleColor  !important;
                    }
                }
            }

        }
    }

    .selectorSection {
        margin-top: 15px;
        height: 110px;

        .title {
            font-size: 18px;
            font-weight: $bold;
            color: $primary-gray-6;
            line-height: 1.1em;
            margin-bottom: 10px;
        }

        .selector {
            height: 80px;
            margin-bottom: 15px;
            text-align: center;

            .scroller {
                width: 20px;
                height: 60px;
                background-color: green;

                &.scrollLeft {
                    float: left;
                }

                &.scrollRight {
                    float: right;
                }
            }

            .app {
                //float: left;
                display: inline-block;
                width: 60px;
                height: 80px;
                margin-left: 5px;
                margin-right: 5px;
                //background-color: red;

                .appContainer {
                    border: 3px solid transparent;
                    border-radius: 30px;
                    background-color: $separatorBorder;
                    width: 60px;
                    height: 60px;
                    position: relative;

                    .iconBadge {
                        position: absolute;
                        top: 18px;
                        left:15px;

                        font-size: 12px;
                        font-weight: $semiBold;
                        color: #ff8e16;
                        background-color: rgba(119, 119, 119, .4);
                        border: 1px solid black;
                        border-radius: 4px;
                        padding: 1px 3px;
                        transform: rotate(-15deg);
                        -webkit-transform: rotate(-15deg);
                        -ms-transform: rotate(-15deg);
                    }

                    &.active {
                        background-color: $whiteText;
                        border-color: $greenBtnBorder;
                    }

                    .appIcon {
                        &.linkedInAppIcon {
                            background: url(../../img/upload_icons.png) no-repeat 0 -140px;
                            background-size: 111px 514px;
                            width: 111px;
                            height: 105px;
                            position: absolute;
                            left: -28px;
                            top: -25px;
                            transform: scale(0.35);
                            -webkit-transform: scale(0.35);
                            -ms-transform: scale(0.35);
                        }

                        &.gmailAppIcon {
                            background: url(../../img/upload_icons.png) no-repeat 0 0;
                            background-size: 111px 514px;
                            width: 111px;
                            height: 105px;
                            position: absolute;
                            left: -28px;
                            top: -20px;
                            transform: scale(0.35);
                            -webkit-transform: scale(0.35);
                            -ms-transform: scale(0.35);
                        }

                        &.outlookAppIcon {
                            background: url(../../img/upload_icons.png) no-repeat 0 -270px;
                            background-size: 111px 514px;
                            width: 111px;
                            height: 111px;
                            position: absolute;
                            left: -28px;
                            top: -26px;
                            transform: scale(0.35);
                            -webkit-transform: scale(0.35);
                            -ms-transform: scale(0.35);
                        }

                        &.csvAppIcon {
                            background: url(../../img/upload_icons.png) no-repeat 0 -400px;
                            background-size: 111px 514px;
                            width: 111px;
                            height: 111px;
                            position: absolute;
                            left: -28px;
                            top: -29px;
                            transform: scale(0.35);
                            -webkit-transform: scale(0.35);
                            -ms-transform: scale(0.35);
                    }
                    }
                }

                .appLabel {
                    font-size: 12px;
                    text-align: center;
                }
            }

            &:after {
                @include clearFloat;
            }
        }
    }

    .taskLst {
        overflow-x: hidden;
        overflow-y: auto;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        //height: calc(100% + 10px);

        .syncStatusLst {
            .syncStatusEntry {
                height: 30px;

                &.queued, &.started {
                    .name {
                        opacity: .5;
                        color: $lightTextColor !important;
                        width: calc(100% - (33px + 15px + 40px));
                    }

                    .icon {
                        opacity: .5;
                        color: $lightTextColor !important;
                        //margin-top: 4px;
                    }
                }

                &.placeholder {
                    .glyph {
                        filter: grayscale(100%);
                        -webkit-filter: grayscale(100%);
                        opacity: .5;
                    }

                    .name {
                        opacity: .5;
                        color: $lightTextColor !important;
                    }

                    .icon {
                        opacity: .5;
                        color: $lightTextColor !important;
                    }
                }

                &.failed {
                    .name, .icon {
                        color: $errorText;
                    }
                }

                &.completed {
                    .name {
                    }
                }

                &:not(:first-child) {
                    margin-top: 15px;
                }

                &:last-child {
                    margin-bottom: 15px;
                }

                .glyphContainer {
                    width: 35px;
                    height: 32px;
                    float: left;
                    position: relative;

                    .linkedInGlyph {
                        background: url(../../img/upload_icons.png) no-repeat 0 -140px;
                        background-size: 111px 514px;
                        width: 111px;
                        height: 105px;
                        transform: scale(0.3);
                        -webkit-transform: scale(0.3);
                        -ms-transform: scale(0.3);
                        position: absolute;
                        left: -40px;
                        top: -34px;
                    }

                    .outlookGlyph {
                        background: url(../../img/upload_icons.png) no-repeat 0 -270px;
                        background-size: 111px 514px;
                        width: 111px;
                        height: 111px;
                        transform: scale(0.3);
                        -webkit-transform: scale(0.3);
                        -ms-transform: scale(0.3);
                        position: absolute;
                        left: -40px;
                        top: -37px;
                    }

                    .gmailGlyph {
                        background: url(../../img/upload_icons.png) no-repeat 0 0;
                        background-size: 111px 514px;
                        width: 111px;
                        height: 105px;
                        transform: scale(0.3);
                        -webkit-transform: scale(0.3);
                        -ms-transform: scale(0.3);
                        position: absolute;
                        left: -40px;
                        top: -34px;
                    }

                    .csvGlyph {
                        background: url(../../img/upload_icons.png) no-repeat 0 -400px;
                        background-size: 111px 514px;
                        width: 111px;
                        height: 111px;
                        transform: scale(0.3);
                        -webkit-transform: scale(0.3);
                        -ms-transform: scale(0.3);
                        position: absolute;
                        left: -40px;
                        top: -38px;
                    }

                    .genericGlyph {
                        background: url(../../img/connect-icons-2.png) no-repeat 0 -450px;
                        background-size: 111px 514px;
                        width: 111px;
                        height: 74px;
                        transform: scale(0.3);
                        -webkit-transform: scale(0.3);
                        -ms-transform: scale(0.3);
                        position: absolute;
                        left: -40px;
                        top: -21px;
                    }
                }

                .name {
                    margin-left: 15px;
                    margin-top: 2px;
                    text-align: left;
                    font-size: 16px;
                    float: left;
                    width: calc(100% - (33px + 15px + 34px));
                    overflow: hidden;
                    text-overflow: ellipsis;

                    &.linkedInName {
                        margin-top: 5px;
                    }

                    &.csvName {
                        margin-top: 8px;
                    }

                    &.outlookName {
                        margin-top: 6px;
                    }
                }

                .icon, .pifont {
                    float: left;
                    font-size: 25px;
                    color: $pageTitleColor;
                    //left: -8px;
                    //margin-top: -3px;

                    &.placeholder, &.failed {
                        position: relative;
                        left: -5px;
                    }

                    &.started, &.queued {
                        position: relative;
                        font-size: 30px;
                        left: -2px;

                        .startedInner {
                            color: $lightTextColor;
                            opacity: .5;
                            font-size: 20px;
                            position: absolute;
                            left: 5px;
                            top: 6px;
                        }
                    }
                }

                &:after {
                    @include clearFloat;
                }
            }
        }
    }

    .btnBar {
        text-align: right;
    }
}


.csv-upload-format {
    font-size: 14px;

    // File format panel
    .panel {
        margin: 20px 10px 0px 10px;

        h5 {
            font-size: 15px;
            font-weight: bold;
        }

        span[data-toggle="collapse"] {
            cursor: pointer;
        }

        .no-border {
            border: 0px;
        }

        .panel {
            margin: 15px 0;

            .panel-heading {
                font-weight: 600 !important;
            }
            .panel-body {
                font-weight: 300 !important;
            }
        }

        .panel-heading.transparent {
            background-color: transparent !important;
            background-image: none !important;
            font-weight: bold;
        }

        .csv-format-group {
            padding: 5px 0;

            ul {
                list-style-type: square;
                padding-left: 39px;
            }

            .panel {
                margin: 0 5px 5px 5px;

                .panel-heading {
                    padding-top: 3px;
                    padding-bottom: 3px;
                }
                ul {
                    padding-left: 34px;
                }
            }
        }
    }
}
