@import "../stylesDefs.scss";

// Legend Popup Version 2
.legendPopup2 {
  display: none;
  z-index: 1000;
  position: absolute;
  background: #E6E9EB;
  border: 1px solid #c5c9cc;
  border-radius: 4px;

  .header {
    margin-top: 5px;

    .title {
      font-size: 14px;
      font-weight: $semiBold;
      color: $primary-gray-6;
      float: left;
      margin-left: 14px;
    }

    .closeBtn {
      float: right;
      display: inline-block;
      margin-right: 10px;
      color: #b9c0cc;
      cursor: pointer;
    }

    &::after {
      content: '.';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }

  .legendBody {
    padding: 5px 10px 10px;

    .leftSide {
      float: left;
      border-top: 1px solid $separatorBorder;
      width: 165px;

      .iconDiv {
        .entry {
          .leftIconSide {
            float: left;
            width: 30px;
            height: 24px;
            margin-right: 5px;
            text-align: center;

            .imgIcon {
              &.legendIcon {
                width: 22px;
                height: 22px;
                border-radius: 11px;
                float: left;
                background-color: $grayBtnBackground;
                margin-left: 3px;

                .icon {
                  position: relative;
                  color: $whiteText;
                  font-size: 15px;
                  top: 2px;
                }
              }
            }

            .keyContribDiv {
              width: 22px;
              height: 22px;

              .keyContribIcon {
                width: 10px;
                height: 10px;
                border-radius: 5px;
                background-color: $pageTitleColor;
                position: relative;
                top: 5px;
                left: 10px;
              }
            }
          }

          .rightIconSide {
            .text {
              float: left;
              font-size: 14px;
              line-height: 15px;
              position: relative;
              top: 3px;
              color: $titleText;
            }
          }

          &::after {
            @include clearFloat;
          }

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }

      .leaningDiv {
        margin-top: 10px;
        margin-bottom: 10px;

        .entry {
          .colorBlob {
            float: left;
            width: 30px;
            height: 22px;
            border-radius: 4px;
            margin-right: 5px;
          }

          .text {
            float: left;
            font-size: 14px;
            color: $titleText;
          }

          &::after {
            @include clearFloat;
          }

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }

    .rightSide {
      float: left;
      width: 165px;

      .contributionDiv {
        width: 100%;

        .entry {
          background-color: $whiteText;
          border-radius: 4px;
          width: 100%;

          .imgDiv {
            text-align: center;
            margin: 0 auto;

            .blob {
              height: 16px;
              margin: 0 auto;
              text-align: center;
              padding: 2px 4px;
              clear: left;
              border-radius: 3px;
              display: inline-block;

              .text {
                font-size: 11px;
                line-height: 11px;
                text-align: center;
                color: $whiteText;
                position: relative;
                top: 1px;
              }
            }

            .blobText {
              font-size: 9px;
              line-height: 9px;
              text-align: center;
              color: $titleText;
            }
          }

          .msgDiv {
            font-size: 12px;
            color: $titleText;
            padding: 0 10px 5px;
            text-align: center;
          }

          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }

    &::after {
      @include clearFloat;
    }
  }

  .legendBarDiv {
    height: 17px;
    margin-bottom: 10px;

    .colorBar {
      margin: 0 14px;
      border: 1px solid transparent;
      border-radius: 2px;

      .text {
        font-size: 12px;
        margin-left: 5px;
        color: $whiteText;
        position: relative;
        top: -1px;
      }
    }

    &:last-child {
      margin-bottom: 15px;
    }

    &:nth-of-type(2) {
      margin-top: 10px;
    }
  }
}
