// sass-lint:disable-all

@import "../stylesDefs.scss";

$headerTextTitle: #6d6e71;
$headerEntryTitle: $primary-gray-5;
$headerEntryValue: $primary-gray-6;
$headerEntryLargeValue: #231f20;

$btnText: $iconText;
$btnIcon: $primary-gray-5;
$btnDisabled: $secondary-gray-1;


/*
 *
 * List Manager
 *
 */
.managerWrapper{
    height: 100%;
    margin-bottom: 5px;
    top: -8px;
    position: relative;
    .listDetailDiv {
        border: 1px solid #eeeff0;
        background-color: $whiteText;
        height: 60px;
        padding: 5px 10px;
        margin-top: 15px;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 165px);
        max-width: calc(100% - 165px);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #e2e4e6;
        .title {
            font-size: 11px;
            color: $headerTextTitle;
        }

        .detailsDiv {
            .leftSide {
                float: left;

                .entry {
                    margin-right: 20px;
                }
                .nameEntry, .filterSetEntry, .sharedWithEntry {
                     display: inline-block;
                     vertical-align: top;
                     width: 230px;
                     font-size: 12px;
                     font-weight: bold;
                     word-wrap: break-word;
                 }
            }

            &:after {
                @include clearFloat;
            }
        }
    }

    .rightSide {
        float: right;
        width: 160px;
        max-width: 160px;
        display: inline-block;
        vertical-align: top;
        .entry {
            background-color: $primary-blue-3;
            text-align: center;
            width: 100%;
            height: 60px;
            display: inline-block;
            vertical-align: top;
            margin-top: 15px;
            float: left;
        }
        .title  {
            font-size: 10px;
            line-height: 10px;
            color: $whiteText;
            font-family: 'Source Sans Pro', sans-serif;
        }

        .value {
            font-size: 10px;
            color: $headerEntryValue;
            line-height: 25px;
            display: inline-block;
            // vertical-align: text-bottom;
            max-width: 270px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.largeText {
                font-size: 30px;
                color: $whiteText;
                font-weight: $semiBold;
                font-family: 'Source Sans Bold', sans-serif;
                padding-top: 10px;
            }
        }
        .lstLoading{
            height: 60px;
            .loadingDiv {
                margin: 1%;
                .loading {
                    // outer
                    display: block;
                    position: relative;
                    left: 46%;
                    top: 21px;
                    width: 50px;
                    height: 50px;
                    margin-left: -20px;
                    border-radius: 50%;
                    border: 2px solid transparent;
                    border-top-color: #80d012; //#3498db;
                    border-left-color: #80d012; //#3498db;
                    -webkit-animation: spin 2s linear infinite;
                    animation: spin 2s linear infinite;

                    &:before {
                        // middle
                        content: "";
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        right: 5px;
                        bottom: 5px;
                        border-radius: 50%;
                        border: 2px solid transparent;
                        border-top-color: $primary-green-1; //#e74c3c;
                        border-right-color: $primary-green-1; //#e74c3c;
                        -webkit-animation: spin 3s linear infinite;
                        animation: spin 3s linear infinite;
                    }

                    &:after {
                        // inner
                        content: "";
                        position: absolute;
                        top: 15px;
                        left: 15px;
                        right: 15px;
                        bottom: 15px;
                        border-radius: 50%;
                        border: 2px solid transparent;
                        border-top-color: #B9ED76; //#f9c922;
                        border-left-color: #B9ED76; //#f9c922;
                        -webkit-animation: spin 1.5s linear infinite;
                        animation: spin 1.5s linear infinite;
                    }
                }

                .loadingImg {
                    position: relative;
                    left: 50%;
                    width: 20px;
                    height: 20px;
                    margin-left: -10px;
                    //margin-top: 50px;
                    top: -43px;
                }
            }
        }

    }
}

    .topTaskBarDiv {
        height: 45px;
        padding-left: 10px;
        background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(217, 217, 217, 1) 20.07%, rgba(232, 232, 232, 1) 100%);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid #bcbec0;
        .rightSide {
            float: right;

            .iconBtnDiv {
                float: left;
                border-left: 1px solid $whiteText;
                height: 45px;

                .btnDiv {
                    cursor: pointer;
                    padding-top: 5px;
                    height: 45px;
                    min-width: 65px;

                    &.disabled {
                        cursor: default;
                        color: $btnDisabled;

                        .text {
                            color: $btnDisabled;
                        }

                        .icon {
                            color: $btnDisabled;
                        }

                        &:hover {
                            background: transparent;
                        }
                    }

                    &:hover {
                        background: linear-gradient(0deg, rgba(196, 232, 254, 1) 0%, rgba(192,231, 254, 1) 20.07%, rgba(214,239,254, 1) 100%);
                    }

                    .text {
                        font-size: 10px;
                        line-height: 11px;
                        white-space: nowrap;
                        margin-left: 12px;
                        margin-right: 12px;
                        color: $btnText;
                        text-align: center;

                        &.sideBySide {
                            float: left;
                            text-align: center;
                            white-space: normal;
                            width: 50px;
                            margin-right: 1px;

                            position: relative;
                            top: 5px;
                        }
                    }

                    .icon {
                        color: $btnIcon;
                        text-align: center;
                        font-size: 18px;
                        line-height: 19px;
                        margin-top: 3px;

                        &.sideBySide {
                            float: left;
                            text-align: center;
                            white-space: normal;
                            margin-right: 10px;

                            position: relative;
                            top: 5px;
                        }
                    }

                    &.filterModeBtn {
                        &.active {
                            background-color: $secondary-green-2;
                        }
                    }

                    &:after {
                        @include clearFloat;
                    }
                }
            }
        }
    }

    .basicFilterSection {
        .showingContactsDiv {
            margin-top: 3px;
            height: 32px;
            font-size: 14px;

            &.disabled {
                opacity: 0.5;
            }

            .showingLabel {
                width: 63px;
                padding: 6px 5px;
                //padding: 3px 5px;
                float: left;
                height: 100%;
                //color: $lightTextColor;
                //background-color: $disabledText;
                color: #777;
                background-color: #e5e5e6;
            }

            .showingWhat {
                width: calc(100% - 103px);
                padding: 6px 10px;
                //padding: 3px 10px;
                float: left;
                height: 100%;
                //background-color: $disabledText;
                background-color: #e5e5e6;
                margin-left: 2px;
                margin-right: 2px;
            }

            .showingOpenClose {
                width: 36px;
                padding: 9px 5px;
                float: left;
                height: 100%;
                //background-color: $grayBorder;
                background-color: $grayBtnBackground;
                cursor: pointer;

                .icon {
                    position: relative;
                    left: 6px;
                    color: $whiteText;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

        .showingContactsLstDiv {
            font-size: 14px;
            background-color: #777;
            color: $whiteText;

            .entry {
                height: 26px;
                cursor: pointer;

                &:first-child {
                    height: 28px;

                    .text {
                        margin-top: 5px;
                    }

                    .icon {
                        margin-top: 5px;
                    }
                }

                &:last-child {
                    height: 28px;
                }

                .text {
                    margin-left: 75px;
                    margin-top: 3px;
                    float: left;
                    width: calc(100% - 111px);
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }



                .icon {
                    float: left;
                    width: 36px;
                    position: relative;
                    top: 3px;
                    left: 10px;
                    font-weight: $bold;
                }

                &:after {
                    @include clearFloat;
                }
            }

            hr {
                margin-top: 2px;
                margin-bottom: 2px;
                width: calc(100% - 20px);
            }
        }
    }
    .footerDiv{
        min-height: 68px !important;
    }

    .lstSection {
        // height: 430px;
        .lstDiv{
            // height: 430px;

            .lstHeader {
                height: 28px;
                border-bottom: 1px solid $grayBorder;
                font-size: 12px;
                font-weight: 600;
                overflow: hidden;
                width: 100%;

                &:after {
                    @include clearFloat;
                }
            }
            .lstBodyWrapper{
                min-height: 400px;
                overflow-y: scroll;
                .lstBody {
                    // min-height: 361px;
                    .lstOtherLists > .entry {
                        &:nth-child(odd) {
                            background-color: #eeeff0;
                        }
                    }

                    .entry {
                        height: 34px;
                        font-size: 14px;
                        line-height: 15px;
                        color: $primary-gray-6;
                        overflow: hidden;
                        background-color: white;

                        &.loadingMore {
                            height: 30px;

                            .loadingMore {
                                background: url(../../img/dot-dot-dot.gif);
                                width: 55px;
                                height: 9px;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 10px;
                            }
                        }

                        &.selected {
                            background-color: $secondary-blue-2 !important;
                        }

                        &.blink {
                            // background: $primary-green-1;
                            -webkit-animation-name: analyze; /* Chrome, Safari, Opera */
                            -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
                            animation-name: tabBlink;
                            animation-duration: 2s;
                            animation-iteration-count: infinite;

                            /* Chrome, Safari, Opera */
                            @-webkit-keyframes tabBlink {
                                0% {
                                    //background-color: $primary-green-1;
                                    opacity: 1;
                                }
                                50% {
                                    //background-color: #b4f253;
                                    opacity: 0.5;
                                }
                                100% {
                                    //background-color: $primary-green-1;
                                    opacity: 1;
                                }
                            }

                            /* Standard syntax */
                            @keyframes tabBlink {
                                0% {
                                    //background-color: $primary-green-1;
                                    opacity: 1;
                                }
                                50% {
                                    //background-color: #b4f253;
                                    opacity: 0.5;
                                }
                                100% {
                                    //background-color: $primary-green-1;
                                    opacity: 1;
                                }
                            }
                        }

                        .checkboxDiv {
                            position: relative;
                            margin-left: auto;
                            margin-right: auto;
                            height: 17px;
                            width: 14px;
                            top: 7px;

                            .icon {
                                position: absolute;
                                width: 14px;
                                height: 17px;
                                font-size: 1.2em;
                                cursor: pointer;

                                &.icon-check {
                                    display: none;
                                    top: -2px;
                                    left: 2px;
                                }
                            }

                            &.selected {
                                .icon {
                                    &.icon-check {
                                        display: block;
                                    }
                                }
                            }
                        }

                        .downloadImg {
                            position: relative;
                            top: 6px;
                            margin-right: 5px;
                        }

                        .nameDiv {
                            position: relative;
                            display: inline-block;
                            top: 9px;
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: $blueText;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;;
                            }
                        }

                        .numContacts, .srcDiv,  .dateDiv {
                            position: relative;
                            top: 9px;
                        }

                        .deleteBtn {
                            position: relative;
                            top: 9px;
                            color:#a7a9ac;
                            cursor: pointer;
                        }
                    }

                    &:after {
                        @include clearFloat;
                    }
                }
            }

            .column {
                float: left;
                margin-left: 10px;
                margin-right: 10px;
                white-space: nowrap;
                min-height: 2px;

                .columnHeader {
                    text-transform: capitalize;
                    font-size: 12px;
                    color: $primary-gray-6;
                    font-weight: 600;
                    position: relative;
                    top: 5px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                &.colSelect {
                    width: 35px;
                }

                &.colName {
                    width: calc(100% - 545px);
                }

                &.colNumContacts {
                    width: 80px;
                }

                &.colSource {
                    width: 70px;
                }

                &.colDateCreated {
                    width: 80px;
                }

                &.colDateShared {
                    width: 80px;
                }

                &.colDelete {
                    width: 40px;
                }
            }

            .slider {
                float: left;
                width: 5px;
                height: 100%;
                background-color: transparent;
                cursor: col-resize;

                &.blank {
                    background-color: transparent;
                    cursor: default;
                }

                .sOuter {
                    background-color: transparent;
                    width: 1px;
                    height: 100%;
                    float: left;
                }

                .sInner {
                    background-color: transparent; // $separatorBorder;
                    width: 1px;
                    height: 100%;
                    float: left;
                }

                .sCenter {
                    background-color: $primary-gray-3;
                    width: 1px;
                    height: 100%;
                    float: left;
                }

                &:after {
                    @include clearFloat;
                }
            }

            .lstFooter {
                font-size: 14px;
            }
        }
    }



/*
 *
 * Popup Dialogs
 *
 */
.lstMgrDlg {
    input {
        border: 1px solid #e2e2e2;
        padding: 3px 2px;
        outline: 0;
        color: $primary-gray-6;
        font-size: 14px;

        &:focus {
            border-color: $primary-gray-4;
        }
    }

    .fieldLabel {
        color: $primary-gray-5;
        font-size: 13px;
        line-height: 1.1em;
    }

    .entry {
        .checkField {
            display: inline-block;
            cursor: pointer;

            &.disabled {
                cursor: default;

                .checkbox {
                    .icon-check {
                        color: $primary-gray-5;
                    }
                }
            }

            .checkbox {
                //float: left;
                display: inline-block;
                position: relative;
                margin-top: 0;
                margin-bottom: 0;
                top: 1px;

                &.disabled {
                    cursor: default;

                    .icon-check, .icon-box-unchecked {
                        color: $primary-gray-5;
                    }
                }

                .icon-check {
                    position: absolute;
                    left: 2px;
                    bottom: 3px;
                    font-size: 0.9em;
                }

                .icon-box-unchecked {
                    position: absolute;
                    color: $primary-gray-5;
                }

                .icon-check-box-back {
                    color: $whiteText;
                }
            }

            .checkboxLabel {
                //float: left;
                display: inline-block;

                &.disabled {
                    color: $primary-gray-5;
                }
            }
        }
    }
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: rgba(0,0,0,.12);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

/*
 * Save As Dialog
 */
.saveAsDlg {
    .saveAsName {
        width: 100%;
    }
}

/*
 * Export CSV dialog
 */
.exportCSVDlg {
    .formatOptionsDiv {
        padding: 10px 10px 0px;
        font-size: 14px;
        font-weight: $semiBold;

    }
}

/*
 * Merge Dialog
 */
.mergeDlg {
    .mergeName {
        width: 100%;
    }
}

/*
 * Share With Dialog
 */
.shareDlg {
    .shareWithScroll {
        height: 200px;
        background-color: $whiteText;
        overflow-x: auto;

        .shareWithLst {
            min-height: 200px;
            background-color: $whiteText;

            .entry {
                height: 20px;
                padding-left: 10px;
                padding-right: 10px;

                .checkField {
                    height: 20px;

                    .checkbox {
                        height: 20px;
                        top: -4px;
                    }

                    .checkboxLabel {
                        height: 20px;
                        max-width: 260px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

/*
 * Delete List(s)
 */
.deleteDlg {
    .fieldLabel {
        color: $primary-gray-5;
    }

    .deleteLst {
        font-size: 13px;
        color: $blackText;
        line-height: 1.1em;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

.analysisWarningPopup {
    font-size: 13px;
    line-height: 1.1em;
    color: $primary-gray-6;

    .msg {}
}

// add call sheet to group dialog
.addToGrpSection {
    .addToGrpDiv, .createNewGrpDiv, .spacerSection {
        .radioBtnDiv {
            float: left;
            width: 20px;

            .icon {
                margin-top: 3px;
                cursor: pointer;

                &.disabled {
                    opacity: 0.5;
                    cursor: default;
                }
            }
        }

        .radioBodyDiv {
            float: left;
            width: calc(100% - 20px);

            .msg {
                font-size: 14px;
                // font-weight: $semiBold;

                &.disabled {
                    color: $primary-gray-5;
                }
            }

            .lstHeading {
                font-size: 12px;
            }

            .searchFor, .newGrpName {
                width: 100%;
                margin-bottom: 5px;
                outline: none;
            }

            .searchForDiv {
                width: 100%;
                margin-bottom: 5px;
            }

            .newGrpName:disabled {
                background-color: $primary-gray-4;
                color: $primary-gray-5;
            }

            .grpLst {
                width: 100%;
                height: 150px;
                border: 1px solid $primary-gray-4;
                background-color: $whiteText;
                overflow-x: hidden;
                overflow-y: auto;
                text-overflow: ellipsis;
                white-space: nowrap;

                .loadingDiv {
                    margin: 0;
                    margin-top: 35px;

                    .loading {
                        width: 70px;
                        height: 70px;
                        margin-left: -35px;
                    }
                }

                .lstMsgDiv {
                    width: 100%;
                    text-align: center;

                    .lstMsg {
                        margin-top: 60px;
                        font-size: 14px;
                        font-weight: bold;
                    }
                }

                .entry {
                    // height: 26px;
                    overflow: hidden;

                    &:nth-child(odd) {
                        background-color: $tan-bg-color;
                    }

                    &.selected {
                        background-color: $secondary-blue-2;
                    }

                    .text {
                        font-size: 14px;
                        //font-weight: $semiBold;
                        line-height: 1.1;
                        padding: 3px 5px;
                        //margin-left: 10px;
                        //margin-right: 10px;
                        //margin-top: 6px;
                    }

                    &.loadingMore {
                        height: 20px;

                        .loadingMore {
                            background: url(../../img/dot-dot-dot.gif);
                            width: 55px;
                            height: 9px;
                            margin-left: auto;
                            margin-right: auto;
                        }
                    }
                }
            }

            .grpLstOverlay {
                width: 100%;
                height: 150px;
                position: absolute;
                z-index: 100;
                background-color: $primary-gray-5;
                opacity: 0.4;
            }

        }
    }

    &:after {
        @include clearFloat;
    }
}
