// sass-lint:disable-all

@import "../stylesDefs.scss";

.manageContactMerge {
    .helpOverlay {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        width: 100%;
        height: 655px;
        background-color: $whiteBackground;
        padding-top: 15px;
        padding-left: 11px;

        .helpCloseBtn {
            position: absolute;
            top: 600px;
            left: 450px;
            z-index: 101;
            cursor: pointer;
            //font-size: 24px;
            height: 30px;
            border-radius: 15px;
            padding: 5px 20px;
            background-color: $primary-gray-3;

            .closeText {
                font-size: 20px;
                padding: 0;
                margin: 0;
                line-height: 20px;
                position: relative;
            }
        }

        .contactCleanupHelpImg {
            width: 1000px;
            height: 570px;
        }
    }

    // toggle at the top of popup
    .togglePages {
        margin-top: 5px;
        height: 25px;
        .editTab {
            width: calc(100% / 2 );
            float: left;
            cursor: pointer;
            background-color: #f1f2f5;
            border-top: 1px solid #e6e6e6;
            border-left: 1px solid #e6e6e6;
            border-right: 1px solid #e6e6e6;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            text-align: center;
            color: #b6b8ba;
            &.active {
                background-color: #8dc63f;
                cursor: default;
                color: #f7f7f7;
            }
        }
    }

    // button bar
    .buttonBar {
        height: 45px;

        // margin-bottom: 5px;
        width: calc(100%);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: linear-gradient(0deg, #dedede 0%, #d9d9d9 20.07%, #e8e8e8 100%);
        border: 1px solid $primary-gray-4;

        .leftSide {
            @include reset;
            float: left;

            .iconBtnDiv {
                border-right: 1px solid $whiteText;
            }
        }

        .rightSide {
            @include reset;
            background-color: transparent;
            float: right;

            .iconBtnDiv {
                border-left: 1px solid $whiteText;
            }
        }

        .iconBtnDiv {
            float: left;
            height: 43px;

            .btnDiv {
                cursor: pointer;
                padding-top: 5px;
                height: 45px;
                min-width: 65px;

                &.disabled {
                    cursor: default;
                    color: $secondary-gray-1;

                    .text {
                        color: $secondary-gray-1;
                    }

                    .icon {
                        color: $secondary-gray-1;
                    }

                    &:hover {
                        background: transparent;
                    }
                }

                &.selected {
                    border-color: $secondary-green-4;
                    background-color: $secondary-green-5;

                    .text {
                        color: $whiteText;
                    }

                    .icon {
                        color: $whiteText;
                    }
                }

                &:hover {
                    background: linear-gradient(0deg, rgba(196, 232, 254, 1) 0%, rgba(192,231, 254, 1) 20.07%, rgba(214,239,254, 1) 100%);
                }

                .text {
                    font-size: 10px;
                    line-height: 11px;
                    white-space: nowrap;
                    margin-left: 12px;
                    margin-right: 12px;
                    color: $iconText;
                    text-align: center;
                }

                .icon {
                    color: $iconColor;
                    text-align: center;
                    font-size: 18px;
                    line-height: 19px;
                    margin-top: 3px;
                }

                &:after {
                    @include clearFloat;
                }
            }
        }

        .contactSearch {
            margin-top: 11px;
            margin-right: 10px;
            width: 275px;
            float: right;
        }
    }

    .leftSide {
        float: left;
        width: 400px;
        margin-right: 10px;

        .noContactDiv {
            .msgText {
                width: 50%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 175px;
                font-size: 20px;
                font-weight: $semiBold;
                text-align: center;
            }
        }

        .lstDiv {
            .column {
                float: left;

                &.nameCol {
                    text-align: left;
                    width: 350px;
                }
            }

            .header {
                height: 25px;
                width: 100%;
                display: flex;

                .column {
                    font-size: 13px;
                    font-weight: $semiBold;
                    line-height: 13px;

                    display: inline-block;
                    align-self: flex-end;
                    margin-bottom: 2px;

                    &.nameCol {
                        padding-left: 5px;
                    }
                }

                &:after {
                    @include clearFloat;
                }
            }

            .contactLstDiv {
                height: 455px;
                overflow-y: scroll;
                border-top: 1px solid $grayBorder;
                margin-top: 5px;

                .contactLst {
                    width: calc(100% - 3px);
                    min-height: 455px;
                    background-color: $whiteBackground;

                    .noContactsFoundDiv {
                        margin-top: 75px;

                        .msg {
                            text-align: center;
                            font-size: 20px;
                            font-weight: $semiBold;
                        }
                    }

                    .entry {
                        height: 26px;
                        font-size: 13px;
                        line-height: 14px;
                        color: $primary-gray-6;
                        overflow: hidden;
                        // border-bottom: 1px solid #777777;

                        &:after {
                            @include clearFloat;
                        }


                        &.selected {
                            background-color: $secondary-blue-2 !important;
                        }

                        &.saving {
                            opacity: 0.5;
                        }

                        &.disabled {
                            opacity: 0.3 !important;
                        }

                        &.disabled:nth-child(odd) {
                            background-color: $tan-bg-color;
                            background-color: rgba(249, 249, 249, 0.3 );
                        }

                        &.disabled:nth-child(even) {
                            background-color: $whiteText;
                            background-color: rgba(255, 255, 255, 0.3);
                        }


                        &:nth-child(odd) {
                            background-color: $tan-bg-color;
                        }

                        &:nth-child(even) {
                            background-color: $whiteText;
                        }

                        &:first-child {
                            //border-top: 1px solid #777777;
                        }

                        .nameCol {
                            .nameContainer {
                                // width: calc(100% - 5px);
                                margin-left: 5px;
                                margin-top: 6px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                            }
                        }

                        &.loadingMore {
                            height: 20px;

                            .loadingMore {
                                background: url(../../img/dot-dot-dot.gif);
                                width: 55px;
                                height: 9px;
                                margin-left: auto;
                                margin-right: auto;
                                margin-top: 5px;
                            }
                        }
                    }
                }
            }
        }
    }

    .middle {
        width: 50px;
        height: 490px;
        float: left;

        .linkDiv {
            width: 30px;
            height: 30px;
            margin-left: auto;
            margin-right: auto;
            margin-top: calc((490px - 30px) / 2);

            .icon {
                font-size: 30px;
                line-height: 30px;
            }
        }
    }

    .rightSide {
        float: right;
        width: 570px;
        //border: 1px solid $separatorBorder;
        //border-radius: 4px;
        //padding: 10px;
        font-size: 13px;
        line-height: 1.1em;
        // margin-top: 17px;
        height: 460px;//490px;
        background-color: $whiteText;

        .header {
            height: 25px;
            width: 100%;
            display: flex;

            .column {
                font-size: 13px;
                font-weight: $semiBold;
                line-height: 13px;

                display: inline-block;
                align-self: flex-end;
                margin-bottom: 2px;

                &.nameCol {
                    padding-left: 10px;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

        .sectionHeader {
            font-size: 14px;
            font-weight: $semiBold;
            color: $primary-gray-6;
        }

        .scrollSection {
            height: 415px;
            margin-bottom: 10px;
            margin-top: 5px;
            overflow-y: auto;//scroll;

            .scrollContainer {
                // width: calc(100% - 3px);
                // min-height: 415px;
                background-color: $whiteBackground;
                padding: 0 10px;


                .contactDiv {
                    border: 1px solid $grayBorder;
                    border-radius: 5px;
                    background-color: $primary-gray-2;
                    padding: 10px;
                    margin-bottom: 10px;

                    .btnDiv {
                        height: 24px;

                        .leftSide {
                            width: calc(100% - 60px);
                            height: 24px;
                            margin-bottom: 5px;
                            float: left;

                            .addBtn {
                                margin-right: 10px;
                                display: inline-block;
                                vertical-align: middle;
                                position: relative;
                                z-index: 3;
                                width: 22px;
                                height:22px;
                                margin-bottom: 3px;
                                cursor: pointer;

                                .icon {
                                    font-size: 22px;
                                    line-height: 22px;
                                    position: absolute;

                                    &.frontIcon {
                                        z-index: 2;
                                    }

                                    &.backIcon {
                                        z-index: 1;
                                    }
                                }
                            }

                            .nameText {
                                display: inline-block;
                                font-size: 20px;
                                font-weight: $bold;
                                width: calc(100% - 40px);
                                line-height: 23px;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                vertical-align: middle;
                            }

                            .btn {
                                border: 1px solid $grayBorder;
                                border-radius: 4px;
                                padding: 3px 6px;
                                font-size: 13px;
                                font-weight: $normal;
                                line-height: 1.1;
                                background-color: $grayBtnBackground;
                                text-align: center;
                                display: inline-block;
                                margin-bottom: 0;
                                white-space: nowrap;
                                vertical-align: middle;
                                cursor: pointer;

                                &.selected {
                                    background-color: $primary-green-1;
                                    border-color: $greenBtnBorder;

                                }

                                .btnText {}
                            }

                            &:after {
                                @include clearFloat;
                            }
                        }

                        .rightSide {
                            width: 50px;
                            height: 24px;
                            margin: 0;
                            padding: 0;
                            float: right;
                            border: none;
                            border-radius: 0;
                            text-align: right;
                            position: relative;
                            background-color: transparent;

                            .rollUpDownBtn {
                                width: 23px;
                                position: absolute;
                                right: 0;
                                cursor: pointer;

                                .icon {
                                    font-size: 18px;
                                    width: 20px;
                                    line-height: 18px;
                                    margin-top: 3px;
                                }
                            }

                            &:after {
                                @include clearFloat;

                            }
                        }

                        &:after {
                            @include clearFloat;

                        }

                    }

                    .detailsDiv {
                        clear: both;

                        .detailsGrp {
                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }

                            .line {
                                font-weight: $bold;

                                &.labelLine {
                                    &:after {
                                        @include clearFloat;
                                    }
                                }

                                &.dataLine {
                                    font-weight: $normal;

                                    &:not(:last-child) {
                                        margin-bottom: 5px;
                                    }

                                    &:after {
                                        @include clearFloat;
                                    }
                                }

                                .tooltipDiv {
                                    display: inline-block;
                                }

                                .imgDiv {
                                    //display: inline-block;

                                    float: left;

                                    .linkedInGlyph {
                                        background: url(../../img/connect-icons.png) no-repeat 0 -65px;
                                        width: 65px;
                                        height: 65px;
                                        position: relative;
                                        zoom: 30%;
                                        -moz-transform-origin: left top;
                                        -moz-transform: scale(.45, .45);  /* Firefox */
                                    }

                                    .outlookGlyph {
                                        background: url(../../img/connect-icons.png) no-repeat 0 -132px;
                                        width: 65px;
                                        height: 62px;
                                        position: relative;
                                        zoom: 30%;
                                        -moz-transform-origin: left top;
                                        -moz-transform: scale(.45, .45);  /* Firefox */
                                    }

                                    .gmailGlyph {
                                        background: url(../../img/connect-icons.png) no-repeat 0 0;
                                        width: 65px;
                                        height: 47px;
                                        position: relative;
                                        top: 10px;
                                        zoom: 30%;
                                        -moz-transform-origin: left top;
                                        -moz-transform: scale(.45, .45);  /* Firefox */
                                    }

                                    .csvGlyph {
                                        background: url(../../img/connect-icons.png) no-repeat -7px -198px;
                                        width: 52px;
                                        height: 65px;
                                        zoom: 30%;
                                        position: relative;
                                        -moz-transform-origin: left top;
                                        -moz-transform: scale(0.45, 0.45);  /* Firefox */
                                    }

                                    .mobileGlyph {
                                        background: url(../../img/connect-icons.png) no-repeat -7px -478px;
                                        width: 52px;
                                        height: 65px;
                                        zoom: 30%;
                                        position: relative;
                                        -moz-transform-origin: left top;
                                        -moz-transform: scale(0.45, 0.45);  /* Firefox */
                                    }

                                    .appleGlyph {
                                        background: url(../../img/connect-icons.png) no-repeat 0 -265px;
                                        width: 65px;
                                        height: 80px;
                                        position: relative;
                                        zoom: 23%;
                                        -moz-transform-origin: left top;
                                        -moz-transform: scale(.40, .40);  /* Firefox */
                                    }

                                    .iPhoneGlyph {
                                        background: url(../../img/connect-icons.png) no-repeat -7px -478px;
                                        width: 52px;
                                        height: 65px;
                                        position: relative;
                                        zoom: 30%;
                                        -moz-transform-origin: left top;
                                        x-moz-transform: scale(.80, .80);  /* Firefox */
                                    }

                                    .unknownGlyph {
                                        background: url(../../img/connect-icons.png) no-repeat 0 -347px;
                                        width: 65px;
                                        height: 65px;
                                        position: relative;
                                        zoom: 30%;
                                        -moz-transform-origin: left top;
                                        -moz-transform: scale(.45, .45);  /* Firefox */
                                    }
                                }

                                .col {
                                    float: left;

                                    &.firstName {
                                        width: calc(30% - 10px);
                                        margin-right: 10px;
                                        overflow: hidden;;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }

                                    &.middleName {
                                        width: calc(25% - 10px);
                                        margin-right: 10px;
                                        overflow: hidden;;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                        overflow: hidden;;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }

                                    &.lastName {
                                        width: 45%
                                    }

                                    &.imgText {
                                        margin-left: 5px;
                                        margin-top: 4px;
                                        width: calc(100% - 60px);
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        white-space: nowrap;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .section {
            margin-bottom: 5px;

            .subSection {
                //-bottom: 5px !important;

                &:nth-last-child(2) {
                    margin-bottom: 5px !important;
                }

                &.grayBackground {
                    background-color: #f4f5f5;
                    padding: 5px 10px 10px;;
                    margin-bottom: 10px;
                    border-radius: 4px;
                }
            }

            .line {
                @include reset;

                width: 100%;

                .leftSide {
                    @include reset;

                    float: left;
                    width: calc(50% - 5px);
                    margin-right: 5px;
                }

                .rightSide {
                    @include reset;

                    float: right;
                    width: calc(50% - 5px);
                    height: auto !important;
                    margin-left: 5px;
                }

                .left {
                    float: left;
                }

                .right {
                    float: right;
                }

                .header {
                    font-size: 13px;
                    font-weight: $semiBold;
                    color: $secondary-gray-2;
                }
            }
        }

        .bottomButtons {
            background-color: $whiteBackground;
            padding-bottom: 10px;
            height: 30px;

            .toTheLeft {
                float: left;

                .text {
                    font-size: 12px;
                    color: $primary-gray-5;
                    position: relative;
                    top: 2px;
                }
            }

            .toTheRight {
                float: right;
                margin-right: 20px;

                .cleanupCancelBtn {
                    font-size: 13px;
                    line-height: 14px;
                    font-weight: 600;
                    float: left;
                    color: $blueText;
                    cursor: pointer;
                    display: inline-block;
                    margin-right: 10px;
                    position: relative;
                    top: 4px;

                    &:hover {
                        text-decoration: underline;;
                    }

                    &[disabled] {
                        opacity: 0.3;
                        cursor: default;

                        &:hover {
                            text-decoration: none;
                        }
                    }
                }

                .contactSaveBtn {
                    display: inline-block;
                    margin-right: 10px;
                    //padding: 5px 15px;

                    //&[disabled] {
                    //    opacity: 0.3;
                    //}
                }

                .editSaveAndReleaseBtn {
                    display: inline-block;
                }
            }

            &:after {
                @include clearFloat;
            }
        }

    }
}

//
// Contact Details
//
.buildContactDataDiv {
    font-size: 13px;
    line-height: 1.1;
    margin-top: 10px;

    .heading {
        font-size: 16px;
        font-weight: $bold;
        height: 20px;

        .left {
            float: left;
            width: calc(100% * .75);
        }

        .right {
            float: right;
            width: 20px;
            text-align: right;

            .icon {
                cursor: pointer;
            }
        }

        &:after {
            @include clearFloat;
        }
    }

    .subHeading {
        font-weight: $semiBold;
        margin-top: 3px;
    }

    .callLogSectionDiv {

        .callLogDiv {
            width: 100%;
            height: 140px;
            border: 1px solid $primary-gray-4;
            //padding: 5px;
            overflow-y: scroll;
            margin-top: 2px;

            .callLogLst {
                min-height: calc(100% + 1px);

                .logEntry {
                    width: 100%;
                    height: 48px;
                    font-size: 14px;
                    font-weight: $semiBold;
                    padding: 5px;

                    .infoLine {
                        width: 100%;
                        height: 18px;
                        margin-top: 3px;

                        .logTypeIcon {
                            display: inline-block;
                            margin-right: 5px;
                            font-size: 16px;
                            vertical-align: middle;
                            height: 18px;
                        }

                        .textLabel {
                            display: inline-block;
                            margin-right: 5px;
                            vertical-align: middle;
                            height: 18px;
                        }

                        .callResult {
                            display: inline-block;
                            margin-right: 5px;
                            vertical-align: middle;
                            height: 18px;
                        }
                    }

                    .dataLine {
                        width: 100%;
                        height: 16px;
                        display: inline-block;
                        margin-right: 5px;
                        vertical-align: middle;
                        color: $lightTextColor;
                    }

                    &:nth-child(odd) {
                        background-color: $grayBackgroundColor; //$tan-bg-color;
                    }

                    &:nth-child(even) {
                        background-color: $whiteText;
                    }
                }
            }
        }
    }

    .notesSectionDiv {
        margin-top: 10px;

        .notesDiv {
            .notes  {
                width: 100%;
                height: 114px;
                border: 1px solid $primary-gray-4;
                padding: 5px;
                overflow-y: scroll;
                min-height: calc(100% + 1px);
                background-color: $whiteText;
            }
        }
    }
}


.scrollSection::-webkit-scrollbar {
    -webkit-appearance: none;
}

.scrollSection::-webkit-scrollbar:vertical {
    width: 11px;
}

.scrollSection::-webkit-scrollbar:horizontal {
    height: 11px;
}

.scrollSection::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.scrollSection::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}

.callLogDiv::-webkit-scrollbar, .contactLstDiv::-webkit-scrollbar {
    -webkit-appearance: none;
}

.callLogDiv::-webkit-scrollbar:vertical, .contactLstDiv::-webkit-scrollbar:vertical {
    width: 11px;
}

.callLogDiv::-webkit-scrollbar:horizontal, .contactLstDiv::-webkit-scrollbar:horizontal {
    height: 11px;
}

.callLogDiv::-webkit-scrollbar-thumb, .contactLstDiv::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(0, 0, 0, .5);
}

.callLogDiv::-webkit-scrollbar-track, .contactLstDivt::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 8px;
}
