@import "../stylesDefs.scss";

.newFiltersSection {
  font-size: 14px;
  padding: 5px;
  margin-top: 3px;
  background-color: $secondary-green-2;
  line-height: 1em;
  min-height: 30px;

  .icon {
    &.icon-filter {
      color: $lightTextColor;
      position: relative;
      top: 4px;
      float: left;
    }
  }

  .newFiltersDiv {
    margin-left: 5px;
    float: left;
    width: calc(100% - 21px); // 16 icon, 5 icon margin right
    border: 1px solid $lightGrayBorder;
    border-radius: 10px;
    background: $whiteText;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;

    &.disabled {
      background: #ccc;
    }

    .newFilterCntl {
      float: left;
      font-size: 13px;
      line-height: 1em;

      &:first-child {
        margin-left: 5px;
      }
    }

    .addFilterDiv {
      margin-right: 5px;

      .text {
        color: $lightTextColor;
        position: relative;
        top: 3px;

        &:before {
          content: 'Add Filter';
        }
      }
    }

    .addFilterBtn {
      font-size: 17px;
      position: relative;
      top: 2px;
      color: $grayBtnBackground;
      cursor: pointer;

      &.disabled {
        color: #aaa;
      }
    }

    .filterDiv {
      cursor: pointer;
      border-radius: 8px;
      background: #d8d8d8;
      background: -moz-linear-gradient(50% 100% 90deg,rgba(199, 199, 199, 1) 0%,rgba(219, 219, 219, 1) 100%);
      background: -ms-linear-gradient(90deg, rgba(199, 199, 199, 1) 0%, rgba(219, 219, 219, 1) 100%);
      background: linear-gradient(0deg, rgba(199, 199, 199, 1) 0%, rgba(219, 219, 219, 1) 100%);
      height: 19px;
      padding: 2px 4px;
      font-size: 11px;
      line-height: 1.1em;
      position: relative;
      margin-right: 5px;
      margin-top: 1px;
      margin-bottom: 1px;

      &.set {
        background: -moz-linear-gradient(50% 100% 90deg,rgba(139, 191, 84, 1) 0%,rgba(127, 179, 70, 1) 25.27%,rgba(141, 207, 68, 1) 99.46%);
        background: -ms-linear-gradient(90deg, rgba(139, 191, 84, 1) 0%, rgba(127, 179, 70, 1) 25.27%, rgba(141, 207, 68, 1) 99.46%);
        background: linear-gradient(0deg, rgba(139, 191, 84, 1) 0%, rgba(127, 179, 70, 1) 25.27%, rgba(141, 207, 68, 1) 99.46%);

        .text {
          color: $whiteText;
        }

        .deleteFilter {
          color: $whiteText;
        }
      }

      .text {
        float: left;
        margin-right: 3px;
        margin-left: 3px;
        position: relative;
        top: 1px;
        color: #82868f;
      }

      .deleteFilter {
        position: relative;
        top: 2px;
        margin-right: 3px;
        font-size: 10px;
        float: left;
        color: #a9aeb0;
        cursor: pointer;
      }

      &::after {
        @include clearFloat;
      }
    }
  }

  &::after {
    @include clearFloat;
  }
}

// popup dialog
.newIndependentFilterPopup {
  width: 200px;
}

.newGroupFilterPopup {
  max-height: 350px;
  max-width: 450px;
  min-width: 250px;
  font-size: 13px;
  line-height: 15px;
  color: $primary-gray-6;

  .returnLnk {
    font-size: 12px;
    font-weight: $semiBold;
    color: $secondary-blue-3;
  }

  .title {
    font-size: 11px;
    font-weight: $bold;
    color: $primary-gray-6;
  }

  .filterGroupContent {
    min-height: calc(100% - 45px);

    .choiceDiv {
      margin: 10px 15px;
      background-color: transparent;

      .choiceEntry {
        width: calc((100% / 3) - 1px);
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 1px;
        margin-bottom: 1px;
        text-align: center;
        border: 1px solid #ddd;
        border-radius: 3px;
        background-color: #f0f0f0;
        float: left;
        font-size: 11px;
        cursor: pointer;
        color: $primary-gray-6;
        white-space: nowrap;

        &.selected {
          background-color: $pageTitleColor;
          color: $whiteText;
        }

        &.disabled {
          color: $primary-gray-4;
          cursor: default;
        }
      }

      &::after {
        @include clearFloat;
      }

      &.cols2 {
        margin: 10px 30px;
        width: calc(100% - 60px);

        .choiceEntry {
          width: calc((100% / 2) - 1px);
        }
      }
    }

    .descDiv {
      margin-bottom: 5px;
      font-size: 11px;
      color: $titleText;
      width: 350px;
    }

    .radioEntry {
      .icon {
        display: inline-block;
        position: relative;
        z-index: 2;
      }

      .radioBackground {
        position: relative;
        left: -13px;
        z-index: 1;
        color: $whiteText;
      }

      .radioLabel {
        display: inline-block;
        margin-left: 3px;
        position: relative;
        top: -2px;
        left: -14px;
      }
    }

    .importTypeDiv {
      .importTypeEntry {
        float: left;
        width: calc(100% / 6);
        cursor: pointer;

        .importIconDiv {
          width: 60px;
          height: 60px;
          margin-left: auto;
          margin-right: auto;
          border: 3px solid transparent;
          border-radius: 30px;

          &:hover {
            border-color: $secondary-gray-6;
          }

          &.selected {
            border-color: $primary-green-1;
          }

          .importTypeIcon {
            width: 60px;
            height: 60px;
            position: relative;
            top: -3px;
            left: -3px;
          }
        }

        .importTypeLabel {
          text-align: center;
        }

        &.disabled {
          cursor: default;

          .importIconDiv {
            border: none;
          }
        }
      }

      &::after {
        @include clearFloat;
      }
    }

    input {
      width: 100%;
      outline: 0;
      margin-bottom: 5px;
      border: 1px solid #e2e2e2;
      padding: 3px 2px;

      &:focus {
        border-color: $primary-gray-4;
      }

      &.inputFormatError {
        color: $redText;
        border-color: $redText;
        border-style: solid;
      }
    }

    .btnDiv {
      width: calc(100% - 20px);
      position: absolute;
      bottom: 10px;

      .rightSide {
        float: right;

        .cancelBtn {
          font-weight: 600;
          float: left;
          color: $blueText;
          margin-top: 7px;
          cursor: pointer;
          position: relative;
          top: 2px;

          &:hover {
            text-decoration: underline;
          }
        }

        .okBtn {
          float: left;
          margin-left: 15px;
          padding: 5px 20px;
          outline: 0;
        }
      }

      &::after {
        @include clearFloat;
      }
    }
  }
}

.newFilterPopup,
.newGroupFilterPopup,
.newIndependentFilterPopup {
  &.revupPopup {
    background-color: #e5e5e6 !important;
    border-color: $primary-gray-4;
    min-width: 350px;

    &.top > .arrow {
      border-bottom-color: $primary-gray-4;
    }

    &.top > .arrow::after {
      border-bottom-color: #e5e5e6 !important;
    }
  }

  .filterPopupContent {
    font-size: 13px;
    color: $primary-gray-6;

    .returnLnk {
      &:hover {
        text-decoration: underline;
      }
    }

    .title {
      font-weight: $semiBold;
    }

    .scrollDiv {
      height: 20px;
      cursor: pointer;
      color: $primary-gray-6;

      &.disabled {
        cursor: default;
        color: $disabledText;
      }

      .icon {
        text-align: center;
        position: relative;
        top: 3px;
      }
    }

    .scrollContentOuter {
      max-height: 265px;
      overflow: hidden;

      .scrollContentInner {
        position: relative;
        top: 0;
      }
    }

    .sectionTitle {
      font-weight: $bold;
    }

    .filterLst,
    .quickFilterLst {
      font-size: 12.1px;

      .entry {
        cursor: pointer;
        height: 100%;
        font-size: 12px;
        font-weight: $normal;
        line-height: 1.1;

        &.disabled {
          color: $disabledText;
          cursor: default;
        }

        &.over {
          background-color: $pageTitleColor;
          color: $whiteText;
        }

        &.pageLabel {
          color: $whiteText !important;
          margin-bottom: 0;
        }

        .text {
          padding: 3px 10px;

          &.group {
            font-weight: $semiBold;
          }
        }
      }
    }

    .sectionSeperator {
      margin-top: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid $lightTextColor;
      width: 100%;
    }

    .totalDiv {
      font-size: 11px;
      line-height: 12px;
      color: $lightTextColor;

      .totalLabel {
        float: left;
        margin-right: 2px;

        &:first-child {
          margin-left: 10px;
        }

        &:not(:first-child) {
          margin-left: 15px;
        }
      }

      .totalAmt {
        float: left;
      }

      &::after {
        @include clearFloat;
      }
    }

    .desc {
      line-height: 1.1em;
      font-size: 13px;
      color: $lightTextColor;
      margin-bottom: 5px;
    }

    .dateInput {
      width: calc(100% - 21px);
      border: 1px solid #ededed;
      font-size: 13px;
      padding: 3px 4px;
      outline: 0 none;

      &.inputFormatError {
        color: $redText;
        border-color: $redText;
        border-style: solid;
      }
    }

    .dateInputIcon {
      width: 21px;
      height: 20px;
      display: inline-block;
      cursor: pointer;
      position: relative;
      top: 3px;

      .icon {
        font-size: 16px;
        position: relative;
        top: 1px;
        left: 4px;
        height: 17px;
        width: 16px;
      }
    }

    .radioEntry {
      .icon {
        display: inline-block;
        position: relative;
        z-index: 2;
      }

      .radioBackground {
        position: relative;
        left: -13px;
        z-index: 1;
        color: $whiteText;
      }

      .radioLabel {
        display: inline-block;
        margin-left: 3px;
        position: relative;
        top: -2px;
        left: -14px;
      }
    }

    input {
      width: 100%;
      outline: 0;
      margin-bottom: 5px;

      &.inputFormatError {
        color: $redText;
        border-color: $redText;
        border-style: solid;
      }
    }
  }

  .btnDiv {
    .rightSide {
      float: right;
      padding: 10px;

      .cancelBtn {
        font-weight: 600;
        float: left;
        color: $blueText;
        margin-top: 7px;
        cursor: pointer;
        position: relative;
        top: 2px;

        &:hover {
          text-decoration: underline;
        }
      }

      .okBtn {
        float: left;
        margin-left: 15px;
        padding: 5px 20px;
        outline: 0;
      }
    }

    &::after {
      @include clearFloat;
    }
  }
}
