// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 *
 * Payments
 *
 */
.payment {
    background-color: $primary-green-1 !important;
    position: absolute;
    z-index: 1000;
    left: 10px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .header {
        margin-top: 30px;
        text-align: center;

        .revupLogo {
            width: 175px;
        }
    }

    .backgroundImgDiv {
        margin-top: 20px;
        text-align: center;
    }

    .msgDiv {
        width: 525px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
        font-size: 24px;
        font-weight: $semiBold;
        color: #fff;
        text-align: center;
    }

    .btnDiv {
        margin-top: 20px;
        text-align: center;

        .continueBtn {
            width: 150px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 22px;
            font-size: 19px;
            font-weight: $semiBold;
        }
    }
}

label {
    display: block;
    margin-bottom: 1px
}

.paymentContainerDiv {
    margin-left: auto;
    margin-right: auto;
    float: none;

    .has-error {
        label {
            color: $redText;
        }

        input[type=text] {
            border-color: $redText;
            box-shadow: insert 0 1px 1px rgba(0, 0, 0, .075);
            outline-color: $redText;
            outline-offset: -2px;
            border-style: solid;
        }
    }

    .ccnDiv {
        display: inline-block;
        width: calc(100% - 240px);
        margin-right: 5px;
    }

    .expirationDiv {
        width: 170px;
        display: inline-block;

        label {
            margin-bottom: 5px;
            display: block;
        }
    }

    .cvvDiv {
        width: 50px;
        display: inline-block;
        margin-left: 5px;
    }

    .firstNameDiv {
        display: inline-block;
        width: calc(50% - 4px);
        margin-right: 5px;
    }

    .lastNameDiv {
        display: inline-block;
        width: calc(50% - 4px);
    }

    .cityDiv {
        display: inline-block;
        width: calc(100% - 146px);
        margin-right: 5px;
    }

    .stateDiv {
        display: inline-block;
        width: 60px;
        margin-right: 5px;

        label {
            margin-bottom: 5px;
        }
    }

    .zipDiv {
        display: inline-block;
        width: 70px;
    }

    .paymentBtn {
        height: 34px;
        width: 104px;
        margin-top: 10px;
    }

    .selectLst {
        display: inline-block;

        a.btn {
            padding: 2px 4px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: $whiteText;
            text-align: left;

            .caret {
                xfloat: right;
                xmargin-top: 8px;
                margin-left: 5px;
            }

        }

        &.year {
            .selectLst {
                width: 50px;
            }

            ul {
                min-width: 75px;
                width: 75px;
                max-height: 250px;
                overflow-y: auto;
            }

            ul > li {
                width: 55px;
            }

            ul > li > a {
                padding: 3px 9px;
                width: calc(100% - 2px);
            }
        }

        &.month {
            .selectLst {
                width: 115px;
            }

            ul {
                min-width: 140px;
                width: 140px;
                max-height: 250px;
                overflow-y: auto;
            }

            ul > li {
                width: 120px;
            }

            ul > li > a {
                padding: 3px 9px;
                width: calc(100% - 2px);
            }
        }

        &.state {
            .selectLst {
                width: 60px;
            }

            ul {
                width: 210px;
                max-height: 250px;
                overflow-y: auto;
                overflow-x: hidden !important;
            }

            ul > li {
                width: 120px;
            }

            ul > li > a {
                padding: 3px 9px;
                width: calc(100% - 2px);
            }
        }
    }
}
