// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 *
 * Event/Tracking Details / Contact CSS
 *
 */

/*
.eventDetail {
    .pageHeader {
        line-height: 1.2;

        .section {
            .dataText {
                margin-top: 2px;
            }

            &.candidateDiv {
                .data {
                    .dataText {
                        font-size: 18px;
                        margin-top: 0;
                    }
                }
            }
        }
    }

    .infoHeader {
        font-size: 11px;
        line-height: 1.1em;
        color: $lightTextColor;
    }

    .eventDataSection {
        margin-top: 15px;

        .column {
            float: left;
            margin: 0 10px;
            white-space: nowrap;
        }

        // icon
        .col1 {
            width: 20px;
            //height: 1px;    // empty column
            text-align: center;
        }

        // name
        .col2 {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        // attend
        .col3 {
            width: 70px;
            text-align: right;
        }

        // soft
        .col4 {
            width: 100px;
            text-align: right;
        }

        // hard
        .col5 {
            width: 100px;
            text-align: right;
        }

        // in
        .col6 {
            width: 90px;
            text-align: right;
        }

        // notes
        .col7 {

        }

        // invited by
        .col8 {
            width: 65px;
            text-align: center;

        }

        .eventHeaderDiv {
            border-bottom: 2px solid $primary-gray-4;

            .column {
                margin-left: 5px;
                margin-right: 5px;

                .columnHeader {
                    text-transform: capitalize;
                    font-size: 14px;
                    color: $primary-gray-6;
                    font-weight: bold;
                    vertical-align: bottom;
                }

                &.col1 {
                    height: 10px;
                }
            }

            &:after {
                content: '.';
                display: block;
                clear: both;
                visibility: hidden;
                line-height: 0;
                height: 0;
            }
        }

        .eventDataDiv {
            .eventData {
                &:not(:nth-last-child(-n+2)) {
                    border-bottom: 1px solid $primary-gray-4;
                    //height: 20px;
                }

                .column {
                    margin: 8px 5px;

                    input[type=text] {
                        text-align: right;
                        background-color: #fff !important;
                        border-radius: 2px;
                        border: 1px solid $grayBorder;
                        color: $lightTextColor;

                        &:-webkit-autofill {
                            -webkit-box-shadow:0 0 0 50px white inset;
                            -webkit-text-fill-color: #999;
                        }

                        &:focus {
                            outline: none;
                            outline-offset: none;
                        }

                        &.inputError {
                            border-color: $redText;
                            border-style: solid;
                            outline-color: $redText !important;
                            color: $redText;
                        }
                    }

                    &.colLabel {
                        color: $primary-gray-6 !important;
                        font-weight: $semiBold !important;
                    }

                    &.col1 {
                        width: 20px;
                        //height: 20px;
                        margin-top: 12px;

                        .uninviteBtn {
                            width: 20px;
                            height: 20px;
                            cursor: pointer;
                            position: relative;
                            font-size: 20px;
                            margin-top: -2px;

                            .icon {
                                position: absolute;

                                &.icon-user-half {
                                    color: $lightTextColor;
                                    top: 1px;
                                }

                                &.icon-remove-user {
                                    color: $redText;
                                    left: 8px;
                                    top: 6px;
                                }
                            }
                        }
                    }

                    &.col2 {
                        color: $blueText;
                        padding-top: 2px;
                    }

                    &.col3 input {
                        width: 60px;
                    }

                    &.col4 input {
                        width: 100px;
                    }

                    &.col5 input {
                        width: 100px;
                    }

                    &.col6 {
                        padding-top: 2px;
                    }

                    &.col7 input {
                        text-align: left;
                        width: 100%;
                    }

                    &.col8 {
                        padding-top: 2px;
                    }
                }

                &:after {
                    content: '.';
                    display: block;
                    clear: both;
                    visibility: hidden;
                    line-height: 0;
                    height: 0;
                }

                &.goalData {
                    border-top: 2px solid $primary-gray-4;
                    border-bottom: 2px solid $primary-gray-4;

                    .col2, .col6 {
                        color: $pageTitleColor !important;
                    }
                }
            }
        }
    }

    .submitBtnDiv {
        text-align: right;
        margin-top: 15px;
    }
}
*/

/*
 *
 * Button Bar
 *
 */
.buttonBar {
    height: 45px;

    // margin-bottom: 5px;
    width: calc(100%);
    // border-top-left-radius: 4px;
    // border-top-right-radius: 4px;
    background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(217, 217, 217, 1) 20.07%, rgba(232, 232, 232, 1) 100%);
    border: 1px solid $primary-gray-4;

    .leftSide {
        float: left;

        .iconBtnDiv {
            border-right: 1px solid $whiteText;
        }
    }

    .rightSide {
        float: right;

        .iconBtnDiv {
            border-left: 1px solid $whiteText;
        }
    }

    .iconBtnDiv {
        float: left;
        height: 43px;

        .btnDiv {
            cursor: pointer;
            padding-top: 5px;
            height: 45px;
            min-width: 65px;

            &.disabled {
                cursor: default;
                color: $secondary-gray-1;

                .text {
                    color: $secondary-gray-1;
                }

                .icon {
                    color: $secondary-gray-1;
                }

                &:hover {
                    background: transparent;
                }
            }

            &:hover {
                background: linear-gradient(0deg, rgba(196, 232, 254, 1) 0%, rgba(192,231, 254, 1) 20.07%, rgba(214,239,254, 1) 100%);
            }

            .text {
                font-size: 10px;
                line-height: 11px;
                white-space: nowrap;
                margin-left: 12px;
                margin-right: 12px;
                color: $iconText;
                text-align: center;
            }

            .icon {
                color: $iconColor;
                text-align: center;
                font-size: 18px;
                line-height: 19px;
                margin-top: 3px;
            }

            &.hamburgerBtn {
                .icon {
                    margin-left: 12px;
                    margin-right: 12px;

                    position: relative;
                    top: 4px;
                }
            }

            &:after {
                @include clearFloat;
            }
        }
    }
}

.prospectsMenu {
    color: $whiteText;
    font-size: 13px;
    line-height: 1.1em;
    background-color: #66686b !important;
    padding: 0 !important;

    &.revupPopup.top > .arrow:after {
        border-bottom-color: #66686b !important;
    }

    .entry {
        height: 25px;
        padding: 3px 5px 0px 5px;
        cursor: pointer;

        &:not(:last-of-type) {
            border-bottom: 1px solid $primary-gray-5;
        }

        &:last-of-type {
            padding-bottom: 0;
        }

        &.disabled {
            color: $primary-gray-5 !important;
            pointer-events: none;
            cursor: default;
            padding: 3px 5px 0px 5px;

            &:hover {
                background-color: transparent
            }
        }

        .text {
            float: left;
        }

        .icon {
            float: right;
            margin-left: 10px;
            color: $primary-gray-4;
            font-size: 14px;
        }

        &:after {
            @include clearFloat;
        }

        &:hover {
            // background-color: #84888c;
        }
    }
}

/*
 *
 * New Prospects page
 *
 */
.newProspectsDiv {
    .prospectsLstDiv {
        .column {
            float: left;
            margin-left: 10px;
            margin-right: 10px;
            white-space: nowrap;
            min-height: 2px;

            .columnHeader {
                position: relative;
                top: 7px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .slider {
            float: left;
            width: 5px;
            height: 100%;
            background-color: transparent;
            cursor: col-resize;

            &.blank {
                background-color: transparent;
                cursor: default;
            }

            .sOuter {
                background-color: transparent;
                width: 1px;
                height: 100%;
                float: left;
            }

            .sInner {
                background-color: transparent; // $separatorBorder;
                width: 1px;
                height: 100%;
                float: left;
            }

            .sCenter {
                background-color: $primary-gray-3;
                width: 1px;
                height: 100%;
                float: left;
            }

            &:after {
                @include clearFloat;
            }
        }

        .headerDiv {
            height: 28px;
            border-top: 1px solid $grayBorder;
            border-bottom: 1px solid $grayBorder;
            font-size: 12px;
            font-weight: $bold;
            line-height: 1.1em;
            overflow: hidden;

            &:after {
                @include clearFloat;
            }
        }

        .lstDiv {
            .entry, .entryFooter {
                height: 30px;
                font-size: 14px;
                line-height: 15px;
                // color: $textColor;
                color: #a7a9ac;//listManager's delete icon color. But will change soon.
                border-bottom: 1px solid $prospectEntryBottomBorderColor;
                overflow: hidden;;
                background-color: white;
                &:nth-child(odd) {
                    background-color: $tan-bg-color;
                }

                &:after {
                    @include clearFloat;
                }

                .column {
                    &.colName, &.colInvitedBy {
                        position: relative;
                        top: 8px;

                        .nameBtn {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            white-space: nowrap;
                            color: $blueText;
                            cursor: pointer;
                            display: inline-block;

                            &.disabled {
                                cursor: default;
                                opacity: 0.5;
                                color: $blackText;

                                &:hover {
                                    text-decoration: none;
                                }
                            }

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    input {
                        position: relative;
                        top: 3px;
                        outline: 0;
                        text-align: right;
                        background-color: #fff !important;
                        border-radius: 2px;
                        border: 1px solid #d4d5d6; //$grayBorder;
                        color: $lightTextColor;
                        width: 100%;
                        padding: 3px 2px;

                        &:focus {
                            border-color: #58595b;
                        }

                        &.inputError, &.inputFormatError {
                            color: $redText;
                            border-color: $redText;
                            border-style: solid;
                        }
                    }

                    .icon {
                        position: relative;
                        top: 6px;
                        font-size: 16px;
                        cursor: pointer;
                        display: inline-block;

                        &.disabled {
                            cursor: default;
                            opacity: 0.4;
                        }
                    }
                }
            }

            .entryFooter {
                height: 29px;
                font-size: 14px;
                line-height: 15px;
                //color: $primary-gray-6;
                border-bottom: 1px solid $prospectEntryBottomBorderColor;
                overflow: hidden;
                //background-color: $whiteText;
                .column {
                    position: relative;
                    top: 7px;

                    &.colName {
                        font-weight: $bold;
                    }
                }
            }
            .regularTotal{
                margin-top: 10px;
                border-top: 1px solid #cccccc;
            }
        }
    }

    .loadingError {
        .msg {
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            font-size: 20px;
            font-weight: $bold;
            text-align: center;
            line-height: 50px;
        }
    }
}

.prospectEmailPopup {
    &.revupPopup {
        background-color: #e5e5e6 !important;
        border-color: $primary-gray-4;

        &.top>.arrow {
            border-bottom-color: $primary-gray-4;
        }
        &.top>.arrow:after {
            border-bottom-color: #e5e5e6 !important;
        }
    }

    .content {
        font-size: 12px;
        line-height: 13px;
        width: 150px;

        .title {
            font-weight: $bold;
            margin-bottom: 5px;
        }

        .lst {
            .loadingMsg {
                font-weight: $bold;
            }

            .msg {
                text-align: center;
                font-weight: $bold;
            }

            .entry {
                height: 20px;
                padding-left: 5px;
                padding-right: 5px;

                &.selected {
                    background-color: $pageTitleColor;

                    .addr {
                        color: $whiteText;
                    }
                }

                a {
                    position: relative;
                    top: 2px;

                    .addr {
                        width: 140px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                    }
                }
            }
        }


    }
}
/*
 *
 * CSV Download Dialog
 *
 */
.prospectsCsvDownloadDiv {
    font-size: 14px;
    line-height: 16px;
    color: $primary-gray-6;

    .textMsg {
        font-weight: $normal;
        color: $lightTextColor;
    }

    .header {
        font-weight: $semiBold;
    }

    .entry {
        padding: 0 10px;

        &.disabled {
            .label {
                color: $disabledText;
            }
        }

        // check box styling based on this articial
        //    http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
        // hide the checkbox
        input[type=checkbox]:not(old) {
            width     : 2em;
            margin    : 0;
            padding   : 0;
            font-size : 1em;
            opacity   : 0;
        }

        // position the label
        input[type=checkbox]:not(old) + label {
            display      : inline-block;
            margin-left  : -2em;
            line-height  : 1.5em;
        }

        // if disabled display lighter
        input[type=checkbox]:not(old):disabled + label {
            opacity: .5;
        }


        // use the first span to create the unchecked graphics
        input[type=checkbox]:not(old) + label > span {
            display          : inline-block;
            width            : 0.875em;
            height           : 0.875em;
            margin           : 0.25em 0.5em 0.25em 0.25em;
            border           : 1px solid black; //0.0625em solid rgb(192,192,192);
            border-radius    : 0.25em;
            //background       : rgb(224,224,224);
            //background-image :    -moz-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            //background-image :     -ms-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            //background-image :      -o-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            //background-image : -webkit-linear-gradient(rgb(240,240,240),rgb(224,224,224));
            //background-image :         linear-gradient(rgb(240,240,240),rgb(224,224,224));
            vertical-align   : bottom;
        }

        // insert the checkmark when selected
        input[type=checkbox]:not(old):checked + label > span:before{
            content     : '✓';
            display     : block;
            width       : 1em;
            color       : $blackText; //rgb(153,204,102);
            font-size   : 0.875em;
            line-height : 1em;
            text-align  : center;
            text-shadow : 0 0 0.0714em #777; //rgb(115,153,77);
            font-weight : bold;
        }

        .label {
            @include reset;

            font-size: 13px;
            display: inline-block;
            margin-left: 10px;
        }
    }
}
