@import "../stylesDefs.scss";

/*
 * Prospect Details / Contact CSS
 */
.contactDetail {
  .pageHeader {
    line-height: 1.2;

    .section {
      .dataText {
        margin-top: 2px;
      }

      &.prospectNameDiv {
        .data {
          font-weight: bold;
          font-size: 18px;

          .dataText {
            margin-top: 0;
          }
        }
      }

      &.emailDiv,
      &.phoneDiv {
        .data {
          .dataText {
            max-width: 120px;

            .dropDownLst {
              position: absolute !important;
            }

            .dropDownLst .scrollSection {
              height: auto;

              .lstEntry {
                width: calc(100% - 0px);
              }
            }
          }
        }
      }

      &.addressDiv {
        .data {
          .dataText {
            max-width: none;
          }
        }
      }
    }
  }

  .givingYearDiv {
    height: 24px;
    margin-bottom: 15px;

    .yearDiv {
      height: 24px;
      float: left;
      margin-top: -2px;

      .revupDropDown {
        height: 24px;
        outline: 0;

        .incrementerDiv {
          .downDiv,
          .upDiv {
            height: 12px;
          }
        }

        .valDiv {
          width: 36px !important;
          font-size: 14px;
          color: $primary-gray-6;
          margin-right: 3px;
        }

        .arrowDiv {
          .icon {
            margin-top: 1px;
          }
        }
      }

      .dropDownLst .scrollSection {
        height: auto;
      }
    }

    .legendBtn {
      float: left;
      margin-top: -1px;
      margin-left: 15px;
    }

    .leftLabel {
      float: left;
      display: inline-block;
      font-size: 14px;
      color: $primary-gray-6;
      line-height: 14px;
      margin-top: 3px;
      margin-right: 5px;
      text-transform: capitalize;
    }

    .rightLabel {
      float: left;
      display: inline-block;
      font-size: 14px;
      color: $primary-gray-6;
      line-height: 14px;
      margin-top: 3px;
      margin-left: 5px;
      text-transform: capitalize;
    }

    &::after {
      content: '.';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }

  .givingSection {
    .givingTypeSection {
      font-size: 14px;
      margin-bottom: 10px;

      .sectionHeader {
        height: 20px;
        margin-bottom: 2px;

        .openClose {
          display: inline-block;
          color: $primary-gray-6;
          cursor: pointer;
          position: relative;
          top: 2px;
        }

        .spacerIcon {
          width: 14px;
          height: 1px;
          display: inline-block;
        }

        .headerText {
          display: inline-block;
          color: $primary-gray-6;
          font-weight: bold;
        }
      }

      &.closed {
        .sectionBody {
          display: none;
        }

        .sectionFooter {
          display: none;
        }
      }

      &.opened {
        .sectionBody {
          display: block;
        }

        .sectionFooter {
          display: block;
        }
      }
    }

    .leftSide {
      float: left;
    }

    .rightSide {
      float: right;
    }

    &::after {
      content: '.';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }

  .comingSoonDiv {
    height: 75px;
    width: 100%;
    transform-style: preserve-3d;
    text-align: center;
    font-size: 16px;
    color: $primary-gray-6;
    border: 1px solid #777;
    border-radius: 5px;

    .msg {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .contribDiv {
    .entry {
      border-top: 1px solid $grayBorder;
      font-size: 14px;
      color: $primary-gray-6;

      &:nth-of-type(even) {
        background-color: $tan-bg-color;
      }

      &.last {
        border-bottom: 2px solid #777;
        font-weight: $semiBold;
        background-color: $whiteText;
      }

      .entryData {
        margin-top: 3px;
        margin-bottom: 3px;
        height: 20px;
        line-height: 20px;

        .column {
          float: left;
          margin-left: 15px;
        }

        &::after {
          content: '.';
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0;
        }
      }
    }

    &.purdueContrib {
      .partyColorCol {
        width: 20px;
        height: 20px;
      }

      .nameCol {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .donationCol {
        width: 130px;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .dateCol {
        width: 35px;
      }
    }

    &.academicNonprofit,
    &.sampleAcademicNonprofit {
      position: relative;

      .entry:last-child {
        border-bottom: 2px solid $grayBorder;
      }

      .sampleOverlay {
        position: absolute;
        text-align: center;
        width: 100%;
        font-size: 50px;
        top: 40%;
        transform: translateY(-50%) rotate(-30deg);
        opacity: 0.5;
      }

      .nameCol {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .donationCol {
        width: 100px;
        text-align: right;
        margin-right: 15px;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    &.federalContrib {

      .partyColorCol {
        width: 20px;
        height: 20px;
      }

      .nameCol {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .donationCol {
        width: 100px;
        text-align: right;
      }

      .dateCol {
        width: 80px;
      }
    }

    &.stateLocalContrib {

      .partyColorCol {
        width: 20px;
        height: 20px;
      }

      .nameCol {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .donationCol {
        width: 80px;
        text-align: right;
      }

      .stateCol {
        width: 30px;
      }

      .dateCol {
        width: 80px;
      }
    }

    &.academicNonprofit {
      margin-bottom: 15px;
    }
  }
}

.popover-content {
  font-size: 12px;
}

// New Prospect Details
.newProspectDetail {
  .pageHeader {
    line-height: 1.1;

    .section {
      &.photoDiv {
        cursor: pointer;

        img {
          width: 56px;
          height: 56px;
          border: 1px solid #a7a9ac;
        }
      }

      &.imageClassExtra {
        margin-top: 25px;
      }

      .dataText {
        margin-top: 2px;
      }

      .primaryEmailChanged,
      .primaryPhoneChanged {
        display: inline-block;
        margin-left: 5px;
        position: relative;
        top: -3px;
        font-size: 18px;
        line-height: 1;
        color: $primary-green-1;
      }

      &.prospectNameDiv {
        .data {
          font-weight: bold;
          font-size: 18px;

          .dataText {
            width: auto;
            margin-top: 0;
            display: inline-block;
          }

          .profileImg {
            display: inline-block;
            background-image: url('../../img/linkedin-20x20.svg');
            background-size: 16px 16px;
            background-repeat: no-repeat;
            width: 16px;
            height: 16px;
            cursor: pointer;
            margin-left: 10px;
            position: relative;
            top: -1px;
          }
        }
      }

      &.emailDiv,
      &.phoneDiv {
        .data {
          .dataText {
            max-width: 160px;

            .cntlBody {
              .valDiv {
                padding: 4px;
              }
            }

            .dropDownLst {
              position: absolute !important;
            }

            .dropDownLst .scrollSection {
              height: auto;

              .lstEntry {
                width: calc(100% - 0);
              }
            }
          }
        }
      }

      &.emailDiv,
      &.phoneDiv {
        display: inline-block;

        .data {
          .dataText {
            display: inline-block;
            max-width: 250px;
          }
        }
      }

      &.addressDiv {
        .data {
          .dataText {
            max-width: none;
          }
        }
      }
    }
  }

  .partitionHeaderDiv {
    background: rgb(220, 223, 224);
    background: -moz-linear-gradient(50% 100% 90deg,rgba(205, 208, 209, 1) 0%,rgba(220, 223, 224, 1) 20.97%,rgba(237, 240, 242, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(205, 208, 209, 1) 0%, rgba(220, 223, 224, 1) 20.97%, rgba(237, 240, 242, 1) 100%);
    background: -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(205, 208, 209, 1)),color-stop(0.2097,rgba(220, 223, 224, 1)),color-stop(1,rgba(237, 240, 242, 1)));
    background: -ms-linear-gradient(90deg, rgba(205, 208, 209, 1) 0%, rgba(220, 223, 224, 1) 20.97%, rgba(237, 240, 242, 1) 100%);
    background: linear-gradient(0deg, rgba(205, 208, 209, 1) 0%, rgba(220, 223, 224, 1) 20.97%, rgba(237, 240, 242, 1) 100%);
    border: 1px solid $secondary-gray-4;
    border-radius: 3px;
    height: 30px;

    .innerDiv {
      padding: 2px 5px;

      .partitionGrpDiv {
        float: left;
        width: 205px;
        padding-left: 10px;
        padding-right: 10px;

        .textLabel {
          float: left;
          color: #333;
          display: inline-block;
          margin-right: 3px;
          position: relative;
          top: 5px;
          line-height: 1.1em;
        }

        .text {
          display: inline-block;
          font-size: 10px;
          color: $primary-gray-5;
          text-align: left;
          margin-left: 4px;
          line-height: 1.1em;
        }

        .partitionDiv {
          display: inline-block;
          float: left;

          .revupDropDown {
            height: auto;
            width: 60px;
            padding: 2px 3px;
            background-color: $whiteText;
            border-radius: 3px;
            color: $blackText;

            .dropDownLst {
              border: 1px solid $lightGrayBorder !important;
              position: absolute !important;
            }

            .dropDownLst .scrollSection {
              height: auto;

              .lstEntry {
                width: 100%;
              }
            }

            .cntlBody {

              .valDiv {
                font-size: 15px;
                line-height: 15px;
                border: none;
                background-color: transparent;
                padding: 0;
                width: 35px;
                margin-right: 0;
              }

              .arrowDiv {
                color: $primary-gray-4;
                background-color: transparent;
                border: none;
                font-size: 15px;
                line-height: 15px;
                padding: 0;
                width: 15px;
                top: 2px;
              }
            }
          }
        }

        &::after {
          @include clearFloat;
        }
      }

      .legendIconBtn {
        width: 22px;
        height: 22px;
        border-radius: 11px;
        float: left;
        background-color: $grayBtnBackground;
        margin-left: 50px;
        cursor: pointer;

        .icon {
          position: relative;
          color: $whiteText;
          font-size: 15px;
          top: 2px;
          left: 3px;
        }
      }

      &::after {
        @include clearFloat;
      }
    }

    &::after {
      @include clearFloat;
    }
  }

  .givingTypeSectionOuter {
    margin-top: 15px;
    border: 1px solid $blackText;
    padding: 10px;
    background-color: $whiteText;
    border-style: Solid;
    border-color: $primary-gray-4;
    border-width: 1px;
    border-radius: 4px;
    box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.2);
  }

  .givingSection {
    .givingTypeSection {
      font-size: 14px;

      .sectionHeader {
        height: 20px;
        margin-bottom: 2px;

        .openClose {
          float: left;
          color: $primary-gray-6;
          cursor: pointer;
          position: relative;
          top: 2px;
        }

        .spacerIcon {
          width: 14px;
          height: 1px;
          display: inline-block;
        }

        .headerText {
          float: left;
          color: $primary-gray-6;
          font-weight: bold;
        }

        .headerRight {
          float: right;
          width: 140px;
          margin-right: 10px;

          .graphDiv {
            width: 65px;
            position: relative;
            top: -5px;

            &.candidates {
              float: left;
            }

            &.dollars {
              float: right;
            }

            .title {
              color: $primary-gray-6;
              font-size: 12px;
              line-height: 12px;
              text-align: center;
            }

            .graph {
              height: 12px;

              .graphSlice {
                float: left;
                height: 100%;
                border-radius: 3px;
              }
            }

            &::after {
              @include clearFloat;
            }
          }

          .headerNoData {
            position: relative;
            top: 3px;
            text-align: right;
            font-size: 12px;
          }
        }

        &::after {
          @include clearFloat;
        }
      }

      .sectionBody {
        .entry {
          font-size: 13px;
          line-height: 13px;
          color: $primary-gray-6;
          border-top: 1px solid $grayBorder;
          height: 26px;
          width: 100%;
          overflow: hidden;
          padding: 0;
          background-color: white;

          &:not(:last-of-type) {
            border-bottom: none;
          }

          .name {
            position: relative;
            top: 6px;
            float: left;
            margin-left: 15px;
            width: calc(100% - 310px);
            min-height: 2px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

              &.nonProfAcadName {
                min-width: 130px;
                width: calc(100% - 350px);
              }
          }

          .amount {
            position: relative;
            top: 6px;
            float: left;
            width: 90px;
            text-align: right;
            margin-left: 15px;

            &.nonProfAcadAmount {
              max-width: 170px;
              width: calc(100% - 305px);
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
          }

          .date {
            position: relative;
            top: 6px;
            float: left;
            width: 80px;
            text-align: center;
            margin-left: 15px;

            &.nonProfAcadDate {
                width: 35px;
                margin: 0 15px;
            }
          }

          .party {
            float: left;
            width: 20px;
            min-height: 2px;
            text-align: center;
            margin-left: 10px;
            position: relative;
            top: 2px;

            .partyBlob {
              width: 20px;
              height: 20px;
              border-radius: 3px;
            }
          }

          .contribDetails {
            float: left !important;
            width: 20px;
            font-size: 20px;
            line-height: 20px;
            margin-right: 10px;
            margin-left: 15px;
            position: relative;
            top: 2px;
            cursor: pointer;
            color: $blueText !important;

            &.nonProfAcadDetails {
                margin-left: 5px;
                width: 20px;
                text-align: center;
            }

            .icon {
              color: $blueText;
              margin-left: 0;
              float: none;
            }
          }

          &::after {
            @include clearFloat;
          }

          &.total {
            font-weight: $semiBold;
            border-bottom: 2px solid $grayBorder;

            .name {
              top: 5px;
            }

            .amount {
              top: 5px;
            }
          }

          &.last {
            border-top: 2px solid $grayBorder;
            height: 2px;
          }
        }
      }

      &.closed {
        .sectionBody {
          display: none;
        }

        .sectionFooter {
          display: none;
        }
      }

      &.opened {
        .sectionBody {
          display: block;
        }

        .sectionFooter {
          display: block;
        }
      }
    }

    .leftSide {
      float: left;
      width: calc(50% - 10px);
    }

    .rightSide {
      float: right;
      width: calc(50% - 10px);
    }

    &::after {
      @include clearFloat;
    }
  }
}

// Contributor popup
.prospectDetailsContribPopup {
  font-size: 13px;
  line-height: 1.1em;
  color: $primary-gray-6;
}
