
@import '../stylesDefs';

.ranking-nav-pills {
  position: relative;

  .text {
    position: relative;
    top: 1px;
    margin-right: 12px;
  }

  li a {
    padding: 2px 5px;
  }
}

// Page Header
.pageHeader {
  line-height: 1.2;

  .section {
    &.candidateDiv {
      .data {
        font-weight: bold;
        font-size: 18px;
      }
    }

    &.platformDiv {
      .data {
        .dataText {
          max-width: none;
        }
      }
    }
  }
}

// Partition labels
.partitionDisplayLabel {
  font-size: 10px;
  color: $primary-gray-5;
  line-height: 10px;
  text-align: left;
}

// Header Pagination Section
.headerTopPagination {
  background: rgb(220, 223, 224);
  background: -moz-linear-gradient(50% 100% 90deg,rgba(205, 208, 209, 1) 0%,rgba(220, 223, 224, 1) 20.97%,rgba(237, 240, 242, 1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(205, 208, 209, 1) 0%, rgba(220, 223, 224, 1) 20.97%, rgba(237, 240, 242, 1) 100%);
  background: -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(205, 208, 209, 1)),color-stop(0.2097,rgba(220, 223, 224, 1)),color-stop(1,rgba(237, 240, 242, 1)));
  background: -ms-linear-gradient(90deg, rgba(205, 208, 209, 1) 0%, rgba(220, 223, 224, 1) 20.97%, rgba(237, 240, 242, 1) 100%);
  background: linear-gradient(0deg, rgba(205, 208, 209, 1) 0%, rgba(220, 223, 224, 1) 20.97%, rgba(237, 240, 242, 1) 100%);
  border: 1px solid $secondary-gray-4;
  border-radius: 3px;

  .innerDiv {
    padding: 2px 5px;

    .leftSide {
      float: left;
      margin-top: 3px;

      .givingYearDiv,
      .itemsPerPageDiv {
        float: left;

        .yearDiv {
          .revupDropDown {
            height: 24px;
            outline: 0;

            .incrementerDiv {
              .downDiv,
              .upDiv {
                height: 12px;
              }
            }

            .valDiv {
              width: 36px !important;
              font-size: 14px;
              color: $primary-gray-6;
              margin-right: 3px;
            }

            .arrowDiv {
              .icon {
                margin-top: 1px;
              }
            }
          }

          .dropDownLst .scrollSection {
            height: auto;
          }
        }

        .perPageDiv,
        .yearDiv {
          height: 20px;
          float: left;
          margin-top: -2px;

          .valDiv {
            width: 30px;
          }
        }
      }

      .leftLabel {
        float: left;
        display: inline-block;
        font-size: 14px;
        color: $primary-gray-6;
        line-height: 14px;
        margin-top: 3px;
        margin-right: 5px;
        text-transform: capitalize;
      }

      .rightLabel {
        float: left;
        display: inline-block;
        font-size: 14px;
        color: $primary-gray-6;
        line-height: 14px;
        margin-top: 3px;
        margin-left: 5px;
        text-transform: capitalize;
      }

      &::after {
        content: '.';
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }

    .rightSide {
      float: right;

      .btnDiv {
        display: inline-block;
        height: 22px;
        min-width: 60px;
        padding: 1px 10px;
        font-size: 12px;
        text-transform: capitalize;
        border: 1px solid #6eaadb;
        border-radius: 3px;
        background: rgb(144, 195, 240);
        background: linear-gradient(0deg, rgba(121, 163, 199, 1) 0%, rgba(144, 195, 240, 1) 100%);
        cursor: pointer;
        color: $whiteText;

        &.btnColorGray {
          border-color: #919bA1;
          background: rgb(145, 156, 161);
          background: -moz-linear-gradient(50% 100% 90deg,rgba(156, 167, 173, 1) 0%,rgba(145, 156, 161, 1) 20.97%,rgba(165, 176, 184, 1) 100%);
          background: -webkit-linear-gradient(90deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
          background: -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(156, 167, 173, 1)),color-stop(0.2097,rgba(145, 156, 161, 1)),color-stop(1,rgba(165, 176, 184, 1)));
          background: -ms-linear-gradient(90deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
          background: linear-gradient(0deg, rgba(156, 167, 173, 1) 0%, rgba(145, 156, 161, 1) 20.97%, rgba(165, 176, 184, 1) 100%);
        }

        &.btnColorGreen {
          border-color: $secondary-green-4;
          background: rgb(128, 181, 71);
          background: -moz-linear-gradient(50% 100% 90deg,rgba(121, 166, 73, 1) 0%,rgba(128, 181, 71, 1) 25.27%,rgba(161, 217, 100, 1) 99.46%);
          background: -webkit-linear-gradient(90deg, rgba(121, 166, 73, 1) 0%, rgba(128, 181, 71, 1) 25.27%, rgba(161, 217, 100, 1) 99.46%);
          background: -webkit-gradient(linear,50% 100% ,50% 0% ,color-stop(0,rgba(121, 166, 73, 1)),color-stop(0.2527,rgba(128, 181, 71, 1)),color-stop(0.9946,rgba(161, 217, 100, 1)));
          background: -ms-linear-gradient(90deg, rgba(121, 166, 73, 1) 0%, rgba(128, 181, 71, 1) 25.27%, rgba(161, 217, 100, 1) 99.46%);
          background: linear-gradient(0deg, rgba(121, 166, 73, 1) 0%, rgba(128, 181, 71, 1) 25.27%, rgba(161, 217, 100, 1) 99.46%);
        }

        &.btnDisabled {
          opacity: 0.5;
          cursor: default;
        }

        & > div {
          text-align: center;
        }
      }

      .legendBtn {
        float: left;
        margin-top: 1px;
      }

      .searchBtn {
        float: left;
        margin: 1px 10px 0;
      }

      .searchLabel {
        float: left;
        display: inline-block;
        font-size: 14px;
        color: $primary-gray-6;
        line-height: 14px;
        margin-top: 4px;
        margin-right: 3px;
        margin-left: 50px;
      }

      .searchTypeDiv {
        float: left;
        width: 100px;
        position: relative;
        top: 1px;

        .revupDropDown {
          .valDiv {
            border-radius: 4px;
            margin-right: 2px;
          }

          .arrowDiv {
            border-radius: 4px;
          }

          .scrollSection {
            height: 44px;
          }
        }
      }

      .searchDiv {
        float: left;
        margin-left: 5px;
        width: 200px;
        position: relative;
        top: 1px;

        .revupSearchBox {
          height: 22px;
          border-radius: 4px;

          .searchIcon {
            margin-top: 4px;
          }

          .searchText {
            margin-top: 1px;
          }

          .clearIcon {
            margin-top: 6px;
          }
        }
      }

      &::after {
        content: '.';
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0;
      }
    }

    &::after {
      content: '.';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
}

// Legend Popup
.legendPopup {
  display: none;
  width: 200px;
  z-index: 1000;
  position: absolute;
  background: #E6E9EB;
  border: 1px solid #c5c9cc;
  border-radius: 4px;

  .header {
    margin-top: 5px;

    .title {
      font-size: 14px;
      font-weight: $semiBold;
      color: $primary-gray-6;
      float: left;
      margin-left: 14px;
    }

    .closeBtn {
      float: right;
      display: inline-block;
      margin-right: 10px;
      color: #b9c0cc;
      cursor: pointer;
    }

    &::after {
      content: '.';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }

  .legendBarDiv {
    height: 17px;
    margin-bottom: 10px;

    .colorBar {
      margin: 0 14px;
      border: 1px solid transparent;
      border-radius: 2px;

      .text {
        font-size: 12px;
        margin-left: 5px;
        color: $whiteText;
        position: relative;
        top: -1px;
      }
    }

    &:last-child {
      margin-bottom: 15px;
    }

    &:nth-of-type(2) {
      margin-top: 10px;
    }
  }
}

// New Ranking page
.rankingNewLayout {
  margin-bottom: 15px;
  position: relative;
  top: -5px;

  .lstDiv {
    float: left;
    background-color: $whiteText;
    width: calc(100% - 360px);
    // width of detail div and 20px space between
    min-width: 775px;

    .slider {
      float: left;
      width: 5px;
      height: 100%;
      background-color: transparent;
      cursor: col-resize;

      &.sortLeft {
        .sOuter {
          &:first-child {
            background-color: $primary-gray-3 !important;
          }
        }
      }

      &.sortRight {
        .sOuter {
          &:last-child {
            background-color: $primary-gray-3 !important;
          }
        }
      }

      &.blank {
        background-color: transparent;
        cursor: default;
      }

      .sOuter {
        background-color: transparent;
        width: 1px;
        height: 100%;
        float: left;
      }

      .sOuter1 {
        background-color: transparent;
        width: 1px;
        height: 100%;
        float: left;
      }

      .sInner {
        background-color: transparent;
        width: 1px;
        height: 100%;
        float: left;
      }

      .sCenter {
        background-color: $primary-gray-3;
        width: 1px;
        height: 100%;
        float: left;
      }

      &::after {
        @include clearFloat;
      }
    }

    .togglePages {
      height: 25px;

      .contactSetTab {
        width: calc(100% / 2);
        float: left;
        cursor: pointer;
        background-color: #f1f2f5;
        border-top: 1px solid #e6e6e6;
        border-left: 1px solid #e6e6e6;
        border-right: 1px solid #e6e6e6;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        text-align: center;
        color: #b6b8ba;

        &.active {
          background-color: $primary-green-2;
          cursor: default;
          color: #f7f7f7;
        }

        &.disabled {
          background-color: #770000;
          cursor: default;
          color: #b6b8ba;
        }

        &.fullSize {
          width: 100%;
        }
      }
    }

    .infoBarDiv {
      background-color: #edf8ff;
      color: #4c96bf;
      width: 100%;
      height: 44px;
      border: 1px solid #8cc0de;
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 5px;

      .infoBarTextDiv {
        float: left;
        line-height: 20px;
        width: calc(100% - 20px);
        text-align: center;

        .infoBarTextContent {
          display: inline-block;

          .icon {
            float: left;
            margin-right: 10px;
            font-size: 18px;
            position: relative;
            top: 1px;
          }

          .msg {
            float: left;
            font-size: 14px;
            font-weight: $semiBold;
          }

          &::after {
            @include clearFloat;
          }
        }
      }

      .infoBarCloseDiv {
        float: left;
        width: 20px;
        font-size: 18px;

        .icon {
          position: relative;
          top: 1px;
        }
      }

      &::after {
        @include clearFloat;
      }
    }

    .rankingHeaderDiv {
      background: linear-gradient(0deg, #dedede 0%, #d9d9d9 20.07%, #e8e8e8 100%);
      border-radius: 3px;
      height: 44px;
      border: 1px solid $primary-gray-4;

      .sepBar {
        width: 1px;
        height: 44px;
        float: left;

        &.sepBarOne {
          background-color: $sepBarOne;
        }

        &.sepBarTwo {
          background-color: $sepBarTwo;
        }
      }

      .leftSide {
        float: left;

        .contactLstGrpDiv,
        .partitionGrpDiv {
          float: left;
          width: 95px;
          padding-left: 10px;
          padding-right: 10px;

          .text {
            font-size: 10px;
            color: $primary-gray-5;
            line-height: 10px;
            text-align: left;
            margin-left: 4px;
          }

          .contactLstDiv,
          .partitionDiv {

            .revupDropDown {
              height: auto;
              width: 75px;
              border: 1px solid $lightGrayBorder;
              padding: 2px 3px;
              background-color: $whiteText;
              border-radius: 3px;

              .downloadImg {
                width: 16px;
                height: 16px;
                margin-right: 4px;

                &.imgBlank {
                  display: inline-block;
                  height: 5px;
                }

                &.imgCSV {
                  position: relative;
                  top: -1px;
                }

                &.imgGmail {
                  position: relative;
                  top: -1px;
                }

                &.imgLinkedIn {
                  position: relative;
                  top: 1px;
                }

                &.imgApple {
                  position: relative;
                  top: -2px;
                }

                &.imgOutlook {
                  position: relative;
                  top: -1px;
                }
              }

              .dropDownLst .scrollSection {
                height: auto;

                .lstEntry {
                  width: calc(100% - 8px);
                }
              }

              .cntlBody {

                .valDiv {
                  font-size: 15px;
                  line-height: 18px;
                  border: none;
                  background-color: transparent;
                  padding: 0;
                  width: 50px;
                  margin-right: 0;
                }

                .arrowDiv {
                  color: $primary-gray-4;
                  background-color: transparent;
                  border: none;
                  font-size: 15px;
                  line-height: 15px;
                  padding: 0;
                  width: 15px;
                  top: 2px;
                }
              }
            }
          }
        }

        .contactLstGrpDiv {
          width: 240px;
          float: left;
          background-color: transparent;

          .revupDropDown {
            width: 225px !important;
            background-color: $tan-bg-color !important;

            .cntlBody {
              .valDiv {
                width: 200px !important;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }

            .scrollSection {
              height: 250px !important;

              .lstEntry {
                &.sectionHeader {
                  .title {
                    color: $primary-gray-6;
                  }

                  .subtitle {
                    color: $primary-gray-4;
                    font-size: 11px;
                  }
                }
              }
            }
          }
        }

        .iconBtn {
          width: 50px;
          float: left;
          height: 44px;

          &:hover {
            background: linear-gradient(0deg, #c4e8fe 0%, #c0e7fe 20.07%, #d6effe 100%);
          }

          .text {
            font-size: 10px;
            line-height: 10px;
            color: $iconText;
            text-align: center;
            margin-top: 4px;
            margin-bottom: 3px;
          }

          .icon {
            margin-left: auto;
            margin-right: auto;
            font-size: 22px;
            line-height: 22px;
            cursor: pointer;
            color: $iconColor;
            display: block;
            width: 22px;
          }
        }

        .hamburgerIconBtn {
          .icon {
            position: relative;
            top: 11px;
          }
        }

        .csvExportIconBtn {
          .icon {
            top: 4px;
          }
        }

        .csvExportIconBtn,
        .legendIconBtn,
        .settingsIconBtn {
          cursor: pointer;
        }

        &::after {
          @include clearFloat;
        }
      }

      .rightSide {
        float: right;

        .searchSection {
          float: left;
          max-width: 300px;
          padding-left: 10px;
          padding-right: 10px;
          min-width: 200px;

          &.disabled {
            .text {
              opacity: 0.4;
            }
          }

          .topLine {
            margin-top: 5px;
            margin-bottom: 1px;

            .text {
              float: left;
              color: $primary-gray-5;
              font-size: 10px;
              line-height: 10px;
              margin-left: 25px;
              margin-right: 3px;
              margin-top: 1px;
            }

            .searchType {
              float: left;
              width: 60px;

              .revupDropDown {
                height: auto;
                width: 65px;
                margin-left: auto;
                margin-right: auto;

                .dropDownLst .scrollSection {
                  height: auto;

                  .lstEntry {
                    width: 100%;
                  }
                }

                .cntlBody {

                  .valDiv {
                    font-size: 11px;
                    line-height: 11px;
                    border: none;
                    background-color: transparent;
                    padding: 0;
                    width: 50px;
                    margin-right: 0;
                  }

                  .arrowDiv {
                    color: $primary-gray-4;
                    background-color: transparent;
                    border: none;
                    font-size: 11px;
                    line-height: 11px;
                    padding: 0;
                    width: 15px;
                  }
                }
              }
            }

            &::after {
              @include clearFloat;
            }
          }
        }

        .advFilterSection {
          float: left;
          width: 80px;
          height: 44px;

          &.advFilterBtn {
            cursor: pointer;
          }

          &:hover {
            background: linear-gradient(0deg, #c4e8fe 0%, #c0e7fe 20.07%, #d6effe 100%);
          }

          &.active {
            background-color: $secondary-green-2;

            .content {
              .side {
                color: $advFilterActiveBtnText;

                .icon {
                  color: $secondary-green-3;
                }
              }
            }
          }

          .content {
            margin-top: 13px;
            display: inline-block;
            margin-left: 11px;

            .side {
              float: left;
              font-size: 10px;
              line-height: 10px;
              color: $iconText;
              text-align: right;

              .icon {
                font-size: 22px;
                line-height: 22px;
                color: $iconColor;
              }
            }

            &::after {
              @include clearFloat;
            }
          }
        }

        &::after {
          @include clearFloat;
        }
      }

      &::after {
        @include clearFloat;
      }
    }

    .showingContactsDiv {
      margin-top: 3px;
      height: 32px;
      font-size: 14px;

      .showingLabel {
        width: 75px;
        padding: 6px 5px;
        float: left;
        height: 100%;
        color: #777;
        background-color: #e5e5e6;
        text-align: center;
      }

      .showingWhat {
        width: calc(100% - 115px);
        padding: 6px 10px;
        float: left;
        height: 100%;
        background-color: #e5e5e6;
        margin-left: 2px;
        margin-right: 2px;
      }

      .showingOpenClose {
        width: 36px;
        padding: 9px 5px;
        float: left;
        height: 100%;
        background-color: $grayBtnBackground;
        cursor: pointer;

        .icon {
          position: relative;
          left: 6px;
          color: $whiteText;
        }
      }

      &::after {
        @include clearFloat;
      }
    }

    .showingContactsLstDiv {
      font-size: 14px;
      background-color: #777;
      color: $whiteText;

      .entry {
        height: 26px;
        cursor: pointer;

        &:first-child {
          height: 28px;

          .text {
            margin-top: 5px;
          }

          .icon {
            margin-top: 5px;
          }
        }

        &:last-child {
          height: 28px;
        }

        .text {
          margin-left: 75px;
          margin-top: 3px;
          float: left;
          width: calc(100% - 111px);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .icon {
          float: left;
          width: 36px;
          position: relative;
          top: 3px;
          left: 10px;
          font-weight: $bold;
        }

        &::after {
          @include clearFloat;
        }
      }

      hr {
        margin-top: 2px;
        margin-bottom: 2px;
        width: calc(100% - 20px);
      }
    }

    .lstColumnHeaderDiv {
      width: 100%;
      height: 28px;
      border-bottom: 1px solid $grayBorder;
      font-size: 12px;
      font-weight: $semiBold;
      overflow: hidden;

      .sortable {
        cursor: pointer;
        background: -moz-linear-gradient(50% 100% 90deg,rgba(235, 235, 235, 1) 0%,rgba(224, 224, 224, 1) 20.76%,rgba(247, 247, 247, 1) 100%);
        background: -ms-linear-gradient(90deg, rgba(235, 235, 235, 1) 0%, rgba(224, 224, 224, 1) 20.76%, rgba(247, 247, 247, 1) 100%);
        background: linear-gradient(0deg, rgba(235, 235, 235, 1) 0%, rgba(224, 224, 224, 1) 20.76%, rgba(247, 247, 247, 1) 100%);
        width: 65px;
        height: 30px;
      }

      .icon {
        position: relative;
        width: 12px;
        top: 7px;
        left: 6px;
      }

      .columnHeader {
        text-align: left !important;
        display: inline-block !important;
        vertical-align: top !important;
      }

      .column {
        float: left;
        padding-left: 10px;
        padding-right: 10px;
        white-space: nowrap;
        min-height: 2px;

        &.disabled {
          .columnHeader {
            color: #d1d3d6;
          }
        }

        &::after {
          @include clearFloat;
        }

        .columnHeader {
          text-transform: capitalize;
          font-size: 12px;
          color: $primary-gray-6;
          font-weight: $semiBold;
          position: relative;
          top: 5px;
        }
      }
    }

    .rankingLstDiv {
      height: 425px;
      overflow-x: auto;
    }

    .rankingDetailsLstDiv {
      width: 100%;

      &.hideColor {
        .political-spectrum-bar-democrat,
        .political-spectrum-bar-democrat-lite,
        .political-spectrum-bar-neutral,
        .political-spectrum-bar-republican,
        .political-spectrum-bar-republican-lite {
          background: none;
          background-color: #a4b58e;
        }

        .maxedOut {
          .col1 {
            .political-spectrum-bar-democrat,
            .political-spectrum-bar-democrat-lite,
            .political-spectrum-bar-neutral,
            .political-spectrum-bar-republican,
            .political-spectrum-bar-republican-lite {
              background: none;
              background-color: $disabledText;
            }
          }
        }

        .ticks {
          color: #a4b58e !important;
        }
      }

      .entry {
        height: 34px;
        font-size: 14px;
        line-height: 15px;
        color: #a7a9ac;
        overflow: hidden;
        background-color: white;

        &:nth-child(odd) {
          background-color: $tan-bg-color;
        }

        &::after {
          @include clearFloat;
        }

        &.maxedOut {
          .colDonation,
          .colGiving,
          .colName,
          .colRanking {
            opacity: 0.5;
          }

          .icon {
            -webkit-filter: grayscale(90%);
            filter: grayscale(90%);
          }
        }

        &.doNotContact {
          opacity: 0.3;
        }

        &.selected {
          background-color: $secondary-blue-2 !important;
        }

        &.beingDeleted {

          .colDonation,
          .colGiving,
          .colName,
          .colRanking,
          .icon,
          .nameBtn {
            color: $primary-gray-3 !important;
          }

          .iconDiv .candidateIconDiv {
            background-color: $primary-gray-3 !important;
          }

          .colDonation .keyContribIcon {
            background-color: $primary-gray-3 !important;
          }

          .colRanking .rankingBox {
            background: $primary-gray-3 !important;

            .text {
              color: $whiteText;
            }
          }

          .iconDiv,
          .iconDiv .keyContribIcon,
          .iconDiv .oppo,
          .rankingBox {
            color: $primary-gray-3 !important;
          }
        }

        &:nth-child(odd) {
          background-color: $tan-bg-color;
        }

        &.loadingMore {
          height: 30px;

          .loadingMore {
            background: url("../../img/dot-dot-dot.gif");
            width: 55px;
            height: 9px;
            margin-left: auto;
            margin-right: auto;
            margin-top: 10px;
          }
        }

        .column {
          float: left;
          padding-left: 10px;
          padding-right: 10px;
          margin-top: 4px;
          min-height: 2px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          color: $blackText;

          // ranking
          &.colRanking {

            .rankingBox {
              width: 41px;
              margin-left: 7px;
              margin-top: 3px;
              border-radius: 4px;
              padding: 3px;
              color: $whiteText;
            }
          }

          // Name
          &.colName {

            .nameBtn {
              width: 100%;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              color: $blueText;
              cursor: pointer;
              display: inline-block;
              padding-top: 3px;

              &:hover {
                text-decoration: underline;
              }
            }
          }

          // Donations
          &.colDonation {

            .iconSection {
              text-align: center;
              overflow: hidden;
              white-space: nowrap;

              .iconContainer {
                display: flex;
                float: left;

                .iconDiv {
                  font-size: 16px;
                  height: 30px;
                  float: left;

                  &:not(:first-child) {
                    margin-left: 20px;
                  }

                  .icon {
                    width: auto;
                    height: 18px;
                    position: relative;
                    top: 4px;
                    max-width: 45px;

                    &.withMsg {
                      top: 0;
                    }
                  }

                  .candidateIconDiv {
                    height: 18px;
                    position: relative;
                    max-width: 60px;
                    min-width: 30px;
                    background-color: #90c3f0;
                    border-radius: 3px;

                    .text {
                      position: relative;
                      top: 1px;
                      padding-left: 3px;
                      padding-right: 3px;
                      color: $whiteText;
                      font-size: 13px;
                    }
                  }

                  .msg {
                    font-size: 9px;
                    line-height: 9px;
                    text-align: center;
                  }

                  .keyContribIcon {
                    width: 10px;
                    height: 10px;
                    border-radius: 5px;
                    background-color: $pageTitleColor;
                    position: relative;
                    top: 8px;
                  }

                  .noKeyContrib {
                    width: 10px;
                    height: 10px;

                    &::before {
                      content: ' ';
                    }
                  }

                  .oppo {
                    font-size: 13px;
                    line-height: 14px;
                    position: relative;
                    top: 6px;
                    color: $lightTextColor;

                    &.withMsg {
                      top: 0;
                    }
                  }
                }

                &::after {
                  @include clearFloat;
                }
              }

              &::after {
                @include clearFloat;
              }
            }
          }

          // Prospect Switch
          &.colPropectSwitch {

            &.disabled {
              .addToBtn {
                color: #d1d3d6;
                cursor: default;
              }
            }

            .invited {
              margin-top: 4px;
              font-size: 16px;
              color: $pageTitleColor;
            }

            .addToBtn {
              width: 20px;
              height: 20px;
              border-radius: 10px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 3px;
              background-color: $secondary-gray-12;
              color: $primary-gray-4;
              padding: 3px 5px;
              cursor: pointer;

              .text {
                position: relative;
              }

              .icon {
                position: relative;
                left: -2px;
              }
            }
          }

          // Call Time Switch
          &.colCallTimeSwitch {
            &.disabled {
              .addToBtn {
                color: #d1d3d6;
                cursor: default;
                opacity: 0.6;
              }
            }

            .invited {
              margin-top: 4px;
              font-size: 16px;
              color: $pageTitleColor;
            }

            .addToBtn {
              width: 20px;
              height: 20px;
              border-radius: 10px;
              margin-left: auto;
              margin-right: auto;
              margin-top: 3px;
              background-color: $secondary-gray-12;
              color: $primary-gray-4;
              padding: 3px 5px;
              cursor: pointer;

              .icon {
                position: relative;
                left: -2px;
              }
            }
          }

          // other givining
          &.colOtherGiving {
            .icon {
              font-size: 28px;
            }
          }
        }
      }
    }

    .lstFooterDiv {
      background-color: #f5f5f5;
      height: 35px;
      font-size: 16px;
      line-height: 18px;
      padding: 8px 10px;
    }
  }

  .detailDiv {
    float: left;
    width: 340px;
    margin-left: 20px;

    .rankingDetailsDetailDiv {
      margin-top: 25px;

      .rankingDetailHeaderDiv {
        height: 44px;
        margin-bottom: 5px;
        width: 100%;
        background: linear-gradient(0deg, rgba(222, 222, 222, 1) 0%, rgba(217, 217, 217, 1) 20.07%, rgba(232, 232, 232, 1) 100%);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        border: 1px solid $primary-gray-4;

        .btnDiv {
          float: left;
          width: calc((100% - 4px) / 4);
          height: 44px;

          &:hover {
            background: linear-gradient(0deg, #c4e8fe 0%, #c0e7fe 20.07%, #d6effe 100%);
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;

            &.disabled {
              background: none;
            }
          }

          &.disabled {
            .icon,
            .text {
              color: $secondary-gray-1;
              cursor: default;
            }
          }

          .text {
            font-size: 10px;
            line-height: 11px;
            white-space: nowrap;
            margin-left: 12px;
            margin-right: 12px;
            margin-top: 6px;
            color: $iconText;
            text-align: center;
          }

          .icon {
            color: $primary-gray-5;
            text-align: center;
            font-size: 18px;
            line-height: 19px;
            margin-top: 3px;

            &.icon-more-details {
              font-size: 24px;
              margin-top: -1px;
            }
          }
        }

        .sepBar {
          float: left;
          width: 1px;
          height: 100%;
          background-color: $whiteText;
        }

        &::after {
          @include clearFloat;
        }
      }

      .rankingDetailDiv {
        .topSection {
          border: 1px solid #dddede;
          border-radius: 4px;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
          background-color: $whiteText;
          padding: 15px;
          margin-bottom: 5px;

          .scoreSectionDiv {
            width: 50px;
            display: inline-block;
            position: absolute;

            .scoreDiv {
              height: 40px;
              border-radius: 5px;

              &.hideColor {
                &.political-spectrum-bar-democrat,
                &.political-spectrum-bar-democrat-lite,
                &.political-spectrum-bar-neutral,
                &.political-spectrum-bar-republican,
                &.political-spectrum-bar-republican-lite {
                  background: none;
                  background-color: #a4b58e;
                }
              }

              .text {
                text-align: center;
                font-size: 20px;
                line-height: 1em;
                width: 100%;
                padding-top: 10px;
                color: $whiteText;
              }
            }
          }

          .namePhotoDiv {
            display: inline-block;
            width: calc(100% - 50px);
            position: relative;

            .photoDiv {
              display: inline-block;
              padding-right: 10px;
              position: absolute;
              width: 66px;

              &.hasProfile {
                img {
                  cursor: pointer;
                }
              }

              img {
                border: 1px solid #a7a9ac;
                position: relative;
                display: inline-block;
              }

              .profileImg {
                background-image: url("../../img/linkedin-10x10.svg");
                background-size: 10px 10px;
                background-repeat: no-repeat;
                width: 10px;
                height: 10px;
                clear: both;
                text-align: right;
                position: relative;
                top: -14px;
                margin-left: calc(auto - 4px);
                padding-left: 4px;
                padding-bottom: 4px;
              }
            }

            .nameEmailDiv {
              display: inline-block;
              padding-right: 10px;
              position: relative;

              &.hasPhoto {
                left: 65px;
                width: calc(100% - 65px);
              }

              .name {
                font-weight: $bold;
                font-size: 23px;
                line-height: 24px;
                color: $blackText;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }

              .nameShorter {
                display: inline-block;
                max-width: calc(100% - 25px);
                font-weight: $bold;
                font-size: 23px;
                line-height: 24px;
                color: $blackText;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
              }

              .profileImg {
                display: inline-block;
                background-image: url("../../img/linkedin-20x20.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                width: 16px;
                height: 16px;
                position: relative;
                top: -3px;
                margin-left: 5px;
                cursor: pointer;
              }

              .email,
              .phone {
                font-size: 14px;
                line-height: 15px;
                color: $blueText;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                margin-top: 3px;
              }

              .phone {
                color: $blackText;
              }

              .doNotContact {
                font-weight: $bold;
                font-size: 20px;
                color: $primary-gray-4;
              }
            }

            &::after {
              @include clearFloat;
            }
          }
        }

        .contactDetailsSection {
          border: 1px solid #dddede;
          border-radius: 4px;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
          background-color: $whiteText;
          padding: 15px;
          margin-bottom: 5px;

          .detailEntry {
            font-size: 14px;
            line-height: 18px;

            .textLabel {
              width: 30%;
              text-align: right;
              float: left;
              color: $lightTextColor;

              &::after {
                content: ":";
              }
            }

            .textLabel2 {
              width: 30%;
              text-align: right;
              float: left;
              color: $lightTextColor;
              min-height: 10px;
            }

            .textVal {
              width: 70%;
              float: left;
              padding-left: 5px;
              font-weight: $semiBold;
            }

            &::after {
              @include clearFloat;
            }
          }
        }

        .contributionSection {
          border: 1px solid #dddede;
          border-radius: 4px;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
          background-color: $whiteText;
          padding: 15px;
          margin-bottom: 5px;

          &.academic {
            .contribSection {
              background-color: transparent;

              .entry {
                .contribName {
                  width: calc(100% - 145px) !important;
                }
              }
            }
          }

          .givingAvailDiv {
            margin-bottom: 10px;

            .amt {
              display: inline-block;
              font-size: 19px;
              font-weight: $semiBold;
              color: $greenText2;

              &.noMore {
                color: $primary-gray-6;
              }
            }

            .text {
              display: inline-block;
              margin-left: 2px;
              font-size: 12px;
              color: $blackText;
            }
          }

          .contribSepDiv {
            height: 10px;
            width: 100%;
          }

          .contribTitle {
            font-size: 13px;
            color: $titleText;
          }

          .noContrib {
            font-size: 13px;
            line-height: 15px;
            color: $lightTextColor;
            text-align: center;
            padding: 5px 20px 10px;
          }

          .contribSubTitle {
            font-size: 12px;
            color: $titleText;
            margin-left: 10px;
            margin-bottom: 4px;
          }

          .contribSection {
            font-size: 13px;
            color: $blackText;
            background-color: $secondary-gray-12;
            padding-top: 5px;
            border-radius: 4px;
            margin-left: 10px;

            &.correlatedCamp {
              color: #62991a;
            }

            &.oppoCamp {
              color: $titleText;
            }

            .contribDiv {
              padding-bottom: 5px;

              .contribLst {
                margin-left: 20px;

                .entry {
                  .contribKeyContrib {
                    float: left;
                    width: 10px;
                    height: 10px;
                    border-radius: 5px;
                    background-color: $pageTitleColor;
                    position: relative;
                    top: 3px;
                  }

                  .contribNoKeyContrib {
                    float: left;
                    width: 10px;
                    height: 10px;

                    &::before {
                      content: ' ';
                    }
                  }

                  .contribName {
                    float: left;
                    width: calc(100% - 155px);
                    text-align: left;
                    min-height: 2px;
                    margin-left: 5px;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                  }

                  .contribAmount {
                    float: left;
                    width: 65px;
                    text-align: right;
                    margin-left: 5px;
                  }

                  .contribDate {
                    float: left;
                    width: 65px;
                    text-align: right;
                  }

                  &::after {
                    @include clearFloat;
                  }
                }
              }
            }
          }
        }

        .callSheetSection {
          text-align: right;
          margin-top: 5px;
          margin-bottom: 15px;

          .callSheetBtn {
            height: 34px;
          }
        }

        .graphsSection {
          border: 1px solid #dddede;
          border-radius: 4px;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
          background-color: $whiteText;
          padding: 15px;
          margin-bottom: 5px;
          min-height: 165px;

          .msgText {
            color: $lightTextColor;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            padding: 5px 20px 10px;
          }

          .subSections {
            float: left;

            .sectionTitle {
              font-size: 13px;
              line-height: 14px;
              color: $titleText;
              text-align: center;
            }
          }

          .contributionSpreadDiv {
            width: 50%;
            padding-right: 5px;

            .sectionTitle {
              width: 100px;
              margin-left: 13px;
            }

            .pieDivOuter {
              width: 100%;
              height: 100px;
              margin-top: 5px;
              margin-left: 13px;

              .pieDivInner {
                width: 100px;
                height: 100px;
                position: relative;
                left: 5px;
              }
            }
          }

          .trendChartDiv {
            width: 50%;
            height: 100px;
            padding-left: 5px;

            .trendingDiv {
              margin-top: 15px;

              .labelDiv {
                font-size: 12px;
                color: $titleText;

                .leftLabel {
                  float: left;
                }

                .rightLabel {
                  float: right;
                  margin-right: 5px;
                }

                &::after {
                  @include clearFloat;
                }
              }

              .graphDiv {
                width: 100%;
                height: 20px;
                position: relative;

                .circle {
                  width: 20px;
                  height: 20px;
                  border-radius: 10px;
                  z-index: 20;
                  position: absolute;

                  &.leftCircle {
                    left: 3px;
                  }

                  &.rightCircle {
                    left: calc(100% - 25px);
                  }
                }

                .bar {
                  // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#298fe6+0,d6c0f0+50,fc3a3a+100
                  background: #298fe6;
                  // Old browsers
                  background: -moz-linear-gradient(left, #298fe6 0%, #d6c0f0 50%, #fc3a3a 100%);
                  // FF3.6+
                  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#298fe6), color-stop(50%,#d6c0f0), color-stop(100%,#fc3a3a));
                  // Chrome,Safari4+
                  background: -webkit-linear-gradient(left, #298fe6 0%,#d6c0f0 50%,#fc3a3a 100%);
                  // Chrome10+,Safari5.1+
                  background: -o-linear-gradient(left, #298fe6 0%,#d6c0f0 50%,#fc3a3a 100%);
                  // Opera 11.10+
                  background: -ms-linear-gradient(left, #298fe6 0%,#d6c0f0 50%,#fc3a3a 100%);
                  // IE10+
                  background: linear-gradient(to right, #298fe6 0%,#d6c0f0 50%,#fc3a3a 100%);
                  // W3C
                  position: absolute;
                  width: calc(100% - 44px);
                  height: 10px;
                  left: 21px;
                  top: 5px;
                  z-index: 10;
                }

                .slider {
                  position: absolute;
                  width: 4px;
                  height: 24px;
                  top: -2px;
                  z-index: 20;
                  font-size: 24px;
                  line-height: 24px;

                  .icon {
                    position: relative;
                    left: -11px;
                  }
                }
              }
            }

            .imgFooter {
              position: relative;
              top: 55px;

              img {
                width: 149px;
              }
            }
          }

          &::after {
            @include clearFloat;
          }
        }

        .givingHistorySection {
          border: 1px solid #dddede;
          border-radius: 4px;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.12);
          background-color: $whiteText;
          padding: 15px;
          margin-bottom: 5px;

          .title {
            font-size: 13px;
            line-height: 1;
            text-align: center;
            color: $lightTextColor;
            font-weight: $semiBold;
          }

          .subtitle {
            font-size: 11px;
            line-height: 1;
            text-align: center;
            color: $lightTextColor;
            font-weight: $semiBold;
          }

          .legendSection {
            width: 90%;
            margin: 10px auto;

            .entry {
              .blob {
                float: left;
                width: 16px;
                height: 16px;
                border-radius: 3px;
                margin-left: 5px;
              }

              &:not(:last-child) {
                margin-bottom: 5px;
              }

              .text {
                float: left;
                font-size: 11px;
                color: $titleText;
                margin-left: 5px;
              }

              &::after {
                @include clearFloat;
              }
            }
          }

          .noDataMsg {
            color: $lightTextColor;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            padding: 5px 20px 10px;
          }

          .graphBody {
            width: 90%;
            margin-left: auto;
            margin-right: auto;

            .graphDiv {
              width: calc(100% - 40px);
              float: left;
              position: relative;

              .graphBars {
                width: 100%;

                .barDiv {
                  height: 20px;
                  width: 100%;

                  .bar {
                    width: calc(100% - 15px);
                    position: relative;
                    top: 10px;
                    height: 1px;
                    margin-left: 5px;
                    margin-right: 10px;
                    border-style: solid;
                    border-top-width: 1px;
                    border-bottom-width: 0;
                    border-color: $primary-gray-3;
                  }
                }
              }

              .graph {
                position: absolute;
                z-index: 1;
                top: 0;
                height: calc(100% - 16px - 10px); // 16 - coluumn label, 10 half the height of a bar
                width: 100%;
                margin-top: 10px;

                .barDiv {
                  width: calc((100% - 15px) / 5);
                  height: 100%;
                  float: left;

                  &:first-child {
                    margin-left: 5px;
                  }

                  .mainBar {
                    position: relative;
                    width: calc(100% - 10px);
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    margin-left: 5px;
                    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
                  }

                  .otherBar {
                    position: relative;
                    width: calc(100% - 10px);
                    border-top-left-radius: 3px;
                    border-top-right-radius: 3px;
                    margin-left: 5px;
                  }
                }

                &::after {
                  @include clearFloat;
                }
              }

              .graphScale {
                height: 16px;

                .text {
                  float: left;
                  width: calc((100% - 15px) / 5);
                  text-align: center;
                  font-size: 13px;
                  line-height: 14px;
                  margin-top: 2px;
                  color: $lightTextColor;

                  &:first-child {
                    margin-left: 5px;
                  }
                }

                &::after {
                  @include clearFloat;
                }
              }
            }

            .rightScale {
              width: 40px;
              height: 100%;
              float: left;

              .vals {
                float: left;
                text-align: left;

                .text {
                  height: 20px;
                  color: $lightTextColor;
                  font-size: 13px;
                  position: relative;
                  top: 2px;
                }
              }

              .unitLabel {
                float: left;
                transform: rotate(-90deg);
                position: relative;
                top: -51px;
                width: 100%;
                left: 10px;
                white-space: nowrap;
                font-size: 10px;
                color: $secondary-gray-2;
              }

              &::after {
                @include clearFloat;
              }
            }

            &::after {
              @include clearFloat;
            }
          }
        }

        .contributionGraphSection {
          margin-top: 25px;

          .title {
            font-size: 13px;
            text-align: left;
            color: $lightTextColor;
            font-weight: $semiBold;
          }

          .graphDiv {
            margin-top: 5px;

            .textLabel {
              font-size: 13px;
              line-height: 14px;
              color: $lightTextColor;
              float: left;

              &.textLeft {
                margin-left: 20px;
                margin-right: 5px;
              }
            }

            .dot {
              float: left;
              width: 14px;
              height: 14px;
              margin-right: 5px;
              background-color: $disabledText;
              border-radius: 7px;

              &.highlight {
                background-color: $pageTitleColor;
              }
            }

            &::after {
              @include clearFloat;
            }
          }
        }

        .prospectDetailsSection {
          margin-top: 10px;

          .subSections {
            float: left;
            width: 50%;
          }

          &::after {
            @include clearFloat;
          }
        }
      }
    }
  }

  &::after {
    @include clearFloat;
  }
}

.errorMsg {
  width: 100%;
  height: 450px;

  .msg {
    margin: 50px 20px 0;
    font-size: 18px;
    font-weight: $bold;
    text-align: center;
  }
}

.pieSlice {
  animation: dash 5s linear forwards;
}

// Ranking Section -- OLD
.rankingSection {
  margin-top: 15px;

  .column {
    float: left;
    margin: 0 10px;
    white-space: nowrap;
    min-height: 1px;
  }
  // NOTE: do not use min-width for the columns - handled in resize code
  .rankingSectionForPolitical {
    .col1 {
      /* propect */
      width: 70px;
      text-align: center;

      .columnHeader {
        width: 100%;
      }
    }

    .col2 {
      // name
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      & > a {
        text-decoration: none;
        color: $blueText;
        font-size: 16px;
      }

      & > a:focus {
        text-decoration: underline;
      }

      & > a:hover {
        text-decoration: underline;
      }
    }

    .col3 {
      // giving years
      width: 95px;
    }

    .col4 {
      // contributions
      width: 110px;
      text-align: center;

      .columnHeader {
        width: 100%;
      }
    }

    .col5 {
      // ranking
    }

    .col6 {
      // open/close notes and contributuions
      width: 25px;
      height: 11px;
    }

    .rankingDataDiv {
      .dataEntry {
        .dataColumns {
          .col1 {
            padding-top: 3px;

            .pos {
              text-align: center;
            }
          }

          .col2 {
            padding-top: 4px;
          }

          .col3 {
            padding-top: 4px;
          }

          .col4 {
            min-height: 30px;

            img {
              height: 18px;
              width: auto;
            }

            .imgContDiv {
              max-width: 100px;
              margin-left: auto;
              margin-right: auto;
              overflow: hidden;
              white-space: nowrap;
              font-size: 0;
              // needed to keep spacing of images correct
              text-align: center;

              .iconDiv {
                display: inline-block;

                &:not(:first-child) {
                  margin-left: 5px;
                }

                &.oldContrib {
                  opacity: 0.4;
                }
              }

              .popover {
                opacity: 1;
                font-size: 12px;

                .popup-content {
                  opacity: 1;
                }
              }

              .underMsg {
                color: black;
                font-size: 9px;
                position: absolute;
                margin-top: -1px;
                line-height: 1.1em;
              }

              .noContribThisCycle {
                opacity: 0.6;
              }

              .noLabel {
                margin-top: 5px;
              }
            }
          }

          .col5 {
            padding-top: 3px;

            .score {
              display: block;
              width: 33px;
              text-align: left;
              color: $primary-gray-6;
              font-weight: $semiBold;
              float: left;
              margin-right: 5px;
              padding-top: 2px;
            }

            .progress {
              margin-bottom: 0;
              position: relative;

              .progress-bar {
                text-align: left;
                overflow: hidden;
                position: absolute;

                .rankingValueInner {
                  position: absolute;
                  padding-left: 5px;
                  color: $whiteText;
                }

                .legendValueInner {
                  position: absolute;
                  padding-right: 5px;
                  color: $whiteText;
                  left: 100%;
                }
              }

              .rankingValueOuter {
                font-size: 12px;
                color: $blackText;
                padding-left: 5px;
                padding-top: 1px;
                background-color: inherit;
              }

              .legendValueOuter {
                font-size: 12px;
                color: $blackText;
                text-align: right;
                padding-right: 5px;
                padding-top: 2px;
                background-color: inherit;
                display: inline-block;
                width: 100%;
              }
            }
          }

          .col6 {
            padding-top: 4px;

            .openClose {
              padding: 4px;
              font-size: 14px;
              color: $primary-gray-6;
              width: 20px;
              height: 20px;
              cursor: pointer;

              &.disabled {
                color: $disabledText2;
                cursor: default;
              }
            }
          }

          &::after {
            content: '.';
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
          }
        }
      }
    }
  }

  .rankingHeaderDiv {
    min-width: 773px;
    border-bottom: 2px solid $prospectEntryBottomBorderColor;

    .columnHeader {
      text-transform: capitalize;
      font-size: 14px;
      color: $primary-gray-6;
      font-weight: bold;
      vertical-align: bottom;
    }

    &::after {
      content: '.';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }

  .rankingDataEmptyDiv {
    height: 150px;
    text-align: center;

    .msg {
      margin-top: 75px;
      font-size: 18px;
      font-weight: 600;
      color: $primary-gray-6;
    }
  }

  .rankingDataDiv {
    .dataEntry {
      border-bottom: 1px solid $prospectEntryBottomBorderColor;
      padding-top: 5px;
      padding-bottom: 2px;
      min-height: 30px;
      line-height: 1.1em;

      &:nth-child(odd) {
        background-color: $tan-bg-color;
      }

      .pos {
        span[class~=icon-check] {
          color: $pageTitleColor;
          font-size: 19px;
        }
      }

      .inviteBtn {
        position: relative;
        background-color: transparent;
        width: 24px;
        height: 23px;

        &:focus {
          outline: none;
          outline-offset: 0;
        }

        &:active {
          outline: none;
          outline-offset: 0;
          box-shadow: none;
        }

        span[class~=icon] {
          color: $grayBorder;
          font-size: 19px;
        }

        //button
        .icon {
          position: absolute;
          font-size: 20px;

          &.icon-user-half {
            color: $lightTextColor;
            top: 1px;
          }

          &.icon-add-user {
            color: $pageTitleColor;
            left: 8px;
            top: 6px;
          }
        }
      }

      .dataDetails {
        .frontBuffer {
          min-height: 2px;
          float: left;
        }

        .callSheetBtnDiv {
          float: left;
          min-height: 2px;

          .callSheetBtn {
            margin-top: 10px;
            width: 145px;
          }
        }

        .notesSection {
          min-height: 2px;
          float: left;

          .notesDiv {
            padding: 10px 10px 10px 0;
            font-size: 12px;
            display: none;

            .sectionHeader {
              text-transform: uppercase;
              font-weight: bold;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            .notesBody {
              width: 100%;
            }
          }
        }

        .contribSection {
          min-height: 2px;
          float: left;

          .contribDiv {
            .leftSide {
              float: left;
              font-size: 12px;
              line-height: 1.2em;
              width: 95%;

              .sectionHeader {
                text-transform: capitalize;
                font-weight: bold;
                overflow: hidden;
                text-overflow: ellipsis;
              }

              .contribSubDiv {
                float: left;
                padding-right: 10px;
                padding-bottom: 10px;

                .forHeader {
                  text-transform: capitalize;
                  font-weight: $semiBold;
                  overflow: hidden;
                  text-overflow: ellipsis;
                }

                .heading {
                  margin-left: 10px;
                }

                .contribTimeFrame {
                  margin-left: 10px;

                  &.outside {
                    opacity: 0.6;
                  }

                  .contribEntry {
                    margin-left: 10px;
                    width: 120px;

                    .contribAmount {
                      font-weight: $semiBold;
                      width: 60px;
                      display: inline-block;
                    }

                    .date {
                      display: inline-block;
                    }
                  }
                }

                &::after {
                  @include clearFloat;
                }
              }
            }

            .rightSide {
              float: right;
              width: 5%;
            }

            &::after {
              @include clearFloat;
            }
          }
        }

        &::after {
          content: '.';
          display: block;
          clear: both;
          visibility: hidden;
          line-height: 0;
          height: 0;
        }
      }
    }
  }

  // Footer for the ranking data
  .rankingFooterDiv {
    font-size: 11px;
    text-align: center;

    .whatShowingDiv {
      float: left;
    }

    .paginationDiv {
      float: right;

      div {
        float: left;

        a,
        span {
          border: 1px solid #dddddd;
          padding: 6px 12px;
          margin-left: -1px;
          text-decoration: none;
          color: $grayBorder;

          & > span[class~="icon"] {
            padding: 0;
            border: none;
            font-size: 10px;
          }

          &:hover {
            background-color: #eee;
          }
        }

        &.active {
          & > a,
          & > span {
            background-color: #337ab7;
            border-color: #337ab7;
            cursor: default;
            color: $whiteText;
          }

          & > a:focus {
            background-color: #eeeeee;
            border-color: #dddddd;
            color: #23527c;
            outline: none;
          }
        }

        &.disabled {
          & > span {
            background-color: #eee;
            color: #777777;
            cursor: not-allowed;
          }
        }
      }
    }

    .paginationDiv2 {
      margin-left: auto;
      margin-right: auto;
      height: 20px;
      display: inline-block;
      font-size: 12px;
      line-height: 1;

      div:nth-of-type(3) {
        margin-right: 3px;
      }

      div:nth-last-of-type(3) {
        margin-left: 3px;
      }

      div {
        float: left;
        font-size: 20px;
        color: $pageTitleColor;

        &.footable-page-arrow {
          padding-top: 1px;

          .prevArrow {
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-right: 10px solid #aaa;
          }

          .nextArrow {
            width: 0;
            height: 0;
            border-top: 7px solid transparent;
            border-bottom: 7px solid transparent;
            border-left: 10px solid #aaa;
          }
        }

        &.footable-page {
          margin: 0 1px;

          .pageNum {
            padding: 2px 6px;
            border: 1px solid transparent;
            border-radius: 2px;
            background-color: #edf0f2;
            font-size: 14px;
            font-weight: $semiBold;
            color: #498fc2;

            a {
              display: block;
              padding: 1px 4px;
              margin: -1px -4px;
              text-decoration: none;
            }
          }

          &.active {
            .pageNum {
              color: $whiteText;
              background-color: $primary-green-1;
            }
          }

          &.firstLast {
            padding-top: 2px;

            .pageNum {
              padding: 1px 2px;
              background-color: transparent;
              border: none;
            }
          }

          &.disabled {
            padding-top: 2px;

            .pageNum {
              padding: 2px 1px 2px 0;
              background-color: transparent;
              border: none;
            }
          }
        }

        &.footable-spacer {
          padding-left: 4px;
          padding-top: 4px;
          color: #337ab7;
          font-size: 14px;

          &::before {
            content: '...';
          }
        }
      }
    }

    .pickPageDiv {
      float: left;
      margin-left: 15px;

      .text {
        margin-top: 2px;
        margin-right: 5px;
        color: #8b979e;
        font-size: 12px;
      }

      .pageNum {
        margin-top: -2px;
        float: left;
        width: 35px;
        height: 20px;
        border-radius: 2px;
        border: 1px solid #e6e9eb;
        background-color: $whiteText;
        color: #8b970e;
        font-size: 12px;

        &:focus {
          outline: none;
          outline-offset: 0;
        }
      }

      .roundBtn {
        margin-left: 5px;
        margin-top: -2px;
        width: 20px;
        height: 20px;
        border: 1px solid transparent;
        border-radius: 10px;
        background-color: #c5c7c9;
        cursor: default;

        &.active {
          opacity: 1;
          cursor: pointer;
        }

        &.focus {
          background-color: #777;

          .roundBtnText {
            color: #eee;
          }
        }

        .roundBtnText {
          color: $whiteText;
          position: relative;
          left: 3px;
          top: 2px;
          font-size: 12px;
        }
      }
    }

    &::after {
      content: '.';
      display: block;
      clear: both;
      visibility: hidden;
      line-height: 0;
      height: 0;
    }
  }
}

// Ranking Details
.ranking-details {

  .details-div {
    min-height: 170px;
  }
}

// Ranking Legend
.rankingLegendModal {
  .legendValueDiv {
    margin-bottom: 5px;
  }

  .legendValueDiv::after {
    content: '';
    display: block;
    clear: both;
  }

  .legendValueDiv .img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    float: left;
  }

  .legendValueDiv .text {
    float: left;
  }
}

// Ranking Settings Dialog
.rankingCsvDownloadDiv,
.rankingSettingsDiv {
  font-size: 14px;
  line-height: 16px;
  color: $primary-gray-6;

  .textMsg {
    font-weight: $normal;
    color: $lightTextColor;
  }

  .header {
    font-weight: $semiBold;
  }

  .entry {
    padding: 0 10px;

    &.disabled {
      .label {
        color: $disabledText;
      }
    }
    // check box styling based on this articial
    //    http://code.stephenmorley.org/html-and-css/styling-checkboxes-and-radio-buttons/
    // hide the checkbox
    input[type=checkbox]:not(old) {
      width: 2em;
      margin: 0;
      padding: 0;
      font-size: 1em;
      opacity: 0;
    }

    // position the label
    input[type=checkbox]:not(old) + label {
      display: inline-block;
      margin-left: -2em;
      line-height: 1.5em;
    }

    // if disabled display lighter
    input[type=checkbox]:not(old):disabled + label {
      opacity: 0.5;
    }

    // use the first span to create the unchecked graphics
    input[type=checkbox]:not(old) + label > span {
      display: inline-block;
      width: 0.875em;
      height: 0.875em;
      margin: 0.25em 0.5em 0.25em 0.25em;
      border: 1px solid black;
      border-radius: 0.25em;
      vertical-align: bottom;
    }

    // insert the checkmark when selected
    input[type=checkbox]:not(old):checked + label > span:before {
      content: '✓';
      display: block;
      width: 1em;
      color: $blackText;
      font-size: 0.875em;
      line-height: 1em;
      text-align: center;
      text-shadow: 0 0 0.0714em #777;
      font-weight: bold;
    }

    .label {
      @include reset;
      font-size: 13px;
      display: inline-block;
      margin-left: 10px;
    }
  }
}

// Email popup
.detailSendEmailPopup {
  &.revupPopup {
    background-color: #e5e5e6 !important;
    padding: 5px !important;
    border-color: $primary-gray-4;
    min-width: 175px;

    &.top > .arrow {
      border-bottom-color: $primary-gray-4;
    }

    &.top > .arrow:after {
      border-bottom-color: #e5e5e6 !important;
    }
  }

  .entry {
    cursor: pointer;

    &:hover {
      background-color: $pageTitleColor;
      color: $whiteText;

      .emailAddr {
        text-decoration: underline;
      }
    }

    .emailAddr {
      font-size: 13px;
      line-height: 15px;
      color: $primary-gray-6;
      padding: 3px 10px;
    }
  }
}

// Page Menu
.rankingPageMenu {
  color: $whiteText;
  font-size: 13px;
  line-height: 1.1em;
  background-color: #66686b !important;
  padding: 0 !important;

  &.revupPopup.top > .arrow:after {
    border-bottom-color: #66686b !important;
  }

  .entry {
    height: 25px;
    padding: 5px;
    cursor: pointer;

    &:not(:last-of-type) {
      border-bottom: 1px solid $primary-gray-5;
    }

    &:last-of-type {
      padding-bottom: 0;
    }

    .text {
      float: left;
    }

    .icon {
      float: right;
      margin-left: 10px;
      color: $primary-gray-4;
    }

    &::after {
      @include clearFloat;
    }

    &:hover {
      background-color: #84888c;
    }

    &.disabled {
      color: $primary-gray-5 !important;
      pointer-events: none;
      cursor: default;
    }
  }
}

// Delete contact
.delConfirmDlg {
  .waitingDiv {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    background-color: rgba(0, 0, 0, .3);

    &.loadingDiv {
      margin: 0;

      .loading {
        top: calc((100% - 90px) / 2);
      }

      .loadingImg {
        top: 30px;
      }
    }
  }

  .content {
    min-height: 175px;
  }

  .leftSide {
    float: left;
    margin-right: 10px;

    .warningIcon {
      font-size: 24px;
      color: $secondary-orange-1;
    }
  }

  .rightSide {
    float: right;
    width: calc(100% - 35px);

    .msg {
      font-size: 16px;

      .msgBold {
        font-weight: $bold;
        display: inline-block;
      }

      .boldRed {
        color: $secondary-red-1;
        font-weight: $semiBold;
        display: inline-block;
      }

      &.newParagraph {
        margin-top: 10px;
      }
    }

    .dryRunResults {
      margin-top: 5px;

      .entry {
        height: 20px;

        .val {
          display: inline-block;
          margin-right: 10px;
        }

        .valSingle {
          display: inline-block;
        }

        .eVal {
          display: inline-block;
        }
      }
    }
  }

  &::after {
    @include clearFloat;
  }
}

// scroll bars
.rankingLstDiv::-webkit-scrollbar {
  -webkit-appearance: none;
}

.rankingLstDiv::-webkit-scrollbar:vertical {
  width: 11px;
}

.rankingLstDiv::-webkit-scrollbar:horizontal {
  height: 11px;
}

.rankingLstDiv::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white;
  // should match background, can't be transparent
  background-color: rgba(0, 0, 0, .25);
}

.rankingLstDiv::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 8px;
}
