// sass-lint:disable-all

@import "../stylesDefs.scss";

.skiningDlg {
    input {
        border: 1px solid #e2e2e2;
        padding: 3px 2px;

        &:focus {
            border-color: $primary-gray-4;
        }
    }

    .previewSection {
        background: none;
        background-color: $separatorBorder;
        border-radius: 3px;

        // header
        .headerDiv {
            height: 50px;
            background-color: transparent;

            .revupLogo {
                margin-left: 40px;
                padding-top: 5px;
                margin-bottom: 0;
                margin-top: 0;
            }

        }

        // content
        .contentContainerDiv {
            height: 340px;

            .contentContainer {
                width: calc(100% - 40px);
                padding-right: 15px;
                padding-left: 15px;
                margin-left: auto;
                margin-right: auto;

                .sideNav {
                    float: left;
                    width: 75px;
                    margin-top: 12px;
                    margin-right: 20px;
                    position: relative;

                    .tab {
                        background-color: $primary-gray-4 !important;
                        color: $whiteText;
                        padding: 5px 0;
                        border-radius: 4px;
                        //border-bottom-left-radius: 4px;
                        border-right: none;
                        margin-bottom: 5px;
                            .icon {
                                color: $icon-gray-1 !important;
                            }

                        &.active {
                            background-color: $pageTitleColor !important;
                            margin-right: -1px;
                            .icon {
                                color: $icon-green-1 !important;
                                margin-left: 4px;
                            }

                            .text {
                                color: $whiteText !important;
                                margin-top: 4px;
                                margin-left: 4px;
                            }
                        }

                        .icon {
                            font-size: 24px;
                            top: 7px;
                            position: relative;
                            color: $whiteText;
                            text-align: center;
                            margin-left: 4px;
                        }

                        .text {
                            color: $whiteText;
                            text-decoration: none;
                            font-size: 14px;
                            line-height: 14px;
                            font-weight: normal;
                            text-align: center;
                            position: relative;
                            top: -4px;
                            font-weight: bold;
                            margin-top: 4px;
                            margin-left: 4px;
                        }
                    }
                }

                .contentDiv {
                    float: left;
                    width: calc(100% - 105px);
                    border: 1px solid $separatorBorder;
                    padding: 10px 10px;
                    border-radius: 4px;
                    background-color: transparent;
                    height: 320px;

                    .imgDiv {
                        max-height: 250px;
                        overflow: hidden;
                        border: 1px solid transparent;
                        border-radius: 4px;

                        img {
                            width: 100%;
                            height: auto;
                            border: 1px solid transparent;
                            border-radius: 4px
                        }

                        .defaultBannerOrg {
                            color: white;
                            position: relative;
                            bottom: 60px;
                            text-align: center;
                        }

                    }

                    .cntlDiv {
                        margin-top: 10px;

                        .leftSide {
                            float: left;

                            .rankingBox {
                                position: relative;
                                top: 1px;
                                background: #a4b58e;
                                width: 41px;
                                margin-left: 7px;
                                margin-top: 3px;
                                border-radius: 4px;
                                padding: 3px;
                                color: $whiteText;

                                .text {
                                    text-align: center;

                                }
                            }
                        }

                        .rightSide {
                            float: right;

                            .lnkField {
                                display: inline;
                                font-size: 14px;
                                font-weight: 600;
                                float: left;
                                color: $blueText;
                                position: relative;
                                top: 8px;
                            }

                            .skinBtn {
                                background: rgb(121, 166, 73);
                                border : 1px solid $greenBtnBorder;
                                font-weight: $semiBold;
                                font-size: 14px;
                                color: $whiteText;
                                border-radius: 4px;
                                padding: 5px 10px;
                                line-height: 1px;
                                height: 34px;

                                &.secondary {
                                    background: #919ca1;
                                    //background : linear-gradient(0deg, rgba(98, 104, 113, 1) 0%, rgba(89, 92, 101, 1) 20.97%, rgba(109, 112, 123, 1) 100%);
                                    border-color : #848f94;
                                }
                            }

                            .secBtnField {
                                margin-left: 10px;
                                margin-right: 10px;
                            }

                            .primaryBtnField {
                            }
                        }

                        &:after {
                            @include clearFloat;
                        }
                    }
                }

                :after {
                    @include clearFloat;
                }
            }
        }
    }

    .settingSection {
        font-size: 13px;
        line-height: 15px;
        padding-top: 5px;

        .col1 {
            float: left;
            width: 30%;

            padding-right: 10px;
        }

        .col2 {
            float: left;
            width: 33%;

            padding-right: 10px;
            padding-left: 10px;

            .labelSideDiv {
                width: 150px !important;
            }

            .fieldSideDiv {
                width: calc(100% - 155px) !important;
            }
        }

        .col3 {
            float: left;
            width: 37%;

            padding-left: 10px;
            padding-right: 10px;

            .fieldGrp {
                padding-left: 15px !important;

                .labelSideDiv {
                    width: 160px !important;
                }

                .fieldSideDiv {
                    width: calc(100% - 185px) !important;
                }
            }
        }

        .header {
            font-weight: $bold;
            text-align: left;
        }

        .fieldGrp {
            .fieldDiv {
                &:not(:first-of-type) {
                    margin-top: 5px;
                }

                .labelSideDiv {
                    float: left;
                    width: 125px;
                    margin-right: 5px;

                    .text {
                        font-weight: $semiBold;
                        line-height: 1.1em;
                        text-align: right;
                        color: $primary-gray-6;
                        position: relative;
                        top: 4px;

                        &:after {
                            content: ':';
                        }
                    }
                }

                .fieldSideDiv {
                    float: left;
                    width: calc(100% - 130px);

                    .themeName {
                        width: 100%;
                        margin-right: 5px;
                        outline: 0;
                    }

                    .fileButton {
                        width: 90px;
                    }

                    .clearLogoBtn, .clearBannerBtn {
                        font-size: 14px;
                        font-weight: 600;
                        display: inline-block;
                        color: $blueText;
                        margin-top: 7px;
                        margin-left: 10px;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }

                        &.disabled {
                            &:hover {
                                text-decoration: none;
                                cursor: default;
                            }
                        }
                    }

                    .msg {
                        font-size: 12px;
                        color: $lightTextColor;
                    }

                    .radioDiv {
                        label {
                            font-size: 12px;
                            margin-left: 2px;
                            font-weight: $semiBold;

                            &:not(:last-child) {
                                margin-right: 10px;
                            }
                        }
                    }

                    .colorCntl {
                        width: 100%;
                        height: 20px;
                        //border: 1px solid $blackText;
                        background-color: $whiteText;

                        &.formatError {
                            border-color: $redText;
                            border-style: solid;
                        }

                        .colorInput {
                            border: none;
                            outline: 0;
                            width: calc(100% - 36px);

                            &.formatError {
                                color: $redText;
                            }
                        }
                    }
                }

                &:after {
                    @include clearFloat;
                }
            }

            .infoText {
                margin-top: 5px;
                font-size: 12px;
                line-height: 1.2em;
                color: $lightTextColor;
                width: 80%;
            }

            .singleLine {
                margin-top: 5px;

                .labelText {
                    position: relative;
                    top: 2px;
                    float: left;
                    font-weight: $semiBold;
                    margin-right: 5px;
                }

                input {
                    outline: 0;
                }

                .prospectInput {
                    width: 100px;

                    &:not(:first-child) {
                        margin-left: 10px;
                    }
                }

                .candidateIconName {
                    float: left;
                    width: 60px;
                    margin-right: 5px;
                }

                .candidateIconBox {
                    float: left;
                    height: 20px;
                    min-width: 30px;
                    max-width: 60px;
                    background-color: #90c3f0;

                    .text {
                        position: relative;
                        top: 2px;
                        padding-left: 5px;
                        padding-right: 5px;
                        color: $whiteText;
                        font-size: 13px;
                        text-align: center;
                    }
                }

                .prospectInput {
                    width: 110px;

                    &:not(:first-child) {
                        margin-left: 10px;
                    }

                    &:read-only {
                        color: $disabledText;
                    }
                }

                .ltText {
                    float: left;
                    color: $lightTextColor;
                    margin-right: 10px;
                }

                .medText {
                    float: left;
                }

                &:after {
                    @include clearFloat;
                }
            }

            .customMsg {
                font-size: 12px;
                color: $lightTextColor;
            }
        }
    }
}
