// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 *
 * Staffing page
 *
 */
.newStaffAdminContent {
    .grpBox {
        display: inline-table;
        width: 350px;
        min-height: 100px;
        border: 1px solid $primary-gray-4;
        border-radius: 5px;
        background-color: $whiteText;
        margin: 10px 20px;

        .header {
            height: 44px;
            border-bottom: 1px solid $primary-gray-4;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            background-color: $separatorBorder;
            font-size: 16px;
            padding: 10px 15px;
        }

        .body {
            padding: 15px;

            .entry {
                &.center {
                    text-align: center;
                }

                &:not(:first-child) {
                    margin-top: 15px;
                }

                a {
                    &.revupBtnDefault {
                        display: inline-block;
                        font-size: 14px;
                        line-height: 14px;
                        padding-top: 8px;
                    }

                    &:focus, &:hover {
                        color: #fff !important;
                        text-decoration: none !important;
                    }
                }
            }
        }
    }
}

footer {
    .footerDiv {
        .footerText {
            .footerAppVersion {
                display: inline;
            }
        }
    }
}
