{#% extends "campaign_admin/base_campaign_admin.html" %#}
{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load debug_utils %}
{% load revup_extras %}
{% load waffle_tags %}


{% block page_css %}
<link href="{% static "css/apps/campaign_admin.css" %}" rel="stylesheet">
<link href="{% static "css/apps/skiningTool.css" %}" rel="stylesheet">
<link href="{% static "css/apps/editBillingInfo.css" %}" rel="stylesheet">
{% endblock page_css %}

{% block content %}
<div class="configAnalysis">
    <div class="bannerText">
        The Analysis Configuration is key to RevUp in order to rank your contacts. Try to fill in as much information as possible, the more that we have to work with, the better and more effective your ranking results will be.
    </div>

    <script type="text/javascript">
        var fieldsLst = [];
    </script>
    <div class="configAnalysisSection">
        <div class="saveUpdateWait">
            <div class="loadingDiv">
                <div class="loading"></div>
                <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
            </div>
        </div>
        <nav class="lstSection" aria-labelledby="accountSettings">
         <!-- the following buttons will be displayed when the new Settings page and their corresponding tabs are implemented -->
                <h1 id="accountSettings" class="accountSettingsNavTitle">
                    Account Settings
                </h1>

                {% if user.current_seat.has_admin_access %}
                    <div class="entry revupBtnDefault editBillingDetails">
                        <a tabindex="2" href="#">
                            <div class="title">
                                Edit Billing Info
                            </div>
                        </a>
                    </div>
                {% endif %}

               <!-- <div class="entry">
                    <a tabindex="1" href="{% url 'account_edit_user' %}">
                        <div class="title">
                            Edit User information
                        </div>
                    </a>
                </div>

                {% if account_profile.product.features.RAISERS %}
                    <div class="entry revupBtnDefault">
                        <a tabindex="3" href="{% url 'campaign_admin_fundraisers' %}">
                            <div class="title">
                                Manage Users
                            </div>
                        </a>
                    </div>
                {% endif %}

                    <div class="entry revupBtnDefault skinningBtn">
                        <a tabindex="4" href="#">
                            <div class="title">
                                Skinning
                            </div>
                        </a>
                    </div>

                <div class="entry revupBtnDefault contactCleanupBtn">
                    <a tabindex="5" href="#">
                        <div class="title">
                            Contact Cleanup
                        </div>
                    </a>
                </div> -->
        {% block page_foot_scripts %}
             <script src="{% static "js/apps/editBillingInfo.js" %}" charset="uft-8"></script>
            {% for id, question_set in question_sets.items %}
                <div class="entry revupBtnDefault" questionSetId="{{question_set.id}}" detailurl="{% url "question_set_api-detail" account.id analysis_config.id question_set.id %}">
                    <a tabindex="6" href="#"></a>
                    <div class="title">{{question_set.label}}</div>
                    <script type="text/javascript">
                        var tmp = '{{question_set.fields | jsonify}}';
                        tmp = tmp.replace(/\&\#39\;/g, "\"");

                        var obj = new Object();
                        obj.fields = tmp;
                        obj.readUrl =  "{% url "question_set_api-detail" account.id analysis_config.id question_set.id %}";
                        obj.readDetailsUrl = "{% url "question_set_data_api-detail" account.id analysis_config.id question_set.id "questionSetDataId" %}";
                        obj.createUrl = "{% url "question_set_data_api-detail" account.id analysis_config.id question_set.id "questionSetDataId" %}";
                        obj.updateUrl = "{% url "question_set_data_api-detail" account.id analysis_config.id question_set.id "questionSetDataId" %}";
                        obj.deleteUrl = "{% url "question_set_data_api-detail" account.id analysis_config.id question_set.id "questionSetDataId" %}";
                        obj.allowMultiple = '{{question_set.allow_multiple}}';
                        obj.title = '{{question_set.title}}';
                        fieldsLst[{{question_set.id}}] = obj;
                    </script>
                </div>
            {% endfor %}
        {% endblock page_foot_scripts %}
        </nav>
        <div class="detailsSection">
            <div class="detailsLoading" style="height:450px">
                <div class="loadingDiv">
                    <div class="loading"></div>
                    <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                </div>
            </div>
            <div class="detailsData" style="display:none">
            </div>
        </div>
    </div>

{% endblock content %}
