{% extends "shared/sections/base_authenticated.html" %}

{% load humanize %}
{% load staticfiles %}
{% load view_router %}

{% block title %}Campaign Admin - RevUp{% endblock %}
{% block campaign_admin %}active{% endblock %}

{% block content %}
<div class="campaignAdmin">
    {% block breadcrumbs %}
        {% if request.breadcrumbs %}
        <ol class="breadcrumb">
            {% for breadcrumb in request.breadcrumbs %}
                {% if forloop.last %}
                    <li class="active">{{ breadcrumb.name }}</li>
                {% else %}
                    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
    {% endblock breadcrumbs %}

   <div class="pageHeader">
        {% route "polcam" %}
            <div class="section candidateDiv">
                <div class="heading">candidate</div>
                <div class="data">
                    <div class="dataText">{{ account.first_name }} {{ account.last_name }}</div>
                </div>
            </div>
            <div class="section electionDiv">
                <div class="heading">year</div>
                <div class="data">
                    <div class="dataText">{{ account.election }}</div>
                </div>
            </div>
            <div class="section partyDiv">
                <div class="heading">party</div>
                <div class="data">
                    <div class="dataText">{{ account.party }}</div>
                </div>
            </div>
            <div class="section platformDiv">
                <div class="heading">platform issues</div>
                <div class="data">
                    <div class="dataText">{{ account.issues|join:", " }}</div>
                </div>
            </div>
        {% elifroute "polcom" %}
            <div class="section candidateDiv">
                <div class="heading">committee</div>
                <div class="data">
                    <div class="dataText">{{ account.committee_name }}</div>
                </div>
            </div>
            <div class="section partyDiv">
                <div class="heading">party</div>
                <div class="data">
                    <div class="dataText">{{ account.party }}</div>
                </div>
            </div>
            <div class="section platformDiv">
                <div class="heading">platform issues</div>
                <div class="data">
                    <div class="dataText">{{ account.issues|join:", " }}</div>
                </div>
            </div>
        {% elifroute "university" %}
        <div class="section universityDiv">
            <div class="heading">Main Campaign</div>
            <div class="data">
                <div class="dataText">{{ account.name }}</div>
            </div>
        </div>
        <div class="sectionRight">
            <div class="btnContainer" {% block adminHeaderActionBtn %}{% endblock %}>
                <button class="revupBtnDefault editCampaignBtn" type="button">Edit Campaign</button>
                {# <button class="revupBtnDefault uploadDataBtn" type="button">Upload External Data</button> #}
            </div>
        </div>
        {% endroute %}
    </div>

    {% route "polcam" "polcom" %}
        <div class="imageSelectors">
            <div class="imageSection">
                <div class="imageDiv">
                    {% if account.banner %}
                        <img class="accountImg" src="{{ MEDIA_URL }}{{ account.banner }}" />
                    {% else %}
                        <img class="accountImg" src="{% static "img/sample-460x170.png" %}" />
                    {% endif %}
                </div>
            </div>
            <div class="btnSection">
                <button class="revupBtnDefault editCampaignBtn" type="button">Edit Campaign</button>
                <button class="revupBtnDefault createEventBtn" type="button">Create Event</button>
                <button class="revupBtnDefault addUserBtn" type="button">Add User</button>
                <button class="revupBtnDefault viewFundraisersBtn" type="button">View Fundraisers</button>
                <button class="revupBtnDefault uploadDataBtn" type="button">Upload External Data</button>
            </div>
        </div>
    {% endroute %}

    {% route "university" %}
    <div class="fundEventSection">
        <div class="tabHeader">
            <div class="tab tabFund active" tabBody="fundraiserGuts">
                <div class="label">Fundraiser</div>
            </div>
            <div class="tab tabEvent disabled" tabBody="eventGuts">
                <div class="label">Events</div>
            </div>
        </div>
        <div class="guts">
            <div class="fundraiserGuts">
                {% block fundraiserGuts %}Fundriaser{% endblock fundraiserGuts %}
            </div>
            <div class="eventGuts" style="display:none">
                {% block eventGuts %}Fundriaser{% endblock eventGuts %}
            </div>
        </div>
    </div>
    {% endroute %}
</div>
{% endblock %}

{% block page_foot_scripts %}
    <script type="text/javascript">
    </script>

    {% block extra_footer_admin %} {% endblock %}
{% endblock %}
