{% extends "campaign_admin/base_campaign_admin.html" %}

{% load humanize %}
{% load staticfiles %}
{% load view_router %}

{% block extra_boostrap_css %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
{% endblock extra_boostrap_css %}

{% block page_css %}
<link href="{% static "css/apps/campaign_admin.css" %}" rel="stylesheet">
{% endblock page_css %}

{% block title %}Events - RevUp{% endblock %}
{% block campaign_admin_event %}active{% endblock %}
{% block campaign_admin %}{% endblock %}

{% block content %}
<div class="campaignAdmin events">
    {% block breadcrumbs %}
        {% if request.breadcrumbs %}
        <ol class="breadcrumb">
            {% for breadcrumb in request.breadcrumbs %}
                {% if forloop.last %}
                    <li class="active">{{ breadcrumb.name }}</li>
                {% else %}
                    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
    {% endblock breadcrumbs %}

    <div class="eventSection">
        <div class="preHeaderDiv">
            <div class="leftSide">
                <button class="revupBtnDefault btnSmall addNewEventBtn">Add New Event</button>
            </div>
{#            <div class="rightSide">#}
{#                <div class="eventSearch"></div>#}
{#            </div>#}
        </div>

        <div class="headerDiv">
            <div class="column col1">
                <div class="headerText">Events</div>
            </div>
            <div class="column col2">
                <div class="headerText">Price Points ($)</div>
            </div>
            <div class="column col3">
                <div class="headerText">Goal ($)</div>
            </div>
            <div class="column col4">
                <div class="headerText">Date</div>
            </div>
            <div class="column col5">
            </div>
        </div>

        <div class="addNewEventDiv">
            <div class="fieldSectionDiv">
                <div class="column col1">
                    <input type="text" class="newEventName" placeholder="Enter Event Name">
                    <div class="requiredField">*Required</div>

                    <div class="newOrgHeaderDiv">
                        <div class="title">Fundraiser:</div>
                        <button class="revupBtnDefault btnSmall eventAddOrganizerBtn">Add Another</button>
                    </div>
                    <div class="organizerDiv">
                        <div class="organizerEntry">
                            <div class="neworganizer" orgId="-1" aa style="height:22px;"></div>
                            <div class="newfundraisertype"></div>
                            <div class="icon icon-delete-circle orgRemoveEventFromUserBtn"></div>
                        </div>
                    </div>
                </div>

                <div class="column col2">
                    <div class="pricePointContainer">
                        <input type="text" class="newPricePoint" placeholder="Dollars">
                        <input type="text" class="newPricePoint" placeholder="Dollars">
                    </div>
                </div>

                <div class="column col3">
                    <input type="text" class="newGoal" placeholder="$ Amount">
                </div>

                <div class="column col4">
                    <div class="eventDateContainer">
                        <input type="text" class="newEventDate dateinput" placeholder="Date">
                        <div class="icon icon-calendar"></div>
                    </div>
                    <div class="requiredField">*Required</div>
                </div>

                <div class="column col5"></div>
            </div>

            <div class="btnSectionDiv">
                <div class="column col1">
                    <button class="revupBtnDefault btnSmall eventDeleteEventBtn disabled">Delete Event</button>
                </div>
                <div class="column col2"></div>
                <div class="column col3"></div>
                <div class="column col4">
                    <div class="cancelBtn">Cancel</div>
                    <button class="revupBtnDefault btnSmall saveBtn disabled">Save</button>
                </div>
            </div>
        </div>

        <div class="eventsDataDiv">
            {% if events %}
                {% for event in events %}
                    <div class="eventData">
                        <div class="column col1">
                            <a href="{% url "campaign_admin_event_detail" event.id %}">{{ event.event_name }}</a>
                        </div>
                        <div class="column col2"></div>
                        <div class="column col3">
                            ${{ event.goal|intcomma }}
                        </div>
                        <div class="column col4">
                            {{ event.event_date|date:"SHORT_DATE_FORMAT" }}
                        </div>
                        <div class="column col5">
                            <div class="openClose closed icon icon-triangle-rounded-dn"></div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="noEventData">
                    <div class="msg">No Events Scheduled</div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block page_foot_scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{% static "js/apps/events.js" %}"></script>

<script type="text/javascript">
    // load events
    var eventTemplate = {
        eventUsersApi:              "{% url "event_users_api-list" account.id "eventId" %}",
        eventUsersAddToEventApi:    "{% url "event_users_api-list" account.id "eventId" %}",
        eventUsersDeleteToEventApi: "{% url "event_users_api-detail" account.id "eventId" "userId" %}",
        eventDeleteApi:             "{% url "events_api-detail" account.id "eventId" %}",
        eventUpdateApi:             "{% url "events_api-detail" account.id "eventId" %}",
        eventCreateApi:             "{% url "events_api-list" account.id %}",
        eventGetListApi:            "{% url "events_api-list" account.id %}",
        getOrganizerApi:            "{% url "account_seats_api-list" account.id %}",

        userId:                 {{ request.user.id }},
        accountId:              {{ account.account_head_id }},
    };

    events.loadAndDisplay(eventTemplate);

</script>
{% endblock page_foot_scripts %}


{% comment %}
    Javascript Sections
{% block initJSBlock %}
{% endblock initJSBlock %}
{% endcomment %}
