<div class="input-group">
    <div class="btn-group btn-input clearfix input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
            <span data-bind="label">{{ external_link.system_name|default:form.initial.system_choices.0.0 }}</span>&nbsp;<span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
        {% for pair in form.initial.system_choices %}
            <li><a href="#">{{ pair.0 }}</a></li>
        {% endfor %}
        </ul>
    </div>
    <input name="system_names" type="hidden" value="{{ external_link.system_name|default:form.initial.system_choices.0.0 }}"/>
    <input class="form-control listwidget" name="link_keys" type="text" value="{{ external_link.link_key }}"/>
</div>
