{% extends "campaign_admin/base_campaign_admin.html" %}

{% load humanize %}
{% load staticfiles %}
{% load view_router %}

{% block extra_boostrap_css %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
{% endblock extra_boostrap_css %}

{% block page_css %}
<link href="{% static "css/apps/fundraisers.css" %}" rel="stylesheet">
{% endblock page_css %}

{% block title %}Fundraisers - RevUp{% endblock %}
{% block campaign_admin_fundraisers %}active{% endblock %}
{% block campaign_admin %}{% endblock %}


{% block getting_started_target %}#raisers{% endblock %}


{% block content %}
<div class="campaignAdmin fundraisers">
    {% block breadcrumbs %}
        {% if request.breadcrumbs %}
        <ol class="breadcrumb">
            {% for breadcrumb in request.breadcrumbs %}
                {% if forloop.last %}
                    <li class="active">{{ breadcrumb.name }}</li>
                {% else %}
                    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol>
        {% endif %}
    {% endblock breadcrumbs %}

    <div class="newRaiserDiv">
        <div class="newRaisersLoading">
            <div class="loadingDiv">
                <div class="loading"></div>
                <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
            </div>
        </div>
        <div class="newRaiserLayout">
            <div class="lstSection">
                <div class="newRaiserHeader">
                    <div class="leftSide">
                        <button class="revupBtnDefault btnSmall btnLtGray addNewRaiserBtn">Add Raiser</button>
                        {% if account.available_seats != None %}
                            <div class="seatMsgDiv">
                                <span class="seatsLabel">Available Seats:&nbsp;</span>
                                <span class="seatsFree">{{ account.available_seats }}</span>
                                &nbsp;of&nbsp;
                                <span class="totalSeats">{{ account.seat_count }}</span>
                            </div>
                        {% endif %}
                    </div>
                    <div class="rightSide">
                        <div class="organizerSearch"></div>
                    </div>
                </div>

                <div class="newRaiserLstDiv">
                    <div class="lstLoadDiv">
                        <div class="loadingDiv">
                            <div class="loading"></div>
                            <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                        </div>
                    </div>

                    <div class="dataDiv">
                        <div class="headerDiv">
                            <!-- name -->
                            <div class="column colName">
                                <div class="headerText">Name</div>
                            </div>

                            <div class="slider">
                                <div class="sOuter"></div>
                                    <div class="sInner"></div>
                                        <div class="sCenter"></div>
                                    <div class="sInner"></div>
                                <div class="sOuter"></div>
                            </div>

                            <!-- email -->
                            <div class="column colEmail">
                                <div class="headerText">Email</div>
                            </div>

                            <div class="slider">
                                <div class="sOuter"></div>
                                    <div class="sInner"></div>
                                        <div class="sCenter"></div>
                                    <div class="sInner"></div>
                                <div class="sOuter"></div>
                            </div>

                            <!-- status -->
                            <div class="column colStatus">
                                <div class="headerText">Status</div>
                            </div>
                        </div>

                        <div class="lstDiv" tabindex="1">
                        </div>
                    </div>
                </div>
                <div class="newRaiserFooter"></div>
            </div>

            <div class="detailSection">
                <div class="detailLoading">
                    <div class="loadingDiv">
                        <div class="loading"></div>
                        <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                    </div>
                </div>
                <div class="outerDetailDiv">
                    <div class="detailDiv"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block page_foot_scripts %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{% static "js/apps/campaign_admin/home.js" %}"></script>

<script type="text/javascript" src="{% static "js/apps/fundraisers.js" %}"></script>

<script type="text/javascript">
    // load fundraisers
    var fundraiserTemplate = {
        // url's
        getOrganizerApi:            "{% url "account_seats_api-list" account.id %}?verbosity=2",
        getOrganizerDetails:        "{% url "account_seats_api-list" account.id %}" + "orgId/",
        newOrganizerApi:            "{% url "account_seats_api-list" account.id %}",
        revokeOrgInvitApi:          "{% url "account_seats_api-detail" account.id "orgId" %}",
        resendOrgInvitApi:          "{% url "account_seats_api-list" account.id %}"+ "seatId/resend_email",
        getOrganizerEventsApi:      "{% url "account_seats_api-detail" account.id "orgId" %}",
        getRolesListApi:            "{% url "roles_api-list" account.id  %}",
        eventGetListApi:            "{% url "events_api-list" account.id %}",
        eventUsersAddToEventApi:    "{% url "event_users_api-list" account.id "eventId" %}",
        eventUsersDeleteToEventApi: "{% url "event_users_api-detail" account.id "eventId" "userId" %}",
        addRoleToUserApi:           "{% url "seat_roles_api-list" account.id "seatId" %}",
        deleteRoleFromUserUrl:      "{% url "seat_roles_api-detail" account.id "seatId" "roleId" %}",

        resizeMinCol: {
            colName: 110,
            colEmail: 150,
            colStatus: 150,
        },

        winResizeCol: {
            colName: 0.4,
            colEmail: 0.6,
        },

        {% route "university" %}
            isAcademic:             true,
            isPoliticalCampaign:    false,
            isPoliticalCommittee:   false,
        {% elifroute "polcam" %}
            isAcademic:             false,
            isPoliticalCampaign:    true,
            isPoliticalCommittee:   false,
        {% elifroute "polcom" %}
            isAcademic:             false,
            isPoliticalCampaign:    false,
            isPoliticalCommittee:   true,
        {% elifroute "nonprofit" %}
            isAcademic:             false,
            isPoliticalCampaign:    false,
            isPoliticalCommittee:   false,
        {% elseroute %}
            isAcademic:             false,
            isPoliticalCampaign:    false,
            isPoliticalCommittee:   false,
        {% endroute %}

        userId:                 {{ request.user.id }},
        accountId:              {{ account.account_head_id }},
        seatId:                 "{{ user.current_seat.id }}",
    };
    fundraisers.loadAndDisplay(fundraiserTemplate);
</script>
{% endblock page_foot_scripts %}


{% block initJSBlock %}
{% endblock initJSBlock %}
