{% extends "campaign_admin/base_campaign_admin.html" %}

{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% block title %}Team: {{ mg.name }}{% endblock %}
{% block adminHeaderActionBtn %}style="display:none;"{% endblock %}
{% block page_header %}Team: {{ mg.name }}{% endblock page_header %}


{% block fundraiserGuts %}
<div class="teamSection">
    <div class="teamSectionLst">
        <div class="headerDiv">
            {# Fundraiser #}
            <div class="column col1">
                <div class="headerText">Fundraisers</div>
            </div>

            {# First Login #}
            <div class="column col2">
                <div class="headerText">First Login</div>
            </div>

            {# Last Login #}
            <div class="column col3">
                <div class="headerText">Last Login</div>
            </div>

            {# Contacts Uploaded - checkmark #}
            <div class="column col4">
                <div class="headerText">Contacts Uploaded</div>
            </div>

            {# Last Analyzed #}
            <div class="column col5">
                <div class="headerText">Last Analyzed</div>
            </div>

            {# Number Contacted #}
            <div class="column col6">
                <div class="headerText">No. Contacted</div>
            </div>
        </div>

        <div class="dataDiv"></div>
    </div>
</div>

{% endblock fundraiserGuts %}


{% block extra_footer_admin %}
<script type="text/javascript">
    $(function ()  {
        var fundCols = [{className: 'col1', bFixed: false, percent: 0.99},
                        {className: 'col2', bFixed: true},
                        {className: 'col3', bFixed: true},
                        {className: 'col4', bFixed: true},
                        {className: 'col5', bFixed: true},
                        {className: 'col6', bFixed: true}];

        function resize() {
            var $fundLst = $('.fundraiserGuts .teamSection .teamSectionLst');
            sizeColumns($fundLst, fundCols);
        }
        resize();
        $(window).on('resize', resize);

        function formatDate(dateStr)
        {
            if (dateStr == "") {
                return '-';
            }

            dateStr = dateStr.split('-');
            if ($.isArray(dateStr)) {
                if (dateStr.length == 3) {
                    var sTmp = [];
                    sTmp.push(dateStr[1]);
                    sTmp.push(dateStr[2]);
                    sTmp.push(dateStr[0]);

                    return sTmp.join('/');
                }
                else if (dateStr.length == 2) {
                    sTmp.push(dateStr[1])
                    sTmp.push(dateStr[0]);

                    return sTmp.join('/');
                }
                else {
                    return sTmp[0];
                }
            }
            else {
                return dateStr;
            }
        }

        function displayTeamMembers(memberLst)
        {
            var $teamLst = $('.fundraiserGuts .teamSection .teamSectionLst');
            var $dataDiv = $('.dataDiv', $teamLst)
            dTmp = [];

            if ((memberLst == undefined) || (memberLst.length == 0)) {
                dTmp = ['<div class="noTeamMember">No Team Members</div>'];
            }
            else {
                for (var i = 0; i < memberLst.length; i++) {
                    var m = memberLst[i];
                    var sTmp = [];

                    sTmp.push('<div class="dataEntry">');
                        sTmp.push('<div class="dataColumns">');
                            // fundraiser
                            var name = '';
                            if (m.last_name == "") {
                                name = '<div class="inactive">' + m.email + '</div>';
                            }
                            else {
                                name += m.last_name;
                                if (m.first_name != "") {
                                    name += ', ';
                                    name += m.first_name;
                                }
                            }
                            sTmp.push('<div class="column col1">');
                                sTmp.push(name);
                            sTmp.push('</div>');

                            // first login
                            sTmp.push('<div class="column col2">');
                                sTmp.push(formatDate(m.first_login));
                            sTmp.push('</div>')

                            // last login
                            sTmp.push('<div class="column col3">');
                                sTmp.push(formatDate(m.last_login));
                            sTmp.push('</div>')

                            // contacts uploaded
                            sTmp.push('<div class="column col4">');
                                if (m.has_contacts) {
                                    sTmp.push('<div class="icon icon-check"></div>')
                                }
                                else {
                                    sTmp.push('-');
                                }
                            sTmp.push('</div>')

                            // last analyzed
                            sTmp.push('<div class="column col5">');
                                sTmp.push(formatDate(m.last_analyzed));
                            sTmp.push('</div>')

                            // no contacts
                            sTmp.push('<div class="column col6">');
                                sTmp.push(m.prospect_count);
                            sTmp.push('</div>')
                        sTmp.push('</div>');
                    sTmp.push('</div>');

                    // add entry to array of entries
                    dTmp.push(sTmp.join(''));
                }
            }

            // display
            $dataDiv.html(dTmp.join(''));
        }; // displayTeamMembers

        // fetch the data
        $.ajax({
            url: "{% url "management_group_tracker_api-list" seat.account.id mg.id %}",
            type: "GET"
        })
        .done(function(r) {
            displayTeamMembers(r.results);
            resize();
        })
        .fail(function(r) {
        })
    });
</script>
{% endblock %}
