{% extends "campaign_admin/base_campaign_admin.html" %}

{% load humanize %}
{% load staticfiles %}

{% block page_css %}

<link type="text/css" rel="stylesheet" href="{% static "css/apps/payment.css" %}"/>
{% endblock %}

{% block content %}
<div class="payment">
    <div class="header">
        <img class="revupLogo" src="{% static "img/Logo-Black.svg" %}"/>
    </div>

    <div class="backgroundImgDiv">
        <img class="expiredLogo" src="{% static "img/expired-cc.svg" %}"/>
    </div>

    <div class="msgDiv">
        Your credit card has expired!  You must enter a valid credit card before continuing with RevUp.
    </div>

    <div class="btnDiv">
        <input type="button" class="continueBtn editBillingDetails" value="Continue">
    </div>
</div>
{% endblock content %}
