{% extends "campaign_admin/base_campaign_admin.html" %}

{% load humanize %}
{% load staticfiles %}

{# No breadcrumbs on this page #}
{% block breadcrumbs %}{% endblock breadcrumbs %}

{% block content %}

<div class="container">
    <div class="jumbotron">
        <h3>Your account is not active</h3>
        <p><small>Please email <a href="mailto:info@revup.com">info@revup.com</a>
            to get your account activated.</small></p>
    </div>
</div>

{% endblock content %}