{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3>Onboard New {{ account_profile.title }}:</h3>

<p>

    Name: {{ first_name }} {{ last_name }}<br/>
    Email: {{ email }}<br/>
    Phone: {{ phone }}<br/>
    Organization: {{ title }}<br/>
    Onboarded by: {{ onboarded_by.first_name }} {{ onboarded_by.last_name }}<br/>
    Payment in Self-Onboard: {{ pay_in_flow }}<br />
    Product:<br />
    <ul>
        <li>RevUp {{ product.title }}</li>
        <li>{{ product.default_analyze_limit|intcomma }} contacts</li>
        <li>${{ product.get_price|floatformat:2|intcomma }}</li>
    </ul><br />
{% if referral_partner %}
    Referral Partner: {{ referral_partner }}
{% endif %}
</p>


</body>
</html>
