<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3>Qualifier Customer Inquiry for {{ product_type }}</h3>

<p>

    Name: {{ first_name }} {{ last_name }}<br/>
    Email: {{ email }}<br/>
    Phone: {{ phone }}<br/>
    Organization: {{ title }}<br/>
{% if product %}
    Product: RevUp {{ product.title }}, {{ product.default_analyze_limit }} contacts <br/>
{% endif %}
{% if office_type %}
    Office-type: {{ office_type }} <br/>
    Constituents: {{ constituents }} <br/>
{% endif %}

</p>


</body>
</html>