<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<h3>Client Self-Onboarding Complete</h3>

<p>

    Client: {{ account.organization_name }}<br/>
    Name: {{ user.first_name }} {{ user.last_name }}<br/>
    Phone: {{ token.phone }}<br/>
    Email: {{ user.email }}<br/>
    Client Type: {{ title }}<br/>

    {% if product %}
        Product: RevUp {{ product.title }}, {{ product.default_analyze_limit }} contacts
    {% endif %}<br/>

    <br/>
    <b>Account Configuration Info:</b><br/>
    Candidate First Name: {{ configuration_info.first_name }}<br/>
    Candidate Last Name: {{ configuration_info.last_name }}<br/>
    Gender: {{ configuration_info.gender }}<br/>
    Ethnicity: {{ configuration_info.ethnicity }}<br/>
    Birth Date: {{ configuration_info.birthdate }}<br/>
    Birth City: {{ configuration_info.birth_city }}<br/>
    Birth State: {{ configuration_info.birth_state }}<br/>
    <br/>
    Political Party: {{ configuration_info.party}}<br/>
    Is Incumbent: {{ configuration_info.is_incumbent }}<br/>
    Election Date: {{ configuration_info.election }}<br/>
    Election Cycle Start Date: {{ configuration_info.cycle_start }}<br/>
    Type Of Office: {{ configuration_info.office_category }}<br/>
    Office Sought: {{ configuration_info.office }}<br/>
    District Number: {{ configuration_info.district_number }}<br/>
    State: {{ configuration_info.state }}<br/>
    Contribution Limit: {{ configuration_info.limit }}<br/>
    <br/>
    Graduate Schools:
        <ul>
            {% for ally in configuration_info.graduate_schools %}
                <li>{{ ally }}</li>
            {% endfor %}
        </ul>
    Undergraduate Schools:
        <ul>
            {% for ally in configuration_info.undergraduate_schools %}
                <li>{{ ally }}</li>
            {% endfor %}
        </ul>
    High Schools:
        <ul>
            {% for ally in configuration_info.high_schools %}
                <li>{{ ally }}</li>
            {% endfor %}
        </ul>
    <br/>
    Issues:
        <ul>
            {% for ally in configuration_info.issues %}
                <li>{{ ally }}</li>
            {% endfor %}
        </ul>
    <br/>
    Allies:
        <ul>
            {% for ally in configuration_info.allies %}
                <li>{{ ally }}</li>
            {% endfor %}
        </ul>
    Opponents:
        <ul>
            {% for ally in configuration_info.opponents %}
                <li>{{ ally }}</li>
            {% endfor %}
        </ul>
    <br/>
</p>


</body>
</html>