<style>

 /* Font Definitions */
 @font-face
	{font-family:Helvetica;
	panose-1:0 0 0 0 0 0 0 0 0 0;}
@font-face
	{font-family:"Cambria Math";
	panose-1:2 4 5 3 5 4 6 3 2 4;}
@font-face
	{font-family:Calibri;
	panose-1:2 15 5 2 2 2 4 3 2 4;}
@font-face
	{font-family:"Segoe UI";
	panose-1:2 11 6 4 2 2 2 2 2 4;}
 /* Style Definitions */
 p.MsoNormal, li.MsoNormal, div.MsoNormal
	{margin-top:0in;
	margin-right:0in;
	margin-bottom:8.0pt;
	margin-left:0in;
	line-height:107%;
	font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
h1
	{mso-style-link:"Heading 1 Char";
	margin-right:0in;
	margin-left:0in;
	font-size:24.0pt;
	font-family:"Times New Roman",serif;
	font-weight:bold;}
h3
	{mso-style-link:"Heading 3 Char";
	margin-right:0in;
	margin-left:0in;
	font-size:13.5pt;
	font-family:"Times New Roman",serif;
	font-weight:bold;}
p
	{margin-right:0in;
	margin-left:0in;
	font-size:12.0pt;
	font-family:"Times New Roman",serif;}
p.MsoAcetate, li.MsoAcetate, div.MsoAcetate
	{mso-style-link:"Balloon Text Char";
	margin:0in;
	margin-bottom:.0001pt;
	font-size:9.0pt;
	font-family:"Segoe UI",sans-serif;}
span.Heading1Char
	{mso-style-name:"Heading 1 Char";
	mso-style-link:"Heading 1";
	font-family:"Times New Roman",serif;
	font-weight:bold;}
span.Heading3Char
	{mso-style-name:"Heading 3 Char";
	mso-style-link:"Heading 3";
	font-family:"Times New Roman",serif;
	font-weight:bold;}
span.BalloonTextChar
	{mso-style-name:"Balloon Text Char";
	mso-style-link:"Balloon Text";
	font-family:"Segoe UI",sans-serif;}
.MsoChpDefault
	{font-size:11.0pt;
	font-family:"Calibri",sans-serif;}
.MsoPapDefault
	{margin-bottom:8.0pt;
	line-height:107%;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:1.0in 1.0in 1.0in 1.0in;}
div.WordSection1
	{page:WordSection1;}
 /* List Definitions */
 ol
	{margin-bottom:0in;}
ul
	{margin-bottom:0in;}

</style>

<div class=WordSection1>

<!--
<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;background:white;vertical-align:baseline'><span
style='font-size:25.0pt;line-height:1.4em;font-family:Helvetica;color:#333333'>RevUp Terms of Use</span></p>
-->

<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;background:white;vertical-align:baseline'><i><span
style='font-size:18.0pt;line-height:1.4em;font-family:Helvetica;color:#333333;border:none windowtext 1.0pt;
padding:0in'>IMPORTANT: YOU ARE GRANTING ACCESS TO YOUR CONTACTS</span></i></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:white;vertical-align:baseline'><span style='font-size:12.0pt;
font-family:Helvetica;color:#686868'>I understand that, pursuant to these Terms
of Use, RevUp Software Inc. (“<b><span style='border:none windowtext 1.0pt;
padding:0in'>RevUp</span></b>“), is granting me access to services (such
services, collectively, the “<b><span style='border:none windowtext 1.0pt;
padding:0in'>Service</span></b>“) that RevUp provides to the organization
giving me my account credentials (my “<b><span style='border:none windowtext 1.0pt;
padding:0in'>Subscribing Client</span></b>“) . I understand that that my access
to and use of the Service is subject to the service agreement (the “<b><span
style='border:none windowtext 1.0pt;padding:0in'>Service Agreement</span></b>“)
entered into between RevUp and the Subscribing Client and to the following
conditions:</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Access to My Contacts</span></b><span style='font-size:12.0pt;
font-family:Helvetica;color:black'>. I agree that RevUp may, with my consent,
obtain information from certain of my email, messaging, social media, or other
third-party accounts (my “<b><span style='border:none windowtext 1.0pt;
padding:0in'>Third Party Accounts</span></b>“) relating to the identities of my
contacts, associates, or other persons connected to me through my Third Party
Accounts (my “<b><span style='border:none windowtext 1.0pt;padding:0in'>Contacts</span></b>“).
I further agree that RevUp may, subject to the Service Agreement, use my
Contacts and other information obtained from my Third Party Accounts with my
consent to provide the Service to me. RevUp will delete my Contacts list when
my use of the Service is discontinued.   </span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Access to Donor Information</span></b><span style='font-size:12.0pt;
font-family:Helvetica;color:black'>. I acknowledge and agree that the name (and
any other identifying information that I consent to share) of Contacts that I
contact through the Service and any donated amounts and notes input by me
(collectively, “Donor Information”) will be accessible by Client and that RevUp
may, subject to the Service Agreement, use Donor Information to provide the
Service to Client. I represent and warrant that I have the right to share that
information with Client</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Notification of Compromised Account</span></b><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>. I will notify the
Subscribing Client immediately in the event that I become aware that the security
of the Fundraiser Account’s login information has been breached.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>4.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Restrictions on Use of the Service</span></b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>. I understand that there are restrictions on use of the Service
because it embodies RevUp’s and other people’s intellectual property and
because it needs to be safe for everyone to use, so I agree that I won’t:<br>
<br>
</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>1.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><i><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Respecting IP</span></i><span style='font-size:12.0pt;font-family:
Helvetica;color:black'>&nbsp;– Copy, reproduce, modify, translate, prepare
derivative works of, de-compile, reverse engineer, disassemble or otherwise
attempt to derive source code from the software underlying the Service, or use,
evaluate, or view the Service for the purpose of designing, modifying, or
otherwise creating any environment, program, or infrastructure or any portion
thereof, which performs functions similar to the functions performed by the
Service, or transmit any material that may infringe the intellectual property
rights or other rights of third parties, or remove, obscure, or alter any
copyright notice, trademarks, logos and trade names, or other proprietary
rights notices affixed to, or contained within the Service;</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>2.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><i><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Complying with laws</span></i><span style='font-size:12.0pt;
font-family:Helvetica;color:black'>&nbsp;– Use the Service to violate any law
or regulation, or access the Service from any country or territory where the
contents of the Service are illegal;</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>3.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><i><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>No hacking please</span></i><span style='font-size:12.0pt;
font-family:Helvetica;color:black'>&nbsp;– Disable, impair, disrupt, or otherwise
interfere with the normal operation of the Service using any means, including
without limitation hacking, malware deployment, or password mining, or access
content or features of the Service for which I have not registered, or use any
robot, spider, scraper, or other automated means to access the Service for any
purpose without our express written permission, or bypass our robot exclusion
files or other measures we may use to prevent or restrict access to the
Service;</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>4.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><i><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>I’m really me</span></i><span style='font-size:12.0pt;font-family:
Helvetica;color:black'>&nbsp;– Impersonate another person or entity, or access
another user’s account without that user’s permission, or enable or allow
others to access the Service using my authorization to use the Service, or
share RevUp passwords with any third party or encourage any other user to share
his or her RevUp password, or use the Service on behalf of any unauthorized
third party;</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>5.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><i><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Bad stuff</span></i><span style='font-size:12.0pt;font-family:
Helvetica;color:black'>&nbsp;– Misrepresent the source, identity, or content of
information transmitted via the Service, or use the Service in connection with
pornographic, threatening, embarrassing, hateful, racially or ethnically
insulting, libelous, or otherwise inappropriate content or behavior.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>5.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>RevUp’s Disclaimers</span></b><span style='font-size:12.0pt;
font-family:Helvetica;color:black'>. I UNDERSTAND THAT REVUP DISCLAIMS ALL
WARRANTIES, CONDITIONS, OR REPRESENTATIONS (EXPRESS OR IMPLIED, ORAL, OR WRITTEN)
WITH RESPECT TO THE SERVICE OR ANY SUPPORT RELATED THERETO, INCLUDING ANY AND
ALL WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
NON-INFRINGEMENT, NON-INTERFERENCE, ACCURACY OF DATA, AND WARRANTIES ARISING
FROM A COURSE OF DEALING. I UNDERSTAND THAT NEITHER REVUP NOR ITS LICENSORS OR
SERVICE PROVIDERS WILL BE LIABLE FOR ANY DAMAGES RESULTING FROM OR IN
CONNECTION WITH THE USE OF THE SERVICE.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>6.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Limitations on RevUp’s Liability</span></b><span style='font-size:
12.0pt;font-family:Helvetica;color:black'>. I understand that, to the fullest
extent permitted under applicable law, RevUp will have no liability to me with
respect to any use of the Service or reliance upon any of the information
obtained through the Service.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>7.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>RevUp’s Ownership</span></b><span style='font-size:12.0pt;
font-family:Helvetica;color:black'>. I acknowledge that RevUp owns and operates
the Service, and that the visual interfaces, graphics, design, compilation,
information, computer code, products, software (including any downloadable
software), services, and all other elements of the Service (the “<b><span
style='border:none windowtext 1.0pt;padding:0in'>Materials</span></b>“) belong
to RevUp and are protected by applicable intellectual property laws. Except as
expressly authorized by RevUp, I agree not to sell, license, distribute, copy,
download, print, scan, modify, publicly perform or display, transmit, publish,
edit, adapt, create derivative works from, or otherwise make unauthorized use
of the Materials.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>8.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Privacy Policy</span></b><span style='font-size:12.0pt;font-family:
Helvetica;color:black'>. I understand that the information accessed through the
Service may include personal information of individuals. Access, use,
disclosure, and other treatment of this information are limited by the terms of
RevUp’s Privacy Policy, the Service Agreement, and in certain cases, applicable
law. The RevUp Privacy Policy (available at http://www.revup.com/ privacy/) is
hereby incorporated into these Terms of Use by reference.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>9.<span
style='font:7.0pt "Times New Roman"'>&nbsp;&nbsp;&nbsp; </span></span><b><span
style='font-size:12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Feedback</span></b><span style='font-size:12.0pt;font-family:Helvetica;
color:black;border:none windowtext 1.0pt;padding:0in'>. I grant RevUp a
perpetual, irrevocable, worldwide, royalty-free, fully paid, unrestricted right
and license to use and exploit any and all feedback I provide to RevUp
regarding the features and performance of the Service and any information
regarding any and all failures, errors, or other malfunctions in the Service.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>10.<span
style='font:7.0pt "Times New Roman"'> </span></span><b><span style='font-size:
12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Termination</span></b><span style='font-size:12.0pt;font-family:
Helvetica;color:black'>. I understand that my use of the Service is subject to
and contingent upon the Service Agreement. I further understand that my access
to the Service may be revoked and my account with the Service may be terminated
at any point in time and without prior notice and without cause.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>11.<span
style='font:7.0pt "Times New Roman"'> </span></span><b><span style='font-size:
12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Confidentiality</span></b><span style='font-size:12.0pt;
font-family:Helvetica;color:black'>. All of the information contained in this
Service is considered confidential. I agree that I will maintain the
information in confidence and will not disclose any of the information to
others except as expressly and jointly permitted in writing by the Subscribing
Client and RevUp.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>12.<span
style='font:7.0pt "Times New Roman"'> </span></span><b><span style='font-size:
12.0pt;font-family:Helvetica;color:black;border:none windowtext 1.0pt;
padding:0in'>Violations</span></b><span style='font-size:12.0pt;font-family:
Helvetica;color:black'>. I acknowledge that RevUp will have the right to
investigate and prosecute violations of any of the above to the fullest extent
of the law, and that RevUp may involve and cooperate with law enforcement
authorities in prosecuting users who violate these Terms of Use. I acknowledge
that RevUp has the right to monitor my access to or use of the Service and to
disclose any relevant information in accordance with the RevUp Privacy Policy,
the Service Agreement, and these Terms of Use.</span></p>

<p class=MsoNormal style='margin:0in;margin-bottom:.0001pt;text-indent:-.25in;
line-height:19.5pt;background:white;vertical-align:baseline'><span
style='font-size:12.0pt;font-family:Helvetica;color:black'>13.<span
style='font:7.0pt "Times New Roman"'> </span></span><span style='font-size:
12.0pt;font-family:Helvetica;color:black'>Notice regarding Apple. To the extent
that I am using the App on an iOS device, I further acknowledge and agree to
the terms of this Section 13. I acknowledge that these Terms of Use is between me
and RevUp only, not with Apple, and Apple is not responsible for the Service or
the content thereof. Apple has no obligation whatsoever to furnish any
maintenance and support service with respect to the Service. In the event of
any failure of the Service to conform to any applicable warranty, I may notify
Apple and Apple will refund any applicable purchase price for the App to me;
and, to the maximum extent permitted by applicable law, Apple has no other
warranty obligation whatsoever with respect to the Service. Apple is not
responsible for addressing any claims by me or any third party relating to the
Service or use of the Service, including, but not limited to: (i) product
liability claims; (ii) any claim that the Service fails to conform to any
applicable legal or regulatory requirement; and (iii) claims arising under
consumer protection or similar legislation. Apple is not responsible for the
investigation, defense, settlement and discharge of any third-party claim that
the Service or my possession and use of the mobile application infringe that
third party's intellectual property rights. I agree to comply with any
applicable third-party terms when using the Service. Apple and Apple's
subsidiaries are third-party beneficiaries of these Terms of Use, and upon my
acceptance of these Terms of Use, Apple will have the right (and will be deemed
to have accepted the right) to enforce these Terms of Use against me as a
third-party beneficiary of these Terms of Use. I hereby represent and warrant
that (i) I am not located in a country that is subject to a U.S. Government
embargo, or that has been designated by the U.S. Government as a
&quot;terrorist supporting&quot; country; and (ii) I am not listed on any U.S.
Government list of prohibited or restricted parties.</span></p>

<p class=MsoNormal align=center style='margin-bottom:0in;margin-bottom:.0001pt;
text-align:center;line-height:normal;background:white;vertical-align:baseline'><b><span
style='font-size:12.0pt;font-family:Helvetica;color:#686868;border:none windowtext 1.0pt;
padding:0in'>By using the Service you agree to these Terms of Use. If you do
not agree to these Terms of Use, do not use the Service.</span></b></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:white;vertical-align:baseline'><span style='font-size:12.0pt;
font-family:Helvetica;color:#686868'>&nbsp;</span></p>

<p class=MsoNormal style='margin-bottom:0in;margin-bottom:.0001pt;line-height:
normal;background:white;vertical-align:baseline'><span style='font-size:12.0pt;
font-family:Helvetica;color:#686868'>Last Updated: August 2018</span></p>

<p class=MsoNormal>&nbsp;</p>

</div>
