{% extends "shared/sections/base_authenticated.html" %}
{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}
{% load waffle_tags %}

{% block call_time_manager %}active{% endblock %}
{% block title %}Call Time - RevUp{% endblock title %}



{% block page_css %}
<link href="{% static "css/apps/callTimeMgr.css" %}" rel="stylesheet">
<link href="{% static "css/apps/callsheet2.css" %}" rel="stylesheet">
<link href="{% static "css/apps/prospect.css" %}" rel="stylesheet">
<link href="{% static "css/apps/legend.css" %}" rel="stylesheet">
{% endblock page_css %}

{% block getting_started_target %}#call-time-1{% endblock %}

{% block content %}
<div class="pageHeader">
</div>

<div class="callTimeMgrDiv">
    <div class="callTimeMgrLoading" style="height:500px;width:100%">
        <div class="loadingDiv">
            <div class="loading"></div>
            <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
        </div>
    </div>

    <div class="lstSection">
        <div class="tabDiv">
            <div class="tab active individualTab">
                <div class="text">Individual Call Sheets</div>
            </div>
            <div class="tab groupTab">
                <div class="text">Call Sheet Groups</div>
            </div>
        </div>

        <div class="buttonBar">
            <div class="individualBtnDiv">
                <div class="leftSide">
                    <div class="iconBtnDiv">
                        <div class="btnDiv addToGrpBtn">
                            <div class="text">Add To Group</div>
                            <div class="icon icon-add-to-group"></div>
                        </div>
                    </div>
                    <div class="iconBtnDiv">
                        <div class="btnDiv printBtn">
                            <div class="text">Batch Print</div>
                            <div class="icon icon-print"></div>
                        </div>
                    </div>
                    <div class="iconBtnDiv">
                        <div class="btnDiv deleteBtn">
                            <div class="text">Delete</div>
                            <div class="icon icon-trash"></div>
                        </div>
                    </div>
                </div>
                <div class="rightSide">
                    <div class="searchBar"></div>
                </div>
            </div>
            <div class="grpBtnDiv" style="display: none;">
                <div class="leftSide">
                    <div class="iconBtnDiv">
                        <div class="btnDiv hamburgerBtn">
                            <div class="icon icon-hamburger"></div>
                        </div>
                    </div>
                    <div class="iconBtnDiv">
                        <div class="btnDiv printBtn">
                            <div class="text">Batch Print</div>
                            <div class="icon icon-print"></div>
                        </div>
                    </div>
                    <div class="iconBtnDiv">
                        <div class="btnDiv assignBtn">
                            <div class="text">Assign</div>
                            <div class="icon icon-call-time-mgr"></div>
                        </div>
                    </div>
                    <div class="iconBtnDiv">
                        <div class="btnDiv unassignBtn">
                            <div class="text">Unassign</div>
                            <div class="icon icon-unassign"></div>
                        </div>
                    </div>
                    <div class="iconBtnDiv">
                        <div class="btnDiv deleteBtn">
                            <div class="text">Delete</div>
                            <div class="icon icon-trash"></div>
                        </div>
                    </div>
                </div>
                <div class="rightSide">
                    <div class="searchBar"></div>
                </div>
            </div>
        </div>

        <div class='lstsSection'>

            <div class="lstHeader individualHeader">
                <div class="column colSelect" minColWidth="30">
                    <div class="columnHeader">Select</div>
                </div>
                <div class="slider">
                    <div class="sOuter"></div>
                    <div class="sInner"></div>
                    <div class="sCenter"></div>
                    <div class="sInner"></div>
                    <div class="sOuter"></div>
                </div>
                <div class="column colIndividualName" minColWidth="230">
                    <div class="columnHeader">Name</div>
                </div>
                <div class="slider">
                    <div class="sOuter"></div>
                    <div class="sInner"></div>
                    <div class="sCenter"></div>
                    <div class="sInner"></div>
                    <div class="sOuter"></div>
                </div>
                <div class="column colMemberGrp" minColWidth="100">
                    <div class="columnHeader">Member of Group</div>
                </div>
                <div class="slider">
                    <div class="sOuter"></div>
                    <div class="sInner"></div>
                    <div class="sCenter"></div>
                    <div class="sInner"></div>
                    <div class="sOuter"></div>
                </div>
                <div class="column colDate" minColWidth="65">
                    <div class="columnHeader">Date Added</div>
                </div>
            </div>

            <div class="lstHeader grpHeader">
                <div class="column colGrpName" minColWidth="180">
                    <div class="columnHeader">Name</div>
                </div>
                <div class="slider">
                    <div class="sOuter"></div>
                    <div class="sInner"></div>
                    <div class="sCenter"></div>
                    <div class="sInner"></div>
                    <div class="sOuter"></div>
                </div>
                <div class="column colGrpCount" minColWidth="70">
                    <div class="columnHeader">Member Count</div>
                </div>
                <div class="slider">
                    <div class="sOuter"></div>
                    <div class="sInner"></div>
                    <div class="sCenter"></div>
                    <div class="sInner"></div>
                    <div class="sOuter"></div>
                </div>
                <div class="column colDateCreated" minColWidth="65">
                    <div class="columnHeader">Date Created</div>
                </div>
                <div class="slider">
                    <div class="sOuter"></div>
                    <div class="sInner"></div>
                    <div class="sCenter"></div>
                    <div class="sInner"></div>
                    <div class="sOuter"></div>
                </div>
                <div class="column colDateAssigned" minColWidth="65">
                    <div class="columnHeader">Date Assigned</div>
                </div>
                <div class="slider">
                    <div class="sOuter"></div>
                    <div class="sInner"></div>
                    <div class="sCenter"></div>
                    <div class="sInner"></div>
                    <div class="sOuter"></div>
                </div>
                <div class="column colAssignedTo" minColWidth="120">
                    <div class="columnHeader">Assigned To</div>
                </div>
            </div>

            <div class="callTimeMgrLstLoading" style="height:350px;width:100%;display:none">
                <div class="loadingDiv">
                    <div class="loading"></div>
                    <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                </div>
            </div>

            <div class="lstDiv individualLst">
                <div class="individualWrapper">
                </div>
            </div>

            <div class="lstDiv grpLst">
                <div class="grpWrapper">
                </div>
            </div>

            <div class="individualFooter"></div>
            <div class="grpFooter"></div>

        </div>
    </div>

    <div class="detailsSection">
        <div class="detailsLoading" style="height:350px;width:100%; display: none;">
            <div class="loadingDiv">
                <div class="loading"></div>
                <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
            </div>
        </div>

        <div class="detailsDiv" style="display:none">
            <div class="detailsIndividualDiv">
                <div class="detailsHeaderDiv">
                    <div class="btnDiv sendMailBtn disabled" data-email="">
                        <div class="text">Send Email</div>
                        <div class="icon icon-email"></div>
                    </div>
                    <div class="sepBar"></div>
                    <div class="btnDiv prospectDetailsBtn disabled">
                        <div class="text">More Details</div>
                        <div class="icon icon-more-details"></div>
                    </div>
                    <div class="sepBar"></div>
                    <div class="btnDiv callSheetBtn disabled">
                        <div class="text">Call Sheet</div>
                        <div class="icon icon-callsheet"></div>
                    </div>
                </div>

                <div class="individualLoading" style="height:350px;width:100%;display:none">
                    <div class="loadingDiv">
                        <div class="loading"></div>
                        <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                    </div>
                </div>

                <div class="individual404Error error404" style="width:100%;display:none">
                    <div class="text">This contact has been deleted.  Refresh this page will have the contact removed</div>
                </div>


                <div class="individualDetailsDiv">
                    <div class="contactDiv"></div>
                    <div class="notesAvailDiv">
                        <div class="givingAvailDiv">
                            <div class="amt">$1,234</div>
                            <div class="text">in giving availabilty</div>
                        </div>
                        <div class="notesDiv">
                            <div class="title">
                                <div class="text">Ask</div>
                            </div>
                            <div class="askNotesDiv" contenteditable=true></div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="detailsGrpDiv">
                <div class="detailsHeaderDiv">
                    <div class="btnDiv disabled"></div>
                    <div class="sepBar"></div>
                    <div class="btnDiv callResultsBtn disabled">
                        <div class="text">Call Results</div>
                        <div class="icon icon-tracker"></div>
                    </div>
                    <div class="sepBar"></div>
                    <div class="btnDiv callSheetBtn disabled">
                        <div class="text">Call Sheet</div>
                        <div class="icon icon-callsheet"></div>
                    </div>
                </div>

                <div class="grpLoading" style="height:350px;width:100%;display:none">
                    <div class="loadingDiv">
                        <div class="loading"></div>
                        <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                    </div>
                </div>

                <div class="lstOuter">
                    <div class="lst">
                    </div>
                </div>

                <div class='lstFooter'>
                    <div class="text numLoaded">xxx</div>
                    <div class="text">&nbsp;of&nbsp;</div>
                    <div class="text numTotal">XXX</div>
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock content %}

{% block page_foot_scripts %}
    <script type="text/javascript" src="{% static "js/apps/callSheet2.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/apps/callTimeMgr.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/apps/prospectDetails.js" %}" charset="utf-8"></script>


    <script>
    $(function () {
        setTimeout(function () {
            $(this).scrollTop(0);
        }, 10);

        var callTimeMgrTemplateData = {
            // api urls
            callTimeContactsApi: "{% url "call_time_contacts_api-list" account.id %}",
            callTimeSetsApi: "{% url "call_time_groups_api-list" account.id %}",
            callTimeExportApi: "{% url "call_time_groups_api-list" account.id %}CALLTIME-GRP-ID/export",
            addToCallTimeSetApi: "{%url "call_time_groups_contacts_api-list" account.id "CALLTIME-SET-ID" %}",
            moveContactInSetApi: "{% url "call_time_groups_contacts_api-detail" account.id "CALLTIME-SET-ID" "CALLTIME-CONTACT-ID" %}",
            callTimeLogApi: "{% url "call_time_contact_call_log_api-list" account.id "CALLTIME-CONTACT-ID" %}",
            callTimeLogDetailApi: "{% url "call_time_contact_call_log_api-detail" account.id "CALLTIME-CONTACT-ID" "CALLTIME-GRP-ID" %}",
            contactDetailApi:  "{% url "contact_set_analysis_contact_results_api-detail" user.id user.current_seat.id "aroot" "contactId" %}",
            callTimeContactsApi: "{% url "call_time_contacts_api-list" account.id %}",
            callTimeContactDetailApi: "{% url "call_time_contacts_api-detail" account.id "CALLTIME-CONTACT-ID"%}",
            primaryPhoneApi: "{% url "call_time_contacts_api-list" account.id %}",
            primaryEmailApi: "{% url "call_time_contacts_api-list" account.id %}",
            callsheetNotesApi: "{% url "contact_set_results_notes_api-list" user.id user.current_seat.id "contactSetId" "contactId" %}",
            callTimeGrpAssignApi: "{% url "call_time_groups_api-list" account.id %}CALLTIME-GRP-ID/add_share/",
            callTimeGrpUnassignApi: "{% url "call_time_groups_api-list" account.id %}CALLTIME-GRP-ID/remove_share/",
            seatsToAssignToApi: "{% url "account_seats_api-list" account.id %}?search=AMT",
            getContactDetail: "{% url "user_contacts_api-detail" user.id "contactId" %}",

            callTimeGrpCallSheetApi: "{% url "call_time_groups_api-list" account.id %}CALLTIME-GRP-ID/call_sheets/",
            callTimeContactCallSheetApi: "{% url "call_time_contacts_api-list" account.id %}call_sheets/",
            callTimeContactPrintHtml: "{% url "call_time_contacts_api-list" account.id %}CALLTIME-CONTACT-ID/?format=print",

            // id's
            eventId:        "{{event.id}}",
            accountId:      "{{account.id}}",
            seatId:         "{{user.current_seat.id}}",

            // values
            candidateName:  "{{ account.display_name}}",
            contactSet: {{contact_set | jsonify }},

            // set the active tab to display
            startingTab:    'individual',

            // list columns
            individualCol: [
                {css: 'colSelect'},
                {css: 'colIndividualName',
                 resizePercent: 51},
                {css: 'colMemberGrp',
                 resizePercent: 49},
                {css: 'colDate'}
            ],
            grpCol: [
                {css: 'colGrpName',
                 resizePercent: 60},
                {css: 'colGrpCount'},
                {css: 'colDateCreated'},
                {css: 'colDateAssigned'},
                {css: 'colAssignedTo',
                 resizePercent: 40},
            ],

            {% route "university" %}
                isAcademic:             true,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   false,
            {% elifroute "polcam" %}
                isAcademic:             false,
                isPoliticalCampaign:    true,
                isPoliticalCommittee:   false,
            {% elifroute "polcom" %}
                isAcademic:             false,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   true,
            {% elifroute "nonprofit" %}
                isAcademic:             false,
                isPoliticalCampaign:    true,
                isPoliticalCommittee:   false,
            {% elseroute %}
                isAcademic:             false,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   false,
            {% endroute %}
        }

        callTimeMgr.display(callTimeMgrTemplateData);
        })
    </script>
{% endblock page_foot_scripts %}
