{% extends "shared/sections/base_authenticated.html" %}

{% load humanize %}
{% load staticfiles %}
{% load view_router %}

{% block breadcrumbs %} {% endblock %}

{% block home_page %}active{% endblock %}
{% block title %}Home - RevUp{% endblock title %}

{% block page_css %}
<link href="{% static "css/apps/home.css" %}" rel="stylesheet">
{% endblock page_css %}



{% block page_head_scripts %}
<script>
    //doNoRunRevupAlert = true;
    {% with valid_messages="permission_failure" %}
    {% if message in valid_messages.split %}
    message = "{{ message }}";
    {% endif %}
    {% endwith %}
</script>
{% endblock page_head_scripts %}
{% block xxxnotification_invoke %} {% endblock %}

{% block getting_started_target %}{% endblock %}

{% block content %}
    <div class="homePageDiv">
        <div class="userNameSection">
            Welcome back {{ user }}!
        </div>

        <div class="infoMsgSection">
            Upcoming Events
        </div>

        <div class="accountImgSection">
            <div class="imgDiv">
                {% if current_skin.banner %}
                    <img src="{{ MEDIA_URL }}{{ current_skin.banner }}" />
                {% elif account.banner %}
                    <img src="{{ MEDIA_URL }}{{ account.banner }}" />
                {% else %}
                    {% route "university" %}
                        <img src="{% static "img/homePageBanners/academic-banner.png" %}" />
                    {% elifroute "nonprofit" %}
                        <img src="{% static "img/homePageBanners/nonprofit-banner.jpg" %}" />
                    {% elseroute %}
                        <img src="{% static "img/homePageBanners/revup-banner.png" %}" />
                        <div class="defaultBannerOrg">
                            {{ account.organization_name }}
                        </div>
                    {% endroute %}
                {% endif %}
            </div>
        </div>

        <div class="subSections">
            <div class="column col1">
                <div class="headerMsg">
                    You have {% if personal_contact_count == 0 %}no{% else %}{{ personal_contact_count }}{% endif %} synced contacts
                    </div>
                <div class="sectionBox">
                    <div class="title">
                        {% if personal_contact_count > 0 %}
                            Sync more contacts
                        {% else %}
                            Add contacts
                        {% endif %}
                    </div>
                    <div class="contentBox">
                        <img src="{% static "img/add-more-contacts.png" %}" alt="Click to sync more contacts using Gmail, Outlook, VCard, CSV or Mobile sources."/>
                    </div>
                </div>
            </div>

            <div class="column col2">
                <div class="headerMsg">
                    You have {% if not personal_contact_count %}no{% else %}{{ personal_contact_count }}{% endif %} ranked contacts
                </div>
                <div class="sectionBox">
                    <div class="title">
                            View my contact rankings
                    </div>
                    <div class="contentBox">
                        <div class="iconBox analyzeBtn">
                            <div class="icon icon-ranking"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="column col3">
                <div class="headerMsg">Getting Started</div>
                <div class="sectionBox">
                    <div class="title">Getting Started</div>
                    <div class="contentBox">
                        <a href="{% url "getting_started" %}" target="_blank">
                            <img src="{% static "img/tutorial.png" %}">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_foot_scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        // mixpanel
        mixpanel.track('Home');

        var showSplash = "{{ show_splash }}";
        showSplash = showSplash == "True"? true : false;
        if (showSplash) {
            $('.homePageDiv').revupSplashPage({splashUrl: "{% static "splash/index.html" %}",
                                                 width: 1030,
                                                 height: 630,
                                                 top: 10,
                                             });
            }

        // button handler
        $('.subSections .column .contentBox').on('click', function(e) {
            var $col = $(this).closest('.column');

            if ($col.hasClass('col1')) {
                window.location = '{% url "contact_manager" %}' + '?import_popup';
            }
        });

        $('.subSections .column .contentBox .analyzeBtn').on('click', function(e) {
            window.location = "{% url "analysis_result_list" %}";
        });
    });
</script>

{% endblock %}
