{% extends "shared/sections/base_onboard.html" %}
{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}

{% block title %}Setup - RevUp{% endblock title %}

{% block notification %}{% endblock %}

{% block headerText %}Which version of RevUp is right for you?  Lets find out...{% endblock headerText %}

{% block page_head_scripts %}
{% endblock page_head_scripts %}

{% block getting_started_target %}#contact-manager-functionality{% endblock %}

{% block headerImage %}{% endblock headerImage %}
{% block headerTextBlock %}{% endblock headerTextBlock %}


{% block content %}
<div class="wizardDiv">
    <div class="configWizardDiv">
        <div class="wizard"></div>
    </div>
</div>

<div class="setupDoneDiv">
    <div class="logoDiv">
        <img class="logo" src="{% static "img/Logo-Black.svg" %}" />
    </div>

    <p class="instructions">Thank you for filling out your RevUp profile. The Customer Success team will be in touch shortly with the next steps.</p>
    <p class="instructions">You may now close this browser tab or select the "Make Changes" button below if you would like to update any of the information in your profile.</p>

    <button class="btn makeChangesBtn">Make Changes</button>
</div>
{% endblock content %}

{% block messagePage %}
{% endblock messagePage %}


{% block bottomBtns %}
{% endblock bottomBtns %}

{% block page_foot_scripts %}
<script type="text/javascript" src="{% static "js/apps/csvValidator.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/revupCsvValidate.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/setupWizard.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/configWizard.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/infoUtils.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/campaignInfo.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/education.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/issues.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/givingData.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/pacCommitteeInfo.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/similarToMine.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/campInfoConfig.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/termsOfService.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/nonProfitInfo.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/givingData.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/similarOrgs.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/revupConstants.js" %}" charset="utf-8"></script>
<script src="https://js.recurly.com/v3/recurly.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>

<script type="text/javascript">
    // update the splash screen
    $('.wizardSplashDiv').height($(window).height() - 125);
    $('.setupDoneDiv').height($(window).height() - 125);

    var fieldsLst = [];

    var templateData = {
        greenLogo: "{% static "img/new-revup-logo.png" %}",
        blueLogo: "{% static "img/nonprofit-logo.png" %}",

        firstName: '{{user.first_name}}',
        lastName: '{{user.last_name}}',
        startDate: '{{account.start_date}}',
        emailAddr: '{{user.email}}',
        title: '{{account.organization_name}}',
        newClient: true,
        accountCreated: false,
        page: '{{path}}',
        accountType: '{{account_type}}',
        clientType: '{{client_type}}',
        product: '{{token.product}}',

        accountId: "{{account.id}}",
        seatId: "{{user.current_seat.id}}",

        appUrl: "{{ protocol_host }}",

        // terms of service
        tosFile: "{% static "contract/tos.html" %}",
        tosUrl: "{% url "onboard_setup" account.id %}?path=tos",

        csrfToken: "{% csrf_token %}",

        onboard: true,

        csvConfigFile : "{% static "csvFormat/givingHistory.csv" %}",
        csvUpload : "{% url "account_contrib_upload" %}",
        csvSample : "{% static "samples/giving-history-sample.csv" %}",
        csvHelpUrl : "{% static "help/housefile/index.html" %}",
    };


    // get arguments
    let getArgs = [];
    let query = location.search;
    query = query.slice(1);
    query = query.split('&');
    for (let i = 0; i < query.length; i++) {
        let t = query[i].split('=');

        let key = decodeURIComponent(t[0]);
        let data = decodeURIComponent(t[1]);
        getArgs[key] = data;
    }

    if (getArgs['lastName']) {
        templateData.lastName = getArgs['lastName'];
    }

    if (getArgs['firstName']) {
        templateData.firstName = getArgs['firstName'];
    }

    if (getArgs['emailAddr']) {
        templateData.emailAddr = getArgs['emailAddr'];
    }

    if (getArgs['title']) {
        templateData.title = getArgs['title'];
    }

    if (getArgs['newClient']) {
        templateData.newClient = getArgs['newClient'].toLowerCase() == 'true';
    }

    if (getArgs['accountCreated']) {
        templateData.accountCreated = getArgs['accountCreated'].toLowerCase() == 'true';
    }

    if (getArgs['page']) {
        templateData.page = getArgs['page'];
    }

    if (getArgs['clientType']) {
        templateData.clientType = getArgs['clientType'];
    }

    if (getArgs['product']) {
        templateData.product = getArgs['product'];
    }

    if (getArgs['price']) {
        templateData.pricePerMonth = parseInt(getArgs['price'], 10);
    }

    if (getArgs['duration']) {
        templateData.durationInMonths = parseInt(getArgs['duration'], 10);
    }


    var questionSetLst = [];
    {% for id, question_set in question_sets.items %}
        var tmp = '{{question_set | jsonify}}';
        tmp = tmp.replace(/\&\#39\;/g, "\"");

        var obj = new Object();
        obj.questionSetTitle = '{{question_set.title}}';
        obj.fields = JSON.parse(tmp);
        obj.readUrl =  "{% url "question_set_api-detail" account.id analysis_config.id question_set.id %}";
        obj.readDetailsUrl = "{% url "question_set_data_api-detail" account.id analysis_config.id question_set.id "questionSetDataId" %}";
        obj.createUrl = "{% url "question_set_data_api-detail" account.id analysis_config.id question_set.id "questionSetDataId" %}";
        obj.updateUrl = "{% url "question_set_data_api-detail" account.id analysis_config.id question_set.id "questionSetDataId" %}";
        obj.deleteUrl = "{% url "question_set_data_api-detail" account.id analysis_config.id question_set.id "questionSetDataId" %}";
        obj.allowMultiple = '{{question_set.allow_multiple}}';
        obj.title = '{{question_set.title}}';
        obj.icon = '{{question_set.icon}}';
        obj.id = '{{question_set.id}}';

        questionSetLst[{{question_set.id}}] = obj;
    {% endfor %}

    var w = setupWizard($('.wizardDiv .configWizardDiv'), $('.setupDoneDiv'), templateData, questionSetLst);
    w.init();


</script>
{% endblock page_foot_scripts %}
