{% extends "shared/sections/base_onboard.html" %}

{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}

{% block contact_manager %}active{% endblock %}
{% block title %}Qualifier - RevUp{% endblock title %}

{% block notification %}{% endblock %}

{% block headerText %}Which version of RevUp is right for you?  Lets find out...{% endblock headerText %}

{% block getting_started_target %}#contact-manager-functionality{% endblock %}

{% block content %}
<div class="qualifierDiv">
    <div class="line quest1">
        <div class="msg">What type of fundraising do you plan to use RevUp for?</div>
        <div class="radioBtnDiv politicalRadioBtn">
            <div class="radioBtn">
                <div class="icon background icon-radio-button-back"></div>
                <div class="icon unselected icon-radio-button-off"></div>
                <div class="icon selected icon-radio-button-on"></div>
            </div>
            <div class="radioLabel">Political</div>
        </div>
        <div class="radioBtnDiv nonProfitRadioBtn">
            <div class="radioBtn">
                <div class="icon background icon-radio-button-back"></div>
                <div class="icon unselected icon-radio-button-off"></div>
                <div class="icon selected icon-radio-button-on"></div>
            </div>
            <div class="radioLabel">Nonprofit</div>
        </div>
        <div class="radioBtnDiv academicRadioBtn">
            <div class="radioBtn">
                <div class="icon background icon-radio-button-back"></div>
                <div class="icon unselected icon-radio-button-off"></div>
                <div class="icon selected icon-radio-button-on"></div>
            </div>
            <div class="radioLabel">Academic</div>
        </div>
    </div>

    <div class="line quest2">
        <div class="msg">What type of race will RevUp be used for?</div>
        <div class="raceDropdownDiv"></div>
    </div>

    <div class="line quest3">
        <div class="msg">How many constituents would this office represent?</div>
        <div class="numConstituentsDropdownDiv"></div>
    </div>

    <div class="line contactCustLater">
        <div class="userInfoDiv">
            <form autocomplete="on">
                <div class="line">
                    <div class="entry firstNameDiv">
                        <div class="msg">Your First Name</div>
                        <input type="text" class="firstName" placeholder="First Name" autofocus tabindex="1">
                    </div>
                    <div class="entry lastNameDiv">
                        <div class="msg">Your Last Name</div>
                        <input type="text" class="lastName" placeholder="Last Name" tabindex="2">
                    </div>
                </div>
                <div class="line">
                    <div class="entry emailAddrDiv">
                        <div class="msg">Email Address</div>
                        <input type="text" class="emailAddr" placeholder="Email Address" tabindex="3">
                    </div>
                    <div class="entry phoneDiv">
                        <div class="msg">Telephone</div>
                        <input type="text" class="telephone" placeholder="Telephone" tabindex="4">
                    </div>
                </div>
                <div class="line">
                    <div class="entry titleDiv">
                        <div class="msg">Title</div>
                        <input type="text" class="title" placeholder="Title" tabindex="5">
                    </div>
                </div>
            </form>
            <div class="line footerMsg">* - required</div>
        </div>
        <div class="recaptchaDiv" id="contactCustLaterCaptcha"></div>
    </div>

    <div class="line productSelect">
        <div class="productSelectDiv">
            {% block qualifierProductSel %}
                {% include "core/qualifierProductSel.html" %}
            {% endblock qualifierProductSel %}
        </div>

        <div class="productMsgDiv">
            <div class="msg"></div>
        </div>

        <div class="userInfoDiv">
            <form autocomplete="on">
                <div class="line">
                    <div class="entry firstNameDiv">
                        <div class="msg">Your First Name</div>
                        <input type="text" class="firstName" placeholder="First Name" autocomplete="given-name" autofocus tabindex="1">
                    </div>
                    <div class="entry lastNameDiv">
                        <div class="msg">Your Last Name</div>
                        <input type="text" class="lastName" placeholder="Last Name" autocomplete="family-name" tabindex="2">
                    </div>
                    <div class="entry emailAddrDiv">
                        <div class="msg">Email Address</div>
                        <input type="text" class="emailAddr" placeholder="Email Address" autocomplete="email" tabindex="3">
                    </div>
                    <div class="entry phoneDiv">
                        <div class="msg">Telephone</div>
                        <input type="text" class="telephone" placeholder="Telephone" autocomplete="tel" tabindex="4">
                    </div>
                </div>
                <div class="line">
                    <div class="entry orgNameDiv">
                        <div class="msg">Campaign/Company/Organization</div>
                        <input type="text" class="orgName" placeholder="Campaign/Company/Organization" tabindex="5">
                        <div class="footerMsg">* - required</div>
                    </div>
                    <div class="entry recaptchaDiv" id="productSelectCaptcha"></div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}

{% block messagePage %}
<div class="donePage">
    <div class="logoDiv">
        <img class="logo" src="{% static "img/Logo-Black.svg" %}" />
    </div>

    <div class="msgDiv">
        <div class="thankYouMsg">
            Thank you for your interest the RevUp Products.
            <br>
            <br>
            You will be receiving an Email, tell you how to proceed.
            <br>
            <br>
        </div>
        <div class="closeBtn">Close</div>
    </div>
</div>

{% endblock messagePage %}


{% block bottomBtns %}
<div class="bottomBtnDiv">
    <div class="btnDiv">
        <div class="cancelBtn">Cancel</div>
        <button class="revupBtnDefault submitBtn" style="display:none;">Submit</button>
    </div>
</div>
{% endblock bottomBtns %}

{% block page_foot_scripts %}
<script src='https://www.google.com/recaptcha/api.js?onload=recaptchaLoaded&render=explicit'></script>
<script type="text/javascript" src="{% static "js/onboard/qualifier.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/onboard_qualifier.js" %}" charset="utf-8"></script>

<script type="text/javascript">
    var templateData = {
        onboardQualifierUrl: "{% url "onboard_qualifier" %}",
        productLite: {
            seatCount:  {{ products.lite.default_seat_count }},
            analyzeLimit: {{ products.lite.default_analyze_limit }},
            createLimit: {{ products.lite.default_create_limit }},
            productId: {{ products.lite.id }},
            contractTerms: 6,
            accessToPrem: false,
            helpSupport: 'Web based only',
            onboardingSupport: '',
        },
        productPlus: {
            seatCount:  {{ products.plus.default_seat_count }},
            analyzeLimit: {{ products.plus.default_analyze_limit }},
            createLimit: {{ products.plus.default_create_limit }},
            productId: {{ products.plus.id }},
            contractTerms: 6,
            accessToPrem: false,
            helpSupport: 'Web based On-call for an additional fee',
            onboardingSupport: 'RevUp onboarding available for $250',
        },
        productSelect: {
            seatCount:  {{ products.select.default_seat_count }},
            analyzeLimit: {{ products.select.default_analyze_limit }},
            createLimit: {{ products.select.default_create_limit }},
            productId: {{ products.select.id }},
            contractTerms: 12,
            accessToPrem: true,
            helpSupport: 'Web based On-call (free)',
            onboardingSupport: 'RevUp premium onboarding and setup required $750',
        },
        productPremium: {
            seatCount:  {{ products.premium.default_seat_count }},
            analyzeLimit: {{ products.premium.default_analyze_limit }},
            createLimit: {{ products.premium.default_create_limit }},
            productId: {{ products.premium.id }},
            contractTerms: 12,
            accessToPrem: true,
            helpSupport: 'Web based On-call (free)',
            onboardingSupport: 'RevUp premium onboarding and setup required $1,500',
        },
    };

    templateData.productLite.mobileSupport ="{{ products.lite.features.MOBILE_APP }}" == "True";
    templateData.productLite.csvExportSupport ="{{ products.lite.features.CSV_EXPORT_RANKING }}" == "True";
    templateData.productLite.prospectSupport ="{{ products.lite.features.PROSPECTS }}" == "True";
    templateData.productLite.callTimeSupport ="{{ products.lite.features.CALL_TIME }}" == "True";
    templateData.productLite.price = parseInt({{ products.lite.price }}, 10);
    templateData.productLite.linkedInImport = "{{ products.lite.features.IMPORT_LINKEDIN}}" == "True";
    templateData.productLite.gmailImport = "{{ products.lite.features.IMPORT_GMAIL}}" == "True";
    templateData.productLite.outlookImport = "{{ products.lite.features.IMPORT_OUTLOOK}}" == "True";
    templateData.productLite.vcardImport = "{{ products.lite.features.IMPORT_VCARD}}" == "True";
    templateData.productLite.cvsImport = "{{ products.lite.features.IMPORT_CSV}}" == "True";
    templateData.productLite.mobileImport = "{{ products.lite.features.IMPORT_MOBILE}}" == "True";

    templateData.productPlus.mobileSupport ="{{ products.plus.features.MOBILE_APP }}" == "True";
    templateData.productPlus.csvExportSupport ="{{ products.plus.features.CSV_EXPORT_RANKING }}" == "True";
    templateData.productPlus.prospectSupport ="{{ products.plus.features.PROSPECTS }}" == "True";
    templateData.productPlus.callTimeSupport ="{{ products.plus.features.CALL_TIME }}" == "True";
    templateData.productPlus.price = parseInt({{ products.plus.price }}, 10);
    templateData.productPlus.linkedInImport = "{{ products.plus.features.IMPORT_LINKEDIN}}" == "True";
    templateData.productPlus.gmailImport = "{{ products.plus.features.IMPORT_GMAIL}}" == "True";
    templateData.productPlus.outlookImport = "{{ products.plus.features.IMPORT_OUTLOOK}}" == "True";
    templateData.productPlus.vcardImport = "{{ products.plus.features.IMPORT_VCARD}}" == "True";
    templateData.productPlus.cvsImport = "{{ products.plus.features.IMPORT_CSV}}" == "True";
    templateData.productPlus.mobileImport = "{{ products.plus.features.IMPORT_MOBILE}}" == "True";

    templateData.productSelect.mobileSupport ="{{ products.select.features.MOBILE_APP }}" == "True";
    templateData.productSelect.csvExportSupport ="{{ products.select.features.CSV_EXPORT_RANKING }}" == "True";
    templateData.productSelect.prospectSupport ="{{ products.select.features.PROSPECTS }}" == "True";
    templateData.productSelect.callTimeSupport ="{{ products.select.features.CALL_TIME }}" == "True";
    templateData.productSelect.price = parseInt({{ products.select.price }}, 10);
    templateData.productSelect.linkedInImport = "{{ products.select.features.IMPORT_LINKEDIN}}" == "True";
    templateData.productSelect.gmailImport = "{{ products.select.features.IMPORT_GMAIL}}" == "True";
    templateData.productSelect.outlookImport = "{{ products.select.features.IMPORT_OUTLOOK}}" == "True";
    templateData.productSelect.vcardImport = "{{ products.select.features.IMPORT_VCARD}}" == "True";
    templateData.productSelect.cvsImport = "{{ products.select.features.IMPORT_CSV}}" == "True";
    templateData.productSelect.mobileImport = "{{ products.select.features.IMPORT_MOBILE}}" == "True";

    templateData.productPremium.mobileSupport ="{{ products.premium.features.MOBILE_APP }}" == "True";
    templateData.productPremium.csvExportSupport ="{{ products.premium.features.CSV_EXPORT_RANKING }}" == "True";
    templateData.productPremium.prospectSupport ="{{ products.premium.features.PROSPECTS }}" == "True";
    templateData.productPremium.callTimeSupport ="{{ products.premium.features.CALL_TIME }}" == "True";
    templateData.productPremium.price = parseInt({{ products.premium.price }}, 10);
    templateData.productPremium.linkedInImport = "{{ products.premium.features.IMPORT_LINKEDIN}}" == "True";
    templateData.productPremium.gmailImport = "{{ products.premium.features.IMPORT_GMAIL}}" == "True";
    templateData.productPremium.outlookImport = "{{ products.premium.features.IMPORT_OUTLOOK}}" == "True";
    templateData.productPremium.vcardImport = "{{ products.premium.features.IMPORT_VCARD}}" == "True";
    templateData.productPremium.cvsImport = "{{ products.premium.features.IMPORT_CSV}}" == "True";
    templateData.productPremium.mobileImport = "{{ products.premium.features.IMPORT_MOBILE}}" == "True";

    function recaptchaClicked()
    {
        oQualifier.recaptchaClicked(arguments)
    } // recaptchaClicked

    function recaptchaExpired()
    {
        oQualifier.recaptchaClicked(arguments)
    } // recaptchaExpired

    function recaptchaLoaded()
    {
        oQualifier.init();
    }

    var oQualifier = onboardQualifier(templateData)

</script>
{% endblock page_foot_scripts %}
