{% extends "shared/sections/base_onboard.html" %}
{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}

{% block title %}Signup - RevUp{% endblock title %}

{% block notification %}{% endblock %}

{% block headerText %}Which version of RevUp is right for you?  Lets find out...{% endblock headerText %}

{% block getting_started_target %}#contact-manager-functionality{% endblock %}

{% block headerImage %}{% endblock headerImage %}
{% block headerTextBlock %}{% endblock headerTextBlock %}


{% block content %}
<div class="wizardDiv">
    <div class='haveAccountDiv'>
        <img class="revupTitleLogo" src="{% static "img/Logo.svg" %}" />
        <div class="msg">
            Hello
            <text id="userEmail">{{token.email}}</text>
            . We have detected that you have an existing account.
            <br>
            Please input your passowrd and select what you would like to do.
            <br><br>
            {% if error_message %}
                {{ error_message }}
            {% endif %}
        </div>

        <div class="msg emailForm">
            <input type="text" class="password" placeholder="Password" value=""/>
        </div>

        <div class="whatToDoDiv">
            <div class="selectAccountDiv accessAccount">
                <icon class="icon icon-exisitng-account"></icon>
                <text class="iconCaptions">Access my <br> existing account</text>
            </div>

            <div class="selectAccountDiv newAccount">
                <icon class="icon icon-create-account"></icon>
                <text class="iconCaptions">Add another <br> account</text>
            </div>
        </div>
    </div>

    <div class="signUpWizardDiv">
        <div class="wizard"></div>
    </div>
</div>

<!--
<div style="margin-top:80px;">
    xxxx
{# % load debug_utils % #}
{# % dump_obj product % #}
</div>
-->

{% endblock content %}

{% block messagePage %}
{% endblock messagePage %}


{% block bottomBtns %}
{% endblock bottomBtns %}

{% block page_foot_scripts %}
<script type="text/javascript" src="{% static "js/onboard/signUpWizard.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/signUp/signUp.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/signUp/contract.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/signUp/creditCard.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/revupConstants.js" %}" charset="utf-8"></script>
<script src="https://js.recurly.com/v3/recurly.js"></script>

<script type="text/javascript">
    var templateData = {
        recurlyKey: '{{ settings.recurly_api_key }}',

        greenLogo: "{% static "img/new-revup-logo.png" %}",
        blueLogo: "{% static "img/nonprofit-logo.png" %}",

        firstName: '{{token.first_name}}',
        lastName: '{{token.last_name}}',
        emailAddr: '{{token.email}}',
        title: '{{token.organization}}',
        newClient: true,
        accountCreated: false,
        page: '{{path}}',
        accountType: '{{account_type}}',
        clientType: '{{client_type}}',
        product: '{{token.product}}',
        setUpFee: '{{product.setup_fee}}',
        price: '{{product.price}}',
        skip_payment: {{ token.skip_payment|yesno:"true,false" }},
        analyzeLimit: '{{product.default_analyze_limit}}',
        createLimit: '{{product.default_create_limit}}',
        seatCount: '{{product.default_seat_count}}',
        productTitle: '{{product.title}}',
        durationInMonths: '{{product.contract_term_months}}',
        token: '{{token.token}}',
        loginError: '{{error_message}}',

        signUpLoaded: false,
        contractLoaded: false,
        paymentLoaded: false,

        loginUrl: "{% url "onboard_signup" token.token %}?path=login",
        signUpUrl: "{% url "onboard_signup" token.token %}?path=signup",
        contractUrl: "{% url "onboard_signup" token.token %}?path=contract",
        paymentUrl: "{% url "onboard_signup" token.token %}?path=payment",
        appUrl: 'https://app.revup.com',

        // existing account
        existingAccount: "{{existing_account}}",

        // contracts
        contractFile: '/static/contract/service-agreement.html',
        contractSignature: '{{contract.signature}}',
        contractSigner: '{{contract.signer}}',
        contractDate: '{{contract.created | date:"n/j/Y"}}',
        contract: '{{contract.contract | escapejs}}',

        csrfToken: "{{ csrf_token }}",

        id: '{{token.id}}',

        currentYear: {% now "Y" %},
    };

    templateData.contract = decodeURI("{{contract.contract}}");

    // convert the values to numbers
    if (templateData.price != '') {
        templateData.price = parseInt(templateData.price, 10);
    }
    else {
        templateData.price = 0;
    }

    if (templateData.setUpFee != '') {
        templateData.setUpFee = parseInt(templateData.setUpFee, 10);
    }
    else {
        templateData.setUpFee = 0;
    }

    if (templateData.analyzeLimit != '') {
        templateData.analyzeLimit = parseInt(templateData.analyzeLimit, 10);
    }
    else {
        templateData.analyzeLimit = 0;
    }

    if (templateData.createLimit != '') {
        templateData.createLimit = parseInt(templateData.createLimit, 10);
    }
    else {
        templateData.createLimit = 0;
    }

    if (templateData.seatCount != '') {
        templateData.seatCount = parseInt(templateData.seatCount, 10);
    }
    else {
        templateData.seatCount = 0;
    }

    if (templateData.durationInMonths != '') {
        templateData.durationInMonths = parseInt(templateData.durationInMonths, 10);
    }
    else {
        templateData.durationInMonths = 0;
    }

    templateData.existingAccount = templateData.existingAccount == 'True'

    if (!templateData.existingAccount) {
        $('.haveAccountDiv .accessAccount').addClass('disabled')
    }

    // get arguments
    let getArgs = [];
    let query = location.search;
    query = query.slice(1);
    query = query.split('&');
    for (let i = 0; i < query.length; i++) {
        let t = query[i].split('=');

        let key = decodeURIComponent(t[0]);
        let data = decodeURIComponent(t[1]);
        getArgs[key] = data;
    }

    if (getArgs['lastName']) {
        templateData.lastName = getArgs['lastName'];
    }

    if (getArgs['firstName']) {
        templateData.firstName = getArgs['firstName'];
    }

    if (getArgs['emailAddr']) {
        templateData.emailAddr = getArgs['emailAddr'];
    }

    if (getArgs['title']) {
        templateData.title = getArgs['title'];
    }

    if (getArgs['newClient']) {
        templateData.newClient = getArgs['newClient'].toLowerCase() == 'true';
    }

    if (getArgs['accountCreated']) {
        templateData.accountCreated = getArgs['accountCreated'].toLowerCase() == 'true';
    }

    if (getArgs['page']) {
        templateData.page = getArgs['page'];
    }

    if (getArgs['clientType']) {
        templateData.clientType = getArgs['clientType'];
    }

    if (getArgs['product']) {
        templateData.product = getArgs['product'];
    }

    if (getArgs['price']) {
        templateData.pricePerMonth = parseInt(getArgs['price'], 10);
    }

    if (getArgs['duration']) {
        templateData.durationInMonths = parseInt(getArgs['duration'], 10);
    }

    var w = signUpWizard($('.wizardDiv .signUpWizardDiv'), templateData);
    w.init();

</script>
{% endblock page_foot_scripts %}
