{% extends "shared/sections/base_onboard.html" %}
{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}

{% block contact_manager %}active{% endblock %}
{% block title %}Qualifier - RevUp{% endblock title %}

{% block notification %}{% endblock %}

{% block headerText %}Which version of RevUp is right for you?  Lets find out...{% endblock headerText %}

{% block getting_started_target %}#contact-manager-functionality{% endblock %}

{% block headerImage %}{% endblock headerImage %}
{% block headerTextBlock %}{% endblock headerTextBlock %}


{% block content %}
<div class="wizardDiv">
    <div class='haveAccountDiv'>
        <img class="revupTitleLogo" src="{% static "img/Logo.svg" %}" />
        <div class="msg">
            Hello
            <text id="userEmail">jjohnson@gmail.com</text>
            . We have detected that you have an existing account.
            <br>
            Please input your passowrd and select what you would like to do.
        </div>

        <div class="msg emailForm">
            //the input goes here
        </div>

        <div class="whatToDoDiv">
            <div class="selectAccountDiv accessAccount">
                <icon class="icon icon-exisitng-account"></icon>
                <text class="iconCaptions">Access my <br> existing account</text>
            </div>

            <div class="selectAccountDiv newAccount">
                <icon class="icon icon-create-account"></icon>
                <text class="iconCaptions">Add another <br> account</text>
            </div>
        </div>
    </div>

    <div class="signUpWizardDiv">
        <div class="wizard"></div>
    </div>

    <div class="configWizardDiv">
        <div class="wizard"></div>
    </div>
</div>


<div class="wizardSplashDiv">
    <h1 style="text-align:center">Welcome to</h1>

    <div class="logoDiv">
        <img class="logo" src="{% static "img/Logo-Black.svg" %}" />
    </div>

    <h5 class="licensing">
        Licensed to Susan Davis </br> on behalf of the Jeff Johnson for District 7 campaign </br> January 12, 2018
    </h5>

    <h1>For the next steps we will be asking for information</br> about your candidate or committee and candidates that</br> are similar to your candidate, and your opponent. </br></br></br> Let's get started.</h1>

    <div class="continueBtnDiv">
        <button class="revupBtnDefault continueBtn">Continue</button>
    </div>
</div>

{% endblock content %}

{% block messagePage %}
<div class="donePage">
    <div class="logoDiv">
        <img class="logo" src="{% static "img/Logo-Black.svg" %}" />
    </div>

    <div class="msgDiv">
        <div class="thankYouMsg">
            Thank you for your interest the RevUp Products.
            <br>
            <br>
            You will be receiving an Email, tell you how to proceed.
            <br>
            <br>
        </div>
        <div class="closeBtn">Close</div>
    </div>
</div>

{% endblock messagePage %}


{% block bottomBtns %}
{% endblock bottomBtns %}

{% block page_foot_scripts %}
<script type="text/javascript" src="{% static "js/onboard/wizard.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/signUpWizard.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/signUp/signUp.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/signUp/creditCard.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/configWizard.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/campaignInfo.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/education.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/givingData.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/pacCommitteeInfo.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/similarToMine.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/termsOfService.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/onboard/config/nonProfitInfo.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/revupConstants.js" %}" charset="utf-8"></script>
<script src="https://js.recurly.com/v3/recurly.js"></script>

<script type="text/javascript">
    var templateData = {
        recurlyKey: '{{ settings.recurly_api_key }}',

        // based on arguments
        firstName: '{{token.first_name}}',
        lastName: '{{token.last_name}}',
        emailAddr: '{{token.email}}',
        title: '{{token.title}}',
        newClient: true,
        accountCreated: false,
        page: undefined,
        clientType: 'campaign',
        product: 'lite',
        price: 95,
        durationInMonths: 4,

        csrfToken: "{% csrf_token %}",
    };

    // get arguments
    let getArgs = [];
    let query = location.search;
    query = query.slice(1);
    query = query.split('&');
    for (let i = 0; i < query.length; i++) {
        let t = query[i].split('=');

        let key = decodeURIComponent(t[0]);
        let data = decodeURIComponent(t[1]);
        getArgs[key] = data;
    }

    if (getArgs['lastName']) {
        templateData.lastName = getArgs['lastName'];
    }

    if (getArgs['firstName']) {
        templateData.firstName = getArgs['firstName'];
    }

    if (getArgs['emailAddr']) {
        templateData.emailAddr = getArgs['emailAddr'];
    }

    if (getArgs['title']) {
        templateData.title = getArgs['title'];
    }

    if (getArgs['newClient']) {
        templateData.newClient = getArgs['newClient'].toLowerCase() == 'true';
    }

    if (getArgs['accountCreated']) {
        templateData.accountCreated = getArgs['accountCreated'].toLowerCase() == 'true';
    }

    if (getArgs['page']) {
        templateData.page = getArgs['page'];
    }

    if (getArgs['clientType']) {
        templateData.clientType = getArgs['clientType'];
    }

    if (getArgs['product']) {
        templateData.product = getArgs['product'];
    }

    if (getArgs['price']) {
        templateData.pricePerMonth = parseInt(getArgs['price'], 10);
    }

    if (getArgs['duration']) {
        templateData.durationInMonths = parseInt(getArgs['duration'], 10);
    }

    var oQualifier = onboardWizard(templateData);
    oQualifier.init();

</script>
{% endblock page_foot_scripts %}
