{% load humanize %}
<div class="bodyGrid">
    <!-- <button class="enSearch">Entity Search similar</button>
    <button class="enSearch opponents">Entity Search oppose</button> -->
    <div class="noteGrid">
        <div class="gridContacts">Number of analyzed contacts</div>
        <hr class="hrs">
        <div class="gridSeats">Number of seats</div>
        <hr class="hrs">
        <div class="gridContract">Contract term</div>
        <hr class="hrs">
        <div class="gridSource">Contact source options</div>
        <hr class="hrs">
        <div class="gridData">Data Sources</div>
        <hr class="hrs">
        <div class="gridAccess">Access to premium services</div>
        <hr class="hrs">
        <div class=" ">Analyze and rank contacts with predefined quick filters and advanced filtering</div>
        <hr class="hrs">
        <div class="gridProspects">Prospect tracking</div>
        <hr class="hrs">
        <div class="gridCSV">CSV Export</div>
        <hr class="hrs">
        <div class="gridHelp">Help support</div>
        <hr class="hrs">
        <div class="gridOnboard">Onboarding support</div>
        <hr class="hrs">
        <div class="gridMobile">Access to the RevUp Mobile app (iOS only)</div>
        <hr class="hrs">
        <div class="gridCalltime">Call time functionality</div>
    </div>

    <div class="grid liteGrid" productID={{ products.lite.id }}>
        <div class="headerGrid">
            <img class="gridLogo" src="../../static/img/logo-revup-lite.svg" alt="" />
            <div class="gridDes" style="padding-top: 0px;">
                <i>For local races,</i>
                <br>
                <i>new candidates,</i>
                <br>
                <i>and exploratory candidates</i>
                <br>
            </div>
            <b class="gridPrice">${{ products.lite.price|floatformat }}</b>
            <i class="gridMonth">per month</i>
        </div>

        <div class="liteGrid gridBody">
            <div class="gridContacts">
                <b>{{ products.lite.default_analyze_limit|intcomma }}</b>
            </div>
            <hr class="hrs">
            <div class="gridSeats">
                <b>{{ products.lite.default_seat_count }}</b>
            </div>
            <hr class="hrs">
            <div class="gridContract">
            </div>
            <hr class="hrs">
            <div class="gridSource">
                <div class="sourceIcon linkedInImport">
                    <img src="../../static/img/contactsourceicons/linkedin.svg" alt="" />
                    <figcaption>Linkedin</figcaption>
                </div>
                <div class="sourceIcon gmailImport">
                    <img src="../../static/img/contactsourceicons/gmail.svg" alt="" />
                    <figcaption>gmail</figcaption>
                </div>
                <div class="sourceIcon outlookImport">
                    <img src="../../static/img/contactsourceicons/outlook.svg" alt="" />
                    <figcaption>Outlook</figcaption>
                </div>
                <div class="sourceIcon vcardImport">
                    <img src="../../static/img/contactsourceicons/apple.svg" alt="" />
                    <figcaption>vcard</figcaption>
                </div>
                <div class="sourceIcon cvsImport">
                    <img src="../../static/img/contactsourceicons/csv.svg" alt="" />
                    <figcaption>csv</figcaption>
                </div>
                <div class="sourceIcon mobileImport">
                    <img src="../../static/img/contactsourceicons/mobile.svg" alt="" />
                    <figcaption>Mobile</figcaption>
                </div>
            </div>
            <hr class="hrs">
            <div class="gridData">
                All data sources
            </div>
            <hr class="hrs">
            <div class="gridAccess">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridAnalyze">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridProspects">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridCSV">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridHelp">
            </div>
            <hr class="hrs">
            <div class="gridOnboard">
            </div>
            <hr class="hrs">
            <div class="gridMobile">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridCalltime">
                <div class="dot"></div>
            </div>
            <button class="revupBtnDefault selectBtn liteGrid">Select</button>
            <div class="icon icon-check" style="display: none;"></div>
        </div>
    </div>

    <div class="grid plusGrid" productID={{ products.plus.id }}>
        <div class="headerGrid">
            <img class="gridLogo" src="../../static/img/logo-revup-lite-plus.svg" alt="" />
            <div class="gridDes">
                <i>For small to</i>
                <br>
                <i>medium local races</i>
                <br>
            </div>
            <b class="gridPrice">${{ products.plus.price|floatformat }}</b>
            <i class="gridMonth">per month</i>
        </div>
        <div class="plusGrid gridBody">
            <div class="gridContacts">
                <b>{{ products.plus.default_analyze_limit|intcomma }}</b>
            </div>
            <hr class="hrs">
            <div class="gridSeats">
                <b>{{ products.plus.default_seat_count }}</b>
            </div>
            <hr class="hrs">
            <div class="gridContract">
            </div>
            <hr class="hrs">
            <div class="gridSource">
                <div class="sourceIcon linkedInImport">
                    <img src="../../static/img/contactsourceicons/linkedin.svg" alt="" />
                    <figcaption>Linkedin</figcaption>
                </div>
                <div class="sourceIcon gmailImport">
                    <img src="../../static/img/contactsourceicons/gmail.svg" alt="" />
                    <figcaption>gmail</figcaption>
                </div>
                <div class="sourceIcon outlookImport">
                    <img src="../../static/img/contactsourceicons/outlook.svg" alt="" />
                    <figcaption>Outlook</figcaption>
                </div>
                <div class="sourceIcon vcardImport">
                    <img src="../../static/img/contactsourceicons/apple.svg" alt="" />
                    <figcaption>vcard</figcaption>
                </div>
                <div class="sourceIcon cvsImport">
                    <img src="../../static/img/contactsourceicons/csv.svg" alt="" />
                    <figcaption>csv</figcaption>
                </div>
                <div class="sourceIcon mobileImport">
                    <img src="../../static/img/contactsourceicons/mobile.svg" alt="" />
                    <figcaption>Mobile</figcaption>
                </div>
            </div>
            <hr class="hrs">
            <div class="gridData">
                All data sources
            </div>
            <hr class="hrs">
            <div class="gridAccess">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridAnalyze">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridProspects">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridCSV">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridHelp">
            </div>
            <hr class="hrs">
            <div class="gridOnboard" style="padding-top: 5px;">
            </div>
            <hr class="hrs">
            <div class="gridMobile">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridCalltime">
                <div class="dot"></div>
            </div>
            <button class="revupBtnDefault selectBtn plusGrid" type="button">Select</button>
            <div class="icon icon-check" style="display: none;"></div>
        </div>
    </div>

    <div class="grid selectGrid" productID={{ products.select.id }}>
        <div class="headerGrid">
            <img class="gridLogo" src="../../static/img/new-revup-logo.png" alt="" />
            <div class="gridDes">
                <i>For medium to</i>
                <br>
                <i>large down ballot races</i>
                <br>
            </div>
            <b class="gridPrice">${{ products.select.price|floatformat }}</b>
            <i class="gridMonth">per month</i>
        </div>
        <div class="selectGrid gridBody">
            <div class="gridContacts">
                <b>{{ products.select.default_analyze_limit|intcomma }}</b>
            </div>
            <hr class="hrs">
            <div class="gridSeats">
                <b>{{ products.select.default_seat_count }}</b>
            </div>
            <hr class="hrs">
            <div class="gridContract">
            </div>
            <hr class="hrs">
            <div class="gridSource">
                <div class="sourceIcon linkedInImport">
                    <img src="../../static/img/contactsourceicons/linkedin.svg" alt="" />
                    <figcaption>Linkedin</figcaption>
                </div>
                <div class="sourceIcon gmailImport">
                    <img src="../../static/img/contactsourceicons/gmail.svg" alt="" />
                    <figcaption>gmail</figcaption>
                </div>
                <div class="sourceIcon outlookImport">
                    <img src="../../static/img/contactsourceicons/outlook.svg" alt="" />
                    <figcaption>Outlook</figcaption>
                </div>
                <div class="sourceIcon vcardImport">
                    <img src="../../static/img/contactsourceicons/apple.svg" alt="" />
                    <figcaption>vcard</figcaption>
                </div>
                <div class="sourceIcon cvsImport">
                    <img src="../../static/img/contactsourceicons/csv.svg" alt="" />
                    <figcaption>csv</figcaption>
                </div>
                <div class="sourceIcon mobileImport">
                    <img src="../../static/img/contactsourceicons/mobile.svg" alt="" />
                    <figcaption>Mobile</figcaption>
                </div>
            </div>
            <hr class="hrs">
            <div class="gridData">
                All data sources
            </div>
            <hr class="hrs">
            <div class="gridAccess">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridAnalyze">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridProspects">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridCSV">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridHelp">
            </div>
            <hr class="hrs">
            <div class="gridOnboard">
            </div>
            <hr class="hrs">
            <div class="gridMobile">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridCalltime">
                <div class="dot"></div>
            </div>
            <button class="revupBtnDefault selectBtn selectGrid" type="button">Select</button>
            <div class="icon icon-check" style="display: none;"></div>
        </div>
    </div>

    <div class="grid premGrid" productID={{ products.premium.id }}>
        <div class="headerGrid">
            <img class="gridLogo" src="../../static/img/new-revup-logo.png" alt="" />
            <div class="gridDes">
                <i>For statewide and</i>
                <br>
                <i>federal races</i>
                <br>
            </div>
            <b class="gridPrice">${{ products.premium.price|floatformat }}</b></b>
            <i class="gridMonth">per month</i>
        </div>
        <div class="premGrid gridBody">
            <div class="gridContacts">
                <b>{{ products.premium.default_analyze_limit|intcomma }}</b>
            </div>
            <hr class="hrs">
            <div class="gridSeats">
                <b>{{ products.premium.default_seat_count }}</b>
            </div>
            <hr class="hrs">
            <div class="gridContract">
            </div>
            <hr class="hrs">
            <div class="gridSource">
                <div class="sourceIcon linkedInImport">
                    <img src="../../static/img/contactsourceicons/linkedin.svg" alt="" />
                    <figcaption>Linkedin</figcaption>
                </div>
                <div class="sourceIcon gmailImport">
                    <img src="../../static/img/contactsourceicons/gmail.svg" alt="" />
                    <figcaption>gmail</figcaption>
                </div>
                <div class="sourceIcon outlookImport">
                    <img src="../../static/img/contactsourceicons/outlook.svg" alt="" />
                    <figcaption>Outlook</figcaption>
                </div>
                <div class="sourceIcon vcardImport">
                    <img src="../../static/img/contactsourceicons/apple.svg" alt="" />
                    <figcaption>vcard</figcaption>
                </div>
                <div class="sourceIcon cvsImport">
                    <img src="../../static/img/contactsourceicons/csv.svg" alt="" />
                    <figcaption>csv</figcaption>
                </div>
                <div class="sourceIcon mobileImport">
                    <img src="../../static/img/contactsourceicons/mobile.svg" alt="" />
                    <figcaption>Mobile</figcaption>
                </div>
            </div>
            <hr class="hrs">
            <div class="gridData">
                All data sources
            </div>
            <hr class="hrs">
            <div class="gridAccess">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridAnalyze">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridProspects">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridCSV">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridHelp">
            </div>
            <hr class="hrs">
            <div class="gridOnboard">
            </div>
            <hr class="hrs">
            <div class="gridMobile">
                <div class="dot"></div>
            </div>
            <hr class="hrs">
            <div class="gridCalltime">
                <div class="dot"></div>
            </div>
            <button class="revupBtnDefault selectBtn premGrid" type="button">Select</button>
            <div class="icon icon-check" style="display: none;"></div>
        </div>
    </div>
</div>
