{% extends "shared/sections/base_onboard.html" %}
{% load staticfiles %}

{% block notification %}{% endblock %}

{% block headerImage %}{% endblock headerImage %}
{% block headerTextBlock %}{% endblock headerTextBlock %}

{% block content %}
<div class="refreshToken">
    <div class="logoDiv">
        <img class="logo" src="{% static "img/Logo-Black.svg" %}" />
    </div>
    <h1>
        Your signup link has expired. Please click the<br>
        Request New Link button below and we will<br>
        email you a new link to {{token.email}}.
    </h1>
    <button class="btn closeBtn">Request New Link</button>
</div>
{% endblock content %}

{% block page_foot_scripts %}
<script>
    $(".refreshToken .closeBtn").on('click', function () {
        const $closeBtn = $(this);
        const refreshTokenUrl = '{% url "refresh_token" token.token %}';
        const successText = 'Thank you. Please check your email, and<br>contact <a href="mailto:clients@revup.com">customer support</a> if you need further assistance.';
        const failText = 'We&apos;re sorry, but something seems to have gone wrong.<br>Please refresh your browser and try again.<br>Contact <a href="mailto:clients@revup.com">customer support</a> if you need further assistance.';

        $closeBtn.hide();

        $.ajax({
            type: 'POST',
            url: refreshTokenUrl
        })
        .done(function() {
            $(".refreshToken h1").html(successText);
        })
        .fail(function() {
            $(".refreshToken h1").html(failText);
        });
    });
</script>
{% endblock page_foot_scripts %}
