{% extends "shared/sections/base_authenticated.html" %}

{% block title %}Tasks - RevUp{% endblock %}

{% block active_network %}active{% endblock %}

{% block content %}
    <h2>Your Tasks</h2>
    <ul>
    {% for task in tasks %}
        <li>{{task}} {{ task.state }}</li>
    {% endfor %}
    </ul>
{% endblock content %}