{% extends "shared/sections/base_authenticated.html" %}
{% load humanize %}
{% load staticfiles %}

{% block page_css %}
    <style>
        h2 {
            margin-bottom: 1em;
            text-align: center;
            text-decoration: underline;
        }
        ol.tos-conditions {
           list-style-type: decimal;
        }
        ol.tos-attempts {
           list-style-type: upper-alpha;
        }
        .tos-date {
            font-size: large;
            text-align: left;
        }
        .tos-body {
            font-size: large;
            margin-left: auto;
            margin-right: auto;
            width: 50em;
        }
        .tos-important {
            text-align: center;
        }
        .tos-final {
            text-align: center;
        }
        .tos-accept {
            text-align: center;
        }
        .tos-accept > p {
            font-size: large;
        }
        .tos-accept > input {
            font-size: x-large;
            margin: 8px 0.5em 0 0.5em;
        }
    </style>
{% endblock %}

{% block title %}Home - RevUp - Terms of Service{% endblock title %}

{% block content %}
    <div class="tos-date">
        <p>Last Updated: November 25th, 2014</p>
    </div>
    <h2>RevUp Terms of Use</h2>
    <div class="tos-body">
        <div class="tos-important">
            <p><strong><em>IMPORTANT: YOU ARE GRANTING ACCESS TO YOUR CONTACTS</em></strong></p>
        </div>
        <p>I understand that, pursuant to these Terms of Use, RevUp Software Inc. ("<strong>RevUp</strong>"), is granting me access to services (such services, collectively, the "<strong>Service</strong>") that RevUp provides to the organization giving me my account credentials (my "<strong>Subscribing Client</strong>") . I understand that that my access to and use of the Service is subject to the service agreement (the "<strong>Service Agreement</strong>") entered into between RevUp and the Subscribing Client and to the following conditions:</p>
        <ol class="tos-conditions">
            <li><strong>Access to My Contacts.</strong> I agree that RevUp may, with my consent, obtain information from my email, messaging, social media, or other third-party accounts (my "<strong>Third Party Accounts</strong>") relating to the identities of my contacts, associates, or other persons linked to Third Party Accounts (my "<strong>Contacts</strong>"). I further agree that RevUp may, subject to the Service Agreement, use my Contacts and other information obtained from my Third Party Accounts to provide the Service to me. RevUp will delete my Contacts List when my use of the Service is discontinued.</li>
            <li><strong>Access to Donor Information.</strong> I acknowledge and agree that the name (and any other identifying information that I consent to share) of Contacts that I contact through the Service and any donated amounts and notes input by me (collectively, "<strong>Donor Information</strong>") will be accessible by Client and that RevUp may, subject to the Service Agreement, use Donor Information to provide the Service to Client. I represent and warrant that I have the right to share that information with Client</li>
            <li><strong>Notification of Compromised Account.</strong> I will notify the Subscribing Client immediately in the event that I become aware that the security of the Fundraiser Account's login information has been breached.</li>
            <li><strong>Restrictions on Use of the Service.</strong> I understand that there are restrictions on use of the Service because it embodies RevUp's and other people's intellectual property and because it needs to be safe for everyone to use, so I agree that I won't:</li>
            <ol class="tos-attempts">
                <li><em>Respecting IP</em> - Copy, reproduce, modify, translate, prepare derivative works of, de-compile, reverse engineer, disassemble or otherwise attempt to derive source code from the software underlying the Service, or use, evaluate, or view the Service for the purpose of designing, modifying, or otherwise creating any environment, program, or infrastructure or any portion thereof, which performs functions similar to the functions performed by the Service, or transmit any material that may infringe the intellectual property rights or other rights of third parties, or remove, obscure, or alter any copyright notice, trademarks, logos and trade names, or other proprietary rights notices affixed to, or contained within the Service;</li>
                <li><em>Complying with laws</em> - Use the Service to violate any law or regulation, or access the Service from any country or territory where the contents of the Service are illegal;</li>
                <li><em>No hacking please</em> - Disable, impair, disrupt, or otherwise interfere with the normal operation of the Service using any means, including without limitation hacking, malware deployment, or password mining, or access content or features of the Service for which I have not registered, or use any robot, spider, scraper, or other automated means to access the Service for any purpose without our express written permission, or bypass our robot exclusion files or other measures we may use to prevent or restrict access to the Service;</li>
                <li><em>I'm really me</em> - Impersonate another person or entity, or access another user's account without that user's permission, or enable or allow others to access the Service using my authorization to use the Service, or share RevUp passwords with any third party or encourage any other user to share his or her RevUp password, or use the Service on behalf of any unauthorized third party;</li>
                <li><em>Bad stuff</em> - Misrepresent the source, identity, or content of information transmitted via the Service, or use the Service in connection with pornographic, threatening, embarrassing, hateful, racially or ethnically insulting, libelous, or otherwise inappropriate content or behavior.</li>
            </ol>
            <li><strong>RevUp's Disclaimers.</strong> I UNDERSTAND THAT REVUP DISCLAIMS ALL WARRANTIES, CONDITIONS, OR REPRESENTATIONS (EXPRESS OR IMPLIED, ORAL, OR WRITTEN) WITH RESPECT TO THE SERVICE OR ANY SUPPORT RELATED THERETO, INCLUDING ANY AND ALL WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, NON-INTERFERENCE, ACCURACY OF DATA, AND WARRANTIES ARISING FROM A COURSE OF DEALING. I UNDERSTAND THAT NEITHER REVUP NOR ITS LICENSORS OR SERVICE PROVIDERS WILL BE LIABLE FOR ANY DAMAGES RESULTING FROM OR IN CONNECTION WITH THE USE OF THE SERVICE.</li>
            <li><strong>Limitations on RevUp's Liability.</strong> I understand that, to the fullest extent permitted under applicable law, RevUp will have no liability to me with respect to any use of the Service or reliance upon any of the information obtained through the Service.</li>
            <li><strong>RevUp's Ownership.</strong> I acknowledge that RevUp owns and operates the Service, and that the visual interfaces, graphics, design, compilation, information, computer code, products, software (including any downloadable software), services, and all other elements of the Service (the "<strong>Materials</strong>") belong to RevUp and are protected by applicable intellectual property laws. Except as expressly authorized by RevUp, I agree not to sell, license, distribute, copy, download, print, scan, modify, publicly perform or display, transmit, publish, edit, adapt, create derivative works from, or otherwise make unauthorized use of the Materials.</li>
            <li><strong>Privacy Policy.</strong> I understand that the information accessed through the Service may include personal information of individuals. Access, use, disclosure, and other treatment of this information are limited by the terms of RevUp's Privacy Policy, the Service Agreement, and in certain cases, applicable law. The RevUp Privacy Policy (available at <a href="http://www.revupsoftware.com/legal/privacy">http://www.revupsoftware.com/legal/privacy</a>) is hereby incorporated into these Terms of Use by reference.</li>
            <li><strong>Feedback.</strong> I grant RevUp a perpetual, irrevocable, worldwide, royalty-free, fully paid, unrestricted right and license to use and exploit any and all feedback I provide to RevUp regarding the features and performance of the Service and any information regarding any and all failures, errors, or other malfunctions in the Service.</li>
            <li><strong>Termination.</strong> I understand that my use of the Service is subject to and contingent upon the Service Agreement. I further understand that my access to the Service may be revoked and my account with the Service may be terminated at any point in time and without prior notice and without cause.</li>
            <li><strong>Confidentiality.</strong> All of the information contained in this Service is considered confidential. I agree that I will maintain the information in confidence and will not disclose any of the information to others except as expressly and jointly permitted in writing by the Subscribing Client and RevUp.</li>
            <li><strong>Violations.</strong> I acknowledge that RevUp will have the right to investigate and prosecute violations of any of the above to the fullest extent of the law, and that RevUp may involve and cooperate with law enforcement authorities in prosecuting users who violate these Terms of Use. I acknowledge that RevUp has the right to monitor my access to or use of the Service and to disclose any relevant information in accordance with the RevUp Privacy Policy, the Service Agreement, and these Terms of Use.</li>
        </ol>
        <div class="tos-final">
            <p><strong>By using the Service you agree to these Terms of Use.  If you do not agree to these Terms of Use, do not use the Service.</strong></p>
        </div>
    </div>
    {% if user.is_authenticated and not accepted_tos %}
        <form class="tos-accept" method="post" action="{% if next %}?next={{ next }}{% endif %}">
            <p><strong>By clicking on the "I Accept" button below, I acknowledge that I have read, understand, and agree to the above conditions.</strong></p>
            <input type="submit" name="accept" value="I Accept"/>
            <input type="button" value="I Decline" onclick = "window.location.href='http://www.google.com'"/>
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock %}
