.version.index /* version checker */
{
	color: #0000F9;
	background-color: #5C26EB;
}

.html
{
	background-color: #EFEFEF;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 2506px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #F4F4F4;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -36px;
	padding-bottom: 22px;
	width: 0.01px;
}

#pu81
{
	width: 0.01px;
	padding-bottom: 80px;
	margin-left: -100px;
}

#u81
{
	z-index: 289;
	height: 80px;
	background-color: #32363F;
	position: fixed;
	top: 0px;
}

#u81-bw
{
	z-index: 289;
}

#u82
{
	z-index: 290;
	position: fixed;
	top: 18px;
	left: 50%;
	margin-left: -460px;
}

#quickstart
{
	margin-left: 612px;
	top: -80px;
	margin-bottom: -18px;
	position: relative;
}

#u89-4
{
	z-index: 295;
	position: fixed;
	top: 54px;
	left: 50%;
	margin-left: -78px;
}

#u87-4
{
	z-index: 291;
	position: fixed;
	top: 54px;
	left: 50%;
	margin-left: 75px;
}

#u89-4_img,#u87-4_img
{
	display: block;
	vertical-align: top;
}

#u217-4
{
	z-index: 299;
	width: 108px;
	min-height: 26px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: fixed;
	top: 54px;
	left: 50%;
	margin-left: 199px;
}

#u239-4
{
	z-index: 303;
	width: 106px;
	min-height: 26px;
	background-color: transparent;
	text-align: center;
	color: #FFFFFF;
	position: fixed;
	top: 54px;
	left: 50%;
	margin-left: 349px;
}

#u180
{
	z-index: 280;
	width: 960px;
	height: 18px;
	background-color: #EFEFEF;
	position: relative;
}

#pu91
{
	width: 0.01px;
	margin-left: -71px;
	margin-top: 19px;
}

#u91
{
	z-index: 278;
	position: relative;
	margin-right: -10000px;
}

#u75-27
{
	z-index: 3;
	width: 920px;
	min-height: 322px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 91px;
}

#u75-2
{
	font-size: 18px;
	line-height: 22px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u75-4
{
	font-size: 15px;
	line-height: 18px;
	padding-bottom: 14px;
	padding-top: 15px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u75-6
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u75-9,#u75-16
{
	font-size: 15px;
	line-height: 18px;
	padding-bottom: 14px;
	padding-top: 14px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u75-11,#u75-18
{
	padding-left: 10px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u75-21,#u75-24
{
	padding-left: 30px;
	padding-top: 6px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u75-23
{
	font-style: italic;
}

#u380
{
	z-index: 272;
	width: 383px;
	background-color: transparent;
	margin-left: 73px;
	margin-top: 19px;
	position: relative;
}

#u387-4
{
	z-index: 30;
	width: 920px;
	min-height: 34px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 19px;
	position: relative;
}

#u110
{
	z-index: 274;
	width: 196px;
	background-color: transparent;
	margin-left: 85px;
	margin-top: 18px;
	position: relative;
}

#u388-4
{
	z-index: 34;
	width: 920px;
	min-height: 37px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	margin-left: 20px;
	margin-top: 18px;
	position: relative;
}

#u123
{
	z-index: 276;
	margin-left: 85px;
	margin-top: 19px;
	position: relative;
}

#u389-12
{
	z-index: 38;
	width: 920px;
	min-height: 144px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	margin-left: 20px;
	margin-top: 18px;
	position: relative;
}

#u389-2,#u389-4
{
	padding-left: 50px;
	padding-top: 6px;
	font-weight: 400;
}

#u389-5
{
	padding-left: 30px;
	padding-top: 6px;
	font-weight: 400;
}

#u389-7
{
	font-size: 15px;
	line-height: 18px;
	padding-bottom: 15px;
	font-weight: 700;
}

#u130
{
	z-index: 277;
	margin-left: 85px;
	margin-top: 19px;
	position: relative;
}

#u390-22
{
	z-index: 50;
	width: 920px;
	min-height: 94px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	margin-left: 20px;
	margin-top: 18px;
	position: relative;
}

#u390-7 > #u390-6:before
{
	visibility: hidden;
	counter-increment: list 0;
}

#u75-13,#u390-4
{
	padding-left: 10px;
	padding-top: 6px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u389-9,#u390-14
{
	padding-left: 10px;
	font-weight: 400;
}

#u390-9,#u390-19
{
	padding-left: 10px;
	padding-top: 6px;
	font-weight: 400;
}

#u306
{
	z-index: 2;
	margin-left: 64px;
	margin-top: 24px;
	position: relative;
}

#pu167-23
{
	width: 0.01px;
	margin-left: -99px;
	margin-top: 24px;
}

#u167-23
{
	z-index: 72;
	width: 920px;
	min-height: 182px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#u389-10 > li:before,#u167-8 > li:before
{
	content: '•';
}

#u387-2,#u388-2,#u167-7
{
	padding-left: 50px;
	padding-top: 6px;
}

#u167-8 > #u167-7:before
{
	margin-right: -44px;
}

#u167-8.rtl-list > #u167-7:before
{
	margin-right: 0px;
	margin-left: -44px;
}

#u75-25 > li:before,#u390-7 .list1 > li:before,#u390-15 .list1 > li:before,#u167-4 > li:before,#u167-21 > li:before
{
	content: '-';
}

#u167-3,#u167-11,#u167-14,#u167-17,#u167-20
{
	padding-left: 30px;
	padding-top: 6px;
}

#u75-25 > #u75-21:before,#u75-25 > #u75-24:before,#u167-4 > #u167-3:before,#u167-21 > #u167-11:before,#u167-21 > #u167-14:before,#u167-21 > #u167-17:before,#u167-21 > #u167-20:before
{
	margin-right: -24px;
}

#u75-25.rtl-list > #u75-21:before,#u75-25.rtl-list > #u75-24:before,#u167-4.rtl-list > #u167-3:before,#u167-21.rtl-list > #u167-11:before,#u167-21.rtl-list > #u167-14:before,#u167-21.rtl-list > #u167-17:before,#u167-21.rtl-list > #u167-20:before
{
	margin-right: 0px;
	margin-left: -24px;
}

#u386
{
	z-index: 283;
	width: 20px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	left: 157px;
}

#u311
{
	z-index: 284;
	position: relative;
}

#u316
{
	z-index: 285;
	margin-top: 24px;
	position: relative;
}

#u321
{
	z-index: 286;
	margin-top: 20px;
	position: relative;
}

#u326
{
	z-index: 287;
	margin-top: 3px;
	position: relative;
}

#u331
{
	z-index: 288;
	margin-top: 21px;
	position: relative;
}

#faqs
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 117px;
}

#pbest_practices
{
	width: 0.01px;
	margin-left: -100px;
	margin-top: 23px;
}

#best_practices
{
	position: relative;
	width: 22px;
	margin-right: -10000px;
	margin-top: 348px;
}

#u174
{
	z-index: 279;
	position: relative;
	margin-right: -10000px;
	left: 23px;
}

#u173-38
{
	z-index: 95;
	width: 920px;
	min-height: 419px;
	background-color: transparent;
	font-family: source-sans-pro, sans-serif;
	position: relative;
	margin-right: -10000px;
	left: 116px;
}

#u390-12,#u390-17,#u173-2
{
	font-size: 15px;
	line-height: 18px;
	padding-bottom: 15px;
	padding-top: 15px;
	font-weight: 700;
}

#u173-4
{
	padding-left: 10px;
	padding-top: 6px;
	font-weight: 700;
}

#u75-14 > #u75-11:before,#u75-14 > #u75-13:before,#u75-19 > #u75-18:before,#u389-10 > #u389-9:before,#u390-5 > #u390-4:before,#u390-10 > #u390-9:before,#u390-15 > #u390-14:before,#u390-20 > #u390-19:before,#u173-5 > #u173-4:before
{
	margin-right: -4px;
}

#u75-14.rtl-list > #u75-11:before,#u75-14.rtl-list > #u75-13:before,#u75-19.rtl-list > #u75-18:before,#u389-10.rtl-list > #u389-9:before,#u390-5.rtl-list > #u390-4:before,#u390-10.rtl-list > #u390-9:before,#u390-15.rtl-list > #u390-14:before,#u390-20.rtl-list > #u390-19:before,#u173-5.rtl-list > #u173-4:before
{
	margin-right: 0px;
	margin-left: -4px;
}

#u173-22
{
	padding-left: 40px;
	padding-top: 6px;
	font-weight: 400;
}

#u173-10,#u173-15,#u173-20,#u173-26,#u173-31
{
	padding-left: 27px;
	padding-top: 6px;
	font-weight: 400;
}

#u173-7,#u173-12,#u173-17,#u173-28,#u173-36
{
	padding-left: 42px;
	padding-top: 6px;
	font-weight: 400;
}

#ppu234
{
	width: 0.01px;
	margin-left: -97px;
	margin-top: 49px;
}

#pu234
{
	width: 0.01px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u234
{
	z-index: 281;
	margin-left: 20px;
	position: relative;
}

#sample_scripts
{
	margin-top: 826px;
	position: relative;
}

#u242
{
	z-index: 282;
	margin-left: 31px;
	margin-top: 146px;
	position: relative;
}

#u216-139
{
	z-index: 133;
	width: 920px;
	min-height: 2075px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 118px;
}

#u216-2
{
	font-size: 15px;
	line-height: 18px;
	padding-top: 9px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u216-51,#u216-55
{
	padding-left: 42px;
	padding-top: 6px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u216-58
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
}

#u390-2,#u167,#u167-5,#u167-9,#u167-12,#u167-15,#u167-18,#u173-9,#u173-14,#u173-19,#u173-24,#u173-30,#u216-71,#u216-89
{
	font-weight: 700;
}

#u216-72,#u216-76,#u216-90
{
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	font-style: italic;
}

#u173-5,#u216-107
{
	counter-reset: list0;
}

#u173-5 > li:before,#u216-107 > li:before
{
	counter-increment: list0;
	content:  counter(list0, decimal) '.';
}

#u173-5 .list1,#u216-107 .list1
{
	counter-reset: list1;
}

#u173-5 .list1 > li:before,#u216-107 .list1 > li:before
{
	counter-increment: list1;
	content:  counter(list1, lower-alpha) '.';
}

#u173-5 .list2,#u216-107 .list2
{
	counter-reset: list2;
}

#u173-5 .list2 > li:before,#u216-107 .list2 > li:before
{
	counter-increment: list2;
	content:  counter(list2, lower-roman) '.';
}

#u173-5 .list3,#u216-107 .list3
{
	counter-reset: list3;
}

#u173-5 .list3 > li:before,#u216-107 .list3 > li:before
{
	counter-increment: list3;
	content:  counter(list3, decimal) '.';
}

#u173-5 .list4,#u216-107 .list4
{
	counter-reset: list4;
}

#u173-5 .list4 > li:before,#u216-107 .list4 > li:before
{
	counter-increment: list4;
	content:  counter(list4, lower-alpha) '.';
}

#u173-5 .list5,#u216-107 .list5
{
	counter-reset: list5;
}

#u173-5 .list5 > li:before,#u216-107 .list5 > li:before
{
	counter-increment: list5;
	content:  counter(list5, lower-roman) '.';
}

#u173-5 .list6,#u216-107 .list6
{
	counter-reset: list6;
}

#u173-5 .list6 > li:before,#u216-107 .list6 > li:before
{
	counter-increment: list6;
	content:  counter(list6, decimal) '.';
}

#u173-5 .list7,#u216-107 .list7
{
	counter-reset: list7;
}

#u173-5 .list7 > li:before,#u216-107 .list7 > li:before
{
	counter-increment: list7;
	content:  counter(list7, lower-alpha) '.';
}

#u173-5 .list8,#u216-107 .list8
{
	counter-reset: list8;
}

#u173-5 .list8 > li:before,#u216-107 .list8 > li:before
{
	counter-increment: list8;
	content:  counter(list8, lower-roman) '.';
}

#u216-24 > #u216-10:before,#u216-24 > #u216-12:before,#u216-24 > #u216-21:before,#u216-20 > #u216-15:before,#u216-20 > #u216-17:before,#u216-20 > #u216-19:before,#u216-24 > #u216-23:before,#u216-45 > #u216-44:before,#u216-43 > #u216-36:before,#u216-35 > #u216-34:before,#u216-43 > #u216-38:before,#u216-43 > #u216-40:before,#u216-43 > #u216-42:before,#u216-65 > #u216-62:before,#u216-65 > #u216-64:before,#u216-107 > #u216-102:before,#u216-107 > #u216-104:before,#u216-107 > #u216-106:before
{
	margin-right: -36px;
}

#u216-24.rtl-list > #u216-10:before,#u216-24.rtl-list > #u216-12:before,#u216-24.rtl-list > #u216-21:before,#u216-20.rtl-list > #u216-15:before,#u216-20.rtl-list > #u216-17:before,#u216-20.rtl-list > #u216-19:before,#u216-24.rtl-list > #u216-23:before,#u216-45.rtl-list > #u216-44:before,#u216-43.rtl-list > #u216-36:before,#u216-35.rtl-list > #u216-34:before,#u216-43.rtl-list > #u216-38:before,#u216-43.rtl-list > #u216-40:before,#u216-43.rtl-list > #u216-42:before,#u216-65.rtl-list > #u216-62:before,#u216-65.rtl-list > #u216-64:before,#u216-107.rtl-list > #u216-102:before,#u216-107.rtl-list > #u216-104:before,#u216-107.rtl-list > #u216-106:before
{
	margin-right: 0px;
	margin-left: -36px;
}

#u216-3,#u216-6,#u216-8,#u216-10,#u216-12,#u216-21,#u216-15,#u216-17,#u216-19,#u216-23,#u216-25,#u216-28,#u216-30,#u216-44,#u216-36,#u216-34,#u216-38,#u216-40,#u216-42,#u216-46,#u216-53,#u216-57,#u216-60,#u216-62,#u216-64,#u216-66,#u216-69,#u216-108
{
	padding-left: 42px;
	padding-top: 6px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
}

#u216-5,#u216-27,#u216-48,#u216-49,#u216-68,#u216-110,#u216-111
{
	padding-left: 42px;
	padding-top: 6px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
}

#u216-116
{
	padding-left: 42px;
	padding-top: 6px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	font-style: italic;
}

#u216-117
{
	padding-left: 42px;
	padding-top: 6px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 700;
	font-style: italic;
}

#u216-73,#u216-74,#u216-77,#u216-78,#u216-80,#u216-81,#u216-83,#u216-84,#u216-86,#u216-87,#u216-91,#u216-92,#u216-94,#u216-95,#u216-97,#u216-102,#u216-104,#u216-106,#u216-113,#u216-114,#u216-119,#u216-120,#u216-122,#u216-123,#u216-125,#u216-126,#u216-131,#u216-132,#u216-134,#u216-135,#u216-137
{
	padding-left: 42px;
	padding-top: 6px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	font-style: italic;
}

body
{
	position: relative;
	min-width: 960px;
	padding-top: 36px;
	padding-bottom: 33px;
}

#page .verticalspacer
{
	clear: both;
}

