<html>
    <head>
        <style>
             .equalDivide tr td { width:25%; vertical-align: top; }
             li { margin-bottom: 10px; }
        </style>
    </head>
    <body>
        <h1>Summary</h1>
        <table>
            <tr>
                <td>number of entity contact groupings matched: </td>
                <td>{{ entities | length }}</td>
            </tr>
        </table>
        <br/>
        <h1>Contact ID Matches</h1>
        <table class="equalDivide" width="100%">
            <tr>
                <th>Unmatched/unprocessed</th>
                <th>Matched</th>
                <th>Unmatched entity</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for match in frontend_only_contacts %}
                        <li> <div>
                                <span>name: {{ match.name }}</span><br/>
                                <span>contact_type: {{ match.contact_type }}</span><br/>
                            </div>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for match in shared_contacts %}
                        <li> <div>
                                <span>name: {{ match.name }}</span><br/>
                                <span>contact_type: {{ match.contact_type }}</span><br/>
                            </div>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for match in entity_only_contact_ids %}
                        <li> {{ match }}
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
        <br/>
        <h1>Contribution Matches</h1>
        <table class="equalDivide" width="100%">
            <tr>
                <th>Legacy Only</th>
                <th>Legacy and Entity</th>
                <th>Entity Only</th>
            </tr>
            <tr>
                <td>
                    <ul>
                        {% for match in legacy_only_contribs|dictsort:"id" %}
                        <li> <div>
                                <span>id: {{ match.id }}</span><br/>
                                <span>date: {{ match.date|date }}</span><br/>
                                <span>recipient: {{ match.recipient }}</span><br/>
                                <span>amount: {{ match.amount }}</span><br/>
                                <span>name: {{ match.name }}</span><br/>
                                <span>city: {{ match.CITY }}</span><br/>
                                <span>state: {{ match.STATE }}</span><br/>
                                <span>zip_code: {{ match.ZIP_CODE }}</span><br/>
                            </div>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for match in shared_contribs|dictsort:"id" %}
                        <li> <div>
                                <span>id: {{ match.id }}</span><br/>
                                <span>date: {{ match.date|date }}</span><br/>
                                <span>recipient: {{ match.recipient }}</span><br/>
                                <span>amount: {{ match.amount }}</span><br/>
                                <span>name: {{ match.name }}</span><br/>
                                <span>city: {{ match.CITY }}</span><br/>
                                <span>state: {{ match.STATE }}</span><br/>
                                <span>zip_code: {{ match.ZIP_CODE }}</span><br/>
                            </div>
                        {% endfor %}
                    </ul>
                </td>
                <td>
                    <ul>
                        {% for match in entity_only_contribs|dictsort:"id" %}
                        <li> <div>
                                <span>id: {{ match.id }}</span><br/>
                                <span>date: {{ match.date|date }}</span><br/>
                                <span>recipient: {{ match.recipient }}</span><br/>
                                <span>amount: {{ match.amount }}</span><br/>
                                <span>name: {{ match.name }}</span><br/>
                                <span>city: {{ match.CITY }}</span><br/>
                                <span>state: {{ match.STATE }}</span><br/>
                                <span>zip_code: {{ match.ZIP_CODE }}</span><br/>
                            </div>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </table>
    </body>
</html>
