{% load staticfiles %}
{% load humanize %}

{% if data.0.contributions.in_time_frame or data.0.contributions.outside_time_frame %}
    <div class="iconDiv">
        <div>
            {% if data.0.contributions.in_time_frame and data.0.contributions.cycle_maxed %}
                <div class="centerChildren">
                    <img src="{{ data.0.icon }}">
                    <div class="underMsg">maxed{#{{ data.0.contributions.cycle_sum }}#}</div>
                </div>
            {% elif not data.0.contributions.in_time_frame %}
                <div class="centerChildren noContribThisCycle">
                    <img src="{{ data.0.icon }}">
                    <div class="underMsg">{{data.0.contributions.outside_time_frame.0.date|date:"o"}}</div>
                </div>
            {% else %}
                <img src="{{ data.0.icon }}">
            {% endif %}
        </div>
    </div>
{% endif %}
