{% extends "shared/sections/base_authenticated.html" %}

{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}
{% load waffle_tags %}


{% block extra_boostrap_css %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
{% endblock extra_boostrap_css %}

{% block page_css %}
  {% route "nonprofit" %}
      <!-- React app styles go here -->
      {% if debug and settings.WEBPACK_SERVER %}
          <link href="http://{{ settings.WEBPACK_SERVER }}/static/css/main.css" rel="stylesheet">
      {% else %}
          <link href="{% static "css/main.css" %}" rel="stylesheet">
      {% endif %}
  {% elseroute %}
<link href="{% static "css/apps/ranking.css" %}" rel="stylesheet">
<link href="{% static "css/apps/callsheet.css" %}" rel="stylesheet">
<link href="{% static "css/apps/legend.css" %}" rel="stylesheet">
<link href="{% static "css/apps/newFilters.css" %}" rel="stylesheet">
<link href="{% static "css/apps/prospect.css" %}" rel="stylesheet">
<link href="{% static "css/apps/editContact.css" %}" rel="stylesheet">
  {% endroute %}
{% endblock page_css %}

{% block title %}
    {% route "nonprofit" %}
        Analyzed Records - RevUp
    {% elseroute %}
        Ranking Detail - RevUp
    {% endroute %}
{% endblock %}

{% block active_ranking %}active{% endblock %}
{% block alertBarDisplayRefresh %}true{% endblock %}
{% block getting_started_target %}#ranking-screen{% endblock %}

{% block content %}
    {% route "nonprofit" %}
        <div id="app"
            data-account-Id="{{account.id}}"
            data-user-Id="{{user.id}}"
            data-seat-Id="{{user.current_seat_id}}"
            data-page="ranking"
            data-list-Id="{{contact_set.id}}"
        ></div>
    {% elseroute %}
    <div class="pageHeader">
    </div>

    <div class="newRankingDiv">
        <div class="rankingDetailsLoading" style="height:500px;width:100%">
            <div class="loadingDiv">
                <div class="loading"></div>
                <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
            </div>
        </div>
    </div>

    <ul class="contextMenu rankingContextMenu">
        <li class="contextMenuItem" contextAction="sendMail" btnId="sendMailBtn" targetSelector=".newRankingDiv .detailDiv .rankingDetailsDetailDiv">Send Mail</li>
        <li class="contextMenuItem" contextAction="moreDetails" btnId="prospectDetailsBtn" targetSelector=".newRankingDiv .detailDiv .rankingDetailsDetailDiv">More Details</li>
        <!--
        <li class="contextMenuItem" contextAction="callSheet" btnId="editContactBtnExtraClass" targetSelector=".newRankingDiv .detailDiv .rankingDetailsDetailDiv">Edit</li>
        -->
        <li class="contextMenuItem" contextAction="callSheet" btnId="deleteContactBtn" targetSelector=".newRankingDiv .detailDiv .rankingDetailsDetailDiv">Delete</li>
        <li class="contextMenuItem" contextAction="callSheet" btnId="callSheetBtn" targetSelector=".newRankingDiv .detailDiv .rankingDetailsDetailDiv">Call Sheet</li>
    </ul>
    {% endroute %}
{% endblock content %}

{% block page_foot_scripts %}
    {% route "nonprofit" %}
        <!-- React app JS goes here -->
        {% if debug and settings.WEBPACK_SERVER %}
            <script type="text/javascript" src="http://{{ settings.WEBPACK_SERVER }}/static/js/nfp_react.js"></script>
        {% else %}
            <script type="text/javascript" src="{% static "js/nfp_react.js" %}"></script>
        {% endif %}
    {% elseroute %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="{% static "js/apps/callSheet.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/apps/ranking.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/apps/newFilters.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/apps/prospectDetails.js" %}" charset="utf-8"></script>
    <script type="text/javascript" src="{% static "js/apps/editContact.js" %}" charset="utf-8"></script>


    <script>
    $(function () {
        setTimeout(function () {
            $(this).scrollTop(0);
        }, 10);

        // get the partition data
        var partitionStart = localStorage.getItem('rankPartition-' + "{{user.current_seat.id}}");
        if (partitionStart) {
            partitionStart = Number(partitionStart)
        }
        else {
            partitionStart = -1;
        }

        var contactLst = [];
        contactLst[0] = {};
        contactLst[0].value = '{{ contact_set.id }}';
        contactLst[0].displayValue = '{{ contact_set.title}}';

        var rankingTemplateData = {
            // url
            eventProspectsUrl:          "{% url "event_prospects_api-list" account.id event.id %}",

            contactDetailAnalysisUrlNew: "{% url "contact_set_analysis_contact_results_api-list" user.id "seatId" "contactSetId" %}",
            contactDetailUrlNew:         "{% url "contact_set_analysis_contact_results_api-detail" user.id "seatId" "contactSetId" "contactId" %}",
            exportUrlNew:                "{% url "contact_set_analysis_contact_results_api-list" user.id "seatId" "contactSetId" %}export/",
            filterListApiNew:            "{% url "contact_set_filters_api-list" user.id user.current_seat.id "contactSetId" %}",
            userContact:                 "{% url "user_contacts_api-detail" user.id "contactId" %}",
            accountContact:              "{% url "account_contacts_api-detail" account.id "contactId" %}",


            // user settings
            //analysisViewUserSettings: {{ analysis_view_user_settings | jsonify }},
            analysisViewUserSettingsUrl: "{% url "analysis_view_user_settings_api-detail" user.id "userSettingsId" %}",
            //analysisViewSettingSet: {{ analysis_view_setting_set | jsonify }},

            // which partition is displayed
            partitionStart: partitionStart, // yearLst[(yearLst.length - 1)].value,

            // pagination
            paginationStart: "{{ page|default:1 }}",

            // images
            appleImg:       "{% static "img/contactsourceicons/apple-xsm.svg" %}",
            clonedImg:      "{% static "img/contactsourceicons/cloned-xsm.svg" %}",
            csvImg:         "{% static "img/contactsourceicons/csv-xsm.svg" %}",
            gmailImg:       "{% static "img/contactsourceicons/gmail-xsm.svg" %}",
            linkedInImg:    "{% static "img/contactsourceicons/linkedin-xsm.svg" %}",
            outlookImg:     "{% static "img/contactsourceicons/outlook-xsm.svg" %}",
            allImg:         "{% static "img/contactsourceicons/all-xsm.svg" %}",
            savedImg:       "{% static "img/contactsourceicons/revup-xsm.svg" %}",
            mobileImg:      "{% static "img/contactsourceicons/mobile-xsm.png" %}",
            unknownImg:     "{% static "img/contactsourceicons/unknown-xsm.svg" %}",

            // id's
            eventId:        "{{event.id}}",
            accountId:      "{{account.id}}",
            seatId:         "{{user.current_seat.id}}",
            isAdmin:        "{{user.current_seat.has_admin_access}}"  == 'True',
            filterVersion:  "v3",

            // call sheet notes api
            callsheetNotesApi: "{% url "contact_set_results_notes_api-list" user.id user.current_seat.id "contactSetId" "contactId" %}",

            // prospect details api
            prospectDetailUrl:  "{% url "contact_set_analysis_contact_results_api-detail" user.id "seatId" "contactSetId" "contactId" %}",

            // call time api's
            callTimeContact: "{% url "call_time_contacts_api-list" account.id %}",

            // list of contact lists
            lstOfContactListApi: "{% url "seat_contact_set_api-list" user.id user.current_seat.id %}",
            constactListDetailsApi: "{% url "seat_contact_set_api-detail" user.id user.current_seat.id "contactSetId" %}",
            contactLst: contactLst,
            contactSetId: Number("{{ contact_set.id }}"),
            contactSet: {{contact_set | jsonify }},

            // user settings
            userSettings: {{ user_settings | jsonify }},

            // candidate name & image
            candidateName:  "{{ account.display_name}}",
            {% if account.icon %}
              candidateImage: "{{ MEDIA_URL }}{{ account.icon }}",
            {% else %}
              candidateImage: "",
            {% endif %}


            {% route "university" %}
                isAcademic:             true,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   false,

                bDisplayQuickFilters: true,
                bDisplayLegendBtn: false,
                bDisplaySettingBtn: false,

                listFields: {
                    autoSizeCol: 'colSchool',
                    autoShrinkCol: 'colName',
                    autoShrinkColMin: 200,

                    headerSectionClass: "lstColumnHeaderDiv",
                    headerLabelClass: "columnHeader",
                    headerFields: [
                        {text:      "Ranking",
                         position:  "center",
                         width:     "55px",
                         style:     "",
                         css:       "colRanking",

                         minColWidth: 50,
                         sliderAfter: true,
                        },
                        {text:      "Name",
                         position:  "left",
                         width:     "calc(100% - 410px)",
                         style:     "",
                         css:       "colName",

                         minColWidth: 200,
                         sliderAfter: true,
                         resizePercent: 100,
                        },
                        {text:      "Grad. Yr.",
                         position:  "center",
                         width:     "60px",
                         style:     "",
                         css:       "colGradYear",

                         minColWidth: 50,
                         sliderAfter: true,
                        },
                        {text:      "Giving History",
                         position:  "center",
                         width:     "100px",
                         style:     "",
                         css:       "colGiving",

                         minColWidth: 70,
                         sliderAfter: true,
                        },
                        /*
                        {text:      "School",
                         position:  "left",
                         width:     "210px",
                         style:     "",
                         css:       "colSchool",

                          minColWidth: 150,
                          sliderAfter: true,
                        },
                        */
                        {text:      "Other Giving",
                         position:  "left",
                         width:     "75px",
                         style:     "",
                         css:       "colOtherGiving",

                          minColWidth: 150,
                        },
                    ],

                    entryCSS:       "",     // values for each entry
                    entryStyle:     "",
                    entryAttr:      "",
                    entryClass:     "",
                    entryFields: [
                        {position:  "center",
                         width:     "55px",
                         style:     "",
                         css:       "colRanking sortable",
                         type:      "rankingField",
                         scoreNumSection:   "",
                         scoreNumField:     "score",
                         //background: "linear-gradient(0deg, rgba(191, 152, 84, 1) 0%, rgba(179, 137, 70, 1) 25.27%, rgba(207, 156, 68, 1) 99.46%)",
                         scoreBackground: '#a4b58e',

                         minColWidth: 55,
                         sliderAfter: true,
                        },
                        {position:  "left",
                         width:     "calc(100% - 410px)",
                         style:     "margin-top: 7px;",
                         css:       "colName",
                         type:      "name",
                         dataSection:   "contact",
                         dataField:     ["first_name", "last_name"],
                         dataDivClass:  "nameBtn",

                         minColWidth: 200,
                         sliderAfter: true,
                         resizePercent: 100,
                        },
                        {position:  "center",
                         width:     "60px",
                         style:     "margin-top:10px;",
                         css:       "colGradYear",
                         type:      "text",
                         dataSection:   "key_signals",
                         dataField:     "graduation_year",

                         minColWidth: 50,
                         sliderAfter: true,
                     },
                        {position:  "right",
                         width:     "100px",
                         style:     "margin-top:10px;padding-right:20px",
                         css:       "colGiving sortable",
                         type:      "dollar",
                         dataSection:   "key_signals",
                         dataField:     "giving",

                         minColWidth: 70,
                         sliderAfter: true,
                        },
                        /*
                        {position:  "left",
                         width:     "210px",
                         style:     "margin-top:10px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;",
                         css:       "colSchool",
                         type:      "text",
                         dataSection:   "key_signals",
                         dataField:     "school",

                         minColWidth: 150,
                         sliderAfter: true
                        },
                        */
                        {position:  "left",
                         width:     "75px",
                         style:     "margin-top:3px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;",
                         css:       "colOtherGiving",
                         type:      "tickMarks",
                         dataSection:   "key_signals",
                         numTicks:   "giving_history_chart",
                         spectrum:  "political_spectrum",

                         minColWidth: 150,
                        },
                    ],
                },

                detailSection: {
                    displaySections: {
                        name: {
                            // fields
                            //      display -> boolean
                            // photo section
                            //      section -> data section to use
                            //      imgField -> field to get the image url in the section
                            //      linkInProfile -> field to get the linkIn profile for the hyper link
                            //      photoSec -> which photo soruce should be displayed
                            //      photoHeight -> height of the photo
                            //      photoWidth -> width of the photo
                            // score section
                            //      scoreColorSection -> data section to use
                            //      scoreColorField -> field in the scoreColorSection
                            //      scoreColorClass -> color class to use (if blank color should be set by scoreColorStyle)
                            //      scoreColorStyle -> style to use for the color section
                            //      scoreNumSection -> section to use for the score num
                            //      scoreNumField -> field in the scoreNumSection
                            // name line 1
                            //      name1Section -> data section to use
                            //      name1Field -> field or array of fields from section to display
                            //      name1FieldSeperator -> if array character to use as seperator
                            // name line 2 same as name 1
                            // degree
                            //      degreeSection - data section to use
                            //      dgreeField - field in the degreeSection
                            //      nameDegreeSeperator - seperator beteen the name 2 and the degree
                            // email address to display
                            //      emailSection -> data section to use
                            //      emailField -> field of section to display
                            //      emailFieldDisplay -> sub field in field to displaySections
                            //      emailMaxDisplay -> max number of email to display
                            display: true,

                            photoProfileLink: {
                                section: 'contact',
                                imgData: 'image_urls',
                                profileData: 'external_profiles',
                                photoSrc: 'LinkedIn',
                                profileSrc: 'LinkedIn',
                                photoWidth: '56px',
                                photoHeight: '56px',
                            },
                            score: {
                                section: '',
                                field: 'score',
                                colorClass: '',
                                colorStyle: 'background:#a4b58e',
                            },
                            firstName: {
                                section: 'contact',
                                field: 'first_name',
                            },
                            lastName: {
                                section: 'contact',
                                field: 'last_name',
                            },
                            email: {
                                section: 'contact',
                                field: 'email_addresses',
                                displayField: 'address',
                                maxDisplay: 3
                            },
                            phone: {
                                section: 'contact',
                                field: 'phone_numbers',
                                firstOfType: ['Cell', 'Home', 'Work'],
                                labelKey: 'label',
                                valKey: 'number',
                                bfirstNoneBlank: false,
                                trimOffFront: 7,
                            },
                            /*
                            email: {
                                section: 'features',
                                fieldStartWith: 'Purdue Alum Lookup',
                                signalSet: 'Purdue Bio',
                                subField: 'match',
                                key: 'email',
                                maxDisplay: 3,
                            },
                            phone: {
                                section: 'features',
                                fieldStartWith: 'Purdue Alum Lookup',
                                signalSet: 'Purdue Bio',
                                subField: 'match',
                                //keyLabel: ['Cell', 'Home', 'Work'],
                                key: ['mobile_phone', 'home_phone', 'business_phone'],
                                bfirstNoneBlank: true,
                                trimOffFront: 5,
                            },
                            */
                            degree: {
                                section: 'features',
                                fieldStartWith: 'Purdue Alum Lookup',
                                signalSet: 'Purdue Bio',
                                subField: 'match',
                                key: 'degree',
                                seperator: ' - ',
                            },


                            bDisplayCallsheetBtn: true,
                            callsheetBtnLabel: 'Notes',
                            callSheetBtnStyle: 'width:100%;height:20px;'
                        },
                        contactDetails: {
                            // fields
                            //      display -> boolean
                            // data
                            //      section -> section to get the data from
                            //      field -> the field in the section
                            // array of data types (as many as needed in the array)
                            //      data: [{
                            //              subField -> the field in fields to use
                            //              signalSet -> signalSet in the section[field] to use
                            //              type: 'attr' -> type of data
                            //              attr [{
                            //                  key -> field in section[field][subField][0]
                            //                  label -> display label
                            //                  },
                            //                  .......]
                            //              },
                            //              {
                            //              subField -> the field in fields to use
                            //              signalSet -> signalSet in the section[field] to use
                            //              type: 'activity' -> type of data
                            //              key -> key in the section
                            //              label -> label to display on the first key
                            //              }
                            //              ]
                            display: true,
                            section: 'features',
                            field: 'Purdue Alum Lookup',
                            data: [
                                {
                                    subField: "match",
                                    signalSet: 'Purdue Bio',
                                    type: 'attr',
                                    attr:[
                                        {
                                            key: 'school',
                                            label: 'Graduated'
                                        },
                                        {
                                            key: 'major',
                                            label: 'Major'
                                        },
                                        {
                                            key: 'graduation_year',
                                            label: 'Graduated'
                                        },
                                        {
                                            key: "company",
                                            label: 'Employer'
                                        },
                                        {
                                            key: 'title',
                                            label: 'Occupation'
                                        }
                                    ],
                                },
                                {
                                    subField: 'match',
                                    signalSet: 'Purdue Activities',
                                    type: 'activity',
                                    key: 'activity',
                                    bDeDup: true,           // dedup the data
                                    label: 'Activities'
                                }
                            ]
                        },
                        academicContributions: {
                            // fields
                            //      display -> boolean
                            // title
                            //      title -> title
                            //  data
                            //      section -> section holding data
                            //      field -> field starting with
                            //      subField -> sub field to fetch data by
                            //      orgBy -> sub field to display by (display on first occurance)
                            //      maxOrgByDisplay -> maximum number of orgBy to display
                            //      noContributions -> Message to display is no contributions
                            display: true,
                            title: 'Recent Contributions',
                            section: "features",
                            field: "Purdue Giving",
                            subField: "match",
                            orgBy: "school",
                            thenBy: 'date',
                            maxOrgByDisplay: 5,
                            noContributions: "This donor has not made any contributions in the last 5 years"
                        },
                        contribution: false,
                        callSheetBtn: {
                            // fields
                            //      display -> boolean
                            //      btnLabel -> text in the button
                            display: false,
                            btnLabel: 'Generate Notes',
                        },
                        pieGraph: {
                            // fields
                            //      display -> boolean
                            //      trendingSection -> section where to get trending data
                            //      trendingField -> field in the trendingSection
                            //      politicalAmount -> if zero message no political giving
                            display: true,
                            trendingSection: "key_signals",
                            trendingField: "political_spectrum",
                            politicalAmount: "political_giving",
                        },
                        givingHistoryGraph: {
                            // fields
                            //      display -> boolean
                            // title
                            //      title -> text title
                            //      noDataMsg -> message to display if nothing to graph
                            // data
                            //      section -> section holding data
                            //      field -> field in the section
                            //      subField -> field in field
                            // graph variables
                            //      barLabels -> value under the bars
                            //      scaleBars -> right legend labels (each entry will have a bar in the middle of the graph)
                            //      scaleStartPoint -> where to looking for round top
                            //      scaleStepSize -> amount to step up until max value is found
                            //      scaleMax -> maximum scale amout
                            //      scaleNumBars -> how many bars to present
                            //      mainBarColor -> The color of the main data (academic)
                            //      otherBarColor -> the color of all the other dats
                            display: true,
                            title: 'Last 5 Years of Academic Contributions',
                            subtitle: 'Dollars per Year',
                            otherLegend: 'Other Contributions',
                            mainLegend: 'Academic Contributions',
                            noDataMsg: 'No Donations for the last 5 years to graph',
                            section: 'features',
                            field: 'Purdue Giving',
                            subField: 'giving_history',
                            scaleStartPoint: 500,
                            scaleStepSize: 500,
                            scaleMax: 100000,
                            scaleNumBars: 5,
                            mainBarColor: '#a4b58e',
                            otherBarColor: '#dcebf9',

                            barLabels: ['11', '12', '13', '14', '15'],
                            scaleBars: [2000, 1500, 1000, 500],
                            },
                        contributionGraph: {
                            // fields
                            //      display -> boolean
                            // title
                            //      title -> text title
                            // graph
                            //      numDots -> number of dots in graph
                            //      leftLabel -> the label on the left, least amount
                            //      rightLabel -> the label on the right, the greatest amount
                            display: false,
                            title: 'Political & Non Profit Contributions',
                            numDots: 10,
                            leftLabel: '$',
                            rightLabel: '$$$',
                            },
                        prospectDetailsBtn: true,
                    },
                    amounts: {
                        title: "Contribution",
                        sections: [
                            {title: "My Campaign",
                             featureStart: "Client contributions",
                             maxDisplay: 3,
                             sectionClass: 'myCamp'
                            },
                            {title: "Correlated Campaigns",
                             featureStart: "Key Contributions",
                             is_ally: true,
                             maxDisplay: 5,
                             sectionClass: 'myCamp'
                            },
                            {title: "OppositionKey Contributions",
                             featureStart: "Key Contributions",
                             is_ally: false,
                             maxDisplay: 5,
                             sectionClass: 'myCamp'
                            }
                        ]
                    }
                },
            {% elifroute "polcam" %}
                isAcademic:             false,
                isPoliticalCampaign:    true,
                isPoliticalCommittee:   false,

                bDisplayQuickFilters: true,
                bDisplayLegendBtn: true,
                bDisplaySettingBtn: true,

                listFields: {
                    headerSectionClass: "lstColumnHeaderDiv",
                    headerLabelClass: "columnHeader",
                    headerFields: [
                        {
                            text:      "Ranking",
                            position:  "center",
                            width:     "75px",
                            style:     "padding-left: 5px; padding-right: 7px;",
                            css:       "colRanking",
                            minColWidth: 75,
                            sliderAfter: true,
                            sortable: true,
                            sortkey: 'score',
                            sortFirst: true,
                        },
                        {
                            text:      "Name",
                            position:  "left",
                            width:     "calc(100% - 535px)",
                            noPerm:    ["prospects", "call_time", "call_time-prospects"],
                            noPermWidth:   ["calc(100% - 476px)",  "calc(100% - 516px)", "calc(100% - 544px)"],
                            style:     "",
                            css:       "colName",
                            minColWidth: 185,
                            sliderAfter: true,
                            resizePercent: 100,
                            sortable: false,
                        },
                        {
                            text:      "Gave To",
                            position:  "center",
                            width:     "140px",
                            style:     "padding-left: 30px; text-align: justify;",
                            css:       "colDonation",

                            minColWidth: 90,
                            sliderAfter: true,
                            sortable: false,

                        },

                        {
                            text:      "Giving History",
                            position:  "right",
                            width:     "140px",
                            style:     "margin-left: 0px; margin-right: 0px; padding-left: 6px; padding-right: 28px;",
                            css:       "colGiving",

                            minColWidth: 130,
                            sliderAfter: true,
                            sliderPermissions: ['prospects', 'call_time', 'call_time-prospects'],
                            sortable: true,
                            sortkey: 'giving',
                        },
                        {
                            text:      "Prospect List",
                            position:  "center",
                            width:     "85px",
                            style:     "",
                            css:       "colPropectSwitch",
                            permission: "prospects",
                            sliderAfter: true,

                            minColWidth: 85,
                            sortable: false,
                        },
                        {
                            text:      "Call Time",
                            position:  "center",
                            width:     "60px",
                            style:     "",
                            css:       "colCallTimeSwitch",
                            permission: "call_time",

                            minColWidth: 50,
                            sortable: false,
                        },
                        {
                            text:      "Prospect List",
                            position:  "center",
                            width:     "85px",
                            style:     "",
                            css:       "colPropectSwitch",
                            permission: "call_time-prospects",
                            enablePermission: 'prospects',
                            sliderAfter: true,

                            minColWidth: 85,
                            sortable: false,
                        },
                        {
                            text:      "Call Time",
                            position:  "center",
                            width:     "60px",
                            style:     "",
                            css:       "colCallTimeSwitch",
                            permission: "call_time-prospects",
                            enablePermission: 'call_time',

                            minColWidth: 50,
                            sortable: false,
                        },
                    ],

                    // entryFields
                    //      position -> position in column
                    //      width -> width of the column (remember units)
                    //      style -> style for the column entry
                    //      css -> additional CSS for the column
                    //      type -> how to display the data
                    //          attrubute based on type
                    //          type -> "rankingField"
                    //              scoreNumSection -> section to find the score in, can be blank
                    //              scoreNumField -> field in scoreNumSection holding score
                    //              scoreColorSection -> section hold the score color value
                    //              scoreColorField -> field in the scoreColorSection
                    //              scoreBackground -> background color of the score
                    //          type -> name
                    //              dataSection -> section holding the data
                    //              dataField -> single or arrary of fields in the section for displaying name
                    //              dataDivClass -> extra class for displaying the column value
                    entryCSS:       "",     // values for each entry
                    entryStyle:     "",
                    entryAttr:      "",
                    entryClass:     "",
                    entryFields: [
                        {position:  "center",
                         width:     "75px",
                         style:     "margin-left: 0px; margin-right: 0px; padding-left: 5px; padding-right: 7px;",
                         css:       "colRanking sortable",
                         type:      "rankingField",
                         scoreNumSection: "",
                         scoreNumField: "score",
                         scoreColorSection:   "key_signals",
                         scoreColorField:     "political_spectrum",

                         minColWidth: 75,
                         sliderAfter: true,
                        },
                        {position:  "left",
                         width:     "calc(100% - 535px)",
                         noPerm:    ["prospects", "call_time", "call_time-prospects"],
                         noPermWidth:   ["calc(100% - 465px)",  "calc(100% - 375px)",  "calc(100% - 530px)"],
                         style:     "margin-top: 7px;",
                         css:       "colName",
                         type:      "name",
                         dataSection:   "contact",
                         dataField:     ["first_name", "last_name"],
                         dataDivClass:  "nameBtn",

                         minColWidth: 185,
                         sliderAfter: true,
                         resizePercent: 100,
                        },
                        {position:  "",
                         width:     "150px",
                         style:     "",
                         css:       "colDonation",
                         type:      "givingIcon",
                         dataSection:   "key_signals",
                         sliderAfter: true,
                         extraData: {
                            {% if account.icon %}
                                candidateImage: "{{ MEDIA_URL }}{{ account.icon }}"
                            {% else %}
                                candidateImage: ""
                            {% endif %}
                        }},
                        {position:  "right",
                         width:     "130px",
                         style:     "margin-left: 0px; margin-right: 0px; padding-left: 6px; padding-right: 28px;  line-height: 25px;",
                         css:       "colGiving sortable",
                         type:      "dollar",
                         dataSection:   "key_signals",
                         dataField:     "giving",

                         minColWidth: 130,
                         sliderAfter: true,
                         sliderPermissions: ['prospects', 'call_time', 'call_time-prospects'],
                        },
                        {position:  "center",
                         width:     "85px",
                         style:     "",
                         css:       "colPropectSwitch",
                         type:      "propectSwitch",
                         dataSection:   "prospect",
                         dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "prospectId",
                                          section: "prospect",
                                          field: "prospect_id"}
                                        ],
                         permission: "prospects",
                         sliderAfter: false,
                         minColWidth: 85,
                        },
                        {position:  "center",
                         width:     "60px",
                         style:     "",
                         css:       "colCallTimeSwitch",
                         type:      "callTimeSwitch",
                         dataSection:   "call_time_contact",
                         //dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "callManagerContactId",
                                          section: "call_time_contact",
                        //                  field: "prospect_id"}
                                        }],

                        permission: 'call_time',
                        sliderAfter: true,
                         minColWidth: 85,
                        },
                        {position:  "center",
                         width:     "85px",
                         style:     "",
                         css:       "colPropectSwitch",
                         type:      "propectSwitch",
                         dataSection:   "prospect",
                         dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "prospectId",
                                          section: "prospect",
                                          field: "prospect_id"}
                                        ],
                         permission: "call_time-prospects",
                         enablePermission: 'prospects',
                         sliderAfter: true,
                         minColWidth: 85,
                        },
                        {position:  "center",
                         width:     "60px",
                         style:     "",
                         css:       "colCallTimeSwitch",
                         type:      "callTimeSwitch",
                         dataSection:   "call_time_contact",
                         //dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "callManagerContactId",
                                          section: "call_time_contact",
                        //                  field: "prospect_id"}
                                        }],

                        permission: 'call_time-prospects',
                        enablePermission: 'call_time',
                        sliderAfter: true,
                        minColWidth: 85,
                        }
                    ],
                },

                detailSection: {
                    displaySections: {
                        name: {
                            // fields
                            //      display -> boolean
                            // photo section
                            //      section -> data section to use
                            //      imgField -> field to get the image url in the section
                            //      linkInProfile -> field to get the linkIn profile for the hyper link
                            //      photoSec -> which photo soruce should be displayed
                            //      photoHeight -> height of the photo
                            //      photoWidth -> width of the photo
                            // score section
                            //      scoreColorSection -> data section to use
                            //      scoreColorField -> field in the scoreColorSection
                            //      scoreColorClass -> color class to use (if blank color should be set by scoreColorStyle)
                            //      scoreColorStyle -> style to use for the color section
                            //      scoreNumSection -> section to use for the score num
                            //      scoreNumField -> field in the scoreNumSection
                            // name line 1
                            //      name1Section -> data section to use
                            //      name1Field -> field or array of fields from section to display
                            //      name1FieldSeperator -> if array character to use as seperator
                            // name line 2 same as name 1
                            // email address to display
                            //      emailSection -> data section to use
                            //      emailField -> field of section to display
                            //      emailFieldDisplay -> sub field in field to displaySections
                            //      emailMaxDisplay -> max number of email to display
                            display: true,
                            photoProfileLink: {
                                section: 'contact',
                                imgData: 'image_urls',
                                profileData: 'external_profiles',
                                photoSrc: 'LinkedIn',
                                profileSrc: 'LinkedIn',
                                photoWidth: '56px',
                                photoHeight: '56px',
                            },
                            score: {
                                section: '',
                                field: 'score',
                                colorClass: '',
                                //colorStyle: 'background:#a4b58e',
                            },
                            scoreColor: {
                                section:   "key_signals",
                                field:     "political_spectrum",
                            },
                            firstName: {
                                section: 'contact',
                                field: 'first_name',
                            },
                            lastName: {
                                section: 'contact',
                                field: 'last_name',
                            },
                            email: {
                                section: 'contact',
                                field: 'email_addresses',
                                displayField: 'address',
                                maxDisplay: 3
                            },
                            phone: {
                                section: 'contact',
                                field: 'phone_numbers',
                                firstOfType: ['Cell', 'Home', 'Work'],
                                labelKey: 'label',
                                valKey: 'number',
                                bfirstNoneBlank: false,
                                trimOffFront: 7,
                            },
                        },
                        contactDetails: false,
                        contribution: true,
                        callSheetBtn: {
                            // fields
                            //      display -> boolean
                            //      btnLabel -> text in the button
                            btnlabel: 'Generate Call Sheet',
                            {% if not account_profile.product.features.CALL_SHEET_EXPORT %}
                                display: false,
                            {% else %}
                                display: true,
                            {% endif %}
                        },
                        pieGraph: {
                            // fields
                            //      display -> boolean
                            //      trendingSection -> section where to get trending data
                            //      trendingField -> field in the trendingSection
                            //      politicalAmount -> if zero message no political giving
                            display: true,
                            trendingSection: "key_signals",
                            trendingField: "political_spectrum",
                            politicalAmount: "political_giving",
                        },
                        givingHistoryGraph: false,
                        contributionGraph: false,
                    },
                    amounts: {
                        title: "Contribution",
                        sections: [
                            {title: "My Campaign",
                             featureStart: "Client contributions",
                             maxDisplay: 3,
                             sectionClass: 'myCamp'
                            },
                            {title: "Correlated Campaigns",
                             featureStart: "Key Contributions",
                             is_ally: true,
                             maxDisplay: 5,
                             sectionClass: 'myCamp'
                            },
                            {title: "OppositionKey Contributions",
                             featureStart: "Key Contributions",
                             is_ally: false,
                             maxDisplay: 5,
                             sectionClass: 'myCamp'
                            }
                        ]
                    }
                },
            {% elifroute "polcom" %}
                isAcademic:             false,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   true,

                bDisplayQuickFilters: true,
                bDisplayLegendBtn: true,
                bDisplaySettingBtn: true,

                listFields: {
                    headerSectionClass: "lstColumnHeaderDiv",
                    headerLabelClass: "columnHeader",
                    headerFields: [
                        {text:      "Ranking",
                         position:  "center",
                         width:     "55px",
                         style:     "",
                         css:       "colRanking ",
                         width:     "75px",
                         style:     "padding-left: 5px; padding-right: 7px;",
                         css:       "colRanking",
                         minColWidth: 75,

                         minColWidth: 50,
                         sliderAfter: true,
                         sliderAfter: true,
                         sortable: true,
                         sortkey: 'score',
                         sortFirst: true,
                        },
                        {text:      "Name",
                         position:  "left",
                         noPerm:    ["prospects", "call_time", "call_time-prospects"],
                         noPermWidth:   ["calc(100% - 496px)",  "calc(100% - 451px)", "calc(100% - 546px)"],
                         width:     "calc(100% - 460px)",
                         style:     "",
                         css:       "colName",

                         minColWidth: 185,
                         sliderAfter: true,
                         resizePercent: 100,
                        },
                        {text:      "Gave To",
                         position:  "left",
                         width:     "150px",
                         style:     "padding-left:18px;",
                         css:       "colDonation",

                         minColWidth: 120,
                         sliderAfter: true,
                        },
                        {text:      "Giving History",
                         position:  "right",
                         width:     "130px",
                         style:     "",
                         css:       "colGiving",

                         minColWidth: 120,
                         sliderAfter: true,
                         noPermSlider: "prospects",
                         sortable: true,
                         sortkey: 'giving',
                        },
                        {text:      "Prospect List",
                         position:  "center",
                         width:     "85px",
                         style:     "",
                         css:       "colPropectSwitch",
                         permission: "prospects",
                         // sliderAfter: true,
                         minColWidth: 85,
                        },
                        {text:      "Call Time",
                         position:  "center",
                         width:     "60px",
                         style:     "",
                         css:       "colCallTimeSwitch",
                         permission: "call_time",

                         minColWidth: 50,
                        },
                        {text:      'Prospect List',
                         position:  "center",
                         width:     "85px",
                         style:     "",
                         css:       "colPropectSwitch",
                         type:      "propectSwitch",
                         dataSection:   "prospect",
                         dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "prospectId",
                                          section: "prospect",
                                          field: "prospect_id"}
                                        ],
                         permission: "call_time-prospects",
                         enablePermission: 'prospects',
                         sliderAfter: true,

                         minColWidth: 85,
                        },
                        {text:      'Call Time',
                         position:  "center",
                         width:     "60px",
                         style:     "",
                         css:       "colCallTimeSwitch",
                         type:      "callTimeSwitch",
                         dataSection:   "call_time_contact",
                         //dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "callManagerContactId",
                                          section: "call_time_contact",
                        //                  field: "prospect_id"}
                                        }],

                        permission: 'call_time-prospects',
                        enablePermission: 'call_time',
                        //sliderAfter: true,
                         minColWidth: 85,
                        }
                    ],

                    // entryFields
                    //      position -> position in column
                    //      width -> width of the column (remember units)
                    //      style -> style for the column entry
                    //      css -> additional CSS for the column
                    //      type -> how to display the data
                    //          attrubute based on type
                    //          type -> "rankingField"
                    //              scoreNumSection -> section to find the score in, can be blank
                    //              scoreNumField -> field in scoreNumSection holding score
                    //              scoreColorSection -> section hold the score color value
                    //              scoreColorField -> field in the scoreColorSection
                    //              scoreBackground -> background color of the score
                    //          type -> name
                    //              dataSection -> section holding the data
                    //              dataField -> single or arrary of fields in the section for displaying name
                    //              dataDivClass -> extra class for displaying the column value
                    entryCSS:       "",     // values for each entry
                    entryStyle:     "",
                    entryAttr:      "",
                    entryClass:     "",
                    entryFields: [
                        {position:  "center",
                         width:     "75px",
                         style:     "margin-left: 0px; margin-right: 0px; padding-left: 5px; padding-right: 7px;",
                         css:       "colRanking sortable",
                         type:      "rankingField",
                         scoreNumSection: "",
                         scoreNumField: "score",
                         scoreColorSection:   "key_signals",
                         scoreColorField:     "political_spectrum",

                         minColWidth: 75,
                         sliderAfter: true,
                        },
                        {position:  "left",
                         width:     "calc(100% - 460px)",
                         noPerm:    ["prospects", "call_time", "call_time-prospects"],
                         noPermWidth:   ["calc(100% - 480px)",  "calc(100% - 435px)", "calc(100% - 530px)"],
                         style:     "margin-top: 7px;",
                         css:       "colName",
                         type:      "name",
                         dataSection:   "contact",
                         dataField:     ["first_name", "last_name"],
                         dataDivClass:  "nameBtn",

                         minColWidth: 185,
                         sliderAfter: true,
                         resizePercent: 100,
                        },
                        {position:  "",
                         width:     "150px",
                         style:     "",
                         css:       "colDonation",
                         type:      "givingIcon",
                         dataSection:   "key_signals",
                         extraData: {
                             {% if account.icon %}
                                 candidateImage: "{{ MEDIA_URL }}{{ account.icon }}",
                             {% else %}
                                 candidateImage: "",
                             {% endif %}
                         },

                         minColWidth: 120,
                         sliderAfter: true,
                        },
                        {position:  "right",
                         width:     "130px",
                         style:     "margin-left: 0px; margin-right: 0px; padding-left: 6px; padding-right: 28px;",
                         css:       "colGiving sortable",
                         type:      "dollar",
                         dataSection:   "key_signals",
                         dataField:     "giving",

                         minColWidth: 130,
                         noPermSlider: "prospects",
                         sliderAfter: true,
                        },
                        {position:  "center",
                         width:     "85px",
                         style:     "",
                         css:       "colPropectSwitch",
                         type:      "propectSwitch",
                         dataSection:   "prospect",
                         dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "prospectId",
                                          section: "prospect",
                                          field: "prospect_id"}
                                        ],
                         permission: "prospects",
                         sliderAfter: true,
                         minColWidth: 85,
                        },
                        {position:  "center",
                         width:     "85px",
                         style:     "",
                         css:       "colPropectSwitch",
                         type:      "propectSwitch",
                         dataSection:   "prospect",
                         dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "prospectId",
                                          section: "prospect",
                                          field: "prospect_id"}
                                        ],
                         permission: "call_time-prospects",
                         enablePermission: 'prospects',
                         sliderAfter: true,
                         minColWidth: 85,
                        },
                        {position:  "center",
                         width:     "60px",
                         style:     "",
                         css:       "colCallTimeSwitch",
                         type:      "callTimeSwitch",
                         dataSection:   "call_time_contact",
                         //dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "callManagerContactId",
                                          section: "call_time_contact",
                        //                  field: "prospect_id"}
                                        }],

                        permission: 'call_time-prospects',
                        enablePermission: 'call_time',

                         minColWidth: 85,
                        }
                    ],
                },

                detailSection: {
                    displaySections: {
                        name: {
                            // fields
                            //      display -> boolean
                            // photo section
                            //      section -> data section to use
                            //      imgField -> field to get the image url in the section
                            //      linkInProfile -> field to get the linkIn profile for the hyper link
                            //      photoSec -> which photo soruce should be displayed
                            //      photoHeight -> height of the photo
                            //      photoWidth -> width of the photo
                            // score section
                            //      scoreColorSection -> data section to use
                            //      scoreColorField -> field in the scoreColorSection
                            //      scoreColorClass -> color class to use (if blank color should be set by scoreColorStyle)
                            //      scoreColorStyle -> style to use for the color section
                            //      scoreNumSection -> section to use for the score num
                            //      scoreNumField -> field in the scoreNumSection
                            // name line 1
                            //      name1Section -> data section to use
                            //      name1Field -> field or array of fields from section to display
                            //      name1FieldSeperator -> if array character to use as seperator
                            // name line 2 same as name 1
                            // email address to display
                            //      emailSection -> data section to use
                            //      emailField -> field of section to display
                            //      emailFieldDisplay -> sub field in field to displaySections
                            //      emailMaxDisplay -> max number of email to display
                            display: true,

                            photoProfileLink: {
                                section: 'contact',
                                imgData: 'image_urls',
                                profileData: 'external_profiles',
                                photoSrc: 'LinkedIn',
                                profileSrc: 'LinkedIn',
                                photoWidth: '56px',
                                photoHeight: '56px',
                            },
                            score: {
                                section: '',
                                field: 'score',
                                colorClass: '',
                                //colorStyle: 'background:#a4b58e',
                            },
                            scoreColor: {
                                section:   "key_signals",
                                field:     "political_spectrum",
                            },
                            firstName: {
                                section: 'contact',
                                field: 'first_name',
                            },
                            lastName: {
                                section: 'contact',
                                field: 'last_name',
                            },
                            email: {
                                section: 'contact',
                                field: 'email_addresses',
                                displayField: 'address',
                                maxDisplay: 3
                            },
                            phone: {
                                section: 'contact',
                                field: 'phone_numbers',
                                firstOfType: ['Cell', 'Home', 'Work'],
                                labelKey: 'label',
                                valKey: 'number',
                                bfirstNoneBlank: false,
                                trimOffFront: 7,
                            },
                        },
                        contactDetails: false,
                        contribution: true,
                        callSheetBtn: {
                            // fields
                            //      display -> boolean
                            //      btnLabel -> text in the button
                            display: true,
                            btnlabel: 'Generate Call Sheet',
                        },
                        pieGraph: {
                            // fields
                            //      display -> boolean
                            //      trendingSection -> section where to get trending data
                            //      trendingField -> field in the trendingSection
                            //      politicalAmount -> if zero message no political giving
                            display: true,
                            trendingSection: "key_signals",
                            trendingField: "political_spectrum",
                            politicalAmount: "political_giving",
                        },
                        givingHistoryGraph: false,
                        contributionGraph: false,
                    },
                    amounts: {
                        title: "Contribution",
                        sections: [
                            {title: "My Campaign",
                             featureStart: "Client contributions",
                             maxDisplay: 3,
                             sectionClass: 'myCamp'
                            },
                            {title: "Correlated Campaigns",
                             featureStart: "Key Contributions",
                             is_ally: true,
                             maxDisplay: 5,
                             sectionClass: 'myCamp'
                            },
                            {title: "OppositionKey Contributions",
                             featureStart: "Key Contributions",
                             is_ally: false,
                             maxDisplay: 5,
                             sectionClass: 'myCamp'
                            }
                        ]
                    }
                },
            {% elifroute "nonprofit" %}
                isAcademic:             false,
                isPoliticalCampaign:    true,
                isPoliticalCommittee:   false,

                bDisplayQuickFilters: true,
                bDisplayLegendBtn: true,
                bDisplaySettingBtn: true,

                listFields: {
                    headerSectionClass: "lstColumnHeaderDiv",
                    headerLabelClass: "columnHeader",
                    headerFields: [
                        {
                            text:      "Ranking",
                            position:  "center",
                            width:     "75px",
                            style:     "padding-left: 5px; padding-right: 7px;",
                            css:       "colRanking",
                            minColWidth: 75,
                            sliderAfter: true,
                            sortable: true,
                            sortkey: 'score',
                            sortFirst: true,
                        },
                        {
                            text:      "Name",
                            position:  "left",
                            width:     "calc(100% - 535px)",
                            noPerm:    ["prospects", "call_time", "call_time-prospects"],
                            noPermWidth:   ["calc(100% - 476px)",  "calc(100% - 516px)", "calc(100% - 544px)"],
                            style:     "",
                            css:       "colName",
                            minColWidth: 185,
                            sliderAfter: true,
                            resizePercent: 100,
                            sortable: false,
                        },
                        {
                            text:      "Gave To",
                            position:  "center",
                            width:     "140px",
                            style:     "padding-left: 30px; text-align: justify;",
                            css:       "colDonation",

                            minColWidth: 90,
                            sliderAfter: true,
                            sortable: false,

                        },

                        {
                            text:      "Giving History",
                            position:  "right",
                            width:     "140px",
                            style:     "margin-left: 0px; margin-right: 0px; padding-left: 6px; padding-right: 28px;",
                            css:       "colGiving",

                            minColWidth: 130,
                            sliderAfter: true,
                            sliderPermissions: ['prospects', 'call_time', 'call_time-prospects'],
                            sortable: true,
                            sortkey: 'giving',
                        },
                        {
                            text:      "Prospect List",
                            position:  "center",
                            width:     "85px",
                            style:     "",
                            css:       "colPropectSwitch",
                            permission: "prospects",
                            sliderAfter: true,

                            minColWidth: 85,
                            sortable: false,
                        },
                        {
                            text:      "Call Time",
                            position:  "center",
                            width:     "60px",
                            style:     "",
                            css:       "colCallTimeSwitch",
                            permission: "call_time",

                            minColWidth: 50,
                            sortable: false,
                        },
                        {
                            text:      "Prospect List",
                            position:  "center",
                            width:     "85px",
                            style:     "",
                            css:       "colPropectSwitch",
                            permission: "call_time-prospects",
                            enablePermission: 'prospects',
                            sliderAfter: true,

                            minColWidth: 85,
                            sortable: false,
                        },
                        {
                            text:      "Call Time",
                            position:  "center",
                            width:     "60px",
                            style:     "",
                            css:       "colCallTimeSwitch",
                            permission: "call_time-prospects",
                            enablePermission: 'call_time',

                            minColWidth: 50,
                            sortable: false,
                        },
                    ],

                    // entryFields
                    //      position -> position in column
                    //      width -> width of the column (remember units)
                    //      style -> style for the column entry
                    //      css -> additional CSS for the column
                    //      type -> how to display the data
                    //          attrubute based on type
                    //          type -> "rankingField"
                    //              scoreNumSection -> section to find the score in, can be blank
                    //              scoreNumField -> field in scoreNumSection holding score
                    //              scoreColorSection -> section hold the score color value
                    //              scoreColorField -> field in the scoreColorSection
                    //              scoreBackground -> background color of the score
                    //          type -> name
                    //              dataSection -> section holding the data
                    //              dataField -> single or arrary of fields in the section for displaying name
                    //              dataDivClass -> extra class for displaying the column value
                    entryCSS:       "",     // values for each entry
                    entryStyle:     "",
                    entryAttr:      "",
                    entryClass:     "",
                    entryFields: [
                        {position:  "center",
                         width:     "75px",
                         style:     "margin-left: 0px; margin-right: 0px; padding-left: 5px; padding-right: 7px;",
                         css:       "colRanking sortable",
                         type:      "rankingField",
                         scoreNumSection: "",
                         scoreNumField: "score",
                         scoreColorSection:   "key_signals",
                         scoreColorField:     "political_spectrum",

                         minColWidth: 75,
                         sliderAfter: true,
                        },
                        {position:  "left",
                         width:     "calc(100% - 535px)",
                         noPerm:    ["prospects", "call_time", "call_time-prospects"],
                         noPermWidth:   ["calc(100% - 465px)",  "calc(100% - 375px)",  "calc(100% - 530px)"],
                         style:     "margin-top: 7px;",
                         css:       "colName",
                         type:      "name",
                         dataSection:   "contact",
                         dataField:     ["first_name", "last_name"],
                         dataDivClass:  "nameBtn",

                         minColWidth: 185,
                         sliderAfter: true,
                         resizePercent: 100,
                        },
                        {position:  "",
                         width:     "150px",
                         style:     "",
                         css:       "colDonation",
                         type:      "givingIcon",
                         dataSection:   "key_signals",
                         sliderAfter: true,
                         extraData: {
                            {% if account.icon %}
                                candidateImage: "{{ MEDIA_URL }}{{ account.icon }}"
                            {% else %}
                                candidateImage: ""
                            {% endif %}
                        }},
                        {position:  "right",
                         width:     "130px",
                         style:     "margin-left: 0px; margin-right: 0px; padding-left: 6px; padding-right: 28px;  line-height: 25px;",
                         css:       "colGiving sortable",
                         type:      "dollar",
                         dataSection:   "key_signals",
                         dataField:     "giving",

                         minColWidth: 130,
                         sliderAfter: true,
                         sliderPermissions: ['prospects', 'call_time', 'call_time-prospects'],
                        },
                        {position:  "center",
                         width:     "85px",
                         style:     "",
                         css:       "colPropectSwitch",
                         type:      "propectSwitch",
                         dataSection:   "prospect",
                         dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "prospectId",
                                          section: "prospect",
                                          field: "prospect_id"}
                                        ],
                         permission: "prospects",
                         sliderAfter: false,
                         minColWidth: 85,
                        },
                        {position:  "center",
                         width:     "60px",
                         style:     "",
                         css:       "colCallTimeSwitch",
                         type:      "callTimeSwitch",
                         dataSection:   "call_time_contact",
                         //dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "callManagerContactId",
                                          section: "call_time_contact",
                        //                  field: "prospect_id"}
                                        }],

                        permission: 'call_time',
                        sliderAfter: true,
                         minColWidth: 85,
                        },
                        {position:  "center",
                         width:     "85px",
                         style:     "",
                         css:       "colPropectSwitch",
                         type:      "propectSwitch",
                         dataSection:   "prospect",
                         dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "prospectId",
                                          section: "prospect",
                                          field: "prospect_id"}
                                        ],
                         permission: "call_time-prospects",
                         enablePermission: 'prospects',
                         sliderAfter: true,
                         minColWidth: 85,
                        },
                        {position:  "center",
                         width:     "60px",
                         style:     "",
                         css:       "colCallTimeSwitch",
                         type:      "callTimeSwitch",
                         dataSection:   "call_time_contact",
                         //dataField:     "invited",
                         dataDivClass:  "colPropectSwitch",
                         colDivAttr:    [{name: "callManagerContactId",
                                          section: "call_time_contact",
                        //                  field: "prospect_id"}
                                        }],

                        permission: 'call_time-prospects',
                        enablePermission: 'call_time',
                        sliderAfter: true,
                        minColWidth: 85,
                        }
                    ],
                },

                detailSection: {
                    displaySections: {
                        name: {
                            // fields
                            //      display -> boolean
                            // photo section
                            //      section -> data section to use
                            //      imgField -> field to get the image url in the section
                            //      linkInProfile -> field to get the linkIn profile for the hyper link
                            //      photoSec -> which photo soruce should be displayed
                            //      photoHeight -> height of the photo
                            //      photoWidth -> width of the photo
                            // score section
                            //      scoreColorSection -> data section to use
                            //      scoreColorField -> field in the scoreColorSection
                            //      scoreColorClass -> color class to use (if blank color should be set by scoreColorStyle)
                            //      scoreColorStyle -> style to use for the color section
                            //      scoreNumSection -> section to use for the score num
                            //      scoreNumField -> field in the scoreNumSection
                            // name line 1
                            //      name1Section -> data section to use
                            //      name1Field -> field or array of fields from section to display
                            //      name1FieldSeperator -> if array character to use as seperator
                            // name line 2 same as name 1
                            // email address to display
                            //      emailSection -> data section to use
                            //      emailField -> field of section to display
                            //      emailFieldDisplay -> sub field in field to displaySections
                            //      emailMaxDisplay -> max number of email to display
                            display: true,
                            photoProfileLink: {
                                section: 'contact',
                                imgData: 'image_urls',
                                profileData: 'external_profiles',
                                photoSrc: 'LinkedIn',
                                profileSrc: 'LinkedIn',
                                photoWidth: '56px',
                                photoHeight: '56px',
                            },
                            score: {
                                section: '',
                                field: 'score',
                                colorClass: '',
                                //colorStyle: 'background:#a4b58e',
                            },
                            scoreColor: {
                                section:   "key_signals",
                                field:     "political_spectrum",
                            },
                            firstName: {
                                section: 'contact',
                                field: 'first_name',
                            },
                            lastName: {
                                section: 'contact',
                                field: 'last_name',
                            },
                            email: {
                                section: 'contact',
                                field: 'email_addresses',
                                displayField: 'address',
                                maxDisplay: 3
                            },
                            phone: {
                                section: 'contact',
                                field: 'phone_numbers',
                                firstOfType: ['Cell', 'Home', 'Work'],
                                labelKey: 'label',
                                valKey: 'number',
                                bfirstNoneBlank: false,
                                trimOffFront: 7,
                            },
                        },
                        contactDetails: false,
                        contribution: true,
                        callSheetBtn: {
                            // fields
                            //      display -> boolean
                            //      btnLabel -> text in the button
                            btnlabel: 'Generate Call Sheet',
                            {% if not account_profile.product.features.CALL_SHEET_EXPORT %}
                                display: false,
                            {% else %}
                                display: true,
                            {% endif %}
                        },
                        pieGraph: {
                            // fields
                            //      display -> boolean
                            //      trendingSection -> section where to get trending data
                            //      trendingField -> field in the trendingSection
                            //      politicalAmount -> if zero message no political giving
                            display: true,
                            trendingSection: "key_signals",
                            trendingField: "political_spectrum",
                            politicalAmount: "political_giving",
                        },
                        givingHistoryGraph: false,
                        contributionGraph: false,
                    },
                    amounts: {
                        title: "Contribution",
                        sections: [
                            {title: "My Campaign",
                             featureStart: "Client contributions",
                             maxDisplay: 3,
                             sectionClass: 'myCamp'
                            },
                            {title: "Correlated Campaigns",
                             featureStart: "Key Contributions",
                             is_ally: true,
                             maxDisplay: 5,
                             sectionClass: 'myCamp'
                            },
                            {title: "OppositionKey Contributions",
                             featureStart: "Key Contributions",
                             is_ally: false,
                             maxDisplay: 5,
                             sectionClass: 'myCamp'
                            }
                        ]
                    }
                },
            {% elseroute %}
                isAcademic:             false,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   false,
            {% endroute %}

        };

        rankingDetails.display(rankingTemplateData, $(".newRankingDiv"));
        })
    </script>
    {% endroute %}
{% endblock page_foot_scripts %}
