// sass-lint:disable-all

@import "../stylesDefs.scss";

.backgroundDiv {
    margin: 0;
    background-color: $primary-green-1 !important;

    &.nonprofit {
        background-color: $primary-blue-2 !important;
    }
}

section {
    min-height: calc(100vh - (50px + 3em));
    //min-height: 0;
}

.messageContainer {
    display: none;
    height: 100vh;
    width: 100vw;
}

.bottomBtnDiv {
    width: calc(100% - 20px);
    height: 34px;

    .btnDiv {
        text-align: center;
        font-size: 16px;
        line-height: 16px;

        .cancelBtn {
            display: inline-block;
            vertical-align: middle;
            font-weight: 600;
            color: $secondary-blue-3;
            margin-left: 10px;
            margin-right:10px;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }

        .submitBtn {
            margin-left: 10px;
            margin-right: 10px;
            padding: 5px 20px;
            display: inline-block;
            vertical-align: middle;
        }
    }
}


footer {
    .footerDiv {
        color: $secondary-green-2;

        a {
            color: $secondary-green-2;
        }
    }
}
