// sass-lint:disable-all

@import "../stylesDefs.scss";

.bodyGrid {
    background-color: #F4F4F4;
    margin-right: 100px;
    font-family: SourceSansPro, "Source Sans Pro", sans-serif;
    font-size: 12px;
    // height: 600px;
    line-height: 1.1em;

    .revupLogo {
        width: 100px;
        margin-left: 50%;
        margin-right: 50%;
    }

    .gridLogo {
        width: 80px;
        margin-top: 9px;
        margin-left: auto;
    }

    .grid {
        width: 200px;
        height: 408px;
        vertical-align: top;
        display: inline-block;
        text-align: center;
        margin-right: 2px;
        box-sizing: border-box;
        border: 2px solid transparent;
        background-color: $whiteText;
        font-size: 10px;

        .headerGrid {
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.12);
            margin-bottom: 3px;
            height: 110px;

            .gridDes {
                height: 45px;
                padding-top: 5px;
            }

            .gridPrice {
                color: $primary-green-1;
                font-size: 20px;
            }
        }

        .gridBody {
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.12);
            margin-top: 7px;
            height: 289px;

            .gridSeats, .gridContacts{
               color: $primary-green-1;
           }

           .dot {
               width: 6px;
               height: 6px;
               background-color: $primary-green-1;
               border-radius: 3px;
               margin: auto;
               display: none;
           }
        }

        &.selected {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            border: 2px solid $primary-green-1;
            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        }

        &.disabled {
            opacity: 0.25;
        }
    }

    .noteGrid {
        background-color: transparent;
        margin-top: 118px !important;
        margin-right: 5px;
        height: 352px;
        width: 220px;
        text-align: right;
        vertical-align: top;
        display: inline-block;
        font-size: 10px;
        color: $primary-gray-6 !important;

        .gridAnalyze {
            padding-top: 0px;
            height: 25px;
        }

        .gridProspects, .gridCSV, .gridHelp, .gridAccess, .gridMobile, .gridCalltime{
            padding-top: 0px;
        }

        .gridOnboard {
            padding-top: 9px;
            padding-bottom: 0px;
        }

        .gridData {
            padding-bottom: 0px;
        }

    }

    .gridPrice, .gridContacts, .gridSeats, .gridContract, .gridData, .gridHelp {
        height: 16px;
        padding-top: 1px;
        padding-bottom: 3px;
    }

    .gridAccess, .gridProspects, .gridCSV, .gridMobile, .gridCalltime{
        height: 16px;
        padding-top: 4px;
        padding-bottom: 1px;
    }

    .gridAnalyze {
        height: 23px;
        padding-top: 10px;

        .dot {
            display: block !important;
        }
    }

    .gridSource {
        height: 25px !important;
        color: $primary-gray-6 !important;
        padding-top: 2px;

        .sourceIcon {
            vertical-align: top;
            margin-top: -3px;
            display: none;
        }

        img {
            width: 20px;
            margin-bottom: -5px;
        }

        figcaption {
            color: $primary-gray-5 !important;
            font-size: 5.2px;
            margin-top: 1px;
        }

    }

    .gridTitle {
        font-size: 12px;
        color: #32363f !important;
        font-weight: 600;
        margin-top: 5px;
    }

    .gridMonth {
        color: $primary-gray-5;
        font-size: 9px;
    }

    .gridMonth + .hrs {
        display: block;
        height: 1px;
        border: 0;
        border-top: 6px solid #F4F4F4;
        margin: 0.1em 0;
        padding: 0;
    }

    .hrs {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid #F4F4F4;
        margin: 0.1em 0;
        padding: 0;
    }

    .gridOnboard {
        height: 28px;
    }

    .gridAnalyze {
        height: 25px;
        padding-top: 9px;
    }

    .revupBtnDefault {
        background-color: $primary-green-1;
        width: 100px;
        height: 24px;
        color: $whiteText;
        border-radius: 10px;
        margin-top: 20px;
    }

    .icon {
        color: $primary-green-1;
        font-size: 24px;
        line-height: 24px;
        margin-top: 17px;
    }
}



    // .signUp {
    //     width: 970px;
    //     margin: auto;
    //     .signUpFormCompany {
    //         .fieldDiv.textFieldDiv {
    //             width: 100%;
    //         }
    //
    //         .textInput {
    //             width: 33%;
    //         }
    //     }
    //
    //     text {
    //         font-size: 17pt;
    //         font-weight: 600;
    //         margin-left: 20px;
    //     }
    //
    //     .label {
    //         font-size: 10px;
    //         color: $primary-gray-5;
    //         margin-bottom: 5px;
    //         font-weight: 600;
    //     }
    //
    //     .fieldDiv.textFieldDiv {
    //         vertical-align: top;
    //         display: inline-block;
    //         width: 12%;
    //         margin-left: 20px;
    //         margin-top: 20px;
    //
    //     }
    // }
