// sass-lint:disable-all

@import "../stylesDefs.scss";

.qualifierDiv {
    .radioBtnDiv {
        display: inline-block;
        cursor: pointer;

        .radioBtn {
            display: inline-block;
            position: relative;
            width: 16px;
            height: 16px;
            line-height: 16px;
            font-size: 16px;
            top: 2px;

            .icon {
                position: absolute;

                &.background {
                    color: #fff;
                }

                &.selected {
                    display: none;
                    color: #000;
                }

                &.unselected {
                    color: #000;
                }
            }
        }

        .radioLabel {
            display: inline-block;
            font-size: 16px;
        }
    }

    .line {
        margin-top: 20px;

        &:first-child {
            margin-top: 50px;
        }

        &.quest1 {
            text-align: center;
        }

        &.quest2 {
            text-align: center;
            display: none;

            .raceDropdownDiv {
                display: inline-block;
                width: 200px;
                margin-left: 10px;
                vertical-align: bottom;

                .revupDropDown {
                    .dropDownLst {
                        .scrollSection {
                            height: 175px;
                        }
                    }
                }
            }
        }

        &.quest3 {
            text-align: center;
            display: none;

            .numConstituentsDropdownDiv {
                display: inline-block;
                width: 250px;
                margin-left: 10px;
                vertical-align: bottom;
            }
        }

        &.productSelect {
            display: none;

            .productSelectDiv {
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }

            .productMsgDiv {
                width: 1100px;
                min-height: 30px;
                margin-left: auto;
                margin-right: auto;
                text-align: center;

                .msg {
                    font-size: 20px;
                    font-weight: $bold;
                    line-height: 1.1em;
                    position: relative;
                    top: 3px;
                }
            }

            .userInfoDiv {
                width: 900px;

                .line {
                    text-align: left;

                    &:first-child {
                        margin-top: 25px;
                    }

                    .firstNameDiv {
                        width: calc(25% - 15px) !important;
                        margin-right: 15px !important;
                        margin-left: 0 !important;
                    }

                    .lastNameDiv {
                        width: calc(25% - 15px) !important;
                        margin-right: 15px !important;
                        margin-left: 0 !important;
                    }

                    .emailAddrDiv {
                        width: calc(30% - 15px) !important;
                        margin-right: 15px !important;
                        margin-left: 0 !important;
                    }

                    .phoneDiv {
                        width: calc(20% - 10px) !important;
                        margin-left: 0 !important;
                    }

                    .orgNameDiv {
                        display: inline-block;
                        vertical-align: top;
                        width: calc(100% - 323px);
                        margin-left: 0;

                        .orgName {
                            width: 100%;
                        }
                    }

                    .recaptchaDiv {
                        display: inline-block;
                        vertical-align: bottom;
                        width: 304px;
                        margin-left: 15px;
                        margin-top: 20px;
                    }
                }
            }
        }

        &.contactCustLater {
            display: none;

            .recaptchaDiv {
                width: 304px;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .userInfoDiv {
            width: 550px;
            margin-left: auto;
            margin-right: auto;

            .line {
                &:not(:first-child) {
                    margin-top: 20px;
                }

                &.footerMsg {
                    margin-top: 5px;
                    font-size: 14px;
                    line-height: 1.1em;
                }

                .entry {
                    width: 100%;

                    input {
                        outline: 0;
                    }

                    .msg {
                        font-size: 14px;
                        line-height: 1.1em;
                        margin-left: 0;
                        text-align: left;

                        &:after {
                            content: "*";
                            position: relative;
                            vertical-align: super;
                            font-size: 95%;
                        }
                    }

                    &.firstNameDiv {
                        display: inline-block;
                        vertical-align: bottom;
                        width: calc(50% - 15px);
                        margin-right: 15px;

                        .firstName {
                            width: 100%;
                        }
                    }

                    &.lastNameDiv {
                        display: inline-block;
                        vertical-align: bottom;
                        width: calc(50% - 15px);
                        margin-left: 10px;

                        .lastName {
                            width: 100%;
                        }
                    }

                    &.emailAddrDiv {
                        display: inline-block;
                        vertical-align: bottom;
                        width: calc(65% - 15px);
                        margin-right: 15px;

                        .emailAddr {
                            width: 100%;
                        }
                    }

                    &.phoneDiv {
                        display: inline-block;
                        vertical-align: bottom;
                        width: calc(35% - 15px);
                        margin-left: 10px;

                        .telephone {
                            width: 100%;
                        }
                    }

                    &.titleDiv {
                        display: inline-block;
                        vertical-align: bottom;
                        width: 100%;
                        margin-right: 14px;

                        .title {
                            width: 100%;
                        }
                    }
                }
            }
        }

        .msg {
            display: inline-block;
            margin-left: 5px;
            font-size: 16px;
        }

        .radioBtn {
            margin-left: 20px;
        }

        .revupDropDown {
            text-align: left;

            .dropDownLst {
                position: absolute !important;

                .scrollSection {
                    .lstEntry {
                        height: 18px;
                        min-height: 18px;
                        line-height: 1.1em;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.revupDropDown {
    .dropDownLst {
        .scrollSection {
            .lstEntry {
                padding: 0px 1px 2px 3px !important;
            }
            .sectionIndent {
                padding-left: 13px !important;
                height: 18px;
            }
        }
    }
}


.donePage {
    width: 100%;
    height: 100%;
    background-color: $primary-green-1;

    .logoDiv {
        margin-left: auto;
        margin-right: auto;
        padding-top: 100px;
        width: 200px;

        .logo {
            vertical-align: middle;
        }
    }

    .msgDiv {
        width: 900px;
        margin-top: 200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        .thankYouMsg {
            font-size: 24px;
            font-weight: $semiBold;
            line-height: 1.2em;
            color: #fff;
            padding-bottom: 150px;
        }

        .closeBtn {
            width: 200px;
            font-size: 14px;
            line-height: 15px;
            padding: 5px 20px;
            background-color: #fff;
            color: #000;
            border-radius: 13px;
            margin-left: auto;
            margin-right: auto;
            cursor: pointer;
        }
    }
}
