// sass-lint:disable-all

@import "../stylesDefs.scss";

/*
 *
 * Splash Screen Between Signup and config, and for token refresh.
 *
 */
.setupDoneDiv,
.refreshToken {
    width: 100%;
    height: 100%;
    color: $whiteText;
    text-align: center;
    padding-top: 10px;

    h1,
    .instructions {
        font-size: 22px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;
        font-family:  SourceSansPro, "Source Sans Pro", sans-serif;
    }

    .logo {
        width: 150px;
        margin-top: 250px;
        margin-bottom: 30px;
    }

    .licensing {
        font-weight: 100;
        margin-bottom: 170px;
        line-height: 1.4em;

        & > div {
            display: inline-block;
        }
    }

    .btn {
        width: 200px;
        font-size: 14px;
        line-height: 15px;
        margin-top: 30px;
        padding: 5px 20px;
        background-color: #fff;
        color: #000;
        border-radius: 13px;
        margin-left: auto;
        margin-right: auto;
        cursor: pointer;
    }
}

.setupDoneDiv {
    display: none;

    h1,
    .instructions {
        width: 30%;
    }
}
