// sass-lint:disable-all

@import "../stylesDefs.scss";

input {
    outline: none;
}

.backgroundDiv {
    min-height: 0 !important;
}

section {
    min-height: calc(768px - 50px) !important;
    height: calc(100vh - 50px) !important;
}

.wizardDiv {
    .revupTitleLogo {
        width: 110px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    .haveAccountDiv {
        width: 1000px;
        height: 650px;
        margin-left: auto;
        margin-right: auto;
        //margin-top: 10px;
        border: 1px solid $primary-gray-4;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.12);
        border-radius: 5px;
        display: none;

        .msg {
            margin: 20px 40px;
            font-size: 18px;
            font-weight: $semiBold;
            line-height: 1.1em;
            text-align: center;

            #userEmail {
                color: $primary-green-1;
            }
        }

        .emailForm{
            height: 75px;

            .password {
                width: 40%;
                margin-left: auto;
                margin-right: auto;
                margin-top: 30px;
            }

            .revupPassword {
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }

        .whatToDoDiv {
            width: 400px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .selectAccountDiv {
                width: 150px;
                height: 150px;
                cursor: pointer;

                &.accessAccount {
                    background-color: $primary-blue-2;
                    align-items: flex-start;

                    &.disabled {
                        background-color: $secondary-gray-3;
                    }
                }

                &.newAccount{
                    background-color: $primary-green-2;
                    align-items: flex-end;
                }
            }

            .icon {
                color: $whiteBackground;
                font-size: 80px;
                line-height: 80px;
                text-align: center;
                display: block;
                height: 88px;
                margin-top: 10px;
            }

            .iconCaptions {
                color: $whiteText;
                text-align: center;
                font-size: 13px;
                display: block;
            }
        }
    }

    .signUpWizardDiv {
        .wizard {
            width: 1000px;
            margin: auto;
        }
    }

    .configWizardDiv {
        display: none;

        .wizard {
            width: 1000px;
            margin: auto;
        }
    }
}


.revupWizard {
    .wizardBtnDiv .leftSide .msgDiv {
      margin-top: 0 !important;
    }

    .productLogo {
      padding-top: 20px;
      text-align: center;
    }
}

.revupWizard .wizardBtnDiv .leftSide .msgDiv .printBtn {
    width: 50px;
    height: 40px;
    border: 1px solid $primary-gray-3;
    border-radius: 3px;
    background-color: $secondary-gray-4;
    cursor: pointer;

    .btnLabel {
        text-align: center;
        color: $secondary-gray-8;
        font-size: 11px;
        line-height: 13px;
        margin-top: 2px;
    }

    .icon {
        text-align: center;
        font-size: 18px;
        line-height: 18px;
        margin-top: 2px;
        color: $primary-gray-5;
    }
}
