{% extends "shared/sections/base_authenticated.html" %}

{% block content %}
    <form enctype="multipart/form-data" action="{% url 'account_contrib_upload' %}" method="post">
        {% csrf_token %}
        <input type="file" id="file" name="file" accept=".csv"/>
        <input type="submit"/>
    </form>
{% endblock content %}
