{% extends "shared/sections/base_authenticated.html" %}

{% block title %}Event List - RevUp{% endblock %}

{% block active_event %}active{% endblock %}

{% block content %}

    {% if events %}
        <h2>Your Events</h2>
        <ul>
        {% for event in events %}
            <li><a href="{% url 'event_detail' event.id %}">{{ event.event_name  }}</a></li>
        {% endfor %}
        </ul>

    {% else %}

        <div class="jumbotron">
            <h3>You are not a fundraiser for any events</h3>
            <p><small>Remind your campaign's administrator to include you in one.</small></p>
        </div>

    {% endif %}

{% endblock content %}
