{% extends "shared/sections/base_authenticated.html" %}
{% load humanize %}
{% load staticfiles %}
{% load revup_extras %}
{% load view_router %}

{% block title %}Tracking - RevUp{% endblock %}
{% block active_event %}active{% endblock %}

{% block page_css %}
<link href="{% static "css/apps/prospects.css" %}" rel="stylesheet">
<link href="{% static "css/apps/prospect.css" %}" rel="stylesheet">
<link href="{% static "css/apps/callsheet.css" %}" rel="stylesheet">
<link href="{% static "css/apps/legend.css" %}" rel="stylesheet">
{% endblock page_css %}

{% block getting_started_target %}{% endblock %}

{% block content %}
    {% block breadcrumbs %}
        {% if request.breadcrumbs %}
<!--         <ol class="breadcrumb">
            {% for breadcrumb in request.breadcrumbs %}
                {% if forloop.last %}
                    <li class="active">{{ breadcrumb.name }}</li>
                {% else %}
                    <li><a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a></li>
                {% endif %}
            {% endfor %}
        </ol> -->
        {% endif %}
    {% endblock breadcrumbs %}

    <div class="eventDetail">
        <div class="pageHeader">
            <div class="section candidateDiv">
                <div class="heading">candidate</div>
                <div class="data">
                    <div class="dataText">
                        {{ account.first_name }} {{ account.last_name }}
                    </div>
                </div>
            </div>
            <!--
            <div class="section eventDiv">
                <div class="heading">event</div>
                <div class="data">
                    <div class="dataText">
                        {{ event.event_name }}
                    </div>
                </div>
            </div>
            <div class="section dateDiv">
                <div class="heading">date</div>
                <div class="data">
                    <div class="dataText">
                        {{ event.event_date|date }}
                    </div>
                </div>
            </div>
            <div class="section goalDiv">
                <div class="heading">goal</div>
                <div class="data">
                    <div class="dataText">
                        ${{ event.goal|intcomma }}
                    </div class="dataText">
                </div>
            </div>
            <div class="section pricePointDiv">
                <div class="heading">Price Points</div>
                <div class="data">
                    <div class="dataText">
                        {% for point in event.price_points %} ${{ point|intcomma }} {% if not forloop.last %}|{% endif %}{% endfor %}
                    </div class="dataText">
                </div>
            </div>
            -->
        </div>

        <!--
        <div class="infoHeader">
            Use Prospects to record your donation goals.
        </div>
        -->

        <div class="buttonBar">
            <div class="leftSide">
                <div class="iconBtnDiv">
                    <div class="btnDiv hamburgerBtn">
                        <div class="icon icon-hamburger"></div>
                    </div>
                </div>
            </div>
        </div>


        <div class="newProspectsDiv">
            <div class="prospectsLoading" style="height:500px;width:100%">
                <div class="loadingDiv">
                    <div class="loading"></div>
                    <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                </div>
            </div>
        </div>

    </div>
{% endblock content %}


{% block page_foot_scripts %}
<script type="text/javascript" src="{% static "js/apps/prospects.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/apps/callSheet.js" %}" charset="utf-8"></script>
<script type="text/javascript" src="{% static "js/apps/prospectDetails.js" %}" charset="utf-8"></script>

<script>
    $(function ()  {

        // get the partition data
        var yearLst = [];
        {% for d in partition_map %}
            var yearTmpVal = new Object();
            yearTmpVal.value="{{d.0}}";
            yearTmpVal.displayValue="{{d.1}}";
            yearTmpVal.yearsOfGiving = "{{d.2}}";
            yearLst.push(yearTmpVal);
        {% endfor %}

        var newProspectsTemplate = {
            columns: [
                {text:      "Name",
                 position:  "left",
                 width:     "calc(100% - 785px)",
                 style:     "",
                 css:       "colName",
                 displayType: "textLink",
                 dataType: "contactName",
                 footer1Label: 'Total',
                 footer2Label: "",
                 footer2SkinFields: ["hardTitle", "inTitle"],
                 minColWidth: 250,
                 sliderAfter: true,
                 resizePercent: 100,
                },
                {text:      "Invited By",
                 position:  "center",
                 width:     "60px",
                 style:     "",
                 css:       "colInvitedBy",
                 displayType: "text",
                 dataType: "userInitials",
                 minColWidth: 30,
                 sliderAfter: true,
                },
                {text:      "Attend(#)",
                 position:  "right",
                 width:     "65px",
                 style:     "",
                 css:       "colAttend",
                 displayType: "intInput",
                 dataType: "integer",
                 dataField: "num_attending",
                 dataFor: "numAttending",
                 minColWidth: 40,
                 sliderAfter: true,
                },
                {text:      "",
                 loadSkinField: "softTitle",
                 position:  "right",
                 width:     "100px",
                 style:     "",
                 css:       "colSoft",
                 displayType: "dollarInput",
                 dataType: "dollar",
                 dataField: "soft_amt",
                 dataFor: "softAmount",
                 footer1Display: true,
                 minColWidth: 60,
                 sliderAfter: true,
                },
                {text:      "",
                 loadSkinField: "hardTitle",
                 position:  "right",
                 width:     "100px",
                 style:     "",
                 css:       "colHard",
                 displayType: "dollarInput",
                 dataType: "dollar",
                 dataField: "hard_amt",
                 dataFor: "hardAmount",
                 footer1Display: true,
                 minColWidth: 60,
                 sliderAfter: true,
                },
                {text:      "",
                 loadSkinField: "inTitle",
                 position:  "right",
                 width:     "100px",
                 style:     "",
                 css:       "colIn",
                 displayType: "dollarInput",
                 dataType: "dollar",
                 dataField: "in_amt",
                 dataFor: "inAmount",
                 footer1Display: true,
                 footer2Display: true,
                 footerSumDisplay: ["hardAmount", "inAmount"],
                 footer2Value: ["hardAmount", "inAmount"],
                 minColWidth: 60,
                 sliderAfter: true,
                },
                {text:      "Call Sheet",
                 position:  "center",
                 width:     "60px",
                 style:     "",
                 css:       "colCallSheet",
                 displayType: 'icon-notes',
                 dataType: "iconCallsheet",
                 minColWidth: 25,
                 sliderAfter: true,
                },
                {text:      "Email",
                 position:  "center",
                 width:     "40px",
                 style:     "",
                 css:       "colEmail",
                 displayType: 'icon-email',
                 dataType: 'iconEmail',
                 minColWidth: 25,
                 sliderAfter: true,
                },
                {text:      "Delete",
                 position:  "center",
                 width:     "40px",
                 style:     "",
                 css:       "colDelete",
                 displayType: "icon-delete-circle",
                 dataType: "iconDelete",
                 minColWidth: 25
                },
            ],

            // partition list
            partitionLst: yearLst,

            // candidate name
            candidateName: "{{ account.first_name }} {{ account.last_name }}",
            contactSetId: Number("{{ contact_set.id }}"),
            seatId: "{{user.current_seat.id}}",
            accountId: "{{account.id}}",
            userId: "{{ user.id }}",

            // urls
            getProspects: "{% url "event_prospects_api-list" account.id event.id  %}",
            exportCSVProspects: "{% url "event_prospects_api-list" account.id event.id  %}export/",
            getProspectDetails: "{% url "event_prospects_api-detail" account.id event.id "prospectId" %}",
            deleteProspect: "{% url "event_prospects_api-detail" account.id event.id "prospectId" %}",
            updateProspect: "{% url "event_prospects_api-detail" account.id event.id "prospectId" %}",
            contactDetailUrl: "{% url "contact_set_analysis_contact_results_api-detail" user.id "seatId" "contactSetId" "contactId" %}",
            callsheetNotesApi: "{% url "contact_set_results_notes_api-list" user.id user.current_seat.id "contactSetId" "contactId" %}",

            {% route "university" %}
                isAcademic:             true,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   false,
            {% elifroute "polcam" %}
                isAcademic:             false,
                isPoliticalCampaign:    true,
                isPoliticalCommittee:   false,
            {% elifroute "polcom" %}
                isAcademic:             false,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   true,
            {% elifroute "nonprofit" %}
                isAcademic:             false,
                isPoliticalCampaign:    true,
                isPoliticalCommittee:   false,
            {% elseroute %}
                isAcademic:             false,
                isPoliticalCampaign:    false,
                isPoliticalCommittee:   false,
            {% endroute %}
        };

        prospects.load(newProspectsTemplate, $('.newProspectsDiv'))
    });
</script>
{% endblock page_foot_scripts %}
