{% extends "shared/sections/base_authenticated.html" %}

{% load humanize %}
{% load staticfiles %}
{% load view_router %}
{% load revup_extras %}


{% block list_manager %}active{% endblock %}
{% block title %}List Manager - RevUp{% endblock title %}

{% block notification %}{% endblock %}

{% block page_css %}
    {% route "nonprofit" %}
        <!-- React app styles go here -->
      {% if debug and settings.WEBPACK_SERVER %}
          <link href="http://{{ settings.WEBPACK_SERVER }}/static/css/main.css" rel="stylesheet">
      {% else %}
          <link href="{% static "css/main.css" %}" rel="stylesheet">
      {% endif %}
    {% elseroute %}
        <link href="{% static "css/apps/newFilters.css" %}" rel="stylesheet">
        <link href="{% static "css/apps/listManager.css" %}" rel="stylesheet">
    {% endroute %}
{% endblock page_css %}

{% block getting_started_target %}#list-manager_functionality{% endblock %}

{% block content %}
    {% route "nonprofit" %}
        <div id="app"
            data-account-Id="{{account.id}}"
            data-user-Id="{{user.id}}"
            data-seat-Id="{{user.current_seat_id}}"
            data-page="contact_list"
            ></div>
    {% elseroute %}
        <div class="pageInfoDiv">
            <div class="closeBtn">
                <div class="icon icon-close"></div>
            </div>
            <div class="msgDiv">
                <div class="icon icon-info-1"></div>
                <div class="msgText">To get started please select one or more lists to filter, save, and share.</div>
            </div>
            <div class="notShowAgainDiv" style="display:none;">
                <div class="checkbox icon icon-box-unchecked"></div>
                <div class="text">Do not show this again</div>
            </div>
        </div>

        <div class="listManager">
            <div class="managerWrapper">
                <div class="listDetailDiv">
                    <div class="title">List Details</div>
                    <div class="detailsDiv">
                        <div class="leftSide">
                            <div class="entry nameEntry">
                                <div class="title">Name:</div>
                                <div class="value largeText nameVal">--</div>
                            </div>
                            <div class="entry filterSetEntry">
                                <div class="title">Filter Set:</div>
                                <div class="value filterSet">--</div>
                            </div>
                            <div class="entry sharedWithEntry">
                                <div class="title">Shared with:</div>
                                <div class="value sharedWith">--</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="rightSide">
                    <div class="entry filterCountEntry">
                        <div class="value largeText selContactSetCount">--</div>
                        <div class="title">Filtered Contacts</div>
                    </div>
                    <div class="lstLoading" style="display: none;">
                        <div class="loadingDiv">
                            <div class="loading"></div>
                            <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                        </div>
                    </div>
                </div>
            </div>

            <div class="topTaskBarDiv">
                <div class="rightSide">

                    <div class="iconBtnDiv">
                        <div class="btnDiv disabled createCallTimeGrpBtn">
                            <div class="text">Add to Call Time</div>
                            <div class="icon icon-new-call-group"></div>
                        </div>
                    </div>

                    <div class="iconBtnDiv">
                        <div class="btnDiv disabled saveAsBtn">
                            <div class="text">Save As</div>
                            <div class="icon icon-save-as"></div>
                        </div>
                    </div>
                    <div class="iconBtnDiv">
                        <div class="btnDiv disabled exportBtn">
                            <div class="text">Export</div>
                            <div class="icon icon-export-csv"></div>
                        </div>
                    </div>

                    <div class="iconBtnDiv">
                        <div class="btnDiv disabled shareBtn">
                            <div class="text">Share</div>
                            <div class="icon icon-share"></div>
                        </div>
                    </div>

                    <div class="iconBtnDiv">
                        <div class="btnDiv filterModeBtn">
                            <div class="text sideBySide">Advance Filtering</div>
                            <div class="icon sideBySide icon-filter"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="newFiltersSection" style="display:none;"></div>
            <div class="basicFilterSection"></div>
            <div class="lstSection">
                <div class="lstLoading" style="height:500px">
                    <div class="loadingDiv">
                        <div class="loading"></div>
                        <img class="loadingImg" src="{% static "img/loadingCenterIcon.svg" %}">
                    </div>
                </div>
                <div class="lstDiv" style="display:none;">
                    <div class="lstHeader">List Header</div>
                    <div class="lstBodyWrapper">
                        <div class="lstBody">List Body</div>
                    </div>
                    <div class="lstFooter" style="display: none;">
                    </div>
                </div>
            </div>
        </div>
    {% endroute %}
{% endblock content %}


{% block page_foot_scripts %}
    {% route "nonprofit" %}
        <!-- React app JS goes here -->
        {% if debug and settings.WEBPACK_SERVER %}
            <script type="text/javascript" src="http://{{ settings.WEBPACK_SERVER }}/static/js/nfp_react.js"></script>
        {% else %}
            <script type="text/javascript" src="{% static "js/nfp_react.js" %}"></script>
        {% endif %}
    {% elseroute %}
        <script type="text/javascript" src="{% static "js/apps/newFilters.js" %}" charset="utf-8"></script>
        <script type="text/javascript" src="{% static "js/apps/listManager.js" %}" charset="utf-8"></script>

        <script type="text/javascript">
            $(document).ready(function() {
                listMgrData = {
                    // values
                    analysisId:     Number("{{ analysis.id }}"),
                    csrfToken:      "{% csrf_token %}",
                    seatId:         "{{ user.current_seat.id }}",

                    // filters
                    bDisplayQuickFilters: true,
                    filterVersion: 'v3',

                    // filter urls
                    filterListApi: "{% url "account_filters_api-list" account.id %}",

                    // list of contact sets
                    contactSetListApi: "{% url "contact_set_api-list" account.id %}",

                    // ranking page url
                    rankingPageUrl: "{% url 'analysis_result_list' %}",

                    // api's
                    getCountContactSetApi: "{% url "contact_set_api-list" account.id %}get_count/",
                    saveContactSetApi: "{% url "contact_set_api-list" account.id %}",
                    deleteContactSetApi: "{% url "contact_set_api-list" account.id %}",
                    exportUrlNew: "{% url "contact_set_analysis_contact_results_api-list" user.id "seatId" "contactSetId" %}export/",
                    getOrganizerApi: "{% url "account_seats_api-list" account.id %}",
                    addShareContactSetApi: "{% url "contact_set_api-list" account.id  %}contactSetId/add_share/",
                    removeShareContactSetApi: "{% url "contact_set_api-list" account.id  %}contactSetId/remove_share/",

                    callTimeSetsApi: "{% url "call_time_groups_api-list" account.id %}",
                    callTimeBuildGrpFromLstApi: "{% url "call_time_groups_contacts_api-list" account.id "CALLTIME-GRP-ID" %}from_contact_set/",


                    {% route "university" %}
                        isAcademic:             true,
                        isPoliticalCampaign:    false,
                        isPoliticalCommittee:   false,
                    {% elifroute "polcam" %}
                        isAcademic:             false,
                        isPoliticalCampaign:    true,
                        isPoliticalCommittee:   false,
                    {% elifroute "polcom" %}
                        isAcademic:             false,
                        isPoliticalCampaign:    false,
                        isPoliticalCommittee:   true,
                    {% elifroute "nonprofit" %}
                        isAcademic:             false,
                        isPoliticalCampaign:    true,
                        isPoliticalCommittee:   false,
                    {% elseroute %}
                        isAcademic:             false,
                        isPoliticalCampaign:    false,
                        isPoliticalCommittee:   false,
                    {% endroute %}

                    // images
                    appleImg:       "{% static "img/contactsourceicons/apple-xsm.svg" %}",
                    clonedImg:      "{% static "img/contactsourceicons/cloned-xsm.svg" %}",
                    csvImg:         "{% static "img/contactsourceicons/csv-xsm.svg" %}",
                    gmailImg:       "{% static "img/contactsourceicons/gmail-xsm.svg" %}",
                    linkedInImg:    "{% static "img/contactsourceicons/linkedin-xsm.svg" %}",
                    outlookImg:     "{% static "img/contactsourceicons/outlook-xsm.svg" %}",
                    mobileImg:      "{% static "img/contactsourceicons/mobile-xsm.png" %}",
                    allImg:         "{% static "img/contactsourceicons/all-xsm.svg" %}",
                    savedImg:       "{% static "img/contactsourceicons/revup-xsm.svg" %}",
                    unknownImg:     "{% static "img/contactsourceicons/unknown-xsm.svg" %}",
                };

                listManager.load(listMgrData);

            }); // document.ready
        </script>
    {% endroute %}
{% endblock page_foot_scripts %}
