@charset "UTF-8";

@font-face {
  font-family: "revicon";
  src:url("../fonts/revicon.eot");
  src:url("../fonts/revicon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/revicon.woff") format("woff"),
    url("../fonts/revicon.ttf") format("truetype"),
    url("../fonts/revicon.svg#revicon") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "revicon" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "revicon" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "a";
}
.icon-analyze:before {
  content: "b";
}
.icon-arrow-down:before {
  content: "c";
}
.icon-arrow-left:before {
  content: "d";
}
.icon-arrow-right:before {
  content: "e";
}
.icon-arrow-up:before {
  content: "f";
}
.icon-box-checked:before {
  content: "g";
}
.icon-check:before {
  content: "h";
}
.icon-double-arrow-left:before {
  content: "i";
}
.icon-double-arrow-right:before {
  content: "j";
}
.icon-download:before {
  content: "k";
}
.icon-filter:before {
  content: "m";
}
.icon-undo:before {
  content: "n";
}
.icon-twitter:before {
  content: "o";
}
.icon-trash:before {
  content: "p";
}
.icon-subtract:before {
  content: "q";
}
.icon-search:before {
  content: "r";
}
.icon-profile:before {
  content: "s";
}
.icon-pin:before {
  content: "t";
}
.icon-open:before {
  content: "u";
}
.icon-lock:before {
  content: "v";
}
.icon-link:before {
  content: "w";
}
.icon-info:before {
  content: "x";
}
.icon-home:before {
  content: "y";
}
.icon-upload:before {
  content: "A";
}
.icon-upload-add:before {
  content: "B";
}
.icon-upload-settings:before {
  content: "C";
}
.icon-user-add:before {
  content: "D";
}
.icon-user-add-2:before {
  content: "E";
}
.icon-user-edit:before {
  content: "F";
}
.icon-user-list:before {
  content: "G";
}
.icon-user-profile:before {
  content: "H";
}
.icon-users-add:before {
  content: "I";
}
.icon-warning:before {
  content: "J";
}
.icon-close:before {
  content: "l";
}
.icon-ranking:before {
  content: "K";
}
.icon-facebook:before {
  content: "M";
}
.icon-vertical-line:before {
  content: "P";
}
.icon-admin:before {
  content: "N";
}
.icon-campaign:before {
  content: "O";
}
.icon-twitter-bird:before {
  content: "Q";
}
.icon-linkedin:before {
  content: "R";
}
.icon-triangle-dn:before {
  content: "S";
}
.icon-triangle-left:before {
  content: "T";
}
.icon-triangle-right:before {
  content: "U";
}
.icon-triangle-up:before {
  content: "V";
}
.icon-add-user:before {
  content: "W";
}
.icon-remove-user:before {
  content: "X";
}
.icon-user-half:before {
  content: "Y";
}
.icon-delete-circle:before {
  content: "Z";
}
.icon-calendar:before {
  content: "0";
}
.icon-arrow-download:before {
  content: "2";
}
.icon-arrow-upload:before {
  content: "3";
}
.icon-revup:before {
  content: "4";
}
.icon-staff:before {
  content: "5";
}
.icon-star:before {
  content: "6";
}
.icon-star-outline:before {
  content: "7";
}
.icon-triangle-rounded-dn:before {
  content: "!";
}
.icon-triangle-rounded-up:before {
  content: "\"";
}
.icon-box-unchecked:before {
  content: "1";
}
.icon-bold:before {
  content: "#";
}
.icon-font-size:before {
  content: "%";
}
.icon-underline:before {
  content: "*";
}
.icon-bulleted-list:before {
  content: "8";
}
.icon-numbered-list:before {
  content: "$";
}
.icon-italic:before {
  content: "&";
}
.icon-indent-more:before {
  content: "'";
}
.icon-indent-less:before {
  content: "(";
}
.icon-underline:before {
  content: ")";
}
.icon-export-csv:before {
  content: "L";
}
.icon-hamburger:before {
  content: "*";
}
.icon-key:before {
  content: "+";
}
.icon-settings:before {
  content: ",";
}
.icon-reports:before {
  content: "-";
}
.icon-tracker:before {
  content: ".";
}
.icon-double-arrow-dn:before {
  content: "/";
}
.icon-double-arrow-up:before {
  content: ":";
}
.icon-pointer:before {
  content: ";";
}
.icon-bio:before {
  content: "9";
}
.icon-donations:before {
  content: "<";
}
.icon-campaign-info:before {
  content: "=";
}
.icon-education:before {
  content: ">";
}
.icon-events:before {
  content: "?";
}
.icon-issues:before {
  content: "@";
}
.icon-raisers:before {
  content: "[";
}
.icon-info-1:before {
  content: "z";
}
.icon-limit:before {
  content: "]";
}
