{% extends "shared/sections/base_error.html" %}

{% load humanize %}
{% load staticfiles %}


{% block left_side %}
    <div class="msg1">Well this is embarassing!</div>
    <img src="{% static "img/404.svg" %}">
{% endblock left_side %}

{% block right_side %}
    <div class="msg1">403</div>
    <div class="msg2">Forbidden</div>
    <div class="msg3">
        In most cases refreshing the page will fix
        <br>
        the problem. If the problem persists please
        <br>
        log out and then log back into the product
        <br>
        to continue. If that fails to rectify the issue,
        <br>
        report it to <a href="mailto:help@revup.com">help@revup.com</a>
    </div>
{% endblock right_side %}
