{% extends "shared/sections/base_error.html" %}

{% load humanize %}
{% load staticfiles %}


{% block left_side %}
    <div class="msg1">Elvis has left the building!</div>
    <img src="{% static "img/404.svg" %}">
{% endblock left_side %}

{% block right_side %}
    <div class="msg1">404</div>
    <div class="msg2">Page Not found</div>
    <div class="msg3">
        The page you are looking for cannot be
        <br>
        found. Try checking the URL to see
        <br>
        if you can find it.
    </div>
{% endblock right_side %}
