{% extends "shared/sections/base_error.html" %}

{% load humanize %}
{% load staticfiles %}


{% block left_side %}
    <div class="msg1">Sorry, there is an error</div>
    <img src="{% static "img/503.svg" %}">
{% endblock left_side %}

{% block right_side %}
    <div class="msg1">503<div>
    <div class="msg2">Internal server error</div>
    <div class="msg3">
        We are urgently working to address the
        <br>
        issue. Please comeback in a while and
        <br>
        if the problem persists report it to
        <br>
        <a href="mailto:support@revup.com?subject=500 Error">help@revup.com</a>.
    </div>
    <div class="msg4">
        <a href="#" onclick="window.location=window.location.origin">Click here to return to the RevUp application</a>
    </div>
{% endblock right_side %}
