.version.index /* version checker */
{
	color: #0000FD;
	background-color: #50FBEB;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 858px;
	min-height: 656px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#u123
{
	z-index: 2;
	width: 52px;
	height: 656px;
	margin-right: -10000px;
	left: -100px;
}

#u403-4
{
	z-index: 3;
	width: 938px;
	min-height: 60px;
	background-color: transparent;
	line-height: 28px;
	font-size: 23px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 600;
	position: relative;
	margin-right: -10000px;
	margin-top: 38px;
}

#u404-4
{
	z-index: 7;
	width: 307px;
	min-height: 36px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
}

#u405-4
{
	z-index: 11;
	width: 267px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 648px;
}

#u425-6
{
	z-index: 15;
	width: 267px;
	min-height: 22px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 568px;
	left: 648px;
}

#u406-4
{
	z-index: 21;
	width: 267px;
	min-height: 41px;
	background-color: transparent;
	line-height: 19px;
	font-size: 16px;
	font-family: source-sans-pro, sans-serif;
	font-weight: 400;
	position: relative;
	margin-right: -10000px;
	margin-top: 249px;
	left: 648px;
}

#u413
{
	z-index: 25;
	width: 43px;
	background-color: transparent;
	-webkit-transform: matrix(0,-1,1,0,5,38);
	-ms-transform: matrix(0,-1,1,0,5,38);
	transform: matrix(0,-1,1,0,5,38);
	position: relative;
	margin-right: -10000px;
	margin-top: 152px;
	left: 290px;
}

#u419
{
	z-index: 27;
	width: 25px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,34,9);
	-ms-transform: matrix(0,1,-1,0,34,9);
	transform: matrix(0,1,-1,0,34,9);
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	left: 604px;
}

#u426
{
	z-index: 29;
	width: 25px;
	background-color: transparent;
	-webkit-transform: matrix(0,1,-1,0,34,9);
	-ms-transform: matrix(0,1,-1,0,34,9);
	transform: matrix(0,1,-1,0,34,9);
	position: relative;
	margin-right: -10000px;
	margin-top: 445px;
	left: 604px;
}

#u432
{
	z-index: 31;
	width: 668px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	left: -73px;
}

body
{
	position: relative;
	min-width: 858px;
}

#page .verticalspacer
{
	clear: both;
}

