{% extends "shared/sections/base_authenticated.html" %}

{% load staticfiles %}
{% load view_router %}


{% block persona %}active{% endblock %}
{% block title %}Personas - RevUp{% endblock title %}

{% block page_css %}
    {% route "nonprofit" %}
        {% if debug and settings.WEBPACK_SERVER %}
            <link href="http://{{ settings.WEBPACK_SERVER }}/static/css/main.css" rel="stylesheet">
        {% else %}
            <link href="{% static "css/main.css" %}" rel="stylesheet">
        {% endif %}
    {% endroute %}
{% endblock page_css %}

{% block content %}
    {% route "nonprofit" %}
        <div id="app"
            data-account-Id="{{account.id}}"
            data-user-Id="{{user.id}}"
            data-seat-Id="{{user.current_seat_id}}"
            data-page="personas"
        ></div>
    {% elseroute %}
        <p>Personas are not a feature of your current product. Please select an active page from the menu to the left.</p>
    {% endroute %}

{% endblock content %}

{% block page_foot_scripts %}
    {% route "nonprofit" %}
        {% if debug and settings.WEBPACK_SERVER %}
            <script src="http://{{ settings.WEBPACK_SERVER }}/static/js/nfp_react.js"></script>
        {% else %}
            <script src="{% static "js/nfp_react.js" %}"></script>
        {% endif %}
    {% endroute %}
{% endblock page_foot_scripts %}
