{% extends "shared/sections/base_authenticated.html" %}
{% load revup_extras %}

{% block title %}Select Active Account - RevUp{% endblock title %}
{% block active_home %}active{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div class="page-wrap">
{% if seats %}
    <div class="selectCurrent">
        <div class="changeSeat">
            <div class="changeSeatInner">
                <div class="sectionHeader">Change Active Seat</div>

                <div class="sectionBody">
                    <form action="{% if next %}?next={{ next }}{% endif %}" method="post">{% csrf_token %}
                        {% for seat in seats %}
                        <div class="entryLine" {% if not seat.account.active %}style="color: #cc4956;"{% endif %}>
                            <input type="radio" id="id_{{ seat.id }}" name="seat" value="{{seat.id}}" {% if seat == user.current_seat %}checked{% endif %}>
                            <label for="id_{{ seat.id }}" class="radioLabel">
                                {{ seat.account.title }}<br />
                                <span class="small">{{ seat.account.account_profile.title }}</span>
                            </label>
                        </div>
                        {% endfor %}

                        <div class="changeBtn">
                            <button type="submit" class="btn btn-xs btn-success">Change</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% else %}

    <div class="jumbotron">
        <h3>You are not currently a fundraiser for any active campaigns</h3>
        <p><small>Please contact your campaign's administrator if this seems to be in error.</small></p>
    </div>

{% endif %}
</div>
{% endblock content %}

{% block extra_scripts %}
<script>
    $('form').on('submit', function(e) {
        // when every coming to this page clear out the local storage for filters
        localStorage.removeItem('rankingFilter');
        localStorage.removeItem('rankingFilterStyle');
        localStorage.removeItem('rankingFilterAdvData');
        localStorage.removeItem('rankingFilterBasicData');

        localStorage.removeItem('prospectsColWidth');
        localStorage.removeItem('rankingColWidth-v3');
        localStorage.removeItem('fundraiserColWidth');
    })
</script>
{% endblock extra_scripts %}
