
{% load staticfiles %}

<!DOCTYPE html>
<html>
<body>
<img src="{% static "img/revup_ss.png" %}" style="position:fixed; left: 50%"/><br />
<h3>Your bulk fundraiser import job has completed.</h3>

<h4>Results:</h4>
<p>Processed {{ total_processed }} fundraisers.</p>
<p>Encountered {{ errors|length }} errors.</p>
{% if errors %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>