{% extends "staff_admin/base_staff_admin.html" %}
{% load staticfiles %}
{% load revup_extras %}

{% block page_css %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
<link href="{% static "css/apps/contacts.css" %}" rel="stylesheet">
<link href="{% static "css/apps/create_client.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container client-content createClient">
    {% if form.non_field_errors %}
        <div class="non-field-errors">
          {% for err in form.non_field_errors %}
            <div class="alert-warning">{{ err }}</div>
          {% endfor %}
        </div>
    {% endif %}

    <div class="row row-sm-padding">
        <div class="col-md-12" style="margin-bottom:10px">
            <form id="activateClientForm" role="form" method="post">{% csrf_token %}
                <div class="col-md-8 createClientDiv">
                    <div class="panel panel-success panel-body-background">
                        <div class="panel-heading">
                            <h2 class="panel-title">Activate Client Account: </h2>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                {% for account in accounts %}
{#                                    <label class="control-label" for="id_activate">{{ form.activate.label }}</label>#}
                                    <input id="id_activate" name="activate" type="checkbox" value="{{ account.id }}">
                                    {{ account.organization_name }}<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Account Head: {{ account.account_head.first_name }} {{ account.account_head.last_name }}<br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email: {{ account.account_head.email }}<br><br>
                                {% endfor %}
                            </div>

                            <div style="width:100%;margin-top:15px;">
                                <button class="addCampAdminBtn btn btn-primary pull-right" type="submit">Activate Selected Client(s) and Start Billing</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_foot_scripts %}
<script type="text/javascript" src="{% static "js/apps/event-form.js" %}"></script>
{% endblock page_foot_scripts %}
