{% extends "staff_admin/base_staff_admin.html" %}
{% load staticfiles %}
{% load revup_extras %}

{% block page_css %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
<link href="{% static "css/apps/contacts.css" %}" rel="stylesheet">
<link href="{% static "css/apps/create_client.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container client-content createClient">
    {% if form.non_field_errors %}
        <div class="non-field-errors">
          {% for err in form.non_field_errors %}
            <div class="alert-warning">{{ err }}</div>
          {% endfor %}
        </div>
    {% endif %}

    <div class="row row-sm-padding">
        <div class="col-md-12" style="margin-bottom:10px">
            <form id="adminSalesForm" role="form" method="post">{% csrf_token %}
                <input id="id_seat_count" for="id_seat_count" name="{{ form.seat_count.name }}" type="hidden" value="{{ form.seat_count.value|default_if_none:"" }}">
                <div class="col-md-8 createClientDiv">
                    <div class="panel panel-success panel-body-background">
                        <div class="panel-heading">
                            <h2 class="panel-title">Onboard New Client</h2>
                        </div>

                        <div class="panel-body">
                            <h3><b>Point Of Contact:</b></h3>
                            <div class="form-group">
                                <label class="control-label reqTxt" for="id_first_name">{{ form.first_name.label }}</label>
                                <input id="id_first_name" maxlength="255" name="{{ form.first_name.name }}" type="text" class="form-control" value="{{ form.first_name.value|default_if_none:"" }}">
                                {% if form.first_name.errors %}<div class="alert-danger">{{ form.first_name.errors.as_text }}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                <label class="control-label reqTxt" for="id_last_name">{{ form.last_name.label }}</label>
                                <input id="id_last_name" maxlength="255" name="{{ form.last_name.name }}" type="text" class="form-control" value="{{ form.last_name.value|default_if_none:"" }}">
                                {% if form.last_name.errors %}<div class="alert-danger">{{ form.last_name.errors.as_text }}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                <label class="control-label reqTxt" for="id_email">{{ form.email.label }}</label>
                                <input id="id_email" maxlength="255" name="{{ form.email.name }}" type="text" class="form-control" value="{{ form.email.value|default_if_none:"" }}">
                                {% if form.email.errors %}<div class="alert-danger">{{ form.email.errors.as_text }}</div>{% endif %}
                            </div>
                            <div class="form-group">
                                <label class="control-label reqTxt" for="id_phone">{{ form.phone.label }}</label>
                                <input id="id_phone" maxlength="255" name="{{ form.phone.name }}" type="text" class="form-control" value="{{ form.phone.value|default_if_none:"" }}">
                                {% if form.phone.errors %}<div class="alert-danger">{{ form.phone.errors.as_text }}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <label for="id_orgName" class="reqTxt">{{ form.organization_name.label }}</label>
                                <input id="id_orgName" maxlength="255" name="{{ form.organization_name.name }}" type="text" class="form-control" value="{{ form.organization_name.value|default_if_none:"" }}">
                                <span class="small bold">Note: This name may be visible to external users</span>
                                {% if form.organization_name.errors %}<div class="alert-danger">{{ form.organization_name.errors.as_text }}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <label for="id_referral_partner">{{ form.referral_partner.label }}</label>
                                <input id="id_referral_partner" maxlength="512" name="{{ form.referral_partner.name }}" type="text" class="form-control" value="{{ form.referral_partner.value|default_if_none:"" }}">
                                {% if form.referral_partner.errors %}<div class="alert-danger">{{ form.referral_partner.errors.as_text }}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <label for="id_skip_payment">{{ form.skip_payment.label }}</label>
                                <input id="id_skip_payment" name="{{ form.skip_payment.name }}" type="checkbox" class="form-control">
                                {% if form.skip_payment.errors %}<div class="alert-danger">{{ form.skip_payment.errors.as_text }}</div>{% endif %}
                            </div>

                            <div class="form-group" >
                                <div class="btn-group selectLst orgType" >
                                    <label for="id_account_profile" class="reqTxt">{{ form.account_profile.label }}</label>
                                    <br>
                                    <input id="id_account_profile" type="hidden" name="{{ form.account_profile.name }}" value="">
                                    <a class="btn dropdown-toggle selectLst" style="width: 300px;" data-toggle="dropdown" href="#">Type&nbsp;<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for choice in account_profile_options %}
                                            <li><a href="#" class="accountProfile" value="{{choice.0}}">{{choice.1}}</a></li>
                                        {% endfor %}
                                    </ul>
                                    {% if form.account_profile.errors %}<div class="alert-danger">{{ form.account_profile.errors.as_text }}</div>{% endif %}
                                </div>

                                <div class="reqFields">
                                    <div class="reqTxt">Required Fields</div>
                                </div>
                            </div>

                            <div style="width:100%;margin-top:15px;">
                                <button class="addCampAdminBtn btn btn-primary pull-right" type="submit">Send Onboarding Email</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="errorModalLabel">Campaign Administration Error</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group errorMessage">
                        <div class="msg">
                            Fix the following fields and resubmit
                        </div>
                        <div class="msg2">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_foot_scripts %}
<script type="text/javascript">

// make a dropdown into a select list
$(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    $(this).parents('.selectLst').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');

    var selValue = $(this).attr('value');
    if (selValue != undefined) {
        $(this).parents('.selectLst').find('input[type=hidden]').val(selValue);
    }
    else {
        $(this).parents('.selectLst').find('input[type=hidden]').val(selText);
    }
});

// make sure all the fields are filled in and in the correct format
$("#createClientForm").on('submit', function(e) {
    var bError = false;
    var errors = [];
    var missingVal = [];
    var fields = [];
    var fieldName = ['First Name', 'Last Name', 'Phone', 'Email',
                     'Organization name', 'Product'];

    // see if there are any missing fields
    var $email = $('#id_email');
    fields.push($('#id_first_name'));
    fields.push($('#id_last_name'));
    fields.push($('#id_phone'));
    fields.push($('#id_email'));
    fields.push($('#id_orgName'));
    fields.push($('#id_referral_partner'));
    fields.push($('#id_account_profile'));
    {#var $startDate = $('#id_start_date');#}
    {#fields.push($startDate);#}

    // make sure the fields have a value
    for (var i = 0; i < fields.length; i++) {
        var val = fields[i].val();
        if (val === '') {
            missingVal.push(fieldName[i]);
            bError = true;
        }
    }

    // check for format errors
    if ($email.parent().hasClass('has-error')) {
        errors.push('Email Field - Invalid Email Address');
        bError = true;
    }
    {#if ($startDate.parent().parent().hasClass('has-error')) {#}
    {#    errors.push('Start date Field - Invalid Date Field');#}
    {#    bError = true;#}
    {#}#}

    // see if there is an error
    if (bError) {
        var $modal = $('#errorModal');

        // see if any missing fields
        var sMissing = '';
        if (missingVal.length === 1) {
            sMissing = 'The following field is missing: ' + missingVal.join(', ') + '.';
        }
        else if (missingVal.length > 1) {
            sMissing = 'The following fields are missing: ' + missingVal.join(', ') + '.';
        }

        // see if any field have an invalid format
        var sFormatError = '';
        if (errors.length > 0) {
            var sError = [];
            if (sMissing != '') {
                sError.push('<br>');
            }

            if (errors.length === 1) {
                sError.push('The following field has a formating error:');
                sError.push('<br>&nbsp;&nbsp;&nbsp;&nbsp;' + errors[0]);
            }
            else {
                sError.push('The following fields have formating error:');
                for (var i = 0; i < errors.length; i++) {
                    sError.push('<br>&nbsp;&nbsp;&nbsp;&nbsp;' + (i + 1) + ') ' + errors[i]);
                }
            }

            sFormatError = sError.join('');
        }

        // update messages and display
        $('.msg', $modal).html(sMissing);
        $('.msg2', $modal).html(sFormatError);
        $modal.modal('show');

        e.preventDefault();
        return false;
    }
});

$('#id_email')
    .off('blur')
    .on('blur', function(e) {
        if ($(this).val() === '') {
            $(this).parent().removeClass('has-error');

            return;
        }
        var isValidEmail = validEmailAddress($(this).val());
        if (isValidEmail) {
            $(this).parent().removeClass('has-error');
        }
        else {
            $(this).parent().addClass('has-error');
        }
});

{#$('#id_start_date')#}
{#    .off('blur')#}
{#    .on('blur', function(e) {#}
{#        if ($(this).val() === '') {#}
{#            $(this).parent().parent().removeClass('has-error')#}
{##}
{#            return;#}
{#        }#}
{#        var isValidDate = revupUtils.validDate($(this).val(), true);#}
{#        if (isValidDate) {#}
{#            $(this).parent().parent().removeClass('has-error');#}
{#        }#}
{#        else {#}
{#            $(this).parent().parent().addClass('has-error');#}
{#        }#}
{#    });#}

$("#adminSalesForm").submit(function () {
    $(".addCampAdminBtn").attr("disabled", true);
    return true;
});

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{% static "js/apps/event-form.js" %}"></script>

{% endblock page_foot_scripts %}
