{% extends "shared/sections/base_authenticated.html" %}

{% block title %}Staff Admin - RevUp{% endblock %}

{% block staff_admin %}active{% endblock %}

{% block notification %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
      <div style="margin: 5px;"
         class="alert alert-{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}danger{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}warning{% else %}success{% endif %}">
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error:{% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}Warning:{% endif %} {{ message }}
      </div>
    {% endfor %}
</ul>
{% endif %}
{% endblock notification %}
