{% extends "staff_admin/base_staff_admin.html" %}
{% load staticfiles %}
{% load revup_extras %}

{% block page_css %}
<link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css"/>
<link href="{% static "css/apps/contacts.css" %}" rel="stylesheet">
<link href="{% static "css/apps/create_client.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="container client-content createClient">
    {% if form.non_field_errors %}
        <div class="non-field-errors">
          {% for err in form.non_field_errors %}
            <div class="alert-warning">{{ err }}</div>
          {% endfor %}
        </div>
    {% endif %}

    <div class="row row-sm-padding">
        <div class="col-md-12" style="margin-bottom:10px">
            <form id="createClientForm" role="form" method="post">{% csrf_token %}
                <input id="id_seat_count" for="id_seat_count" name="{{ form.seat_count.name }}" type="hidden" value="{{ form.seat_count.value|default_if_none:"" }}">
                <div class="col-md-8 createClientDiv">
                    <div class="panel panel-success panel-body-background">
                        <div class="panel-heading">
                            <h2 class="panel-title">Create New Client</h2>
                        </div>

                        <div class="panel-body">
                            <div class="form-group">
                                <label class="control-label" for="id_email">{{ form.email.label }}</label>
                                <input id="id_email" maxlength="255" name="{{ form.email.name }}" type="text" class="form-control" value="{{ form.email.value|default_if_none:"" }}">
                                {% if form.email.errors %}<div class="alert-danger">{{ form.email.errors.as_text }}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <label for="id_orgName">{{ form.organization_name.label }}</label>
                                <input id="id_orgName" maxlength="255" name="{{ form.organization_name.name }}" type="text" class="form-control" value="{{ form.organization_name.value|default_if_none:"" }}">
                                <span class="small bold">Note: This name may be visible to external users</span>
                                {% if form.organization_name.errors %}<div class="alert-danger">{{ form.organization_name.as_text }}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <label for="id_prefDomain">{{ form.preferred_domain.label }}</label>
                                <input id="id_prefDomain" maxlength="255" name="{{ form.preferred_domain.name }}" type="text" class="form-control" value="{{ form.organization_name.value|default_if_none:"" }}">
                                <span class="small bold">The client's preferred domain. Leave blank if unnecessary.
                                    <br />E.g.: 'purdue.revup.com'. Do not include the 'http'
                                </span>
                                {% if form.preferred_domain.errors %}<div class="alert-danger">{{ form.preferred_domain.as_text }}</div>{% endif %}
                            </div>

                            <div class="form-group">
                                <div class="btn-group selectLst orgType">
                                    <label for="id_account_profile">{{ form.account_profile.label }}</label>
                                    <br>
                                    <input id="id_account_profile" type="hidden" name="{{ form.account_profile.name }}" value="">
                                    <a class="btn dropdown-toggle selectLst" data-toggle="dropdown" href="#">Type&nbsp;<span class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        {% for choice in account_profile_options %}
                                            <li><a href="#" class="accountProfile" value="{{choice.0}}">{{choice.1}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>

                            <div class="form-group startDateGrp">
                                <label class="control-label" for="id_start_date">{{ form.start_date.label }}</label>
                                <input id="id_start_date" name="{{ form.start_date.name }}" type="text" placeholder="yyyy-mm-dd"
                                class="form-control dateinput" value="{{ form.for.start_date.value|default_if_none:"" }}">
                                {% if form.start_date.errors %}<div class="alert-danger">{{ form.start_date.errors.as_text }}</div>{% endif %}
                            </div>


                            <div class="form-group" style="margin-top:10px;">
                                <div class="field">
                                    <label class="control-label" for="id_seat_count_edit">{{ form.seat_count.label }}</label>
                                    <input id="id_seat_count_edit" style="display:inline-block;" maxlength="10" type="text" class="form-control" value="{{ form.seat_count.value|default_if_none:"10" }}">
                                    <span class="small bold">Note: Leave blank for Unlimited seats</span>
                                    {% if form.seat_count.errors %}<div class="alert-danger">{{ form.email.seat_count.as_text }}</div>{% endif %}
                                </div>
                                <div class="field">
                                    <label class="control-label" for="id_activate_now_po">{{ form.activate_now.label }}</label>
                                    <input id="id_activate_now_po" type="checkbox" style="display:inline-block;width:auto;" class="form-control" name="{{ form.activate_now.name }}" value="{{ form.activate_now.value }}">
                                    <label for="id_activate_now_po"><span class="small" style="margin-left: 5px; font-weight: normal">{{ form.activate_now.help_text }}</span></label>
                                    {% if form.activate_now.errors %}<div class="alert-danger">{{ form.email.activate_now.as_text }}</div>{% endif %}
                                </div>
                            </div>

                            <div class="recurlyPlan" style="display:none">
                                <div class="planFields">
                                    <div class="field">
                                        <label>Plan</label>
                                        <div id="id_plan_name">&nbsp;</div>
                                    </div>
                                    <div class="field">
                                        <label>Setup Price</label>
                                        <div id="id_setup_cost">&nbsp;</div>
                                    </div>
                                    <div class="field">
                                        <label>Seat Price</label>
                                        <div id="id_seat_price">&nbsp;</div>
                                    </div>
                                </div>
                            </div>

                            <div style="width:100%;margin-top:15px;">
                                <button class="addCampAdminBtn btn btn-primary pull-right" type="submit">Add Campaign</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="errorModalLabel">Campaign Administration Error</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group errorMessage">
                        <div class="msg">
                            Fix the following fields and resubmit
                        </div>
                        <div class="msg2">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block page_foot_scripts %}
<script type="text/javascript">

var profilePlans = {{ profile_plans | jsonify }};

// handler - profile
$seatCost = $('#id_seat_price');
$setupCost = $('#id_setup_cost');
$seatCount = $('#id_seat_count_edit');
$planName = $('#id_plan_name');

$('.accountProfile').on('click', function(e) {
    var profileId = $(this).attr('value');
    if (!profileId) {
        $(".recurlyPlan").hide();
        return;
    }

    var planName;
    var seatCost;
    var setupCost;
    var seatCount;
    var plan = profilePlans[profileId];
    console.log(plan);
    if (!plan) {
        planName = "No Recurly plan matching this Profile";
    } else {
        planName = plan.name;
        seatCost = plan.seatCost.toFixed(2);
        setupCost = plan.setupCost.toFixed(2);
    }

    $planName.text(planName);
    $seatCost.text(seatCost);
    $setupCost.text(setupCost);
    $(".recurlyPlan").show();

});

// make a dropdown into a select list
$(".dropdown-menu li a").click(function(){
    var selText = $(this).text();
    $(this).parents('.selectLst').find('.dropdown-toggle').html(selText+' <span class="caret"></span>');

    var selValue = $(this).attr('value');
    if (selValue != undefined) {
        $(this).parents('.selectLst').find('input[type=hidden]').val(selValue);
    }
    else {
        $(this).parents('.selectLst').find('input[type=hidden]').val(selText);
    }
});

// make sure all the fields are filled in and in the correct format
$("#createClientForm").on('submit', function(e) {
    var bError = false;
    var errors = [];
    var missingVal = [];
    var fields = [];
    var fieldName = ['Email', 'Organization name', 'Organization type', 'Start date', 'Payment Type']
    var fieldNameRecurly = ['Credit Card Plan', 'Seat count', 'Price Per Seat'];
    var fieldNamePo = ['Seat count'];

    // see if there are any missing fields
    var $email = $('#id_email');
    fields.push($('#id_email'));
    fields.push($('#id_orgName'));
    fields.push($('#id_account_profile'));
    var $startDate = $('#id_start_date');
    fields.push($startDate);
    var $seatCount = $('#id_seat_count_edit');
    fields.push($seatCount);
    var $seatCountHidden = $('#id_seat_count');

    // make sure the fields have a value
    for (var i = 0; i < fields.length; i++) {
        var val = fields[i].val();
        if (val === '') {
            missingVal.push(fieldName[i]);
            bError = true;
        }
    }
    // copy the seat count
    $seatCountHidden.val($seatCount.val());


    // check for format errors
    if ($email.parent().hasClass('has-error')) {
        errors.push('Email Field - Invalid Email Address');
        bError = true;
    }
    if ($startDate.parent().parent().hasClass('has-error')) {
        errors.push('Start date Field - Invalid Date Field');
        bError = true;
    }
    if ($seatCount.parent().hasClass('has-error')) {
        errors.push('Seat Count Field - Invalid Number Format');
        bError = true;
    }

    // see if there is an error
    if (bError) {
        var $modal = $('#errorModal');

        // see if any missing fields
        var sMissing = '';
        if (missingVal.length === 1) {
            sMissing = 'The following field is missing: ' + missingVal.join(', ') + '.';
        }
        else if (missingVal.length > 1) {
            sMissing = 'The following fields are missing: ' + missingVal.join(', ') + '.';
        }

        // see if any field have an invalid format
        var sFormatError = '';
        if (errors.length > 0) {
            var sError = [];
            if (sMissing != '') {
                sError.push('<br>');
            }

            if (errors.length === 1) {
                sError.push('The following field has a formating error:');
                sError.push('<br>&nbsp;&nbsp;&nbsp;&nbsp;' + errors[0]);
            }
            else {
                sError.push('The following fields have formating error:');
                for (var i = 0; i < errors.length; i++) {
                    sError.push('<br>&nbsp;&nbsp;&nbsp;&nbsp;' + (i + 1) + ') ' + errors[i]);
                }
            }

            sFormatError = sError.join('');
        }

        // update messages and display
        $('.msg', $modal).html(sMissing);
        $('.msg2', $modal).html(sFormatError);
        $modal.modal('show');

        e.preventDefault();
        return false;
    }
})

$('#id_email')
    .off('blur')
    .on('blur', function(e) {
        if ($(this).val() === '') {
            $(this).parent().removeClass('has-error')

            return;
        }
        var isValidEmail = validEmailAddress($(this).val());
        if (isValidEmail) {
            $(this).parent().removeClass('has-error');
        }
        else {
            $(this).parent().addClass('has-error');
        }
    });

$('#id_start_date')
    .off('blur')
    .on('blur', function(e) {
        if ($(this).val() === '') {
            $(this).parent().parent().removeClass('has-error')

            return;
        }
        var isValidDate = revupUtils.validDate($(this).val(), true);
        if (isValidDate) {
            $(this).parent().parent().removeClass('has-error');
        }
        else {
            $(this).parent().parent().addClass('has-error');
        }
    });

$("#addCampaignAdminForm")
    .off('submit')
    .on('submit', function (e) {
        var isValidEmail = validEmailAddress($('#id_email').val());
        if (!isValidEmail) {
            $('.addCampaignAdmin .alert-danger').removeClass('hide');
            e.preventDefault();

            return false;
        }
        else {
            $('.addCampaignAdmin .alert-danger').addClass('hide');
        }
    })

</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="{% static "js/apps/event-form.js" %}"></script>

{% endblock page_foot_scripts %}
