{% extends "staff_admin/base_staff_admin.html" %}
{% load staticfiles %}
{% load view_router %}


{% block page_css %}
<link href="{% static "css/apps/staffAdmin.css" %}" rel="stylesheet">
{% endblock page_css %}

{% block content %}
<div class="newStaffAdminContent">
    {% if perms.authorize.can_manage_users %}
        <div class="grpBox">
            <div class="header">User Management</div>
            <div class="body">
                <div class="entry center">
                    <form action="{% url "staff_admin_create_client" %}" method="get">
                        <button class="revupBtnDefault" type="submit">Create Client</button>
                    </form>
                </div>

                <div class="entry center">
                    <form action="{% url "impersonate-search" %}" method="get">
                        <button class="revupBtnDefault" type="submit">Impersonate a User</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

{#    <div class="grpBox">#}
{#        <div class="header">Analysis Tool</div>#}
{#        <div class="body">#}
{#            <div class="entry center">#}
{#                <a class="revupBtnDefault" href="{% url "staff_admin_run_analysis_for_account" %}">Run Analysis for Account</a>#}
{#            </div>#}
{##}
{#            <div class="entry center">#}
{#                <a class="revupBtnDefault" href="{% url "staff_admin_list_analysis" %}">List Analysis</a>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

    {% if perms.authorize.can_manage_database %}
        <div class="grpBox">
            <div class="header">Database</div>
            <div class="body">
                <div class=" entry center">
                    <a class="revupBtnDefault" href="{% url 'admin:index' %}" target="_blank">Django Admin</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if perms.authorize.can_manage_site_modes %}
        <div class="grpBox">
            <div class="header">Site Modes</div>
            <div class="body">
                <div class="entry center">
                    <button id="btn-debug" class="revupBtnDefault" >Toggle Debug Mode</button>
                </div>
                <div class="entry center">
                    <button id="btn-demo" class="revupBtnDefault" >Toggle Demo Mode</button>
                </div>
            </div>
        </div>
    {% endif %}

    {% if perms.authorize.can_manage_skinning_tools %}
        <div class="grpBox">
            <div class="header">Skinning Tool</div>
            <div class="body">
                <div class="entry center">
                    <button id="skinningBtn" class="revupBtnDefault">Skinning Popup</button>
                </div>
            </div>
        </div>
    {% endif %}

    {% if perms.authorize.can_force_analysis %}
        <div class="grpBox">
            <div class="header">Force Analysis Tool</div>
            <div class="body">
                <div class="entry center">
                    <a class="revupBtnDefault" href="{% url 'network_search' %}?user_only=1">User only, Update inplace</a>
                </div>
                <div class="entry center">
                    <a class="revupBtnDefault" href="{% url 'network_search' %}?account_only=1">Account only, Update inplace</a>
                </div>
                <div class="entry center">
                    <a class="revupBtnDefault" href="{% url 'network_search' %}?user_only=1&force_new_analysis=1">User only, Force new analysis</a>
                </div>
                <div class="entry center">
                    <a class="revupBtnDefault" href="{% url 'network_search' %}?account_only=1&force_new_analysis=1">Account only, Force new analysis</a>
                </div>
            </div>
        </div>
    {% endif %}

    {% if perms.authorize.can_manage_customer_success %}
        <div class="grpBox">
            <div class="header">Customer Success</div>
            <div class="body">
                <div class="entry center">
                    <form action="{% url "staff_admin_client_activation" %}" method="get">
                        <button class="revupBtnDefault" type="submit">Activate Client Account</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    {% if perms.authorize.can_manage_sales %}
        <div class="grpBox">
            <div class="header">Sales</div>
            <div class="body">
                <div class="entry center">
                    <form action="{% url "staff_admin_add_account_to_token" %}" method="get">
                        <button class="revupBtnDefault" type="submit">Onboard New Client</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}


</div>
{% endblock content %}

{% block extra_scripts %}
  <script type="text/javascript">
  function DisplayDebugMode() {
    var debug_state = Cookies.get("debug");
    $("#btn-debug").text(!!debug_state ? "Disable Debug Mode" : "Enable Debug Mode");
  }

  function ToggleDebugMode() {
    var debug_state = Cookies.get("debug");
    if (!!debug_state) {
      Cookies.remove("debug");
    } else {
      Cookies.set("debug", "true");
    }
    DisplayDebugMode();
  }

  $(document).ready(function () {
    DisplayDebugMode();
    $("#btn-debug").click(ToggleDebugMode);
  });
  </script>

  <script type="text/javascript">
      function DisplayDemoMode() {
        var demo_state = Cookies.get("demo");
        $("#btn-demo").text(!!demo_state ? "Disable Demo Mode" : "Enable Demo Mode");
      }

      function ToggleDemoMode() {
        var demo_state = Cookies.get("demo");
        if (!!demo_state) {
          Cookies.remove("demo");
        } else {
          Cookies.set("demo", "true");
        }
        DisplayDemoMode();
      }

      $(document).ready(function () {
        DisplayDemoMode();
        $("#btn-demo").click(ToggleDemoMode);
      });
  </script>

<script type="text/javascript" src="{% static "js/apps/skiningTool.js" %}" charset="utf-8"></script>

<script>
$('#skinningBtn').on('click', function(e) {
    var skiningTemplate = {
        // id's
        accountId:          "{{account.id}}",
        seatId:             "{{user.current_seat.id}}",
        defaultIconText:    "",

        // default image urls
        logoUrl: "{% static "img/new-revup-logo.png" %}",
        bannerUrl: "staff-skinning",

        // ajax urls
        themeLstUrl: "{% url "staff_skins_api-list" %}",
        themeSaveUrl: "{% url "staff_skins_api-detail" "themeId" %}",
        setActiveSkinUrl: "",

        // template for
        isAcademic:             true,
        isPoliticalCampaign:    true,
        isPoliticalCommittee:   true,

        // type of user
        isStaff: true,
    }
    skiningTool.load(skiningTemplate);
})
</script>
{% endblock extra_scripts %}
