
{% extends "staff_admin/base_staff_admin.html" %}
{% load staticfiles %}

{% block page_css %}
<style>
table {
    width: 100%;
}
td {
    padding: 2px 10px;
}
</style>
{% endblock %}

{% block content %}
<div class="container">
{% include 'sortable_listview/sort_links.html' %}
    <table>
        <tr>
            <th>
                id
            </th>
            <th>
                Timestamp
            </th>
            <th>
                Account
            </th>
            <th>
                Analysis Config
            </th>
        </tr>
    {% for analysis in object_list %}
        <tr>
            <td>
                <a href="{% url 'analysis_result_list' analysis.id %}">
                    {{ analysis.id }}
                </a>
            </td>
            <td>
                {{ analysis.timestamp }}
            </td>
            <td>
                {{ analysis.account }}
            </td>
            <td>
                {{ analysis.analysis_config }}
            </td>
        </tr>
    {% endfor %}
    </table>
{% include 'sortable_listview/pagination.html' %}
</div>
{% endblock content %}

