
{% extends "staff_admin/base_staff_admin.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <form action="{% url 'staff_admin_run_analysis_for_account' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <br/>
        <input type="submit" value="Submit" />
    </form>
</div>
{% endblock content %}

{% block page_foot_scripts %}
<script type="text/javascript">
function UpdateAnalysisConfigOptions(account) {
    var account_id = $(account).val();
    var url = "{% url "analysis_configs_api-list" "_account_id_" %}".replace("_account_id_", account_id);
    if (account_id == "") {
        $("select#id_analysis_config").html($('<option>', {value: '', text: 'Select account' }));
        $("select#id_analysis_config option:first").attr('selected', 'selected');
        $("select#id_analysis_config").attr('disabled', true);
    } else {

        $.getJSON(url, function(r) {
            var options = [];

            if (r.count == 0) {
                options.push($('<option>', {value: '', text: 'No Analysis Configs' }));
            } else {
                options.push($('<option>', {value: '', text: '---------' }));

                for (var i = 0; i < r.results.length; i++) {
                    result = r.results[i];
                    options.push(
                            $('<option>', {
                                value: r.results[i].id,
                                text: r.results[i].title
                            }));
                }
            }
            $("select#id_analysis_config").html(options);
            $("select#id_analysis_config option:first").attr('selected', 'selected');
            $("select#id_analysis_config").attr('disabled', !Boolean(r.count));
        });
    }
}

$(document).ready(function () {
    UpdateAnalysisConfigOptions($("select#id_account"));
});

</script>
{% endblock page_foot_scripts %}

