{% extends "admin/base_site.html" %}
{% load i18n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} {% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst|escape }}</a>
&rsaquo; {% trans 'Copy' %}
</div>
{% endblock %}

{% block content %}
<p>Preparing to copy the selected {{ opts.verbose_name_plural|escape }}.
    {% if deep %}All related items will be copied.{% endif %}</p>
<form action="" method="post">{% csrf_token %}
{{ copy_form.as_p }}
<div>
<br/>
{% for obj in queryset %}
<input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
{% endfor %}
<input type="hidden" name="action" value="{{ request.POST.action }}" />
<input type="hidden" name="post" value="yes" />
<input type="submit" name="copy" value="Copy" />
</div>
</form>

{% endblock %}
