// sass-lint:disable-all

@import "../../stylesDefs.scss";

/*
 *
 * Contract wizard page
 *
 */
.contractPageDiv {
    .title {
        text-align: center;
        font-size: 20px;
        font-weight: $bold;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .subTitle {
        text-align: center;
        font-size: 16px;
        font-weight: $semiBold;
        margin-top: 5px;
        margin-bottom: 15px;
    }

    .contractDiv {
        position: relative;

        .contractOuterDiv {
            width: 100%;
            height: 400px;
            overflow-y: auto;
            // background-color: green;
            padding-left: 10px;
            padding-right: 10px;

            .contractInnerDiv {
            }
        }

        .fadeOut {
            bottom: 0;
            height: 4em;
            background: linear-gradient(
                to bottom,
                rgba(255, 255, 255, 0) 0%,
                rgba(255, 255, 255, 1) 100%
            );
            position: absolute;
            width: calc(100% - 26px);
            left: 10px;
        }
    }
}

.agree {
    text-align: center;

    .gotoSignature {
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        color: $primary-blue-2 !important;

        &:visited {
            color: $primary-blue-2;
        }
    }

    .contractAgreeDiv {
        font-size: 18px;
        width: 265px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;

        .title {
            display: inline-block;
            font-weight: $semiBold !important;
            font-size: 18px !important;
            margin-top: 0;
            margin-bottom: 0;

        }

        .checkboxDiv {
            display: inline-block;
            position: relative;
            top: 7px;
            margin-left: 5px;
            font-size: 22px;
            width: 20px;
            height: 25px;
            line-height: 20px;
            cursor: pointer;

            .icon {
                position: absolute;

                &.icon-check-box-back {
                    color: transparent;
                }

                &.icon-box-unchecked {}

                &.icon-check {
                    display: none;
                    color: $primary-green-2;
                    top: -1px;
                    left: 1px;
                }
            }
        }
    }
}
