// sass-lint:disable-all

@import "../../stylesDefs.scss";

/*
 *
 * Credit Card Page
 *
 */
.creditCardDiv {
    .title {
        text-align: center;
        font-size: 20px;
        font-weight: $bold;
        margin-top: 10px;
        margin-bottom: 15px;
    }

    .errorDiv {
        border: 1px solid $secondary-red-2;
        border-radius: 3px;
        background-color: #fff5f5 !important;
        margin: 0 0 10px 0 !important;
        text-align: center;
        height: 28px;
        display: none;

        .msgDiv {
            font-size: 16px;
            line-height: 1.1px;
            margin: 0 auto;
            position: relative;

            .icon {
                display: inline-block;
                position: relative;
                top: 2px;
                width: 20px;
                height: 20px;
                color: $secondary-red-2
            }

            .msg {
                margin-top: 0;
                display: inline-block;
                color: $secondary-red-2;
                font-size: inherit;
                position: relative;
                top: 3px;
                height: 1.1em;
                line-height: 1.1em;
                max-width: calc(100% - 100px);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }


    .creditCardInfoDiv {
        height: calc(500px - 100px);

        .leftSide {
            //background-color: #0f0;
            float: left;
            width: calc((100% * .75) - 10px);
            height: 100%;

            .reqFields {
                margin-top: 15px;
                color: $primary-gray-4;

                .reqTxt {
                    font-size: 14px;

                    &::before {
                        content: '*';
                        margin-right: 1px;
                    }
                }
            }
        }

        .rightSide {
            float: right;
            width: calc((100% * .25) - 10px);
            height: 100%;
            font-size: 14px;
            font-weight: normal;
            line-height: 1.1em;
            color: $primary-gray-4;

            .title {
                text-align: left;
                font-size: 16px;
                font-weight: normal;
                line-height: 1.1em;
                height: 1.1em;
                color: $primary-gray-4;
                margin: 0;
            }

            .purchaseDetailsDiv {
                background-color: #fff;
                width: 100%;
                height: 50%;
                padding: 10px 15px;
                line-height: 1.3em;
                font-size: 14px;
                color: $primary-gray-6;

                .purchaseDetails {
                    height: calc(100% - 20px);
                }

                hr {
                    margin: 5px 0;
                    border-color: $primary-gray-4;
                }

                .totalDiv {
                    .left {
                        float: left;
                    }

                    .right {
                        float: right;
                    }

                    &:after {
                        @include clearFloat;
                    }
                }
            }

            .purchaseNotes {
                margin-top: 10px;
                font-size: 14px;
                font-color: $primary-gray-4;

                .left {
                    float: left;
                    width: 10px;
                }

                .right {
                    width: calc(100% - 10px);
                    float: left;
                }

                &:after {
                    @include clearFloat;
                }

            }
        }

        &:after {
            @include clearFloat;
        }

        .line {
            &:not(:first-of-type) {
                margin-top: 20px;
                width: 100%;
            }

            .entry {
                display: inline-block;
                width: calc(50% - 20px);
                margin-right: 20px;
                vertical-align: top;

                &.has-error {
                    .title {
                        color: $secondary-red-1;
                    }

                    input {
                        color: $secondary-red-1;
                        border-color: $secondary-red-1;
                    }

                    .revupDropDown .cntlBody .valDiv {
                        color: $secondary-red-1;
                        border-color: $secondary-red-1;
                    }

                    .revupDropDown .cntlBody .arrowDiv {
                        background-color: $secondary-red-1;
                        border-color: $secondary-red-1;
                    }
                }

                &:last-child {
                    margin-right: 0;
                }

                &.ccNum {
                    width: calc(100% - ((4 * 20px) + (48px + 125px + 70px + 50px)));
                }

                &.ccImage {
                    display: inline-block;
                    width: 46px;

                    .imgDiv {
                        width: 100%;
                        height: 28px;

                        &.visaGlyph {
                            background: url(../../../img/cc-icons.png) no-repeat 0 0;
                            width: 46px;
                            height: 28px;
                            position: absolute;
                        }

                        &.masterCardGlyph {
                            background: url(../../../img/cc-icons.png) no-repeat 0 -28px;
                            width: 46px;
                            height: 28px;
                            position: absolute;
                        }

                        &.americanExpressGlyph {
                            background: url(../../../img/cc-icons.png) no-repeat 0 -56px;
                            width: 46px;
                            height: 28px;
                            position: absolute;
                        }
                    }
                }

                &.ccExpMonth {
                    width: 125px;

                    .monthDropDown {
                        width: 100%;
                        height: 28px;
                    }
                }

                &.ccExpYear {
                    width: 70px;

                    .yearDropDown {
                        width: 100%;
                        height: 28px;
                    }
                }

                &.ccCVV {
                    width: 50px;
                }

                &.firstLastName {
                    width: calc(50% - 10px);
                }

                &.address, &.address2 {
                    width: 100%;
                }

                &.city {
                    width: calc(100% - ((2 * 20px) + (150px + 75px)));
                }

                &.state {
                    width: 150px;

                    .stateDropDown {
                        width: 100%;
                        height: 28px;
                    }
                }

                &.zip {
                    width: 75px;
                }

                .title {
                    text-align: left;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.1em;
                    height: 1.1em;
                    color: $primary-gray-4;
                    margin: 0;

                }

                .reqTxt {
                    &::before {
                        content: '*';
                        margin-right: 1px;
                    }
                }

                input {
                    width: 100%;
                    outline: 0;
                }
            }
        }

        .revupDropDown {
            height: 28px;

            .arrowDiv {
                .icon {
                    position: relative;
                    top: 3px;
                    left: 0px;
                }
            }

            .valDiv {
                font-size: 15px;
            }
        }
    }
}
