// sass-lint:disable-all

@import "../../stylesDefs.scss";

/*
 *
 * Signup wizard page
 *
 */
.signUpDiv {
    input {
        outline: 0;
    }

    .title {
        text-align: center;
        font-size: 20px;
        font-weight: $bold;
        margin: 5px 0 17px;
    }

    .welcomeMsgDiv {
        font-size: 18px;

        .email {
            color: $primary-green-1;
        }
    }

    .errorMsgDiv {
        margin:10px 0;
        border: 1px solid $secondary-red-2;
        border-radius: 4px;
        height: 30px;
        text-align: center;

        .msgDiv {
            color: $secondary-red-2;
            line-height: 28px;

            .errorMsg {
                display:inline-block;
                font-size: 16px;
            }

            .icon {
                display: inline-block;
                font-size: 18px;
                margin-right: 5px;
                position: relative;
                top: 4px;
                line-height: 20px;
            }
        }
    }

    .fieldsDiv {
        padding: 20px 10px;

        .line {
            &:not(:first-child) {
                margin-top: 20px;
                width: 100%;
            }

            .entry {
                display: inline-block;
                width: calc(50% - 12.5px);
                margin-right: 12.5px;
                vertical-align: top;

                &:last-child {
                    margin-left: 12.5px;
                    margin-right: 0;
                }

                &.oneField {
                    width: 100%;
                    margin-top: 0;
                    margin-left: 0;
                    margin-right: 0;
                    display: inline;

                    .revupPassword {
                        width: calc(50% - 12.5px) !important;

                        .revupPasswordInput {
                            width: 100% !important;
                        }
                    }
                }

                .title {
                    text-align: left;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 1.1em;
                    color: $primary-gray-4;
                    margin: 0;
                    top: 0;

                    .reqTxt {
                        &::before {
                            content: '*';
                            margin-right: 1px;
                        }
                    }
                }

                .value {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }

                .userNamePart {
                    width: 100%;
                }

                .passwordPart {
                    width: 100%;
                }

                &.has-error {
                    .title {
                        color: $secondary-red-1;
                    }

                    .revupPassword {
                        color: $secondary-red-1 !important;
                        background-color: $secondary-red-1 !important;
                    }

                    .revupDropDown .cntlBody .valDiv {
                        color: $secondary-red-1;
                        border-color: $secondary-red-1;
                    }

                    .revupDropDown .cntlBody .arrowDiv {
                        background-color: $secondary-red-1;
                        border-color: $secondary-red-1;
                    }
                }

            }

            .msg {
                margin-top: 20px;
                font-size: 16px;
            }
        }

        .reqTxt  {
            font-size: 14px;
            margin-top: 15px;
            color: $primary-gray-4;

            &::before {
                content: '*';
                margin-right: 1px;
            }
        }
    }
}
